[2018-01-07 11:41] dachary commented on #1887
I was not able to repeat the above, presumably because session expiration code was reworked. Happily closing !

[2018-01-07 11:41] #1887 closed

[2018-01-08 18:42] redshiftzero opened #2807 "Admin logo image upload: Resize images server-side if they are too large"
## Description

We don't optimize uploaded images server-side so this makes for a slow experience for sources and journalists if a news organization elects to use a too large logo image. The large image may be transferred to the client which will then be resized to a smaller size anyway. It would make a lot more sense to do resizing server-side. What do we think (cc: @toast) about the following fl

[2018-01-08 18:43] redshiftzero commented on #2801
Thanks for filing this @toast. We should definitely inform admins of the expected size of the images in the logo upload form - currently we have a recommendation of `500px x 450px`, but e.g. on the journalist interface, as you correctly point out we resize it to a wee 150px logo size. And we don't actually optimize uploaded images server-side unfortunately. Filed followup #2807 about that, because

[2018-01-08 19:36] msheiny commented on #2800
I intially tried to fix this in PR #2796 by adding an annotation to the junit file . If that works correctly.. it will show a notification at the top on the Circle UI. Unfortunately... its not picking up for whatever reason... GRRR .. so i can circle back to this but for now `3591fc7` doesnt fix the issue as described but it did add more artifacts for dev to search raw test execution output.

[2018-01-08 21:22] redshiftzero opened #2808 "Find and migrate to maintained alternative to cssmin"
## Description

We use `cssmin` to minify CSS, but it is no longer maintained: https://github.com/zacharyvoase/cssmin (last commit 4 years ago).

`csscompressor` is a similar project that is maintained, we might consider using that instead: https://github.com/sprymix/csscompressor.

## User Stories

As a SecureDrop maintainer, I want my dependencies to be well-maintained so that breakage or securi

[2018-01-08 21:39] redshiftzero commented on #1609
Hmm, `pycryptodome` is an actively maintained drop-in replacement for the aging `PyCrypto` library, this is probably the best candidate for a quick replacement: https://github.com/Legrandin/pycryptodome

[2018-01-08 21:41] redshiftzero commented on #2554
Took a quick look through our server dependencies to determine:
 1. if they continue to be actively maintained (as measured by the time since last release),
 2. if they have are in wide usage (as measured by number of GitHub stars - not perfect but probably a decent proxy) and,
 3. for Python 3 compatibility (cc #997).

`PyCrypto` is the highest priority to replace, its replacement is tracked in #

[2018-01-08 23:03] redshiftzero opened #2810 "Apache AppArmor profile: Whitelist *.css.map files"
## Description

We're reports of AppArmor alerts on Apache2 that should be suppressed.

## Steps to Reproduce

1. On staging, navigate to `http://<source or journalist URL>.onion/static/css/source.css.map`
2. Alert appears

## Expected Behavior

No mysterious AppArmor alerts appear

## Actual Behavior

Admin gets an OSSEC alert:

[code]

## Comments

We should whitelist the two `*.css.map` files.

[2018-01-09 01:26] redshiftzero commented on #2810
Hey @emkll want to take a stab at this one?

[2018-01-09 11:06] heartsucker commented on #2810
If browsers are requesting the map files, that might mean we didn't generate the CSS with the `--sourcemap=none` option. If so, that should be fixed as well since that turns into additional network requests we don't need.

[2018-01-09 18:08] #2554 closed

[2018-01-09 18:20] redshiftzero opened #2813 "Release SecureDrop 0.5.1"
This is a tracking issue for the upcoming release of SecureDrop 0.5.1 - tasks may get added or modified.

**Release:** planned for January 16th, 2018.

_SecureDrop maintainers and testers:_ As you QA 0.5.1, please report back your testing results as comments on this ticket. File GitHub issues for any problems found, tag them "QA: Release", and associate them to the 0.5.1 milestone for tracking.

#

[2018-01-09 18:46] redshiftzero commented on #2760
If we hit this during 0.5.1 QA, I suggest we add `ignore_errors: yes` to the `Validate SMTP relay connection` task (as @conorsch suggests) for 0.5.1, as this has been reported as a source of frustration by current admins

[2018-01-09 18:58] conorsch commented on #2760
I've already hit this error during QA, and encourage the stopgap solution of setting `ignore_errors: yes`. After release, we can circle back and attempt a more elegant solution that provides "warning" messages (via `debug`) to Admins.

[2018-01-09 19:43] msheiny opened #2816 "More conclusive SMTP testing during installation"
# Feature request

## Description

There is an ongoing issue with broken SMTP validation tests at the time of this writing (as detailed in #2760 ). As a more conclusive test we should attempt to connect to the open SMTP server/port specified from the monitor server in question before a full install. This will be a much better indication of whether a problem exists with mail communication in the pr

[2018-01-09 19:49] redshiftzero commented on #2478
Moved to 0.6 milestone as #2748 is not quite ready yet.

[2018-01-09 20:04] redshiftzero opened #2818 "Compare/contrast common tools for secure tiplines"
## Description

People considering SecureDrop would find it useful to see the relative merits of the tools commonly used for tip lines written out. Common tools are:

* SecureDrop
* WhatsApp
* Signal
* Postal Mail
* more?

We should compare and contrast these tip line tools in our documentation to help people decide if SecureDrop is the appropriate tool for them. For some use cases, Signal may be

[2018-01-09 20:28] #2810 closed

[2018-01-10 00:03] KwadroNaut commented on #2342
Because @redshiftzero asked my 2 cents here: I find it very hard to strike the right balance; enabling without endangering users. Educating without crippling. I agree about the warnings that aren't displayed (#2617), that are too small and in a nice decorative setting should be redone. It would probably make sense to test, use mocks, and then chase all the different pieces that are in use of such

[2018-01-10 00:20] #1562 closed

[2018-01-10 01:14] pierwill opened #2820 "Add "Landing Page" to terminology"
Suggestion: adding the term "Landing Page" to the terminology and italicizing it throughout the docs. We [emphasize](https://docs.securedrop.org/en/latest/deployment/landing_page.html) the security implications of the landing page itself. The docs should stylistically reflect the importance of this part of the system.

## User Stories

As a reader of the docs, I want unique and important terms to

[2018-01-10 01:16] redshiftzero commented on #2820
Great point @pierwill - it's unclear what that means to first contributors and we should definitely add this to the terminology.

[2018-01-10 03:01] pierwill commented on #2718
Renaming, rewriting, and expanding this page might be one way to go: https://docs.securedrop.org/en/stable/deployment/minimum_security_requirements.html.

[2018-01-10 22:47] redshiftzero commented on #2813
In particular we should check for 0.5.1 (additional items might get added to the list):

- [ ] Upgrade path: Tor package is installed from the apt mirror, interfaces come up (#2441)
- [ ] Check restart of OSSEC server does not send alerts (#2701)
- [ ] Verify *.css.map files are not present (#2814)
- [ ] Verify as an admin you are able to update the SecureDrop logo via the web app (#2769)
- [ ] Ve

[2018-01-10 23:54] redshiftzero commented on #2678
I was able to reproduce this bug report on Tails 3.4 during QA of SecureDrop 0.5.1-rc1. In my testing, after a reboot, once the network came up, the Tails desktop icons were displayed again. We should add a note in the documentation for admins and journalists indicating that they need to reboot their Tails sticks after running `securedrop-admin tailsconfig` (that doesn't close this bug, but it at

[2018-01-10 23:57] redshiftzero commented on #2678
I'm curious why you didn't hit this @kushaldas - did you see this in this QA cycle on Tails 3.4 (if you made a fresh Tails VM)?

[2018-01-11 02:31] redshiftzero commented on #2813
Given that this is a minor release with fewer changes, here is a reduced test plan you can use as a checklist (if you think anything is missing, get loud):

### 0.5.1 specific

(Same items as previous comment)

- [ ] Upgrade path: Tor package is installed from the apt mirror, interfaces come up (#2441).
- [ ] Check restart of OSSEC server does not send alerts (#2701)
- [ ] Verify *.css.map files a

[2018-01-11 02:43] redshiftzero opened #2827 "500 internal server error on instance config page due to missing AppArmor rule"
## Description

I went to the new "Instance Config" page and got a 500 internal server error due to a missing AppArmor rule.

## Steps to Reproduce

0. Install `0.5.1-rc1` on prod VMs
1. Create an administrator account.
2. Click on "Instance Config" in the admin interface:

![screen shot 2018-01-10 at 6 41 26 pm](https://user-images.githubusercontent.com/7832803/34806050-e51e1f0e-f635-11e7-8261-28

[2018-01-11 02:52] redshiftzero commented on #2827
I'm surprised that CI didn't catch this, since there were unit and functional tests for this feature that will pass in the development environment due to the lack of AppArmor, but should fail in staging..

[2018-01-11 03:06] redshiftzero commented on #2813
## Test Results: 0.5->0.5.1-rc1 upgrade path

### 0.5.1-rc1 upgrade path QA

- [x] Upgrade path: Tor package is installed from the apt mirror, interfaces come up (#2441).
- [x] Check restart of OSSEC server does not send alerts (#2701) -
- [x] Verify *.css.map files are not present (#2814)
- [ ] Verify as an admin you are able to update the SecureDrop logo via the web app (#2769) - could not test

[2018-01-11 06:49] dachary commented on #2827
Ouch, it means something is broken in the CI :-(

[2018-01-11 09:41] dachary commented on #2813
There are commits to merge back to develop from yesterday's action.

<pre>
$ git --no-pager  log --oneline --cherry-mark --right-only origin/develop...origin/release/0.5.1
+ 99c6267e Merge pull request #2828 from freedomofpress/update-apparmor-config-template
+ 42c0c10b Journalist interface: Add missing AppArmor rule for config.html
+ 51ada1d1 SecureDrop 0.5.1-rc1
</pre>

[2018-01-11 09:48] kushaldas commented on #2827
I can also verify the bug.

[2018-01-11 10:18] kushaldas opened #2832 "Update screenshots of admin instance configuration page"
# Bug

## Description

The screenshots for the admin instance configuration pages are old in the documents, they need to updated with the latest screenshots.

## Steps to Reproduce

Please check the admin guide, the screenshots there don't show both "send test ossec alert" and "update logo" options in one page.

[2018-01-11 11:41] dachary commented on #2832
note that this is part of @redshiftzero [checklist for 0.5.1](https://github.com/freedomofpress/securedrop/issues/2813) under **Update all screenshots in user guides**

[2018-01-11 14:56] emkll opened #2835 "500 internal server error when updating logo via Journalist interface"
# Bug

## Description

When updating a logo through the Instance Config functionality of the Admin interface, an internal server error occurs.

## Steps to Reproduce

1. Navigate to Journalist Interface
2. Click on Admin
3. Click on Instance Config
4. Click browse and upload an image file
5. Click on Update Logo

## Expected Behavior
The logo is updated

## Actual Behavior

An error 500 occurs:
[c

[2018-01-11 16:51] kushaldas commented on #2813
### 0.5.1 specific

(Same items as previous comment)

- [x] Upgrade path: Tor package is installed from the apt mirror, interfaces come up (#2441).
- [x] Check restart of OSSEC server does not send alerts (#2701)
- [x] Verify *.css.map files are not present (#2814)
- [ ] Verify as an admin you are able to update the SecureDrop logo via the web app (#2769)
- [ ] Verify you can send a test alert as

[2018-01-11 19:00] emkll opened #2839 "[0.5.1] OSSEC agent started email not suppressed"
# Bug

## Description

A short summary of the issue.

## Steps to Reproduce

Restart app server

## Expected Behavior

Ossec agent started email should be suppressed.

## Actual Behavior

Ossec Agent started email is not suppressed:
[code]

## Comments
https://github.com/freedomofpress/securedrop/pull/2701 incorrectly matches rule 501 instead of rule 503 in `local_rules.xml`

[2018-01-11 21:01] redshiftzero commented on #2835
Closed via #2836

[2018-01-11 21:01] #2835 closed

[2018-01-11 21:02] redshiftzero commented on #2827
Closed by #2827

[2018-01-11 21:02] #2827 closed

[2018-01-12 01:50] redshiftzero opened #2841 "Enable multiple organizations to share one SecureDrop"
## Description

This would be a big change and would require careful thought and planning, but I think this feature could be safely used primarily in the case of a media conglomerate (there might be others but this is the use case it would be designed for). They have a central legal department and admin staff. They have several media properties all of which have journalists that want SecureDrops.

[2018-01-12 08:41] dachary commented on #2813
There are commits to merge back to develop from yesterday's action.

<pre>
$ git --no-pager  log --oneline --cherry-mark --right-only origin/develop...origin/release/0.5.1
+ 683aec2e SecureDrop 0.5.1-rc2
+ 17bbe742 Merge pull request #2834 from freedomofpress/wip-dachary-0.5.1-update-doc-images
+ f6812b11 Merge pull request #2830 from freedomofpress/wip-dachary-0.5.1-i18n
+ 15f5a2b1 Merge pull req

[2018-01-12 19:38] emkll commented on #2813
## Test Results: 0.5.1-rc1 clean install

### 0.5.1-rc1 upgrade path QA

- [x] Upgrade path: Tor package is installed from the apt mirror, interfaces come up (#2441).
- :x: Check restart of OSSEC server does not send alerts (#2701) - should be fixed in `0.5.1-rc3`
- [x] Verify *.css.map files are not present (#2814)
- [x] Verify as an admin you are able to update the SecureDrop logo via the web ap

[2018-01-12 19:41] kaganjd commented on #2605
Any update on docs for the SG-3100?

[2018-01-12 19:43] b-meson commented on #2605
@kaganjd we are still testing it. Unfortunately, it only has one OTP port and the 2240 had two, which made setting up pfsense easier since you could put each server on its own OTP port. I will revisit after the `0.5.1` release

[2018-01-12 20:26] emkll opened #2844 "[0.5.1] - UI issues with logo update (caching + error message)"
# Bug

Two minor UI bugs in the Instance configuration of the journalist interface.

## Description

## Steps to Reproduce
1. Logo is not immediately updated:
- Log into journalist interface
- Click on admin
- Click on instance config
- Select an image to upload
- Click on update logo
- Observe that the image is not updated immediately (in both sidebar and image selection screen). It appears to be

[2018-01-12 20:35] redshiftzero commented on #2844
1 indeed sounds like a bug

On 2, there should be an error message if no file is selected displayed below the form (intended to be as close as possible to: http://uipatterns.io/input-validation/form-validation):

![screen shot 2018-01-12 at 12 32 48 pm](https://user-images.githubusercontent.com/7832803/34894160-15a6eae2-f795-11e7-9f0b-cb70da9e63af.png)

Was that error message present @emkll?

[2018-01-12 20:38] emkll commented on #2844
@redshiftzero Yes, the error message was present:
![screenshot from 2018-01-12 15-14-00](https://user-images.githubusercontent.com/15223328/34894238-8e93fa30-f7ae-11e7-8ba2-869b06b741b8.png)

[2018-01-12 21:09] redshiftzero commented on #2839
Closed by #2838

[2018-01-12 21:09] #2839 closed

[2018-01-12 21:28] conorsch commented on #2844
Can confirm that a full refresh of the new **Instance Configuration** page is necessary for the new logo to be displayed _on the Instance Configuration page_. Even without a full refresh, though, subsequent loads of the Source Interface indeed show the updated logo immediately:

![there-can-be-only-one-sd-logo](https://user-images.githubusercontent.com/657862/34895700-ba3f69b6-f79b-11e7-9f10-fb319

[2018-01-12 21:34] redshiftzero commented on #2844
Great, thanks for confirming @conorsch. That's definitely confusing behavior and needs to be resolved ideally without changing strings in the interface.

Regarding 2, since the error message is displayed under the field, I think we should leave as is (happy to discuss further if anyone disagrees) for 0.5.1, though to your point @emkll I agree that UX could be better. Specifically, the flashed succ

[2018-01-12 21:38] conorsch commented on #2844
:+1: Let's keep the train chuggin'.

The current issue seems sufficient for both tracked changes, unless you'd prefer to tackle the changes separately (thereby closing separate PRs). Either way, totally agree on documenting for now and shipping what we've got—does not strike me as a showstopper.

Thanks for the detailed report, @emkll !

[2018-01-12 23:17] redshiftzero commented on #2844
When implementing the logo update feature, I kept the filename the same such that a single file could be whitelisted `rw` in AppArmor and updated in place by admins. The also sidesteps the issue of tracking which file should be used as the logo (which we would need to address if we included the version in the filename, thus allowing the filename to change). The downside of this approach is that th

[2018-01-12 23:25] b-meson commented on #2813
## Test Results: 0.5.0 -> 0.5.1-rc2 upgrade (hardware)

## Test Results: 0.5->0.5.1-rc2 upgrade path

### 0.5.1-rc2 upgrade path QA

- [] Upgrade path: Tor package is installed from the apt mirror, interfaces come up (#2441).
   - I am not sure if this is working properly, will test on a clean `0.5 -> 0.5rc3` :man_shrugging:
- [x] Verify *.css.map files are not present (#2814)
- [x] Verify as an a

[2018-01-13 00:22] redshiftzero commented on #2844
In the logic of the `autoversion` Jinja2 filter, it returns a filename without a version parameter if the file could not be located on disk by the web application code. In this case, it was because `autoversion` used a relative path, which happened to work in the development environment because the development server runs in the same directory as `static/i/logo.png`. In staging or prod however, th

[2018-01-13 01:02] redshiftzero commented on #2832
Closing since it's tracked in the checklist in #2813

[2018-01-13 01:02] #2832 closed

[2018-01-13 09:56] dachary opened #2849 "tests: possible test_integration.py race condition on GPG key"
# Bug

## Description

I think this is a race condition and first seen it happen at https://circleci.com/gh/freedomofpress/securedrop/6410?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

<pre>
AssertionError: Could not decrypt msg with key, gpg says: [GNUPG:] ENC_TO C154976902EEB545 1 0 [GNUPG:] ENC_TO C3E7C4C0A2201B2A 1 0 gpg: encrypted with RSA key, ID A2201B2

[2018-01-13 10:19] dachary commented on #2813
There are commits to merge back to develop from yesterday's action.

<pre>
$ git --no-pager  log --oneline --cherry-mark --right-only origin/develop...origin/release/0.5.1
+ cb21782c Merge pull request #2845 from freedomofpress/fix-autoversion-0.5.1
+ 5ac3c910 Use absolute filename in autoversion Jinja2 filter
+ 7cfb62d3 SecureDrop 0.5.1-rc3
+ 2d0bf694 Merge pull request #2838 from freedomofpress/

[2018-01-13 11:28] dachary commented on #2813
There are commits to merge back to develop from yesterday's action.

<pre>
$ git --no-pager  log --oneline --cherry-mark --right-only origin/develop...origin/release/0.5.1
+ 362dbb0c Merge pull request #2850 from freedomofpress/wip-dachary-0.5.1-restore-logo
+ 0a0a2647 app: restore logo
+ cb21782c Merge pull request #2845 from freedomofpress/fix-autoversion-0.5.1
+ 5ac3c910 Use absolute filename i

[2018-01-13 13:50] #2820 closed

[2018-01-13 15:03] emkll opened #2853 "[0.5.1] Cannot change logo in instance config when instance was provisioned with custom logo at install-time"
# Bug

## Description
SecureDrop logo is the file at `/var/www/securedrop/static/i/logo.png`

When using the default SecureDrop logo at install-time, permissions are
[code]
When the `securedrop_header_image` variable in `group_vars/all/site-specific` is set with a different image, files are uploaded with different permissions
[code]
As such, the Instance Configuration tool cannot update the image

[2018-01-13 15:05] emkll commented on #2813
## Test Results: 0.5.0 -> 0.5.1-rc3 upgrade (hardware)

## Test Results: 0.5->0.5.1-rc3 upgrade path

### 0.5.1-rc3 upgrade path QA

- [x] Upgrade path: Tor package is installed from the apt mirror, interfaces come up (#2441).
- [x] Verify *.css.map files are not present (#2814)
- :red_circle:  see https://github.com/freedomofpress/securedrop/issues/2853 Verify as an admin you are able to update t

[2018-01-13 15:12] dachary commented on #2853
This bug is actually consistently detected by travis (see [this run](https://travis-ci.org/freedomofpress/securedrop/builds/328410730?utm_source=github_status&utm_medium=notification)). Meaning we must **not** consider travis optional.

[2018-01-13 17:02] dachary commented on #2853
Good catch :-)

[2018-01-13 22:43] tmc opened #2855 "86c7bf37 added dependency on environment variable presence"
# Bug

## Description

86c7bf3756fff5487c91fc32c93eb493a9b8a7d0 added dependency on environment variable presence

## Steps to Reproduce

run securedrop/bin/test outside of ci

[2018-01-13 22:46] tmc opened #2857 "7163151 removed a dev dependency"
# Bug

## Description

7163151efeb49c6c22c5d27f5bcc007a75e2b396 removed x11vnc.

[2018-01-13 23:00] tmc opened #2859 "Dockerfile: base image not latest"
# Bug

## Description

the base ubuntu image is not the latest via https://github.com/docker-library/repo-info/blob/master/repos/ubuntu/tag-details.md

[2018-01-13 23:40] #2857 closed

[2018-01-13 23:40] #2855 closed

[2018-01-13 23:50] redshiftzero commented on #2853
Closed by #2854

[2018-01-13 23:50] #2853 closed

[2018-01-14 07:55] dachary commented on #2859
<pre>
$ make images
docker build  -f Dockerfile-base -t securedrop-base .
Sending build context to Docker daemon  40.91MB
Step 1/8 : FROM ubuntu@sha256:f6eed4def93a3b54da920737f0abf1a8cae2e480bb368280c898265fcaf910a3
 ---> 3aa18c7568fc
Step 2/8 : ENV FIREFOX_CHECKSUM 88d25053306d33658580973b063cd459a56e3596a3a298c1fb8ab1d52171d860
...
Step 19/19 : CMD ./manage.py run
 ---> Running in 2c2f3be17a6c

[2018-01-14 07:56] #2859 closed

[2018-01-14 11:07] dachary opened #2862 "tests: create $USER in Dockerfile and allow sudo"
# Feature request

## Description

create $USER in Dockerfile and allow sudo

## User Stories

As a developer I want to be able to **docker run -v $(pwd):$(pwd)** as myself and not root so my files do no belong to root in the end. All my files are belong to me !

[2018-01-14 11:23] dachary opened #2864 "docs: make update-user-guides must not run as root"
# Feature request

## Description

make update-user-guides must run as non-root to avoid creating files owned by root in the git repository as a side effect

## User Stories

As a developer I want to be able to make update-user-guides and not worry about files being owned by root as a side effect

[2018-01-14 14:30] heartsucker commented on #1419
I'm working on this now, and will be using [Alembic](http://alembic.zzzcomputing.com/). I'm also setting it up so that the first migration will optionally dump everything into Postgres if the SQLite database exists.

[2018-01-14 15:03] heartsucker opened #2866 "Move custom SQLAlchemy session management to Flask-SQLAlchemy"
# Feature request

## Description

We maintain our own code to handle the database operations, and it would make more sense to use someone else's code. This will also make usage of Alembic cleaner for #1419.

## User Stories

As a developer, I don't want to maintain custom code just to keep SecureDrop running.

[2018-01-14 15:03] heartsucker commented on #1419
Blocked by #2866.

[2018-01-14 15:30] heartsucker commented on #2866
Work is tracked in branch [`flask-sqlalchemy`](https://github.com/freedomofpress/securedrop/tree/flask-sqlalchemy).

[2018-01-14 16:13] heartsucker opened #2867 "Add hadolint to build for linting dockerfiles"
# Feature request

## Description

We should add [`hadolint`](https://github.com/hadolint/hadolint) to our build process to keep our `Dockerfile`s clean.

## User Stories

As a dev, I want to be reminded when I don't follow best practices in my `Dockerfile`s.

[2018-01-14 16:50] evilaliv3 opened #2868 "Enable vacuum and secure delete on sqlite"
It would be valuable to enable secure delete and auto vacuum on the database when available.

Even if the database of securedrop holds very minimal metadata information this would reduce leakage of some metadata about the names of files and the number of submissios or past users enabled on the platform.

For sqlite this could be achieved by issuing the following queries:
[code]

the two can be iss

[2018-01-15 00:54] pierwill commented on #2711
@tmc :

In a Debian-9 qube, I'm getting this error when running `make images dev`:

[code]

Things work fine when running `sudo make images dev`. Is this expected? Should I update the [doc](https://docs.securedrop.org/en/latest/development/virtual_environments.html) noting sudo might be necessary?

(@redshiftzero : Wasn't sure whether to make a new issue. Is this the best venue for discussing the

[2018-01-15 07:31] dachary commented on #2711
@pierwill created a thread in the development section of the forum, probably the best place to ask that kind of question: https://forum.securedrop.club/t/make-dev-fails-on-debian-9-qubes/366 . There also is the chat room https://gitter.im/freedomofpress/securedrop but it really depends who's connected at the time.

[2018-01-15 07:49] dachary commented on #2813
There are commits to merge back to develop from yesterday's action.

<pre>
$ git --no-pager  log --oneline --cherry-mark --right-only origin/develop...origin/release/0.5.1
+ 7c84e8f1 SecureDrop 0.5.1-rc4
+ 17e8c2a9 Merge pull request #2854 from freedomofpress/wip-dachary-0.5.1-2853-custom-logo
+ 7a5ef14c Merge pull request #2852 from freedomofpress/wip-dachary-0.5.1-i18n-2
+ 66890eb1 Merge pull re

[2018-01-15 09:23] dachary opened #2872 "docs: replace freedomofpress/ossec with ossec/ossec-hids"
# Bug

## Description

Replace **https://github.com/freedomofpress/ossec** with **https://github.com/ossec/ossec-hids** in [development/apt_repo.rst](https://github.com/freedomofpress/securedrop/blob/develop/docs/development/apt_repo.rst)

## Comments

The OSSEC packages are [created from github.com/ossec/ossec-hids](https://github.com/freedomofpress/securedrop/blob/develop/install_files/ansible-b

[2018-01-15 10:04] vaibssingh commented on #2872
Made a PR with the proposed changes. #2873

[2018-01-15 10:12] dachary commented on #2872
@vaibssingh thanks ! That was quick :-) Can I ask how you found out about this issue ?

[2018-01-15 10:19] vaibssingh commented on #2872
I was searching for "easy" issues to contribute to and I found this one lol. Been trying to get into open source contribution recently :smile:

[2018-01-15 10:28] dachary commented on #2872
@vaibssingh I'm certainly glad you found us :-) Where did you do the search ? Using the github search engine ? Or another web search engine ?

[2018-01-15 10:31] vaibssingh commented on #2872
Using github search with label: "easy"

[2018-01-15 10:32] vaibssingh commented on #2872
Is there any issue with the PR or something wrong?

[2018-01-15 10:55] dachary commented on #2872
So you went to https://github.com/freedomofpress/securedrop/issues (because you heard about it maybe ?) and [selected all issues with the label easy](https://github.com/freedomofpress/securedrop/issues?q=is%3Aopen+is%3Aissue+label%3Aeasy) and found this one ? Or did you follow a different path ?

All is well :-) I'm asking a lot of questions because we're trying to improve the new contributor expe

[2018-01-15 11:26] vaibssingh commented on #2872
Ah cool! Well it was actually slightly different. I just opened github and performed search with following filters "is: issue is:open label: "easy"" and this was one of the top results. (Github automatically sorts them according to the time they were posted hence yours was the top one at that time) :)

[2018-01-15 12:03] dachary commented on #2872
Oh.... that's a very interesting tip, thank you :-) I tried that myself and found [+6000](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Aeasy) issues.

[2018-01-15 12:17] vaibssingh commented on #2872
:+1:

[2018-01-15 14:53] heartsucker commented on #2813
Minor note, I don't much care for my birthname and would rather be credited under my username.

[2018-01-15 15:05] dachary commented on #2813
@heartsucker fixed

[2018-01-15 17:28] redshiftzero commented on #2813
Thanks @dachary! 😄

[2018-01-15 19:23] redshiftzero opened #2875 "Run functional tests against external server"
## Description

In order to catch bugs like #2827 (where a necessary update to an Apache AppArmor profile was not done) in CI, we should run our functional test suite externally against the source and journalist interfaces. This will require a modification of the functional tests to be able to run against an external server.

Note that this depends on #1569, using Tor Browser in our functional tes

[2018-01-15 23:41] redshiftzero opened #2876 "Admin interface: Improve UX on successful logo upload"
## Description

As pointed out in #2844, the error message and success messages should ideally be consistent in terms of where they show up on the page. We have error messages on many of our forms displayed below the form (intended to be as close as possible to http://uipatterns.io/input-validation/form-validation):

![screen shot 2018-01-12 at 12 32 48 pm](https://user-images.githubusercontent.co

[2018-01-15 23:41] redshiftzero commented on #2844
Item 1 fixed in #2845, item 2 tracked in followup #2876. Closing!

[2018-01-15 23:41] #2844 closed

[2018-01-16 00:42] b-meson commented on #2813
@dachary I was under the impression we also completed Swedish. Are we not merging because of those final strings didn't get translated because of the new UI added in `0.5.1`?

[2018-01-16 01:15] redshiftzero commented on #2813
# Upgrade testing: 0.5 -> 0.5.1-rc4

### 0.5.1 Specific Testing

- [x] Upgrade path: Tor apt repo configured as `tor-apt.freedom.press` (#2441).
- [x] Reboot both servers. Check restart of OSSEC server does not send "Ossec server started" or "Ossec agent started" alerts (#2701)
- [x] Verify *.css.map files are not present (#2814)
- [x] Verify as an admin you are able to update the SecureDrop logo

[2018-01-16 01:39] redshiftzero commented on #2813
@b-meson: Swedish was not ready in time for this release cycle (check out [Weblate](https://weblate.securedrop.club/projects/securedrop/securedrop/sv/) to see the untranslated strings - some of which were indeed 0.5.1 UI changes)

[2018-01-16 07:56] dachary commented on #2813
@b-meson like @redshiftzero said :-) The next string freeze is February 27th and we can ping the translators then to bring it back to 100%.

[2018-01-16 08:02] kushaldas commented on #2813
# Upgrade testing: 0.5. -> 0.5.1-rc5

### 0.5.1 Specific Testing

- [x] Upgrade path: Tor apt repo configured as `tor-apt.freedom.press` (#2441).
- [x] Reboot both servers. Check restart of OSSEC server does not send "Ossec server started" or "Ossec agent started" alerts (#2701)
- [x] Verify *.css.map files are not present (#2814)
- [x] Verify as an admin you are able to update the SecureDrop logo

[2018-01-16 15:29] heartsucker commented on #1444
Pointing out that this is still a problem 😐 😐 😐

[2018-01-16 15:37] heartsucker opened #2877 "Meta issue: No new tests until we have cleaned up the existing test infrastructure"
# Feature request

## Description

We omit many best practices for our tests. One thing we should do is properly use `pytest`'s fixtures to generate our apps. This can be done with:

[code]

Right now we have issues (#1444) that point out some of the errors we hit. Are are also manually mucking around with the `g` and object for some of our tests which is extremely brittle. The best thing to do to

[2018-01-16 15:39] heartsucker commented on #2877
I also have written a test suite that boots a new container for the DB for each test so that every test case starts with a clean slate. This allows for parallel tests too since right now we have some stuff like `max[user.id for user in Journalist.query.all()])` which won't work in parallel land.

For now, since we're not on Postgres yet, we could just use a new database file that gets init'd at th

[2018-01-16 15:43] heartsucker commented on #2877
Another thing I've found is that tests sometimes have implicit requirements on the state of other tests. I reordered some and things broke. Making the fixtures all have the `function` scope forces a test to demonstrate every step

[code]

[2018-01-16 16:50] msheiny commented on #2813
## Test Results: 0.5.0 -> 0.5.1-rc5 upgrade (hardware)

### 0.5.1-rc5 upgrade path QA

- [x] Upgrade path: Tor package is installed from the apt mirror, interfaces come up (#2441).
- [x] Verify *.css.map files are not present (#2814)
- [x]  see https://github.com/freedomofpress/securedrop/issues/2853 Verify as an admin you are able to update the SecureDrop logo via the web app (#2769)

### Basic S

[2018-01-16 16:52] msheiny commented on #2813
on a smaller note - i was having trouble with the `send ossec test` on rc5 but then i realized that functionality was broken previously. so 👍 for getting #2748 in after this release

[2018-01-16 16:54] conorsch commented on #2872
Ah, I had initially missed that #2873 is closing an already opened issue. Thank you, @vaibssingh! Very clear communication. :ok_hand:

[2018-01-16 17:04] vaibssingh commented on #2872
Glad to be of help! :grin:

[2018-01-17 14:30] msheiny opened #2881 "Mitigate and investigate RequestLimitExceededRequest AWS CI error"
# Bug

## Description

First brought up in #2880 by the @dachary the Great.

[code]

## Steps to Reproduce

No reproduction known. This is an an AWS specific error that needs to be traced down.

[2018-01-17 15:00] msheiny commented on #2881
This seems directly related to the `CreateKeyPair` task and found some interesting tid-bits from the [AWS docs](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/query-api-troubleshooting.html):

[2018-01-17 18:19] msheiny opened #2883 "Reduce volatility of CI network calls"
# Feature request

## Description

Fairly frequently we'll see weird one-off errors with upstream ubuntu repos that are resolved with a job re-run.

In CI we can mitigate this issue by re-routing all apt calls to mirrors that we control. Eeasiest thing to do is to either modify `/etc/hosts`. If we want to get more complex and not touch the CI hosts (minimize difference between host changes on CI

[2018-01-17 18:59] conorsch opened #2884 "Zesty apt sources fail; Zesty is EOL"
# Bug

## Description

Our build logic uses apt repos from Ubuntu Zesty for modern versions of `gettext`—specifically, for fuzzy matching support. Zesty reached end-of-life (EOL) on [2018-01-13](https://lists.ubuntu.com/archives/ubuntu-announce/2018-January/000227.html). The `zesty` dist is now gone from the Canonical repos: http://archive.ubuntu.com/ubuntu/dists/

## Steps to Reproduce

1. Run `v

[2018-01-17 19:27] conorsch opened #2885 "Failures on a single host should halt Ansible execution"
# Bug

## Description

Right now, when running `./securedrop-admin install`, if an error is encountered on a single host, e.g. the Monitor Server, that host will drop off the play, but the playbook will continue to execute against the Application Server. That's very confusing, and can make reporting problems difficult: lots of scrollback is necessary even to determine that a host did indeed fail.

[2018-01-17 20:43] conorsch opened #2887 "Postfix credential map not reliably created"
# Bug

## Description
The file `/etc/postfix/sasl_password.db` must exist in order for OSSEC alerts to be sent via email. If that file does not exist, running `./securedrop-admin install` _should_ create it—but the current config does not enforce it.

## Steps to Reproduce

1. Configure prod VMs with working OSSEC alerts.
2. Run `sudo rm /etc/postfix/sasl_password.db && sudo service postfix restar

[2018-01-17 20:55] conorsch commented on #2884
Closed via #2886.

[2018-01-17 20:55] #2884 closed

[2018-01-18 00:46] #2790 closed

[2018-01-18 00:46] #2800 closed

[2018-01-18 06:31] redshiftzero opened #2890 "Define interface between source and journalist applications"
## Description

The source interface is open to any anonymous user and is a natural first point of attack. Access to the journalist interface is quite restricted: only to journalist users that possess the correct ATHS token and valid account credentials. Currently both access a shared database and are both running on the same physical machine:

![screen shot 2018-01-17 at 9 36 39 pm](https://user-

[2018-01-18 17:09] msheiny opened #2892 "Run grsecurity branched kernel in CI"
# Feature request

## Description

In an ideal world filled with 🦋  and 🌈  we should have CI test the exact kernel configuration that gets pushed to production. We have difference of opinion on the team though of adding Xen support to the production kernel. However, we still desperately need to test grsecurity in CI - so let's do some good ol' fashion 🎆 COMPROMISE-ing ™️  🎆

We can provide a diff

[2018-01-18 23:37] edenemmanuel opened #2893 "Add request for feedback on Journalist and Source guides"
# Feature request
Consider adding a 'request for feedback' on Journalist and Source guides

## Description

Consider adding a request for feedback on the [Journalist](https://docs.securedrop.org/en/stable/journalist.html) and [Source](https://docs.securedrop.org/en/stable/source.html) guides on the [SecureDrop documentation](https://docs.securedrop.org/)

For example, at the end of the first page

[2018-01-19 15:01] heartsucker opened #2896 "requirements files are out of sync (.in vs. .txt)"
# Bug

## Description

None of the `requirements.in` files have `boto` listed, but this is needed in CI. However, `boto` is still in the `requirements.txt` files.

From circleci:

[code]

## Steps to Reproduce

Look in the requirements files.

## Expected Behavior

`boto` is in both the `.in` and `.txt` files.

## Actual Behavior

`boto` is only in the `.txt` files

[2018-01-19 15:19] heartsucker commented on #2896
the update to this is that the files got out of sync and when updating them on another branch, we lost requirements that should still be there.

[code]

[2018-01-19 15:25] heartsucker commented on #2896
Note that this is a bug because if `make update-pip-requirements` doesn't change any version numbers of anything, but we gain/lose requirements, then something is not up to date. Which is the case here.

[2018-01-19 16:11] conorsch commented on #2896
Hmm, not sure I agree:

[code]

That's the right spot, as that's what gets used in the Circle CI config:

[code]

As for the CI error, that definitely bears closer scrutiny. @msheiny?

[2018-01-19 16:12] heartsucker commented on #2896
Yeah, they *do* have `boto` listed, but in another branch where I added requirements I did `make update-pip-requirements` and it *somehow removed boto* and I couldn't get it to re-add `boto` without doing a purge of the `.txt` files and fully redoing `pip-compile`'s on everything.

[2018-01-19 16:14] heartsucker commented on #2896
So what I reported originally and what I'm playing with in #2897 are a bit different.

[2018-01-19 16:22] conorsch commented on #2896
After some real-time discussion in gitter, @heartsucker and I agree that the underlying problem could be phrased thus:

That is indeed a bit puzzling, and warrants further scrutiny.

[2018-01-19 16:28] conorsch opened #2898 "CI Tor nightly test references non-existent requirements file"
# Bug

## Description

The Jenkins pipeline for Tor nightly tests references `testinfra/requirements.txt`:

[code]

but that file does not exist:

[code]

However, `testinfra/requirements.in` _does_ exist (and probably shouldn't):

[code]

## Comments

Found while digging into #2896, so filing this issue for follow-up after that's resolved. @msheiny may have a branch that resolves the testinfra/re

[2018-01-19 16:31] conorsch commented on #2558
See also #2898.

[2018-01-19 17:39] #2868 closed

[2018-01-19 18:31] #2779 closed

[2018-01-19 20:06] redshiftzero opened #2902 "Deprecate Ansible dev environment in favor of Docker dev environment"
## Description

Currently we have two development environments: one provisioned with Ansible and one using Docker. Since the purpose of the development environment is to allow developers to iterate quickly on the application code, I think we should deprecate the Ansible-based environment in favor of the Docker environment once #2861 is merged.

## User Stories

As a SecureDrop maintainer, I want t

[2018-01-19 22:32] redshiftzero commented on #1609
PyCrypto has at least one vulnerability in it - [CVE-2013-7459](https://security-tracker.debian.org/tracker/CVE-2013-7459) - for posterity, the reason CVE-2013-7459 does not impact us directly is that we:

1. Do not make an attempt to use IVs in ECB mode (that wouldn't make sense and we generally don't use ECB mode).
2. Do not pass IVs directly to CTR mode (we use the IV to [generate a counter](ht

[2018-01-19 22:49] redshiftzero commented on #2813
0.5.1 was released (https://securedrop.org/news/securedrop-051-released), and all instances are back up on SecureDrop 0.5.1, closing

[2018-01-19 22:49] #2813 closed

[2018-01-19 23:07] redshiftzero commented on #2893
In terms of a warning for sources - we should ensure we have a secure way to get their feedback, i.e. we should probably not solicit information like email addresses or encourage them to make accounts on 3rd party services like GitHub without careful consideration. I created the post https://forum.securedrop.club/t/getting-user-feedback-from-securedrop-sources-via-securedrop/376 to discuss the pos

[2018-01-20 00:02] #2876 closed

[2018-01-21 09:56] #2896 closed

[2018-01-21 09:56] #2898 closed

[2018-01-21 13:13] heartsucker opened #2906 "Pyenchant depends on enchant and dev env is borked"
# Bug

## Description

`pyenchant` depends on `enchant` which is incompatible with other dev dependencies.

## Steps to Reproduce

Running `vagrant up` on `develop` yields this error.

[code]

However, adding `enchant` to `development_dependencies` yields this error:

[code]

## Expected Behavior

I can start the dev environment.

## Actual Behavior

I can't

## Notes

This was introduced by #2905

[2018-01-21 17:39] dachary opened #2908 "docs: s/are generally/is generally/"
# Bug

## Description

**Maintaining periodic backups are generally a good practice** should read **Maintaining periodic backups is generally a good practice** in [develop/docs/backup_and_restore.rst](https://github.com/freedomofpress/securedrop/blob/develop/docs/backup_and_restore.rst)

[2018-01-21 18:06] dachary opened #2910 "docs: prefix *-aths with install_files/ansible-base"
# Bug

## Description

The reader new to SecureDrop does not know (or forgot) app-ssh-aths  and mon-ssh-aths  are file names in **The HidServAuth values from app-ssh-aths and mon-ssh-aths** in the [develop/docs/backup_and_restore.rs](https://github.com/freedomofpress/securedrop/blob/develop/docs/backup_and_restore.rst) page. Prefixing them with install_files/ansible-base clarifies that because the

[2018-01-21 18:24] heartsucker opened #2911 "`make lint` doesn't "just work""
# Bug

## Description

I can't run `make lint` on `develop` in either vagrant or my host.

## Steps to Reproduce

`make lint` on `develop`

## Expected Behavior

Things are linted, and the command exits 0 unless there is a lint error.

## Actual Behavior

[code]

## Comments

If there is something special like sourcing a `venv/bin/activate`, that should be in the script.

[2018-01-21 18:26] dachary opened #2912 "docs: backup and restore are commands from the user point of view"
# Bug

## Description

In the [develop/docs/backup_and_restore.rs](https://github.com/freedomofpress/securedrop/blob/develop/docs/backup_and_restore.rst) page, backup and restore are better described as commands than role. The user use them with **./securedrop-admin restore** and **./securedrop-admin backup** and they are python sub-commands in this context. If a user is new to SecureDrop, they ma

[2018-01-21 18:38] heartsucker opened #2913 "Make all scripts self-documenting"
# Feature request

## Description

The following should work for every script:

- `make help`
- `./a-script --help`

And output enough information for someone who has never touched the SecureDrop codebase to understand what the script is doing. Looking up details in the docs shouldn't be necessary for basic usage. The docs could still be the place where it is explain why that script exists or what

[2018-01-21 20:52] heartsucker commented on #2911
Ok, so maybe it does work but I got docker images out of sync across branches which means we have implicit dependencies between `ci-lint` and `ci-lint-image` which means that the Makefile should rebuild the latter before running the former.

Or.

We use `git ls-tree -r HEAD --name-only | xargs cat | sha256sum | awk '{ print $1 }'` as the docker tag so we can cache it, and then check the cache to s

[2018-01-21 20:54] heartsucker commented on #2911
The reason we shouldn't use the `git rev-parse HEAD` as the tag is that when files change under that tag (during normal development), we don't get an error that the container needs to be rebuilt.

[2018-01-21 20:55] heartsucker commented on #2911
The downside is that we end up tagging A SHIT LOAD of images which means people will have to frequently prune their system.

[2018-01-21 23:22] dachary commented on #2906
I confirmed the problem locally

[2018-01-22 09:29] #2906 closed

[2018-01-22 09:30] heartsucker opened #2915 "Make all containers single purpose"
# Feature request

## Description

To the extent we can, every container should have exactly one purpose. E.g,. `pylint` and `yamllint` should not be in the container. It makes it easier to reason about dependencies if we split all of them.

## User Stories

As a dev, I want stricter isolation between my stack's components.

[2018-01-22 18:48] msheiny commented on #2202
Technically this ticket as written has been completed. There is additional work here that can be done to make it easier for developers to see why CI is failing. I'll open a ticket for that

[2018-01-22 18:48] #2202 closed

[2018-01-22 19:13] redshiftzero commented on #1748
We now have a Docker based development environment - closing this issue in favor of the more specific #2902. Please file more specific items as comments or followup issues

[2018-01-22 19:13] #1748 closed

[2018-01-22 19:22] redshiftzero commented on #1609
After discussion in sprint prep, we should get #2903 in for 0.5.2, and a migration in the future to `cryptography`. The advantage of `cryptography` is that it is more commonly used than `PyCryptodome`, though it would require some refactoring of the secure tempfile implementation to use e.g. [Fernet](https://cryptography.io/en/latest/fernet/) or to directly use their implementations of the [primit

[2018-01-22 19:25] msheiny opened #2916 "CI - Export ansible run to junit results for CircleCI parsing"
# Feature request

## Description

The CI output is despite our best efforts - still rather large and unwieldly. Let's ensure the following error details are exported to `junit` for easy developer parsing of CI results page:

* [ansible tasks](https://docs.ansible.com/ansible/devel/plugins/callback/junit.html)
* testinfra + app-test runs -- i attempted to do this in another commit but had to roll

[2018-01-22 19:31] redshiftzero commented on #1967
We should ensure that this feature is implemented in such as way as to handle unicode (needed for many other languages).

[2018-01-22 19:32] redshiftzero commented on #1959
We are no longer using this implementation - closing

[2018-01-22 19:32] #1959 closed

[2018-01-23 08:11] kushaldas commented on #2875
Picking this up as I am already working on the Tor browser based tests.

[2018-01-23 09:28] heartsucker opened #2917 "implicit dependencies between docker images and test cases"
# Bug

## Description

There are implicit dependencies on the latest build of a docker image and a test suite or lint job.

Originally reported in https://github.com/freedomofpress/securedrop/issues/2911#issuecomment-359279935

## Steps to Reproduce

- Check out `branch-a`, build container, run test, success
- Edit things, run test, failures

This is also a problem when switching branches that hav

[2018-01-23 09:32] heartsucker opened #2918 "Use passlib for password hashing"
# Feature request

## Description

Using [`passlib`](https://pythonhosted.org/passlib/) for password hashing will give us future proof and easily migrateable password management should we change password hashing algorithms/parameters.

Possibly conflicts with #1609 depending on what the underlying cryptolib is.

## User Stories

As a dev, I don't want to have to write boilerplate migration code if

[2018-01-23 15:28] dachary commented on #2917
I propose we do not use hash for tags at all by default. And only in CI which is where they are useful to not incorrectly re-use the image cache from one build for another.

[2018-01-23 17:24] msheiny opened #2919 "QA 0.3.2.9-1~trusty+1 for release to tor-apt mirror"
# Feature request

## Description

With the move of tor packaging to our own repository. We now have to QA each release as part of the release process. `0.3.2.9-1~trusty+1` is now included in the official upstream trusty repo (a bump from the current `0.3.1.9-1~trusty+1` installed on current servers).

Let's ensure that during QA of next release -- that latest tor package is also tested.

## User

[2018-01-23 19:09] heartsucker commented on #2917
I assumed there was a reason we were tagging them. If it's just for caching, then you're right and we shouldn't tag them at all.

[2018-01-23 19:17] conorsch commented on #2885
Here's an example of this happening during QA of #2748:

[code]

Note that I used a `--tags ossec` invocation, which drastically abbreviates the error output—otherwise, tracing back the error would have involved lots of scrollback.

[2018-01-23 19:31] dachary commented on #2917
Given the logic of layer cache save / restore, if the image is not tagged it will have unexpected results ;)

[2018-01-23 19:42] redshiftzero commented on #2918
The [migration functionality](https://passlib.readthedocs.io/en/stable/narr/context-tutorial.html#deprecation-hash-migration) is very handy, also `passlib` doesn't use `PyCrypto` so it shouldn't cause any issues with respect to #1609.

While it isn't incredibly pressing _yet_, our scrypt parameters for password hashing are starting to show some age, specifically N which we have currently set to `2

[2018-01-23 19:44] redshiftzero commented on #181
Closing in favor of the more specific #2918

[2018-01-23 19:44] #181 closed

[2018-01-24 00:52] redshiftzero opened #2920 "User confirmation before 2FA reset no longer appears"
## Description

There used to be a js confirmation before resetting 2FA tokens for users but this is no longer working

## Steps to Reproduce

1. Sign into journalist interface as admin
2. Go to admin panel and edit a user
3. On the edit user page, click the button to reset the user's 2FA authentication

## Expected Behavior

An alert appears, requesting the user confirm they wish to reset the 2FA

[2018-01-24 02:25] conorsch commented on #2877
Great discussion here, @heartsucker. Allow me to clarify that "no new tests" refers specifically to the application code tests. Within that category, you seem to mean unit tests specifically, but perhaps also functional tests (i.e. Selenium).

According to my read of your posts, you do _not_ expect configuration tests to be omitted from such refactoring. While I certainly have my misgivings about

[2018-01-24 02:48] #1609 closed

[2018-01-24 12:48] dachary commented on #2920
If I'm not mistaken 270784ad1d8eb7a63de6d9c6b722079936ccc173 broke this confirmation in 2014 :-)

[2018-01-24 14:42] #2478 closed

[2018-01-24 16:22] heartsucker commented on #2877
Yep, app code only. Once we get #2895 merged, I'm going to try to tackle this before I do all the Alembic stuff. In fact, I'm going to say this is a blocker for #1419 and #2225 since those two are going to likely add significant changes, and if we don't do this first, I'm going to have a very sad time implementing those two.

[2018-01-24 16:28] heartsucker commented on #2755
Note, this depends on #2877 in all likelihood.

[2018-01-24 16:28] heartsucker commented on #2535
Note, this depends on #2877 in all likelihood.

[2018-01-24 17:29] emkll commented on #2136
As of this comment, the latest version is now 2.9.3. The 2.9.x family currently has issues with ipv4 only hosts (see https://github.com/ossec/ossec-hids/issues/917). A fix has been merged (see https://github.com/ossec/ossec-hids/pull/1259) but not included in the 2.9.3 release (per https://github.com/ossec/ossec-hids/blob/v2.9.3/src/os_net/os_net.c#L70).

As expected, authd fails to bind to port w

[2018-01-24 18:25] conorsch commented on #2885
In https://github.com/freedomofpress/securedrop/pull/2922#issuecomment-360203731, @trishnaguha recommends using `any_errors_fatal`. Based [on the docs](http://docs.ansible.com/ansible/latest/playbooks_error_handling.html#aborting-the-play), that latter option definitely sounds like what we want.

[2018-01-24 18:58] msheiny commented on #2919
package has been pushed to `tor-apt-test.freedom.press` with SD test key.

[2018-01-24 19:29] conorsch commented on #2885
Hmm, the conversation in https://github.com/ansible/ansible/issues/13744 implies that we may need to bump to at least Ansible v2.4, possibly v2.4.1, in order to get these fail-fast options working as expected. If that's the case, it'd be better to let these changes slip for 0.5.2 and target 0.6 with full QA instead. Testing locally....

[2018-01-24 20:46] trankmichael commented on #2808
I looked for references of `cssmin` but found that last reference to it was removed from the app code in https://github.com/freedomofpress/securedrop/commit/2ad8678162a918393b18080399e2deeb9d0fa92b#diff-88383f21e19c9be2cf4d9b6a81184f7a . When I removed the `cssmin` from the requirements and reprovisioned all the tests passed.

While looking at a replacement for minifier, I was thinking that the as

[2018-01-24 21:13] conorsch commented on #2885
Yes, @trishnaguha's recommendations are exactly what we want. Testing procedure is a prod VM setup. During execution of the "common" role, I hard-shutdown the `mon-prod` VM to force an error. On the develop branch, we see `app-prod` continue blithely on its merry way:

[code]

[truncated for brevity]

However, on the feature branch for #2922, the failure is immediate:

[code]

That's what we want!

[2018-01-24 21:23] #2461 closed

[2018-01-25 18:29] redshiftzero opened #2926 "Bump Ansible to 2.4"
## Description

The current version of Ansible in the admin workstation uses PyCrypto==2.6.1 as a dependency, which is causing CI safety failures when checking the admin pip requirements due to the fact that there is a CVE in PyCrypto 2.6.1. See upstream discussion in https://github.com/ansible/ansible/issues/23179.

We should bump to a more recent version of Ansible in the admin workstations that

[2018-01-25 18:43] redshiftzero opened #2927 "Temporarily disable safety check"
## Description

We'll need to temporarily disable safety in order to merge until #2926 is resolved (and we'll need to cherry pick the disabling of safety into the 0.5.2 release branch).

## User Stories

As a SecureDrop maintainer, I don't want to merge with failing CI.

[2018-01-25 20:33] #2927 closed

[2018-01-25 20:34] #2866 closed

[2018-01-25 23:00] redshiftzero opened #2931 "CI staging job not rebasing on develop"
I noticed when trying to rerun the CI job in #2925 that rebasing on `develop` wasn't working. Inspecting further, it appears that the two jobs we had in CI `staging-test-with-rebase` and `staging-test` were mislabeled (`staging-test` rebased, `staging-test-with-rebase` did not). As such, when we recently removed `staging-test`, we removed the CI job that rebased on latest `develop`. This is my bad

[2018-01-25 23:07] #2677 closed

[2018-01-25 23:07] conorsch commented on #2931
Great catch, @redshiftzero, thanks for doing the git archaeology here.

[2018-01-25 23:21] #2885 closed

[2018-01-25 23:53] conorsch opened #2933 "Lint all Python files with flake8"
# Feature request

## Description

Our current strategy for linting Python files via flake8 uses a whitelist for file location, which is brittle. If someone adds a new Python file outside of the whitelisted directories, e.g. as in #2922, flake8 will not lint them. That can lead to problems. Specifically, the changes in #2922 did not pass linting and never shold have been merged.

We should update

[2018-01-25 23:54] conorsch commented on #2933
cf. the linting strategy used by `make shellcheck`, which leverages a blacklist rather than a whitelist. Let's implement that approach, but for Python files.

[2018-01-25 23:59] redshiftzero opened #2934 "tests and lint CI jobs should also rebase on develop"
## Description

We noticed a [linting failure](https://circleci.com/gh/freedomofpress/securedrop/7228) after a PR #2922 was merged in that added some new linting and was not on latest `develop`. Since #2922 had been submitted, another PR was merged in (#2748) with changes failing the new linting. In order to catch similar issues in the future, we should rebase all CI jobs onto `develop` before run

[2018-01-26 00:01] #2931 closed

[2018-01-26 05:21] redshiftzero commented on #2933
We can specify which files not to lint via `flake8 --exclude=path/to/files/to/not/lint/*`

[2018-01-26 14:40] #2934 closed

[2018-01-26 14:53] heartsucker commented on #2877
Right now we use `flask_testing` which after the migration to `pytest` fixtures will only be necessary to provide us with some convenience methods like `self.assertMessageFlashed`. A lot of the other methods like `self.assert200` can be trivially replaced with `assert resp.status_code == 200` (which honestly seems clearer to me than just asserting that *something* is 200).

Since this will impact

[2018-01-26 18:34] kriskros33 commented on #933
so how to connect sock5 on tails after tor

[2018-01-26 18:41] redshiftzero opened #2937 "Release SecureDrop 0.5.2"
This is a tracking issue for the upcoming release of SecureDrop 0.5.2 - tasks may get added or modified. Note that this is a hotfix release and translation updates will not be required.

_SecureDrop maintainers and testers:_ As you QA 0.5.2, please report back your testing results as comments on this ticket. File GitHub issues for any problems found, tag them "QA: Release", and associate them with

[2018-01-26 20:19] msheiny opened #2938 "Duplicate tor apt repos installed"
# Bug

## Description

On an new install of 0.5 (or on an instance that has had the install commands run a second time), they will have two repository list files pointing to our securedrop tor apt repo:

* /etc/apt/sources.list.d/tor_apt_freedom_press.list
* /etc/apt/sources.list.d/tor.apt.freedom.press.list

The first one is generated via commit `565c6243a9a340d51879bf32fabb9fe45dd42ab2` and the

[2018-01-26 20:36] conorsch commented on #2938
Great catch, @msheiny. Fix should include a regression test for uniqueness on the apt sources, e.g. `grep -rl tor-apt /etc/apt/* shows only 1 hit.

[2018-01-26 21:21] conorsch opened #2939 "Parallelize deb package builds"
# Feature request

## Description

Running `make build-debs` now takes around 20m to complete, given how many Debian packages we're building. Since we switched to containers for the build process, and we're heavily reusing build logic in serial, we're in a good position to leverage the `builder` Molecule scenario to spin up containers concurrently and build Debian packages in parallel.

Specifical

[2018-01-26 21:45] dachary commented on #933
@kriskros33 with the cli or the config file

[2018-01-26 23:33] redshiftzero opened #2942 "CI jobs should rebase on target branch, not always develop"
## Description

We rebase on `develop` for all CI jobs, which is groovy for PRs into `develop`, but we don't want to do this for PRs into `master` or any `release*` branch. Currently we have logic in `securedrop/devops/scripts/rebase-develop.sh` that looks like this:

[code]

which will prevent the rebase step from running if we're on the `master` or `release*` branches. But since the `$CIRCLE_BRA

[2018-01-27 03:14] #2926 closed

[2018-01-27 04:22] conorsch opened #2943 "Remove unnecessary Ansible callback for profile_tasks"
# Feature request

## Description

The file at `install_files/ansible-base/callback_plugins/profile_tasks.py` was added via #1196, to provide additional information on task performance, with the goal of aiding developers in improving the server config workflow. Since we moved to Ansible v2 in #1146, the hardcoded plugin is no longer necessary.

Instead, we can ansible add a lint to `ansible.cfg` u

[2018-01-27 09:09] #2405 closed

[2018-01-27 09:09] #2920 closed

[2018-01-27 11:32] dachary commented on #2942
Instead of rebasing, it would be a lot easier to ask CircleCI to work on the **merge** reference provided by GitHub, which is the result of the latest successfull merge into the target branch.

[code]

[2018-01-27 11:48] ageis opened #2945 "Evaluate OPNsense vs. pfSense"
## Feature request

### Evaluate OPNsense® as a future replacement for pfSense®

OPNsense is a more actively maintained fork of pfSense. By comparison, it includes some enhanced features for VPN as well as proxying over Tor, 2-factor authentication, reporting tools, QoS and traffic shaping, optional IDS... Most crucially, it is graphically somewhat more enjoyable and user-friendly, which I bring u

[2018-01-27 11:49] ageis commented on #2605
@conorsch @b-meson Related new issue opened: https://github.com/freedomofpress/securedrop/issues/2945

[2018-01-27 11:54] ageis commented on #2945
Funny story, Netgate was so alarmed about their competition that they grabbed the OPNsense.com domain name, however then WIPO (U.N. copyright agency) forced them to hand it over to a rightful owner since they were acting in bad faith. Ha.

[¹] https://opnsense.org/opnsense-com/
[²] http://www.wipo.int/amc/en/domains/search/text.jsp?case=D2017-1828

[2018-01-27 12:37] dachary commented on #2624
IMHO this should not be exposed via securedrop-admin. If a user is expert enough to know which tag to use and the associated risks (meaning reviewing what the tag scope actually is by browing the ansible roles), they can run the ansible playbook manually instead of using securedrop-admin install which is  a thin layer around ansible-playbook.

My 2cts ;-)

[2018-01-28 12:25] #2862 closed

[2018-01-28 17:43] heartsucker commented on #2877
In PR #2948, I implemented some of this logic. Y'all should look there and tell me what you think.

[2018-01-29 18:49] msheiny opened #2950 "Release candidates deb packages are considered higher version than the final release"
# Bug

## Description

During the QA process - one might want to test a RC version of SD on a physical instance. If you do that though, it becomes annoying to install the final release candidate because debian/ubuntu considers:

`0.5.1` <  `0.5.1-rc#`

## Steps to Reproduce

* Install a release candidate debian package,
* attempt to upgrade it to the latest,
* cry in agony at the uncruel world.

#

[2018-01-29 18:51] redshiftzero commented on #2950
Thanks for filing @msheiny, we'll use `~rcN` in the future for release candidates. You will need to cry in agony no more

[2018-01-29 19:03] redshiftzero commented on #2950
Note for others that try this using SecureDrop's version update script: the `rc` commit will be generated but the tag will not, as the script bails when attempting to create the associated tag:

[code]

This is because `~` is [not a valid character in a git tag](https://git-scm.com/docs/git-check-ref-format). We should update the script to handle this situation.

[2018-01-29 20:00] redshiftzero opened #2951 "Migrate SecureDrop onion interfaces to v3 onion services"
## Description

Next generation onion services are now in the latest stable Tor release, 0.3.2.9. We should have a migration path to enable v3 onion services alongside v2 onion services for source interfaces. Since our journalist and app/mon SSH onion services are stealth onion services (i.e. they use `HiddenServiceAuthorizeClient stealth`), ~~we can't migrate those over until v3 stealth onion ser

[2018-01-30 00:56] redshiftzero commented on #2937
Here's a proposal for what should be tested during the QA period - let me know if you think items should be added or removed and we can make sure we test them 🐉

# SecureDrop 0.5.2 Test Plan

## Ensure the dynamic opening of the firewall during OSSEC agent registration works as expected

1. Re-provision prod VMs.
**Expected result:** OSSEC alerts continue to flow.
2. [Deauthorize app server as oss

[2018-01-30 08:11] #2933 closed

[2018-01-30 15:14] dachary commented on #2875
I'm not sure I understand in which case that would be useful ? The staging environment is setup exactly in the same way as the production environment as far as the app are concerned, including AppArmor. Running the functional tests against the 127.0.0.1 will find bugs like https://github.com/freedomofpress/securedrop/issues/2827 and I fail to see why going via a .onion would improve the functional

[2018-01-30 15:20] kushaldas commented on #2875
There are cases which can only be seen in a production instance, for example #2835. Testing against an .onion address will help us to identify these kind of corner cases.

[2018-01-30 15:53] msheiny opened #2952 "Run all testing where tor traffic is involved over a local tor network"
# Feature request

## Description

We really want to do full stack testing as much as possible locally and in CI. The problem with testing the production tor network in CI though is that it can be slow/flaky and I predict we will see a sharp rise in CI stability issues (i.e. CI failing strictly because of tor network issues).

One possible way around this stability issue is to run our own tor test

[2018-01-30 15:53] msheiny commented on #2875
to add to @dachary's update - we could also do an ssh tunnel from testing docker/vm --> app-staging. We'd have to toggle `AllowTcpForwarding` in the ssh config but i think this would more closely match the prod environment vs. punching holes on iptables.

I tend to agree with avoiding running all the tests over tor strictly because im worried about CI stability issues that will arise. We should de

[2018-01-30 16:03] kushaldas commented on #2875
If we have to just test against a local instance or something with a direct connection, my branch works well :) Will push the latest changes in the morning.

[2018-01-30 19:00] conorsch opened #2953 "Provide welcome message in SecureDrop Gitter channel"
# Feature request

## Description

Newcomers to the [SecureDrop Gitter channel](https://gitter.im/freedomofpress/securedrop) can be shown a custom message, set by project maintainers. I propose we begin using this feature to drive inclusion, specifically by recommending the daily standup URL and time:

We should also consider custom messaging for the GSoC application process. If we want to link ou

[2018-01-30 23:02] #2522 closed

[2018-01-31 08:16] #2487 closed

[2018-01-31 08:44] dachary commented on #2953
I find useful to display links. Something like

[2018-01-31 11:59] #2864 closed

[2018-01-31 16:49] rysiekpl commented on #2487
Woo! Thanks.

[2018-01-31 17:02] emkll opened #2955 "securedrop-admin sdconfig erases additional values in site-specific"
# Bug

## Description

securedrop-admin sdconfig erases values in site-specific when they are not prompted for. `securedrop-admin sdconfig` should not erase entries in site-specific, which would help testing (e.g.: releases that are in development or perhaps alpha/beta features).

## Steps to Reproduce

* edit `/install_files/ansible-base/group-vars/all/site-specific` and add another value
* run .

[2018-01-31 17:28] dachary commented on #2955
@emkll additional values that Ansible would use can be set in a (for instance) `install_files/ansible-base/group-vars/all/myvars` file and it will be loaded. This is indeed convenient for testing.

I think it is good that `site-config` is owned by `securedrop-admin sdconfig` (in the sense that there is no other way to edit it), but it is entirely possible that I missed a use case.

Is there a spec

[2018-01-31 18:27] emkll commented on #2955
@dachary This came up when I was testing https://github.com/freedomofpress/securedrop/pull/2803, which required some journalist email specific variables in `site-specific`. This behavior may also come up during development of new features, and perhaps in production, where admins use extra variables to store potentially useful information (e.g. `smtp_relay_old`). I opened this issue because I think

[2018-01-31 18:43] dachary commented on #2955
@emkll thanks a lot for filling this, it would have been problematic if discovered after the release. The regression is as follows:

* An admin stored extra variables in `site-config` (they should not and it is best served in another file but it is entirely possible that they did)
* The admin key is updated to 0.6
* The admin runs `securedrop-admin sdconfig` (for whatever motive)
* The extra varia

[2018-01-31 19:39] redshiftzero commented on #2937
## Upgrade testing 0.5.2~rc1

- [x] Upgrade to Tor 0.3.2.9-1~trusty+1 and ensure all onion services work
- [x] Ensure the dynamic opening of the firewall during OSSEC agent registration works
- [x] All languages appear in `sdconfig`
- [x] Documents can be successfully decrypted
- [x] Verify Ansible fails fast

[2018-01-31 19:53] ageis commented on #1123
In terms of simple file integrity monitoring, Tripwire is a common open-source alternative. https://github.com/Tripwire/tripwire-open-source

[2018-01-31 21:44] msheiny commented on #2937
# Fresh install testing 0.5.2~rc1

- [x] Upgrade to Tor 0.3.2.9-1~trusty+1 and ensure all onion services work
- [ ] Ensure the dynamic opening of the firewall during OSSEC agent registration works
- [ ] All languages appear in sdconfig
- [ ] Documents can be successfully decrypted
- [ ] Verify Ansible fails fast

[2018-02-01 13:37] emkll commented on #2955
That approach makes sense to me @dachary. The alternative `custom-variables` option is not only confusing but may lead to more issues (`.gitignore`?).

Perhaps the error message could also be worded to suggest the user entered a valid (non-custom) but misspelled variable name in`site-specific`.

[2018-02-01 18:52] kushaldas commented on #2937
## Upgrade testing 0.5.2~rc1

- [x] Upgrade to Tor 0.3.2.9-1~trusty+1 and ensure all onion services work
- [x] Ensure the dynamic opening of the firewall during OSSEC agent registration works
- [x] All languages appear in `sdconfig`
- [x] Documents can be successfully decrypted
- [x] Verify Ansible fails fast

All UI tests were done using the on going Tor Browser + Selenium :)

[2018-02-01 18:53] emkll commented on #2937
## Clean install - 0.5.2~rc1 on prod VMs

- [x] Upgrade to Tor 0.3.2.9-1~trusty+1 and ensure all onion services work
- [x] Ensure the dynamic opening of the firewall during OSSEC agent registration works
- [x] All languages appear in `sdconfig`
- [x] Documents can be successfully decrypted
- [x] Verify Ansible fails fast

[2018-02-01 19:57] aydwi opened #2957 "Repeated sentence in doc page "What Makes SecureDrop Unique""
# Bug

## Description

In the doc page **"What Makes SecureDrop Unique"**, under the heading **"Protecting against hackers"**, the sentence *"The SecureDrop servers also undergo significant system hardening in order to make it as difficult as possible for hackers to break in."* is repeated twice.

The first occurrence of the sentence should be removed.

[2018-02-01 20:04] conorsch commented on #2957
Why yes, yes it is. Thanks for reporting, @aydwi. Happy to review a docs change if you edit to fix! Allow me to point out that if you're _only_ editing documenting, you can prefix your feature branch with `docs-` to skip the long-running CI tasks, as described here: https://docs.securedrop.org/en/stable/development/documentation_guidelines.html#testing-documentation-changes

[2018-02-01 21:04] aydwi commented on #2957
I have created the pull request.

[2018-02-01 23:52] redshiftzero commented on #2919
This was QAed during the release of 0.5.2, closing

[2018-02-01 23:52] #2919 closed

[2018-02-02 08:52] #295 closed

[2018-02-02 08:59] dachary opened #2959 "css-modal screenshots sometime do not show"
# Bug

## Description

Because of the ease-in display of the modal (**transition: opacity 100ms ease-in**), the screenshot taken right after clicking on the **delete** button may not show the modal.

## Steps to Reproduce

* pytest --page-layout tests/pages-layout
* view securedrop/tests/pages-layout/screenshots/en_US/journalist-delete_all_confirmation.png or journalist-delete_one_confirmation.png

[2018-02-02 09:00] dachary commented on #2959
@SaptakS noticed that, probably because my machine was running fast this time around. Do you observe the same problem ?

[2018-02-02 09:04] SaptakS commented on #2959
@dachary though I don't see a similar problem, but due to the transition, it is possible that this is happening. There is two solutions -
* Remove the transition time
* Modify the test to take the screenshot after 100 ms.

I think second one makes more sense, what do you think?

[2018-02-02 09:21] dachary commented on #2959
Let's try that !  You can even make it 1s to allow the transition to take a little more time ?

[2018-02-02 09:23] SaptakS commented on #2959
@dachary makes sense.

[2018-02-02 14:30] emkll opened #2960 "Syscheck warning on missing directory specified in ossec agent configuration"
# Bug

## Description

As of release 0.5.2, ossec logs contain a large number of the following warning message:
[code]

## Steps to Reproduce

* ssh into mon
* cat /var/ossec/logs/ossec.log
* observe a large amount of the following warning message:

[code]
## Expected Behavior

Warning should not appear in ossec logs, ossec configuration should specify files/folder that exist.

## Actual Behavior

[2018-02-02 15:22] msheiny opened #2961 "Alert when monitor server detects disconnection of app ossec agent"
# Feature request

## Description

My personal physical instance has had issues with app and mon maintaining the ossec agent connection at times. It would be awesome if we had a filter for ossec to fire email alerts whenever this connection is severed so that I can go take a look see.

## User Stories

As a securedrop admin, I want to be alerted when there are no longer active ossec agent links on

[2018-02-02 15:30] redshiftzero opened #2962 "Instructions to change Tor Browser security slider need updating"
## Description

We have instructions to turn the security slider to its maximum setting on the source interface. These instructions are out of date with the security slider.

## Steps to Reproduce

0. Access the source interface in latest Tor Browser (here Tor Browser 7.5)
1. Try to follow the instructions to turn the security slider to "High":

<img width="501" alt="screen shot 2018-02-02 at 4 20

[2018-02-02 17:46] aydwi commented on #2957
PR merged. Closing the issue.

[2018-02-02 17:46] #2957 closed

[2018-02-02 18:14] msheiny commented on #2961
Note that we do have alerts when an agent disconnects

[code]

but it got lost in the noise for me --- and we need it to fire consistently (daily) to remind admin that it needs to get looked at.

[2018-02-03 07:19] kushaldas commented on #2807
Pillow (recomended) and ImageMagick are two options.

[2018-02-03 08:53] Aniq55 commented on #2918
Can I work on this?

[2018-02-03 11:31] ageis commented on #2674
Potentially not entirely straightforward to do for the Tails admin workstation, where it is hard to customize the base system. Your main option is to use a user-local ~/.bash_completion (or  ~/.bash_completion.d/) for amnesia's dotfiles persistence. That said, the completion scripts are simple to write. Haven't used Tails in a while so I can't check that the path will definitely persist in dotfile

[2018-02-03 14:53] heartsucker opened #2964 "Prevent admins from using ansible to clobber servers / configs"
# Feature request

## Description

Right now an admin could locally be checked out at some version `X`. The servers could have updated to some version `Y > X`. When the admin runs the playbooks against the servers, it could introduce bugs (security or otherwise) or could break the server my adding conflicting dependencies.

Additionally, two admins could be checked out at different versions OR two

[2018-02-03 15:34] heartsucker opened #2966 "Deploy SecureDrop with libostree"
# Feature request

## Description

We should use [libostree](https://github.com/ostreedev/ostree) to deploy SecureDrop instead of using Debian packages with heavy reliance on significant Ansible configuration.

### Deploying with libostree

#### FPF / SecureDrop's Side

1. The base of the SecureDrop system is installed via Ansible as it is currently
  a. This includes packages, configs that are th

[2018-02-03 17:03] fichtner commented on #2945
@ageis if you have any questions please let me know :)

[2018-02-03 17:22] dachary commented on #2918
@Aniq55 absolutely yes :-)

[2018-02-03 22:47] #2960 closed

[2018-02-04 08:08] heartsucker opened #2968 "Bootstrap dev environment with fixed admin credentials"
# Feature request

## Description

The dev env should be booted with fixed admin credentials to make it easier for developers to quickly log in and test features. This means a fixed username, password, and TOTP shared secret.

## User Stories

As a dev, I don't want to have to keep scanning QR codes and memorizing diceware passwords while testing.

[2018-02-04 08:58] heartsucker opened #2969 "Replace `import config` with dependency injection"
# Feature request

## Description

We still do `import config` everywhere in the app which breaks dependency injection and leaves us with a bit of spaghetti code. This negatively impacts tests in that it makes it quite hard to properly use fixtures in testing.

## User Stories

As a dev, I want to be able to dependency injection during tests.

[2018-02-04 08:58] heartsucker commented on #2877
This is blocked by #2969.

[2018-02-04 20:40] ageis opened #2970 "Vagrant box currently unavailable [2-24-18]"
# Bug

## Description

As of 10:00 UTC 02/24/18 `bento/ubuntu-14.04` has returned '404 not found', although it's listed on [Vagrant Cloud](https://app.vagrantup.com/bento/boxes/ubuntu-14.04). Randomly found this out when attempting to stand up the environment just so I could check a quick assumption.

[code]

## Steps to Reproduce

Try to `up` the environment or `box update`.

## Expected Behavior

[2018-02-05 14:23] conorsch commented on #2970
I can reproduce this locally on Vagrant 1.9.1. Worse, it appears _all_ Vagrant boxes are affected on my machine—so I expect a breaking API change. Will try upgrading Vagrant to a more modern version and report back.

[2018-02-05 14:59] conorsch commented on #2970
Confirmed, looks like the backend URLs changed out from under us around the release of Vagrant 2.0.2. See this comment for a workaround that supports versions of Vagrant 1.x: https://github.com/hashicorp/vagrant/issues/9442#issuecomment-363080565

While we can force upgrades to e.g. Vagrant 2.x via the Vagrantfile [minimum version option](https://www.vagrantup.com/docs/vagrantfile/vagrant_version.

[2018-02-05 15:20] conorsch commented on #2274
Related: #2970. For the record, I'm still using Vagrant 1.9.1, which just broke—but we have a workaround in #2973.

[2018-02-05 15:44] conorsch commented on #1767
We now have instructions on how to virtualize Tails as part of the developer docs: https://docs.securedrop.org/en/stable/development/virtualizing_tails.html Those changes landed via #2219 and #2607.

[2018-02-05 15:44] #1767 closed

[2018-02-05 16:24] redshiftzero commented on #92
Yesterday at FOSDEM I had a chat with @tasn, who has written a [nice browser extension](https://github.com/tasn/webext-signed-pages) that verifies the PGP signature of web pages. This is something that is worth experimenting with in the context of SecureDrop. In SecureDrop releases, we'd ship JavaScript that encrypts client-side to the instance's public key, and this js code would be signed with t

[2018-02-05 17:39] dachary commented on #1767
Yessss :-)

[2018-02-05 20:42] redshiftzero commented on #2624
Closing due to rationale described in #2809

[2018-02-05 20:42] #2624 closed

[2018-02-05 20:43] redshiftzero commented on #2968
Totally agreed- but this is a dupe of #1662 (slated for 0.6)

[2018-02-05 20:43] #2968 closed

[2018-02-05 21:35] redshiftzero opened #2975 "Rebase in CI causing trouble on merge branches"
## Description

We should disable rebasing in CI for post-release merges (e.g. for `$CIRCLE_BRANCH` beginning with `merge-`) since the rebase applies one commit at a time and hits conflicts that have been resolved in the merge commit at the `HEAD` of the PR branch.

See for example the [CI issues](https://circleci.com/gh/freedomofpress/securedrop/7668) in #2967 - GitHub reports no conflicts, but t

[2018-02-05 21:43] conorsch commented on #2975
Candidate fix in https://github.com/freedomofpress/securedrop/commit/42b1f08d3a34495134b8911840cfa64af1565bff looks good, any comments @msheiny?

[2018-02-05 22:56] redshiftzero opened #2976 "Add "securedrop-admin upgrade" command"
## Description

Every release, we ask admins to do the same commands to update `securedrop-admin` in their admin workstation:

[code]

Since there are several manual steps and they involve using `git`, they are confusing to admins. We could provide a `securedrop-admin upgrade` command that did these steps for them and would only bail out 1. there is no new release or 2. if the signature does not v

[2018-02-06 00:20] #2970 closed

[2018-02-06 13:04] #2908 closed

[2018-02-06 14:11] dachary opened #2978 "async_genkey runs in a thread that has no flask application"
# Bug

## Description

async_genkey tries to access the database in a separate thread and fails with the error like

<pre>
[2018-02-06 00:05:33,620] ERROR in utils: async_genkey for source (filesystem_id=AXT3PQIZMYAMHOZ4MIVX6ZGHCWP3GKWNI5UW2UMMANIGQJ6CUTYH45VTEP63X2DAWPRTS3PUPQBAFCLI4JMOZHVZPOZXGIKWMCFJQ3I=): No application found. Either work inside a view function or push an application context.

[2018-02-06 14:15] dachary commented on #2978
@heartsucker do you have a suggestion on how to fix **async_genkey** ?

[2018-02-06 14:16] heartsucker commented on #2978
This class of issue is only going to be exacerbated by #2969 and #2877. I wonder if it would make sense to replace use of `db` from the `from db import db` with a manually generated connection using `sqlalchemy.create_engine`. This would ensure that the DB connection's life cycle is managed independently of the application.

[2018-02-06 14:27] dachary commented on #2978
For the record: http://docs.sqlalchemy.org/en/latest/orm/contextual.html

[2018-02-06 15:55] tmc commented on #2978
Refs https://github.com/freedomofpress/securedrop/issues/2609

[2018-02-06 17:29] tasn commented on #92
@redshiftzero covered almost everything, I just have a few comments.

The extension verifies user controlled websites. This means, that users can add website + pubkey combinations as they please. I plan on adding a preloaded list of trusted services and their corresponding keys, and would love to add securedrop once you are ready.

You probably know better if it makes sense, but in my mind I see t

[2018-02-06 17:55] dachary commented on #2978
So, what about we create a session in async_genkey and following http://docs.sqlalchemy.org/en/latest/orm/session_basics.html instead of using the query property ?

<pre>
session = scoped_session(sessionmaker(autocommit=False,
                                         autoflush=False,
                                         bind=engine))
source = session.query(Source).filter(Source.filesystem_id =

[2018-02-07 15:34] emkll opened #2980 "Application integration tests fail in local staging environment"
# Bug

## Description

Application integration tests fail in local staging environment.

## Steps to Reproduce

* `make build-debs`
* `vagrant up staging`
* `sudo su www-data -s /bin/bash`
* `cd /var/www/securedrop`
* `pytest -v tests/`

## Expected Behavior

All tests should pass.

## Actual Behavior

Integration tests fail due to selenium/Firefox WebDriver exception:

[code]
Full trace here: htt

[2018-02-07 15:55] dachary commented on #2980
The tests pass when run as root. A faster reproducer is:
<pre>
pytest -v  tests/functional/test_admin_interface.py::TestAdminInterface::test_admin_interface
</pre>
Looking at /var/log/syslog while the test run does not show any apparmor messages. The tests/logs/firefox.log does not contain any error message. It is likely a permission problem silentely ignored by selenium.

[2018-02-07 19:43] edenemmanuel opened #2981 "Update Apache/AppArmor rules to follow updated process to prove .onion ownership to CA"
# Bug

Update Apache/AppArmor rules to follow updated process to prove .onion ownership to CA.

## Description

Our [documentation](https://docs.securedrop.org/en/stable/https_source_interface.html) does a fine job documenting the process to obtaining and installing an HTTPS EV cert to the source interface, and thanks to #2603 (fixing #2602) we now have some logic to allow an admin to add arbitrar

[2018-02-09 00:16] emkll opened #2983 "Error 500 on app startup when language `en` is in `securedrop_supported_locales`"
# Bug

## Description
Using `en` in `securedrop_supported_locales` results in app unable to startup.
Validation logic in both in `develop` (new sdconfig) and in `0.5.2` allow a user to specify `en`
## Steps to Reproduce

- `vagrant up /prod/ --no-provision`
- in tails, `securedrop_supported_locales` in `install_files/ansible-base/group-vars/all/site-specific`should contain `en` and `fr_FR`
- `secu

[2018-02-09 16:43] dachary commented on #2978
sqlachemy sessiosn are not thread safe http://docs.sqlalchemy.org/en/latest/orm/session_basics.html#is-the-session-thread-safe

[2018-02-10 09:52] dachary commented on #2910
Fixed by #2991

[2018-02-10 09:52] #2910 closed

[2018-02-10 09:52] dachary commented on #2912
Fixed by #2991

[2018-02-10 09:52] #2912 closed

[2018-02-10 16:15] Anonymous26 commented on #2962
i would like to work on this issue. Can you please assign it ?

[2018-02-10 16:54] dachary commented on #2962
@Anonymous26 Thanks for volunteering ! Consider yourself assigned to this issue :-)

[2018-02-11 07:14] aydwi commented on #2332
If the only immediate goal is to replace instances of "administrator" with "admin" in the codebase, a command line utility can handle it, although it can be risky. Is this supposed to be a manual process or an automated one?

[2018-02-11 11:26] dachary commented on #2332
@aydwi it is definitely better to do it manually. A tool can be used and then manual verification though.

[2018-02-11 15:00] dachary commented on #2980
`/usr/bin/firefox -foreground` is run by selenium but does not connect to the Xvfb server, presumably because `install_files/ansible-base/roles/restrict-direct-access/templates/rules_v4` strictly restricts what the `www-data` is allowed to do. Connecting via TCP to port 6001 is not allowed. And if we added an exception, we would have to add another one so the selenium drive can connect to the port

[2018-02-11 19:30] huertanix commented on #2807
I think this workflow works in lieu of using fancier JS workflows. The resize should keep the aspect ratio of the image so it doesn't look warped. I think it should resize the width down to the max width available, and let whatevs the resulting height is be the height of the resized image.

[2018-02-12 16:30] #2983 closed

[2018-02-12 17:24] #2955 closed

[2018-02-12 21:52] #2181 closed

[2018-02-12 23:16] redshiftzero commented on #2980
The application tests ran as root will change the permissions of files that the `www-data` user needs to access - you can see this occurring in issue #2634 (which produced follow up #2636). Since the root user running the full unit and functional test suite will get passing tests, but will render those staging VMs unusable for interactive manual testing via Tor Browser, what about we suggest to ru

[2018-02-12 23:34] dachary commented on #2980
@redshiftzero good point ! What about adding a `chown -R www-data /var/lib/securedrop /var/www/securedrop` in the instructions, with a note explaining why this is necessary ?

[2018-02-12 23:38] redshiftzero commented on #2980
Ah nice - that's a better solution :+1:

[2018-02-13 09:49] kushaldas opened #3001 "[RFE] Add type annotation"
# Feature request

## Description

We need to add the initial type annotation in the Python code for #2795

[2018-02-13 11:23] #2959 closed

[2018-02-13 15:46] dachary opened #3003 "docs: s/You can then can/You can then/"
# Bug

## Description

https://github.com/freedomofpress/securedrop/blob/develop/docs/development/documentation_guidelines.rst reads:

**You can then can browse**

and should read

**You can then browse**

[2018-02-13 15:51] dachary opened #3004 "docs: s/each image in the web/each page in the web/"
# Bug

## Description

https://github.com/freedomofpress/securedrop/blob/develop/docs/development/documentation_guidelines.rst reads:

**generate screenshots for each image in the web application**

and should read

**generate screenshots for each page in the web application**

[2018-02-13 16:28] dachary opened #3005 "docs: App Server must be in italics"
# Bug

## Description

The [documentation style guide](https://docs.securedrop.org/en/latest/development/documentation_guidelines.html#style-guide) requires SecureDrop-specific terminology is in italics.

In https://github.com/freedomofpress/securedrop/blob/develop/docs/test_the_installation.rst

    App Server

must be replaced with

    *Application Server*

[2018-02-13 18:02] #3001 closed

[2018-02-13 18:35] kushaldas opened #3006 "[RFE] Add a devops container and related Makefile changes for mypy"
# Feature request

## Description

We need a Makefile target to build and run mypy inside of a container for checking type annotation.

## User Stories

- I am developer, I want to run mypy on the codebase.
- Next, we will enable the same in the CI.

This is towards the goal of fixing #2795.

[2018-02-13 20:55] msheiny opened #3008 "Squash ansible deprecation warnings"
# Bug

## Description

There are many deprecation warnings that exist in the ansible output during the course of an install. These are both an eye-sore and will one-day become breaking code. Since ansible moves relatively quickly we should stay on top of these.

## Steps to Reproduce

Run.... `./securedrop-admin install` !

## Expected Behavior

No deprecation warnings should display in the output

[2018-02-13 22:59] msheiny commented on #1689
![index](https://user-images.githubusercontent.com/1727935/36178648-797bb3f0-1111-11e8-8e28-79c9978a146f.png)

[2018-02-14 08:33] Anonymous26 commented on #2981
I would like to work on this issue.

[2018-02-14 08:35] #3006 closed

[2018-02-14 08:42] dachary commented on #2981
@Anonymous26 consider yourself assigned to this issue :-) Thanks for volunteering !

[2018-02-14 08:59] dachary opened #3011 "docs: proofread test_the_installation.rst for typos and style problems"
## Description

Read https://github.com/freedomofpress/securedrop/blob/develop/docs/test_the_installation.rst and look for:

* typos
* [violations of the documentation guidelines](https://docs.securedrop.org/en/latest/development/documentation_guidelines.html)

Rewording for clarity or adding content is not in the scope of this issue. When a typo or style problem is found, open a pull request fixi

[2018-02-14 09:00] ghost opened #3012 "docs: proofread glossary.rst for typos and style problems"
## Description

Read https://github.com/freedomofpress/securedrop/blob/develop/docs/glossary.rst and look for:

* typos
* [violations of the documentation guidelines](https://docs.securedrop.org/en/latest/development/documentation_guidelines.html)

Rewording for clarity or adding content is not in the scope of this issue. When a typo or style problem is found, open a pull request fixing it and mak

[2018-02-14 09:02] ghost opened #3013 "docs: proofread tails_printing_guide.rst for typos and style problems"
## Description

Read https://github.com/freedomofpress/securedrop/blob/develop/docs/tails_printing_guide.rst and look for:

* typos
* [violations of the documentation guidelines](https://docs.securedrop.org/en/latest/development/documentation_guidelines.html)

Rewording for clarity or adding content is not in the scope of this issue. When a typo or style problem is found, open a pull request fixin

[2018-02-14 09:09] ghost opened #3014 "docs: replace *[Jj]ournalist tails... with *Journalist Workstation*"
# Bug

## Description

In the [documentation](https://github.com/freedomofpress/securedrop/blob/develop/docs):

* ```*Journalist Tails USB*```  is the USB stick
* ```*Journalist Workstation*``` is the machine booted with the *Journalist Tails USB*

almost everywhere in the  . In some places it is

     *journalist tails USB*
     *Journalist tails USB*
     *journalist tails*
     **Journalist Tai

[2018-02-14 09:19] dachary opened #3015 "docs: italicize Journalist Interface"
# Bug

## Description

The [documentation style guidelines](https://docs.securedrop.org/en/latest/development/documentation_guidelines.html#style-guide) reads "When SecureDrop-specific terminology is used, italicize it.".

Look for the string **Journalist Interface** in [the documentation](https://github.com/freedomofpress/securedrop/blob/develop/docs/) and make sure all occurrences are italicized

[2018-02-14 11:28] #2482 closed

[2018-02-14 16:43] vaibssingh commented on #3003
Created PR with proposed changes #3016

[2018-02-14 16:55] vaibssingh commented on #3015
Created PR for updates in create_admin_account.rst  #3017

[2018-02-14 19:53] #2980 closed

[2018-02-14 19:54] #2978 closed

[2018-02-14 19:54] msheiny opened #3018 "Map out SD upgrade logic for developers"
# Feature request

## Description

This is an off-shoot of #1689 - to focus this ticket scope on the actual automation logic and i'll leave #1689 to reference the cloud automation/ CI story. I broke this up because as one ticket, the task is too widely scoped (IMHO).

## User Stories

As member of team securedrop, I want to break up phat tickets to tightly scoped issues.

As a securedrop developer

[2018-02-14 20:28] msheiny commented on #1689
Okay so it sounds like we are going to pivot this ticket slightly and aim for running under nested virtualizaiton. Going to break this into two tickets:

* The actual upgrade automation testing logic to be able to run under libvirt/kvm --> #3018
* The work to get that ^ running in CI with nested virtualization --> this ticket.

[2018-02-14 21:43] #3003 closed

[2018-02-14 23:29] #3005 closed

[2018-02-15 15:40] emkll opened #3020 "AppArmor denied /usr/bin/file for apache2"
# Bug

## Description

[code]
## Steps to Reproduce

- Open ossec alert emails with title `OSSEC Notification - (app) - Alert level 7`
- Observe a large amount of errors pasted above

## Expected Behavior

AppArmor rules should not alert on nominal apache2 behavior

## Actual Behavior

AppArmor and in turn ossec alert on what appears to be nominal webserver behavior

[2018-02-15 18:59] aydwi commented on #2807
@huertanix @kushaldas I agree with this. Image can be resized down to the constraint (250px square?) without changing the aspect ratio. A certain portion of the image can be cropped out before performing this operation if one dimension is very large than the other. I'm working on implementing this using `Pillow`

[2018-02-15 20:16] redshiftzero commented on #2976
Commit 1f7e8d1 contains an implementation of this feature - check it out and let me know what you think @kushaldas 😄

To explain fully the broader context around this ticket and that branch, from what I've observed with our users there are four problems around updating SecureDrop in Tails:

1. Admins and journalists have to do this git song and dance (what this issue is about), which ends up being

[2018-02-15 21:16] #2969 closed

[2018-02-15 22:30] Anonymous26 commented on #3014
There are variations in USB key for admin too, in some places its *Admin Tails*, am i supposed to change that also to *Admin Workstation* ?

[2018-02-15 22:46] huertanix commented on #2807
I would caution against auto-cropping when no cropping tools are available in the UI for the user to fall back on if they don't like the auto-crop.

[2018-02-15 22:49] dachary commented on #3014
you can create another issues for the purpose of unifying *Admin Tails*.

[2018-02-15 22:49] dachary commented on #3014
Which line is this ?

[2018-02-15 22:50] aydwi commented on #2807
That is a good point, but I was suggesting that suppose an image is too wide, cropping away some part of it's extremes and then resizing. But it doesn't seem too necessary

[2018-02-16 00:51] redshiftzero commented on #2953
The gitter welcome message is now:

"Welcome to the SecureDrop developer chatroom! [SecureDrop.org](https://securedrop.org) - [Contribution Guide](https://docs.securedrop.org/en/latest/development/getting_started.html) - [Google Summer of Code 2018](https://github.com/freedomofpress/securedrop/wiki/Google-Summer-of-Code-2018-Ideas) - [Daily video standups 6pm UTC](https://meet.jit.si/QuickWizardsD

[2018-02-16 00:51] #2953 closed

[2018-02-16 00:54] redshiftzero commented on #2798
We're now favoring the Docker based environment and deprecating these testinfra tests, so closing

[2018-02-16 00:54] #2798 closed

[2018-02-16 00:56] redshiftzero commented on #2459
This was resolved in #2895

[2018-02-16 00:56] #2459 closed

[2018-02-16 00:57] redshiftzero commented on #2636
This was addressed in #2996

[2018-02-16 00:57] #2636 closed

[2018-02-16 00:58] redshiftzero commented on #2794
Also addressed in #2996

[2018-02-16 00:58] #2794 closed

[2018-02-16 01:00] redshiftzero commented on #2217
Done in #2588

[2018-02-16 01:00] #2217 closed

[2018-02-16 01:01] redshiftzero commented on #2200
Completed in #2752

[2018-02-16 01:01] #2200 closed

[2018-02-16 01:41] redshiftzero commented on #88
Since swap is disabled (#1626), we use `srm` when deleting documents (#131), and we never write plaintext to disk in the first place (#862), I'm closing this issue. Feel free to comment if you disagree.

[2018-02-16 01:41] #88 closed

[2018-02-16 01:49] redshiftzero commented on #2508
Thanks for the feedback - I like those suggestions @huertanix

[2018-02-16 01:50] redshiftzero commented on #2236
Done in #2588

[2018-02-16 01:50] #2236 closed

[2018-02-16 02:43] Anonymous26 commented on #3014
Verify Journalist Setup Line 131 onwards in onboarding.rst.

[2018-02-16 03:23] Anonymous26 opened #3023 "docs: replace *[Aa]dmin tails... with *Admin Workstation*"
# Bug

## Description
The USB key used by the Admin is

[code]

almost everywhere in the [documentation](https://github.com/freedomofpress/securedrop/tree/develop/docs). In some places it is

[code]

 In other places, it shows as bold instead of italics:

[code]

All these variations must be unified and changed to:

[code]

[2018-02-16 03:35] redshiftzero commented on #3023
Good point @Anonymous26. One comment: `*Admin Workstation*` can be used to generically refer to a computer that is booted using the Admin Workstation Tails USB. For clarity, I recommend you use the term `*Admin Workstation* Tails USB` where appropriate, e.g. in the [Admin Workstation Setup documentation](https://docs.securedrop.org/en/latest/set_up_admin_tails.html).

[2018-02-16 03:45] redshiftzero commented on #2194
In #2754, @trankmichael investigated how to remove this for us on RTD and discovered that the method to disable this is currently [not working](https://github.com/freedomofpress/securedrop/pull/2754#issuecomment-356334292), so I'm marking this blocked for now.

[2018-02-16 10:22] heartsucker commented on #3008
Related: https://github.com/ansible/ansible/issues/18559 and https://github.com/ansible/proposals/issues/32

[2018-02-16 12:19] dachary commented on #3014
@Anonymous26 good point. My issue description is incorrect and I will fix it. There is a distinction between:

* *Journalist Tails USB* which is the USB stick
* *Journalist Workstation* which is the machine booted with the *Journalist Tails USB*

We need to keep both as they designate two different things. I will change the bug description accordingly.

[2018-02-16 12:29] Anonymous26 commented on #3014
okay ill fix it accordingly :)

[2018-02-16 15:22] #2902 closed

[2018-02-16 21:06] heartsucker opened #3024 "`make test` fails because of cached/compiled python files"
# Bug

## Description

`make test` outputs:

[code]

## Steps to Reproduce

Run `make test` when there are compiled/cached python resources.

## Expected Behavior

There should be no resources in the container that reference the host.

## Actual Behavior

Cached resources with references to the host contaminate the container.

## Comments

`make test` should clean up resources before building the

[2018-02-16 21:37] dachary commented on #3024
So, this actually is the same problem with vagrant and it happens because the .pyc were created with /vagrant/securedrop as the root of the repository although they reside in the directory in which the checkout was made. If you run tests locally on the host and then try to run them in vagrant, you will experience the same failure.

The one time workaround is to **find . -name '*.pyc' | xargs rm**

[2018-02-16 21:39] dachary commented on #3024
Note that the files are not copied into the docker image and ignoring pyc while building the image won't solve that.

[2018-02-16 22:39] heartsucker commented on #3004
Closed by ##3010

[2018-02-16 22:39] #3004 closed

[2018-02-17 00:01] #3024 closed

[2018-02-17 00:40] redshiftzero commented on #2246
I'm closing this. We no longer use either `coveralls` or `Travis CI`

[2018-02-17 00:40] #2246 closed

[2018-02-17 14:28] Anonymous26 commented on #3023
@redshiftzero Instead of `*Admin Workstation* Tails USB` shouldn't I use `*Admin Tails USB*`as in the case of journalist `*Journalist Tails USB*` is used to represent Tails USB drive ?

[2018-02-17 17:54] Anonymous26 commented on #3013
I would like to work on this.

[2018-02-17 19:10] dachary commented on #3013
@Anonymous26 consider yourself assigned :-)

[2018-02-19 08:47] dachary commented on #2938
@aydwi the first step would be to [install SecureDrop](https://docs.securedrop.org/en/latest/overview.html). If you do not have dedicated hardware, this can be done with two virtual machines that you create for the occasion. This is significant work but also a great learning experience. You will get to ask a lot of questions that will allow us to improve the documentation in the process.

[2018-02-19 08:55] kushaldas commented on #2976
The command line part is the same logic I had :)

`securedrop-admin check_for_updates` with a notification entry/PyQt application should run a separate process as the part of the network hook.  I always used to choose PyQt as my standard GUI toolkit, so I am totally in for this.

[2018-02-19 09:25] heartsucker opened #3030 "Caching / tagging of docker images in CI causes errant build failures"
# Bug

## Description

As noted in this comment from @kushaldas (https://github.com/freedomofpress/securedrop/pull/2948#issuecomment-366621315) and some chat in gitter, it seems like the caching of Docker images and using tags based off the SHA1 hashes of git commits is causing things to cache when they shouldn't.

## Steps to Reproduce

Honestly, I can't think of a guaranteed way to reproduce thi

[2018-02-19 09:28] dachary commented on #3030
Did this happen in CI on a pull request other than https://github.com/freedomofpress/securedrop/pull/2948 ? That would be undeniable proof it is not caused by the commits found in this PR.

[2018-02-19 09:36] dachary commented on #3030
This has been in place for some time and saves between 1mn and 2mn in the build process. It also reduces the chance of a failure due to environmental reasons because it shares the layer than does "apt-get update && apt-get install" between pull requests.

I'm also inclined to prefer stability over speed, every time. But in this case @tmc carefully tested this and it worked very reliably over the p

[2018-02-19 09:49] heartsucker commented on #3030
The following disprove that we need to tag the images with a sha1.

[code]

The second build happens in under a second. We don't need our own tags if we're correctly snagging the docker build cache and saving it between circleCI builds.

[2018-02-19 10:41] dachary commented on #3030
I don't see how that would work. I suggest you propose a pull request against .circleci/config.yml that does what you think is better than what is currently implemented. As far as I can see using **latest** only will have one PR use the image from another PR and it will lead to massive confusion.

[2018-02-19 13:38] heartsucker commented on #3030
Having poked around in the build, I think the current setup is doing things right in the sense that we shouldn't be seeing caching issues. I'm closing this and am going to try to debug CI from another angle.

[2018-02-19 13:38] #3030 closed

[2018-02-19 14:14] kushaldas opened #3031 "[RFE] Have type annotation for config object"
# Feature request

## Description

The config object we pass around to create the Flask applications should be properly annotated.

## User Stories

Related to #2795

[2018-02-19 16:11] heartsucker opened #3034 "CircleCI should not run functional/layout test first"
# Feature request

## Description

CircleCI should run pytest tests with unit tests first, then functional, then page layout.

Currently:

[code]

## User Stories

As a dev, I want my tests to fail fast on CI. Currently this is not the case.

[2018-02-20 03:42] aydwi commented on #2938
I'll proceed with virtual machines, although I wonder if my Raspberry Pi 3 can be used.

[2018-02-20 04:25] kushaldas commented on #2807
@aydwi Any update on this?

[2018-02-20 04:33] aydwi commented on #2807
Yes, I wrote a script using `Pillow` to resize the image to a maximum dimension of 1000px, and crop before resizing which can improve the view in certain cases.

I could use some help with how to integrate this feature in a `Flask` based app.

[2018-02-20 04:35] kushaldas commented on #2499
Closing this ticket as the document is already updated, problem solved.

[2018-02-20 04:35] #2499 closed

[2018-02-20 04:52] kushaldas commented on #2486
I can see you fixed it in https://github.com/freedomofpress/securedrop/commit/0de3bc5f26f70af000dfd03c5d77e19f3ccadd46#diff-c0982971d9a6dd91ffb6d4cc68286bcbR80. Closing the issue.

[2018-02-20 04:52] #2486 closed

[2018-02-20 05:06] kushaldas commented on #2266
This one is fixed in https://github.com/freedomofpress/securedrop/commit/b7b6ca2e77d6ff8ae82ac87abaadc12896940ee8#diff-a3b5e93ae26d81aad5d29a02b86500deR201 Closing the ticket.

[2018-02-20 05:06] #2266 closed

[2018-02-20 09:29] dachary commented on #2266
@kushaldas thanks !

[2018-02-20 10:46] barun511 commented on #3011
I can't seem to see any typos. I might recommend changing "1. Make sure the Source Interface is available", to "1. Test that the Source Interface is available", so that instruction 1. is more consistent in terms of language used with the following instructions, but that's a minor nitpick, really.

[2018-02-20 11:11] #2114 closed

[2018-02-20 14:17] dachary commented on #3011
* sudo passphrase for the Admin username

should be

     * sudo passphrase for the admin username

Because **admin** here designate an abstract idea, there is no reason for the first letter to be uppercase. @barun511 it was not something easy for you to spot I have to say ;-)

       instance all profiles should be in enforce mode.

should

        instance all profiles should be in ``enforce`` m

[2018-02-20 15:15] heartsucker commented on #2918
Note that this is blocked by https://github.com/freedomofpress/securedrop/issues/1419

[2018-02-20 17:13] eloquence opened #3037 "docs: Clarify setup instructions for use of TOTP secret in dev environment"
# Bug

## Description

For people unfamiliar with TOTP, it's a bit unclear how to set up the 2FA part of the dev environment right now. The docs just say:

## Comments

I'm going to send in a PR that clarifies (with minimal detail) how to do this with oathtool, FreeOTP, etc.

[2018-02-20 17:16] barun511 commented on #3011
Thank you so much - it appears that I have missed quite a bit :) I appreciate the help and effort :D

I'll open a PR.

[2018-02-20 23:10] eloquence commented on #92
Add "prototyping" to title to clarify that's what we're committing to for now.

[2018-02-20 23:29] redshiftzero commented on #297
Duplicate of #2091

[2018-02-20 23:29] #297 closed

[2018-02-21 00:05] redshiftzero commented on #125
This is something that will be tackled with the journalist client in the upcoming [SecureDrop workstation](https://github.com/freedomofpress/securedrop-workstation).

[2018-02-21 00:16] eloquence commented on #109
We discussed this on our old issue review today. We're closing this for now as the original issue (logging of JS usage) is not something we anticipate doing -- both due the perceived/actual sensitivity of logging, and the relatively low utility of the information for development purposes. We'll certainly want to investigate the UX and security aspects of JS usage further, and may create separate i

[2018-02-21 00:16] #109 closed

[2018-02-21 00:16] aydwi opened #3043 "Image uploaded by journalist is always saved as a PNG file"
# Bug

## Description

Regardless of the type of image the journalist uploads (JPG, JPEG or PNG), the image `securedrop/static/i/logo.png`  is always saved with a .png extension. This leads to image viewing applications not being able to read and display the file correctly.

## Steps to Reproduce

As an Admin, navigate to 'Instance Configuration' in the journalist app, and upload a JPG/JPEG image

[2018-02-21 00:28] conorsch commented on #256
The information in this ticket is outdated. Since the last comment four years ago, we've implemented a third-party SecureDrop directory at https://securedrop.org/directory (http://secrdrop5wyphb5x.onion/directory). The directory is a static list of "verified" instances—meaning the news organization contacted FPF to request inclusion, and further asserted a list of truths enumerated in the [Instanc

[2018-02-21 00:28] #256 closed

[2018-02-21 00:30] conorsch commented on #258
@dachary Thanks for the ping!

Yes, the forthcoming overhaul of securedrop.org will implement an _automated_ scanner for both the Source Interface and the Landing Page for each known SecureDrop instance, similar in style to [Secure The News](https://securethe.news/). The development effort on the new scanner is ongoing, and we optimistically hope to ship in Q2 2018.

As such, I'm closing this issu

[2018-02-21 00:30] #258 closed

[2018-02-21 00:31] eloquence commented on #479
We discussed this issue in our old issue review today. The UI now makes reference to checking back later after uploading a document, therefore I'm closing this issue.

[2018-02-21 00:31] #479 closed

[2018-02-21 00:34] conorsch commented on #304
Agreed with @redshiftzero: let's set the new default logrotate value to 1-2 months. Once the change is made in the Ansible config logic, a playbook run (via `./securedrop-admin install`) will be required to enforce the change. Future new installs will receive the updated value automatically.

As stated above, the logrotate functionality is only relevant for the Journalist Interface (previously cal

[2018-02-21 00:39] eloquence commented on #481
We discussed this issue in our old issue review today. Our current policy is that auditing Tor Browser Bundle is beyond the scope of SecureDrop development, though of course we are keeping an eye on Tor's security practices. Closing this issue.

[2018-02-21 00:39] #481 closed

[2018-02-21 00:42] conorsch commented on #825
We've greatly improved the Yubikey documentation for use with the Journalist Interface since this issue was opened (see #2186, #2310, and #2311). As for using a Yubikey for SSH authentication, unfortunately our use of Ansible prohibits use of challenge-response authentication for the SSH daemon—see details in https://github.com/freedomofpress/securedrop/issues/1283#issuecomment-218895743.

Closing

[2018-02-21 00:42] #825 closed

[2018-02-21 00:43] redshiftzero commented on #3043
Good catch @aydwi - we should:

1. disallow `JPG`, `JPEG` uploads (in the form) and
2. note clearly in the text in the interface that only `png` is allowed.

Are you interested in creating a fix for this bug? :smile:

[2018-02-21 00:46] eloquence commented on #482
We discussed this issue in our old issue review today. We're not currently anticipating that we'll ever support throwaway .onion links directly in SecureDrop. Sources that are interested in this may wish to consider using OnionShare for the actual file upload, which also avoids size limitations of SecureDrop. We may make more explicit reference to OnionShare in the future in SecureDrop pages / doc

[2018-02-21 00:46] #482 closed

[2018-02-21 00:46] redshiftzero opened #3044 "Enable administrators to edit all text on source interface"
## Description

We have an issue (#1967) for allowing admins to create a custom line of text on the first page of their source interface. However, it would be ideal if the administrator could edit the text in the entire interface, such that custom information could be displayed, e.g.: organization-specific policies, "we respond to all SecureDrop submissions within 48 hours, check back then". First

[2018-02-21 00:49] redshiftzero commented on #344
Of the features here, most of them have now been implemented, and we have filed more specific followups for the issues that are still to be completed:

Tracked in #1575

Added in #2769

Tracked in #3044

Tracked in #1967

Tracked in #606

All of the admin interface features regarding adding/removing new users and regenerating credentials was added in #522.

In terms of the OSSEC data, since the ap

[2018-02-21 00:49] #344 closed

[2018-02-21 00:49] aydwi commented on #3043
I've already written a fix. It replaces .png with the correct file extension using Python `Pillow`.

I think that disallowing JPG/JPEG uploads will reduce the ease of usage. Many people won't have a logo available in PNG, and it will take additional effort for them to convert the image first. I can do it the way you suggested as well. Your thoughts?

[2018-02-21 00:51] eloquence commented on #718
We are still interested in this; however, it appears that tlsdate is unmaintained (last commit 2015). We'd want to use a maintained fork or another option. Adding to "Some Day" milestone until we have an agreed upon implementation strategy, and retitling.

[2018-02-21 00:53] eloquence commented on #738
We are still interested in this; however, it appears that tlsdate is unmaintained (last commit 2015). We'd want to use a maintained fork or another option. Adding to "Some Day" milestone until we have an agreed upon implementation strategy, and retitling.

[2018-02-21 00:54] redshiftzero commented on #3043
Excellent - converting JPG/JPEG uploads to PNG is even better.

[2018-02-21 05:42] barun511 commented on #3011
then login with the Admin username <--should this not be "then login with the admin username", by the same logic?

[2018-02-21 07:38] dachary commented on #3011
Yes !

[2018-02-21 08:43] #3037 closed

[2018-02-21 15:39] heartsucker opened #3049 "CI build errors because it can't find a docker image tagged with the correct SHA1"
# Bug

## Description

A CI build failed with this error on the `lint` step.

[code]

## Steps to Reproduce

Unsure.

## Expected Behavior

CI builds should complete regardless of tags on the docker containers.

## Actual Behavior

It does not.

## Comments

We shouldn't tag the docker containers with a SHA1. Maybe just always use `latest` since we're always pulling the latest cached docker image

[2018-02-21 15:39] heartsucker commented on #3049
This is the build error: https://circleci.com/gh/freedomofpress/securedrop/8807?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

And it was from this PR: https://github.com/freedomofpress/securedrop/pull/3047

[2018-02-21 16:37] dachary commented on #3049
@heartsucker that's an error that happened 11 hours ago and fixed by https://github.com/freedomofpress/securedrop/pull/3039 which was merged 8 hours ago. My apologies for the inconvenience.

[2018-02-21 16:54] heartsucker commented on #3049
If the next build of #3047 passes, we can close this ticket as already resolved.

[2018-02-21 18:51] heartsucker opened #3051 "Scrypt params are defined in multiple places"
# Feature request

## Description

We define scrypt params in `_SCRYPT_PARAMS` in `models.py::Journalist` and in `crypto_util.py`. This is a potential source of errors since we assume they are defined in only one place.

## User Stories

As a dev, I want constants defined in exactly one place.

[2018-02-21 19:15] heartsucker opened #3052 "Ensure every call to `open` uses a context manager"
# Feature request

## Description

There are places in the code where we call `foo = open(some_file).read()`. This could lead dangling resources if an exception is raised. This should be:

[code]

[2018-02-21 19:24] dachary commented on #2711
@pierwill asked this issue is close, happy to oblige !

[2018-02-21 19:24] #2711 closed

[2018-02-21 19:37] conorsch commented on #3052
At a glance, here are a few candidates in important dirs:

[code]

Whether all should be changed is subject to debate, but we at least have an idea about what needs to be changed here. There are a lot of hidden directories that include upstream code we do not maintain, e.g.

* `.venv/`
* `admin/.tox/`
* `admin/.venv/`
* `admin/.eggs/`

True, but recall that the servers are rebooting nightly, so an

[2018-02-21 19:48] heartsucker commented on #3052
In the PR for this, I left the ones in test cases alone since it makes it easier to read the tests. And yes, this is super minor but I noticed one during the video call and it annoyed me so here we are. :D

[2018-02-21 21:10] dachary commented on #3052
Do you maybe have a reference about how this could be the case ? If the exception is not caught well, nobody cares of course ;-) If the exception is caught, the function in which the open was done will go out of scope after it is handled and the file descriptor will be reclaimed. At least that's how I understand it.

What am I missing ?

[2018-02-21 21:13] heartsucker commented on #3052
From the bottom of [this section](https://docs.python.org/2/tutorial/inputoutput.html#methods-of-file-objects):

[2018-02-21 21:27] dachary commented on #3052
While I agree with @conorsch that it's not something that's more than a cleanup, it feels good to comply with best practices so... why not :-)

[2018-02-21 21:32] pwnchief commented on #3051
@heartsucker  can i take this up ??

[2018-02-22 01:34] #3052 closed

[2018-02-22 01:48] #3015 closed

[2018-02-22 02:01] eloquence commented on #464
We discussed this issue in our old issue review yesterday, and I also brought it up with @huertanix from the newsroom team today. We don't see that this part of the UI currently needs work, but of course we'll continue to look for usability and workflow improvements. Closing this issue for now.

[2018-02-22 02:01] #464 closed

[2018-02-22 02:02] eloquence commented on #391
We discussed this in our old issue review meeting yesterday and I also briefly brought it to the attention of @huertanix today. The original report was under-specified and hence not actionable as is; we will continue to investigate source/journalist workflow issues, but closing this issue for now.

[2018-02-22 02:02] #391 closed

[2018-02-22 02:05] eloquence commented on #718
We discussed this issue in our old issue review yesterday and I also brought it to the attention of @huertanix today. While we will want to continue to improve source/journalist interaction, custom reply templates as specified here are not something that's been raised as important by newsrooms so far, and so we're not currently intending to implement this feature. Closing for now.

[2018-02-22 02:05] #718 closed

[2018-02-22 06:41] Hainish commented on #391
This related to early SecureDrop conversations on allowing discussion threads linked to specific documents. Not sure if it's relevant anymore.

On February 21, 2018 6:02:46 PM PST, Erik Moeller <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-02-22 07:51] dachary commented on #718
@runasand feel free to re-open at any time if you still think this is important ;-)

[2018-02-22 07:52] dachary commented on #464
@Hainish feel free to re-open at any time if you still think this important ;-)

[2018-02-22 08:07] dachary commented on #3049
It passed, closing as instructed

[2018-02-22 08:07] #3049 closed

[2018-02-22 10:15] heartsucker commented on #3051
Yeah, just to clarify what needs to be done (because I wrote this ticket quickly while on a video chat), in `models.py`, we need to remove `Journalist._SCRYPT_PARAMS`. However, this impacts the behavior of `Journalist._scrypt_hash` which affects `Journalist.set_password` and `Journalist.valid_password`.

This shouldn't be a problem because `Journalist._SCRYPT_PARAMS` == config.SCRYPT_PARAMS` in pr

[2018-02-22 10:44] pwnchief commented on #3051
Yeah it would break current installations with modified `config.SCRYPT_PARAMS` which would be a big problem and its fair to assume some would have.So they might need to generate new passwords after update.Also admin would also face the same problem as they follow the same setup procedure with an additional `is_admin=True` argument while creating user so they would also be locked out.

Also #3033 w

[2018-02-22 10:50] heartsucker commented on #3051
I actually think it's *extremely* unlikely an admin touched that part of their config, but since it's possible we have to assume at least one did. It wouldn't matter if they wanted to regenerate new passwords because since no one would be logged in, there would be no way to do a reset.

[2018-02-22 10:56] pwnchief commented on #3051
@heartsucker Yeah i guess you are right.
Waiting for #3033 to merge into develop!!

[2018-02-22 14:17] aydwi opened #3058 "Check for a valid image file when uploading logo"
# Bug

## Description

In the journalist application, when the Admin uploads an image file for logo, no check is performed to determine if it is a valid image file, or a corrupted/unreadable one. The application currently only checks for a valid extension.

Thus if someone uploads a corrupt/unreadable or non-image file with an extension like JPG, JPEG or PNG, it gets updated and shows up like:

![

[2018-02-22 16:45] Aniq55 commented on #2918
@kushaldas I'm on a break currently. You may unassigned me for now. :/

[2018-02-22 17:00] dachary commented on #2918
@Aniq55 consider yourself unassigned, thanks for the update.

[2018-02-22 19:58] conorsch opened #3060 "Various problems with securedrop-admin"
# Bug

## Description

The `securedrop-admin` script underwent substantial changes in #2758. Below are a few examples of what seem to be regressions, but all instances bear scrutiny in order to reproduce.

### "setup" subcommand appears broken

The project docs instruct Admins to run `./securedrop-admin setup` in order to configure a virtualenv. The new behavior appears buggy:

[code]

The script

[2018-02-22 20:07] conorsch commented on #3060
Falling back to 0.5.2 (via `git checkout 0.5.2`) resolves the issues above for me.

[2018-02-22 23:08] redshiftzero opened #3061 "Release SecureDrop 0.6.0"
This is a tracking issue for the upcoming release of SecureDrop 0.6 - tasks may get added or modified.

**Feature freeze:** February 27, 2018
**String freeze:** March 6, 2018
**Release date:** March 13, 2018

_SecureDrop maintainers and testers:_ As you QA 0.6, please report back your testing results as comments on this ticket. File GitHub issues for any problems found, tag them "QA: Release", and

[2018-02-23 10:47] kushaldas opened #3063 "[RFE] Use io.open instead of open function call in the codebase"
# Feature request

## Description

We should start using [`io.open`](https://docs.python.org/2.7/library/io.html#io.open) instead of the builtin function `open`  in Python2 so that we can move another step towards Python3.

In Python3 `open` function call is actually the same of `io.open`. But, that is not the same in Python2. That is why moving to `io.open` in Python2 is [step forward](https://do

[2018-02-23 10:50] heartsucker commented on #3063
Not saying we shouldn't, but if `open` "just works" now, is there a compelling reason to change it before we make the actual switch to `python3`? I feel like there's bigger fish to fry.

[2018-02-23 10:52] kushaldas commented on #3063
@heartsucker That is our official suggestion for projects trying to move into Python3. Please have a look at the https://docs.python.org/3/howto/pyporting.html#update-your-code

[2018-02-23 13:57] heartsucker commented on #3063
Fair enough. I've just been lazy and ported whole projects with `2to3` all at once. Ha.

[2018-02-23 16:27] emkll opened #3067 "Consider moving initial submission uploads away from /tmp"
# Feature request

## Description

Submissions are initially streamed encrypted to disk in `/tmp`. If an adversary can execute code on the host, they can read and potentially alter the contents of the file.

This risk is mostly mitigated by the fact that files are encrypted and filenames are randomly generated and difficult to guess.

Ensure that the files are regularly cleared outside of the appl

[2018-02-23 18:57] #2950 closed

[2018-02-23 21:38] #3020 closed

[2018-02-23 23:45] conorsch commented on #3060
To rule out complications with mounting directories via Tails, I instead _cloned_ the SecureDrop repository in Tails, and `./securedrop-admin setup` still fails as described above.

Again, falling back to 0.5.2 resolves: I am able to run `./securedrop-admin setup` without issue. After having done so, I can switch back to `develop`, and then subsequent runs of `./securedrop-admin setup` complete wi

[2018-02-23 23:56] redshiftzero commented on #3060
Running through the above on Tails produced the expected output:

[code]

The helpful messaging when the venv is not configured is present for me:

[code]

However- if you're hitting an issue and not receiving informative error output when you pass `-v`, that indeed sounds like a bug...

[2018-02-23 23:58] redshiftzero commented on #3060
You could put in some breakpoints (`import pdb; pdb.set_trace()`) in order to step through so we can diagnose what `Unable to install self` refers to

[2018-02-24 12:06] dachary commented on #3061
It would be great to have detailed Q/A scripts that [volunteers with a lot of good will but experience with SecureDrop](https://forum.securedrop.club/t/call-for-help-q-a-volunteers-for-0-6/440) could run manually. Do we have that already ?

[2018-02-25 01:52] edenemmanuel commented on #2605
Netgate has another firewall, the [SG-4860](https://store.netgate.com/SG-4860.aspx). For a SecureDrop administrator's needs, it is functionally similar to the SG-2240. Cost wise, it is currently US$749, which is a tad bit more expensive than the SG-2240 used to be.

This isn't necessarily a problem with procurement in enterprise environments, like those in larger news organizations and NGOs. But i

[2018-02-25 21:19] edenemmanuel opened #3069 "Outdated references to Mac OS X need to be updated to macOS in docs"
# Bug
## Description

In the documentation, there are numerous references to Mac OS X. Apple's desktop operating system, after a couple of changes, is now officially macOS. Furthermore, there are a couple references to macOS in the documentation, next to references to Mac OS X.

Thus, in order to look up to date (documentation functionally appears to work on the latest version of macOS "High Sierr

[2018-02-25 21:30] dachary commented on #2140
What about we start by trying a replacement, to the extent it is possible. I.e. keep just email notifications https://documentation.wazuh.com/current/user-manual/manager/manual-email-report/index.html and use their packages if possible https://documentation.wazuh.com/current/installation-guide/packages-list/index.html#ubuntu . Using the ossec migration documentation you suggested. It would make ab

[2018-02-26 01:10] usmanmuhd98 commented on #2531
Can I take this issue up?

[2018-02-26 14:48] emkll opened #3071 "Improve input validation in `manage.py`"
# Feature request

## Description

* The [sh](https://github.com/freedomofpress/securedrop/blob/develop/securedrop/manage.py:L35) function as well as the translate function it [helps](https://github.com/freedomofpress/securedrop/blob/develop/securedrop/manage.py:L35) could benefit from further validation of the [messages.pot](https://github.com/freedomofpress/securedrop/blob/develop/securedrop/tra

[2018-02-26 14:56] heartsucker commented on #3071
Marking this as `easy` since this is relatively contained to a single part of the code even though solving it might be a bit of a challenge.

[2018-02-26 18:46] #3069 closed

[2018-02-27 10:58] singuliere commented on #1236
I confirm that running a staging app server and removing `iptables -D INPUT -p tcp -m multiport --sports 80,8080,443 -m state --state RELATED,ESTABLISHED -m comment --comment "apt updates" -j ACCEPT` does not inpact apt-get update. It shadows all `--state ESTABLISHED,RELATED` INPUT rules.

[2018-02-27 17:00] pwnchief commented on #2918
@dachary  can i take this up..

[2018-02-27 17:03] heartsucker commented on #2918
@pwnchief As mentioned above, this is blocked by #1419 (which I'm getting to), but that ticket itself is blocked by at least #3033 and #2948. It will probably be a long while before we can merge anything you work on. I don't want to discourage you, but it can be disheartening to work on something and have the PR sit open for months.

[2018-02-27 17:05] pwnchief commented on #2918
Ohhhhh okay thanks for the recommendation. I will wait for the labels to clear up...

[2018-02-27 20:18] b-meson opened #3074 "Downloaded submissions should reflect the logged in journalist's status"
# Feature request

## Description

Currently on a SD production installation, if an installation has multiple journalists and any one journalist downloads a submission, the SD interface will show the submission as downloaded. It could be better to only show the files as download if the logged in journalist has downloaded the submission. I believe we already store this data in the database.

## Use

[2018-02-27 20:19] b-meson commented on #3074
I believe this correctly captured a statement made by @redshiftzero during an application code review session. Please correct me if I misunderstood the issue.

[2018-02-27 20:21] conorsch commented on #3074
The proposal here goes against the grain of the "shared inbox" strategy currently used by SecureDrop. For organizations that use journalists on a rotation for checking SecureDrop, it's meaningful and useful to have the "read" status be global.

The changed proposed here is certainly worth considering, but we should engage UX experts and solicit additional feedback from the training team before imp

[2018-02-27 22:37] #2976 closed

[2018-02-27 22:56] redshiftzero opened #3076 "Add simple GUI updater for Tails journalist workstation"
In #3026, we added two commands to `securedrop-admin` for checking for updates and updating `~/Persistent/securedrop`. We should have a simple GUI journalist updater that uses these two commands, along with `securedrop-admin tailsconfig` to update the journalist workstation. This would replace the routine use of the CLI for the journalist workstation. This was initially described in [#2976 (commen

[2018-02-28 01:32] #3031 closed

[2018-02-28 18:10] msheiny opened #3080 "Tooling to build arbitrary package versions without bumping repo"
# Feature request

## Description

The current `update_version.sh` script will bump versions BUT does  a lot of other tooling related to tags that are not always desired. We need more specific abstraction to just build higher versions of debian packages locally -- this would solve a lot of issues I'm currently hitting with upgrade testing in #3018 .

## User Stories

As a securedrop developer, I w

[2018-02-28 18:39] redshiftzero commented on #3061
For getting setup with prod VMs for testing, [this](https://docs.securedrop.org/en/latest/development/virtual_environments.html#production-vms) is the best documentation we have, and [this post](https://kushaldas.in/posts/setting-up-securedrop-0-5rc2-in-vms-for-qa.html) by @kushaldas is useful (version numbers will need bumping). In terms of QA scripts the most detailed generic (for any release) t

[2018-02-28 18:49] redshiftzero commented on #3061
In terms of 0.6-specific testing, here's a proposed checklist, focused on `securedrop-admin` given the significant changes there:

- [ ] `./securedrop-admin --help` reports useful feedback
- [ ] `./securedrop-admin setup` works in Tails
- [ ] `./securedrop-admin sdconfig` works in Tails
- [ ] `./securedrop-admin sdconfig` allows empty `sasl_domain`
- [ ] `./securedrop-admin install` proceeds witho

[2018-03-01 04:05] redshiftzero commented on #3061
## Fresh install `0.6~rc2` in prod VMs

### 0.6~rc2 specific testing

- [x] `./securedrop-admin --help` reports useful feedback
- [x] `./securedrop-admin setup` works in Tails
- [x] `./securedrop-admin sdconfig` works in Tails
- [x] `./securedrop-admin sdconfig` allows empty `sasl_domain`
- [x] `./securedrop-admin install` proceeds without issue after Ansible version bump
- [x] `./securedrop-admin

[2018-03-01 09:00] #1697 closed

[2018-03-01 11:02] dachary commented on #3061
There are commits to merge back to develop from yesterday's action.

<pre>
$ git --no-pager  log --oneline --cherry-mark --right-only origin/develop...origin/release/0.6
+ 658088bb SecureDrop 0.6~rc2
+ e29bdd74 Merge pull request #3077 from freedomofpress/bump-grsec-metapackage-to-4.4-kernels
+ ab2a05e0 Updates config tests for new kernel image version
+ eb88a67b Updates docs for new kernel image

[2018-03-01 11:07] dachary commented on #3061
I see we are creating 0.6 packages and tags. Could we please switch to [using 0.6.0 instead](https://forum.securedrop.club/t/proposal-for-a-new-release-cycle-based-on-stable-branches/410)? So we have a uniform naming scheme.

[2018-03-01 12:23] dachary commented on #2568
We did not see this error in the past few months, closing as cannot reproduce.

[2018-03-01 12:23] #2568 closed

[2018-03-01 14:38] kushaldas opened #3085 "New source can not login after db reset"
# Bug

## Description

A new source can not login to the source interface. It generates the

## Steps to Reproduce

- ssh into the app server.
- `sudo su`
- `cd /var/www/securedrop`
- `./manage.py reset`
- `service apache2 restart` or `dpkg-reconfigure securedrop-app-code`
- Try to login to the source interface

## Expected Behavior

A new source should be able to login and submit documents.

## A

[2018-03-01 15:01] msheiny opened #3086 "Re-engineer FPF apt infrastructure"
# Feature request

## Description

The current deployment apt architecture uses a combination of full-stack servers and aptly to manage and publish snapshots. These are additional host(s) we need to maintain and secure which is overkill in this magical age of cloud storage services. I also argue that the current architecture is more susceptible to DDoS in it's current format since there is no orig

[2018-03-01 15:14] dachary commented on #3085
@kushaldas are you able to reproduce the bug with

* sudo -u www-data bash
* cd /var/www/securedrop
* /manage.py reset

Just to make sure this is not a permission problem introduced by the fact that the manage.py command is run by root.

[2018-03-01 15:16] kushaldas commented on #3085
And @dachary is right. Closing the issue.

[2018-03-01 15:16] #3085 closed

[2018-03-01 16:08] msheiny commented on #3061
So I thought this was important ... but I just performed an upgrade and confirmed that the old `3.14.79-grsec` kernel was still in the boot menu. This is important so if any instances have issues they can roll back temporarily.

[2018-03-01 16:49] #2962 closed

[2018-03-01 16:50] eloquence commented on #3086
I would like @emkll to weigh in here from a risk assessment perspective. Generally, when changes impact our security exposure, we should very carefully compare:
- current risk profile
- risk profile after suggested change
- risk profile after alternative (e.g., hardening current setup)

[2018-03-01 18:10] msheiny commented on #3061
## Upgrade install `0.6~rc2` in prod VMs

### 0.6~rc2 specific testing

- [x] `./securedrop-admin --help` reports useful feedback
- [x] `./securedrop-admin setup` works in Tails
- [x] `./securedrop-admin sdconfig` works in Tails
- [x] `./securedrop-admin sdconfig` allows empty `sasl_domain`
- [ ] `./securedrop-admin install` proceeds without issue after Ansible version bump
- [ ] `./securedrop-adm

[2018-03-01 18:14] emkll commented on #3086
I agree with @msheiny , the less servers the better. Package signatures should guarantee the integrity and authenticity of packages. There would definitely be an improvement in security (mainly due to less attack surface) and a reduction in maintenance costs.

However, the use of these services may increase the ability for an adversary to fingerprint of SD instances. If we would eventually want to

[2018-03-01 18:18] kushaldas opened #3088 "./securedrop-admin setup misses to update Ansible to 2.4.2"
# Bug

This is in the update story from 0.5.2.

## Steps to Reproduce

To do QA work for `0.6-rc2` I moved into the tag, and ran the following command which worked as it was supposed to do:  `./securedrop-admin setup`.

Next, as part of the QA process I did the following steps.

- `source .venv/bin/activate`
- `cd install_files/ansible-base`
- `ansible-playbook -vv --diff sequredrop-qa.yml`

Pleas

[2018-03-01 18:26] emkll commented on #3061
## Fresh install `0.6~rc2` in prod VMs

### 0.6~rc2 specific testing

- [x] `./securedrop-admin --help` reports useful feedback
- [x] `./securedrop-admin setup` works in Tails
- [x] `./securedrop-admin sdconfig` works in Tails
- [x] `./securedrop-admin sdconfig` allows empty `sasl_domain`
- [x] `./securedrop-admin install` proceeds without issue after Ansible version bump
- [x] `./securedrop-admin

[2018-03-01 18:55] kushaldas commented on #3061
## Update from '0.5.2' to  `0.6~rc2` in prod VMs

### 0.6~rc2 specific testing

- [x] `./securedrop-admin --help` reports useful feedback
- [x] `./securedrop-admin setup` works in Tails  (But, I also had to file #3088)
- [x] `./securedrop-admin sdconfig` works in Tails
- [x] `./securedrop-admin sdconfig` allows empty `sasl_domain`
- [x] `./securedrop-admin install` proceeds without issue after Ans

[2018-03-01 18:55] elgreg opened #3089 "Stuck waiting for network configuration"
`./securedrop-admin install` fails and mon and app boxes become unreachable

SecureDrop v0.5.2
Tails (admin box) - 3.3

After running `./securedrop-admin install`, the app and mon boxes both reboot after some time.

Unfortunately, they both then hang waiting for Network Configuration.

![img_6954](https://user-images.githubusercontent.com/40772/36863473-cc2e2720-1d57-11e8-99d6-af294497fd2e.PNG)
![

[2018-03-01 19:01] emkll opened #3090 "Syscheck should not monitor integrity of Tor hidden service private keys"
# Bug

## Description

#2963 introduced syscheck monitoring of /var/lib/tor/services. @redshiftzero pointed out that with these changes, Tor hidden service private keys are being monitored.
While OSSEC will only send an email upon changes to the file and the hash should always remain on the mon server as the key should not change, the hostname file should be sufficient to monitor the integrity of

[2018-03-01 19:03] msheiny commented on #3089
hey @elgreg can you provide hw details of the machine you are running from? We've been using this script to try and extract info from instances without exposing too much information. https://github.com/freedomofpress/support-server-facts. Most importantly I recommend that you boot into one of the servers in `single user mode` and check to see if your interfaces are even showing up as expected.

Fr

[2018-03-01 19:06] conorsch commented on #3089
Yes, platform info would be quite useful here. We'll be updating the kernels used in SecureDrop as part of the upcoming 0.6 release (slated for 2018-03-13). Hopefully they'll work for you, but more info required.

[2018-03-01 19:32] elgreg commented on #3089
Thanks for the quick reply! https://github.com/freedomofpress/support-server-facts 404s for me.

Is there a command I can run that will help to give you various hardware info quickly?

If I boot into the mon server as the root user and `less /etc/network/interfaces` I get the following:

[code]

I hand-typed this starting at that screen so apologies for the copy-paste. 😁

Here are the results of a

[2018-03-01 19:45] msheiny commented on #3088
Confirmed. I'm also seeing this.

[2018-03-01 20:03] msheiny commented on #3088
Soooo looks like the .venv got moved to `admin/.venv` ...but the existing one is still in-place ... so its not really a bug but I think perhaps we should clean it up as part of the `securedrop-admin` script?

[2018-03-01 21:02] redshiftzero commented on #3090
Reopening this so we make sure the change brought into develop in #3091 is merged into the 0.6 release branch

[2018-03-01 21:06] msheiny opened #3095 "Mirror/snapshot all upstream repos"
# Feature request

## Description

There are a number of inherent cons with the current strategy allowing deployed securedrop instances to directly grab the latest updates from upstream ubuntu repos:

1. This has the possibility to break the system in un-foreseen ways. We've seen this with `tor` which lead to use mirroring and snap-shoting those repos. Although we have'nt seen it YET in ubuntu - t

[2018-03-02 00:46] redshiftzero commented on #3090
Closed by #3094

[2018-03-02 00:46] #3090 closed

[2018-03-02 01:01] eloquence opened #3096 "docs: Document `securedrop-admin update` and `securedrop-admin check_for_updates`"
# Bug

## Description

SecureDrop 0.6 introduces a `securedrop-admin update` and a `securedrop-admin check_for_updates` command (https://github.com/freedomofpress/securedrop/pull/3026). This is great as it significantly simplifies the administration of Tails workstations. However, these commands are not referenced in the documentation yet.

It is worth noting that the `update` command also checks

[2018-03-02 01:04] redshiftzero commented on #3096
Thanks for filing @eloquence - adding a section about updating the SecureDrop Tails workstation in the [Administrator Guide](https://docs.securedrop.org/en/latest/admin.html) should do the trick.

[2018-03-02 05:06] kushaldas commented on #3088
Means the QA instructions also need an update :) Thank you for finding this.

[2018-03-02 09:10] dachary commented on #3088
@kushaldas would you be so kind as to try https://github.com/freedomofpress/securedrop/pull/3092 to confirm it works for you?

[2018-03-02 14:44] dachary commented on #3061
Only cherry-picks in the `release/0.6` as shown by the **=** sign which indicates two commits have the same `patch-id`.

<pre>
$ git --no-pager  log  --no-merges --oneline --cherry-mark --right-only origin/develop...origin/release/0.6
= 4ec882bb Monitor only hostname in /var/lib/tor/services
= 1b67299b journalist: kindly ask to check the mail
</pre>

[2018-03-02 14:47] emkll commented on #3061
## Fresh install `0.6~rc2` in prod VMs

### 0.6~rc2 specific testing

- [x] `./securedrop-admin --help` reports useful feedback
- [x] `./securedrop-admin setup` works in Tails
- [x] `./securedrop-admin sdconfig` works in Tails
- [x] `./securedrop-admin sdconfig` allows empty `sasl_domain`
- [x] `./securedrop-admin install` proceeds without issue after Ansible version bump
- [x] `./securedrop-admin

[2018-03-02 15:08] msheiny opened #3097 "Enable journalists to view, download and decrypt replies deleted from source interface"
# Feature request

## Description

We currently ask sources to delete replies from journalists, through the following language.

someone learns your codename, please delete all replies when you're done
with them. This also lets us know that you are aware of our reply. You can
respond by submitting a new message above.

This is both inaccurate (deleting replies does not intuitively convey informati

[2018-03-02 16:10] msheiny commented on #3097
To clarify, yeah i know there is a counter on each message .. I guess a journalist could infer that `well there is a missing reply because i see a `2-code-name-reply.gpg` and  a `4-code-name-reply.gpg` but no `3-code-name-reply.gpg` .... I dont think thats a good UI experience though. It also doesnt help in the situation where the last journalist reply is the last message in the convo chain.

[2018-03-02 18:26] redshiftzero commented on #3088
Reopening until we cherry-pick the change into `release/0.6`

[2018-03-02 19:46] this-is-ian commented on #3089
Hello @msheiny I'm working with @elgreg on this installation. We are using two of the recommended Intel NUCs for the servers This is the model with 8GB RAM and Samsung 250GB SSD drives https://www.newegg.com/Product/Product.aspx?Item=N82E16856102144

I'm currently looking at the firewall config as well and double-checking it against the instructions.

[2018-03-02 20:50] redshiftzero commented on #3088
done in #3098

[2018-03-02 20:50] #3088 closed

[2018-03-02 21:20] jcurrutia commented on #2981
Please, someone help me with this issue.
JC

[2018-03-02 21:23] redshiftzero commented on #2981
Hi @Anonymous26 - did you get a chance to look at this?

Apologies for the delay @jcurrutia, we'll see if we can get a fix for this out.

[2018-03-02 21:31] conorsch commented on #3060
Unable to reproduce problems on the latest `release/0.6` branch. I've started cloning the git repo directly in Tails as a closer approximation to actual Admin usage. The `9p` mounting strategy continues to cause problems for me, so I'll stick with the clone option and work from remote branches.

Closing the issue—if anyone has lingering problems, comment here or reopen.

[2018-03-02 21:31] #3060 closed

[2018-03-03 01:08] redshiftzero opened #3101 "Update admin guide for behavior of refactored sdconfig"
## Description

The section in the administrator guide on [updating server config](https://docs.securedrop.org/en/latest/admin.html#updating-system-configuration) should be updated for the improvements to sdconfig in #2758, specifically:

* Admins should no longer manually need to edit `site-specific`

* Admins should not use `./securedrop-admin sdconfig --force` as `./securedrop-admin sdconfig` e

[2018-03-03 04:10] redshiftzero commented on #3061
# Upgrade 0.5.2 -> `0.6-rc3` in prod VMs

## 0.6~rc3 specific testing

- [x] `./securedrop-admin --help` reports useful feedback
- [x] `./securedrop-admin setup` works in Tails
- [x] `./securedrop-admin sdconfig` works in Tails
- [x] `./securedrop-admin sdconfig` allows empty `sasl_domain`
- [x] `./securedrop-admin install` proceeds without issue after Ansible version bump
- [x] `./securedrop-admi

[2018-03-03 15:08] usmanmuhd98 commented on #2890
I was interested to work on this particular issue.
I had a few questions:
1. When connecting with the api from the source interface, are we not giving away access to the journalist interface website?
2. Why can we not just run a temporary Database where the data is stored as soon as it is uploaded from the source and the contents are copied to an isolated database and deleted from the permanent da

[2018-03-04 11:46] aydwi commented on #308
I've been reading about this topic, and it is most definitely the idea I'd like to pursue under Google Summer of Code 2018.

[2018-03-04 14:02] ageis commented on #308
On the Debian FAQ for [ReproducibleBuilds](https://wiki.debian.org/ReproducibleBuilds/About): Will Ubuntu use "reproducible builds" as debian is planning to do?
Response circa 2013:
| With very few exceptions, nearly all of Debian's work on this will just be going into the packages that form part of the package build toolchain, and as such Ubuntu will inherit it over the natural course of
merging

[2018-03-05 13:26] Anonymous26 opened #3105 "Update installer.patch (mentioned in the virtualizing_tails.rst) with respect to Tails 3.5"
# Bug

## Description

The [installer.patch](https://docs.securedrop.org/en/latest/development/virtualizing_tails.html) is outdated (fails on Tails 3.5).

## Steps to Reproduce
1. In tails VM create a file installer.patch (copy and paste the patch from virtualizing_tails.rst)
2. Run the following command in the terminal `sudo patch -p0 -d/ < installer.patch`

## Actual Behavior
`root@amnesia:/home

[2018-03-05 18:21] redshiftzero commented on #3101
Resolved in #3102 and #3103

[2018-03-05 18:21] #3101 closed

[2018-03-05 19:16] redshiftzero commented on #2531
Resolved in #3073

[2018-03-05 19:16] #2531 closed

[2018-03-05 20:47] emkll commented on #2436
This is a great idea @msheiny. It seems like the practice varies: `stretch-updates` for example, uses 1 week, [tor](https://deb.torproject.org/torproject.org/dists/stretch/Release) uses 40 days, and others simply don't have a `Valid-Until` date ([xenial](http://archive.ubuntu.com/ubuntu/dists/xenial/Release), [xenial-updates](http://archive.ubuntu.com/ubuntu/dists/xenial-updates/Release), [xenial-

[2018-03-05 21:37] redshiftzero commented on #1975
More confusion about this feature was reported. Users think that because the screen went blank that someone how their session is gone or lost. I'm curious what you think about this @ei8fdb @belenbarrospena.

[2018-03-05 23:54] redshiftzero opened #3107 "[0.6.0] Upgrade SecureDrop instances to Tor 0.3.2.10"
## Description

We should QA [Tor 0.3.2.10](https://blog.torproject.org/new-stable-tor-releases-security-fixes-and-dos-prevention-03210-03110-02915) as part of SecureDrop 0.6.0.

## User Stories

As a SecureDrop user, I want to be running the latest stable version of all software.

[2018-03-06 00:30] redshiftzero opened #3108 "[0.6.0] securedrop-admin setup fails to install apt dependencies on Tails 3.6~rc1"
## Description

A short summary of the issue.

## Steps to Reproduce

From a fresh Tails 3.6~rc1 VM:

[code]

## Expected Behavior

All is merry and well and the virtualenv is set up

## Actual Behavior

[code]

## Comments

[code]

returns nothing

[2018-03-06 00:32] conorsch commented on #3108
Curious whether the `-v` option would provide sufficient verbosity to debug here—otherwise we'll have to run the `apt-get install` command manually with the list of packages. I suspect apt pinning preferences are the culprit here, hopefully something that will be shaken out prior to stable, but definitely something we want to understand fully as soon as possible.

[2018-03-06 02:28] redshiftzero opened #3109 "[0.6.0] securedrop-admin -v setup not equivalent to securedrop-admin setup -v"
## Description

`securedrop-admin -v setup` and `securedrop-admin setup -v` should have the same behavior.

## Steps to Reproduce

In your Tails VM in `~/Persistent/securedrop`:

1. Run `securedrop-admin -v setup`.

2. Run `securedrop-admin setup -v`

## Expected Behavior

These two commands are equivalent.

## Actual Behavior

[code]

## Comments

`./securedrop-admin -v setup` should not return a

[2018-03-06 02:34] redshiftzero opened #3110 "[0.6.0] duplicated help string for update and check_for_updates"
## Description

Help strings are accidentally duplicated for two subcommands of `securedrop-admin`

## Steps to Reproduce

`./securedrop-admin -h`

## Expected Behavior

You get a unique string describing each possible command

## Actual Behavior

[code]

[2018-03-06 10:49] belenbarrospena commented on #1975
I don't have much context, so please take my comments with a pinch of salt.

I think users' confusion is understandable: SecureDrop is not giving them enough feedback as to what's happening. As the description very well observes: we need some explanation somewhere :)

I quite like the idea of displaying something fake or funny. I remember Basecamp used to show Maru videos in their empty pages. The

[2018-03-06 11:01] singuliere commented on #3108
libc6 in tails 3.6 is 2.24.11+deb9u3 (from sid) and apt-get install libc6-dev (from stretch) will fail because it depends on 2.24.11+deb9u1. apt-get install libpython2.7-dev will also fail for the same reason.

https://labs.riseup.net/code/issues/15383

[2018-03-06 11:32] kushaldas commented on #3108
It seems to be a packaging issue in tails/debian side.

[code]

[code]

[2018-03-06 11:37] kushaldas commented on #3108
Temporary solution: `As a temporary workaround you can add stretch-proposed-updates to your APT sources.`

Will be fixed in the next build of Tails. Details are in https://labs.riseup.net/code/issues/15383.

[2018-03-06 12:14] dachary commented on #1975
Hovering or typing in the page will show the content again.

[2018-03-06 17:05] kushaldas commented on #3108
[code]

I have added the above line in my sources.list, setup worked well.

[2018-03-06 17:45] redshiftzero commented on #3108
Great, thanks @singuliere and @kushaldas - I'll leave this open for any other QA-ers and we can close when the next Tails `rc` is out

[2018-03-06 20:41] redshiftzero commented on #3110
Closed by #3115 and #3112

[2018-03-06 20:41] #3110 closed

[2018-03-07 00:30] Anonymous26 commented on #2981
@redshiftzero  I'm really sorry I totally forgot about this issue, this won't happen again.

[2018-03-07 00:31] conorsch commented on #2981
Thanks for following up, @Anonymous26. Glad to have you involved in future work—we wanted to make sure the fix got out in the upcoming release, and we're on track for that.

[2018-03-07 00:34] redshiftzero commented on #2981
No worries @Anonymous26 :)

[2018-03-07 10:24] usmanmuhd98 commented on #3071
I would like to work on this issue.

[2018-03-07 11:12] dachary commented on #3071
@usmanmuhd98 consider yourself assigned!

[2018-03-07 20:53] redshiftzero commented on #3105
Reopening, there's a small whitespace difference in the patch in #3104

[2018-03-07 22:00] redshiftzero commented on #2981
Hey @jcurrutia - we have a fix for this now (#3116, #3118) which will be released in [SecureDrop 0.6 on Tuesday, March 13th](https://securedrop.org/news/securedrop-06-pre-release-announcement). After that date, you'll be able to prove .onion ownership to Digicert, but let us know if you encounter any other problems.

[2018-03-07 22:00] #2981 closed

[2018-03-08 14:11] kushaldas opened #3122 "[RFE] Add developer documentation for Python type hints"
# Feature request

## Description

We need developer documentation explaining Python type hints, all related reading materials, and how to use the mypy tool for our code base.

## User Stories

I am a new developer, I want to know how to add type annotations/hints in my Python code.

[2018-03-08 15:21] dachary opened #3124 "/account/reset-2fa-hotp does not catch TypeError"
# Bug

## Description

When modifying the HOTP as a journalist (not in the admin interface), TypeError are not caught and a stack trace shows when debug is activated. Otherwise it would bubble to whatever catches server errors.

## Steps to Reproduce

* login as a journalist
* go to /account/account
* click /account/reset-2fa-hotp
* enter three letters
* click save

## Expected Behavior

An error

[2018-03-08 16:00] ghost opened #3126 "Display localized interface according to browser preference"
# Feature request

## Description

For each localized web page, send translations to all languages at all times and let CSS selector figure out the proper language to display according to the browser preference. Because the Tor browser does not send the Accept-Language there is no other way to automatically display the preferred language.

## User Stories

As a user I would like the source / journ

[2018-03-08 16:01] dachary commented on #3126
@jobava here it is!

[2018-03-08 17:17] redshiftzero commented on #3096
Closed by #3117 and #3120

[2018-03-08 17:18] #3096 closed

[2018-03-08 20:13] redshiftzero commented on #3124
Nice catch, I can reproduce this:

![screen shot 2018-03-08 at 12 12 03 pm](https://user-images.githubusercontent.com/7832803/37173956-fb929a9c-22c9-11e8-9aea-7a40770332c3.png)

[2018-03-09 00:27] eloquence opened #3130 "docs: Provide specific hardware recommendations for Tails workstations"
# Bug

## Description

Per discussion with @conorsch, the current documentation regarding the admin and journalist workstations in https://docs.securedrop.org/en/stable/hardware.html#specific-hardware-recommendations is rather vague. Tails has known issues with several Mac models, for example (["Tails is not working on every Mac model"](https://tails.boum.org/install/mac/index.en.html), [known iss

[2018-03-09 00:43] redshiftzero commented on #3109
This was resolved in #3129 and #3111

[2018-03-09 00:43] #3109 closed

[2018-03-09 01:12] redshiftzero commented on #3124
Fixed by #3128 and #3127

[2018-03-09 01:12] #3124 closed

[2018-03-09 15:30] emkll opened #3133 "Duplicate apt sources for tor-apt.freedom.press"
# Bug

## Description

There are two apt sources that contain tor-apt.freedom.press.

## Steps to Reproduce

ssh into app or mon server
`$ ls /etc/apt/sources.list.d/`

## Expected Behavior

There should only be one entry for tor-apt.freedom.press.

## Actual Behavior

There are two files that have `deb https://tor-apt.freedom.press trusty main` in them:
- `/etc/apt/sources.list.d/tor_apt_freedom_

[2018-03-09 15:36] msheiny opened #3134 "Duplicate "duplicate tor apt source ticket""
# Bug

## Description

@emkll wrote a ticket reporting the duplicate tor apt repos which is a duplicate of #2938

## Steps to Reproduce

* Go to https://github.com/freedomofpress/securedrop/issues/
* Look for `duplicate tor`
* Drink some tea and lean back in your chair with a smug look on your face
* Remember it's friday

## Expected Behavior

There should be one ticket for a duplicate tor issue

[2018-03-09 15:43] emkll commented on #3133
Duplicate of #2938, as noted by the very useful #3134

[2018-03-09 15:43] #3133 closed

[2018-03-09 15:44] msheiny commented on #3134
Dang it @emkll i thought we were going to have a long-running ticket battle .... :(

[2018-03-09 15:44] #3134 closed

[2018-03-09 17:55] emkll opened #3135 "securedrop-admin install does not uninstall generic kernel packages"
# Bug

## Description

When performing a clean install on a physical instance with `ubuntu-14.04.5-server-amd64` iso,  the installer does not remove generic kernel packages, in this instance, `linux-image-4.4.0-115-generic`.
## Steps to Reproduce

- Install SecureDrop on Ubuntu Server 14.04.5.
- `ssh app` or `ssh mon`
- `sudo apt list --installed | grep linux-image`
- observe the presence of the g

[2018-03-09 18:44] conorsch commented on #3135
Trying to reproduce now. Let's consider forcing the new SD kernel (4.4.115-grsec) via `/etc/default/grub` in the metapackage, so we're certain about what the machines will attempt on next boot.

[2018-03-09 19:32] emkll commented on #3135
Justed tested with 0.6-rc4: Because Ubuntu generic kernels are `4.4.0-115-generic` and apt.freedom.press serves `4.4.115-grsec`, grsec kernels will have precedence on boot.

[2018-03-09 21:06] msheiny opened #3136 "Periodically enforce state on running servers with ansible pull-like logic"
# Feature request

## Description

We use a TON of ansible to enforce state at run-time but do not have any smart logic to maintain system state over the life of the system. Right okay.. we do have a few examples where we have pushed changes out via debian post-install hooks but this is really frail.  Until we have something like #2966 or a magical FPF Leprechaun that travels to each instance to t

[2018-03-09 21:56] redshiftzero commented on #3136
Thanks for filing @msheiny - this definitely seems like a promising approach.

For the interested observer, "spookyinstall" refers to the security vulnerability in #2472. I certainly agree that we want to carefully vet everything (Ansible or otherwise) that will run on the servers, but in terms of whether it's better to use our own roles of community maintained ones, there are some good points in

[2018-03-09 22:32] msheiny commented on #3136
Whoopss , apologies for any confusion here. To clarify, when i said `community maintained modules`, i am referring to ansible modules themselves (pieces of python code that will actually do the leg work on the server in question). This is different than a role, which contains the playbook logic (written in yaml) which is what #2360 refers to. I have no comment either way on community role inclusio

[2018-03-10 15:33] hariharanj4v4 opened #3139 "Demo site content incorrect"
# Bug

## Description

The code, "jhco go7v cer3 ej4l", given at "https://securedrop.org/demo", referred to as a two-factor code for the journalist interface is incorrect and misleading to the viewers.

## Expected Behavior
Based on what is given at "http://demo.securedrop.club/", it must have been referred to as the base32 version of the QR code.

## Comments

I would suggest to maintain a single

[2018-03-10 16:50] belenbarrospena commented on #1975
great. That means we might get away with not even providing instructions as to how to bring back the content :)

I guess next step is providing a mock up / prototype of how we think the page could look like.

Before building it, it would be good to test it with users though, since I've never designed a feature like this before. Remote, unmoderated user testing might do for something like this.

[2018-03-11 16:59] kvinton commented on #2508
I can update the icons based on @huertanix's suggestions and submit a PR.

[2018-03-12 07:57] eloquence commented on #3130
Okay, after researching recommendations we've given directly, as well as the known issues, I intend to include language to the following effect:

- T420 (which we already recommend for the SVS) is a good choice for workstation hardware; other Lenovo T4* series models should work as well as long as they have sufficient RAM and there are not known Linux issues (cf. ThinkWiki) or Tails-specific issue

[2018-03-12 16:08] usmanmuhd98 commented on #3071
I was going through the code. It is that the shell is invoked for the git operations which do not run when shell=False. To avoid that problem, I think the git library in python may help.
If not, how else should I validate the input?

[2018-03-12 16:43] heartsucker commented on #3071
I would personally reject a PR that pulled in the whole git lib for this because that's too much for this simple thing. I think we can do some manual validation ourselves and (ideally) yank the `shell=True` line from the subprocess call.

[2018-03-12 18:08] kushaldas commented on #3061
# Upgrade 0.6-rc3 -> `0.6-rc4` in prod VMs

## 0.6~rc4 specific testing

- [x] `./securedrop-admin --help` reports useful feedback
- [x] `./securedrop-admin setup` works in Tails
- [x] `./securedrop-admin sdconfig` works in Tails
- [x] `./securedrop-admin sdconfig` allows empty `sasl_domain`
- [x] `./securedrop-admin install` proceeds without issue after Ansible version bump
- [x] `./securedrop-ad

[2018-03-12 18:29] redshiftzero commented on #3135
Since we've verified the grsec kernels we're releasing tomorrow will have precedence on boot, and we're approaching the release deadline for 0.6.0, I'm moving this to the 0.6.1 milestone (a bugfix release)

[2018-03-12 19:30] #3122 closed

[2018-03-12 19:56] this-is-ian commented on #3089
I've taken a few more cracks at this from the firewall end of the configuration, running the install, reformatting the servers after each attempt, etc. and still running in to the same roadblock.

**Scenario:**
• I initiate the installer from the admin workstation.
• It proceeds up to the point where it triggers the servers to reboot.
• During the reboot process, both servers hang up at...
_Waitin

[2018-03-12 20:26] msheiny commented on #3089
heyy @this-is-ian  @elgreg !

I'd love to help you out more --- so lets move this issue to our [discussion forum](https://forum.securedrop.club/).  I've went ahead and opened a support issue copying and pasting most of this content --> https://forum.securedrop.club/t/stuck-waiting-for-network-configuration-after-install/481

Unless this turns out to be a software bug, then we can re-open a new iss

[2018-03-12 20:26] #3089 closed

[2018-03-12 20:53] this-is-ian commented on #3089
Thank you @msheiny

[2018-03-12 22:14] conorsch commented on #3139
https://securedrop.org/ now redirects to https://securedrop.org/demo, so the problem should be resolved. Thanks for reporting, and let us know if you have any further trouble, @hariharanj4v4 !

[2018-03-13 07:33] hariharanj4v4 opened #3146 "Typo in the demo site"
# Bug

## Description

Under the "GPG encryption" title of the "http://demo.securedrop.club/" site, there is a typo with the word, "encrypted". It should have been, "decrypted", since "...encrypted with a GPG private key...", is a semantically wrong sentence.

## Expected Behavior

Finally, all submissions are decrypted with a GPG private key, which you can download here.

## Actual Behavior

Fina

[2018-03-13 07:35] hariharanj4v4 commented on #3139
Thanks for resolving. There is one more bug with the demo site. It is a typo and I have created a new issue on that. Kindly consider resolving it ASAP.

[2018-03-13 08:45] dachary commented on #3146
Thanks for the reminder, this will be visible next time the production site is updated.

[2018-03-13 08:45] #3146 closed

[2018-03-13 11:51] redshiftzero commented on #2594
This is now automated (via script and docs in #3081), so closing. Thanks for filing this @toast :smile:

[2018-03-13 11:51] #2594 closed

[2018-03-13 13:54] redshiftzero commented on #2510
Good points @huertanix. After discussing this at the Tor meeting today, since Orfox has not been audited and does not have all the privacy protections as the official Tor Browser, it should not be used for high security applications. So the way to go for this ticket is a customized warning for the Orfox mobile UA that lets sources know that official Tor Browser is the safest option, and encourage

[2018-03-13 14:15] emkll commented on #3061
I have tested the kernel metapackage changes as part of 0.6-rc5

## Classic upgrade scenario (pre-Feb 16) 0.5.2 -> 0.6:
[x] Kernel 3.14 is installed
[x] Kernel 4.4 is installed
[x] Kernel 4.4 boots by default

## Alternate upgrade scenario (SD instance installed after Feb 16) 0.5.2 -> 0.6:
[] Kernel 3.14 is installed
[] Kernel 4.4 is installed
[] Kernel 4.4 boots by default

[2018-03-13 16:56] redshiftzero opened #3148 "Remove old 3.14.79 grsec kernel"
## Description

In SecureDrop 0.6, we added the old grsec 3.14.79 kernel package as a dependency to the `securedrop-grsec` metapackage to ensure that they would not be removed from instances that needed the old kernel as a fallback.

We should remove the 3.14.79 grsec kernel in a future version of the metapackage once any/all compatibility issues are resolved.

## User Stories

As a SecureDrop adm

[2018-03-13 16:58] redshiftzero commented on #2643
Update: thanks to @dachary, `pdf-redact-tools`  is in [Tails 3.6](https://tails.boum.org/news/version_3.6/index.en.html)

[2018-03-13 16:59] b-meson commented on #3130
@eloquence  I absolutely agree about the Lenovo Thinkpads. I know the hardware support for them is usually excellent and I know we (at FPF) have a lot of admins using them as Administrator Workstations. I personally use a T440 with 8Gb of RAM and it is rock solid. The additional benefit is that they are often well-stocked and you can often find them in stores, through hardware vendors etc.

We sho

[2018-03-13 17:17] redshiftzero commented on #3108
This was fixed in the final version of Tails 3.6, closing

[2018-03-13 17:17] #3108 closed

[2018-03-13 18:35] heartsucker opened #3151 "[pedantic] Change `uname -a` to `uname -r` in docs"
# Feature request

## Description

As noted [here](https://github.com/freedomofpress/securedrop/pull/3149#discussion_r174232585) by @emkell, the docs are technically wrong. In this paragraph,

[code]

We should say `uname -r` and not `uname -a`.

## User Stories

As a non-linux admin tasked with maintaining my org's SecureDrop, I don't want to see any unexpected or possibly confusing output.

[2018-03-13 20:02] msheiny commented on #3107
PEW PEW PEW. Change pushed to prod.

[2018-03-13 20:02] #3107 closed

[2018-03-13 21:58] DonnchaC commented on #2643
Super! Great job @dachary  :+1:

[2018-03-14 16:43] kaganjd opened #3155 "Directory includes .onion addresses that appear to be down"
# Bug

## Description
Clicking through https://securedrop.org/directory, the following connections hang/time out or say "unable to connect." They all have live landing pages that mention SecureDrop though. Not sure if this is because they are upgrading to the latest SecureDrop version, but wanted to file just in case.

Bloomberg- m4hynbhhctdk27jr.onion
Buzzfeed- ftugftwajmgsmoau.onion
CPJ- 2x2hb5y

[2018-03-14 18:20] #3151 closed

[2018-03-14 19:20] eloquence opened #3159 "UX: Distinction between read and unread content is too subtle"
# Feature Request

## Description

The distinction between read and unread content in the journalist interface is too subtle right now. We've had at least one report of an organization missing this feature entirely. See the screenshot below:

![unreadux](https://user-images.githubusercontent.com/213636/37425635-415c0dae-2781-11e8-8d0a-b592ffb5bd80.png)

We should discuss a few different UX approac

[2018-03-14 20:23] redshiftzero opened #3160 "Add `daily_reboot_time` option to securedrop-admin sdconfig and document it"
## Description

This is a followup to issue #1515. In the corresponding PR (#1590), the ability to manually edit `prod_specific.yml` to customize the `daily_reboot_time` was added. This enabled admins to control when their SecureDrop instances will upgrade and reboot.

However, we now discourage direct edits to `prod_specific.yml` in favor of using `./securedrop-admin sdconfig`. Additionally, the

[2018-03-14 20:40] eloquence commented on #2579
I'll take a crack at this as it will also help me to learn the terminology. @conorsch may poke you for a quick download in our next 1:1.

[2018-03-14 20:42] conorsch commented on #2579
Roger that, @eloquence, happy to help. I'll add that further clarification is likely needed to distinguish the _SecureDrop Submission Key_—or whatever it's canonical name becomes—from the OSSEC GPG public key, used for encrypting the OSSEC email alerts.

[2018-03-14 20:56] eloquence commented on #2297
Prominently explaining support options and issue reporting makes sense to me. @edenemmanuel, I will take a stab at this and ask for your sign-off on the PR.

[2018-03-14 21:33] redshiftzero commented on #1761
Quick note: since some news organizations are interested to use an API on the journalist interface for developing custom software for their organization's SecureDrop, it should stay JSON for simplicity and should be well-documented for other developers (thought: news organizations with the engineering time and interest to develop software for SecureDrop internally might be interested in upstreamin

[2018-03-14 21:52] #3130 closed

[2018-03-15 10:59] dachary commented on #3155
* Bloomberg- m4hynbhhctdk27jr.onion **OK**
* Buzzfeed- ftugftwajmgsmoau.onion **OK**
* CPJ- 2x2hb5ykeu4qlxqe.onion **NOT OK**
* Greenpeace New Zealand- ll6edwtpfl3zdwoi.onion **NOT OK**
* The Guardian- 33y6fjyhs3phzfjj.onion **NOT OK**
* NY Times- nyttips4bmquxfzw.onion **OK**
* Radio24syv- hpjw636qnt5avq62.onion **NOT OK**
* San Francisco Chronicle- nrwvazcz6figxpg5.onion **OK**
* USA Today- usat

[2018-03-15 13:08] #3011 closed

[2018-03-15 15:11] hoyla commented on #3155
The Guardian - 33y6fjyhs3phzfjj.onion - is now OK

[2018-03-15 20:31] heartsucker commented on #2877
Tracking progress:

- [ ] functional/test_admin_interface.py
- [ ] functional/test_journalist.py
- [ ] functional/test_source_notfound.py
- [ ] functional/test_source.py
- [ ] functional/test_source_session_timeout.py
- [ ] functional/test_source_warnings.py
- [ ] functional/test_submission_not_in_memory.py
- [ ] functional/test_submit_and_retrieve_file.py
- [ ] functional/test_submit_and_retrieve

[2018-03-16 10:06] heartsucker opened #3173 "Attempting to change a password right after logging in errors out"
# Bug

## Description

Part of the login hardening on SD is preventing OTP token reuse. This means if you login and within the 30 second window attempt to change your password (or take another action that requires token authentication), then you will receive an error message that may not be helpful.

## Steps to Reproduce

1. Login
2. Immediately attempt to change your password

Or

Run `test_user

[2018-03-16 10:41] heartsucker commented on #3173
Attempting to fix this breaks a lot of tests, and we might have to wait until we have finished moving everything over to pytest. The reason this has worked for so long is we've been mocking the token verification to always return true (which imo has always felt a little dangerous).

[2018-03-16 17:09] kushaldas commented on #1966
I have the following idea, please comment what do you all think.

## New configuration file

We will have a static configuration file at `/etc/securedrop/sdconfig.cfg`. This will use the old school  configuration syntax, This will ensure that we can use the [Python standard library](https://docs.python.org/2/library/configparser.html) to read this configuration in our codebase (without adding any

[2018-03-16 17:18] msheiny commented on #1966
@kushaldas  you mean ini format right? Just talking out loud here for everyone's benefit as it seems thats what you mean. ansible also has good support for that - so thats another benefit :+1:

[2018-03-16 17:43] kushaldas commented on #1966
Correct, the standard INI file (not the windows style though) :bus:

[2018-03-16 18:15] redshiftzero commented on #3173
Thanks for filing this @heartsucker. In the case you describe, the error message produced is indeed not helpful. This is what happens when I use a valid password and 2FA token (reused from login less than 30 seconds ago):

<img width="787" alt="screen shot 2018-03-16 at 10 34 48 am" src="https://user-images.githubusercontent.com/7832803/37535670-ad07f77c-2905-11e8-9a51-5ed4e59bde5c.png">

Due to o

[2018-03-16 21:23] eloquence commented on #3061
SecureDrop 0.6 went out as planned on March 13, closing. :)

[2018-03-16 21:23] #3061 closed

[2018-03-17 00:08] heartsucker commented on #3173
I think that would be a simple fix, but I think it would be possible to split `Journalist.login` to `Journalist.validate_credentials` where the former does hardening (token reuse, rate limiting) plus what the latter does (pw & token correct). I think this would solve it, but that's also more code. I was going to hold off on this until I got more of the tests sorted out since I think we might hit m

[2018-03-17 15:25] belenbarrospena commented on #1550
@redshiftzero described one of the possible workflows: the "curated" one (to give it some kind of name), in which admins / point people are in charge of allocating the incoming sources to journalists.

There is a second model that would be possible here: a "self-organising" one in which journalists "take" incoming sources themselves. Those sources then display as "assigned" or "taken" to all other

[2018-03-18 11:17] dachary commented on #2643
:blush:

[2018-03-18 11:17] #2643 closed

[2018-03-19 14:18] ei8fdb commented on #3076
@redshiftzero This seems like a really good idea.

My feeling is the  most realistic user story would be the last you've mentioned above about the admin.

The administrator would want the journalist user to be able to manage the workstation as *the administrator* benefits more directly, than the journalist - the journalist is doing the work, not the administrator.

A couple of questions that might

[2018-03-19 15:19] kushaldas commented on #1966
Here is an example configuration file created by code from my `config.py` in development VM.

[code]

[2018-03-19 15:22] kushaldas commented on #1966
Here is an example configuration file created by code from my `config.py` in development VM.

[code]

The `env` attribute of the `config.py` will be directly created inside of the `SDConfig.py` (using the same code),

[code]

[2018-03-19 16:29] msheiny opened #3176 "Switch to using git-lfs for image files"
# Feature request

## Description

Our git repository is rather large because of a lot of early binaries that were shoved into source control. We've stopped doing that but we continue to shove image file formats (`*.png` for example) into our docs which frequently get refreshed.

To prevent size creep, lets start using [git-lfs](https://git-lfs.github.com/) for all image files. This change will re

[2018-03-19 18:33] redshiftzero commented on #3076
So right now in this `qt-journalist-updater` branch, every time the workstation boots, it will check for updates - this part is transparent to the user. If updates are needed, the GUI pops up. This is also how the Tails updater works.

Yep, exactly. The time between updates is between 2-8 weeks (on the shorter side if we do a few bugfix releases).

5 minutes or so, 10 at the outset (even with Tor)

[2018-03-19 19:26] eloquence commented on #2881
Lowering priority since we have stopgap mitigation in place. Still leaving it as to be discussed for next sprint at the team level.

[2018-03-19 22:15] ei8fdb opened #3177 "Carry out a content review of SecureDrop user "source contact" pages"
## Description

Propose to carry out a content review of the page that SD user organisations have for sources with options to be contacted. For example, [this is what I see as a good example of a source contact page](https://www.icij.org/leak/).

This will look at the words on the page, and the communications channels the source has available to them (e.g. Signal, SecureDrop, encrypted email).

Th

[2018-03-19 22:41] dachary commented on #3177
For the record the documentation associated with the landing page documentation contains [content suggestions](https://docs.securedrop.org/en/latest/deployment/landing_page.html#landing-page-content-suggestions)

[2018-03-20 03:20] eloquence commented on #3135
@redshiftzero, @conorsch and I agreed earlier today that we'd like to skip a 0.6.1 release if at all possible, so removing this issue from the milestone and adding to 0.7.

[2018-03-20 03:20] eloquence commented on #3148
@redshiftzero, @conorsch and I agreed earlier today that we'd like to skip a 0.6.1 release if at all possible, so removing this issue from the milestone and adding to 0.7.

[2018-03-20 03:56] eloquence commented on #2760
Since we've disabled this check and don't see high importance of re-enabling, @conorsch @redshiftzero and I agreed to close this issue for the time being.

[2018-03-20 03:56] #2760 closed

[2018-03-20 08:32] ei8fdb commented on #3177
@dachary Thanks for that. Thats useful. Do you have an understanding of how that content came about? What are the SD users reactions to it? Thanks!

[2018-03-20 08:49] dachary commented on #3177
Two person asked me what the content page should look like, late 2017. I suspect I was not the only one :-) @olivemartini added the suggestions in [December 2017](https://github.com/freedomofpress/securedrop/pull/2752). Maybe she can explain what her motivation was?

[2018-03-21 16:27] #3105 closed

[2018-03-21 17:50] emkll opened #3180 "Remove generic kernel packages for existing installs"
# Bug

## Description

When performing a clean install on a physical instance with `ubuntu-14.04.5-server-amd64` iso,  the installer does not remove generic kernel packages, in this instance, `linux-image-4.4.0-115-generic`.
## Steps to Reproduce

- Install SecureDrop on Ubuntu Server 14.04.5.
- `ssh app` or `ssh mon`
- `sudo apt list --installed | grep linux-image`
- observe the presence of the g

[2018-03-21 18:51] conorsch commented on #2031
4) is still outstanding—haven't figured out how to make an `apt-get source <package>` display a custom message yet. During 0.6, however, we moved from 3.x kernels to 4.x kernels, and the rebuild process changed somewhat, which warrants documentation updates. The following changes should be made:

* [ ] Convert the old [grsecurity build repo](https://github.com/freedomofpress/ansible-role-grsecurit

[2018-03-21 18:54] eloquence opened #3182 "Implement support for OSSEC alerts via Signal behind a feature flag"
# Feature request

## Description

Due to the complexity of setting up GPG keypairs and the additional "push" benefit that a Signal messages provide, we would like to experiment with Signal as an alternative means of delivering security alerts from the Monitor Server.

## User Stories

As a SecureDrop administrator, I would like to receive a Signal message when there is an OSSEC alert about my Sec

[2018-03-21 18:55] eloquence commented on #1124
This is now WIP; see https://github.com/freedomofpress/securedrop/issues/3182 - closing this discussion.

[2018-03-21 18:55] #1124 closed

[2018-03-21 20:33] emkll commented on #3182
Since Signal has become a very widely adopted, easy to use and secure messaging solution, we have decided to explore the feasibility of using Signal for SecureDrop OSSEC alerts instead of GPG-encrypted email. Some preliminary work is underway in this branch: https://github.com/freedomofpress/securedrop/compare/experimental-signal-cli-0.6

A couple points that might be worthy of discussion:

1. **s

[2018-03-21 23:56] conorsch commented on #2031
Since the checklist above involves changes across several repos, I'm going to move to a dedicated issue, and cross-link external issues in the checklist to track progress over time.

[2018-03-22 00:13] conorsch opened #3185 "Update kernel source offer build docs"
# Feature request

## Description

In #2031 we outlined our procedure for managing source requests for our hardened kernels. The nitty-gritty docs on the steps are mostly in https://github.com/freedomofpress/ansible-role-grsecurity/blob/4a1d159a7bfd7b15caecfd7c42934b81c2863e50/docs/build.md That process, however, largely refers to the 3.x rebuild strategy, and under the 4.x kernels released with 0

[2018-03-22 01:08] eloquence opened #3186 "Show customized warning message to Orbot/Orfox users"
# Feature request

## Description

Currently Orbot/Orfox users are getting an incorrect warning (#2510). In that bug it was discussed that the correct resolution here is to show a custom warning to Orbot/Orfox users that we recommend using the desktop version of the Tor browser, given that Orbot/Orfox have not been audited and don't offer all the anonymity protections the desktop browser does.

##

[2018-03-22 01:09] eloquence commented on #2510
Split into new issue per above and added to near-term backlog, we should be able to handle this soon, and at that point we can close both these issues.

[2018-03-22 01:24] conorsch commented on #1249
The changes in #2714 added assert statements to validate that DNS is working, removing the need for Admins to run the verification commands manually as a debugging step. As written, those new checks would resolve this issue entirely.

However, in #2741, we prioritized a fail-fast-on-grsec strategy, which prevents the checks from usefully validating DNS early in the install process, since the `comm

[2018-03-22 17:07] redshiftzero commented on #3182
Thanks for this excellent writeup @emkll. Based on 4 alone I think that this issue will need to wait until we're running Xenial. Regarding sandboxing, I'd prefer not implementing a stopgap and instead implement this with all the hardening we think is appropriate for installing Java (😬) on the monitor server.

[2018-03-22 19:28] eloquence opened #3188 "Test and review current signal CLI branch"
# Task

As part of the larger Signal alert epic, #3182, this is a task to test and review the state of the current signal CLI branch (https://github.com/freedomofpress/securedrop/tree/experimental-signal-cli-0.6) and to make any obviously needed changes beyond the larger dependencies identified in the epic. @redshiftzero please close this task once you feel that sufficient verification work has be

[2018-03-23 00:13] redshiftzero commented on #2849
Looking at this, given the presence of:

[code]

in `helper_test_reply` it is unclear how this could arise. Currently running this in a loop to see if it pops up again

[2018-03-23 18:41] emkll commented on #3180
Directly calling `apt-get`  from the postinst script is not possible because the dpkg lock is already held by the install of `securedrop-config`. I see 2 approaches that would make sense:

1- Changing the securedrop-grsec metapackage options as follows:
`Priority: Essential` and `Conflicts : linux-image-generic ...`. Given that the linux-image-generic packages are optional priority, they should be

[2018-03-24 00:46] conorsch commented on #2938
I'll pick this one up for the current sprint. @aydwi if you did indeed start work on this, kindly let me know, otherwise I'll proceed.

[2018-03-24 01:09] aydwi commented on #2938
@conorsch I did not start working on this. You can proceed if you want

[2018-03-24 01:49] Anonymous26 commented on #3071
@usmanmuhd98 what is the status of this issue? Let me know If you are not working then i would like to give it a shot.

[2018-03-24 09:21] #3063 closed

[2018-03-24 09:52] dachary commented on #3071
@Anonymous26 I think you can give it a shot since there has not been activity in the past two weeks. @usmanmuhd98 if you're also working on it, please speak up now :-)

[2018-03-24 10:27] usmanmuhd98 commented on #3071
@Anonymous26 You can go ahead.
@dachary I am caught up with quite a lot of college work. Maybe I can take up a different issue once I am free.

[2018-03-26 08:44] kushaldas opened #3193 "[RFE] Script to convert config.py to static configuration file"
"Feature Request"

# Feature request

## Description

We need a script which will run at post install of the deb package  and create the static configuration file from the `config.py` file.

This is part of #1966.

## User Stories

[2018-03-26 08:55] kushaldas opened #3194 "[RFE] Update Ansible playbooks to create/update static configuration file"
# Feature request

## Description

After #3193 is fixed, we need to update Ansible playbooks to create (for new install) or update the static configuration file as required.

This is part of #1966

[2018-03-26 09:12] kushaldas opened #3195 "[RFE] Update sdconfig.py to read from static configuration file"
# Feature request

## Description

After #3193 is merged, we need to update `sdconfig.py` to read from the static configuration file instead of the the `config.py`. We will also have to remove all the hasattr/getattr calls from our codebase in a future PR.

This is part of #1966

[2018-03-26 20:37] b-meson opened #3197 ""Pre-Install Hardware Checklist" should link to recommended hardware"
# Feature request

## Description

The SecureDrop team has very specific hardware recommendations including the network firewall, the SecureDrop server and potentially laptops. The "Pre-Install Hardware Checklists" do not link to these.

## User Stories

As a SecureDrop administrator, I would like the install checklist to link to the specific hardware recommendations if I am following the "checkli

[2018-03-26 21:13] #2938 closed

[2018-03-27 19:28] eloquence commented on #1249
Sounds good! If I don't hear otherwise by tomorrow, will break #1 into a new task we can take on in the next sprint.

[2018-03-27 19:28] b-meson opened #3199 "securedrop-admin setup script fails with confusing errors"
# Bug

## Description

We previously had a virtualenv in `~/Persistence/securedrop/.venv` that had the packages needed to admin SecureDrop. In 0.6 we moved the location to `~/Persistence/securedrop/admin/.venv`. Right now, if you delete the _old_ path and run `./securedrop-admin setup -v`, the script errors out with an error.

## Steps to Reproduce

Note: I was on a 0.5.2 release before I checked

[2018-03-27 19:29] b-meson opened #3200 ""securedrop-admin setup" fails with confusing errors"
# Bug

## Description

We previously had a virtualenv in `~/Persistence/securedrop/.venv` that had the packages needed to admin SecureDrop. In 0.6 we moved the location to `~/Persistence/securedrop/admin/.venv`. Right now, if you delete the _old_ path and run `./securedrop-admin setup -v`, the script errors out with an error.

## Steps to Reproduce

Note: I was on a 0.5.2 release before I checked

[2018-03-27 19:33] b-meson commented on #3199
I clumsily opened two issues but #3200 should have more details. Closing as duplicate.

[2018-03-27 19:33] #3199 closed

[2018-03-27 20:19] dachary commented on #3200
Here is my theory about what happened:

* `rm -f admin/.venv/*` was done, or something similar leaving an empty but existing `admin/.venv` directory
* because `./securedrop-admin setup` tests only the existence of the `admin/.venv` directory, it assumed all is well. And then failed because well, `pip` was nowhere to be found
* when `admin/.venv` was entirely removed, `./securedrop-admin setup` cor

[2018-03-27 21:33] redshiftzero commented on #2849
Update: I ran the integration tests in a loop for ~8 hours without a reproducer. In the current code, given the presence of the assertion that makes sure the key to decrypt the reply is available (in [this comment](https://github.com/freedomofpress/securedrop/issues/2849#issuecomment-375498607)), I don't think this flake is possible anymore. If the key to decrypt is not available, then the test sh

[2018-03-27 21:33] #2849 closed

[2018-03-27 22:59] redshiftzero commented on #3076
Hey @kushaldas - as discussed on our one on one today, here's the current state of this branch (`qt-journalist-updater`): I'm curious if you have any protips based on your experience with PyQt. For the test suite for this feature, I planned to mock out the subprocess calls but otherwise test the behavior when buttons are clicked. To automate sending input to different elements of the GUI (like but

[2018-03-28 00:07] redshiftzero commented on #2841
General comment: this comes up all the time and news organizations really want this.

[2018-03-28 09:18] dachary commented on #2841
@redshiftzero I confirm that it is a very common request from all orgs/journalists I talked to. In some cases they even assumed it was possible and surprised when I told them it was not the case. I think it would be a great opportunity to conduct interviews because sharing SecureDrop instances:

* did not come up once in interviews with journalists who do not use SecureDrop. The interview is about

[2018-03-28 09:21] kushaldas commented on #3076
@redshiftzero You have a `QGroupBox` which is `checkable`. But, we can not test that with mouse click. The suggestion from KDE developers was to use a proper `QCheckBox` instead.  The other suggestion was not to have a widget which disappears/reappears.

I pushed a [new branch](https://github.com/freedomofpress/securedrop/tree/kushal-is-qt/journalist_gui) on top of your work. It was a new ui file

[2018-03-28 09:32] ei8fdb commented on #3076
@redshiftzero this looks really good. Simple, straight forward design.

As  @eloquence said on the Monday UX call with @dachary and @belenbarrospena this would be a good candidate to test with users.

@redshiftzero What's the most achievable way of me getting this running? If it helps, I have the dev environment setup on my local machine.

Using that we can then do some usability testing with Secu

[2018-03-28 23:00] eloquence commented on #1761
@redshiftzero and I would like to consider work on this for the next two week sprint (kick-off 4/4) but it would be good to first develop more  consensus on what is achievable/desirable
- within a couple of weeks
- by the 0.7 release (due May 8)
- after the 0.7 release.

My take:

It sounds  like we have a solid prototype in the `journalist-api` branch that will require extensive pen-testing and h

[2018-03-28 23:03] redshiftzero commented on #3076
Oh interesting - I did _not_ know this. So for me on your branch `test_output_text_box_displayed_when_checkbox_toggled` in `test_gui.py` is not passing for me:

[code]

Let's discuss and debug together in our one on one tomorrow @kushaldas?

For now @ei8fdb we still have a little bit of work to do before we do testing. However since you have the development environment set up one can get the UI ru

[2018-03-28 23:28] redshiftzero commented on #1761
I think some reasonable goals for the next sprint might be:

- [ ] Rebase branch on current `develop` (this was written pre-Blueprint refactor and a bunch of other major changes to the app code)
- [ ] Critically examine the unit test suite, are at least all the base cases covered?
- [ ] (Stretch) Security evaluation of the API, file followup tickets (i.e. running through [this](https://www.owasp.o

[2018-03-29 03:52] kushaldas commented on #3076
@redshiftzero Ah, I forgot to push the final changes. Stupid me. Pushed the changes now. Please try again.

[2018-03-29 14:48] emkll commented on #1761
I agree with not exposing the primary key. You can find another good list of recommentations [here](https://github.com/shieldfy/API-Security-Checklist/blob/master/README.md). Here are some initial thoughts on this, after taking a quick glance at the journalist-api branch and the spec @redshiftzero described above.

First, areas where risks could be reduced:

- For a client, using an API at the com

[2018-03-29 17:16] #3135 closed

[2018-03-29 22:43] eloquence opened #3203 "Split DNS sanity check into small role that runs early in Ansible playbook"
# Feature Request
Per https://github.com/freedomofpress/securedrop/issues/1249#issuecomment-375147987 to effectively guard against DNS failures we should create a small role that specifically performs this check early in the Ansible play, prior to downloads from the FPF repo and other network activity.

## User Story

As a SecureDrop admin, I want to get a useful error message if my server's DNS l

[2018-03-29 22:45] eloquence commented on #1249
Per above, closing this issue and focusing on the tightly scoped #3203.

[2018-03-29 22:45] #1249 closed

[2018-03-29 23:10] eloquence commented on #1530
This issue has become pretty long and confusing, from the original report to the discussion, so per discussion w/ @conorsch and @redshiftzero  I'm closing this in favor of opening new tasks for

- the epic of migrating to Xenial
- its sub-tasks
- investigating any remaining OSSEC alert issues that Trusty users are getting.

[2018-03-29 23:10] #1530 closed

[2018-03-29 23:17] eloquence opened #3204 "Migrate SecureDrop servers to Ubuntu 16.04 (Xenial)"
Ubuntu Trusty is reaching EOL in April 2019. We should upgrade SecureDrop servers to Ubuntu Xenial (16.04) before then. This will also unblock [some blocked issues](https://github.com/freedomofpress/securedrop/issues?q=is%3Aopen+is%3Aissue+label%3A%22blocked+on+ubuntu+upgrade%22).

(Please keep discussion about moving to 18.04 out of scope of this issue. We will consider the best path to 18.04, bu

[2018-03-29 23:21] eloquence opened #3205 "Suppress OSSEC alerts asking SecureDrop administrators to upgrade to Xenial"
Per the original report in #1530, administrators may under some circumstances receive OSSEC alerts asking them to upgrade their SecureDrop servers to Ubuntu Xenial. Doing so would be *a very bad idea* as Ubuntu Xenial is not in fact supported yet (see #3204). We should therefore investigate whether administrators are still receiving such alerts under any circumstances.

Tasks:
- [x] Verify whether

[2018-03-29 23:31] eloquence opened #3206 "[xenial] Add staging VMs for Ubuntu 16.04"
Part of https://github.com/freedomofpress/securedrop/issues/3204 (Xenial epic):

In order for developers to be able to test the installation of SecureDrop on Ubuntu 16.04 (Xenial), we should add optional staging VMs specifically for that purpose. These should not interfere in any way with the development or production environment.

Most likely candidate is bento/ubuntu-16.04.

[2018-03-29 23:42] eloquence opened #3207 "[xenial] Perform timeboxed install attempt of SecureDrop against Ubuntu 16.04"
As part of the https://github.com/freedomofpress/securedrop/issues/3204 (xenial epic), once we have Xenial staging VMs (#3206), we should be able to attempt an install of SecureDrop against 16.04 VMs. This task is to perform a strictly timeboxed install attempt and to record some first observations.

[2018-03-29 23:52] conorsch opened #3208 "[xenial] Deprecate Vagrantfile in favor of Molecule scenarios"
# Feature request

## Description

We've started to use [Molecule](https://molecule.readthedocs.io/en/latest/) for testing various aspects of the SD development environment, including most recently the potential introduction of local upgrade testing (#3075). Let's continue in that direction and adopt Molecule as a wrapper for all Vagrant calls, as we did with the build VM in #2160.

Doing so will

[2018-03-30 16:25] kushaldas commented on #3076
@redshiftzero Btw, I have also received more suggestions on not to test the Qt side, rather focus on the functions/slots (which we wrote) in the testing of the application.

[2018-03-30 17:00] redshiftzero commented on #3080
Hey @msheiny do ya still want this implemented?

[2018-03-30 17:41] msheiny commented on #3080
ummmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm ... i guess if we continue to bump versions in `develop` to a future version (past whats released) the need is not as urgent but I still think its a useful tool to have for testing. So I leave the decision up to you @redshiftzero . I say if you want to clean up the issue list just squash it and i can always re-o