[2020-09-04 17:54] #1488 closed

[2020-09-04 17:55] eloquence commented on #1525
As noted above, this original design suggestion was implemented; closing.

[2020-09-04 17:55] #1525 closed

[2020-09-04 18:09] eloquence commented on #1487
The strongest candidate for supporting journalist-to-journalist communication in the SecureDrop context is the integration of Signal in the SecureDrop Workstation:
https://github.com/freedomofpress/securedrop-workstation/issues/609

Another option is to implement support for journalist-to-journalist communication in the SecureDrop Client. For medium-to-large organizations, the subset of journalist

[2020-09-04 18:09] #1487 closed

[2020-09-04 18:32] rmol opened #5485 "Hash submissions in a systemd worker, and drop rq"
## Description

We handle source and submission deletion in dedicated processes run under systemd, to avoid [reliability problems](https://github.com/freedomofpress/securedrop/issues/4711#issuecomment-517813231) with `rq`. While submission hashing is less problematic in the face of errors, there's little reason to maintain `rq` as a dependency for this single purpose. We could eliminate [some](htt

[2020-09-04 18:34] rmol commented on #1469
We've started actually using Redis for caching since this issue was filed, so we're not going to be able to remove that as a dependency.

`rq`, on the other hand, as pointed out above, is both overkill for our purposes, and [error prone](https://github.com/freedomofpress/securedrop/issues/4711#issuecomment-517813231). We've accumulated a fair [amount](https://github.com/freedomofpress/securedrop/b

[2020-09-04 18:34] #1469 closed

[2020-09-04 19:21] rmol commented on #856
The current packaging does result in dropped dependencies being deleted from the production virtualenv, _except_ for their `.pyc` files.

We could start using the [`mod_wsgi` configuration directive `WSGIDontWriteBytecode`](https://github.com/GrahamDumpleton/mod_wsgi/blob/62c81ca1a37b714aa798a19501cee0fa4c690dd1/src/server/mod_wsgi.c#L4913), or conversely, ensure the package contains compiled Pyth

[2020-09-04 19:29] #5462 closed, assigned to nobody

[2020-09-04 22:17] cwebber commented on #1261
Funny timing with this being closed, I was just looking up how to try to lock down a system I'm building using tor hidden services to only working through unix domain sockets and accidentally ended up here.

@eloquence, while the statement you made about "requires network access to localhost already" seems to make sense, you may be surprised at how many confused deputy attacks are found through as

[2020-09-04 23:08] conorsch commented on #5468
Opened a draft PR documenting what progress we've made so far: https://github.com/freedomofpress/securedrop/pull/5486 @kushaldas has some pre-existing work in the `on_focal` branch, some of which may need to be pulled in.

Major problems encountered so far:

* Custom kernel installation doesn't work. Ostensibly this is merely due to lack of a `securedrop-grsec` metapackage for focal on apt-test, s

[2020-09-05 10:18] ageis commented on #738
Not particularly... anything warranting a CVE will have already been covered by the distribution's security updates. Take a look [at MITRE](https://www.cvedetails.com/vulnerability-list.php?vendor_id=2153&product_id=&version_id=&page=1&hasexp=0&opdos=0&opec=0&opov=0&opcsrf=0&opgpriv=0&opsqli=0&opxss=0&opdirt=0&opmemc=0&ophttprs=0&opbyp=0&opfileinc=0&opginf=0&cvssscoremin=0&cvssscoremax=0&year=0&mo

[2020-09-08 15:26] emkll commented on #1261
Reopening this issue as it would be worth investigating for defense-in-depth purposes:

While it is true that, in the current model, these types of attacks would require a local attacker (due to hardware firewall requirements, iptables rules and apache configuration), using unix sockets would allow to further enforce least privilege using filesystem permissions, and defense-in-depth in the event o

[2020-09-09 18:14] nebelsprachen commented on #5435
For this migration effort, we can use git-filter-repo to set up a docs-only repo history. git-filter-repo is a single-file python script, so installation is straightforward and just requires copying it into $PATH.

*Prerequisites*
* To install git-filter-repo you'll need git version 2.22.0 at a minimum; some features require git 2.24.0 or later
* Python3 version 3.5 or higher

*Procedure*
1. To in

[2020-09-09 23:47] eloquence commented on #5435
Thanks @joaedwar! I've updated https://github.com/freedomofpress/securedrop-docs-alpha per the latest `develop` and run `git filter-repo` as follows:

[code]

I've also removed all non-release branches. Here's an outline of how I would envision next steps:

- Peer review of the repo state. This is important so we are working from an agreed upon foundation and don't have to redo the repo cleanup la

[2020-09-10 10:23] kushaldas opened #5488 "The package for securedrop-app-code in Focal is broken"
## Description

The deb package for `securedrop-app-code` in Focal does not have any dependency installed.

## Steps to Reproduce

- `make build-debs-focal`
- dpkg -c build/focal/securedrop-app-code_1.6.0~rc1+focal_amd64.deb | less

## Expected Behavior

We should see a file list like below

[code]

## Actual Behavior

Instead we have many files missing.

[code]

This is blocking https://github.co

[2020-09-10 12:47] kushaldas commented on #5488
It seems the `experimental` system is really experimental :(

[2020-09-10 21:36] eloquence opened #5490 "Add `/users` endpoint to API"
In order to reliably update local user databases (see, for example, https://github.com/freedomofpress/securedrop-client/issues/1143), it would be useful for the API to expose a `/users` endpoint.

Currently, non-admin users do not have the ability to see a list of all users via the *Journalist Interface* , so we may only want to return the UUID for each user (and potentially a property like `is_de

[2020-09-10 23:24] conorsch commented on #5435
Took a look at the history of the new docs repo and it looks great to my eye. Talked through the proposed next steps with @eloquence just now, and those also sound great. The first PR into the new repo can includes a lot of the tracked follow-ups like build, CI, and README cleanup.

Once we're in the "beta" stage, we can use the readthedocs.io/org URLs for testing changes. Let's hold off on using

[2020-09-11 17:05] eloquence commented on #1999
There has been a lot of cleanup and standardization since this issue was filed, so it can be considered outdated at this point. Resolving.

[2020-09-11 17:05] #1999 closed

[2020-09-11 17:15] eloquence commented on #1175
Since this issue was filed, we added:
- Guidance for managing config updates with multiple admins: https://docs.securedrop.org/en/stable/admin.html#managing-site-specific-updates-on-teams-with-multiple-admins
- Guidance for offboarding admins and rotating keys: https://docs.securedrop.org/en/stable/offboarding.html#rotate-ssh-key

We may still want to add more recommendations to the setup guide or

[2020-09-11 17:15] #1175 closed

[2020-09-11 17:16] eloquence commented on #1217
Since this issue was filed, we've published logo assets & sources here:
https://github.com/freedomofpress/securedrop-ux/tree/main/SD%20Branding

Closing.

[2020-09-11 17:16] #1217 closed

[2020-09-11 17:19] eloquence commented on #1537
This is still relevant, but very outdated; since this issue was filed, a lot of work has gone into documenting UI assets and styles, but there is not yet a single canonical styleguide. See https://github.com/freedomofpress/securedrop-ux/wiki for current state.

[2020-09-11 17:23] eloquence commented on #1627
We're unlikely to want users to manually run checksum checks. Our focus now is on the SecureDrop Workstation user experience, where we already added support for ETag based verification (https://github.com/freedomofpress/securedrop/pull/4314).Any additional integrity checks we would add would be automated.

[2020-09-11 17:23] #1627 closed

[2020-09-11 17:26] eloquence commented on #1699
Still relevant. We provided some guidance on remote provisioning in the context of COVID-19, which we may want to incorporate into the regular docs: https://securedrop.org/news/covid-19-advisory-securedrop-and-remote-work/

[2020-09-11 17:29] eloquence commented on #1734
We probably don't want to go into too much detail, as the main purpose of this page is to give news orgs a preview for on-sites, not to provide an additional entrypoint into the docs. That said, the page (https://docs.securedrop.org/en/stable/training_schedule.html) does need to be updated in a few places - will coordinate with DST.

[2020-09-11 17:37] conorsch commented on #1930
The password database template is mostly useful for Admins, given how many credentials they have to track. For journalists, it's fine to use a blank password database to get started, given the comparatively low number creds (username/password, transfer device, possibly svs). So, while we may update our guidance during new installs, there's no need to prepare multiple templates for pw management.

[2020-09-11 17:37] #1930 closed

[2020-09-11 17:41] eloquence commented on #2331
We addressed most of this in #5014. There are likely still some potentially confusing uses of terms like `token` in the codebase; however, this should be tracked separately. Closing this issue.

[2020-09-11 17:41] #2331 closed

[2020-09-11 17:47] eloquence commented on #2893
As mentioned, the process of soliciting feedback from sources would be pretty complex and, to the extent that we want to support it, deserves its own issue. User research (some of which we've already done since this was filed) may be another good way to improve the source experience.

Thanks to @redshiftzero, there is now a blurb at the top of the Journalist Guide asking for feedback. Closing this

[2020-09-11 17:47] #2893 closed

[2020-09-11 21:20] eloquence commented on #5435
After discussion, we agreed that it'd make sense to switch this repo to LFS, given that the screenshots otherwise will continue to balloon it every time we update those.

This is now done on https://github.com/freedomofpress/securedrop-docs-alpha . I've used the very nice `git lfs migrate` tool (included in recent versions of git-lfs), as follows:

[code]

(SVG is debatable but I figured "all imag

[2020-09-11 21:26] eloquence commented on #5435
If I'm reading the discussion in https://github.com/readthedocs/readthedocs.org/issues/1846 correctly, the move to LFS may necessitate some changes to our RTD build logic. https://test-builds.readthedocs.io/en/git-lfs/ has an example configuration that installs LFS as part of the build.

[2020-09-11 21:38] conorsch commented on #5435
That largely matches what we're doing in e.g. https://github.com/freedomofpress/securedrop-debian-packaging/blob/05eedc6e2a5d9a1c53ebb6dda0a2188365063e05/.circleci/config.yml#L225-L232, just specific to RTD. It'd be nice to run that lfs logic only inside RTD, maybe via env var.

[2020-09-11 22:33] eloquence commented on #5455
@prateekj117 I agree with your reasoning. I defer to our maintainers but I think we'd likely accept a PR to this effect.

[2020-09-14 18:22] sssoleileraaa commented on #5490
Just want to make a note of what bug this would currently solve. Right now, we learn whether or not a user has been deleted through the `replies` endpoint. If a user does not have any successful replies on the server and they are deleted, we will not learn whether or not that user has been deleted. From the client, even though the user would not be able to log in, it would look like that user has

[2020-09-14 19:21] eloquence commented on #5467
We discussed this a bit more today (between Kev, Allie, Mickael, John, Jen, and myself).

There was some concern that implementing this ticket would preserve data that the admin might reasonably expect to be removed (i.e. the relationship between an account record and all data associated with it).

We agreed broadly that it would be useful to get some more news org input into user deletion/locking

[2020-09-14 20:23] creviera commented on #5467
If we arrive at the conclusion (after more feedback from orgs and threat modelling) that it doesn't make sense to delete all the data that they created, e.g. replies and perhaps notes to other journalists (if we implement this in the future), then we should also try to learn whether or not there is value in keeping deleted users with new UUIDs (perhaps in a deleted-users table) so that conversatio

[2020-09-14 20:33] emkll opened #5494 "Run Focal debs tests in CI"
## Description

We can now build SecureDrop deb packages for Focal thanks to the changes introduced in #5465. We already test the debs in Xenial with the `staging-with-rebase` target, but we should also add a Focal-specific CI target to ensure deb tests are passing for Focal as well.

We will probably want to have this run on a trigger similar to how the Xenial tests are run, since missing securit

[2020-09-14 22:34] #5480 closed, assigned to nobody

[2020-09-14 23:02] eloquence commented on #5435
@zenmonkeykstop and I discussed this a bit today. For now, we would propose a slight variation of the process used for https://github.com/freedomofpress/securedrop-workstation-docs for versioning the standalone docs repo:

1. Use a single `main` branch in `securedrop-docs` as the primary working branch into which documentation changes get merged.

2. Use a [semantic version](https://semver.org/) t

[2020-09-14 23:15] conorsch commented on #5435
In the case of hotfixing the docs, for example editing a typo immediately after release, we can use the postrelease syntax, e.g. `1.5.0` -> `1.5.0-1`. That's in line with PEP440 https://www.python.org/dev/peps/pep-0440/#post-release-separators and would _not_ require us to clobber tags to keep RTD accurate, even if the stable docs aren't exactly in sync with an SD release. Sounds great. :+1:

[2020-09-15 12:52] kushaldas opened #5495 "Focal staging paxctl command to convert grub binaries are failing"
## Description

When we are doing new Focal staging environment, the `paxctl` task to convert `grub` binaries is failing.

This is task in question https://github.com/freedomofpress/securedrop/blob/develop/install_files/ansible-base/roles/grsecurity/tasks/paxctl.yml#L23-L27

## Steps to Reproduce

- [ ] `molecule converge -s libvirt-staging-focal`

## Expected Behavior

This should happen without

[2020-09-15 13:31] kushaldas commented on #5495
[code]

Wondering if this is the right way, I added to just to see if works on my staging focal.

[2020-09-15 15:58] conorsch commented on #5495
Related discussion in https://github.com/freedomofpress/securedrop/issues/5468#issuecomment-687455225

@rmol Modifying the create-header flags for paxctl only for Xenial will work as far as the provisioning flow, but that's not the only place we set the flags, unfortunately: https://github.com/freedomofpress/securedrop/blob/f41c2f773f760b0ba2564d40e77c02a9c38bce09/install_files/securedrop-grsec/et

[2020-09-15 15:59] rocodes opened #5496 "Add docs on v3 onion service restore-from-backup story"
## Description

As we are encouraging the adoption of v3 onion services, we should improve on the documentation on restoring from a backup:

- with v3 only
- with v2+v3 (based on a current support portal request)

## User Research Evidence

Open support ticket

## User Stories

As an administrator, I want clear instructions on how to restore from a backup if my instance supports v3 onion services.

[2020-09-15 16:47] rocodes commented on #5609
I have a NUC8 and have (briefly) gone over the initial testing with @zenmonkeykstop. I'll plan to step through and document results as well during the coming sprint.

[2020-09-15 17:39] zenmonkeykstop commented on #5402
Sorry @gonzalo-bulnes, I missed that comment - probably not in this case as this would throw a 500 error when rendering the `/lookup` page rather than displaying the error message they're seeing.

[2020-09-15 22:06] zenmonkeykstop commented on #5401
Looks like docs mentioned above moved to: https://docs.ansible.com/ansible/devel/collections/ansible/builtin/reboot_module.html

[2020-09-16 00:36] eloquence commented on #5435
I've now renamed the repo to https://github.com/freedomofpress/securedrop-docs-beta and will file an infra issue to finalize permissions.

[2020-09-16 00:44] eloquence commented on #5435
I've also renamed the default branch to `main` per the above. I've not deleted the `release/*` branches yet, in case we change our mind about the branching strategy (they could also be useful if we want to-retag the tips of those branches with historical versions so we have a full tag history for docs).

[2020-09-16 11:25] kushaldas commented on #5401
Happening a lot of time in my system for both `xenial` and `focal` staging.

[code]

[2020-09-16 12:17] #5402 closed, assigned to nobody

[2020-09-16 12:46] kushaldas opened #5499 "gpg error on Focal while submitting any message and document"
## Description

On `Focal` staging environment, if we submit any document or message, the server throws `internal error`.

## Steps to Reproduce

- [ ] `molecule converge -s libvirt-staging-focal -- --tags grsecurity`
- [ ] Submit any message to the source interface.

## Expected Behavior

- [ ] the submission should happen without any error

## Actual Behavior

Shows error on the source interface

[2020-09-16 13:24] emkll commented on #5488
Closed via https://github.com/freedomofpress/securedrop/pull/5484

[2020-09-16 13:24] #5488 closed, assigned to nobody

[2020-09-16 13:52] emkll opened #5500 "Upgrade Tor to 0.4.4 series"
First stable tor release in 0.4.4.x series is out [1] which contains major performance and security fixes. SecureDrop using the 0.4.3.x series which will be end-of-life on February 15th 2021, however we should consider doing it for the next SecureDrop release (1.6.0). The debs are also available on tor's apt mirror [2]

[1] https://blog.torproject.org/node/1921
[2] https://deb.torproject.org/torpr

[2020-09-16 14:10] emkll opened #5501 "Release SecureDrop 1.6.0"
This is a tracking issue for the release of SecureDrop 1.6.0

Tentatively scheduled as follows:

**String and feature freeze:** 2020-09-23
**String comment period:**  2020-09-23 to 2020-09-29
**Translation period:** 2020-09-29 to 2020-10-06
**Pre-release announcement:** 2020-09-30
**Release date:** 2020-10-07

**Release manager:** @emkll
**Deputy release manager:** @zenmonkeykstop
**Localization m

[2020-09-16 15:24] zenmonkeykstop commented on #5401
Managed to get a CI run with debugging turned on where `app-staging` failed to reboot. Relevant log snippet below:

<details>

[code]

</details>

 It doesn't look like `app-staging` ever becomes accessible, as the calls to check the `boot_id` just time out, as opposed to not getting an updated value. Full log is [here](https://circleci.com/api/v1.1/project/github/freedomofpress/securedrop/44274/o

[2020-09-16 15:28] sssoleileraaa opened #5503 "Enable foreign key support"
## Description

Right now we do not have foreign key support enabled for db.sqlite so we're not getting foreign key protections to ensure referential integrity, see https://docs.sqlalchemy.org/en/13/dialects/sqlite.html#foreign-key-support.

## Steps to Reproduce

[code]
To enable foreign keys and see them working:
[code]

## Expected Behavior

For foreign keys to be enforced.

## Actual Behavior

[2020-09-16 17:38] eloquence commented on #5435
For simplicity we've decided to forego the `-beta` _naming_ of the repo, but please note that https://github.com/freedomofpress/securedrop-docs is still experimental and not ready for docs PRs yet.

[2020-09-16 21:58] eloquence commented on #5490
A few updates on this issue:
1. We've provisionally agreed that this would be a useful endpoint to add, either in 1.6.0, or after.
2. We would likely want to return user name, first name, and last name, in addition to the UUID, but _not_ the `is_admin` flag.
3. After some back and forth, we agreed it should be called `/users`, to be consistent with the existing `/user` endpoint, and because it's m

[2020-09-16 23:57] conorsch commented on #5500
Not closing this because the package is only on apt-test. As part of 1.6.0, we'll promote to prod, assuming no problems discovered in QA.

[2020-09-17 10:14] kushaldas opened #5507 "Marking grsec kernel as default in Focal staging"
## Description

Currently Focal by default has a kernel with higher version (`5.4.x`) than our grsec kernel (`4.14.x`). We have to mark our grsec kernel as the default kernel for boot.

We can use steps mentioned in
https://github.com/freedomofpress/securedrop-debian-packaging/blob/main/securedrop-workstation-grsec/debian/postinst#L29-32 for the same.

[2020-09-17 10:17] kushaldas opened #5508 "Make sure that all non-grsec kernels are purged duing install on Focal"
## Description

This is blocked on  #5507. We have to make sure that no non-grsec kernel is installed on the Focal system.

## Steps to Reproduce

- [ ] `molecule converge -s libvirt-staging-focal`

## Expected Behavior

The command should finish properly.

## Actual Behavior

The step for purging all non-grsec kernels will fail as it booted into `5.4.x` series kernel (default in Focal).

## Comme

[2020-09-17 10:24] kushaldas opened #5509 "Enable testinfra tests against Focal staging"
## Description

We currently do not have `testinfra` tests running against `libvirt-staging-focal` environment. We should enable those and fix any issues found.

[2020-09-17 10:46] kushaldas opened #5510 "Add Focal staging-test-with-rebase CI job"
## Description

We need a CI job to run against Focal which will run both testinfra tests

Just like `staging-with-rebase` it will do  `staging-with-rebase-focal`.  This can only be done after all other Focal EPIC tickets are resolved.

[2020-09-17 10:47] kushaldas opened #5511 "Add virtualbox-staging-focal molecule scenario"
## Description

Just like `libvirt-staging-focal`, we need a `Virtualbox` target `virtualbox-staging-focal` to provide staging support on non-Linux platforms

[2020-09-17 13:00] emkll opened #5512 "Support in-place upgrades for Focal VMs"
## Description

We currently have a (libvirt-only) `upgrade` molecule scenario that is updated at every SecureDrop release that can be use to test upcoming SecureDrop versions automatically.

We should add a new molecule scenario for upgrade-focal, upload new focal boxes new boxes on the latest release that supports Focal, and ensure the upgrade is working

[2020-09-17 16:20] kushaldas commented on #5495
If I use the patch I posed in https://github.com/freedomofpress/securedrop/issues/5495#issuecomment-692716363 then the above mentioned `paxctl` commands are passing properly. I did not see any error yet.

[2020-09-17 19:52] eloquence commented on #5503
As part of the 9/17-10/1 sprint, we agreed during sprint planning to have a preliminary discussion and investigation focused on enabling foreign key support, e.g.:
- What do we gain by enforcing foreign key constraints?
- What changes do we need to make to existing code to do so?
- What migrations would have to be applied?
- What referential integrity violations could exist in long-running instanc

[2020-09-17 20:28] eloquence commented on #5609
Per above @rocodes will do some testing on the NUC8 during the sprint, but we're not aiming to QA 1.6.0 on it yet.

[2020-09-17 20:30] eloquence commented on #5496
To add a bit more context, the docs currently [say](https://docs.securedrop.org/en/stable/backup_and_restore.html):

Given that v3 is the _recommended and default_ install method, we'll aim to make this less hand-wavey during the 9/17-10/1 sprint. Thanks much for filing and taking a stab at this, @rocodes!

[2020-09-17 20:38] eloquence commented on #5474
(Removed from the board because #5505, which is tracked on our current sprint, is expected to fully resolve this issue as specified.)

[2020-09-17 20:39] eloquence commented on #5475
(Removed from the board because #5513, which is tracked on our current sprint, is expected to fully resolve this issue as specified.)

[2020-09-17 21:39] eloquence opened #5514 "Add `seen` data to `qa_loader`"
#5505 will add the tables to support the seen/unseen feature in the SecureDrop Client (https://github.com/freedomofpress/securedrop-client/issues/187). To test this feature, it will be helpful to have some `seen` annotations for submissions generated through the loader.

[2020-09-17 21:40] eloquence commented on #5514
I would suggest that all replies generated by the scripts should be marked as seen by one user, because there will never be a situation under which they are not at least seen by the sender.

[2020-09-18 16:07] conorsch commented on #5495
@kushaldas Seems to me we only want to modify the behavior on Focal, not on Xenial. So customizing the behavior a bit should give us a working staging first-time install, although the need to modify the metapackage is a more significant issue for Focal support (looking like #4134 might be the path forward, after 1.6).

[2020-09-18 16:14] eloquence commented on #1540
These are really outdated recommendations at this point, good as a historical point of reference but no need to keep open.

[2020-09-18 16:14] #1540 closed

[2020-09-18 16:40] eloquence commented on #1587
We are using the `.upper` class that was added since this issue was filed for some strings. We may in fact want to deprecate using it. The [Mozilla localization guidelines](https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localization_content_best_practices) state:

I've retitled the issue -- we should either deprecate the use of `text-transform: uppercase` (my recommendation based on

[2020-09-18 16:42] emkll opened #5516 "Investigate and resolve MyPy discreptency in CI / local environments"
## Description

Initially reported by @kushaldas in https://github.com/freedomofpress/securedrop/pull/5464#pullrequestreview-488562452

## Steps to Reproduce

- observe failure of `make typelint` locally with the error described in the PR above
- observe CI of the PR above passing

## Expected Behavior

`typelint` Makefile targets in CI and in local environments should return the same results.

##

[2020-09-18 17:17] zenmonkeykstop commented on #4787
There was a case with this on the SI as well (fix in for 1.6.0) - would be cool to look for other potential cases as well.

[2020-09-18 17:46] eloquence commented on #2194
This has been resolved upstream.

[2020-09-18 17:46] #2194 closed

[2020-09-18 17:48] eloquence commented on #3080
We will revisit this when we consolidate packaging strategies between SecureDrop Core and SecureDrop Workstation, closing.

[2020-09-18 17:48] #3080 closed

[2020-09-18 17:50] eloquence commented on #3014
As noted, we've done a lot of cleanup here, so closing.

[2020-09-18 17:50] #3014 closed

[2020-09-18 17:53] eloquence commented on #3013
Closing; we'll highlight opportunities to proofread the docs at a higher level instead of having individual issues for proofreading sections.

[2020-09-18 17:53] #3013 closed

[2020-09-18 17:54] eloquence commented on #3012
Closing; we'll highlight opportunities to proofread the docs at a higher level instead of having individual issues for proofreading sections.

[2020-09-18 17:54] #3012 closed

[2020-09-18 17:56] eloquence commented on #2913
Closing; `make` does produce pretty detailed help output, we can consider improvements to specific scripts or help texts separately.

[2020-09-18 17:56] #2913 closed

[2020-09-18 17:58] eloquence commented on #2538
Closing; we're likely to move some jobs to nightly (e.g., #5336), but are unlikely to implement the strategy described here.

[2020-09-18 17:58] #2538 closed

[2020-09-18 18:00] eloquence commented on #2315
This layout was redone as part of 1.0.0, closing.

[2020-09-18 18:00] #2315 closed

[2020-09-18 18:05] eloquence commented on #2209
Very old, no recent repros. Closing.

[2020-09-18 18:05] #2209 closed

[2020-09-18 18:07] eloquence commented on #1902
There may be some potential value in prepopulating the password database on creation, so keeping open for now.

[2020-09-18 18:21] eloquence commented on #2282
This was resolved in #3099.

[2020-09-18 18:21] #2282 closed

[2020-09-18 18:46] eloquence opened #5517 "Evaluate alternatives to Ubuntu LTS as server OS"
After the transition to Ubuntu 20.04 as the server OS (#4768), we will have bought ourselves some breathing room to carefully consider long-term alternatives.

Properties we'll want to consider will likely include:
- size of base OS
- built in support for hardened kernels or other security hardening
- support for OS immutability
- LTS cycle and cost, if any
- quality of documentation
- packaging f

[2020-09-18 18:50] eloquence commented on #2552
We've not made a final commitment to a container-based OS in general or CoreOS in particular. We'll re-evaluate our options after the transition to Ubuntu 20.04 is complete (#4768). See #5517. Closing this old issue and retiring the associated label for now.

[2020-09-18 18:50] #2552 closed

[2020-09-18 18:52] eloquence commented on #2547
We've not made a final commitment to a container-based OS in general or CoreOS in particular. We'll re-evaluate our options after the transition to Ubuntu 20.04 is complete (#4768). See #5517. Closing this old issue and retiring the associated label for now.

[2020-09-18 18:52] #2547 closed

[2020-09-18 18:52] eloquence commented on #2546
We've not made a final commitment to a container-based OS in general or CoreOS in particular. We'll re-evaluate our options after the transition to Ubuntu 20.04 is complete (#4768). See #5517. Closing this old issue and retiring the associated label for now.

[2020-09-18 18:52] #2546 closed

[2020-09-18 18:56] eloquence commented on #3492
We've not made a final commitment to a change of server OS or the utilization of containers on the server. We'll re-evaluate our options after the transition to Ubuntu 20.04 is complete (#4768). See #5517. Closing this old issue and retiring the associated label for now.

[2020-09-18 18:56] #3492 closed

[2020-09-18 18:58] eloquence commented on #2544
We've not made a final commitment to a containerized OS in general or CoreOS in particular. We'll re-evaluate our options after the transition to Ubuntu 20.04 is complete (#4768). See #5517. Closing this old issue and retiring the associated label for now.

[2020-09-18 18:58] #2544 closed

[2020-09-18 19:04] eloquence commented on #2335
This issue is outdated relative to our ongoing internal threat modeling work. We'll want to carefully consider how to make more of the process public, but closing this historical issue.

[2020-09-18 19:04] #2335 closed

[2020-09-18 19:08] conorsch commented on #2545
Right now we only use containers for development, testing, and package-building, not for running SecureDrop in production. In order to ensure integrity, we pin the image hash in the builder image, as seen in https://github.com/freedomofpress/securedrop/pull/5411/files

We'll continue to follow what the ecosystem provides in terms of signing solutions for containers, but don't plan to migrate to an

[2020-09-18 19:08] #2545 closed

[2020-09-18 19:18] eloquence commented on #2519
This is a very old issue, and as noted, there was a misconfiguration of the demo site at the time. To be sure, I tested uploading files of large sizes including 20MB+ via Tor Browser for Android, without issue. Closing.

[2020-09-18 19:18] #2519 closed

[2020-09-19 01:16] conorsch commented on #5508
Not so sure... the tasks I'm seeing failing during installation are #5495 and then the assertions that all kernels were removed. At least in libvirt VMs, I'm running a grsec kernel as expected, and removing the other automatically installed kernels is possible if I update the patterns. Haven't tested on hardware (nor on Qubes, in which the staging VMs are created directly from the Ubuntu ISOs), bu

[2020-09-21 12:23] #5508 closed, assigned to nobody

[2020-09-21 13:34] rmol opened #5519 "A link to Tails documentation is outdated"
## Description

Looks like Tails has rearranged some documentation, causing `docs-linkcheck` to [fail](https://app.circleci.com/pipelines/github/freedomofpress/securedrop/956/workflows/dde7f363-a760-43f0-b57c-57543854de58/jobs/44455).

## Steps to Reproduce

Look at the CI error. Verify the broken link.

## Comments

I think we just need to update `docs/backup_workstations.rst` to point to "backup

[2020-09-21 14:29] #856 closed

[2020-09-21 14:39] kushaldas commented on #5495
I think we can close this issue now, can do this after standup today.

[2020-09-21 15:36] #5494 closed, assigned to nobody

[2020-09-21 17:25] conorsch commented on #5495
Closing, based on changes in #5518. Still unresolved are the `securedrop-grsec` metapackage flags, which currently won't work for Focal kernel upgrades, but we'll tackle #4134 next sprint, which solves the same problem.

[2020-09-21 17:25] #5495 closed, assigned to rmol

[2020-09-22 00:32] eloquence commented on #5435
Update on current state:
1) We now have https://securedrop-docs.readthedocs.io/ building both `latest` and `stable` from https://github.com/freedomofpress/securedrop-docs

2) The stable version has the tag `1.5.0-1`. That's to make it clear that this includes some additional changes that have been merged into `develop` since SecureDrop 1.5.0 was released.

3) We now have the first docs PR that's t

[2020-09-22 14:38] #4216 closed

[2020-09-22 19:24] creviera commented on #5467
Here's an update regarding deleted journalists and how it affects "seen" records:

For now, we decided to support NULL journalist ids in the seen tables (this is also what we do in the replies table) but in the future we may want to implement John's idea, which I don't want to lose track of, so I'm linking to it here:

https://github.com/freedomofpress/securedrop/pull/5505#discussion_r492361845

A

[2020-09-23 14:05] kushaldas opened #5522 "securedrop_shredder, securedrop_source_deleter and securedrop_rqrequeue is failing on Focal"
## Description

The following 3 services is not being able to start on Focal.

- securedrop_shredder
- securedrop_source_deleter
- securedrop_rqrequeue

## Steps to Reproduce

- [ ] `molecule converge -s libvirt-staging-focal`
- [ ] `molecule login -s libvirt-staging-focal -h app-staging`
- [ ] `journalctl -u securedrop_shredder.service`

## Expected Behavior

- [ ] No errors should be shown

## A

[2020-09-23 15:18] emkll opened #5523 "make staging-focal starts a Xenial-based environment"
## Steps to Reproduce

- run `make staging-focal`
## Expected Behavior

- An Ubuntu Focal environment should be created via the `libvirt-staging-focal` scenario.
## Actual Behavior
- An Ubuntu Xenial environment is be created via the `libvirt-staging-xenial` scenario (due to it being the default scenario)

## Comments

It appears the `securedrop_platform_suffic` variable is not passed to `select-s

[2020-09-23 15:26] conorsch commented on #5523
Whoops. I've still been using `molecule converge -s libvirt-staging-focal`, haven't even trained myself to use the new target yet. You're right, it definitely doesn't work as described!

[2020-09-23 15:29] kushaldas opened #5524 "Add CI job to run Securedrop application tests on Focal using Python3.8"
## Description

We need a new CI job to run the SecureDrop application tests on a `Focal` container to run against Python3.8.
This will help us to identify any problem on Python3.8

Steps would be:

- [ ] Add a new Dockerfile for Focal and SecureDrop environment
- [ ] Add a `make dev-focal` target to run the app code in the Focal dev container
- [ ] Add `make test-focal` target
- [ ] Add a separat

[2020-09-23 15:59] kushaldas opened #5525 "Updating devlopment and test dependencies: molecule, molecule-vagrant, testinfra, pytest"
## Description

We are very old versions of a few development/test dependencies. This means any future updating will require more work (as many functions/commands, syntaxt of YAML files for molecule are already deprecated and dropped from upstream). It will also bring latest changes in molecule + vagrant for staging/testinfra work.

## Differences in version

- molecule: we are using `2.22` and up

[2020-09-23 16:45] eloquence commented on #5524
To get early visibility of breakage, we've agreed to pull this into the current sprint as a stretch goal, _except_ for the CI job, which should wait until after 1.6.0.

[2020-09-23 16:57] kushaldas commented on #5522
NOTE: just removing `typing` module from our virtual environment will all the 3 services. How to do that properly? We will have to find an answer for that.

[2020-09-23 21:31] rocodes commented on #5609
Partial update on NUC8 hardware testing:

- [x] Ubuntu 16.04 LTS installed successfully. NIC was not recognized during installation wizard, nor was the USB ethernet adapter (Tripp-Lite USB 3.0 Adapter U336-000-GBW, and I also tried an Asus adapter I had lying around).  However, once Ubuntu was installed, a quick `lspci` indicates that the ethernet adapter device is actually detected, but the inter

[2020-09-23 22:44] #5490 closed, assigned to nobody

[2020-09-23 23:29] emkll commented on #5516
Closing, the error was explained in https://github.com/freedomofpress/securedrop/pull/5464#issuecomment-696209187

[2020-09-23 23:29] #5516 closed, assigned to nobody

[2020-09-24 00:07] #5474 closed, assigned to nobody

[2020-09-24 01:19] #5475 closed, assigned to nobody

[2020-09-24 07:19] kushaldas commented on #5522
Reason: The `typing` module is a backport of the same module from CPython itself, and we don't have a release yet for `Python3.8` which has the newest code on Focal.

[2020-09-24 23:39] eloquence commented on #5467
There's an emerging consensus that we want to proceed per @emkll's original description, i.e. preserve the UUID and ID of deleted users (and preserve associations with other records such as replies and seen/unseen data). A user locking feature that would also preserve user info is something we can consider separately.

This therefore seems like a good candidate issue for SecureDrop 1.7.0 to help c

[2020-09-25 00:27] conorsch opened #5530 "update_version script is broken"
## Description
The `./update_version.sh` script in the repository is broken.

## Steps to Reproduce

Run the script with a fake version:

[code]

## Expected Behavior

Script updates all necessary targets, exits without error.

## Actual Behavior

Script fails, complaining about a missing file:

[code]

## Comments

Looks like the changes in #5465 broke it. We'll need to resolve prior to bumping t

[2020-09-28 14:02] emkll commented on #5134
Closing, this has been resolved in https://github.com/freedomofpress/securedrop/pull/5484

[2020-09-28 14:02] #5134 closed

[2020-09-28 14:25] #5530 closed, assigned to nobody

[2020-09-28 16:00] emkll commented on #5501
## Cron-apt upgrade on Mac mini (with nuc5 mon server) - Complete
### Environment

- Install target: Mac mini app server, NUC5 mon server
- Tails version: 4.11
- Test Scenario: cron-apt upgrade from 1.5.0
- SSH over Tor: Yes
- Onion service version: v3
- Release candidate: RC1
- General notes:

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH i

[2020-09-28 16:50] rmol commented on #5109
I think this has been addressed in #5484.

[2020-09-28 16:50] #5109 closed

[2020-09-28 21:48] eloquence opened #5540 "`deb-tests-focal` CI job flakes with connection failure"
Example failure: https://app.circleci.com/pipelines/github/freedomofpress/securedrop/1056/workflows/988b91e4-5748-497d-a37a-10b509c42775/jobs/45010

Example output:

[code]

[2020-09-28 23:04] eloquence commented on #5435
**Status update:** We are now using the standalone repo to build the docs at https://docs.securedrop.org/ :tada: . You can verify it by looking at this page: https://docs.securedrop.org/en/latest/development/journalist_api.html#get-a-list-of-all-users-get

The documentation for the `/users` endpoint was merged _only_ into `securedrop-docs` via https://github.com/freedomofpress/securedrop-docs/pull

[2020-09-29 13:46] emkll opened #5541 "Add test data from qa_loader data to molecule upgrade scenario"
## Description

We have a molecule scenario that performs an upgrade-in-place using local Debian packages. Release testing for migration recommends we use `qa_loader.py` in combination with locally-build deb packages [1]. We could invoke `qa_loader.py` when running the initial upgrade playbook [2] to populate the database prior to upgrading with the new, locally built packages. This would provide

[2020-09-29 17:35] conorsch commented on #5540
Submitted a PR with an attempted quick-fix, just increasing the timeout on this and related tasks. Stepping back, it's not really necessary that we build the ossec deb packages from scratch each run. Since they change so seldom, we could just fetch them from the FPF apt server, which would decrease builds times by a few minutes, at a guess.

[2020-09-29 23:03] #5540 closed, assigned to nobody

[2020-09-30 15:00] zenmonkeykstop opened #5543 "Attempting to delete a reply whose corresponding GPG file is missing generates a 500 in the JI"
## Description

Attempting to delete a reply whose corresponding GPG file is missing generates a 500 in the JI

## Steps to Reproduce

In the JI:
- reply to a source
On the app server:
- delete the corresponding reply file in `/var/lib/securedrop/store`
In the JI:
- delete the reply

## Expected Behavior
Good question! I would err on the side of deleting the db entry and calling it done. But it co

[2020-09-30 16:02] zenmonkeykstop commented on #5501
QA plan

- NUC5s
- NUC7s
- Mac Minis
- 1U test servers

## 1.6.0 QA Checklist

For both upgrades and fresh installs, here is a list of functionality that requires testing. You can use this for copy/pasting into your QA report. Note that in order to test #5483, you should select multiple languages when running `./securedrop-admin sdconfig`.

If you have submitted a QA report already for a 1.6.0 rel

[2020-09-30 16:06] kushaldas commented on #5499
In Focal, `gpg2` tool is importing the journalist key in the `pubring.kbx` keyring, but when we are using it via the Python module, it uses `pubring.gpg` keyring.

The following diff solves the problem, question for the team, if this is a good way to move forward.

[code]

[2020-09-30 16:26] emkll commented on #5543
possibly related to https://github.com/freedomofpress/securedrop/issues/4787

[2020-09-30 16:53] rmol commented on #5543
I was going to agree that the file being gone is the desired state, so we could just purge the `Reply` record and continue, but a missing file for a reply probably indicates a problem which should be brought to the attention of the admin. Either there's a hardware or filesystem problem, or someone's been mucking about in the store.

This situation is going to cause the same problem as #4787 but ri

[2020-09-30 16:57] eloquence commented on #5543
Just adding my standard caveat, let's try for a simple fix for 1.6.0 as discussed, but if scope expands significantly we may have to defer. :)

[2020-09-30 18:13] eloquence commented on #5435
This is now fully resolved. I'll file a follow-up issue to migrate docs issues over in a few weeks, assuming we stick with this setup.

[2020-09-30 18:13] #5435 closed, assigned to nobody

[2020-09-30 18:20] eloquence opened #5545 "Transfer docs issues to securedrop-docs repo"
In the SecureDrop repo organizational model, we generally file issues in the most specific possible repository. Now that we have a docs-only repository at https://github.com/freedomofpress/securedrop-docs, that means we should transfer docs issues over to that repo. (Issues spanning code and docs, or multiple repositories, can remain here.)

Since this impacts a [lot of issues](https://github.com/

[2020-09-30 18:25] eloquence commented on #4472
This is no longer relevant with the standalone docs repository which does not rely on Docker, see the README for quickstart instructions: https://github.com/freedomofpress/securedrop-docs

[2020-09-30 18:25] #4472 closed

[2020-09-30 18:27] eloquence commented on #4584
To any Hacktoberfest contributor who wants to poke at this, please note that we just migrated our docs over to https://github.com/freedomofpress/securedrop-docs -- see that repo's README and https://docs.securedrop.org/en/stable/development/documentation_guidelines.html for instructions on how to get started making docs changes.

[2020-09-30 19:03] zenmonkeykstop commented on #5543
I think the  recco in #4787 for the related case is the best option overall - delete the entry and flash a message like "the database and file store are in an inconsistent state - this can be manually resolved by an administrator, so go get one."

[2020-09-30 19:03] zenmonkeykstop commented on #5543
@rmol are you sure the cleanup tool doesn't sort out replies? ISTR you adding that later in.

[2020-09-30 19:18] rmol commented on #5543
@zenmonkeykstop Pretty sure it [only checks submissions](https://github.com/freedomofpress/securedrop/blob/f81e41539bc5e5ae8b9a443ead719513622553c8/securedrop/management/submissions.py#L14). I think you're remembering that the inverse operation, looking for files without database records, [needed improving](https://github.com/freedomofpress/securedrop/commit/0644b954576fad2fa7c9636422137506cf5943e

[2020-09-30 19:26] eloquence commented on #1574
The Journalist Interface does not use SVGs anymore either. It does use FontAwesome glyphs, which are also disabled in "Safest". We should track this separately given the long and confusing history of this issue.

There are currently some SVGs in the repo which are not used anywhere. They do come in handy for re-generating PNGs if/when needed, so we may want to keep them around.

[2020-09-30 19:26] #1574 closed

[2020-09-30 19:27] rmol commented on #5501
### Environment

- Install target: NUC 7i5BNH
- Tails version: 4.11
- Test Scenario: cron-apt upgrade
- SSH over Tor: yes
- Onion service version: v3
- Release candidate: rc1
- General notes:

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x] AppArmor is loaded on app
    - [x] 0 processes are running unconfined

[2020-09-30 22:25] eloquence opened #5546 "Consider replacing FontAwesome glyphs with PNGs"
## Description

The Journalist Interface uses FontAwesome for various icons in the UI, which are rendered as Unicode placeholder glyphs is FontAwesome is not present, which is the case in Tor Browser's "Safest" security setting:

![Screenshot from 2020-09-30 15-23-34](https://user-images.githubusercontent.com/213636/94746169-fd6c9f80-0330-11eb-983f-0e0dce159ee4.png)

The current implementation is

[2020-09-30 22:28] eloquence commented on #5546
Note that even if we do deprecate the Journalist Interface in favor of the SecureDrop Client, some uses of FontAwesome glyphs remain in the admin portion of the web UI.
![Screenshot from 2020-09-30 15-27-25](https://user-images.githubusercontent.com/213636/94746404-7ff55f00-0331-11eb-9a75-47daa1b61177.png)

[2020-09-30 22:52] eloquence commented on #4795
This is applicable to an outdated release no longer used in production, so closing. I would recommend prioritizing #5317 soon so we can minimize the risk of similar admin errors in future.

[2020-09-30 22:52] #4795 closed

[2020-09-30 23:06] eloquence commented on #4401
I'm going to close this proposed solution as it's IMO too complicated for what we're trying to do here (give clear information that additional messages/files have been received), feel free to reopen if you disagree, but otherwise I think we should consider alternatives.

[2020-09-30 23:06] #4401 closed

[2020-10-01 01:04] conorsch commented on #5507
A few clarifications regarding the current state of Focal kernel support.

The Focal VMs are already booting into grsecurity-patched kernels, and those kernels persist after the VMs are rebooted. This works because in install logic (Ansible playbooks), the grsec kernel is forced for the subsequent boot, and post reboot, we remove all non-grsec kernels from the host, so they can't be updated and ta

[2020-10-01 01:21] rocodes commented on #5609
Unfortunately, even after building a new 5.4.68 kernel based on a new kernel config provided by @emkll today, I'm unable to boot into it on the NUC8, though I can boot into it on a Xenial qube, same as with the kernel I built yesterday.

I do notice the following console output when installing the kernel:
`[...] Ignoring non-Xen Kernel on Xen domU host: vmlinuz-5.4.68-grsec`

Some quick searching

[2020-10-01 09:21] pnijhara opened #5548 "Consider using an if statement"
*This is a good first issue for new contributors to take on, if you have any questions, please ask on the task or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!*

In file `admin/securedrop_admin/__init__.py`, line 518 (https://github.com/freedomofpress/securedrop/blob/develop/admin/securedrop_admin/__init__.py#L518), we can use an `if` statement.

Current code:
[code]

Updated

[2020-10-01 11:37] nebelsprachen commented on #4684
@eloquence I think this issue can be closed? Does any work remain for it?

[2020-10-01 13:23] emkll commented on #4684
Thanks @joaedwar and @rocodes , this can be closed!

[2020-10-01 13:23] #4684 closed

[2020-10-01 13:58] #5522 closed, assigned to nobody

[2020-10-01 14:53] #5519 closed, assigned to nobody

[2020-10-01 18:20] eloquence commented on #5507
(@emkll and @conorsch will discuss next steps and update the epic.)

[2020-10-01 22:04] eloquence opened #5551 "Enable black and isort for this repo"
We've been trialing `black` and `isort` for auto-formatting Python code in other SecureDrop repos, and are generally happy with the combination. An example configuration can be found here:

https://github.com/freedomofpress/securedrop-client/blob/main/pyproject.toml
https://github.com/freedomofpress/securedrop-client/blob/main/Makefile

We'll want to use the same setup for SecureDrop Core, with th

[2020-10-01 22:06] eloquence commented on #5551
@nabla-c0d3 Perhaps you'd be interested in collaborating with us on this, after the type annotation stuff is merged (will probably still take us a couple of weeks to get through; thanks for all your work on it so far)?

[2020-10-01 22:33] eloquence commented on #5514
Given the heavy focus on SecureDrop Workstation template consolidation and the SecureDrop Core release this sprint, we've agreed to defer work on this for now during the 10/1-10/15 sprint period, likely until the next sprint. Contributor help welcome before then, though, so tagging accordingly :)

[2020-10-01 22:38] eloquence commented on #5401
@zenmonkeykstop's changes in #5504 have reduced the number of test flakes significantly. :tada: Given other commitments, we're not allocating time to further investigation during the 10/1-10/15 sprint, but will revisit again in future (that could include moving this to nightly, once we have sufficient confidence in the results).

[2020-10-01 22:42] eloquence commented on #5609
@rocodes and @zenmonkeykstop will continue their work on this in the 10/1-10/15 sprint, aiming for no more than 16 person hours total time spent during this sprint. Our goal right now is to get the NUC8s running on a 4.14 series grsec kernel, so we can potentially ship support in a point release or 1.7.0. Additional 5.4 testing is out scope for now, but we'll revisit 5.4+ kernel support as part of

[2020-10-01 22:49] eloquence commented on #5503
We discussed this a bit more in the context of #5467 in the last sprint, and will likely continue that discussion at the next tech meeting. Keeping the issue on the sprint, but only to capture emerging consensus.

[2020-10-05 10:16] #5543 closed, assigned to nobody

[2020-10-05 19:21] #4609 closed

[2020-10-06 04:33] DrGFreeman commented on #5433
@kushaldas and @eloquence, I can take care of this if it's OK with you.

[2020-10-06 04:51] eloquence commented on #5433
That would be awesome, thanks @DrGFreeman :)

[2020-10-06 10:36] kushaldas opened #5557 "make dev failing on develop for redis can not get port 6739"
## Description

`make dev` is failing only on my local laptop with error related to `Redis` connection.

## Steps to Reproduce

- [ ] `make dev`

## Expected Behavior

- [ ] A dev container will start.

## Actual Behavior

[code]

## Comments

Suggestions to fix, any other relevant information.

[2020-10-06 13:34] emkll commented on #5557
Thanks for opening @kushaldas I just ran into the same issue myself, deleted `dump.rdb` in the `securedrop` folder and it resolved for me. However, I have no idea how dump.rdb appeared in the first place.

[2020-10-06 14:17] rocodes commented on #5609
At @emkll's suggestion I tried compiling a 4.14 series kernel _without_ grsec patches to see if it would boot on the NUC8, thereby helping us determine whether the issue is with the grsec patches or not. Unfortunately, a 4.14.188 kernel without grsec patches does boot successfully on the NUC8, while the 4.14.188 kernel from the apt repo that includes grsecurity patches does not.

But wait there's

[2020-10-06 15:51] eloquence commented on #5557
Unable to reproduce. I also don't get the fancy Redis ASCII Art in the output.

[2020-10-06 16:13] kushaldas commented on #5557
I found the same file and removing it solved the error.

[2020-10-06 16:19] kushaldas commented on #5557
Digging into the `dump.rdb` file and it says:

[code]

 The `5.0.7` is the version available in `Focal`, in `Xenial` has `3.0.6` version.

[2020-10-06 18:07] rmol commented on #5557
This file is getting generated by Redis in the container any time it runs long enough and/or sees enough activity (check `/etc/redis/redis.conf` in the container, under the `save 900 1`, `save 300 10`, etc. lines). It gets created on develop, under Xenial, too.

The only problem is that the format has jumped three versions between Xenial and Focal, so switching between the releases, running the te

[2020-10-06 23:48] zenmonkeykstop commented on #5501
QA plan

- NUC5s
- NUC7s
- Mac Minis
- 1U test servers

## 1.6.0 QA Checklist

For both upgrades and fresh installs, here is a list of functionality that requires testing. You can use this for copy/pasting into your QA report. Note that in order to test #5483, you should select multiple languages when running `./securedrop-admin sdconfig`.

If you have submitted a QA report already for a 1.6.0 rel

[2020-10-07 12:16] #5433 closed, assigned to kushaldas

[2020-10-07 12:40] #5557 closed, assigned to nobody

[2020-10-07 14:09] emkll commented on #5501
## Clean install - VMs (in progress)

### Environment

- Install target: Vagrant VMs
- Tails version: 4.11
- Test Scenario: Clean install in VMs (V3)
- SSH over Tor: Yes
- Onion service version: v3 only
- Release candidate: rc2
- General notes:

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x] AppArmor is loade

[2020-10-07 14:43] emkll commented on #4787
Looks like this issue is not completely addressed: While #5549 addresses the issue for deletions, it does not address this issue for downloads. Steps to reproduce are as follows:

1. Go to source interface, submit two messages
2. SSH into app server, go to `/var/lib/securedrop/store` and delete one of the messages
3. Go to Journalist Interface and try to download the deleted message
4. Observe err

[2020-10-07 18:34] rmol commented on #5501
### Environment

- Install target: NUC 7i5BNH
- Tails version: 4.11
- Test Scenario: clean install on Ubuntu 16.04.7
- SSH over Tor: yes
- Onion service version: v3
- Release candidate: rc2
- General notes:

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x] AppArmor is loaded on app
    - [x] 0 processes are run

[2020-10-08 01:11] sssoleileraaa commented on #5467
My view is also yes since there is nothing useful for an admin to do with these accounts and we should not allow deleted user info to be updated. It should all remain null or empty strings except for the uuid and id.

Yup, a `deleted` bool column that we can check versus a "deleted" username string is cleanest.

While technically a NULL `journalist_id` does not violate the foreign key constraint r

[2020-10-08 03:39] DrGFreeman commented on #4787
This issue is flagged with "Help Wanted". I'd be interested in working on it if no one else is.

From a UX perspective, when the journalist deletes a message, they don't have to know that the corresponding file was missing. However if the file is missing when they try to download it, they will expect some sort of feedback to tell them the message cannot be downloaded.

I see different possible sce

[2020-10-08 16:47] zenmonkeykstop commented on #4787
Hey @DrGFreeman thanks for the analysis and offer of help! Would be very happy to have your involvement on this.

For the deletion case  addressed in 1.6.0, it originally summarized any non-fatal errors in an additional flash message, after deletions were complete. That flash message was dropped to avoid reopening translations late in the release cycle, but will probably be added again for next re

[2020-10-08 17:30] eloquence commented on #4533
Suggestion from 2020-10-08 tech meeting: Include package version dump as part of build logs.

[2020-10-08 17:32] rmol opened #5566 "A few UI strings containing numeric variables can't be pluralized by translators"
## Description

It's been [pointed out](https://forum.securedrop.org/t/arabic-plurals-in-securedrop/1375) that some of our strings containing numeric variables aren't marked for translation with `ngettext`, meaning that translators can't properly pluralize them:

- https://weblate.securedrop.org/translate/securedrop/securedrop/ar/?checksum=1ca223a1a619dfb8
- https://weblate.securedrop.org/translat

[2020-10-08 19:24] eloquence commented on #4787
Thanks from my end as well @DrGFreeman for the awesome breakdown :)

It's important to note that this issue is not expected to arise on production systems, and we have no report of journalists or admins seeing these 500 errors. If it does arise, it indicates a serious issue with the file store, and possible tampering. It really does require admin involvement.

We discussed this a bit at today's te

[2020-10-08 19:41] eloquence commented on #5467
We discussed this a bit more at today's tech meeting, and reached preliminary agreement that the approach described above (preserve UUIDs/IDs, blank everything else, add a `deleted` Boolean, create a placeholder account for legacy deleted users) makes sense. I'm therefore adding this issue to the 1.7.0 milestone.

This is contingent on a final discussion about any threat model implications. It may

[2020-10-08 22:13] conorsch commented on #4533
After group discussion, we're going to defer immediate action related to the build image pending introduction of reproducible builds in for the packages on SecureDrop servers (that's #308 ). We've got a solid approach to reproducible builds for the Workstation over in https://github.com/freedomofpress/securedrop-debian-packaging , but we're not using that same logic here yet. We should, but right

[2020-10-08 22:13] #4533 closed

[2020-10-09 01:34] DrGFreeman commented on #4787
All cases above throw a 500.

I will start working on a solution with a generic flash message for now + logging of the errors.

[2020-10-09 01:47] DrGFreeman opened #5568 "Docs link to architecture diagrams is broken"
## Description

The link to architecture diagrams in https://docs.securedrop.org/en/latest/development/tips_and_tricks.html#architecture-diagrams is broken.

## Steps to Reproduce

1. Open https://docs.securedrop.org/en/latest/development/tips_and_tricks.html#architecture-diagrams.
1. Click the link to architecture diagrams in the first paragraph (url: https://github.com/freedomofpress/securedrop/

[2020-10-09 02:50] sssoleileraaa commented on #5568
ah, looks like we have a few things to iron out in the new securedrop-docs repo. good catch. the link works for our `latest` version of documentation but not for `stable`. will look into fixing tomorrow.

[2020-10-09 02:55] sssoleileraaa commented on #5568
also https://docs.securedrop.org/en/latest/_images/securedrop-database.png should be replaced by this image: https://github.com/freedomofpress/securedrop-docs/blob/main/docs/diagrams/securedrop-database.png

[2020-10-09 05:43] eloquence commented on #5568
These changes have just landed in the `main` branch of the docs repo via https://github.com/freedomofpress/securedrop-docs/pull/22, so they're indeed live in the `latest` version only for now. To build a new `stable` version, we can push a `1.6.0-1` tag tomorrow.

[2020-10-09 05:44] eloquence commented on #4787
That sounds great, thank you @DrGFreeman! :)

[2020-10-09 13:47] emkll commented on #5500
Tor 0.4.4.5 has been upgraded as part of the 1.6.0 release (see #5501 )

[2020-10-09 13:47] #5500 closed, assigned to nobody

[2020-10-09 17:10] eloquence commented on #1532
Given the effort and complexity, we're unlikely to implement this; in any event, we'll want to consider server OS alternatives first (#5517). Closing.

[2020-10-09 17:10] #1532 closed

[2020-10-09 17:13] eloquence commented on #1554
As of SecureDrop 1.0.0, we are in fact using `border-bottom` in the SUI and JUI (there may still be some SASS cleanup to do, but the main issue is resolved).

[2020-10-09 17:13] #1554 closed

[2020-10-09 17:14] eloquence commented on #1556
Closing as specified, we may want to reconsider the path name at some point, but are probably not going to have a variable path depending on action.

[2020-10-09 17:14] #1556 closed

[2020-10-09 17:16] eloquence commented on #1564
Given our focus on the SecureDrop Workstation as an alternative to the legacy Journalist Workstation experience, closing.

[2020-10-09 17:16] #1564 closed

[2020-10-09 17:18] eloquence commented on #1573
This issue is outdated; discussions about revising instructions and UX on this page are still ongoing (#4096, #5239), however.

[2020-10-09 17:18] #1573 closed

[2020-10-09 17:24] eloquence commented on #1598
Screenshot showing the yellow blob in question:

![Screen Shot 2020-10-09 at 10 24 29-fullpage](https://user-images.githubusercontent.com/213636/95613325-a2663700-0a19-11eb-9aca-8beefc278410.png)

[2020-10-09 17:27] eloquence commented on #1599
It is a navigational link, so IMO should not really be a button. We can reconsider if others disagree. Closing, tentatively.

[2020-10-09 17:27] #1599 closed

[2020-10-09 17:33] eloquence commented on #1608
This is still a good idea, and something UX volunteers could help with. We could use the "New York World" branding for an example landing page:
![bignyw](https://user-images.githubusercontent.com/213636/95614124-de4dcc00-0a1a-11eb-8c79-bd3d10be9536.png)
![logo](https://user-images.githubusercontent.com/213636/95614128-dee66280-0a1a-11eb-908b-b9d4c45b789d.png)

[2020-10-09 17:51] eloquence commented on #4707
Haven't seen this in a while and docs have recently migrated; we can reopen if we observe again.

[2020-10-09 17:51] #4707 closed

[2020-10-09 18:09] rmol opened #5570 "i18n_tool.py list-translators is broken by multiple syncs in a release"
## Description

The `list-translators` function has a brittle heuristic for determining when to start gathering translator contributions; it looks backward through the git history for the most recent `l10n: sync` message. If we have to sync more than once for a release, to incorporate source string feedback or whatever, then it will miss contributions since the last release and before that sync.

[2020-10-09 18:27] eloquence commented on #5568
Fixed in `stable` now as well: https://docs.securedrop.org/en/stable/development/tips_and_tricks.html#architecture-diagrams

[2020-10-09 18:27] #5568 closed, assigned to nobody

[2020-10-09 18:38] eloquence opened #5572 "Consider optionally attributing replies to sources in Source Interface"
Reply attribution (which journalist sent a given reply) will be visible to journalists in the SecureDrop Client when https://github.com/freedomofpress/securedrop-client/pull/1142 lands. We should consider to also make it visible to sources in the Source Interface. This almost certainly would need to be optional (possibly per-reply) as journalists may sometimes need to respond to problematic submis

[2020-10-09 18:38] eloquence commented on #1592
Still relevant (thanks @psivesely), refactored for readability into #5572.

[2020-10-09 18:38] #1592 closed

[2020-10-09 21:40] #5501 closed, assigned to nobody

[2020-10-11 04:14] DrGFreeman commented on #1598
How about this:

![image](https://user-images.githubusercontent.com/22901938/95670126-b747e500-0b55-11eb-8391-8bdd2f2a99b4.png)

* `$color_grey_light` background
* no border
* Increased lateral padding (20px) and vertical padding (8px)
* monospace font
* Increased font size to 1.15em
* Bold font-weight

Let me know if this is good, I can make adjustments if you want and submit a PR with the change

[2020-10-13 00:25] ninavizz commented on #1598
Big legibility improvement, woo! :)

[2020-10-13 02:48] sheonhan commented on #5197
Hi @redshiftzero, I'd love to take this on as my first contribution to SecureDrop. I'll follow your proposal under the Comments heading as a guideline. Other than that, is there anything else I need to know before jumping in?

[2020-10-13 11:50] kushaldas commented on #5197
@sheonhan feel free to submit a PR (with tests), we can discuss if anything else is required at that. Thank you for showing interest.

[2020-10-13 22:56] #4869 closed

[2020-10-13 23:19] zenmonkeykstop commented on #5609
tested on the NUC8i5BEK as provided by @rocodes:
- 16.04.7 installer with built-in NIC: NIC not detected
- 16.04.7 installer with USB Ethernet dongle (TP-Link UE300): USB NIC detected, installation as normal
- installed 4.14.188-grsec kernel+headers from apt-test with `dpkg` and rebooted: boot frozen after `loading initial ramdisk`
- added `debug ignore_loglevel earlyprintk=efi,keep` to grsec kern

[2020-10-14 04:55] ninavizz opened #5576 "JUI Web UI nits"
## Just some Nina Nits
_Possibly to squeeze-into the forthcoming deletion flow work. Because I'm me, I had to._

- [ ] Capitalize the "F" in "Filter by codename"
- [ ] Replace the fontawesome icons with PNGs, for more graceful degradation. See tofu, below.

![image](https://user-images.githubusercontent.com/8262612/95945158-b48c0080-0d9e-11eb-9b43-bde156bfb0be.png)

[2020-10-14 08:51] #1598 closed

[2020-10-14 13:20] emkll opened #5577 "Tor Browser 9.5.4 no longer available"
## Description

Tor Browser 9.5.4 is no longer available on Tor's servers, and the dev container cannot be built.

## Steps to Reproduce
Run `make dev`

## Expected Behavior
Dev server should start, server should come up

## Actual Behavior
Observe the following error
[code]

[2020-10-14 14:17] kushaldas opened #5579 "Can not delete source keys in Focal"
## Description

In Focal container if we delete a source, the related `gpg` keys should also be deleted, but they are not getting deleted.

## Steps to Reproduce

- [ ] Start a Focal dev container from `dev_focal` branch: `make dev-focal`
- [ ] Login as journalist, delete a source.
- [ ] `docker exec -it containerid /bin/bash`
- [ ] root@7701c5345245:~/code/securedrop/securedrop# gpg2 --homedir=/v

[2020-10-15 05:56] #5577 closed, assigned to nobody

[2020-10-15 13:50] kushaldas opened #5584 "Update pytest-*, molecule, testinfra dependencies"
## Description

Currently we are using 3 years old versions of `pytest`, `pytest-xdist`, `pluggy`, `testinfra`, `molecule`.  We have to update these dependencies up to
the latest version where they support both Python3.5  and 3.8 (for `xenial` and `focal`).

[2020-10-15 21:57] #4746 closed

[2020-10-15 23:52] eloquence commented on #5503
We'll likely revisit this after we've completed the complex template consolidation effort (in the SecureDrop Workstation project, see https://github.com/freedomofpress/securedrop-workstation/issues/471), and after #5467 has landed, which is one important prerequisite.

[2020-10-16 00:00] eloquence commented on #5551
We're aiming to work on this late in the 10/15-10/29 sprint, or early in the following one.

[2020-10-16 00:06] eloquence commented on #5545
No reason to wait much longer, will start moving stuff over in coming days.

[2020-10-16 00:53] eloquence opened #5586 "Always use latest Tor Browser in development container"
We currently specify a fixed Tor Browser version number in https://github.com/freedomofpress/securedrop/blob/develop/securedrop/dockerfiles/xenial/python3/Dockerfile, which means we'll get dev env breakage the moment that version is no longer served (which may be well after a more recent stable release is available). We should consider attempting to always use the latest stable release, which woul

[2020-10-16 04:04] DrGFreeman commented on #5546
Hi @eloquence, this is something I can definitely take care of.

[2020-10-16 04:13] DrGFreeman commented on #5576
Hi @ninavizz, the replacement of Font Awesome icons with PNGs is covered in #5546. I proposed to take care of #5546. I could also include the capitalization of the "F" in "Filter by codename" in the same PR.

[2020-10-16 05:23] ninavizz commented on #5576
@DrGFreeman I would personally love that, thank you so much Dr G! :)

[2020-10-16 05:36] ninavizz commented on #5546
@DrGFreeman I would personally like to see the visual language between the Web UI and the new SD Client mirrored as often as possible; to that end, there is a cleaner Download icon we're using, there. It's SVG is here: https://github.com/freedomofpress/securedrop-ux/issues/17#issuecomment-472182534

@eloquence How do you and @emkll feel about having the existing download icon in the JUI replaced w

[2020-10-16 17:03] eloquence commented on #4296
This has been resolved for a while; pip-compile runs are always executed via the dev-shell in a container.

[2020-10-16 17:03] #4296 closed

[2020-10-16 17:06] eloquence commented on #2818
Since this issue was filed, we've published additional guidance on freedom.press, e.g.:
https://freedom.press/news/how-do-newsrooms-get-their-news-tips-we-reviewed-over-80-news-outlets/
https://freedom.press/training/blog/security-confidential-tip-pages/

That said, this issue is still valid; including some decision-making guidance in either the docs or the FAQ would make sense.

[2020-10-16 17:07] eloquence commented on #2786
(Tightening coverage requirements, as we have done in other repos, is still under discussion; we'll revisit soon. Issue can stay open for now.)

[2020-10-16 17:10] eloquence commented on #2917
Closing as stale; we've not had the issue described here recently during development.

[2020-10-16 17:10] #2917 closed

[2020-10-16 17:11] eloquence commented on #2785
Superseded by #5551.

[2020-10-16 17:11] #2785 closed

[2020-10-16 17:13] eloquence commented on #3395
This was resolved via #3414 a while ago.

[2020-10-16 17:13] #3395 closed

[2020-10-16 17:16] eloquence commented on #3665
This seems to have been resolved, not seeing these flakes in recent CI runs.

[2020-10-16 17:16] #3665 closed

[2020-10-16 17:18] eloquence commented on #3712
@huertanix Our consistent approach for both SecureDrop Client and SecureDrop Core has been to not indicate the precise reason for a login failure, to ensure that any malicious user cannot use this to test passphrases or 2FA codes. We're unlikely to want to revise that, so closing this issue for now, but we may want to tweak the error messaging to be more helpful (it's a bit better in the SecureDro

[2020-10-16 17:18] #3712 closed

[2020-10-16 17:20] conorsch commented on #3086
This work has been completed. Regarding `Valid-Until`, we added that to prod back in Feb 2020. It's still active:

[code]

Regarding S3 buckets, we did experiment with that setup briefly, but ended up using git-lfs-backed reprepro repositories: https://github.com/freedomofpress/securedrop-dev-packages-lfs/

[2020-10-16 17:20] #3086 closed

[2020-10-16 17:20] eloquence commented on #4526
We still want to continue to increase functional coverage, though it's worth noting that the Journalist Interface may eventually be deprecated in favor of the SecureDrop Client, in which case we may not choose to prioritize testing improvements for the legacy UI.

[2020-10-16 17:24] eloquence commented on #3173
Wording tweaks may still be helpful, but as pointed out in https://github.com/freedomofpress/securedrop/issues/3173#issuecomment-373800636 the original error message does warn about token re-use. PRs welcome to tweak wording, but closing this issue since this is an edge case that seems already reasonably well-handled.

[2020-10-16 17:24] #3173 closed

[2020-10-16 17:26] eloquence commented on #4687
(This is still valid, some cleanup here would be helpful.)

[2020-10-16 17:31] conorsch commented on #2436
Done, active since Feb 2020. See https://github.com/freedomofpress/securedrop/issues/3086#issuecomment-710258486

[2020-10-16 17:31] #2436 closed

[2020-10-16 17:33] eloquence commented on #2763
@emkll Looks like these never landed, do you think it's worth resurrecting your edits from https://github.com/freedomofpress/securedrop/commit/ff97d47563d607c6177284b7b9f85779d65750c4#diff-14415a526de4a3de45c9c26a38a256f894278ca66c6c4fb52589884b182b96f9 ?

[2020-10-16 17:35] eloquence commented on #2305
Closing as duplicate of #1698 (retitled for clarity).

[2020-10-16 17:35] #2305 closed

[2020-10-16 17:38] eloquence commented on #144
(Closing this issue because we're unlikely to implement this as-described.)

[2020-10-16 17:38] #144 closed

[2020-10-16 17:40] eloquence commented on #822
Closing per https://github.com/freedomofpress/securedrop/issues/822#issuecomment-333052295 , feel free to reopen if you want to make a strong security argument that would outweigh the concerns about complexity and maintenance effort (and potentially reduced usability).

[2020-10-16 17:40] #822 closed

[2020-10-16 17:42] conorsch commented on #832
We're interested in improving the monitoring story over all, even considering alternatives to OSSEC in https://github.com/freedomofpress/securedrop/issues/1123. At present, we're unlikely to add sysdig or other tooling without a deep rethinking about the role monitoring serves, and how Admins wish to interact with it.

[2020-10-16 17:42] #832 closed

[2020-10-16 17:45] eloquence commented on #966
That I think is the crucial point here. Plus, having admins pay attention to encrypted OSSEC alerts is difficult enough as it is without adding the complexity of managing another keypair. Per discussion with @conorsch we're unlikely to implement in this form, but feel free to reopen if you want to make a strong counterargument.

[2020-10-16 17:45] #966 closed

[2020-10-16 17:48] eloquence commented on #838
Per chat with @conorsch this would still be nice-to-have to reduce OSSEC noise during playbook runs, though generally the way to avoid that is to move more configuration options into the admin web UI, so that no playbook run is required during routine operation.

[2020-10-16 17:52] eloquence commented on #845
Closing as stale; since the OSSEC spam issue is resolved, we'd need clear STR for any remaining issues with log spam.

[2020-10-16 17:52] #845 closed

[2020-10-16 17:56] conorsch commented on #917
We're not going to implement this any time soon. As mentioned above (https://github.com/freedomofpress/securedrop/issues/917#issuecomment-351101158), physical access to a SecureDrop server is a problematic situation in itself, and denying insertion of new USB devices doesn't provide any meaningful protection. Even if we did restrict new insertions, an attacker would simply have to insert and then

[2020-10-16 17:56] #917 closed

[2020-10-16 17:57] eloquence commented on #1118
Still worth considering making the switch (or considering other alternatives), esp. as part of overall admin experience improvements.

[2020-10-16 19:54] conorsch commented on #1039
We still have the `paxtest` checks in the config, but they're still being skipped, since `paxtest` isn't installed in the server VMs. As soon as we start installing paxtest, the checks should run automatically—and presumably pass. :smile: There's the question of whether we want to install paxtest only on staging VMs, or everywhere—I'd strongly encourage everywhere, which dovetails with work like h

[2020-10-16 20:06] #5523 closed, assigned to nobody

[2020-10-16 20:06] #5499 closed, assigned to nobody

[2020-10-16 21:08] ninavizz commented on #5546
...following-up on the above, I replaced the `docs`, `messages`, and `download` icons to cleaner variants that imho work better in the tiiny footprints, than the existing glyphs. Pending approval from what others think, I'd be happy to provide PNGs. Yes, my typography is a tad borked, attempting to replicate how TorBrowser renders fonts w/o Javascript.

<img width="905" alt="Screen Shot 2020-10-16

[2020-10-16 22:00] eloquence commented on #5546
:+1: Thanks @ninavizz :). Since we're replacing these glyphs with PNGs anyway, I'm favor of the specific choices presented in the screenshot above; they're both clear and aesthetically pleasing.

[2020-10-16 22:32] KwadroNaut opened #5588 "Weblate login account error"
## Description

When trying to use GitHub to login, but that username is already registered, you will not get a helpul error message:

`Could not complete registration. The supplied authentication, e-mail address or username is already in use for another account.
`

## Steps to Reproduce

1.  Create a user at weblate.securedrop (username+password)
2. Logout of weblate
3. Login to a github account

[2020-10-17 03:50] nabla-c0d3 commented on #4399
FYI after all my current PRs are merged, I will make a final PR to enforce/require type annotations across the whole repo.

[2020-10-17 08:16] ninavizz commented on #5546
Cool! I went ahead and created new PNGs for them, and the rest of the fa-glyphs I could find in the JUI.

@DrGFreeman So... all the sizes of the font-awesome glyphs, were strange and random; presumably because their "font size" was something consistent and not random, yet they all rendered at different random sizes. Likewise, the text-fonts in the JUI all render a bit odd, so it was a little hard

[2020-10-17 14:54] DrGFreeman commented on #5546
Thanks @ninavizz! I'll start replacing the FontAwesome icons with the PNGs you provided. I'll use a constant height for now and we can adjust individual icons later.

Below is the list of unique FA icons I found with a search of the code base. On the right, I put the matching icons from those you provided. As you mentioned, there are other icons which do not have corresponding icons in your file.

[2020-10-17 20:02] ninavizz commented on #5546
So great @DrGFreeman, TY!! Yeah, the glyphs that are most commonly exposed to users, that _also_ render poorly at such a small size,  were my only real priority for replacement for simpler glyphs.

All of the replacement glyphs, I sourced from Google's [material.io icons library](https://material.io/resources/icons/?style=baseline). So, wherever attributions are mentioned in the code, a happy FOSS

[2020-10-17 22:00] DrGFreeman commented on #5546
Thanks @ninavizz. I used the link you provided to get the star icon svg in order to make colored versions for when sources are starred/unstarred.

This is what it looks like in Tor Browser with "Safest" setting:

![image](https://user-images.githubusercontent.com/22901938/96354157-5febcc80-10a1-11eb-8c07-17b8a786f382.png)

I'll keep working through the other pages and submit a PR when all pages ar

[2020-10-18 00:18] ninavizz commented on #5546
Dang it my friend, you are FAST!! That looks AWESOME! Thank you! The only nits I'd have, are if the vertical alignment between the icons and the text could be a little better—but I suspect that's a much bigger thing than your most excellent PR, so no worries. Wow. Really stoked to see this done, @DrGFreeman. Death to tofu-glyphs, woo!  :)

[2020-10-19 05:05] echoesactiii commented on #5588
I think it's a case of bad UX from Weblate here. This is what I narrowed it down to:

- It _seems_ as though the account was original created with a username/password, and never then had the GitHub account of the same name associated to it.
- Because the GitHub account wasn't already linked to a weblate account, it tried to create a new one with that username (the default behaviour when you login

[2020-10-19 12:21] kushaldas opened #5592 "test_submit_message and test_submit_file failure on Focal container"
## Description

On `dev_focal` branch, if we run tests, we will see errors related to gpg decryption operation.

## Steps to Reproduce

- [ ] `make test-focal`

## Expected Behavior

- [ ] all tests should pass

## Actual Behavior

`test_submit_message` and `test_submit_file` are failing with the following error.

[code]

## Comments

Suggestions to fix, any other relevant information.

[2020-10-19 12:54] #5579 closed, assigned to nobody

[2020-10-19 16:04] #4513 closed

[2020-10-19 16:24] #5566 closed, assigned to nobody

[2020-10-20 00:29] KwadroNaut commented on #5588
As I suspected, feel free to throw it over the wall at weblate and close this one. Thanks!

[2020-10-20 02:21] sheonhan commented on #5197
@kushaldas I created a PR https://github.com/freedomofpress/securedrop/pull/5582 to fix this issue. Would appreciate any comments and suggestions!

[2020-10-20 10:31] #5451 closed, assigned to nobody

[2020-10-20 17:44] eloquence commented on #4951
This was clarified via https://github.com/freedomofpress/securedrop-docs/pull/20. It's also worth noting that since this issue was filed, the `master` branch in `securedrop` has been deleted, reducing the risk of confusion.

[2020-10-20 17:44] #4951 closed

[2020-10-20 18:10] eloquence commented on #4647
These instructions were significantly expanded as part of https://github.com/freedomofpress/securedrop/pull/4657:
https://docs.securedrop.org/en/stable/journalist.html#risks-from-malware

Given the likely transition to Qubes-based workflows (and the journalist target audience), we're at the point of diminishing returns for Tails-based instructions at this point, so I'm closing this issue.

[2020-10-20 18:10] #4647 closed

[2020-10-20 18:26] eloquence commented on #4275
This is still an issue; as part of resolving, we should also document the [availability of onion names](https://securedrop.org/news/introducing-onion-names-securedrop/) for (v3) SecureDrop instances in the directory.

[2020-10-20 18:32] eloquence commented on #4259
Closing as duplicate of #490 but thanks for the additional context here, will cross-reference.

[2020-10-20 18:32] #4259 closed

[2020-10-20 18:45] eloquence commented on #4229
(Retitled/edited for clarity of remaining scope.)

[2020-10-20 18:51] eloquence commented on #4082
Retitled for clarity. Low priority but nice first issue for any docs contributor.

[2020-10-20 18:56] eloquence commented on #4016
It's 2020 now, but it's also 2020, so deprecation has been partially delayed:
https://blogs.windows.com/msedgedev/2020/03/31/tls-1-0-tls-1-1-schedule-update-edge-ie11/

That said, we may still want to go ahead and remove it from our recommended landing page config now, given the specific sensitivity of tips pages.

[2020-10-20 19:00] eloquence commented on #3834
The outdated Tails guide was removed a while ago, so this inconsistency is no longer present. See #4673

[2020-10-20 19:00] #3834 closed

[2020-10-20 19:14] sssoleileraaa commented on #5514
Whoops closed this by saying `partially resolves` this issue in the pr that was merged above. Reopening because we still need to update qa_loader to show seen data (and file submissions so we can test file-specific changes, but this can be done separately if one so chooses). I updated the title and description of this issue accordingly.

[2020-10-20 20:05] eloquence commented on #3792
(These docs currently live in our wiki, so I'm leaving this in the SD Core repo and tagging it "wiki" for now.)

[2020-10-20 21:16] eloquence commented on #3594
Still a valid issue, the "Follow the prompts" in https://docs.securedrop.org/en/stable/create_admin_account.html is indeed a bit terse.

[2020-10-20 21:26] eloquence commented on #3185
@conorsch Can you clarify the current status of this issue as you see it, in particular:

The docs in https://docs.securedrop.org/en/stable/install.html and https://docs.securedrop.org/en/stable/development/apt_repo.html explicitly reference https://github.com/freedomofpress/securedrop/blob/develop/SOURCE_OFFER, which contains up-to-date contact info. As far as you can tell, are there any places w

[2020-10-20 21:31] conorsch commented on #3185
Looks great to my eye. There was one additional option we discussed, which was supporting `apt source `securedrop-grsec`, which would be a nice convenience, but the request/offer setup we've got now satisfies the same concerns, albeit with a bit more overhead on our part. No immediate need to refine that workflow further, based on volume of requests, so, satisfied with closing.

[2020-10-20 21:31] #3185 closed

[2020-10-20 21:37] eloquence commented on #2751
I can't speak for Harlo but IMO we should still flesh out the "Onboard Journalists" section a bit to clarify before calling this done (maybe a single paragraph will suffice), so admins encounter this information earlier in the process.

[2020-10-20 21:43] eloquence commented on #1128
Since this was filed, a lot of docs have been added. https://docs.securedrop.org/en/stable/backup_workstations.html documents how to maintain a series of backups of the Tails USBs, and https://docs.securedrop.org/en/stable/backup_and_restore.html documents server backup/restore. We also routinely include reminders to back up Tails workstations as part of upgrade instructions.

That said, the infor

[2020-10-20 21:43] #1128 closed

[2020-10-20 21:47] eloquence commented on #2718
Retitled issue. While we can't be exhaustive, the "minimum security requirements" could indeed be fleshed out and clarified a bit.

[2020-10-20 21:49] eloquence commented on #1699
We may want to conserve energy and just link to the advisory, given the likely transition to the SecureDrop Workstation, which is much better-suited for distributed use.

[2020-10-20 21:52] eloquence commented on #1537
Upon consideration, closing in favor of more up-to-date UX tracking issue here: https://github.com/freedomofpress/securedrop-ux/issues/65

[2020-10-20 21:52] #1537 closed

[2020-10-20 21:58] rmol opened #5594 "dev server hot reload has stopped working"
## Description

In #5532 the `env` attribute was dropped from `SDConfig` in `sdconfig.py`. That value is checked in [`source.py`](https://github.com/freedomofpress/securedrop/blob/6246482157e31d0655a91c5e7284cc8550f2c289/securedrop/source.py#L11) and [`journalist.py`](https://github.com/freedomofpress/securedrop/blob/6246482157e31d0655a91c5e7284cc8550f2c289/securedrop/journalist.py#L26) to determi

[2020-10-20 22:08] emkll commented on #2763
Good find @eloquence , this information could be useful to an admin to better understand ossec alert baseline. It is definitely not an exhaustive list, but probably worth adding to the existing docs in my view.

[2020-10-20 22:16] eloquence commented on #2560
This is still a valid concern; retitled issue accordingly. I think the primary risk we need to cover more clearly in the documentation is the risk to sources, but it's true that these Tor-related risks also apply to anyone attempting to host a SecureDrop without being fully identified (e.g., some kind of anonymous underground media collective).

IMO that is not something we should aim to support g

[2020-10-20 22:22] eloquence commented on #2199
This is still a valid issue. Our docs treat YubiKey and HOTP as synonymous, and the UI does not provide any guidance on the format of the secret. This is an issue that covers both docs and UI, so I'm not migrating it to the `securedrop-docs` repo.

The priority here depends on how much emphasis we want to put on security keys (and of what variety, e.g., HOTP vs. U2F), especially as we potentially

[2020-10-20 22:40] eloquence commented on #2093
The docs issue has long since been fixed; closing in favor of #5297 (and potential transition to the SecureDrop Workstation).

[2020-10-20 22:40] #2093 closed

[2020-10-20 22:43] eloquence commented on #2383
Tentatively closing; we're unlikely to further complicate the key management story, and the `split-gpg` architecture in Qubes (or some such equivalent with GPG alternatives in future) seems to be a more future-proof improvement. Please reopen if you want to make a counterargument.

[2020-10-20 22:43] #2383 closed

[2020-10-20 22:52] eloquence commented on #2259
Sphinx does in fact generate `alt` attributes (the recommended way to describe media to screen reader software and other assistive technologies) from the labels used for the images throughout the docs, e.g.:

[code]

For accessibility purposes, it would be useful to audit these labels to make sure they are in fact descriptive of the image, as opposed to labels like "Copy file 1".

[2020-10-21 16:01] #5594 closed, assigned to nobody

[2020-10-21 21:43] eloquence commented on #2001
This is still a valid proposal; we should re-evaluate the information architecture of the install guide. Divio's [documentation system](https://documentation.divio.com/) offers some useful pointers for how explanatory content can be set apart from step-by-step how-to instructions.

[2020-10-21 21:48] eloquence commented on #2176
(Note: Because this covers both code/UX and documentation, I'm not migrating it to the new `securedrop-docs` repo.)

[2020-10-21 22:10] rmol opened #5596 "navigation back or up misuses a quotation mark as a directional symbol"
## Description

We use `«` as a directional indicator in navigation elements in a few of our HTML templates. ([example](https://github.com/freedomofpress/securedrop/blob/7ce9a126b3680a3d9a2399bbd7087a86e9341357/securedrop/source_templates/why-journalist-key.html#L23)) This symbol is a quotation mark in numerous languages, so probably looks pretty strange in those translations. It's also the wrong

[2020-10-21 22:15] eloquence commented on #2575
I think we need to more clearly define the scope of this issue for it to be actionable, but I'm leaving it open for discussion purposes. As of today, we have instructions for:
- [maintaining backups](https://docs.securedrop.org/en/stable/backup_and_restore.html)
- [onboarding journalists during the install](https://docs.securedrop.org/en/stable/onboarding.html)
- [adding users to the Journalist In

[2020-10-21 22:33] eloquence commented on #3176
This was done (for screenshots etc.) as part of the docs repo migration (#5435).

[2020-10-21 22:33] #3176 closed

[2020-10-21 22:50] eloquence commented on #3177
Closing in favor of https://github.com/freedomofpress/securedrop-ux/issues/79 (for follow-up research; includes a snapshot overview of existing landing pages as of mid-2019) and #1608 (for implementation).

[2020-10-21 22:50] #3177 closed

[2020-10-21 22:52] eloquence commented on #3373
BRIX support was removed from the docs in January 2019, so closing this old issue.

[2020-10-21 22:52] #3373 closed

[2020-10-21 23:01] conorsch commented on #2031
As mentioned in https://github.com/freedomofpress/securedrop/issues/3185#issuecomment-713151528, we're in a fine position here, with no further refinements necessary. Yes, it'd be nice to to provide "apt-get source" capability, but the existing request process isn't terribly time-intensive for FPF based on volume. Furthermore, the >=4.x kernel build story is exceeding simple: unpack tarball, run `

[2020-10-21 23:01] #2031 closed

[2020-10-21 23:10] eloquence commented on #4091
Retitled for clarity. Note that the diagram in the issue body is only used in the [website FAQ](https://securedrop.org/faq/about-securedrop/) at this point; the [overview](https://docs.securedrop.org/en/stable/_images/SecureDrop.png) in the docs uses a different diagram. We should standardize on a single diagram soon, and as part of that, more clearly indicate that the current architecture uses a

[2020-10-21 23:12] eloquence commented on #4571
@joaedwar has offered to take a step at reimagining this entry chapter of the developer docs. As part of that, we should make it clear for different contributor personas (e.g., beginning developer, advanced developer, documentation contributor, UX contributor) what preparatory steps they may want to take.

[2020-10-21 23:17] eloquence commented on #4573
This issue is a bit stale since the migration to the standalone docs repo. @huertanix, at your convenience, I would appreciate it if you could step through the updated docs setup instructions:
https://docs.securedrop.org/en/latest/development/documentation_guidelines.html#updating-documentation

Thanks to Python 3's `venv` module, there should be no requirement to follow OS-specific steps to insta

[2020-10-21 23:17] #4573 closed

[2020-10-21 23:38] eloquence commented on #5311
Thanks again @davralin for filing, and sorry for letting this sit for a while. BTW, no financial support required for a support portal account, it just means that we won't be able to give you priority support -- but I would still recommend [requesting an account](https://support.freedom.press/account/register) so you receive all official announcements by email, and so that you _can_ reach us via a

[2020-10-21 23:38] #5311 closed

[2020-10-21 23:41] eloquence commented on #5609
(Per most recent findings it sounds like only docs additions may be needed fro NUC8 support, so migrated to securedrop-docs repo.)

[2020-10-21 23:47] eloquence commented on #1139
Closing per above, feel free to re-open if you want to make a strong counterargument.

[2020-10-21 23:47] #1139 closed

[2020-10-22 00:06] eloquence commented on #2092
Still worth considering; note that [SSH-over-LAN support](https://docs.securedrop.org/en/latest/ssh_over_local_net.html) was added after this issue was filed, and we'd have to carefully test that any change to the recommended network configuration works in all possible system states.

[2020-10-22 00:10] eloquence commented on #3626
@pierwill The changes in https://github.com/freedomofpress/securedrop/pull/5301 where finally merged a few weeks ago; if you see room for additional improvement, please don't hesitate to file a `securedrop-docs` issue. Thanks!

[2020-10-22 00:10] #3626 closed

[2020-10-22 00:17] eloquence commented on #4664
(The logo was updated at the time, but other style tweaks are still very much worth considering.)

[2020-10-22 00:25] eloquence commented on #5545
I believe I caught 'em all, ping me (or if you have permission, be bold) if you still run into a wild docs issue :). I've not migrated issues whose scope may involve code changes or changes to other repos than just docs.

[2020-10-22 00:25] #5545 closed, assigned to nobody

[2020-10-22 06:48] davralin commented on #5311
I probably won't be handling this anymore internally, but I will pass that info along to my replacement.

If needed, feel free to ping me for specifics or anything, I don't mind answering, even though I wont be able to test any fixes.

[2020-10-22 22:02] eloquence opened #5598 "Add GitHub CodeQL and/or semgrep for static code analysis"
During today's tech meeting we agreed we want to trial run [GitHub CodeQL](https://securitylab.github.com/tools/codeql) for vulnerability discovery in the SecureDrop Core repository. An example configuration was also merged into the `securedrop-export` repository: https://github.com/freedomofpress/securedrop-export/pull/64

If we like the quality of its reports after using it for a couple of weeks

[2020-10-22 22:19] eloquence commented on #5588
@KwadroNaut I agree the error message could be improved. I've filed https://github.com/WeblateOrg/weblate/issues/4745 ; please don't hesitate to add ideas/context there as needed. Closing this issue.

[2020-10-22 22:19] #5588 closed, assigned to nobody

[2020-10-23 18:25] #5546 closed, assigned to nobody

[2020-10-23 18:25] #5576 closed, assigned to nobody

[2020-10-24 18:49] nabla-c0d3 opened #5599 "CryptoUtil code is not type-checked due to dynamic lookup/usage"
## Description

Initial discussion at https://github.com/freedomofpress/securedrop/pull/5532/files#r495506285

The CryptoUtil class now has type annotations, but they are never actually checked because the CryptoUtil instance is dynamically attached to the Flask app, and later dynamically accessed when it is used throughout the code base:

[code]

This prevents type checking and other code analysi

[2020-10-27 14:38] #5197 closed

[2020-10-28 08:50] kushaldas opened #5601 "tests/test_rm.py::test_secure_delete_capability on Focal"
## Description

The test_rm.py is failing.

## Steps to Reproduce

- `BASE_OS=focal securedrop/bin/dev-shell bin/run-test -s -v tests/test_rm.py`

## Expected Behavior

All tests should pass.

## Actual Behavior

[code]

[2020-10-28 09:14] kushaldas commented on #5601
If I add a print call and one after the subprocess call in the code, I can see all of them executing properly. Wondering how the test is actually failing.

[code]

[code]

[2020-10-28 09:21] kushaldas commented on #5601
Now I realized, this code will keep doing the right thing, as in `Focal` the `/bin/shred` just works.

[2020-10-28 11:37] kushaldas opened #5603 "tests/functional/test_source_metadata.py::TestInstanceMetadata::test_instance_metadata error on Focal"
## Description

tests/functional/test_source_metadata.py::TestInstanceMetadata::test_instance_metadata is failing on Focal

## Steps to Reproduce

- `BASE_OS=focal securedrop/bin/dev-shell bin/run-test -s -v tests/functional/test_source_metadata.py`

## Expected Behavior

All tests should pass

## Actual Behavior

[code]

## Comments

Suggestions to fix, any other relevant information.

[2020-10-28 13:53] kushaldas opened #5605 "Alembic related failures on Focal"
## Description

We have various alembic related failures on Focal application tests.

## Steps to Reproduce

- [ ] Create a fresh virtualenv from develop
- [ ] To test on focal, first move to `dev_focal` branch. `git checkout dev_focal`.
- [ ] `make test-focal`

## Expected Behavior

Tests should pass.

## Actual Behavior

[code]

## Comments

Suggestions to fix, any other relevant information.

[2020-10-28 19:26] eloquence opened #5606 "Update environment for functional tests"
Our functional test environment is falling a bit behind. That includes the `tbselenium` module, the Firefox Extended Support Release, and potentially other test dependencies. As part of the 10/28-11/12 sprint, we've committed to doing an environment refresh, which will help ensure correct test results corresponding to latest Tor release.

[2020-10-28 22:10] #5584 closed, assigned to nobody

[2020-10-29 09:30] kushaldas commented on #5605
For `BASE_OS=focal securedrop/bin/dev-shell bin/run-test -s -v tests/test_alembic.py -k test_alembic_head_matches_db_models`

The error is:

[code]

[2020-10-29 09:37] kushaldas commented on #5605
Too many other errors are also related to this `journalists_tmp` table.

[2020-10-29 10:46] kushaldas commented on #5605
Here is the dump of the schema from our code:

This `a9fe328b053a -> 60f41bb14d98` is where last time we are creating `journalists_tmp` table and dropping at the end.

[code]

[2020-10-29 10:58] kushaldas commented on #5605
On Xenial:

[code]

On Focal:

[code]

[2020-10-29 11:08] kushaldas commented on #5605
Digging more into the sqlite db:

[code]

[2020-10-29 11:18] kushaldas commented on #5605
Found the issue on <https://sqlite.org/lang_altertable.html>:

[2020-10-29 12:43] kushaldas commented on #5605
We can solve it for now by using the following diff in a PR:

[code]

But, I personally think in future we should rewrite the migration files. I will wait to talk to the team before I open the PR.

[2020-10-29 20:26] #5603 closed, assigned to nobody

[2020-10-29 22:27] rmol commented on #5605
If we don't rewrite the offending migrations, where we've used the procedure labeled [incorrect](https://sqlite.org/lang_altertable.html#caution) under [Making Other Kinds Of Table Schema Changes](https://sqlite.org/lang_altertable.html#making_other_kinds_of_table_schema_changes), but just call that pragma first thing within them instead of globally in `env.py`, we can avoid the risk that we chang

[2020-11-01 23:09] DrGFreeman opened #5607 "Assertions are not evaluated in some functional tests"
## Description

Functional tests using navigation steps in which the `assert` statement is behind the `if not hasattr(self, "accept_languages"):` guard clause always pass regardless of the assertion result.

## Steps to Reproduce

Replace the `assert` statement on line 168 below with `assert False`.
https://github.com/freedomofpress/securedrop/blob/8c86e8ee717c4971a34e8555b41f6e9d82e4870e/securedr

[2020-11-01 23:11] DrGFreeman commented on #5607
A quick search shows 24 occurrences of the `if not hasattr(self, "accept_languages"):` guard clause in the functional tests navigation steps (current `develop` branch):

[code]

Replacing the guard clause with `if True:` and running the functional test results in three failed tests (output edited for clarity):

[code]

[2020-11-02 10:22] kushaldas commented on #5607
I think @DrGFreeman  you also found another functional test error, the message `Reset two-factor authentication for mobile apps such as FreeOTP ` should be changed to `Reset two-factor authentication for security keys, like a YubiKey`.

[2020-11-02 10:28] kushaldas commented on #5607
`if not self.accept_languages:` is better than is None check in my mind :)

[2020-11-02 16:53] zenmonkeykstop commented on #5609
IMO this should move back to SD core - NUC10 support will require a kernel build.

[2020-11-02 17:28] nailor commented on #4768
FYI: I've made `dh-virtualenv` available on Focal, Bionic and Xenial here: https://launchpad.net/~jyrki-pulliainen/+archive/ubuntu/dh-virtualenv/

Edit: Added Xenial and Bionic to the list

[2020-11-03 18:42] rmol opened #5611 "cryptography dependency needs an update"
## Description

Dependabot found we were requiring versions of `cryptography` vulnerable to [CVE-2020-25659](https://github.com/advisories/GHSA-hggm-jpg3-v476):
- [admin/requirements.txt](https://github.com/freedomofpress/securedrop/network/alert/admin/requirements.txt/cryptography/open)
- [admin/requirements-testinfra.txt](https://github.com/freedomofpress/securedrop/network/alert/admin/requireme

[2020-11-03 19:38] rmol opened #5613 "Investigate replacement of `pyotp` with equivalent functionality in `cryptography`"
## Description

The `cryptography` package contains support for [HOTP/TOTP](https://cryptography.io/en/latest/hazmat/primitives/twofactor.html). We should see if it can do everything we use `pyotp` for. Those two packages are excellent and maintained, but our update protocol is laborious enough that we should eliminate any dependencies we can.

*Edited by @eloquence to reflect removal of `scrypt`

[2020-11-03 21:03] #5611 closed, assigned to nobody

[2020-11-03 22:16] #5605 closed, assigned to nobody

[2020-11-03 22:36] #5601 closed, assigned to nobody

[2020-11-04 12:14] #5606 closed, assigned to zenmonkeykstop

[2020-11-05 04:52] DrGFreeman commented on #5607
@eloquence, I can take care of this one if it's OK with the team.

[2020-11-05 09:46] #5592 closed, assigned to nobody

[2020-11-05 17:38] eloquence commented on #5607
@DrGFreeman That would be awesome, thank you :)

[2020-11-05 19:01] rmol opened #5617 "Resetting journalist password more than once can raise IntegrityError"
## Description

If a journalist's password is reset twice in quick succession, the second attempt to revoke the two-factor token will trigger an exception:
[code]

## Steps to Reproduce

- Run `make dev`
- Log in as `dellsberg`.
- Log in as `journalist`, visit http://localhost:8081/admin/ and edit the `dellsberg` account.
- Reset the password once, then again. You should see the `IntegrityError`.

[2020-11-06 18:46] #4787 closed

[2020-11-09 18:48] eloquence commented on #5617
Was able to reproduce immediately by following the STR.

[2020-11-09 21:17] emkll opened #5620 "Restore CodeCov.io functionality to this repo"
## Description

It looks like Codecov has stopped updating[1] the coverage information when Python2 support was removed in #4859 . We should either:

1. Restore coverage reports or
2. Remove the badge on the README of this repo.

[1] https://codecov.io/gh/freedomofpress/securedrop

[2020-11-10 20:39] rmol opened #5622 "cryptography 3.2.1 no longer works with OpenSSL 1.0.2 on Xenial"
## Description

The `cryptography` project [stopped supporting OpenSSL 1.0.2 in version 3.2](https://cryptography.io/en/latest/changelog.html#v3-2). The `RuntimeError` [raised now](https://github.com/pyca/cryptography/blob/0c7592c34fd58f0634f493d6ce542ab35d940b26/src/cryptography/hazmat/bindings/openssl/binding.py#L169), after our recent [update to 3.2.1](https://github.com/freedomofpress/securedr

[2020-11-10 21:05] #5524 closed, assigned to nobody

[2020-11-11 01:51] DrGFreeman commented on #5596
Hello @rmol, would you consider replacing the quotation mark with a left chevron like this:

![image](https://user-images.githubusercontent.com/22901938/98753995-a88e6100-2393-11eb-946c-91ae34d7e9aa.png)

As per your comment in #5593, since the link text next to the icon is self explanatory, the `alt` attribute could be set to `""` so screen readers ignore it.

Tagging @ninavizz and @eloquence  fo

[2020-11-11 12:06] #5617 closed, assigned to nobody

[2020-11-11 18:21] #5622 closed, assigned to nobody

[2020-11-12 07:30] #5607 closed, assigned to nobody

[2020-11-12 16:37] rmol commented on #5596
I suspect any directional symbols we use are wrong in RTL text, as we're doing nothing to switch them based on the `html` element's `dir` attribute (we are setting that, and using it to change text alignment in some places, just not with these symbols). I think you're right and we can address that with CSS, either by using different images or perhaps just different glyphs with `::before/::after`.

[2020-11-12 16:55] emkll opened #5624 "Update Tor to 0.4.4.6"
## Description

A new version of the stable series was release, which backports bugfixes and also contains a security fix, see https://blog.torproject.org/node/1952

Upstream issue discussing the fix can be found in https://gitlab.torproject.org/tpo/core/tor/-/issues/40080

[2020-11-12 20:26] eloquence commented on #5620
(At sprint planning today there was broad support for re-enabling this and @zenmonkeykstop offered to investigate. Retitled accordingly.)

[2020-11-12 20:28] eloquence commented on #5551
(@rmol is still focused on churning through the PR backlog to make this a bit easier, so bumped back to backlog for now.)

[2020-11-12 20:33] zklosko commented on #5517
I have a crazy idea, but it's so crazy it just might work. (Also, new to the project so take this with a grain of salt.)

For security reasons, it might be best to have an immutable OS, similar to if we provided Docker images. For even more security reasons, it looks like a good focus to keep SD on a separate, isolated system. Possibly even a disposable system...

So what if, in addition to Ubuntu

[2020-11-13 01:06] eloquence commented on #5401
I've inspected recent runs of this workflow, and while it's still flaky, I've not seen recent recurrences of this _specific_ issue, so closing.

[2020-11-13 01:06] #5401 closed, assigned to nobody

[2020-11-13 01:07] eloquence commented on #5047
We haven't seen a repro of this during recent QA cycles, so closing for now.

[2020-11-13 01:07] #5047 closed

[2020-11-13 17:51] eloquence commented on #5596
Starting with replacing quotation marks with a chevron sounds like a good idea, thanks for offering to take a stab at this @DrGFreeman :). I would recommend treating the RTL behavior as a separate issue as it will require more testing and ideally review from a speaker of an RTL language as well.

[2020-11-13 17:52] eloquence commented on #3268
@toast In case you're still following this issue, have you noticed any improvements in screenreader/Tor Browser interaction on Mac?

[2020-11-13 17:55] eloquence commented on #4421
@DrGFreeman Are you potentially interested in helping with this, as well?

[2020-11-13 18:17] eloquence commented on #2961
We should probably re-test these alerts with the current version of OSSEC; they very likely can still be improved in terms of clarity and fine-tuned in terms of severity (cf. #1712). Leaving open for now for visibility.

That said, the biggest monitoring issue for admins is to ensure that the mon server is in fact running at all.

[2020-11-13 18:24] conorsch commented on #1126
We don't want admins managing kernels on their SecureDrop servers themselves, so we won't be adding any support for that workflow. In terms of reliable automation for kernel builds, we've done a lot of work in that area:

* https://github.com/freedomofpress/ansible-role-grsecurity-build/ (current prod workflow)
* https://github.com/conorsch/kernel-builder (leaner, more accessible logic, not yet us

[2020-11-13 18:26] eloquence commented on #999
Note that curating and expanding these word lists is still desirable. It may also be useful to allow admins to configure the preferred language for newly generated journalist designations (which are drawn from a different set of wordlists, currently monolingual).

[2020-11-13 18:28] eloquence commented on #3689
Would be good to re-verify current behavior, can further investigate as part of late-stage Focal tasks (#4768).

[2020-11-13 18:28] eloquence commented on #4696
We've not observed these in a while, closing.

[2020-11-13 18:28] #4696 closed

[2020-11-13 18:28] eloquence commented on #4222
We've not seen this one in a while, closing.

[2020-11-13 18:28] #4222 closed

[2020-11-13 20:54] eloquence commented on #3823
Sorry for the very late response. Unfortunately password persistence for LUKS-encrypted devices was removed in Tails 3.9, and is unlikely to come back. See backstory in #4434 and https://gitlab.tails.boum.org/tails/tails/-/issues/16718.

[2020-11-13 20:54] #3823 closed

[2020-11-13 20:56] eloquence commented on #2551
The Source UI has changed very significantly since this issue was opened, but leaving open for now because the ideas for a better responsive layout are still worth considering. @toast if you do have time to revisit this, it would be useful to get your thoughts in the context of the current UI. Otherwise, will discuss with @ninavizz and others in future.

[2020-11-13 21:19] KwadroNaut commented on #999
Good reminder. @remko updated his tools and wordlists, they can be reused for other languages too if there's a need for it. To my understanding what he produced (and updates) is MIT-licensed (https://github.com/remko/dicewords/blob/master/LICENSE ), the generation and collection of the list is based of the 'open taal' initiative, tl;dr if you're fine with it, I'll create a pull request to either i

[2020-11-13 21:20] rmol opened #5625 "New icons aren't included in securedrop-app-code package"
## Description

In #5593 we added the `static/icons` directory. This isn't being included in the `securedrop-app-code` Debian package.

## Steps to Reproduce

- Run `make build-debs`.
- Run `dpkg --contents build/xenial/securedrop-app-code_1.7.0~rc1+xenial_amd64.deb | grep static/icons`; nothing should be listed.
- If you `make staging` and visit the journalist interface, the icons will be missing

[2020-11-13 21:53] zenmonkeykstop opened #5626 "TBB detection not working in SI for TBB 10.0.4 on MacOS"
## Description

TBB 10.0.4 on MacOS is incorrectly identified as a non-Tor browser in the Source Interface

## Steps to Reproduce

Start TBB 10.0.4 and visit an SI address.

## Expected Behavior

- message displayed indicating that user should change security setting

## Actual Behavior

- message displayed encouraging user to use Tor Browser "instead"

![Untitled 2](https://user-images.githubuser

[2020-11-13 23:31] ninavizz opened #5627 "SI: Encryption Instructions in Hide/Show Div"
## Problem
In today's SecureDrop there is more text between the H1 and the uploads/compose box, than most users are "trained" to read or process. As such, it is unlikely that many will. Secondly, the pre-encryption instructions are probably not clear, and miss an opportunity to educate Source users about the wonderful world of encryption.

## Solution
Drafted some time ago, [this CSS hide/show div

[2020-11-15 00:36] DrGFreeman commented on #4421
@eloquence, sure, I can get on it shortly.

So my understanding is that only the routes need renaming as the Source Interface now refers to the key as "our public key" (on `/lookup` and "the team's public key" on `/why-journalist-key`.

[2020-11-16 03:34] DrGFreeman opened #5630 "Tor Browser version in Focal dev container is outdated"
## Description

Tor Browser version in Focal dev container is outdated.

## Steps to Reproduce

Run `make dev-focal` or `make test-focal`.

## Expected Behavior

Application or tests run in dev container.

## Actual Behavior

Dev container build fails:

[code]

## Comments

#5586 has been raised to find a longer term solution. This issue is to upgrade the Tor Bowser version while a solution to #55

[2020-11-16 15:09] #5630 closed, assigned to nobody

[2020-11-16 19:37] harrislapiroff commented on #5626
I'll take a look at this for SDO purposes and share the necessary updates here

[2020-11-17 03:49] DrGFreeman opened #5633 "Fixture in functional tests fails randomly in focal-app-tests"
## Description

The `missing_msg_file` fixture used to create a submission and delete the associated file in the store for tests in `tests/functional/test_journalist.py::TestJournalistMissingFile` fails in a non-deterministic manner in the **focal-app-test** CI job.

## Steps to Reproduce

Run **focal-app-test** CI job and cross your fingers.

## Expected Behavior

Fixture does not fail.

## Actua

[2020-11-17 10:20] kushaldas opened #5635 "test_listening_ports failure on Focal"
## Description

## Steps to Reproduce

- [ ] `molecule test -s libvirt-staging-focal`

## Expected Behavior

All tests should pass

## Actual Behavior

[code]

[2020-11-17 10:38] kushaldas opened #5636 "test_apparmor.py failure on Focal"
## Description

## Steps to Reproduce

- [ ] `molecule test -s libvirt-staging-focal`

## Expected Behavior

- [ ] tests should pass

## Actual Behavior

[code]

## Comments

Most probably the `dhclient` path has changed in `Focal`.

[2020-11-17 10:45] kushaldas opened #5637 "gpg output change causing 3 errors on Focal testinfra tests"
## Description

## Steps to Reproduce

- [ ] `molecule test -s libvirt-staging-focal`

## Expected Behavior

- All tests should pass

## Actual Behavior

[code]

[2020-11-17 11:48] kushaldas commented on #5636
Yup, the correct path is `/usr/sbin/dhclient` in `Focal`.

[2020-11-17 19:59] zenmonkeykstop opened #5639 "Remove Python 2 transitional/workaround code?"
## Description

Not a bug per se, but there is at least one example of Python 2-specific code in the codebase:

https://github.com/freedomofpress/securedrop/blob/develop/securedrop/journalist_app/__init__.py#L140

It, and similar workarounds, should be removed.

[2020-11-17 21:49] rocodes opened #5640 "Testinfra runs failing in Qubes staging"
## Description

Differences in the Qubes staging environment (such as internal IP addresses used for app and mon qubes) lead to `testinfra` failures.

## Steps to Reproduce

Set up Qubes Staging environment according to docs, build debs, `make staging`, then `make testinfra`.

## Expected Behavior

Testinfra tests can be run successfully

## Actual Behavior

`testinfra` tests on debs built from la

[2020-11-17 21:51] conorsch commented on #5640
@rocodes Looks like this ticket is a duplicate of #5377. To my eye, 5377 has a bit more info, but the total number of failing tests hasn't changed much. Up to you which one we keep to track the work!

[2020-11-17 21:53] zenmonkeykstop commented on #5640
This should be relatively straightforward to implement: the testinfra tests load environmental information from a vars file - so if you can detect that you're in Qubes before loading the vars file you can just load a Qubes-specific one with the network values as per the docs. Also tests can be marked to be skipped if they're not env-appropriate - see the prod testinfra changes for an example.

[2020-11-17 21:54] rocodes commented on #5640
Not only a dupe, but _my_ dupe, oh dear. I'll close this one.

[2020-11-17 21:54] #5640 closed, assigned to nobody

[2020-11-17 23:32] #5625 closed, assigned to nobody

[2020-11-18 04:11] DrGFreeman commented on #5596
I will prepare a PR with this change. We can address the multiple RTL considerations in a subsequent issue.

[2020-11-18 12:55] kushaldas opened #5642 "test_apparmor.py failure on CI for Focal rebase job."
## Description

I could not reproduce it locally.

## Steps to Reproduce

- [ ] CI job rebase-with-staging-focal fails for this test.

## Expected Behavior

- this test should pass.

## Actual Behavior

[code]

[2020-11-18 16:17] rmol opened #5643 "Debian packages aren't tested for presence of all static assets"
## Description

The tests of our Debian packages don't check that all static assets are included.

[2020-11-19 02:18] DrGFreeman opened #5646 "Add checklist item to PR template for addition of static assets"
## Description

Add a checklist item to the PR template to ensure that if static assets are added, they are included in the AppArmor profile, as well as in the `securedrop-app-code` debian package.

## User Research Evidence

In #5593, icon files were added in a new folder at `static/icons/` however, the new folder and its content were not added to the `.rsync_filter` file, resulting in the icons

[2020-11-19 09:45] #5570 closed, assigned to rmol

[2020-11-19 11:37] kushaldas commented on #5635
From `mon-staging`

[code]

Now have to figure out why the service is not starting. Digging into it.

[2020-11-19 15:17] #5633 closed, assigned to nobody

[2020-11-19 16:10] kushaldas commented on #5637
In `Focal` the `gpg` command output has changed.

[code]

[2020-11-19 17:23] #5596 closed, assigned to nobody

[2020-11-19 19:24] rmol commented on #5637
It looks like `apt-key` accepts gpg's `--with-colons` option. We could use that to avoid changes in the default output.

[2020-11-19 19:56] harrislapiroff commented on #5626
Looks like the issue is the bit of the user agent string to match the macOS version. The current string:

https://github.com/freedomofpress/securedrop/blob/b16aa1f932ff5168536feb1d2dd13bf2a3ec0e47/securedrop/static/js/source.js#L1

An updated string that works:

[code]

(Note the specific bit that I changed was: `Intel Mac OS X 10\.14}` => `Intel Mac OS X 10\.[0-9]{2}`

[2020-11-19 22:18] #5643 closed, assigned to nobody

[2020-11-20 12:00] kushaldas commented on #5637
Also to remember, our code is using `gpg2`, but the test is using `gpg`. In xenial they are different versions.

[code]

[code]

[2020-11-23 18:59] emkll commented on #5295
Since cron-apt is separated into it's own task, we should create a new unattended-upgrades task, and conditionally use it in Focal in https://github.com/freedomofpress/securedrop/blob/9059594d6beb0d0b792006b9223e110ac7ffff08/install_files/ansible-base/roles/common/tasks/main.yml#L14 (and continue to use cron-apt in Focal). This will add a bit more complexity in the test logic, but will only be tem

[2020-11-24 13:51] kushaldas commented on #5635
There is nothing wrong in the ansible roles.

[code]

If I start the service via `/etc/init.d/ossec start`, it shows running, but then the test fail on the same server. If I login and check the status again, it is dead.

Looking at the `systemd` log, I can find:

[code]

Digging more on why `systemd` and `ossec` are not friends, I found [this blog post](https://blog.cadena-it.com/linux-tips-how-to

[2020-11-24 15:18] emkll commented on #5179
closed via https://github.com/freedomofpress/securedrop/pull/5585

[2020-11-24 15:18] #5179 closed

[2020-11-24 15:19] emkll commented on #5194
Closed via https://github.com/freedomofpress/securedrop/pull/5585

[2020-11-24 15:19] #5194 closed

[2020-11-24 16:39] emkll opened #5649 "Updater tests are failing in CI"
## Description

Error:
[code]

## Steps to Reproduce
Observe https://app.circleci.com/pipelines/github/freedomofpress/securedrop/1413/workflows/aec52e11-467b-4dfd-84ed-64f5b19fbef2/jobs/47078

## Expected Behavior

Tests should pass
## Actual Behavior

Tests are not passing (they aren't running due to an error)

## Comments

Suggestions to fix, any other relevant information.

[2020-11-24 19:58] #5649 closed, assigned to zenmonkeykstop

[2020-11-24 20:32] emkll opened #5650 "Display test output of journalist_gui test run"
## Description
In https://github.com/freedomofpress/securedrop/pull/5648 , we made changes to the test loging for the updater GUI due to #5649 . It appears that the Updater GUI tests are no longer running in CI, see
https://app.circleci.com/pipelines/github/freedomofpress/securedrop/1414/workflows/9a5c68c2-e6f3-4c54-af75-bb1ae685efe6/jobs/47086

EDIT: The tests _are_ running, however their results

[2020-11-24 21:59] eloquence commented on #5265
So far I've tested manually setting the permissions as you do here in postinst, and that permission configuration seems to make `gpg` happy -- I no longer see the `trustdb` errors. :tada: Now attempting to build a staging env as well.

[2020-11-24 22:07] emkll commented on #5650
Correction: the tests _are_ indeed running, the output of each test is simply not being displayed to standard out. Adding `-v` to `python3 test_gui.py -v` will print the results of each test. I've updated the description of this issue.

[2020-11-25 02:14] eloquence opened #5652 "In molecule upgrade scenario, client key for v3 services is difficult to locate"
## Steps to reproduce

I did the following:
1. `make build-debs`
2. `make staging`
3. Delete the resulting VMs, in preparation for upgrade scenario
4. `make upgrade-start`
5. `make upgrade-test-local`

## Expected result

I can log into the upgrade testing JI with the hidden service authentication token found in a predictable location.

## Actual result

- The token found in `install_files/ansible

[2020-11-25 17:27] #5626 closed, assigned to nobody

[2020-11-25 18:20] kusalhettiarachchi commented on #3587
is this still unresolved?

[2020-11-25 19:04] eloquence commented on #5652
That's expected because v3 services use a keypair while v2 services use a shared token. For v3 services, the server never holds the private key required to authenticate. More info [here](https://community.torproject.org/onion-services/advanced/client-auth/).

In discussion at standup today we agreed that it may make sense for the upgrade testing playbook to output the public key value required to

[2020-11-25 21:44] zenmonkeykstop opened #5653 "Molecule upgrade scenario will fail if user has too many SSH keys"
## Description
(as spotted by @eloquence)

If more than 6 SSH private keys are present in the user's `.ssh` directory, the `make upgrade-start` command may fail with errors like `Too many authentication failures`.

## Steps to Reproduce

- add more than 6 SSH keys
- run `make upgrade-start`

## Expected Behavior
`make upgrade-start` completes successfully

## Actual Behavior

`make upgrade-start`

[2020-11-26 09:46] kushaldas commented on #5635
This is log from the `app-staging` even if the server is running in the mon server.

[code]

[2020-11-26 09:48] kushaldas commented on #5635
From the `mon-staging`:

[code]

[2020-11-26 10:10] kushaldas opened #5655 "DNS is broken on Focal staging server."
## Description

`/etc/resolv.conf` contains;

[code]

## Steps to Reproduce

- [ ] `apt install nmap`

## Expected Behavior

- [ ] `apt` should be able to reach to the servers

## Actual Behavior

- [ ] it is stuck as it can not do any name resolution.

## Comments

Suggestions to fix, any other relevant information.

[2020-11-26 10:13] kushaldas commented on #5635
From the `app-staging`:

[code]

Tried to verify to make sure that we are following [the guide from upstream](https://www.ossec.net/docs/faq/unexpected.html#the-communication-between-my-agent-and-the-server-is-not-working-what-to-do).

[2020-11-26 11:01] kushaldas commented on #5635
[code]
But https://ossec-docs.readthedocs.io/en/latest/docs/programs/ossec-control.html says it is there :(
Update:

works on `mon-staging`, but no service is with `-d` because systemd service :(

[2020-11-26 14:42] emkll commented on #5635
If you look at `/var/ossec/alerts/alert.log` on the `mon` server, you will be able to confirm if the logs are flowing to the mon server, if you see any `app` entries in there, that means the logs are being sent

The errors
[code]
Look like generic error when starting a service.

On `mon`, `/var/ossec/bin/list-agents -c` will return you all the active agents, to confirm (or not) if the agent is con

[2020-11-26 14:59] emkll commented on #5642
The full error is:
[code]

The error occurs at the time the task common: Ensure the system clock is set accurately is run, `ntpdate` returns with an error that the NTP socket is in use, which happens _before_ packages are updated.

The version of the box in CI is `bento/ubuntu-20.04 (libvirt, 202005.21.0)`

After downloading the same version on my local machine:

[code]
I can observe the same test

[2020-11-26 15:44] kushaldas commented on #5642
Ah, I have an newer version it seems on my box:

[code]

[2020-11-26 15:58] kushaldas commented on #5635
I am yet to move the systemd changes into the ansible role as I was doing debugging by hand. I will do so in the morning, and push here.

[2020-11-26 16:54] #4421 closed

[2020-11-27 20:13] emkll commented on #5655
I can reproduce this locally, looks like the default DNS resolver is different in 20.04.

Looking at `/etc/resolv.conf` there is a comment in that file:
[code]

The DNS name servers should be configured in `/etc/systemd/resolved.conf`, if the target OS is based on Ubuntu Focal. We should add some conditional logic to handle

We should also add a testinfra test here to ensure we have test coverage.

[2020-11-29 08:50] ageis commented on #3182
I'm just going to leave this here for anyone interested. https://grafana.com/blog/2019/08/22/homelab-security-with-ossec-loki-prometheus-and-grafana-on-a-raspberry-pi/

[2020-11-29 08:52] ageis commented on #5517
My vote is for Alpine.

We used Alpine with a grsecurity RBAC to perform the Zcash parameter generation ceremony. It could only run a Rust executable and nothing else. NCC Group was not able to even dump the memory.

[2020-11-30 08:52] kushaldas commented on #5655
Okay, the whole trouble is most probably coming from `systemd-resolve` package on Ubuntu Focal.
[code]

[2020-11-30 15:27] #5653 closed, assigned to nobody

[2020-11-30 20:19] rmol opened #5659 "Dual distro support broke "securedrop-admin verify""
## Description

When adding support for Focal to the configuration tests in #5529, a check of the `MOLECULE_SCENARIO_NAME` environment variable broke `securedrop-admin verify`, where it's not set.

## Steps to Reproduce

On an admin workstation:
- Run `securedrop-admin setup -t`
- Run `securedrop-admin verify`

## Expected Behavior

That the configuration tests would run.

## Actual Behavior

You

[2020-11-30 21:35] ninavizz commented on #3587
It is. We're hoping to do ux and user testing work to devise a solution, this quarter. We think. Can ping you once we're ready to go if you'd be interested in tackling this @kusalhettiarachchi? TY for your interest! :)

[2020-11-30 22:39] emkll commented on #5642
Closed via https://github.com/freedomofpress/securedrop/pull/5658 (see https://app.circleci.com/pipelines/github/freedomofpress/securedrop/1450/workflows/8846205f-055d-4b9c-84e3-efcf4f2a76a9/jobs/47377, the single failure is expected in that branch)

[2020-11-30 22:39] #5642 closed, assigned to emkll

[2020-12-01 04:19] kushaldas commented on #5635
The work is getting done on the https://github.com/freedomofpress/securedrop/pull/5638 PR.

[2020-12-01 07:34] eloquence commented on #5620
@zenmonkeykstop With #5632 and #5657 merged, is there more work left to do to close this issue?

[2020-12-01 14:56] emkll commented on #4245
Haven't seen this in a while, closing.

[2020-12-01 14:56] #4245 closed

[2020-12-01 15:31] emkll opened #5660 "Update sshd config for Focal"
## Description

In the current sshd configuration, we specify a path to a host dsa key for the server, but that has been deprecated/disabled. This was uncovered by an ossec alert while reviewing https://github.com/freedomofpress/securedrop/pull/5638

The alert is as follows:

[code]

The server sshd config is
https://github.com/freedomofpress/securedrop/blob/1d50b6ecd4bc0cfe6c803630b7fb4f8d39bc381

[2020-12-01 15:35] emkll opened #5661 "Move apache2 service to systemd in Focal"
## Description

In the https://github.com/freedomofpress/securedrop/blob/1d50b6ecd4bc0cfe6c803630b7fb4f8d39bc3810/install_files/securedrop-app-code/debian/postinst, we [stop](https://github.com/freedomofpress/securedrop/blob/1d50b6ecd4bc0cfe6c803630b7fb4f8d39bc3810/install_files/securedrop-app-code/debian/postinst#L168) and [restart](https://github.com/freedomofpress/securedrop/blob/1d50b6ecd4bc0c

[2020-12-01 16:50] zenmonkeykstop commented on #5620
It's good to close.

[2020-12-01 16:50] #5620 closed, assigned to nobody

[2020-12-01 22:10] #5650 closed, assigned to zenmonkeykstop

[2020-12-01 22:19] emkll opened #5663 "Attempt hardware SecureDrop install on Focal"
As part of the [Focal epic](https://github.com/freedomofpress/securedrop/issues/4768) , we have now all (application and infra) tests passing in CI in Focal https://github.com/freedomofpress/securedrop/pull/5638 .

CI and staging environments are virtualized, and as such there can be differences in kernel support, but also with packages installed. This will also help us begin to document any diffe

[2020-12-01 22:25] emkll commented on #5509
Molecule is running the testinfra tests as of #5486. Fixing the tests is in scope of #5510 and will be addressed in https://github.com/freedomofpress/securedrop/pull/5638. Closing

[2020-12-01 22:25] #5509 closed, assigned to nobody

[2020-12-02 18:19] eloquence commented on #5511
Given the maintenance burden, let's discuss as a team whether we still want to support this architecture for the staging environment going forward.

[2020-12-02 18:23] eloquence commented on #5468
(Closing this out, we do have `make staging-focal`, tasks that were remaining are already tracked separately).

[2020-12-02 18:23] #5468 closed, assigned to nobody

[2020-12-02 18:26] eloquence commented on #5663
(Blocked on #5638)

[2020-12-02 22:23] emkll commented on #5661
Took a look at the files provided by the apache2 package in Focal, and systemd-specific services are in /lib and thus not active. However, they provide a sysv service in init.d
[code]

During review of #5638, @kushaldas stated that the systemd-sysv-generator [1] handled the service from the init script, providing backwards compatibility when using systemd.

Based on the above, I think we should cl

[2020-12-02 22:23] #5661 closed, assigned to nobody

[2020-12-02 22:37] sssoleileraaa opened #5664 "Add options for initializing or resetting dev server DB"
## Description

During development, we typically use a dev server running in a docker container to test changes to the server, proxy, sdk, desktop client, and web client interfaces. We also use a dev server to run automated end-to-end functional tests. Whenever we change the behavior of how we start and initialize the dev server, we have to make sure it is developer-friendly (since we all use it a

[2020-12-02 22:43] eloquence commented on #5664
I don't think we'd need to, at least not with the current SDK tests. Just a `make dev-reset-db` target or similar to reinitialize the database and populate it using the same configuration that was used to initialize it might be sufficient, if we want to avoid changing state between tests.

[2020-12-04 16:52] ageis commented on #4217
Hi @evilaliv3. I read that ticket, and it's not clear to me whether you've either:
A) explicitly added new flags to the kernel boot cmdline
B) enabled certain security build flags during the kernel compilation processs

This is what I was suggesting. cc @conorsch ?

[2020-12-04 18:31] zenmonkeykstop commented on #2642
Closing, will track improvements to OSSEC alerting in https://github.com/freedomofpress/securedrop/issues/1712 instead.

[2020-12-04 18:31] #2642 closed

[2020-12-04 18:54] usmanmuhd commented on #5073
Hi @eloquence,

I would like to work on this issue. Please can it be assigned to me so that I can start collaborating and working on this?

[2020-12-04 19:14] zenmonkeykstop commented on #2362
Another approach to this problem was proposed in #3136 - the issue as a whole bears further discussion (would be amazing to get in for Focal migration, tho definitely a stretch goal at this point).

[2020-12-04 19:17] zenmonkeykstop commented on #1681
Discussed in backlog grooming session today. Agreed to close as the only real testing benefit over current staging config would be a more accurate OSSEC configuration.

[2020-12-04 19:17] #1681 closed

[2020-12-04 22:12] zenmonkeykstop commented on #2361
Looks like this was removed altogether in 0.12.0. Closing this issue.

[2020-12-05 02:43] nabla-c0d3 commented on #4399
This issue can now be closed: typing annotations are enforced across all files outside of the test suite.

[2020-12-07 22:26] #5636 closed, assigned to nobody

[2020-12-08 14:26] #2361 closed

[2020-12-09 16:41] emkll commented on #5635
Closed via https://github.com/freedomofpress/securedrop/pull/5638

[2020-12-09 16:41] #5635 closed, assigned to nobody

[2020-12-09 16:42] emkll commented on #5637
closed via https://github.com/freedomofpress/securedrop/pull/5638

[2020-12-09 16:42] #5637 closed, assigned to nobody

[2020-12-09 16:42] emkll commented on #5655
closed via https://github.com/freedomofpress/securedrop/pull/5638

[2020-12-09 16:42] emkll commented on #5510
closed via https://github.com/freedomofpress/securedrop/pull/5638

[2020-12-09 16:42] #5510 closed, assigned to nobody

[2020-12-09 16:45] #5655 closed, assigned to kushaldas

[2020-12-11 21:07] eloquence commented on #1000
As far as we know, now that we're on Python 3, there are no restrictions that would prevent us from supporting UTF-8 codenames other than the issue identified in #1001. If we discover other issues in resolving #999, we can address as part of that. Closing.

[2020-12-11 21:07] #1000 closed

[2020-12-11 21:07] eloquence commented on #1001
This is still a valid issue, and we should resolve in order to address #999.

[2020-12-11 21:10] eloquence commented on #1587
Retitled per discussion with @conorsch and @rmol, we'll resolve by fully deprecating use of `text-transform:uppercase`.

[2020-12-11 21:13] eloquence commented on #2378
Discussed in backlog review today w/ @conorsch @rmol -- this is something we still want to leave up to news organizations to configure as they see fit. Since this issue was filed, there is now input validation for these locale strings in `securedrop-admin sdconfig`, so if admins are using that to configure their instance, they cannot accidentally break their configuration by specifying an invalid

[2020-12-11 21:13] #2378 closed

[2020-12-11 21:15] eloquence commented on #2390
This could still be relevant as part of SASS cleanup as we expand language support, keeping open.

[2020-12-11 21:18] eloquence commented on #2561
As per comment in https://github.com/freedomofpress/securedrop/issues/2378#issuecomment-743429795, we want to leave it up to news orgs to decide which languages to support. As for partially translated locales, there are good opsec reasons that's not a good idea to allow. Closing.

[2020-12-11 21:18] #2561 closed

[2020-12-11 21:21] eloquence commented on #3126
There are major feasibility concerns here, and likely diminutive value given the configuration requirement. We're comfortable with sources choosing from a list of languages (news orgs can also set the default language). Closing.

[2020-12-11 21:21] #3126 closed

[2020-12-11 21:23] eloquence commented on #3325
(Discussed in backlog review today, still very much something we want to eventually support.)

[2020-12-11 21:25] eloquence commented on #4209
This is now done via Weblate checks, which seems to be the appropriate level at which to manage translation integrity. We can file separate issues for specific improvements to these checks. Closing this old issue.

[2020-12-11 21:25] #4209 closed

[2020-12-11 21:30] eloquence commented on #4084
Can't reproduce the rendering issue flagged by @heartsucker in current release:
![Screen Shot 2020-12-11 at 13 26 27-fullpage](https://user-images.githubusercontent.com/213636/101956457-7f403b00-3bb4-11eb-911f-8105fdf58997.png)

Closing; please reopen if you still see an issue in the above. (CC @ff98sha)

[2020-12-11 21:30] #4084 closed

[2020-12-11 21:31] eloquence commented on #4453
Closing in favor of #1584, which we may be able to address as part of the Focal transition.

[2020-12-11 21:31] #4453 closed

[2020-12-11 21:35] eloquence commented on #4621
Briefly discussed in backlog review, no longer an issue for NYT metadata result. Needs further investigation to determine if it is still an an issue; may be result of redundant user input during config; could be addressed both at `sdconfig` level and in API.

[2020-12-11 21:36] eloquence commented on #5069
This dropped off the radar; let's get it into 1.7.0 if all looks good.

[2020-12-11 21:51] rmol commented on #5427
Reported again, by the same person, in #5570. :roll_eyes: And it's been fixed.

[2020-12-11 21:51] #5427 closed, assigned to nobody

[2020-12-14 20:29] zenmonkeykstop opened #5668 "Allow for Focal prod VM installs using local packages"
## Description

Prod VM environments are currently Xenial-only:

- the /prod/ Vagrant VMs are based on bento/ubuntu-16.04
- currently not all securedrop core packages are available in focal flavour on FPF prod or test repos
- there is no way to use local packages during a fresh install.

It would be helpful for the migration process to be able to provision a Focal-based prod environment (using VMs

[2020-12-14 20:39] zenmonkeykstop commented on #5668
So far so good:

- Modified Vagrantfile to optionally use Focal base box (if env var set) - `vagrant up` runs without issues
- as there is no focal `dist` defined on apt-test, tried using the upgrade scenario's app server with some tweaking as a source of focal packages, which worked but is sub-optimal, an apt server defined and provisioned in same Vagrantfile as the prod VMs would be better
- not

[2020-12-15 16:58] kushaldas commented on #1261
Here are the minimal steps for doing this using nginx + uwsgi, for the PoC purpose, I am modifying a `Focal` staging instance.

## Install nginx via apt

[code]

We have to use `nginx` for this as `Apache` can not listen on an unix socket, but only on ports on IPv4 or IPv6.

## Install uwsgi in our virtualenv

But, first we had to install a few more packages because we had to build the wheel. Will

[2020-12-15 22:50] emkll commented on #1261
Thanks @kushaldas for the investigation and detailed writeup.

Based on the above, it seems like nginx is a hard requirement here? Is there a way to do this using Apache? Given the short timeframe for the update to Focal and the relatively large amounts of features to port (app separation, https certs, etc, it seems unrealistic to migrate the webserver to nginx from Apache. What do you think?

[2020-12-15 23:32] eloquence opened #5672 "Add clearer action reminder in Journalist Interface to enable v3"
As part of the 1.7.0 release, we've agreed that we want to improve our reminder in the Journalist Interface to enable v3 onion services. The current banner looks as follows:

![Screen Shot 2020-12-15 at 15 18 06-fullpage](https://user-images.githubusercontent.com/213636/102284729-913e1880-3ee9-11eb-9518-8b685d2b0e5a.png)

You can also see it on https://demo-journalist.securedrop.org/ after logging

[2020-12-15 23:49] eloquence opened #5673 "Send 24h OSSEC alert if v2 onion services are enabled"
As part of the 1.7.0 release, we want to leverage OSSEC to remind admins of the importance of switching to v3 services. One way to do so is to send an alert every 24 hours if v2 services are configured. We could vary the message depending on whether v3 onion services are _also_ enabled, using language identical or corresponding to that case in the Journalist Interface banner (#5672).

## User Stor

[2020-12-16 00:01] eloquence commented on #5672
Some initial suggestions re: UX & language:

- I think a more urgent banner color is appropriate in either case.
- For case 1: **Action Required:** Your SecureDrop servers are still reachable via v2 and v3 onion services. Make sure admins, journalists and sources are using v3 onion services, then disable v2 onion services. [Learn more]
- For case 2: **Action Required:** You must switch your Secure

[2020-12-16 01:34] eloquence commented on #5659
(Added to 1.7.0 milestone, seems like we want a fix in place before QA begins.)

[2020-12-16 01:49] eloquence commented on #5128
Given Canonical's heavy push towards snaps, 1) is the assumption in this issue still true for 20.04 (I'm noticing on a non-SD 20.04 server that even stuff like `lxd` is now provided via snap), 2) will it hold true for future packages we may want to install / do we shut any doors for ourselves by removing snap support?

[2020-12-16 01:54] eloquence commented on #5663
#5638 is merged; shoring up the prod VM story is another step towards this issue, see #5669.

[2020-12-16 02:00] eloquence commented on #5467
We'll have to decide if this is really going to make it to 1.7.0 given the complexity; if so, we need to start implementation on it soon. Per comment in https://github.com/freedomofpress/securedrop-client/issues/1143#issuecomment-742043843 this could be one of the changes that'll move us towards more consistent user management on SecureDrop Workstations.

[2020-12-16 02:03] eloquence commented on #5624
What's left to consider this issue resolved, and is it really "in development"?

[2020-12-16 02:04] eloquence commented on #5377
@rocodes you self-assigned on this issue; are you still working on it / planning to work on it?

[2020-12-16 05:56] kushaldas commented on #1261
Yes, `Apache` can not listen on unix sockets, `nginx` can.

The current timeline is hard for this move, and my personal suggestion would be not to try this.

Hopefully sometime next year, we will be in a better shape timeline wise to move all the logic from the `postinstallation` scrip into ansible playbooks inside of the app server, which would run in the post-inst. Thus making sure that the syst

[2020-12-16 15:33] emkll commented on #5624
The packages are now on live apt-test, but they will be only released to apt.freedom.press with the release of SecureDrop 1.7.0

[2020-12-17 00:30] eloquence commented on #3926
This is currently solved in the SecureDrop Client by showing such users with a "deleted" icon. See related discussion in #5467. This is still a valid issue as we may indeed want both: a way to preserve the association with fully deleted users, and a way to disable users without deleting them.

[2020-12-17 00:33] sssoleileraaa commented on #5467
It doesn't look like we've mentioned this in the issue yet, but we'll need to provide a way for admins to fully deleted shell journalist accounts that no longer have any references. We could also add this as a check when source records are deleted.

[2020-12-17 05:32] eloquence opened #5675 "Make it easier to delete all source data without preventing source login"
In #5358 we made it clearer that deleting a source account will prevent that source from logging in. Depending on a news organization's workflow, it may be desirable to delete all data associated with a source, while still accepting future submissions from that source.

Currently, this is only possible on the page for an individual source (go to source's page in Journalist Interface -> Select all

[2020-12-17 13:31] kushaldas opened #5676 "Disable v2 onion addresses while restoring from backup on Focal"
## Description

If the admin restores a backup which has both v2 and v3 onion addresses on to a Focal production instance, only the v3 addresses should be restored.

This will require 3 things:

- Remove any v2 onion address configuration from `/etc/tor/torrc`
- Remove /var/lib/tor/services/source
- Remove /var/lib/tor/services/journalist

[2020-12-17 17:27] #5668 closed, assigned to nobody

[2020-12-18 14:52] #5659 closed, assigned to zenmonkeykstop

[2020-12-19 22:09] nabla-c0d3 commented on #1001
The `CryptoUtil.clean()` function has been removed as part of https://github.com/freedomofpress/securedrop/pull/5600.

[2020-12-19 22:12] nabla-c0d3 commented on #999
Currently the `PassphraseGenerator`explicitly rejects non-ASCII words (to maintain existing behavior):

https://github.com/freedomofpress/securedrop/blob/develop/securedrop/passphrases.py#L59

However, this check can probably be replaced with a check for `encode("utf-8")` without any problem.

[2020-12-22 21:08] #1575 closed

[2020-12-22 22:58] zenmonkeykstop commented on #5128
On the base 20.04.1 LTS VM, there are no snaps installed by default. Since we don't use snap for the SD package dependencies, there are none installed on Xenial currently either. It's possible that in future Ubuntu versions we might be constrained to use it to satisfy application dependencies but right now (and for the duration of 20.04 support, probably) it's not required.

Given that in general

[2020-12-23 19:05] #5265 closed

[2020-12-24 12:04] dkorzhevin commented on #4768
Hello guys,

Anything I can help you with to speedup official support of 20.04 LTS for securedrop? Looking forward to help

[2020-12-24 14:57] rmol opened #5680 "Python type hint examples in contributor guidelines should be updated"
## Description

The [type hint examples in the contributor guidelines](https://docs.securedrop.org/en/latest/development/contributor_guidelines.html#example-of-type-hint) are no longer the style we want, since Python 2 was dropped. They should be updated.

[2020-12-24 15:20] rmol opened #5681 "Contributor guidelines should suggest communication first, not last"
## Description

In the contributor guidelines, we wait until the [very end of the document to suggest that an issue be filed before starting a PR](https://docs.securedrop.org/en/latest/development/contributor_guidelines.html#other-tips). (Our top priority, apparently, is signing commits. :laughing:)

We should ask contributors to check in with us before starting, particularly if the change will be

[2021-01-05 14:54] emkll commented on #4868
Because we will be updating the base OS for all servers as part of https://github.com/freedomofpress/securedrop/issues/4768 and requiring an Ansible run, CSP changes will be applied by this Ansible run. Closing.

[2021-01-05 14:54] #4868 closed

[2021-01-05 16:27] zenmonkeykstop opened #5685 "CI safety check failing due to cryptography 3.2.1 issue"
## Description

Currently `make safety` fails due to tests with  ids:

- `39252`: Cryptography 3.3 no longer allows loading of finite field Diffie-Hellman parameters of less than 512 bits in length.
- `39253`: `py` 1.9.0 has a DoS vuln. This is a  dev/test dependency

The functionality in `39252` is not in use in SecureDrop (it appears to be only in use on `cryptography`'s OpenSSL backend), so it

[2021-01-05 17:09] prateekj117 commented on #5675
@eloquence Sounds good. I can start looking into this.

[2021-01-05 18:07] eloquence commented on #5675
Hi @prateekj117, thanks for offering to poke at this issue. We're pretty far along with some user research in support of this work and this may not be the easiest project to collaborate on. If you're looking for a good frontend issue related to deletion, #4649 may be a better pick.

[2021-01-05 18:19] eloquence opened #5687 "Disable v2 support for Focal installs"
(Part of #5731)

Per our [roadmap](https://github.com/freedomofpress/securedrop/wiki/Development-Roadmap), support for v2 onion services will be removed for fresh installs starting with SecureDrop 1.8.0 (tentative release date: 2021-02-23). Accordingly, in addition to disabling v2 onion services during restores (#5677), we should ensure that v2 onion services cannot be configured during a fresh in

[2021-01-05 19:38] eloquence opened #5688 "Add EOL warning and disable Source Interface on instances running Ubuntu 16.04 after April 30"
As we did with Trusty (#4325), for security reasons, we'll want to disable the use of the Source Interface on instances that are running on Ubuntu 16.04 after its end-of-life (April 30, 2021). Support for Ubuntu 20.04 is expected to ship with SecureDrop 1.8.0 (tentatively scheduled for 2021-02-23).

See #4305 and #4325 for previous discussions regarding the language for the message displayed on th

[2021-01-05 20:00] eloquence commented on #5687
One open question: Do we want to preserve the existing behavior of `./securedrop-admin sdconfig` as-is for previously configured Xenial installs, or do we want to modify it in any way? I think we need to preserve it, so admins can still go through the documented process of v2 -> v2+v3 -> v3 to make the switch.

In that case, we need to detect on an `./securedrop-admin sdconfig` invocation whether

[2021-01-05 20:25] sssoleileraaa opened #5689 "Release SecureDrop 1.7.0"
This is a tracking issue for the release of SecureDrop 1.7.0

Tentatively scheduled as follows:

**String and feature freeze:** 2021-01-11
**String comment period:**  2021-01-11 - 2021-01-18
**Translation period:** 2021-01-18 - 2021-01-25
**Pre-release announcement:** 2021-01-19
**Release date:** 2021-01-26

**Release manager:** @creviera (surprise!)
**Deputy release manager:** @emkll
**Localizati

[2021-01-05 20:56] #5685 closed, assigned to nobody

[2021-01-05 23:58] eloquence commented on #5377
Bump :). @rocodes - do you still want to investigate this further in the next sprint?

[2021-01-06 00:17] eloquence commented on #5467
This is unlikely to be doable for 1.7.0 but remains high priority, so adding to 1.8.0 milestone for now.

[2021-01-06 00:17] conorsch commented on #5507
Started working on this already. Note that the work here boils down to "create Focal-specific `securedrop-grsec` metapackage", as described in #4768, and is closely related to #4134, as well. I'm going to open a new issue that succinctly captures the goal of a new metapackage to aid in upcoming review.

[2021-01-06 00:17] #5507 closed, assigned to conorsch

[2021-01-06 00:21] conorsch opened #5690 "Create Focal-specific securedrop-grsec metapackage"
## Description

As part of Focal support (#4768), we must create a new `securedrop-grsec` metapackage specifically for Focal. Doing so will allow us to preserve the existing Xenial behavior until its EOL (2021-04), and add new functionality for Focal, specifically:

* Using `paxctld` rather than `paxctl` #4134
* Pinning a specific kernel version explicitly (was #5507)

Note that we don't currently

[2021-01-06 00:23] conorsch commented on #4134
I created a separate issue to track: #5690. In terms of paxctld support, we'll reuse the logic from https://github.com/freedomofpress/securedrop-debian-packaging/tree/cee267e7dfebd9553cdf4b02ecbe54783049121c/securedrop-workstation-grsec/debian for the most part.

Using paxctld for Focal also means that most of the Ansible tasks in this file should be skipped, by marking them Xenial-only: https://g

[2021-01-06 00:58] conorsch commented on #5377
Also interested in seeing a branch! I'm using the Qubes environment pretty heavily lately, and while I've trained myself to filter the failures, it'd be great to get the full suite passing.

[2021-01-06 05:42] prateekj117 commented on #5675
@eloquence Sure !!!

[2021-01-06 08:37] ninavizz commented on #5672
1. Text on the Docs page from the "Learn More" link in the banner, must be updated. The total experience of a user reading the banner, then going to that page, needs to be considered. Recommendations have been [made and captured](https://github.com/freedomofpress/securedrop-docs/issues/122#issuecomment-755089890) in this issue, as I'm not yet fluent enough with GIT to do a PR.
2. Banner text: Less

[2021-01-06 11:22] ninavizz commented on #5672
Circle-bang image in mockups is 20x20 @100%. This is a PNG of that at 4x the size, to compensate for pixel density degradation. _Note: The PNG is white on transparent, so only shows here as a giant whitespace below the text._
![CircleBang_White-20x20](https://user-images.githubusercontent.com/8262612/103763198-5bfb8680-4fce-11eb-8844-2700a1bd0ac3.png)

[2021-01-06 15:13] zenmonkeykstop commented on #5672
Some nits on replacement text:
- there are 2 servers in an instance so references to server singular are not correct.
- "Please notify admin." doesn't seem grammatically sound.
- "updated to v3 onion services" might scan better as "updated to use v3 onion services"

[2021-01-06 15:49] zenmonkeykstop commented on #5672
Core PR #5679 is updated as follows:

- [ ] Text on the Docs page from the "Learn More" link in the banner, must be updated. **TBD, out of scope for core pr**
- [x] Banner text: Less is more. Keep it simple and on point. **Updated based on recommended text**
- [x] Banner color should be Urgent Coral #FF3366. **done**
- [x] Banner icon: Circle-bang icon in white. Art, in comment below @ 400%
- [x]

[2021-01-06 16:32] zenmonkeykstop commented on #5672
Screenshot of the updated banner
![urgent_coral](https://user-images.githubusercontent.com/2782952/103794515-a47c6980-4ff9-11eb-8f53-e66427b96306.png)
:

[2021-01-06 18:48] #5514 closed, assigned to nobody

[2021-01-06 19:47] rocodes commented on #5377
Sorry for the delays. I'm still interested in working on it, it got de-prioritized during the shuffle. I only have docs tasks on for this sprint so it seems like a good thing to keep on my plate.

[2021-01-06 21:56] eloquence commented on #5479
For the 1/6-1/20 sprint, @conorsch has committed to attempting to build and upload a 5.4 series kernel with the necessary patches to support NUC10 hardware, and @zenmonkeykstop will make a minimal attempt to install it on NUC10s.

[2021-01-06 23:09] eloquence commented on #5663
Now that we have packages on apt-test, this should be unblocked. @rmol will do a first install attempt on NUC7s during the 1/6-1/20 sprint and document findings here.

[2021-01-06 23:10] eloquence commented on #5128
We discussed this during sprint planning today and agreed that it's worth doing, assuming we don't discover unintended side effects. Since it's only relevant to Focal, we agreed it can potentially wait until 1.8.0 or later.

[2021-01-07 02:22] ninavizz commented on #5672
Dang skippy, you fast—TY!! Looks great! :)

Only nit with above mockup: No colon after the bolded text in the message, pls? Read below to see why. It just impedes the user's ability to consume that content as we expect to consume UI messaging. Also, see Material UI's copywriting best practies guide for punctuation advisement (included in this bulleted list on the [SD UX wiki](https://github.com/fr

[2021-01-07 06:26] nabla-c0d3 commented on #5675
@eloquence Is there a use case for not allowing the source accounts to login forever?

I don't know the news organizations' workflow very well, but it could be simpler to just support one logic,: preserving the source accounts around forever, while deleting their associated data when a journalist "deletes" them. Having two kinds of source deletion could add complexity/confusion.

[2021-01-07 16:23] zenmonkeykstop commented on #5672
That's a good point re instructional text, but this isn't the same context. We're not providing directly relevant instructions/warnings, we're trying to convince users that there's a completely new problem that they have to go and solve somewhere else.

My take on it is: we're looking for users to trust that there is an issue and then to take appropriate steps. To go all in on the machine shop ana

[2021-01-07 16:48] zenmonkeykstop commented on #5672
Also see alternate wording based on @eloquence feedback here: https://github.com/freedomofpress/securedrop/pull/5679#discussion_r553446042

[2021-01-07 17:22] ninavizz commented on #5672
Kev: I created that analogy on the fly last night, to try and demonstrate a concept. It clearly doesn't match, but we are not trying to "convince" users of anything other than "Things need to be fixed, click here to learn more."

The text I suggested follows UI best practices for notifications text. Period. Nitty grammar and punctuation rules, included. Your security points don't hold up. Security

[2021-01-08 01:15] conorsch commented on #5479
Haven't tracked down the necessary upstream commits to pull in as patches yet, which is a prereq for NUC10 support. I'll first try a build of 5.x with the patches we already have, and upload that to apt-test as a first step. We can rebuild and iterate on the config, only affecting Focal behavior, given the changes proposed in https://github.com/freedomofpress/securedrop/pull/5691

[2021-01-08 12:44] #4134 closed

[2021-01-08 12:44] #5690 closed, assigned to conorsch

[2021-01-08 18:14] #5672 closed, assigned to zenmonkeykstop

[2021-01-08 20:40] eloquence opened #5693 "Some automated screenshots are cropped incorrectly"
The automated screenshots generated using the functional tests are generally cropped well now, but there are a couple of screenshots that are now cropped incorrectly, possibly due to the page layout change resulting from the organization name feature added in #5629.

<details>
<summary>
Click to expand
</summary>

The OSSEC alert screenshot:
![journalist-admin_ossec_alert_button](https://user-imag

[2021-01-08 20:41] eloquence commented on #5693
@DrGFreeman Since you worked on the cropping in #4561, any interest in poking at this?

[2021-01-08 21:33] conorsch commented on #1224
This is long since done. We now use Molecule for various Ansible scenarios, and can provide per-scenario overrides such as https://github.com/freedomofpress/securedrop/blob/7f16b5f51271792ab0b698ff65cc011aa7a1a6c6/molecule/qubes-staging-focal/qubes-vars.yml

[2021-01-08 21:33] #1224 closed

[2021-01-08 21:35] eloquence commented on #2090
Still a nice-to-have improvement, a good issue for volunteers to work on who have Ansible/SSH familiarity.

[2021-01-08 21:40] eloquence commented on #2360
Leaving this open per discussion with @conorsch at backlog review:
- It may still make sense to replace some custom logic, but our general bias these days is to reduce the Ansible footprint overall as much as possible (e.g., by handling configuration logic in the packages; e.g., #2641).
- For changes we make here, we need to do a careful analysis as to whether or not they really reduce our own mai

[2021-01-08 21:42] eloquence commented on #2641
This is still a worthwhile improvement and consistent with our goal to reduce Ansible footprint. Good candidate for mid-term improvements to the provisioning story or a good ticket for a volunteer familiar with Debian packaging & Ansible.

[2021-01-08 21:48] conorsch commented on #2723
We haven't seen this issue in years, so I'm going to close it. A while back, we added checks for ntp logic very early in the initial install flow to catch clock skew errors, which seem to be related to the onion services failing in #2399. If someone has recent experience encountering this problem, please reopen or comment here!

[2021-01-08 21:48] #2723 closed

[2021-01-08 21:54] eloquence commented on #2724
This is a low priority refactoring task that we're unlikely take on unless it helps us with other Ansible provisioning changes, but we'd certainly consider community contributions. In general, we'd like to move as much of this logic into the packages themselves (via dependency declarations) as possible.

[2021-01-08 21:57] conorsch commented on #2725
In the context of #2641, it's a good idea to move these sysctl settings to a package. In fact, we already did that for vm stack heap settings during https://github.com/freedomofpress/securedrop/issues/1861. Moving all the settings into a package would give us much better control, and minimize our need to pester admins.

[2021-01-08 22:00] conorsch commented on #2727
This would still be a solid improvement. We're needlessly re-updating the apt lists several times throughout the install flow. More recent versions of ansible-lint discourage use of state=latest. Would certainly review a PR if someone wanted to tackle this conversion.

[2021-01-08 22:04] conorsch commented on #2738
We've improved our procedures around package building substantially, and now require that developers post build-logs to ensure proper commits and tags were verified: https://github.com/freedomofpress/build-logs There's an argument for further automation here, but I suggest that we evaluate those changes in the context of https://github.com/freedomofpress/securedrop-debian-packages-lfs/issues/35

@

[2021-01-08 22:04] #2738 closed

[2021-01-08 22:07] eloquence commented on #2742
We should still address this, but also consider moving this kind of logic into the packages (e.g., postinst) wherever possible; see for example #2641.

[2021-01-08 22:09] conorsch commented on #2743
We've certainly made progress toward this end (e.g. #4134), but not enough to close. A comprehensive look at Ansible package management logic, with #2724.

[2021-01-08 22:10] eloquence commented on #2743
Adding to near-term backlog for consideration as a relatively low hanging fruit improvement to our provisioning story.

[2021-01-08 22:12] conorsch commented on #2745
This is done! At least for Focal support. As of https://github.com/freedomofpress/securedrop/pull/5691, we now use paxctld for managing pax flags under Focal. For Xenial, there are still `paxctl` calls, but we'll clean that up after the EOL window.

As for the sysctl point, see #2725.

[2021-01-08 22:12] #2745 closed

[2021-01-08 22:14] conorsch commented on #2887
Unsure if this is still an issue. Based on the timestamps, this behavior was observed under Trusty, but we've since moved to Xenial, and are currently moving to Focal (#4768). If anyone can reproduce this issue, great, but not sure it's still a problem.

[2021-01-08 22:18] eloquence commented on #2964
Duplicate of #5317 which speaks a bit more to the behavior we want from an admin's perspective, closing and cross-referencing this one.

[2021-01-08 22:18] #2964 closed

[2021-01-08 22:18] eloquence commented on #5317
See the older issue #2964 for some ideas for how this could be implemented. Tentatively adding for consideration to the Focal epic, as this would potentially mark a nice cutoff for us to ensure that all new installs on Focal have this logic in place.

[2021-01-08 22:21] eloquence commented on #2966
Closing this for now since we're not necessarily committed to this strategy, but we will evaluate in the context of #5517; cross-linking for reference there.

[2021-01-08 22:21] #2966 closed

[2021-01-08 22:24] eloquence commented on #3136
This is very much worthy of consideration after the Focal migration, and in the context of larger discussions about the future of the server OS and provisioning story (e.g., #5517).

[2021-01-08 22:28] conorsch commented on #3194
Overall we're interested in reducing our dependency on Ansible to manage these types of changes: see #2641 & #2743, for example. The goal of #1966 is a great one, but it shouldn't require heavy use of Ansible as this issue describes. Closing.

[2021-01-08 22:28] #3194 closed

[2021-01-08 22:30] eloquence commented on #3203
This was done in #2714.

[2021-01-08 22:30] #3203 closed

[2021-01-08 22:34] conorsch commented on #3223
Low priority, but this a nice to have. We make careful use of groups already to manage a lot of the Ansible  logic. Using one and only one playbook for prod & staging would also help developers target the right place for changes, rather than having to duplicate them between the two locations.

[2021-01-11 10:53] #4331 closed

[2021-01-11 20:23] rmol opened #5698 ""securedrop-admin sdconfig" locale selection should prompt with a sorted list"
## Description

Right now `securedrop-admin sdconfig` vomits a long unsorted list of locale codes at the admin, so making sure the instance is going to wind up with all the locales they need to support is more difficult than it needs to be.

The minimum fix would be returning a sorted list from `SiteConfig.Locales.get_translations`, which would be easier to scan. We could get fancy and use `prompt

[2021-01-11 22:40] #4364 closed

[2021-01-12 14:01] #5673 closed, assigned to zenmonkeykstop

[2021-01-12 18:27] zenmonkeykstop commented on #5317
Anecdata supports this issue!

[2021-01-12 20:03] #5069 closed

[2021-01-12 20:21] conorsch opened #5699 "Update tor version to improve v3 Onion reliability"
## Description

The Tor Project is working on a fix to improve the reliability of v3 Onion Services. See details here: https://gitlab.torproject.org/tpo/core/tor/-/issues/40237

As of this writing, there are no new packages available, but we're monitoring closely and will aim to provide updates via the upcoming 1.7.0 release (#5689) at the latest. When packages are available, we'll place them on a

[2021-01-13 01:40] eloquence commented on #5675
Yes, to protect source anonymity, an organization may want to erase all trace of communications with a source from the server once the information has been dealt with. (Great question - we share your goal of keeping things as simple as possible!)

[2021-01-14 01:50] conorsch opened #5703 "[QA 1.7.0] Admin actions for user management trigger 500"
## Description

When attempting to edit an existing user account via the Journalist Interface, I see a 500 error.

## Steps to Reproduce
1. Perform clean install of 1.7.0~rc1
2. Via sdconfig, add `zh_Hans` & `zh_Hant` to supported languages (unsure if this is necessary, but that's what I did)
3. Log in as admin user, attempt to add a new user for via the Journalist Interface.
4. Log in as admin us

[2021-01-14 15:14] emkll commented on #5703
I can reproduce this error in an upgrade testing scenario, cron-apt upgrade from 1.6.0 to 1.7.0-rc1, (`zh_Hans` & `zh_Hant` not enabled)

[2021-01-14 15:21] emkll commented on #5703
The error here likely due to apparmor rules in recently refactored code:
[code]

[2021-01-14 23:32] #5646 closed, assigned to nobody

[2021-01-14 23:35] conorsch commented on #5703
Reopening simply to track backport to release branch.

[2021-01-14 23:40] conorsch commented on #5703
Backport was already open in https://github.com/freedomofpress/securedrop/pull/5706, that's now reviewed and merged.

It's worth mentioning that the `./securedrop-admin verify` checks inside Tails did catch the AppArmor violation, but only _after_ I ran through the relevant test plan components. So we may want to move the verify step down, chronologically, in the test plan, to maximize what it can

[2021-01-14 23:40] #5703 closed, assigned to emkll

[2021-01-15 00:32] conorsch commented on #5689
Test report from 1.7.0~rc1. Mostly completed yesterday. Omitted the portions I skipped, after encountering https://github.com/freedomofpress/securedrop/issues/5703

### Environment

- Install target: Clean install
- Tails version: 4.10 [sic, my Admin VM was out of date]
- Test Scenario: Clean install, v3-only, with zh_Hans
- SSH over Tor: Yes, v3 only
- Onion service version: v3 only
- Release can

[2021-01-15 00:37] eloquence opened #5709 "Remove deprecated `prod-specific.yml`"
`prod-specific.yml` was deprecated in #1762 and is no longer referenced anywhere; SecureDrop is generally configured via `./securedrop-admin sdconfig`, which populates the `site-specific` file. It should be safe to remove this old file.

https://github.com/freedomofpress/securedrop/blob/develop/install_files/ansible-base/prod-specific.yml

[2021-01-15 06:05] kushaldas commented on #5703
I noticed the similar `apparmor` error on source name generation too.

[2021-01-15 21:20] zenmonkeykstop opened #5711 "Install playbook doesn't support spaces in key filenames, but `sdconfig` allows them."
## Description

User report: installation fails if a pubkey with spaces in its name is specified during `sdconfig`.

## Steps to Reproduce

Set up a prod environment using an ossec pub key with a space in its filename

## Expected Behavior

Installation succeeds.

## Actual Behavior
installation fails during mon config.

[2021-01-15 22:31] emkll opened #5713 "Functional testing for AppArmor profile configuration errors"
## Description

As a continuation of https://github.com/freedomofpress/securedrop/issues/5646 , it would be helpful to detect AppArmor in an automated fashion (ideally in CI). There have been several instances of AppArmor errors slowing down QA/release cycles:
- https://github.com/freedomofpress/securedrop/issues/5703
- https://github.com/freedomofpress/securedrop/issues/5086
- https://github.com/

[2021-01-18 11:57] kushaldas commented on #5689
### Environment

- Install target: prod vm
- Tails version: 4.14
- Test Scenario: update testing from 1.6.0
- SSH over Tor: no
- Onion service version: v2 + v3
- Release candidate: rc2
- General notes: During fresh installs, attempt to select `zh_Hans` as a language choice.

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines ov

[2021-01-18 15:43] zenmonkeykstop opened #5714 "Cryptography warning message generating unactionable OSSEC alert"
## Description

With 1.7.0-rc2, OSSEC alerts containing `/var/www/securedrop/secure_tempfile.py:10: CryptographyDeprecationWarning: Python 3.5 support will be dropped in the next release of cryptography. Please upgrade your Python.` are generated on application startup. These will be generated until the move to Focal, so it might be worth suppressing the OSSEC email.

## Steps to Reproduce
Install

[2021-01-18 15:50] kushaldas opened #5715 "V2 warning still showing even with only v3 enabled service"
## Description

This instance had both v2 and v3 onion services enabled. It was showing the red banner asking to `Complete the v3 onion Services setup ...` banner. After disabling v2 and keeping only v3 service, and it is still showing the same banner.

## Steps to Reproduce

- [ ] prod vm with both v2+v3 running
- [ ] disable v2 via `./securedrop-admin sdconfig` and then `./securedrop-admin insta

[2021-01-18 17:12] kushaldas opened #5716 "Session expiry banner on the source index page"
## Description

From the release QA steps

## Steps to Reproduce

  -  Log in to the application server and update the value of `SESSION_EXPIRATION_MINUTES` from `120` to `2` in `/var/www/securedrop/config.py`, then restart Apache with `sudo systemctl restart apache2`
  - [ ] ❌ Visit the Source interface index page, and wait for slightly more than 2 minutes. Reload the index page, and verify that

[2021-01-18 17:28] emkll commented on #5715
Thanks @kushaldas I did manage to reproduce this. However, after restarting Apache or rebooting the application server, I no longer observe the banner. The app config is populated once the application starts with Apache, and prior to the webserver restarting, the old value for `V2_ONION_ENABLED` is in the configuration.

Can you try accessing the journalist interface again on the app server (after

[2021-01-18 19:15] emkll commented on #5716
@kushaldas I can also reproduce this issue. This appears to be an edge case where the `show_expiration_message` key set to `true` is not cleared from the session cookie after the user was logged out of a session due to inactivity at some point. Resetting creating a new Tor identity, or signing in and logging off as a user (without timeout) will clear that from the cookie.

Based on my local testin

[2021-01-18 19:23] emkll commented on #5689
## Mac Mini - cron-apt upgrade from 1.6.0 (In progress)
### Environment

- Install target: Mac Mini
- Tails version: 4.14
- Test Scenario: Cron-apt upgrade
- SSH over Tor: Yes
- Onion service version: v2+v3 -> v3 only
- Release candidate: 1.7.0-rc2
- General notes: During fresh installs, attempt to select `zh_Hans` as a language choice.

### Basic Server Testing

- [x] I can access both the source

[2021-01-18 20:20] emkll opened #5717 "Ossec alert is still being triggered after v2 services were disabled due to v2 ssh hidden service in torrc"
## Description

A short summary of the issue.

## Steps to Reproduce
- Install server with v2 to v3 (with ssh over tor set to true)
- Disable v2 onion service
- [ ] Observe torrc containing a definition for ssh using v2 services
- [ ] Observe ossec alerts stating you need to upgrade to v3 onion services

## Expected Behavior

After migrating to v3 onion services, admins should not receive alerts p

[2021-01-18 22:36] emkll opened #5719 "Some CI targets are failing when dependencies are installed"
## Description

Some CI tests are failing on the Weekly CI cron job:
- deb-tests-focal
- fetch-tor-debs

They appear to fail with a similar error message:
[code]
https://app.circleci.com/pipelines/github/freedomofpress/securedrop/1677/workflows/abd30cd2-de45-4372-85ea-8bccd0cdc327

## Steps to Reproduce
Look at https://app.circleci.com/pipelines/github/freedomofpress/securedrop/1677/workflows/abd3

[2021-01-19 15:23] emkll commented on #5719
We are using the Google cloud builders for some of the Makefile targets here:  https://github.com/freedomofpress/securedrop/blob/develop/.circleci/config.yml#L228 which still on Ubuntu Xenial.

The documentation is unclear on support/roadmap is suggesting the use of the (alpine-based) Docker official image, see https://github.com/GoogleCloudPlatform/cloud-builders.

Outside of (what seems like) a

[2021-01-19 15:40] zenmonkeykstop commented on #5689
QA plan - **IN PROGRESS**

- NUC5s
- NUC7s
- NUC8s
- Mac Minis
- 1U test servers

## 1.7.0 QA Checklist

For both upgrades and fresh installs, here is a list of functionality that requires testing. You can use this for copy/pasting into your QA report.

If you have submitted a QA report already for a 1.7.0 release candidate with successful basic server testing and application acceptance testing se

[2021-01-19 16:22] zenmonkeykstop commented on #5715
Replicated while QAing by:
- installing v2+v3
- updating to v3-only

The message still shows, but restarting apache with `ssh app sudo systemctl restart apache2` clears it.

As per @emkll, this can probably be most easily resolved by adding an apache restart in the install playbook after those files are changed, or - even easier - noting in the docs that the message will persist until the next nig

[2021-01-19 19:00] #5719 closed, assigned to emkll

[2021-01-19 20:45] zenmonkeykstop opened #5721 "500 error on attempt to download missing file submissions via "N unread""
## Description

Instead of displaying a flash message when an attempt is made to download submissions with missing files as per #5573, a 500 error page is thrown.

## Steps to Reproduce
- Submit multiple files via the SI
- delete one from the store on the app server
- attempt to download via "N unread" link on JI.

## Expected Behavior
flash message as per #5573

## Actual Behavior
500 error - log

[2021-01-19 20:48] #5717 closed, assigned to emkll

[2021-01-19 20:56] zenmonkeykstop opened #5722 "404 errors when attempting to download missing files in JI"
## Description

#5573 added a flash message to be displayed when a user attempts to download submissions that are missing from the application store. The message should be displayed on the original page - sources list or individual source page -  but is being displayed on a 404 page for `/col/None` in the former case and `/None` in the latter.

## Steps to Reproduce

- submit multiple files as a s

[2021-01-19 22:49] sssoleileraaa commented on #5722
I tested on nuc7 hardware, 1.7.0~rc2:

* When I click on the name of the file to try to download it (the `/col` path) I see the expected behavior.
* When I select the file and then click "Download", I hit the `/None` path and see the expected flash message but also the unexpected 404 Not Found message:

![Screenshot from 2021-01-19 22-36-41](https://user-images.githubusercontent.com/4522213/105103

[2021-01-19 22:57] sssoleileraaa commented on #5722
* I also see an Internal Server Error on the `/download_unread/None` path (by clicking the X unread button)
* I was unable to repro in the dev environment

[2021-01-19 23:29] eloquence opened #5725 "Remove all Xenial-specific code from the codebase"
SecureDrop 2.0.0 will be the first release to no longer support Ubuntu 16.04 (Xenial). As part of that release (but no sooner), we should remove all Xenial-specific code from the codebase, including any Xenial-specific application code, provisioning logic, or developer tooling.

## Next steps

- [x] Update Vagrantfile
- [x] Remove the following molecule scenarios
- [x] `builder-xenial`,  `libvirt-

[2021-01-19 23:52] eloquence commented on #4768
@dkorzhevin Sorry, I missed your note on this issue. We would absolutely appreciate your contributions; given the scope and complexity of this issue, it might be easiest to chat in real-time about how to best get involved, e.g. on https://gitter.im/freedomofpress/securedrop or in our virtual standups Mo-Thu at 9AM PST / 5 PM UTC (announced on Gitter).

[2021-01-20 05:03] nabla-c0d3 commented on #5716
FYI I fixed this in the following PR, when I refactored the session expiration logic: https://github.com/freedomofpress/securedrop/pull/5694/files#diff-c2cc3d723ead9193ae70023970aee1a19eaec93bf2c0ffbf1a9a19d89dfb00feL124 .

[2021-01-20 20:22] sssoleileraaa opened #5728 "Desktop shortcuts do not show SecureDrop logo or correct names"
## Description

When you log onto your [Tails Admin Workstation](https://docs.securedrop.org/en/stable/set_up_admin_tails.html?highlight=admin%20workstation) that already has had SecureDrop installed, you will see Desktop shortcuts for the Source and Journalist interfaces. Until you're connected to Tor, these Desktop shortcuts show an icon image of something other than the SecureDrop logo and the

[2021-01-20 22:01] rmol commented on #5721
Confirmed. Following STR with Tor Browser and the JI via the Onion service results in a broken redirect being issued, because Tor Browser has `network.http.referer.hideOnionSource` set to `true`, and the exception handling in #5573 gets no referrer, hence the request for `/download_unread/None`.

I'm looking into alternatives for the redirect.

[2021-01-20 22:11] zenmonkeykstop opened #5729 "Use Ansible to check available space on persistent volume before performing backups"
## Description

Currently the docs recommend comparing the size of `/var/lib/securedrop` with available space manually before performing a backup. This step could be automated, reducing admin effort and protecting against failed lengthy backups.

## User Research Evidence

None whatsoever.

## User Stories

As an admin, I want a simple and reliable backup procedure with minimal manual steps.

[2021-01-20 22:12] rmol commented on #5721
I was wrong about the cause. Even with `network.http.referer.hideOnionSource` set `true`, the `Referer` header is being sent if I disable `Header set Referrer-Policy "no-referrer"` in the journalist interface Apache config.

[2021-01-20 22:45] sssoleileraaa opened #5730 "system clock error expected to always happen?"
## Description

We have a check that ensures the system clock is set properly: https://github.com/freedomofpress/securedrop/blob/eb8d03e66b4b2628b78eb4d8a532e2932728d137/install_files/ansible-base/roles/common/tasks/post_ubuntu_install_checks.yml#L37 yet I think we expect it to fail every time because the ntp socket will be in use. In the comment above test, we say to ignore the errors for this ta

[2021-01-20 23:02] emkll opened #5731 "Remove support for v2 Onion Services"
## Description

Tor Onion Services V2 support will be disabled in clients on October 15th 2021 [1]
In https://github.com/freedomofpress/securedrop/issues/2951, we introduced support for v3 onion services, and #4768 , we on restricting the use of Onion Services to v3-only

This ticket is to track the removal of all onion service v2 functionality alongside the transition to Ubuntu 20.04.

[1] https:

[2021-01-20 23:22] #5715 closed, assigned to rmol

[2021-01-21 00:54] eloquence commented on #5688
(If we stick to a 6-8 week cadence, there's a good chance there'll be another release before April 30, so not strictly a release blocker for 1.8.0.)

[2021-01-21 01:26] eloquence commented on #5377
(Removed from board as #5712 is expected to resolve, and tracked there.)

[2021-01-21 01:30] conorsch commented on #5730
It's the `ignore_errors: yes` that causes the scary red warnings to be printed to the screen during the run. We can instead use `failed_when:` with the logic in the subsequent task:

https://github.com/freedomofpress/securedrop/blob/eb8d03e66b4b2628b78eb4d8a532e2932728d137/install_files/ansible-base/roles/common/tasks/post_ubuntu_install_checks.yml#L49

Then the task will always show green/happy,

[2021-01-21 09:47] #5721 closed, assigned to nobody

[2021-01-21 09:47] #5722 closed, assigned to nobody

[2021-01-21 10:16] kushaldas commented on #5716
Yes, I also prefer to have a fix later as this is a very rare case. I got the same behaviour as you documented here.

[2021-01-21 18:05] eloquence commented on #5714
Given that this warning will go away w/ the Focal migration, we've agreed that we'll just respond to any questions about it on an as-needed basis.

[2021-01-21 18:05] #5714 closed, assigned to nobody

[2021-01-21 18:23] eloquence commented on #5687
This is not on the 1/21-2/4 sprint as we're currently still focused on completing and stabilizing Focal support. However, in the coming days, I suggest we finalize the acceptance criteria for this issue.

[2021-01-21 18:52] eloquence commented on #5512
This will be needed for upgrade-testing between Focal releases, so can wait a bit longer.

[2021-01-21 20:34] eloquence commented on #5663
This is still a very high priority but slipped due to competing QA requirements for 1.7.0. @rmol and @emkll will lead this investigation during the 1/21-2/3 sprint.

[2021-01-21 20:56] sssoleileraaa opened #5737 "No longer auto-rename /etc/apt/sources.list.d/apt_test_freedom_press.list or make sure to change contents of file too"
## Description

`./securedrop-admin verify` can be run after installing SecureDrop to check that the install is set up and functioning properly. If you are a developer testing SecureDrop packages hosted on the apt-test server, then you probably ran the `securedrop-qa.yml` playbook to replace `/etc/apt/sources.list.d/apt_freedom_press.list` with `/etc/apt/sources.list.d/apt_test_freedom_press.list`

[2021-01-21 21:18] sssoleileraaa commented on #5737
It looks like `./securedrop_admin verify` also fails on `test_fpf_apt_repo.py::test_apt_repo_present` if you are using the apt-test server. The output is confusing, but here is what I was able to gather while watching this long script run (a consolidated grouping of the failures and skips where some of the failures happened twice - one for the mon and one for the app):

[code]

at the end it says:

[2021-01-22 02:42] sssoleileraaa commented on #5689
QA plan

- NUC5s
- NUC7s
- Mac Minis
- 1U test servers

## 1.7.0 QA Checklist

### Environment

- Install target: NUC7
- Tails version: 4.14
- Test Scenario: NUC 7i5BNH (v3 only clean install)
- SSH over Tor: Yes
- Onion service version: v3
- Release candidate: rc3

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
-

[2021-01-22 06:28] kushaldas commented on #5689
Spent some time on this:

[code]

It seems our server is throwing `403` for both `https://apt-test.freedom.press/dists/xenial/Release` `https://apt-test.freedom.press/dists/xenial/InRelease`.

Finally, just downloaded the package and updated by hand.

[2021-01-22 13:39] kushaldas commented on #5689
### Environment

- Install target: prod vm
- Tails version: 4.14
- Test Scenario: update testing from 1.6.0
- SSH over Tor: no
- Onion service version: v2 + v3
- Release candidate: rc4
- General notes: During fresh installs, attempt to select `zh_Hans` as a language choice.

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines ov

[2021-01-22 15:43] emkll commented on #5689
## 1.6.0-> 1.7.0-rc4
### Environment

- Install target: mac mini
- Tails version: 4.14
- Test Scenario: cron-apt upgrade
- SSH over Tor: yes
- Onion service version: v2+v3 -> v3 only
- Release candidate: 1.7.0-rc4
- General notes: During fresh installs, attempt to select `zh_Hans` as a language choice.

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I

[2021-01-22 17:48] emkll opened #5739 "Consider running spectre/meltdown tests in testinfra"
## Description

In https://github.com/freedomofpress/securedrop/pull/5318 , we introduced the ability to run testinfra over tor on production-like setups. During release testing on hardware, we manually run the spectre/meltdown tests (https://github.com/speed47/spectre-meltdown-checker/) to ensure the running kernel contains mitigations against these vulnerabilities.

In order to reduce QA burden,

[2021-01-22 21:45] sssoleileraaa opened #5740 "[1.7.0-rc4 QA] Internal Server Error when selecting Simplified Chinese"
## Description

When you select "zh_Hans" from the language menu on the Journalist Interface, you get an internal server error. This doesn't happen on the Source Interface, though.

## Steps to Reproduce

1. `git checkout release/1.7.0`
2. make sure `apt_repo_url` is set to `https://apt-test.freedom.press` and `apt_repo_pubkey_files` is set to `apt-test-signing-key.pub` in `install_files/ansible-b

[2021-01-22 22:10] rmol commented on #5740
It's due to a key error triggered by an out-of-date placeholder variable in one of the source strings in the journalist interface (`{doc_num}` changed to `{num}`). It's been sorted out during the translation work for this release -- the translators have been working with the updated source string, and the simplified Chinese translation is now correct. So when we merge the updated translations just

[2021-01-22 23:56] sssoleileraaa opened #5741 "Logged-out user is shown "You were logged out due to inactivity" and redirected to index page"
## Description

Clicking login button when you are logged out doesn't take you to the login page.

## Steps to Reproduce

1. Configure session timeout to be 2 minutes instead of the default 120 minutes.
2. Restart Apache `apachectl restart`
3. Log into the Source Interface
4. Go to submission page and click log-out button
5. Wait for just over 2 minutes
6. Click log-in button

## Expected Behavior

[2021-01-23 00:01] sssoleileraaa commented on #5741
Also, clicking the "Get Started" button doesn't do anything after you are logged out and redirected to the index page.

## Steps to Reproduce

1. Run through STR above
2. Click "Get Started" button

## Expected Behavior

For the "/generate" page to show up.

## Actual Behavior

You remain on the index page.

[2021-01-23 00:03] eloquence commented on #5741
(Cannot reproduce either issue in the Docker env, FWIW, neither on `develop` nor `release/1.7.0` branch)

[2021-01-23 00:16] sssoleileraaa commented on #5741
I updated the STR to say to wait for the timeout period of 2 minutes

[2021-01-23 00:17] sssoleileraaa commented on #5741
And this doesn't happen on develop - just rc4

[2021-01-23 00:18] sssoleileraaa opened #5742 "Session expiration message shows up when you log into the Journalist Interface"
## Description

When you log into the JI after waiting for the length of the timeout period specified in config.py, you see the expiration message on the index page.

## Steps to Reproduce

1. Configure session timeout to be 2 minutes instead of the default 120 minutes
2. Go to the Journalist Interface
3. Wait for just over 2 minutes
4. Log in

## Expected Behavior

To see the index page without a

[2021-01-23 00:21] eloquence commented on #5741
Potentially related: #5716.

[2021-01-23 00:53] sssoleileraaa commented on #5689
## 1.7.0 QA Checklist

### Environment

- Install target: NUC7
- Tails version: 4.14
- Test Scenario: NUC 7i5BNH (v3 only clean install)
- SSH over Tor: Yes
- Onion service version: v3
- Release candidate: rc4

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x] AppArmor is loaded on app

    - [x] 0 processes are

[2021-01-23 00:57] sssoleileraaa commented on #5741
One more related STR, which is actually copied from the 1.7.0 Test Plan to make sure that the session expiration message is only displayed when signed in:

## Steps to Reproduce

0. Like the STR in this PR description, set session timeout to 2 minutes and restart Apache.
1. Click the New Identity icon in the Tor Browser to clear current browser data and visit the Source Interface again
2. Click Ge

[2021-01-23 01:07] sssoleileraaa commented on #5716
Here are some related STRs: https://github.com/freedomofpress/securedrop/issues/5741. I'll keep them separate for now during QA but it probably makes sense to merge them into this Issue if we can't fix one or any of them during QA.

[2021-01-23 01:20] eloquence commented on #5317
## Implementation proposal

After evaluating several options, I would propose a pragmatic implementation within `securedrop-admin` that relies on our existing `check_for_updates` code, hardened with additional error checks, and with more user-friendly output.

We would perform a `check_for_updates` run before any `securedrop-admin` subcommand that connects to the server (e.g., `backup`, `install`,

[2021-01-25 01:57] gonzalo-bulnes opened #5743 "Guidelines for the use of "alt" text in icons"
## Description

@KwadroNaut raised the following question in [Gitter][orig]:

Are there existing guidelines on the use of `alt` text for icons? If so, maybe this issue would be more appropriately located in [documentation repo][docs].

If there are currently no explicit guidelines on the use of `alt` text for icons, then I think it is worth identifying the different contexts in which icons are cur

[2021-01-25 01:59] gonzalo-bulnes commented on #5743
Cross-posting from [Gitter][orig]:

  [orig]: https://gitter.im/freedomofpress/securedrop?at=600df2952cb18a437c3c53dc

[2021-01-25 02:04] gonzalo-bulnes commented on #5743
As a side note, I'm sure that clarifying the intended purpose of the icon's `alt` text would also provide valuable context to the people translating those strings.

[2021-01-25 15:33] emkll commented on #5741
Thanks for opening @creviera , I can reproduce the behavior you describe here. As you mentioned in #5716 , this appears to be the same underlying issue. In this case, the session expiry will always redirect you to the index page and not the login page:
https://github.com/freedomofpress/securedrop/blob/4df72e72f9b0e25a11696bafe3e960bf754cc38c/securedrop/source_app/__init__.py#L139-L141

Confirmed,

[2021-01-25 18:47] eloquence commented on #5467
Bumping to 1.9.0 for now, we'll prioritize working through the list in the order outlined by @creviera in https://github.com/freedomofpress/securedrop-client/issues/1143#issuecomment-742043843

[2021-01-25 18:50] eloquence commented on #5128
Considering as a stretch goal for 1.8.0, once other Focal requirements are met.

[2021-01-25 18:52] eloquence commented on #5598
(Removing from board for now, we're continuing to investigate various code analysis options including semgrep.)

[2021-01-25 18:56] eloquence commented on #1775
Candidate for a time-boxed review given the transition to Focal, but may end up getting bumped off the milestone.

[2021-01-25 19:14] eloquence commented on #5104
Flagging for in-depth discussion at a future tech mtg, potentially followed by a clearer requirements spec.

[2021-01-25 20:46] zenmonkeykstop commented on #5743
I followed advice here on a recent update: https://www.w3.org/WAI/tutorials/images/tips/ - in the case where an image is more decorative than anything, guidance is to set blank alt text to cause screen readers to just ignore it.

[2021-01-25 21:08] zenmonkeykstop commented on #5689
# QA plan - **IN PROGRESS**

- NUC5s
- NUC7s
- Mac Minis
- 1U test servers

## 1.7.0 QA Checklist

For both upgrades and fresh installs, here is a list of functionality that requires testing. You can use this for copy/pasting into your QA report.

If you have submitted a QA report already for a 1.7.0 release candidate with successful basic server testing and application acceptance testing sections

[2021-01-25 23:10] eloquence opened #5744 "Consider adding dev env option to disable TOTP check"
As discussed in https://github.com/freedomofpress/securedrop-client/issues/1140, for CI automation of cassette generation and similar tasks, it may be desirable to be able to spin up a dev container with TOTP checks disabled.

To minimize any unintended side effects, this flag would only disable the TOTP check itself, not input validation checks -- so you would still have to submit a 6 digit numbe

[2021-01-25 23:12] eloquence commented on #5744
Open question: Would it be preferable ensure that our TOTP utility code is clean & reusable across that tests rely on it, and to refactor `conftest.py` in SecureDrop Client to make use of it? While I can see the convenience of this proposal, I worry that it sets up a potentially problematic pattern in terms of test fidelity.

[2021-01-25 23:22] eloquence commented on #5609
(Retitled and checklist updated for clarity.)

[2021-01-25 23:44] rmol commented on #5743
Thanks for raising this, @KwadroNaut and @gonzalo-bulnes. We don't have guidance on alt text, and have generally been working through accessibility issues as they come up, usually in the context of other changes. A dedicated effort to at least normalize handling of buttons/images/titles/alt text, reviewed with screenreaders, is long overdue. We have around 50 occurrences of alt text, so cataloging

[2021-01-26 00:04] eloquence opened #5745 "Consider enabling server-side compression for application/json API responses"
Potentially part of APIv2 (#5104):

https://github.com/freedomofpress/securedrop-sdk/pull/121 is an experimental PR to request compressed JSON API responses via the SDK, which in testing has shown significant performance benefits for endpoints with large response payloads. For this to work, the server has to offer compression for `application/json` (API) responses.

Before we proceed with this cha

[2021-01-26 00:59] sssoleileraaa commented on #5741
Yep, thanks @emkll for the code reference. The fix should ensure that we only show the "You were logged out due to inactivity" popup and redirect to the index page on user action when we _actually_ log a user out. If the user is already logged out as in the STRs above, we should not show them this message or redirect user action. It would also be an improvement to redirect immediately when the use

[2021-01-26 01:01] sssoleileraaa commented on #5741
I just confirmed that this is happening on 1.6.0 so I will update the Issue title and description.

[2021-01-26 01:09] sssoleileraaa commented on #5742
I also confirmed that this happens on 1.6.0 so I'm updating the issue title and description.

[2021-01-26 14:06] emkll opened #5747 "Build of focal-builder container is failing"
## Description

It appears the dependencies for dh-virtualenv cannot be resolved:
[code]
## Steps to Reproduce
- cd molecule/builder-focal
- make build-container
- observe error

## Expected Behavior
- Container should build build successfully

## Actual Behavior
- Container fails to build

[2021-01-26 14:24] emkll opened #5748 "static-analysis-and-no-known-cves ci target is failing"
## Description

It's working locally, but not in CI

## Steps to Reproduce
See https://app.circleci.com/pipelines/github/freedomofpress/securedrop/1732/workflows/607a8edb-b2ba-4f11-9eb1-89552580060a/jobs/49323
## Expected Behavior
Static analysis of source files

## Actual Behavior
There is an error when installing the package

## Comments

Invoking pip3 with -U appears to work locally

[2021-01-26 16:32] #5747 closed, assigned to emkll

[2021-01-26 16:32] #5748 closed, assigned to emkll

[2021-01-27 00:38] ninavizz opened #5754 "Misplaced "No Collections Selected" error on JI"
## Description

When I fail to select any Sources from the All Sources page of the JI, and click "Delete," I am immediately taken to the "Delete Confirmation" overlay, indicating a deletion is about to happen. When I click "Delete," I am then told that nothing was selected. That is a bit bait-and-switch.

## Steps to Reproduce

1. Log into JI
2. Click "Delete" on All Sources page
3. Click "Delete"

[2021-01-27 01:07] ninavizz commented on #5754
/cc #5675 and @zenmonkeykstop to potentially include this into Safe Delete work. TL;DR, it'll look wacky to show `0 Sources are selected. What would you like to delete?`

## w/o this issue resolved
<img width="915" alt="Screen Shot 2021-01-26 at 5 05 19 PM" src="https://user-images.githubusercontent.com/8262612/105927409-c8c7d680-5ff8-11eb-8cc4-b5f4118fba4d.png">

## Modal shd only show when items

[2021-01-27 01:17] ninavizz commented on #5754
Addenda: If this is tackled with the Safe Delete updates, because we're seeking to eliminate use of the word "Collections" and the current error message follows a ux anti-pattern (telling the user what they did wrong vs telling the user what they need to do, in addition to what they did wrong).

## Updated Error Text Recc
`<b>Nothing Selected</b> Please select one or more source accounts for delet

[2021-01-27 01:50] rmol opened #5755 "gettext calls containing formatted strings produce untranslated text"
## Description

There are a few places where we do `gettext('something about {}'.format('blah'))` instead of `gettext('something about {}').format('blah')` and the misplaced `.format` call has `gettext` looking for the formatted string in the message catalogs. When it can't be found, English appears in the user interface.

## Steps to Reproduce

- `make dev`
- visit the JI admin interface, choose

[2021-01-27 11:44] kushaldas commented on #4768
It is a good thing that we are not doing in place upgrade of the servers, https://bugs.launchpad.net/ubuntu/+source/libxcrypt/+bug/1903838

[2021-01-27 14:37] emkll opened #5757 "Error 500 on source interface and journalist interface after 1.7.0 upgrade"
## Description

Initially reported by forum user jonas.franzen in https://forum.securedrop.org/t/issues-after-update-to-1-7-0/1391

Some due to a missing variable in config.py
[code]

## Steps to reproduce

TBD

## Comments
Forum user dachary reports that simply adding the value to config.py resolves