[2022-06-02 15:42] ghost commented on #6111
I encountered quite a few problems with pyre/pysa. While it works fine on smaller projects and the sample cases that they provide, I had a very hard time getting it to work on any real world projects such as securedrop. For future reference:

- inconsistencies between the models packaged in the wheels and the ones in the github repo. I found that the models covering python's standard library didn'

[2022-06-03 04:21] cfm opened #6475 "`map_locale_display_names()` does not set `use_display_name` for the first of multiple locales for a language"
## Description

For languages like `pt` and `zh` for which we now have multiple translated locales, `map_locale_display_names()` sets `use_display_name` for only the second and following locales.  Prior to an overzealous refactoring in #6406, it would be set for all locales for a multi-locale language.

## Steps to Reproduce

Reported by @deeplow in <https://forum.securedrop.org/t/can-pt-br-become

[2022-06-15 16:06] #6415 closed, assigned to zenmonkeykstop

[2022-06-16 17:34] legoktm commented on #6399
My current thinking is that we use pyO3 to write a very slim bridge to sequoia that just implements the bare functionality of what we need.

We might want to maintain this bridge in a separate repository, build it as a wheel and treat it as a dependency just so we don't need to add the Rust toolchain and build step into the dev container, `make build-debs`, etc. It would make integration testing a

[2022-06-20 18:24] zenmonkeykstop opened #6478 "Update `make dev` to work on Mac with Apple Silicon"
## Description

Docker for Mac on M1 claims to support intel images, but anecdotally the instructions for setting up the dev environment on a Mac don't appear to work.

It would make it easier for devs on modern Macs to contribute if the setup process was the same, and worked. Ideally this would involve using the same base Ubuntu intel image. It looks like adding the `--platform linux/amd64` argum

[2022-06-20 21:18] zenmonkeykstop commented on #6478
Narrator: "it was not."

Initial dependency install is failing when trying to sychronize Mono's cert store:

[code]
There's a similar error in https://github.com/mono/mono/issues/21423 (no resolution sadly)

[2022-06-22 02:55] eloquence commented on #6449
I've updated the redirect https://securedrop.org/securedrop-release-key.asc which was still pointing to the old version (we are tracking this in Icinga and it was alerting about the upcoming expiry); I've also started a draft PR for the RPM keyring update in the `securedrop-workstation` repo:
 https://github.com/freedomofpress/securedrop-workstation/pull/786

[2022-06-23 17:33] zenmonkeykstop commented on #6449
I could have sworn I updated that - is it a redirect or something to the actual file?

[2022-06-23 17:35] eloquence commented on #6449
This is a redirect that should always point to the canonical version.

When you uploaded the file in Wagtail, it created a new version under a different URL: https://media.securedrop.org/media/documents/securedrop-release-key-2021-1.asc

[2022-06-28 16:13] zenmonkeykstop commented on #6374
SG-4100 has been evaluated, works well. Setup instructions have been added and a PR adding it to reccomendations is pending: https://github.com/freedomofpress/securedrop-docs/pull/356

This can be closed.

[2022-06-28 16:13] #6374 closed, assigned to nobody

[2022-06-29 01:34] cfm opened #6483 "reconsider gettext's fuzzy matching"
## Description

Both `securedrop` (via Babel) and `securedrop-client` (via Weblate) merge source strings equivalent to running `xgettext` *without* `--no-fuzzy-matching`.  These ["fuzzy" entries](https://www.gnu.org/software/gettext/manual/html_node/Fuzzy-Entries.html) can be confusing to translators, to translation reviewers, and (in `securedrop-client`) to reviewers of translation PRs.  We shoul

[2022-06-29 01:50] gonzalo-bulnes commented on #6483
Thanks @cfm for opening this issue and writing the recap!

[2022-07-06 22:49] legoktm commented on #6399
There is a minor downside to this, by putting private keys in the database it would just take an SQLi to access them, rather than an arbitrary file read or RCE. That said I think our risk of SQLi is very low because of how we use SQLAlchemy for just about everything, I just wanted to mention that it's a slight risk.

[2022-07-07 14:03] #5551 closed, assigned to zenmonkeykstop

[2022-07-08 07:55] legoktm commented on #6449
I assume everything is done now since the world didn't end on July 4th?

[2022-07-08 07:57] legoktm commented on #6399
If we're seriously worried about this (I'm not), we could encrypt the keys before putting them in the database with a fixed secret.

----

I pushed some WIP of the Rust code to the "oxidize" branch: https://github.com/freedomofpress/securedrop/tree/oxidize. Key generation and encryption was very straightforward to implement...decryption looks very complicated so that's for tomorrow.

[2022-07-11 23:22] eloquence commented on #6449
Yep, this is done. :)

[2022-07-11 23:22] #6449 closed, assigned to nobody

[2022-07-12 00:13] legoktm commented on #6399
One weird thing with using pyO3 is how bytes are handled at the Rust/Python boundary. If you have a Rust `String`, it turns into a Python `str` and vice-versa. Now, a Python `bytes` gets turned into a Rust `Vec<u8>`, which if you return, turns into a Python `List[int]`, oops. There's a [PyBytes](https://docs.rs/pyo3/latest/pyo3/types/struct.PyBytes.html) type you can use to return real Python byte

[2022-07-12 01:47] gonzalo-bulnes commented on #5981
I've somehow found the workflow of Conventional Commits impractical, **but** I do in practice commit in a way that's very close to that spirit, so maybe it's more about me finding a workflow that works for myself.

:point_up: I relate completely to this (edited :upside_down_face:) quote!

[2022-07-12 01:51] gonzalo-bulnes commented on #5981
When it comes to creating change logs, though, I'm tend to favor aggressive prioritization and shorter change logs over commit-detailed ones. (I've rarely seen people taking the time to read through longer change logs, so I prefer making as sure as possible that the main takeaways are easy to ingest. YMMV)

I'd love us to play with some of the options proposed in this thread!

[2022-07-12 20:46] eloquence commented on #6111
Closing as a research task, semgrep support was added in #6479

[2022-07-12 20:47] #6111 closed, assigned to nobody

[2022-07-14 05:12] legoktm commented on #6399
I mostly have all of securedrop wired to use redwood in the dev container, some parts work and then something else has encoding messed up and is displaying gibberish ascii symbols instead of the decrypted text. I'm tempted to pass everything as `String`/`str` over the bridge since that works fine and we know that it's all unicode since we convert it on the Python side unconditionally!

The big TOD

[2022-07-14 05:26] legoktm commented on #6399
I switched to using `String`/`str` everywhere and now encryption/decryption seems to all work fine! (encrypting files doesn't work yet, will get to that tomorrow hopefully)

[2022-07-14 16:16] legoktm commented on #4452
@eaon I'm curious how you feel about this now that #6315 has landed. If we're still stuck with sass in the short term, I would like to switch us over to sassc, which is at least maintained in Debian, allowing us to drop all the ruby stuff from our stack.

[2022-07-14 19:06] #6475 closed, assigned to zenmonkeykstop

[2022-07-18 13:17] zenmonkeykstop opened #6488 "Allow for removal of "pending" source accounts"
## Description

When a source account is created but before a first submission, by default a "pending" flag is set. Pending accounts are not displayed in the journalist interface.

If a user then exits their session and never returns to provide a submission, the account will remain in a pending state indefinitely, and cannot be removed via the Journalist Interface. On long-running high-volume inst

[2022-07-18 17:01] zenmonkeykstop opened #6489 "Generate reply key on first submission"
Note that this change is being reverted!

## Description

When a source visits /lookup for the first time, a GPG reply key is generated. However, if the source does not submit a message, it is impossible to reply to them, as their account is flagged as `pending` and not displayed in the JI. To avoid creating keys unnecessarily, the key could be created on submission instead if it does not already

[2022-07-18 18:12] zenmonkeykstop opened #6491 "Initial messages containing non-ascii characters fail if codename filtering is enabled."
## Description

Codename filtering was introduced in 2.3.0, allowing admins to block initial submissions containing only the user's codename, as they should not be shared with journalists. The filter uses the `compare_digest()` function to ensure constant-time comparison, but this fn will throw a `TypeError` if any of the strings being compared  contain Unicode.

## Steps to Reproduce

- start up

[2022-07-18 18:55] zenmonkeykstop opened #6493 "Release SecureDrop 2.4.1"
This is a tracking issue for the release of SecureDrop 2.4.1

Tentatively scheduled as follows:

**Pre-release announcement:** 2022-07-19
**Release date:** 2022-07-20

**Release manager:** KOG
**Deputy release manager:** TBD
**Communications manager:**: @eloquence
(As this is a hotfix release with no translated string changes, no LM is assigned.)

_SecureDrop maintainers and testers:_ As you QA 2.

[2022-07-18 19:25] #6491 closed, assigned to nobody

[2022-07-18 19:44] legoktm commented on #4452
Briefly discussed with @eaon, we could theoretically get rid of sass but it would require compiling everything to CSS and switching to CSS variables, etc. and I'm not ready to take that all on. I'm first going to see how difficult it would be to drop in sassc, as that would be enough to unblock my Debian packaging work.

[2022-07-18 22:59] huertanix commented on #1450
@eaon I have an iPhone, would be down to help with testing the Onion Browser use case.

[2022-07-18 23:03] huertanix commented on #1450
![onion_browser_safety_levels](https://user-images.githubusercontent.com/72914/179631230-58ad78c2-f35d-4b1d-b294-2b644ba5f545.jpg)
This is what the levels look like in the mobile Onion Browser interface after tapping the shield icon.

[2022-07-19 15:49] eaon commented on #6493
### Environment

- Install target: Qubes VMs
- Tails version: 5.0
- Test Scenario: upgrade
- SSH over Tor: yes
- Release candidate: RC1
- General notes: skipped acceptance testing

### 2.4.1 release-specific changes

- visit the Journalist Interface and enable codename filtering via **Admin > Instance config**
- visit the Source Interface and create a new source.
- [x] attempt to submit the source

[2022-07-19 18:54] legoktm commented on #6399
Some bad news on the migration front. We can't export secret keys out of GPG without knowing the passphrase. This is because GPG stores them using a different internal format (https://unix.stackexchange.com/questions/698117/export-gpg-private-key-without-knowning-the-passphrase) so it has to decrypt them before it can export them in OpenPGP format.

This means we can't do a full offline migration,

[2022-07-19 18:58] legoktm commented on #6399
High-level roadmap for remaining todos:
* Figure out plan for migration
* Write the code for the migration
* Ask Sequoia team for code review, also solicit any questions from SD team members about overall health of project, known risks, etc.
* Get tests passing, add new tests as needed
* Integrate into packaging process
* Set up security scanning using `cargo audit`
* Figure out what our code revi

[2022-07-19 19:35] legoktm commented on #4452
I generated journalist.css using both the ruby gem and sassc, the diff is: https://gist.github.com/legoktm/8700e8e132a592f00689c040d7a3fdec

Differences:
* single quotes instead of double quotes
* escape sequences instead of unicode symbols
* omitting `0.` prefix for numbers
* weird comment indentation

[2022-07-19 22:38] legoktm opened #6496 "Update grsecurity-patched kernels for retbleed patches"
## Description

https://comsec.ethz.ch/research/microarch/retbleed/ - once patches are released for stable kernels, we will need to build and release them (currently still needs a SecureDrop release).

A grsecurity patch is now available against thr 5.15.57 kernel, steps to release are as follows:
- [x] Build updated grsec kernel and file a PR to add it to the apt-test repo (https://github.com/fre

[2022-07-19 23:55] cfm opened #6497 "Molecule scenarios fail with duplicate DHCP leases"
## Description

In testing #6493, the `app` and `mon` VMs created by `molecule create -s libvirt-{staging,prod}-focal` are given the same DHCP lease, which causes one or the other VM to be inaccessible and `molecule converge` to fail.

## Steps to Reproduce

[code]

## Expected Behavior

[code]

## Actual Behavior

[code]

## Comments

Appears to have started since the [v202206.03.0 release of the

[2022-07-20 00:00] cfm commented on #6497
A few ephemeral test runs ago I discovered that using `bento/ubuntu-20.04` v202206.03.0 both `app` and `mon` had identical `/etc/machine-id`s, which would make this not only expected but [correct behavior](https://superuser.com/a/1671956) as far as DHCP is concerned.  I'll come back to this hypothesis after #6493.

[2022-07-20 01:30] cfm commented on #6493
- Install target:  VMs
- Tails version:  5.2
- Test Scenario:  clean installation
- SSH over Tor:  yes
- Release candidate:  RC1
- General notes:  Basic and release-specific tests look good.  Skipped standard acceptance tests.

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstat

[2022-07-20 12:07] zenmonkeykstop commented on #6399
The downside of both options is that we can't really define a cutoff for removal of the old gpg code - it will be hard to verify that all valid/active sources have been migrated. I wonder if it's possible to import the encrypted key without decrypting it, maybe skipping python_gnupg and parsing the keyring directly with https://docs.sequoia-pgp.org/sequoia_openpgp/cert/prelude/struct.CertParser.ht

[2022-07-20 15:50] eloquence commented on #6493
Tails workstation update from `2.4.0` to `2.4.1` using graphical updater completed without errors.

[2022-07-20 18:54] cfm commented on #6493
### Preflight testing

- Install target:  NUC11s
- Tails version:  5.0
- Test Scenario:  upgrade from v2.4.0
- SSH over Tor:  yes

#### Basic testing

- [x] Install or upgrade occurs without error (from `apt-qa.freedom.press` per [preflight procedure](https://github.com/freedomofpress/securedrop/wiki/QA-Procedures#pre-release-prep))
- [x] Source interface is available and version string indicates

[2022-07-20 19:23] cfm commented on #6497
Reported upstream in chef/bento#1421.  Workaround documented in freedomofpress/securedrop-docs#364.

[2022-07-20 19:23] zenmonkeykstop commented on #6493
Install preflight scenario checks pass, including GUI updater.

[2022-07-20 19:25] zenmonkeykstop commented on #6497
Could we nuke/regenerate /etc/machine-id on the VM as part of provisioning?

[2022-07-20 19:54] cfm commented on #6497
Not with our existing Ansible playbooks.  DHCP actually succeeds for both VMs, but the duplicate lease leads to undefined behavior like the following, which is what I tripped over in discovering this bug.  Compare hostnames and IP addresses:

| What Ansible means to do | What Ansible actually does | What happens |
| --- | --- | --- |
| `ssh app "apt-get update"` | `ssh 192.168.121.142 "apt-get upd

[2022-07-21 17:09] legoktm opened #6499 "Determine migration plan for gpg -> Sequoia"
In gpg, public and private keys are stored in a single keyring. Sources' private keys are locked with a passphrase that is derived from the codename, so we only can unlock it when the source logs in.

With Sequoia, we are going to store the keys in the database table as armored OpenPGP keys. Ideally we will be able to migrate as much as possible at once during upgrade so we don't have to keep the

[2022-07-21 17:10] legoktm commented on #6499
@legoktm [said](https://github.com/freedomofpress/securedrop/issues/6399#issuecomment-1189442764):

[2022-07-21 17:10] legoktm commented on #6499
@zenmonkeykstop [said](https://github.com/freedomofpress/securedrop/issues/6399#issuecomment-1190193835):

[2022-07-21 17:14] legoktm commented on #6399
I've split discussion of the migration process to https://github.com/freedomofpress/securedrop/issues/6499.

And I turned my remaining todos into a checklist in the task description.

[2022-07-21 17:20] legoktm opened #6500 "Determine plan for auditing Rust dependencies"
As part of using Sequoia, we'll start pulling in Rust dependencies (161 crates by my current count!). The process for performing "diff reviews" of Python dependencies is [documented on the wiki](https://github.com/freedomofpress/securedrop/wiki/Dependency-specification-and-update-policies).

We may want to take advantage of some Rust tools that allow for sharing audit status like:
* https://github

[2022-07-24 16:28] legoktm commented on #6496
5.15.57 dropped today with the retbleed patches: https://lwn.net/Articles/902317/

[2022-07-25 20:13] #6493 closed, assigned to nobody

[2022-07-29 18:03] zenmonkeykstop commented on #6496
Now also available in grsec patches as of 28/07.

[2022-08-01 15:36] zenmonkeykstop opened #6507 "Release SecureDrop 2.4.2"
This is a tracking issue for the release of SecureDrop 2.4.2

Tentatively scheduled as follows:

**Pre-release announcement:** 2022-08-02
**Release date:** 2022-08-08

**Release manager:** @legoktm
**Deputy release manager:** @eaon
**Communications manager:**: @eloquence and @gonzalo-bulnes

_SecureDrop maintainers and testers:_ As you QA 2.4.2, please report back your testing results as comments

[2022-08-01 16:45] eloquence opened #6508 "Support grsec kernel previews for instances on non-HCL hardware."
In order to facilitate pre-release testing for new kernels, it would be helpful to have a preview component on apt.freedom.press, and an associated release/testing procedure which admins can follow to verify basic kernel functionality on their hardware before said kernel is included with a release.

[2022-08-01 21:44] legoktm commented on #6500
I reviewed both the cargo-crev and cargo-vet documentation, and while it seems less mature, my preference is for cargo-vet.

cargo-crev is designed for individuals doing reviews, each person gets a crev ID and hosts their own crev proof repository. While cargo-vet seems more aligned with trusting orgs for reviews.

cargo-crev is built on the web of trust, so when you trust person, you now implicit

[2022-08-02 22:11] eloquence commented on #6508
This preview component now exists. (https://github.com/freedomofpress/securedrop-debian-packages-lfs/pull/96) We are testing a manual verification procedure as part of the upcoming SecureDrop 2.4.2 release. The documentation is currently on the wiki; if we decide to canonicalize it for future releases, we may want to move it into the official documentation.

https://github.com/freedomofpress/secur

[2022-08-03 14:28] zenmonkeykstop commented on #6508
Said manual procedure could probably be made into an Ansible playbook (and then added as a securedrop-admin command).

[2022-08-04 15:26] winseng opened #6510 "Support for Modern Authentication with Office 365 for email delivery"
## Description

Microsoft Office 365 is moving away from support Basic Authentication protocols and in the future will only support Modern Authentication. While they will still allow SMTP, they highly discourage its use due to being insecure. It would be great to see SecureDrop integrate with Modern Auth for O365, as O365 is a mailing provider for many organizations.

## User Research Evidence

ht

[2022-08-04 16:52] eloquence opened #6511 "Phase out old signing key in `securedrop-admin`"
`securedrop-admin` currently still trusts the old signing key for releases. It's been more than a year since the [full key rotation](https://media.securedrop.org/media/documents/signing-key-transition.txt) (not to be confused with the recent expiry bump), so I think this can be safely phased out:

https://github.com/freedomofpress/securedrop/blob/2f2db872f60bbc9024e0b35b8ebcdc2f5695acb2/admin/secu

[2022-08-04 17:05] zenmonkeykstop commented on #6511
Yup, tis an easy fix/test, adding to 2.5.0

[2022-08-08 18:38] legoktm commented on #6507
### Environment

- Install target: NUC11 (app) / NUC10 (mon)
- Tails version: 5.0
- Test Scenario: Upgrade
- SSH over Tor: yes
- Release candidate: 2.4.2-rc1
- General notes:

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop && ./securedrop

[2022-08-08 21:08] sssoleileraaa commented on #6507
### Environment

### 2.4.2 release-specific changes

For both my NUC7i5BNH and NUC8i5BEK1 mon servers:
  - [x] Kernel is updated to 5.15.57
  - [x] Server is using the 5.15.57 grsec kernel (install, reboot, check uname -r)
  - [x] spectre-meltdown tests return expected results

[2022-08-09 19:07] legoktm commented on #6507
### Environment

- Install target: NUC11 (app) / NUC10 (mon)
- Tails version: 5.0
- Test Scenario: Upgrade
- SSH over Tor: Yes
- Release candidate: 2.4.2 (final)
- General notes: LGTM

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop && ./s

[2022-08-09 19:08] legoktm commented on #6507
Also for completeness, @eaon tested the new kernel (with rc1) on a Dell PowerEdge R420.

[2022-08-09 20:17] eloquence commented on #6507
My first graphical updater run errored out due to its `gpg` command exiting with exit code 2. I was able to reproduce the error outside Tails by running the command our updater runs, `gpg --batch --no-tty --recv-key --keyserver hkps://keys.openpgp.org "2359 E653 8C06 13E6 5295 5E6C 188E DD3B 7B22 E6A3"`. The command exited with `gpg: keyserver receive failed: Server indicated a failure`. A second

[2022-08-10 15:49] legoktm commented on #6496
2.4.2 was released with an updated kernel.

[2022-08-10 15:49] #6496 closed, assigned to nobody

[2022-08-10 16:24] #6507 closed, assigned to nobody

[2022-08-11 02:10] legoktm opened #6514 "Develop and implement kernel update policy"
## Status quo

We currently build and distribute our own grsecurity-patched Linux kernels to get some extra security benefit. Most of the team is not particularly familiar or experienced with kernel development.

Kernel updates are done on an irregular schedule, typically whenever a security vulnerability is bad enough to get a name is when we do an update.

## Outside input

At HOPE 2022, some of

[2022-08-11 16:23] zenmonkeykstop commented on #1588
Closing - further discussion of source and journalist interactions is required before proceeding with similar functionality.

[2022-08-11 16:23] #1588 closed

[2022-08-11 16:31] zenmonkeykstop commented on #1787
Closing this issue, as TBB is almost always automatically updated, but will open a new one to investigate moving UA checks server-side.

[2022-08-11 16:31] #1787 closed

[2022-08-11 16:56] zenmonkeykstop opened #6515 "Move UA checks to server-side code instead of Javascript"
## Description

In a related issue,  #1787, @psivesely mentions the possibility of moving the UA checks for non-TBB browsers and the Android versions of Tor Browser to server-side code instead of Javascript. This would make it more likely that users will see them, as some users may already have JS turned off when they visit a SecureDrop instance.

(This has implications for #6318 as well.)

[2022-08-11 18:29] zenmonkeykstop commented on #6514
Regressions haven't really been an issue within a particular kernel series. Typically the issue that does pop up is missing chipset support for new Intel generations. (We're usually a few minor versions behind the bleeding edge, and so, for example, ethernet driver support that vendors would typically backport into their kernels may not be in ours.) But it absolutely makes sense to update kernels

[2022-08-11 23:10] legoktm commented on #6514
Oooh, reproducible builds is a good point.

Mostly agreed with your priority list, except for the Documentation point, I think that should be towards the top. It already does mostly exist, I think it just needs to be explicitly spelled out if we're separating SD and kernel releases.

[2022-08-17 22:06] eloquence opened #6520 "Create a developers.securedrop.org Sphinx docs site for developer docs"
Currently we have developer documentation split out in a few places:
- https://docs.securedrop.org/, as its own section below the end user documentation
- Various GitHub wikis
- Various GitHub READMEs (e.g. https://github.com/freedomofpress/securedrop-workstation/blob/main/README.md)
- FPF-internal resources

To make developer docs more discoverable and consistent, I would propose the following de

[2022-08-18 00:44] cfm commented on #6387
Breadcrumbs for myself for resuming the work I started last month:

This is done in `6387-supported-langauges` as of the newly-rebased aa84b1d39c4d0114fe52d708938a727cc3885022.

This is next.  It's slightly more involved than it appears, because for each supported language `I18NTool.update_from_weblate()`:
1. [first](https://github.com/freedomofpress/securedrop/blob/27f17b176f4f0d83882739013547316

[2022-08-18 03:20] gonzalo-bulnes commented on #6520
I'm up for that. :hand:

[2022-08-18 14:15] zenmonkeykstop commented on #2406
Future versions of SecureDrop may use JS more extensively (for example for client-side encryption), so this issue is still relevant.

[2022-08-18 14:30] zenmonkeykstop commented on #2334
Current functionality is acceptable. JI Admin interface won't be massively overhauled until a potential Qubes version is created.

[2022-08-18 14:30] #2334 closed

[2022-08-18 14:43] zenmonkeykstop commented on #2414
We missed the chance to do this for both Xenial and Focal, will try to catch it next time :)

[2022-08-18 14:54] zenmonkeykstop commented on #2287
Noting that schema changes are easier now, so we can add a new table for backup codes as necessary. Some small amount of UX + Security research tbd before proceeding.
Would also need to consider how to handle it for SecureDrop Workstation users, expecially if 2FA resets are mandatory.

[2022-08-18 15:04] zenmonkeykstop commented on #2593
Closing, this is more complicated now due to the different apps available on the Workstation vs Tails. Also there's general agreement that it would add to the stress for sources using the SI.

[2022-08-18 15:12] zenmonkeykstop commented on #3220
This is being addressed for the Source Interface as part of the redesign work documented in #6211.

A separate epic is required for corresponding work on the Journalist Interface, as CSS is no longer shared between the SI and JI.

[2022-08-18 15:12] #3220 closed

[2022-08-18 19:36] legoktm commented on #5105
We fixed this in 35f1a948d34e2c6768839e22c05f05260b5d0c00.

[2022-08-18 19:36] #5105 closed

[2022-08-18 19:37] legoktm commented on #2510
Fixed in #3215 and again more recently after Orfox was replaced by Tor Browser for Android.

[2022-08-18 19:37] #2510 closed

[2022-08-22 18:00] eloquence commented on #4096
Update:
- We've generally settled on "journalist designation" as the terminology for the two word designation displayed in the Journalist Interface and the SecureDrop Client. To further standardize on this or a similar term, it may be advisable to document this in the glossary (https://docs.securedrop.org/en/stable/glossary.html).
- The "Refresh codename" feature referenced in this issue has since

[2022-08-22 18:18] ghost opened #6522 "Formalize SecureDrop's API"
## What

I'd like to see us create a formal API specification for SecureDrop

## Description

While working on implementing dynamic testing for SD, I found myself in a situation where it would have been useful to have a formalized OpenAPI specification of the API to facilitate testing.

This got me thinking that there could be a number of uses for having a formal specification of the API beyond te

[2022-08-23 14:12] #6511 closed, assigned to eloquence

[2022-08-23 16:33] nathandyer commented on #6523
This is stored in the `tails_files/securedrop-keepassx.kdbx` database in the SecureDrop repository. Because this isn't directly related to anything in the SecureDrop Docs repo, I'm going to transfer this over to the SecureDrop repo, and file a PR for an updated KeePassXC database.

[2022-08-24 21:45] #6523 closed, assigned to nobody

[2022-08-25 11:32] illumi420 commented on #4751
Python Dependencies problems (module Encodings failed + pip failure) for securedrop-admin is solved on Tails 5.4

[2022-08-26 00:21] eloquence commented on #6520
[`securedrop-dev-docs`](https://github.com/freedomofpress/securedrop-dev-docs/) now exists as an experimental repo. It's based off `securedrop-docs` so we preserve a full history (at the cost of a larger repo size). I've opened a draft PR that does the initial split (i.e. removal of all non-developer docs from that repo). I would appreciate comments on that approach before I mark the PR ready for

[2022-08-26 00:36] gonzalo-bulnes commented on #6520
Thanks for moving this forward @eloquence!

The approach makes sense to me, including the starting point from securedrop-docs. If both repos have their initial conmits in common, it will be straightforward to merge them back if later on we decide to, for example, maintain de developer docs from a long-lived branch on this repo instead of a separate repo. (Not that I think that's likely to happen,

[2022-08-26 00:48] eloquence commented on #6520
Thank you, Gonzalo! On a side note, IMO this split also would make it easier to potentially integrate https://workstation.securedrop.org/ into https://docs.securedrop.org down the road, rather than treating it as its own discrete product documentation -- but that's a separate discussion, and I think closely tied to general availability of the SecureDrop Workstation.

[2022-08-26 19:08] legoktm commented on #6499
The private key format is documented at https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=blob_plain;f=agent/keyformat.txt

I looked around a bit and didn't find any independent parsers for it (aside from gpg itself). There's an open ticket for sequoia that's kind of related: https://gitlab.com/sequoia-pgp/sequoia/-/issues/119

I'm going to ask on the sequoia mailing list about what our optio

[2022-08-29 18:13] legoktm opened #6526 "Use gpgv for signature verification in dev Dockerfile"
## Description

https://github.com/freedomofpress/securedrop/blob/develop/securedrop/dockerfiles/focal/python3/Dockerfile

In the dev Dockerfile, we download a few things and then verify their signatures using `gpg --verify`. We should use `gpgv` instead, it's lighter and built to just do one thing, verification. We can also have it verify signatures against just the key we want with `--keyring` i

[2022-08-29 19:02] legoktm opened #6527 "Remove usage of lsb_release"
## Description

lsb_release is mostly obsolete these days, instead we should read from `/etc/os-release`.

It's still used in https://github.com/freedomofpress/securedrop/blob/develop/securedrop/server_os.py, as well as:
[code]

* https://0pointer.de/blog/projects/os-release (announcement, addresses "why not lsb_release")
* https://www.freedesktop.org/software/systemd/man/os-release.html

[2022-08-30 02:11] cfm commented on #6522
Thanks for raising this, @l3th3.  I'm very much in favor, both in general of this idea and specifically of OpenAPI, though I'm also open to other options.  In places like #5104 and freedomofpress/securedrop-client#1549, we'd already benefit from being able to discuss API changes as specification-level diffs well in advance of considering their implementation.

Let me know if you'd like to work tog

[2022-08-30 02:58] jameelkaisar commented on #6527
Should we use grep/awk to read `VERSION_ID` from `/etc/os-release`?

[code]

[2022-08-30 03:24] legoktm commented on #6527
So in Python code I think we can just do the string parsing in Python itself.

For shell scripting I tend to like `source /etc/os-release` and then use them as environment variables. But if that's not possible, or not a good idea because of potential name conflicts, then yeah, some grep/cut/awk oneliner is fine.

[2022-08-30 03:45] legoktm commented on #6515
This is probably a good task for a new contributor. Currently the user-agent checks are handled client-side in https://github.com/freedomofpress/securedrop/blob/develop/securedrop/static/js/source.js.

Instead, we want to handle it server-side. Probably we could use an app.before_request handler (e.g. https://github.com/freedomofpress/securedrop/blob/develop/securedrop/source_app/__init__.py#L85)

[2022-08-31 21:27] legoktm commented on #6527
Noting for posterity that I commented in the Tails bug tracker about shipping a standards-compliant `/etc/os-release` file: https://gitlab.tails.boum.org/tails/tails/-/issues/12372#note_194944

[2022-08-31 22:37] nathandyer opened #6531 "Consider switching to a GNOME Shell Extension rather than using deprecated Desktop launchers"
## Description

Right now, after SecureDrop is setup on an Admin Workstation Tails USB, we place a couple symlinked .desktop launchers inside of /home/amnesia/Desktop, which allows the user to easily access the various interfaces with a single click.

A while ago, [GNOME removed .desktop icon support](https://www.omgubuntu.co.uk/2018/01/gnome-desktop-icons-removed-3-28), and began to discourage de

[2022-09-01 09:20] gonzalo-bulnes commented on #6531
I have little context on the usage of the current `.desktop` launcher, but I find this case extremely compelling and love the idea of following current standards and recommended practices where they exist. :100:

[2022-09-01 11:34] zenmonkeykstop commented on #6531
I'm super in favour of this! One caveat is that the JI will still not be accessible until our script runs, as some Tor config changes need to be applied.

Would it make sense to add in other menu items? (ie a GUI updater launcher, and maybe app/mon ssh terminal sessions for the Admin workstation case?)

[2022-09-01 14:45] eaon commented on #6531
I want to join the choir of praise, I love it!

Re: the order-of-operation implications for JI access etc… because extensions are pretty flexible, we can _definitely_ distinguish between configured/not-configured and adapt the UI accordingly. As to what that should look like I think is a discussion (sync or async) that might not even take that long!

A different topic altogether though: I know, it

[2022-09-01 15:13] zenmonkeykstop commented on #6531
@eaon see https://github.com/freedomofpress/securedrop/issues/3502 for historical discussion. Also in favour, especially if we can eventually deploy the same package on a hypothetical Qubes admin AppVM.

[2022-09-01 18:31] nathandyer commented on #6531
Thanks for the feedback, everyone! I'm excited to have some of these larger discussions, especially about further extending the capabilities and improving the design!

Just to echo what @eaon mentioned about the flexibility here, each entry in the submenu can trigger a command or launch a script, so we can get pretty creative about what we add, and how we implement it so that it reacts to the vari

[2022-09-02 12:34] philmcmahon opened #6532 "Gzip API endpoints?"
## Description
As far as I can tell, securedrop doesn't gzip API responses. Possibly I've missed something and this is already happening via nginx or similar.

If not, I think there would be significant benefits to adding gzip compression support to the securedrop API, particularly on the /sources and /submission endpoints.

I did some basic testing by running `LOADDATA_ARGS="--source-count 100" m

[2022-09-04 15:40] philmcmahon commented on #6532
One major caveat to the above is that I was using generated test data which has a lot of duplication. I should be able to run the same experiment against real data early next week by manually editing the securedrop-sdk files in sd-app on our test workstation.

[2022-09-04 20:43] zenmonkeykstop commented on #6532
Hi @philmcmahon, responses are (or should be) compressed by Apache on staging and prod systems. The dev env is just running the flask app directly, which is why you're not seeing it there. If you do observe gzip missing in prod, that's a bug.

[2022-09-05 00:06] philmcmahon commented on #6532
Makes sense!

[2022-09-05 00:06] #6532 closed, assigned to nobody

[2022-09-06 22:57] huertanix commented on #6531
I generally think it's a good idea to move beyond the deprecated desktop shortcuts. However, as much as the Gnome team may be convinced desktop shortcuts should be retired, many people who grew up on mobile smartphones and tablets have been used to "grid of app icons and app name underneath icons" as a UI paradigm so I kind of wish they would continue to be supported, since it's the least confusin

[2022-09-07 01:43] cfm commented on #6387
This lazy approach is done in 3de94cc0ef02417f500d7f23c3426fb8188f083b.  For a reviewable pull request, we still need:
- [x] tests updated to pass, in particular the obsoleted case where:
    https://github.com/freedomofpress/securedrop/blob/2cfb0f90ab28f42c7b7e80eba9144c0509c27933/securedrop/tests/test_i18n_tool.py#L311-L312
- [x] (optional) new tests written for new and changed behavior, such as

[2022-09-07 18:46] #6527 closed, assigned to jameelkaisar

[2022-09-07 22:01] legoktm opened #6538 "Drop dh-virtualenv"
## Description

We currently use `dh-virtualenv` to create a virtualenv that we install our dependencies in. It has some nice features, and some downsides. I believe that we've reached the point that the downsides outweigh the features, which are simple to reimplement ourselves. This is a proposal for all the SDW components too, I just didn't want to file two identical tickets and split discussion

[2022-09-07 22:20] legoktm commented on #6538
Here's my demo of this change against securedrop-client: https://github.com/freedomofpress/securedrop-debian-packaging/commit/a580cf01d5f634b80f98c64230f4398da0603bd0 - I think it's significantly clearer exactly what is happening during the install step (the sed step probably needs a comment).

The diffoscope report: https://gist.github.com/legoktm/61d28e6f045bbcb10500114b9ee8f1f4 - the useless in

[2022-09-08 02:49] gonzalo-bulnes commented on #6538
:bulb: I find the diffoscope report very compelling! The changes, given your explanation in this PR's description, seem very reasonable to me :+1:

[2022-09-08 02:59] gonzalo-bulnes commented on #6531
I think @huertanix is making a very good point, and I too can say that while I personally embrace the "type the first few characters first" approach to launching apps in GNOME, I also know for a fact that people I know remain confused by the absence of app icons.

While, the GNOME Shell Extension arguably goes one step towards increased discoverability, I think @huertanix's point remains very vali

[2022-09-08 06:27] noumxn commented on #6526
hi @legoktm, I would love to volunteer and work on this issue. If this issue hasn't been assigned yet, and if its okay with you, could you please assign this to me?
Thank you!

[2022-09-08 07:30] eaon commented on #6538
Yeah this seems all around reasonable. Added bonus, if I'm not mistaken we could probably use the same approach for the workstation/launcher/updater RPM package (which would greatly benefit from standardisation)

[2022-09-08 14:53] legoktm commented on #6526
@noumxn: done, let me know if you need any assistance or have questions here or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!

[2022-09-08 15:11] zenmonkeykstop commented on #1800
This is still valid, and may see some attention as part of packaging changes (moving from deployment from github to deployment as a Debian package).

[2022-09-08 15:21] zenmonkeykstop commented on #2421
"document" and "submission" are still both in use, this is are relatively easy fix, so can be bumped up in priority.

[2022-09-08 15:21] legoktm commented on #2146
This is definitely a risk with using unattended upgrades, as a bad upgrade can take stuff down. Most (all?) SDs are very homogeneous so it's likely that all will go down at the same time.

Since this was filed we've taken steps to mitigate the risk of this, specifically with moving Tor to a manual update cycle after we've manually tested it. We're also working on moving the kernel to its own updat

[2022-09-08 15:21] #2146 closed

[2022-09-08 15:28] legoktm commented on #1784
We don't use the auto-labeler anymore

[2022-09-08 15:28] #1784 closed

[2022-09-08 15:35] zenmonkeykstop commented on #2068
Still a good idea, research required before proceeding.

[2022-09-08 15:49] zenmonkeykstop commented on #2945
OPNsense is now an option in the reccos, so we can close this ticket.

[2022-09-08 15:49] #2945 closed

[2022-09-08 15:52] zenmonkeykstop commented on #1413
Ongoing work to improve the firewall config/management story is happening in #6384

[2022-09-08 16:00] zenmonkeykstop commented on #1272
Users can now update their own HOTP secret, which mitigates this somewhat. Closing, as there's no clear path to improvement.

[2022-09-08 16:00] #1272 closed

[2022-09-08 16:27] rocodes commented on #6399
Apologies for being so late to this conversation, I'm still catching up on the roadmap and reading here, but I would be interested in nominating the migration plan as something that maybe we can get formal review from one or (more of) @lsd-cat or @l3th3 before we proceed to the migration phase (I think it's covered in task item 3, but I would kind of argue for a first pass of the security review b

[2022-09-08 16:49] rocodes opened #6539 "Consider "recent sources" endpoint for high-volume instances"
## Description

Organizations with very large numbers of sources are facing performance issues when using SecureDrop Workstation. One possibility is to create an endpoint that only returns, for example, sources `last_updated` in the last 24h. (The workstation would need to be configured to either sync to either "all sources" or "recent sources".  Further discussion of that issue and implementation

[2022-09-08 17:08] zenmonkeykstop commented on #6539
See also https://github.com/freedomofpress/securedrop-client/issues/1549 and #5104

[2022-09-08 17:12] zenmonkeykstop commented on #6539
FWIW I'm more in favour of a call like /sources/since/<timestamp> rather than one with a hardwired 24h window. This would also be more use for the syncing case, as syncs run pretty frequently so in most cases the .../since/ value would be a couple of minutes top and return an empty set.

[2022-09-08 17:31] rocodes commented on #6539
Yup, agreed- I'm favour of that as well, along with many of the other v2 changes.  In terms of quick action for news orgs in this position though, switching to a delta-sync instead of the current sync we have will take a fair bit of reworking in the client, so it would not be immediate. I think it's the right way to go long-term, but if we were thinking about a more time-sensitive solution, it wou

[2022-09-08 20:29] nabla-c0d3 commented on #6539
For the API's design (and based on what I wrote at https://github.com/freedomofpress/securedrop-client/issues/1549#issuecomment-1229441745), I would recommend making this filter a query parameter for /sources instead of a subresource (ie. /sources/since).

For example `/sources?filter_by_updated_since=<datetime>`

Using query parameters instead of subresources means that filters can easily be comb

[2022-09-08 21:59] eloquence commented on #6539
Just noting here as well that current `last_updated` would likely to be insufficient for this as it only gets bumped on source submissions, not on journalist activity associated with a source (replies, starring, "seen" etc.).

[2022-09-09 16:25] zenmonkeykstop commented on #6539
Yup @eloquence, I think first order of business is figuring out if we can safely add a field like "last_interacted".

[2022-09-11 05:43] kushaldas commented on #6538
RPM by default strips away libraries and that can cause trouble in similar case. Otherwise I also wrote https://github.com/kushaldas/rpm-macros-virtualenv :)

[2022-09-12 16:14] legoktm opened #6542 "LGTM.com shutting down in December 2022"
## Description

LGTM.com, which we use for some Python and JavaScript checks, is shutting down at the end of the year: https://github.blog/2022-08-15-the-next-step-for-lgtm-com-github-code-scanning/

Their recommendation is to move to "GitHub code scanning".

[2022-09-12 16:15] legoktm commented on #6542
I tagged this with needs discussion because my personal opinion is that the checks were not useful and if we just dropped them that would be fine. I think other people liked them though? In which case we need to find a replacement.

[2022-09-12 16:23] nathandyer commented on #6531
@huertanix I appreciate you bringing this perspective into the conversation! These are definitely good points that I think are worth considering, and @gonzalo-bulnes's point that it might not be an either-or situation may certainly be the right approach (although I do have reservations about the additional maintenance burden where there would then be two places for things to potentially break).

I

[2022-09-12 17:54] eloquence commented on #6531
Thanks for the summary and the prototyping work on this so far, Nathan!

My preference would be to avoid a situation where we have to maintain *two* systems, so I would recommend that we make a call in favor of either the icon-based approach or the menu-based one.

I think the argument that we can exercise more programmatic control over disabled/enabled status, more easily add other custom shortcu

[2022-09-12 19:49] eloquence commented on #6542
https://github.com/freedomofpress/securedrop/pull/6537#issuecomment-1239541960 is an example of an LGTM report which I think is somewhat useful. It looks like GitHub's code scanning feature is also based on CodeQL and intended to fully replace LGTM. I defer to @zenmonkeykstop and our security engineers, but I would recommend that we switch over to GitHub's code scanning feature in repos that use L

[2022-09-12 20:15] legoktm commented on #6542
All of those are already pylint checks:
* Unused import: https://pylint.pycqa.org/en/latest/user_guide/messages/warning/unused-import.html
* Non-callable called: https://pylint.pycqa.org/en/latest/user_guide/messages/error/not-callable.html
* Unreachable code: https://pylint.pycqa.org/en/latest/user_guide/messages/warning/unreachable.html

The only reason that `make app-lint` doesn't fail on that

[2022-09-13 00:07] eloquence commented on #6542
That's fair; it does look like GitHub's CodeQL support is fairly configurable and there may be a narrower subset of checks that usefully complements the ones we already have. [Here's](https://codeql.github.com/docs/codeql-overview/supported-languages-and-frameworks/#python-built-in-support) an overview of the built-in checks.

[2022-09-13 13:59] nathandyer commented on #6531
Adding an updated screenshot for us to reference during UX discussions:

![Screenshot from 2022-09-13 09-56-31](https://user-images.githubusercontent.com/6131358/189920929-70fb4cc1-f523-48d0-b66f-10f6e004692f.png)

[2022-09-14 13:08] zenmonkeykstop commented on #6531
We have kept the desktop icons working (with kindof a degraded user experience - they don't work or display correctly until the network is up) via a succession of dirty hacks, Even with @huertanix' concerns, I'm still very much in favour of this change as it cleans those up *and* puts us more in sync with the Tails UX.

[2022-09-15 17:59] nathandyer opened #6545 "CI Tests Are Failing Intermittently"
## Description

I've noticed that recent CI builds for the securedrop repo are failing for seemingly no reason. Re-running the tests (without any code changes) will allow the tests to eventually pass.

## Steps to Reproduce

Trigger a new CI build

## Expected Behavior

It builds with all tests succeeding

## Actual Behavior

Test builds are intermittent. For example, from within Circle CI you [ca

[2022-09-15 20:56] legoktm commented on #5901
This is the remaining issue preventing reproducibility of `securedrop-app-code`. The issue is really subtle, the only thing that varies is the "build ID". pip ends up building each wheel in a randomly named temporary directory, which is captured into the build ID and then becomes non-reproducible. In theory <https://reproducible-builds.org/docs/build-path/> would help here, but that needs to be in

[2022-09-15 20:57] eloquence commented on #6520
@maeve-fpf The staging site at https://staging-dev-docs.securedrop.org/ looks great to me, so in principle I think we're ready to promote this to prod `developers.securedrop.org`. I say "in principle" because I'm not sure builds are fully working yet; #2 was merged earlier today and I don't see it reflected in the live build (I've not attempted a Cloudflare cache purge yet).

[2022-09-15 20:58] legoktm commented on #5901
Also, during package builds we're currently building all of the Python dependencies *twice*. Using pre-built wheels will cut that down to zero times.

[2022-09-15 20:58] maeve-fpf commented on #6520
I will check this out when renaming the host from `dev.` to `developers.`, but I'm pretty sure it's because builds will try to modify tags in `main` by default, and the branch isn't merge this. I can override this with an env var in the Codefresh pipeline, so I will do that when going through some additional testing tomorrow.

[2022-09-15 21:27] legoktm opened #6546 "Fix up requirements.txt files used for boostrapping"
## Description

They're kind of split up weirdly right now. For example, `docker-requirements.in` is:
[code]

But in the Dockerfile we do:
[code]

It probably should be named bootstrap-requirements.txt or something.

Then we have `translation-requirements.in`, which is:
[code]

Another bootstrapping thing, you'd expect to find things like `pybabel` in translation-requirements, but nope.

[2022-09-15 21:32] legoktm opened #6547 "Remove `sh` dependency"
*This is a good first issue for new contributors to take on, if you have any questions, please ask on the task or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!*

## Description

`sh` is a pretty cool project, it allows you to shell out to programs as if they were native Python programs. This comes with a downside, it obfuscates the underlying command being run, and it's an ext

[2022-09-15 21:38] legoktm commented on #6546
My specific proposal is `bootstrap-requirements.in`:
[code]

And then `translation-requirements.in`:
[code]

(sh might go away in https://github.com/freedomofpress/securedrop/issues/6547). Waiting on #6544 because it'll probably conflict with that.

[2022-09-15 21:39] legoktm commented on #5901
I filed #6546 to clean up how our requirements.txt files are organized before we embark down this.

[2022-09-15 22:40] eloquence commented on #6545
`app-page-layout-tests` failure, also `assert None == 200`:
https://app.circleci.com/pipelines/github/freedomofpress/securedrop/4710/workflows/139ff84c-73f7-4961-9349-863400896a42/jobs/64016

[2022-09-15 23:44] #2421 closed

[2022-09-15 23:44] #6173 closed, assigned to nobody

[2022-09-16 17:51] nabla-c0d3 commented on #3836
This issue can now be closed. All functional tests now use fixtures 🎉.

There a few different fixtures available (named sd_servers_xxx) for starting the journalist & source apps; they should be used depending on whether the test needs the app's data to be reset, or must be in a specific state, etc.

[2022-09-16 17:55] #3836 closed

[2022-09-19 19:50] legoktm commented on #6157
My understanding is that this is the direction we went in, correct @eaon ?

[2022-09-19 19:58] eaon commented on #6157
Kind of. It turned out that refactoring portions of the SI was a Sisyphean task while it was entangled with the JI, so I opted to split them apart first.

However, should the JI also get a make-over, I think reusing portions (in a simpler manner by linking a file `common.css` or something like it from both interfaces) would make sense, but either way, Sass should stay out of the picture IMO.

@cfm

[2022-09-19 21:28] cfm commented on #6157
Fine by me, @eaon!  Closing.

[2022-09-19 21:28] #6157 closed, assigned to nobody

[2022-09-19 21:33] eloquence opened #6552 "Consider consolidating public GitHub wikis"
Currently we have multiple wikis used for dev info:
- https://github.com/freedomofpress/securedrop/wiki
- https://github.com/freedomofpress/securedrop-client/wiki
- https://github.com/freedomofpress/securedrop-workstation/wiki
- https://github.com/freedomofpress/securedrop-debian-packaging/wiki (lots of individual pages for diff reviews)

I would suggest we consider consolidating all four of these

[2022-09-19 22:44] eaon commented on #6552
Rather than the separation by repo, my main gripe is with GitHub wikis _in the first place_. I've hardly ever used them, even passively. The biggest problem for me is discoverability.

- The search is terrible
- There's no "recent changes" UI (unless you count clone/pull the wiki repo and `git log` … which … **no**)
- The _Pages_ sidebar is useless for every GitHub Wiki I've ever come across

Cons

[2022-09-19 22:55] eloquence commented on #6552
That's a fair point; I'm also not a big fan of the GitHub wikis. I have in fact been using the `git log` method as a recent changes replacement - being able to clone the wikis like a repo is probably the only thing I like about them :P.

I do think consolidating now could have some advantages in discoverability, but it would be a fair bit of work to canonicalize titles in a way that helps, so I'm

[2022-09-19 22:56] eaon commented on #6296
Added the UX label because although the idea is to mitigate issues around clearnet proxy use and automated crawling, etc, I think we should be very confident about being OK with the implications of potentially blocking access.

The downside would potentially involve sources being greeted with error messages in an already high-stress situation.

[2022-09-20 00:18] legoktm commented on #6328
This is technically done now that https://github.com/freedomofpress/kernel-builder/pull/24 has landed, but I will close this issue once the cleanup in https://github.com/freedomofpress/securedrop/pull/6553 is merged.

[2022-09-20 00:23] eloquence commented on #6520
https://github.com/freedomofpress/securedrop-workstation/pull/828 is the README counterpart to https://github.com/freedomofpress/securedrop-dev-docs/pull/2 and removes the subsequently redundant parts from the README. I'll promote it to ready once the new docs site is live.

If that approach seems reasonable, my next target to merge-and-simplifiy would be the unwieldy https://github.com/freedomofp

[2022-09-20 14:35] zenmonkeykstop commented on #6552
Seconding Michael's points, github wikis are kindof basic and not where I would choose to build a single source of our repo docs.

If one of the motivators here as expressed offline is to make it more obvious where meeting/discussion docs are, maybe a compromise would be to have a policy (noted on each wiki's home page) that:
- docs added should relate specifically to that repo,
- except for meeti

[2022-09-20 16:04] zenmonkeykstop commented on #6318
I'm moving this to 2.6.0, we should still do it because Orfox is dead, but it is not going to make it into 2.5.0 without adding a delay that IMO would be unjustified.

[2022-09-20 16:05] zenmonkeykstop opened #6554 "Release SecureDrop 2.5.0"
This is a tracking issue for the release of SecureDrop 2.5.0

# Schedule:

**Feature / string freeze:** 2022-09-27
**Pre-release announcement:** 2022-10-04
**Release date:** 2022-10-11
**Release manager:** @zenmonkeykstop
**Deputy release manager:** @cfm
**Communications manager:** @nathandyer
**Deputy CM:** @eloquence
 **Localization manager:** @cfm
**Deputy LM:** @eaon

# Testing:

QA team: TK
T

[2022-09-20 16:06] zenmonkeykstop commented on #6468
Moving to 2.6.0, haven't touched this in time for 2.5.0.

[2022-09-21 00:20] eloquence commented on #6520
Here are the next steps as I understand them:
- The following PRs can be approved in draft form by anyone, in any order:
  - https://github.com/freedomofpress/securedrop-dev-docs/pull/6
  - https://github.com/freedomofpress/securedrop/pull/6556
  - https://github.com/freedomofpress/securedrop-docs/pull/387
- Once all three PRs are approved, I can merge them and update https://securedrop.org/faq/ab

[2022-09-21 13:38] nwalfield commented on #6399
I opened an issue about this: https://gitlab.com/sequoia-pgp/sequoia/-/issues/928

[2022-09-21 15:18] #6357 closed, assigned to nobody

[2022-09-21 18:48] #6526 closed, assigned to nobody

[2022-09-21 19:01] lb803 commented on #6547
Hi @legoktm , I would love to work on this issue! Has it been assigned to anyone yet? Thanks!

[2022-09-21 19:02] legoktm commented on #6547
Nope, go for it! Let me know if you have any questions.

[2022-09-22 02:36] eloquence commented on #6520
Per feedback from Kev I've moved the docs into the parent directory in https://github.com/freedomofpress/securedrop-dev-docs/pull/7. This is now ready for review, and if that looks good, the three PRs above will unfortunately need to be re-reviewed due to the updated URLs (thanks for the first round @legoktm).

[2022-09-22 05:35] cfm commented on #6156
Dropping from the v2.5.0 milestone, since this will be completed _during_ that release and localization cycle with #6557.

[2022-09-22 14:33] noumxn commented on #6515
Hi @legoktm, Is it okay if I on this issue?

[2022-09-22 15:21] zenmonkeykstop commented on #1177
Closing - this a good idea, but the SecureDrop Workstation is going to reduce or eliminate the requirement to set up Journalist Workstations in the future, so any work here would be short-lived.

[2022-09-22 15:21] #1177 closed

[2022-09-22 15:28] zenmonkeykstop commented on #2618
Keeping this issue - it relates to ongoing packaging improvements being led by @legoktm, it would be great to at least get RC packages built automatically.

[2022-09-22 15:36] tina-ux commented on #6531
I think @huertanix 's point is a very good one, and worth keeping in mind. That being said, knowing that the desktop icons are not a stable solution in the longer term, that both icons for the journalist interface and source interface look the same, and that a gnome extension would add a dedicated and dynamic menu on which we can expand, I would be in favor of this change.

Edit: Good job Nathan!

[2022-09-22 15:36] zenmonkeykstop commented on #2131
Relates to @nathandyer's proposal in #6531 to move to using Gnome shell extensions - if we stick with icons this will get pretty messy, but the menu option would be nice and clean. Keeping this open for now

[2022-09-22 15:48] zenmonkeykstop commented on #3074
Closing, this functionality is mostly implemented in the SecureDrop Workstation client, and further improvements will probably be focused there.

[2022-09-22 15:48] #3074 closed

[2022-09-22 15:55] zenmonkeykstop commented on #1805
This would be a useful automation step for the initial install, and it would enforce the use of a new dedicated SSH key for the first Admin Workstation, which is good security-wise.

[2022-09-22 16:28] noumxn commented on #6515
Hi @legoktm, Is it okay if I work on this issue?

[2022-09-22 20:07] #6387 closed, assigned to cfm

[2022-09-22 20:25] zenmonkeykstop opened #6558 "Complete QA testing for SecureDrop 2.5.0~rc1"
This issue acts as an epic to track manual testing for the SecureDrop 2.5.0~rc1 release.

Testers should complete the relevant section of the full test plan and append their results to the  appropriate issue below. Note that basic server testing and acceptance testing require a single signoff per release candidate, but at least two testers should complete and sign off on release-specific testing.

[2022-09-22 20:28] zenmonkeykstop opened #6559 "Complete basic server testing for SecureDrop 2.5.0~rc1"
Complete the scenarios in the [Basic Server testing](https://github.com/freedomofpress/securedrop/wiki/2.5.0-Test-Plan#basic-server-testing) section of the test plan and append results here. If bugs are found, please file a separate issue and tag it with the `QA: Release` label

[2022-09-22 20:29] zenmonkeykstop opened #6560 "Complete acceptance testing for SecureDrop 2.5.0~rc1"
Complete the scenarios in the [Application Acceptance testing](https://github.com/freedomofpress/securedrop/wiki/2.5.0-Test-Plan#application-acceptance-testing) section of the test plan and append results here. If bugs are found, please file a separate issue and tag it with the `QA: Release` label.

[2022-09-22 20:29] zenmonkeykstop opened #6561 "Complete release-specific testing for SecureDrop 2.5.0~rc1"
Complete the scenarios in the [release-specific testing](https://github.com/freedomofpress/securedrop/wiki/2.5.0-Test-Plan#250-release-specific-changes) section of the test plan and append results here. If bugs are found, please file a separate issue and tag it with the `QA: Release` label.

[2022-09-22 23:13] cfm commented on #6483
Bumping to v2.6.0, so that (after #6557) we're making only one change to our localization tooling in each release.

[2022-09-22 23:33] cfm commented on #6388
@zenmonkeykstop, I've taken the liberty of proposing in v2.5.0's QA matrix two top-level parameter rows:

* **Assistive tech:**  For each release, at least one person should step through (at least) acceptance testing using a [screen-reader](https://github.com/freedomofpress/securedrop/wiki/Accessibility) or other assistive tech.
    * I think we can skip this for v2.5.0, since it has no user-facin

[2022-09-23 01:37] zenmonkeykstop commented on #6388
Both of these seem like reasonable additions, thanks @cfm.

[2022-09-23 20:10] legoktm commented on #6515
@noumxn go for it!

[2022-09-24 10:06] nabla-c0d3 commented on #6547
Before seeing this issue, I had already started removing usages of `sh.sed()` in code that I was touching. I have opened a PR that removes calls to `sed()`: https://github.com/freedomofpress/securedrop/pull/6562

I will not work on other usages of `sh` so this issue is still available.

[2022-09-24 10:42] noumxn commented on #6515
Hi @legoktm , could you please tell me how I should go about implementing this?
I can see the UA checks `navigator.userAgent.match` in the functions `looksLikeTorBrowser()` and `looksLikeTorBrowserAndriod()` use the regex in [source.js](https://github.com/freedomofpress/securedrop/blob/develop/securedrop/static/js/source.js#L1#L2) and the function [ready](https://github.com/freedomofpress/securedr

[2022-09-24 11:19] lb803 commented on #6547
OK, thanks for the heads up! I won't touch those calls, then.

[2022-09-26 16:09] sssoleileraaa commented on #6219
@kushaldas, any recommendations on per-repo/ per-library licensing information versus per-file, and wording?

[2022-09-26 16:31] legoktm commented on #6515
I think it would be something we add to the source app's base template - https://github.com/freedomofpress/securedrop/blob/develop/securedrop/source_templates/base.html. The simplest way to pass information to all templates is probably to set it on `flask.g`, like we do in https://github.com/freedomofpress/securedrop/blob/develop/securedrop/source_app/__init__.py#L85.

Nope, you're right, good spo

[2022-09-26 16:59] kushaldas commented on #6219
We can follow the simple SPDX suggestion of adding per file copyright/license information, for all the Python files to start with. We also need to have the standard LICENSE file. I remember @anweshadas started writing down in a branch, maybe she can create a PR in the coming days with filling in the information.

[2022-09-26 17:27] eloquence commented on #6520
Alright, this is _mostly_ completed and all the above changes have been applied. Still need to update documentation guidelines in https://developers.securedrop.org/en/latest/documentation_guidelines.html - once that's done, I think we can close this issue.

[2022-09-27 17:20] zenmonkeykstop opened #6566 "`make build-debs` failing on develop during a translation step"
## Description

## Steps to Reproduce

- Check out current develop branch
- run `make build-debs`

## Expected Behavior
Debs get built.

## Actual Behavior
build fails with:
[code]

## Comments

Suggestions to fix, any other relevant information.

[2022-09-27 18:51] zenmonkeykstop commented on #6099
This came up today in server hangout - let's prioritize it!

[2022-09-27 19:01] #6566 closed, assigned to nobody

[2022-09-27 21:32] legoktm opened #6569 "Update pytz to a release that uses modern source packages"
## Description

Update pytz to a release that uses modern source packages: `*.tar.gz`.

## Problem

We're pinned to a 5 year old version of pytz: https://pypi.org/project/pytz/2017.3/#files which notably only offers a zip source download. This causes problems with our reproducible wheel scripts that, correctly, expect a gzipped tarball.

## Expected

We should update to a release that provides a g

[2022-09-27 23:48] #6428 closed, assigned to nobody

[2022-09-27 23:48] #6224 closed, assigned to legoktm

[2022-09-27 23:50] zenmonkeykstop commented on #204
Closed in error by #6403 ref.

[2022-09-28 19:58] sssoleileraaa commented on #6219
sounds great. @anweshadas: feel free to at-mention me on a PR for review if you'd like :)

[2022-09-28 21:10] cfm opened #6572 "when critical CI jobs fail, report them more loudly"
## Description

Define a policy for what CI jobs (i.e., `nightly` steps) *must* be green.  When one or more of those jobs fails, report them more loudly than acceptable development failures, for example to a more-prominent Slack channel.

## User Research Evidence

We discussed today whether to create a triage rotation for monitoring and responding to CI failures.  There was more interest in impro

[2022-09-28 22:21] gonzalo-bulnes commented on #6219
I'm glad to see we've reached broader agreement the _how_! :slightly_smiling_face: . For consistency, I'll take that decision as a way forward in the [securedrop-client](https://github.com/freedomofpress/securedrop-client/issues/1443) where we raised a similar issue.

[2022-09-29 16:26] noumxn commented on #6515
Hi @legoktm , I am sorry but I will not be able to work on this issue for a week or so. I have currently unassigned myself from this issue incase someone else comes along and is interested. I will be able to get back on this in a week if no one else has started working on this by then.

I did open a PR that fixes this

[2022-09-29 18:34] legoktm opened #6575 "Fix yamllint warnings, enable strict mode"
*This is a good first issue for new contributors to take on, if you have any questions, please ask on the task or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!*

## Description

We currently have some yamllint warnings:

[code]

These should be fixed. Then we can enable `--strict` mode (in `devops/scripts/yaml-lint.sh`) so that any future warnings will cause CI to fail.

[2022-09-29 18:39] legoktm opened #6576 "Run flake8 against alembic migrations"
*This is a good first issue for new contributors to take on, if you have any questions, please ask on the task or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!*

## Description

In `.flake8` we currently exclude `securedrop/alembic/versions`. We should be running flake8 against those files by removing the exclusion and fixing any new flake8 errors.

[2022-09-29 19:04] legoktm opened #6577 "Upgrade to flask 2.0.3"
*This is a good first issue for new contributors to take on, if you have any questions, please ask on the task or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!*

## Description

We currently have some type checking disabled because of a bug in flask 2.0.2 that was fixed in 2.0.3. We don't want to upgrade to 2.1.0+ yet since that's a much bigger step.

[code]

## How to fix

Yo

[2022-09-29 20:17] legoktm commented on #6515
All good, thanks for being upfront and the PR. Even if this task is taken by then, I'm sure we can find another thing for you to work on :-)

[2022-09-29 20:21] legoktm commented on #3607
Use of flask-testing was removed in https://github.com/freedomofpress/securedrop/pull/2948 and finally in 65f092ce1c2ce364d3d11ff54931a7ef28721819.

[2022-09-29 20:21] #3607 closed

[2022-09-29 20:21] legoktm commented on #1444
Use of flask-testing was removed in https://github.com/freedomofpress/securedrop/pull/2948 and finally in 65f092ce1c2ce364d3d11ff54931a7ef28721819.

[2022-09-29 20:21] #1444 closed

[2022-09-29 20:26] legoktm opened #6579 "Prune obsolete dependencies from test-requirements.in"
*This is a good first issue for new contributors to take on, if you have any questions, please ask on the task or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!*

## Description

I'm pretty sure that at least pathlib2 and blinker are no longer required to run our tests.

## Steps to reproduce

* Remove those dependencies from test-requirements.in
* Run `make update-python3-requ

[2022-09-29 20:36] legoktm commented on #738
Starting with Debian Bookworm the `ntp` package will now be ntpsec, I assume Ubuntu will follow along. The thread starting with https://lists.debian.org/msgid-search/454d0e14-7448-5cef-ad68-cbdff7467edd@debian.org has some more discussion/details.

My personal preference would be to use systemd-timesyncd though.

[2022-09-29 20:39] zenmonkeykstop commented on #738
timesyncd is already in use on  SD servers as per https://github.com/freedomofpress/securedrop/pull/5806 so we can probably close this.

[2022-09-29 20:42] legoktm commented on #738
Perfect! (I feel like I should've already known that...)

[2022-09-29 20:42] #738 closed

[2022-09-30 04:25] ryuusama09 commented on #6579
hi @legoktm , i would like to contribute

[2022-09-30 08:51] IlyesSemlali commented on #6575
Hi !

I'd like to work on this, can you assign it to me ?

[2022-09-30 13:12] zenmonkeykstop commented on #6575
Absolutely, have at it.

[2022-09-30 13:37] rsk2 commented on #6577
Hi @legoktm, can I work on this?

[2022-09-30 13:41] zenmonkeykstop commented on #6577
Feel free! let us know if you have any questions.

[2022-09-30 13:49] zenmonkeykstop commented on #6579
Go for it, let us know if you have any questions!

[2022-09-30 16:03] legoktm commented on #6542
From https://github.com/freedomofpress/securedrop/pull/6551#pullrequestreview-1127047557:

[2022-09-30 18:10] legoktm commented on #5901
Current work in flight:
* https://github.com/freedomofpress/securedrop-debian-packaging/pull/382 - makes room to add sever wheels into the repo, reusing the same bootstrapping scripts
* https://github.com/freedomofpress/securedrop-debian-packaging/pull/383 is a draft of adding the server wheels, has its own TODO list.
* https://github.com/freedomofpress/securedrop/pull/6544 - not strictly a blocke

[2022-09-30 18:44] legoktm opened #6582 "Clean up outdated references to Python 3.5"
*This is a good first issue for new contributors to take on, if you have any questions, please ask on the task or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!*

## Description

SecureDrop now runs on focal, which uses Python 3.8. But there are still references to Python 3.5 that need to be cleaned up. Some should be dropped outright, others should be switched to 3.8.

Some ex

[2022-09-30 18:46] legoktm commented on #6355
* cross-linking #972

[2022-09-30 18:47] donheshanthaka commented on #6582
Hey there can you assign me for this issue

[2022-09-30 18:59] legoktm commented on #2484
I think the main thing we should do to resolve this is remove the document -> journalist migration code https://github.com/freedomofpress/securedrop/blob/7e38090789a94c1398ac858585fd85ead238f396/install_files/securedrop-app-code/debian/preinst

This will hopefully cause anyone trying to restore a pre-0.4 instance today to fail very loudly rather than subtly breaking tor.

[2022-09-30 19:01] legoktm commented on #6582
@donheshanthaka Go for it!

[2022-09-30 21:13] legoktm commented on #1617
I'll bring this up as an agenda item in the next server development hangout (if we have time), my current feeling is that there's nothing actionable here besides the work being done for reproducible wheels (https://github.com/freedomofpress/securedrop/issues/5901).

Going through the list:
* Check signatures on the packages that provide them - instead of checking signatures, we're auditing the cod

[2022-09-30 22:09] legoktm commented on #2744
I wasn't able to track down exactly when this was fixed, but packages are now built in separate containers, one for each package. #6544 will reinforce this by consolidating the package builds, so despite being built together, it's still a "fresh" environment.

[2022-09-30 22:40] legoktm commented on #3067
I think this is fixed now, because the apache2 unit uses systemd's `PrivateTmp=true` feature. I uploaded a largeish file, and observed that the temporary aes file it was being streamed to ended up in `/tmp/systemd-private-{random thing}-apache2.service-{random thing}/tmp/{random thing}.aes`.

So systemd should prevent an attacker with code execution from tampering with files as they are uploaded,

[2022-09-30 22:48] legoktm commented on #3095
This is similar enough to #2146 that I think the same rationale applies:

[2022-09-30 22:48] #3095 closed

[2022-09-30 23:31] legoktm commented on #3286
4 years later, yeah, we should definitely switch to downloading fetching apt sources and packages over HTTPS. Specifically CVE-2019-3462 (writeup: https://justi.cz/security/2019/01/22/apt-rce.html) would've been stopped by using HTTPS. There are older MITM bugs in apt too, that's just the most recent one.

It's disappointing that Ubuntu still doesn't offer HTTPS on their official mirrors (Debian d

[2022-09-30 23:48] legoktm commented on #3606
Coincidentally this was resolved by @nabla-c0d3 today with 2cb4812f590689628441f21e00c0664e27ff7ed6, which moved the hardcoded filename into a fixture so it's now "provided by a test harness".

[2022-09-30 23:48] #3606 closed

[2022-09-30 23:56] legoktm commented on #3270
So...this is mostly solved through the diff review process where we document the sha256sum of the package we reviewed, which shows up in the requirements.txt file. The other hashes are ignored because we don't download any binaries at build time, as we build from source.

Assuming pip can't be tricked into using a binary when we said not to, then we're safe I think.

But this will be properly solv

[2022-09-30 23:57] legoktm commented on #3793
This was fixed a while back, using vanilla Firefox correctly shows the banner to use Tor Browser, and using Tor Browser does not display that banner.

[2022-09-30 23:57] #3793 closed

[2022-10-01 00:02] legoktm commented on #1861
I forgot to comment here when it happened, but https://tracker.debian.org/news/1316028/accepted-python310-3104-3-source-all-amd64-into-unstable-unstable/ - Python 3 now has PIE enabled and there's a separate -nopie package for people who want to disable it. That should be in bookworm and eventually make its way into Ubuntu (I assume).

[2022-10-01 00:05] legoktm commented on #4191
While I do expect the dev, etc. environments to work on a Mac, I think it's a reasonable expectation that you need to use a Debian/Ubuntu system to build packages. Is supporting package builds on macOS important/necessary?

[2022-10-01 00:17] legoktm commented on #3586
The codename widget was overhauled in #6315, it now looks like:

| Hidden | Shown |
| --- | --- |
| ![Screenshot 2022-09-30 at 20-13-42 SecureDrop Protecting Journalists and Sources](https://user-images.githubusercontent.com/81392/193373781-bec238e6-2b75-4fa6-b380-bf67e1caa9e0.png) | ![Screenshot 2022-09-30 at 20-13-49 SecureDrop Protecting Journalists and Sources](https://user-images.githubuserco

[2022-10-01 00:20] legoktm commented on #4516
This was done in 30940ab01f636574b482eb04d96525f1fcf30a7b.

[2022-10-01 00:20] #4516 closed

[2022-10-01 00:21] legoktm commented on #4299
Mac Mini support was dropped in 2.3.0 (c.f. https://github.com/freedomofpress/securedrop-docs/pull/312, https://securedrop.org/news/securedrop-2_2_0-released/)

[2022-10-01 00:21] #4299 closed

[2022-10-01 00:25] legoktm commented on #5221
Closing per above and lack of follow-up.

[2022-10-01 00:25] #5221 closed

[2022-10-01 00:33] legoktm commented on #5548
Note that the code has moved down to https://github.com/freedomofpress/securedrop/blob/develop/admin/securedrop_admin/__init__.py#L569

I agree that the code as you've proposed is cleaner and easier to logically read.

[2022-10-01 00:38] legoktm commented on #5698
@cfm fixed this in https://github.com/freedomofpress/securedrop/commit/fe1f7ee364af131ad1ae402fc18b65fba7896396

[2022-10-01 00:38] #5698 closed, assigned to nobody

[2022-10-01 03:51] ryuusama09 commented on #6579
this command is not working for me(it is showing make is not an internal command) , instead can i use "pip install --upgrade --force-reinstall -r test-requirements.in"
also , I cannot find  the test-requirements file

[2022-10-01 09:32] nabla-c0d3 commented on #6201
This has been done, as part of https://github.com/freedomofpress/securedrop/commit/f2b35bf97b82579d5077e7e36dc3d1e515b4adf9

[2022-10-03 15:38] legoktm commented on #6579
@ryuusama09: What operating system are you using? You'll need to install `make` and docker/podman at a minimum to make the development environment work.

See https://github.com/freedomofpress/securedrop/tree/develop/securedrop/requirements/python3

[2022-10-03 16:47] #6582 closed, assigned to donheshanthaka

[2022-10-03 20:03] nathandyer commented on #6554
@zenmonkeykstop The 2.5.0 release messaging GDoc is ready for your review when you have time. Thanks!

[2022-10-03 20:06] legoktm opened #6588 "Clean up manual sys.path additions in scripts"
*This is a good first issue for new contributors to take on, if you have any questions, please ask on the task or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!*

## Description

Our scripts have some manual `sys.path` additions that aren't actually needed:
[code]

There's no point in adding `.` to the path because it's already part of the lookup path by default. And the site-p

[2022-10-04 04:14] rahulXs commented on #6576
Hi, I would to work on it. Could you please assign it to me? Thanks!

[2022-10-04 04:16] rahulXs commented on #6588
Hi, I would like to work on this issue. Could you please assign it to me? Thanks!

[2022-10-04 04:29] legoktm commented on #6588
Done, let us know if you have any questions or issues!

[2022-10-04 14:18] rsk2 commented on #6577
@zenmonkeykstop , @legoktm I referred [this document](https://developers.securedrop.org/en/latest/setup_development.html) but I am not entirely sure how to setup the development environment since I am using windows. Can you please guide me?

[2022-10-04 15:27] rahulXs commented on #6588
@legoktm I've raised the PR #6589 for this issue. Please help to review.
I didn't fill the PR template checklist completely because few points (test plan, docs changes required) were not clear to me. Please let me know if any change is required. Thanks!

[2022-10-04 18:05] legoktm commented on #6577
Unfortunately we don't have a lot of guidance for using Windows, do you have the Windows Subsystem for Linux (WSL) set up? You'll also need to install Docker.

[2022-10-04 18:51] legoktm commented on #1617
No objections in today's hangout, so closing.

[2022-10-04 18:51] #1617 closed

[2022-10-04 19:13] legoktm commented on #4191
The conclusion from today's server dev hangout was that for package building we will document that Debian stable (currently bullseye) should be used (ticket to be filed). We're not opposed to making whatever fails on macOS to be disabled with xfails, but someone else would need to contribute that and keep it up to date.

[2022-10-04 19:13] #4191 closed

[2022-10-05 00:36] cfm opened #6592 "define policy for adding, supporting, and revoking languages"
## Description

After multiple localization cycles, several supported languages have fallen below our [stated](https://forum.securedrop.org/t/about-the-translations-category/16) requirement of 100% translation coverage.  We've also received requests to _add_ languages that may or may not receive enough translation coverage to be supported.  We should update:
1. our policy for when languages are su

[2022-10-05 02:53] #6547 closed, assigned to lb803

[2022-10-05 10:19] ghost commented on #3067
Yes, this largely seems like a non-issue. `PrivateTmp=true` mitigates potential issues with regards to predictability, like symlink trickery, and the permissions are taken care of. And as you say, if they have execution with arbitrary access to the files, they can already do as much or worse than tamper with an encrypted file.

[2022-10-05 18:42] zenmonkeykstop opened #6594 "Move manage.py out of webroot"
## Description

As part of work to ensure minimum access for www-data, we should consider moving the `manage.py` script (used interactively by admins for some instance management tasks and non-interactively in the development Dockerfile) out of the webroot and into somewhere more logical/standardized.

## User Research Evidence

nada

[2022-10-05 19:59] zenmonkeykstop commented on #6559
Closing, superseded by RC2

[2022-10-05 19:59] #6559 closed, assigned to nobody

[2022-10-05 19:59] zenmonkeykstop commented on #6560
Closing, superseded by RC2

[2022-10-05 19:59] #6560 closed, assigned to nobody

[2022-10-05 19:59] zenmonkeykstop commented on #6561
Closing, superseded by RC2

[2022-10-05 19:59] #6561 closed, assigned to nobody

[2022-10-05 19:59] zenmonkeykstop commented on #6558
Closing, superseded by ~~RC2~~RC3

[2022-10-05 19:59] #6558 closed, assigned to nobody

[2022-10-05 20:02] zenmonkeykstop opened #6596 "Complete QA testing for 2.5.0~rc3"
This issue acts as an epic to track manual testing for the SecureDrop 2.5.0~rc3 release.

Testers should complete the relevant section of the full test plan and append their results to the appropriate issue below. Note that basic server testing and acceptance testing require a single signoff per release candidate, but at least two testers should complete and sign off on release-specific testing.

[2022-10-05 20:04] zenmonkeykstop opened #6597 "Complete Basic server testing for 2.5.0~rc3"

[2022-10-05 20:04] zenmonkeykstop opened #6598 "Complete Application Acceptance testing for 2.5.0~rc3"

[2022-10-05 20:04] zenmonkeykstop opened #6599 "Complete release-specific testing for 2.5.0~rc3"

[2022-10-05 21:12] #6576 closed, assigned to rahulXs

[2022-10-05 22:46] cfm opened #6600 "after installation, Apache tries to compile initialized `config.py`"
## Description

After #6591, the Ansible task [`initialize_securedrop_app`](https://github.com/freedomofpress/securedrop/blob/012d30e8baeb8ffa7c10a56f4b43c464abf87cf7/install_files/ansible-base/roles/app/tasks/initialize_securedrop_app.yml) yields an AppArmor denial, since it copies `config.py.example` to `config.py` *after* the `postinst` `refresh_bytecode()` routine is executed during installati

[2022-10-06 00:32] SethAngell commented on #5548
I'll hop on this if it's still available!

[2022-10-06 13:26] zenmonkeykstop commented on #6600
Looks like pre-compiling the populated `config.py` doesn't help, Apache still tries to build it beforehand when starting the source and journalist WSGI processes from the postinst, so there will still be  apparmor denies triggered. One option would be to add a postinst check for the config.py file, and only restart apache from it if the file exists:
- for the install case, this means that installi

[2022-10-06 14:41] legoktm commented on #6600
My inclination would be to revert the apparmor `__pycache__` change for now, so we get some benefit from precompiling, but will still see some on-the-fly generation, which is not great but given that it's the status quo it seems fine for this release.

[2022-10-06 15:57] zenmonkeykstop commented on #6600
Yup, that's what I'm doing as I type - rolling it back  it for the `/var/www/securedrop/`  pycache directories at least. A PR will be forthcoming, followed by backport, followed by RC2.

[2022-10-06 16:20] #5548 closed, assigned to SethAngell

[2022-10-06 18:09] #6600 closed, assigned to zenmonkeykstop

[2022-10-07 20:30] zenmonkeykstop opened #6605 "Arabic not included in i18n.json"
## Description

Recent changes created a list of supported languages in `securedrop/i18n.json`. The list does not include Arabic, which has been supported in SecureDrop for quite a while (and which is currently above the threshold for inclusion in Weblate).

## Steps to Reproduce

- on an admin workstation, run `cd Persistent/securedrop && ./securedrop-admin --foce sdconfig`, then check the list o

[2022-10-09 09:00] rsk2 commented on #6577
Sorry, I can't help with this issue.

[2022-10-09 16:37] SleepTheGod opened #6607 "Windows DLL Injection To RCE 0day"
This will inject code into a dll and allow full takeover of target system currently working as of 10/9/2022
Please do not let this code be abused thank you for all the people you guys help <3 Love Taylor Christian Newsome

[code]

[2022-10-09 18:30] #6607 closed, assigned to nobody

[2022-10-11 15:11] zenmonkeykstop opened #6610 "Codecov uploads fail when their GPG key is unavailable."
## Description

The codecov uploader hash file is verified using a GPG key downloaded from keybase.io. The key does not appear to be available elsewhere. As a result, CI jobs will fail when keybase.io is down.

## Steps to Reproduce

Run CI when keybase.io is down

## Expected Behavior

app-tests job passes and uploads results to codecov

## Actual Behavior

app-tests job fails when attempting to

[2022-10-11 15:53] zenmonkeykstop commented on #6597
### Environment

- Install target: VMs
- Tails version: 5.4
- Test Scenario: install
- SSH over Tor: no
- Release candidate: RC3
- General notes:

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop && ./securedrop-admin setup -t`
  - Run test

[2022-10-11 18:28] #6605 closed, assigned to nobody

[2022-10-11 18:43] eloquence commented on #6520
That last bit was addressed in https://github.com/freedomofpress/securedrop-dev-docs/pull/15, and we also added redirects in https://github.com/freedomofpress/securedrop-docs/pull/393. So this can be closed, with any further dev docs changes tracked as separate issues.

[2022-10-11 18:43] #6520 closed, assigned to nobody

[2022-10-11 18:55] cfm commented on #6388
These additions have already proven their worth in this QA cycle.  I'll close this ticket and defer to future Release Managers to tweak QA assignments on these dimensions as we do on platform and Tails version.

[2022-10-11 18:55] #6388 closed, assigned to cfm

[2022-10-11 19:39] legoktm commented on #6575
@IlyesSemlali how's it going so far? Is there anything you need help with?

[2022-10-11 23:55] cfm commented on #6597
### Environment

- Install target:  VMs
- Tails version:  5.4
- Test Scenario:  upgrade
- SSH over Tor:  yes
- Release candidate:  RC3
- General notes:  Tor is still both slower and flakier than usual, but it's tolerable.

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation w

[2022-10-12 01:12] cfm opened #6616 "`manage.py delete-user` fails on a user with `SeenMessage` records"
## Description

If a user X has `SeenMessage` records—i.e., has logged in via the SecureDrop Client—X cannot be deleted via `manage.py delete-user`.

## Steps to Reproduce

Discovered during #6597, but this is not a regression in v2.5.0.

On an instance with messages submitted:

1. **Application Server:**  Create a new `user`.
2. Eyeball the number of `SeenMessage`s recorded, e.g.: `sudo -u www-da

[2022-10-12 01:28] cfm commented on #6597
### Environment

- Install target:  NUC11s
- Tails version:  5.2
- Test Scenario:  upgrade
- SSH over Tor:  yes
- Release candidate:  RC3
- General notes:

### Basic Server Testing
- [ ] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop && ./securedrop-admin setup -t`
  -

[2022-10-12 07:37] IlyesSemlali commented on #6575
Hi, sorry I haven't been able to check that yet, I'll be working on it tonight

[2022-10-12 17:17] eaon commented on #6262
I hit this again during 2.5.0 QA

[2022-10-12 17:21] zenmonkeykstop commented on #6598
- Install target: VMs
- Tails version: 5.4
- Test Scenario: clean install
- SSH over Tor: no
- Release candidate: RC3
- General notes:

### Application Acceptance Testing

#### Source Interface

##### Landing page base cases
- [x] JS warning bar does not appear when using Security Slider high
- [x] JS warning bar does appear when using Security Slider Low

##### First submission base cases
- [x] O

[2022-10-12 18:21] legoktm commented on #6262
Found this in the testinfra bug tracker: https://github.com/pytest-dev/pytest-testinfra/issues/141

[2022-10-12 18:26] legoktm commented on #6262
Of course, there's a comment explaining why that doesn't work:
[code]

[2022-10-12 19:17] cfm commented on #6598
### Environment

- Install target:  NUC11s
- Tails version:  5.2
- Test Scenario:  upgrade
- SSH over Tor:  yes
- Release candidate:  RC3
- General notes:

### Application Acceptance Testing

#### Source Interface

##### Landing page base cases
- [x] JS warning bar does not appear when using Security Slider high
- [x] JS warning bar does appear when using Security Slider Low

##### First submissio

[2022-10-12 19:37] legoktm opened #6618 "Upgrade pycparser to 2.19+"
*This is a good first issue for new contributors to take on, if you have any questions, please ask on the task or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!*

(this is a Python C parser, not a pyc parser...)

We are currently pinned to 2.18, which appears to be unreproducible (see https://github.com/freedomofpress/securedrop/issues/5901):

[code]

We know that pyc files are

[2022-10-12 19:43] legoktm opened #6619 "Rename securedrop-app-code-requirements.txt to just requirements.txt"
As part of reproducible wheels (#5901), we're adopting the same workflow as the SDW packages. One gotcha is that the scripts (reasonably) expect the file to be named "requirements.txt".

Given that all the other files are already named with a prefix, it seems reasonable to move our real, production dependencies to plain "requirements.txt".

[2022-10-12 21:39] legoktm commented on #6262
One approach could be to break up the pattern through string concatenation so it doesn't match in syslog.

[2022-10-13 04:44] cfm commented on #6599
### Environment

- Install target:  NUC11s
- Tails version:  5.2
- Test Scenario:  upgrade
- SSH over Tor:  yes
- Release candidate:  RC3
- General notes:

### 2.5.0 release-specific changes

- [x] [#6403 Unified Redis-backed sessions](https://github.com/freedomofpress/securedrop/pull/6403)

#### Upgrade-only
  - [x] Upgrade completed successfully from 2.4.2
  - [x] `revoked_tokens` table is no lo

[2022-10-13 12:43] nathandyer commented on #6598
### Environment

Install target: NUC11s
Tails version: 5.2
Test Scenario: Clean Install
SSH over Tor: Not during install, but post-install
Release candidate: RC3
General notes:

### Application Acceptance Testing

#### Source Interface

##### Landing page base cases
- [x] JS warning bar does not appear when using Security Slider high
- [x] JS warning bar does appear when using Security Slider Low

[2022-10-13 14:34] nathandyer commented on #6599
### Environment

Install target: NUC11s
Tails version: 5.2
Test Scenario: Clean Install
SSH over Tor: Not during install, but post-install
Release candidate: RC3
General notes:

### 2.5.0 release-specific changes

- [x] [#6403 Unified Redis-backed sessions](https://github.com/freedomofpress/securedrop/pull/6403)

  **Note:** session info is now stored server-side using Redis. Some useful `redis-cl

[2022-10-13 15:05] nathandyer commented on #6597
### Environment

Install target: NUC11s
Tails version: 5.2
Test Scenario: Clean Install
SSH over Tor: Not during install, but post-install
Release candidate: RC3
General notes:

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop && ./securedr

[2022-10-13 15:40] zenmonkeykstop opened #6620 "Slim down default environment spun up by "make dev""
## Description

(As suggested by @legoktm)

Slim down default environment spun up by "make dev", removing dependencies and setup required for testing. This would help to speed up dev env provisioning.

(This could be done via separate Dockerfiles, but another approach might be to have a single file with named phases, and to call docker build with --target as appropriate.)

## User Research Evidenc

[2022-10-13 15:43] rohitsm commented on #6577
Hi @legoktm! Could I work on this issue?

[2022-10-13 15:44] zenmonkeykstop opened #6621 "Add a background TOTP generator to the dev environment"
## Description

The JI requires 2FA using TOTP or HOTP, this adds a little bit of extra complexity for devs when working in the dev environment in particular. Since the TOTP secrets for default accounts are known, it should be possible to add a job that periodically outputs the token values for journalist accounts to Docker's stdout, saving devs the hassle of using oathtool or an authentication ap

[2022-10-13 16:07] zenmonkeykstop opened #6623 "Create a Aaron Swartz Day 2022 hackathon cheatsheet"
## Description

Based on their skillset, available environment, personal capacity, etc, hackathon participants could be encouraged to focus on different aspects of the SecureDrop and SecureDrop Workstation project. An event-specific doc helping them to choose what to work on  would be useful in this regard.

## User Research Evidence
n/a

[2022-10-13 17:18] legoktm commented on #6577
Go for it! Let us know if you have any questions

[2022-10-13 18:34] legoktm commented on #6620
We could also have CI publish the dev container to e.g. quay.io so people only need to download it on first run instead of "building" it.

My PR so far:
[code]

[2022-10-13 19:57] #6610 closed, assigned to nobody

[2022-10-13 21:48] eloquence opened #6628 "Translation-related errors in output when running `make dev`"
Haven't tried to prune Docker files yet, so might be specific to my env (this is on latest `develop`). Seeing errors like this:

[code]

[2022-10-13 22:06] zenmonkeykstop commented on #6628
Connfirmed on `develop`. Can repro after running `docker system prune --all`.

[2022-10-13 22:19] zenmonkeykstop commented on #6628
Not an issue on `release/2.5.0`, so probably related to the `sh` dependency removal in `i18n_tool.py`.

[2022-10-14 08:57] rohitsm commented on #6577
@legoktm - Could you pls help to clarify the following questions?

**Q1.**

I disabled the `mypy` overrides and ran `mypy` on the repo. I manually inspected the output and verified that no failures seen that were related to type checking on the `handle_csrf_error()` methods. Would this be sufficient or are there any other executions?

**Q2:**

Are there specific functionality that needs to be chec

[2022-10-14 15:47] legoktm commented on #6577
1. Nope, that's it. CI verifies mypy too, so it's all good.
2. Usually I manually submit a message and then log into the Journalist Interface and verify it shows up. If the tests pass (and they did in CI too), then that's more comprehensive then any manual testing.

[2022-10-14 15:53] zenmonkeykstop commented on #6599
(VMs, install scenario, Tails 5.4)

### 2.5.0 release-specific changes

- [x] [#6403 Unified Redis-backed sessions](https://github.com/freedomofpress/securedrop/pull/6403)

  **Note:** session info is now stored server-side using Redis. Some useful `redis-cli` commands for testing include:
  * `KEYS <pattern>` - lists all keys matching a given pattern
  * `GET <key>` - returns the given key's valu

[2022-10-14 16:08] legoktm commented on #6628
Yep :( bisected to 21ebdc8d9a04f228d7fb0643a3e81745cc17db90. Debugging now...

[2022-10-14 16:21] rohitsm commented on #6577
Thanks @legoktm. I ran the tests and they all passed. I have marked the above PR as ready for review.

[2022-10-14 16:24] legoktm commented on #6628
The warnings have always been there, the old code just suppressed them instead of letting them print. I'll restore that behavior in a few minutes.

The warnings itself are because of https://github.com/python-babel/babel/issues/566 and seem harmless.

[2022-10-14 19:00] #6575 closed, assigned to IlyesSemlali

[2022-10-14 19:50] legoktm opened #6631 "Consider using argon2-cffi directly and dropping passlib"
passlib was introduced in #2918, on the basis that it would give us "future proof and easily migrateable password management should we change password hashing algorithms/parameters."

Unfortunately passlib looks unmaintained (no commits in 2 years and the upstream issue tracker has [literal spam tickets](https://foss.heptapod.net/python-libs/passlib/-/issues/?sort=created_date&state=opened) sittin

[2022-10-14 20:26] #6577 closed, assigned to rohitsm

[2022-10-14 20:40] legoktm opened #6632 "Use specific mypy error codes in ignore comments"
*This is a good first issue for new contributors to take on, if you have any questions, please ask on the task or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!*

We currently have various mypy errors disabled using a comment like: `# type: ignore`.

However this just suppresses *any* mypy error that happens at that spot, rather than just the specific error we want to ignore. m

[2022-10-14 21:26] legoktm commented on #6099
https://support.circleci.com/hc/en-us/articles/360052058811-Exit-Build-Early-if-Any-Test-Fails is apparently how to do this in CircleCI (using the aforementioned cancelWorkflow endpoint).

I have mixed feelings thinking about this a bit more. Yeah, if there's some syntax failure we should abort early, but if flake8 is failing because my line is too long, I'd rather have the tests run anyways so I

[2022-10-15 12:26] KartikeyDubeyKD commented on #6632
Hey, I'm interested in working on this issue. Can you please assign this to me?

[2022-10-16 17:28] MRZHD1 commented on #6579
Hello @legoktm, could I be assigned this?

[2022-10-16 20:41] eaon commented on #6579
@MRZHD1 assigned to you, as before, feel free to ask questions if you have any!

[2022-10-17 14:51] legoktm opened #6635 "admin Dockerfile and tests need to be updated for bullseye"
https://github.com/freedomofpress/securedrop/blob/f26ee95c11f583dc77510ce87958a3fb2be10773/admin/Dockerfile

These are still running on buster, but Tails has moved to bullseye now.

[2022-10-17 15:01] #6597 closed, assigned to nobody

[2022-10-17 15:01] #6598 closed, assigned to nobody

[2022-10-17 15:01] #6599 closed, assigned to nobody

[2022-10-17 15:02] legoktm opened #6636 "admin-tests are failing"
[code]

the `a6a744282b7718a2a62d2ed9d993cad6f5f585605ad352c11de459f4108df0a1` hash matches what I see on pypi for `MarkupSafe-1.1.1-cp37-cp37m-manylinux2010_x86_64.whl`. Looking at git blame for admin-requirements.txt, it was last updated in 3b688d4246f7dfded7ac8a7730512a979cdc9e6a (March 2020), while the manylinux2010 wheels were only uploaded to pypi on Jan 29, 2021 so we're missing the hashes.

[2022-10-17 15:04] zenmonkeykstop opened #6637 "Complete testing for 2.5.0-rc4"
This issue acts as an epic to track manual testing for the SecureDrop 2.5.0~rc4 release.

Testers should complete the relevant section of the full test plan and append their results to the appropriate issue below. Note that basic server testing and acceptance testing require a single signoff per release candidate, but at least two testers should complete and sign off on release-specific testing.

[2022-10-17 15:04] zenmonkeykstop opened #6638 "Complete basic server testing for 2.5.0-rc4"

[2022-10-17 15:04] zenmonkeykstop opened #6639 "Complete application acceptance testing for 2.5.0-rc4"

[2022-10-17 15:04] zenmonkeykstop opened #6640 "Complete release-specific testing for 2.5.0-rc4"

[2022-10-17 15:08] legoktm opened #6641 "Don't hardcode flask version for testinfra checks"
In 6e55b0548c2954ffbc6351a58c796dcaf4332b89 we bumped the the flask version but forgot to update the testinfra checks, necessitating b99469b8581fcdd7bc630ccd0487d4786d5512ed.

flask is the only version that's hardcoded like this, we should see if we can avoid hardcoding it and reading it on the fly from securedrop-app-code-requirements.txt.

[2022-10-17 15:21] ninoppp opened #6643 "Concept for "untracable landing page""
Hey, I hope this is the right place for this issue, feel free to move it somewhere else if it isn't.

While planning the implementation of our landing page, we came up with a concept for an "invisible landing page": instead of creating a whole subpage for the whistleblowing/securedrop instructions, we emulate one with a pure css popup that looks like a subpage. Very lazy example: https://codepen.i

[2022-10-17 15:26] #6636 closed, assigned to legoktm

[2022-10-17 15:26] legoktm commented on #6632
@KartikeyDubeyKD done, let us know if you have any questions/issues!

[2022-10-17 15:48] zenmonkeykstop commented on #6596
Superseded by #6637

[2022-10-17 15:48] #6596 closed, assigned to nobody

[2022-10-17 16:12] KartikeyDubeyKD commented on #6632
Ok, Thank you

[2022-10-17 19:17] legoktm commented on #6099
I put it on the agenda for tomorrow's server dev hangout (time permitting) for this, but without having lint cancel the workflow.

[2022-10-18 01:03] cfm opened #6648 "`i18n_tool.py update-from-weblate` no longer detects translators for attribution"
## Description

After #6580, including with the fix proposed in #6629, `i18n_tool.py update-from-weblate` fails to detect the translators to credit for each per-language commit.

## Steps to Reproduce

[code]

## Expected Behavior

[code]

## Actual Behavior

[code]

## Comments

I haven't had time to debug this as part of the v2.5.0 localization merge, so for #6646 I've worked around it locally w

[2022-10-18 14:12] #6156 closed, assigned to cfm

[2022-10-18 17:58] legoktm commented on #6648
Previously it was:
[code]

And now it is:
[code]

[2022-10-18 19:32] legoktm opened #6651 "Automatically generate and/or verify apparmor file lists"
This is related to #5713, though a different approach.

We currently maintain a manual list of files that should be included in the apparmor config for apache2. Despite being a checklist item in the PR template, we regularly forget to add or remove items from the list, slowing down QA when people are actively testing in staging/real hardware.

We should have CI verify that all the files in the tre

[2022-10-18 20:40] eaon commented on #6640
### Environment

- Install target: NUC11 (app) / NUC10 (mon)
- Tails version: 5.4
- Test Scenario: clean
- SSH over Tor: yes
- General notes: clean install to rc3, rc4 installed via unattended upgrades. Tests here ought to be unaffected

### 2.5.0 release-specific changes

- [x] [#6403 Unified Redis-backed sessions](https://github.com/freedomofpress/securedrop/pull/6403)

  **Note:** session info

[2022-10-18 20:51] eaon opened #6652 "French word list quality is subpar"
## Description

We do not allow our users to set their own password, no matter whether they're journalists or sources. Instead we generate dice ware passphrases for them. This means we rely on word lists to set passphrases, and we want those to be good. Unfortunately, when compared to its English counterpart, the French word list isn't very good.

All of our users that selected to use French autom

[2022-10-18 21:12] zenmonkeykstop commented on #6640
###IN PROGRESS###

(VMs/fresh install/Tails 5.5)

## 2.5.0 release-specific changes

- [ ] [#6403 Unified Redis-backed sessions](https://github.com/freedomofpress/securedrop/pull/6403)

  **Note:** session info is now stored server-side using Redis. Some useful `redis-cli` commands for testing include:
  * `KEYS <pattern>` - lists all keys matching a given pattern
  * `GET <key>` - returns the giv

[2022-10-18 21:33] legoktm commented on #6652
It would be interesting to see if we could use the list of pages on the French Wiktionary, maybe with some more filtering to achieve our desired word length ratios: https://dumps.wikimedia.org/frwiktionary/20221001/frwiktionary-20221001-all-titles-in-ns0.gz.

This would make it straightforward to add in more languages (that have Wiktionaries at least :))

[2022-10-18 21:48] #6635 closed, assigned to legoktm

[2022-10-18 23:00] eloquence commented on #6554
Slow Tor, but graphical update in Tails to the 2.5.0 tag ultimately completed successfully.

[2022-10-19 00:19] cfm commented on #6554
## Preflight testing

Upgrade from `2.4.2`

### Basic testing

- [x] Install or upgrade occurs without error
- [x] Source interface is available and version string indicates it is 2.5.0
    - [x] Only configured languages can be selected in the Source and Journalist Interfaces
- [x] A message can be successfully submitted

### Tails testing

- [x] The updater GUI appears on boot
- [x] The update s

[2022-10-19 00:33] zenmonkeykstop commented on #6554
Fresh install preflight is also good!

[2022-10-19 15:54] legoktm opened #6654 "Prepare offline snapshots of the development containers"
## Description

Another idea along the veins of #6620. We can export development containers as tarballs, throw them on USBs for "offline" installs at in-person hackathons where time is valuable and we don't want to have people waiting on dependencies to download.

## User Research Evidence

We used to do this at Wikimedia hackathons where you had to download a multi-GB VM image for vagrant.

## Us

[2022-10-19 16:02] legoktm opened #6655 "Journalist passphrases should be hashed with Argon2id instead of Argon2i"
*Originally filed as https://github.com/freedomofpress/securedrop-security/issues/86*

We currently use Argon2i to encrypt journalist passphrases:
[code]

However, Argon2id is what's recommended these days, [this SO answer goes into depth and summarizes with](https://security.stackexchange.com/questions/193351/in-2018-what-is-the-recommended-hash-to-store-passwords-bcrypt-scrypt-argon2):

Part of

[2022-10-19 16:02] legoktm commented on #6655
@lsd-cat wrote:

[2022-10-19 16:03] legoktm commented on #6655
@legoktm wrote:

[2022-10-19 16:03] legoktm commented on #6655
@lsd-cat wrote:

[2022-10-19 16:03] legoktm commented on #6655
@lsd-cat wrote:

[2022-10-19 16:04] legoktm commented on #6655
@l3th3 wrote:

[2022-10-19 16:06] legoktm commented on #6631
Discussed at yesterday's team meeting and got a 👍🏾 to move forward on this and #6655.

[2022-10-19 17:20] legoktm commented on #6099
There was agreement yesterday to move forward with this, without having lint cancel other jobs.

[2022-10-19 18:40] legoktm commented on #6631
argon2-cffi handles migrations pretty well. First it reads the algorithm out of the generated hash, so we don't need any special handling for `argon2i` vs `argon2id`. Then it has a [`check_needs_rehash(hash)`](https://argon2-cffi.readthedocs.io/en/stable/api.html#argon2.PasswordHasher.check_needs_rehash) function which checks for type and any other parameters (like iterations, etc.) being out of s

[2022-10-19 21:18] #6631 closed, assigned to legoktm

[2022-10-19 21:18] #6655 closed, assigned to legoktm

[2022-10-19 21:27] #6554 closed, assigned to nobody

[2022-10-19 23:38] legoktm commented on #6652
I was surprised to learn today that we actually do have a bunch of checks at runtime(!) to supposedly verify the quality of wordlists: https://github.com/freedomofpress/securedrop/blob/6e4a4363b0da489e77d326d72208ddf56065e8f7/securedrop/passphrases.py. One important note from this is that 1 character "words" are dropped.

I think re-evaluating those checks should be part of this. For example, ther

[2022-10-20 00:17] cfm commented on #6648
Thanks, @legoktm.  Looks like `str.splitlines()` is overzealous here, because it [splits on a _superset_](https://docs.python.org/3/library/stdtypes.html#str.splitlines) of the [universal newlines](https://docs.python.org/3/glossary.html#term-universal-newlines) that includes the `\x1e` "record separator" used in:

https://github.com/freedomofpress/securedrop/blob/94c6bbb91e58aece33af7e851a7140e79

[2022-10-20 00:22] #6628 closed, assigned to legoktm

[2022-10-20 14:27] #6640 closed, assigned to nobody

[2022-10-20 14:27] #6639 closed, assigned to nobody

[2022-10-20 14:27] #6638 closed, assigned to nobody

[2022-10-20 14:27] #6637 closed, assigned to nobody

[2022-10-20 15:18] zenmonkeykstop commented on #1533
A lot of the automation reccos have been implemented, the firewall setup is still an open question, but we can create a separate issue to track it if an existing one doesn't fit.

[2022-10-20 15:18] #1533 closed

[2022-10-20 15:20] zenmonkeykstop commented on #1667
:+1: this is noise for the majority for admins.

[2022-10-20 15:23] zenmonkeykstop commented on #2736
Dev is very different from staging/prod envs, so testinfra results are not going to be too meaningful. Closing, but will reopen if/when the dev env is more aligned with production.

[2022-10-20 15:23] #2736 closed

[2022-10-20 15:26] zenmonkeykstop commented on #2764
Tor apt mirror logic is dropped anyway, so we can close this.

[2022-10-20 15:35] zenmonkeykstop commented on #2793
@nathandyer is going to do some investigation against  a prod instance, this could be a good candidate for a hackathon/hacktoberfest issue.

[2022-10-20 15:37] zenmonkeykstop commented on #2867
Still a good idea, let's do it! @legoktm to investigate hadolint's output and see if it's useful for us.

[2022-10-20 15:40] zenmonkeykstop commented on #2883
This specific issue isn't a problem anymore, closing

[2022-10-20 15:40] #2883 closed

[2022-10-20 15:43] zenmonkeykstop commented on #2674
Not a pressing need, closing ticket.

[2022-10-20 15:43] #2674 closed

[2022-10-20 15:46] zenmonkeykstop commented on #304
Keeping, the existing PR would need to be updated to cover existing instances without a playbook run, but the change is still valid.

[2022-10-20 15:51] zenmonkeykstop commented on #1402
Closing, will replace with documentation (and possible scripting) for recreating the mon server from scratch if necessary.

[2022-10-20 15:51] #1402 closed

[2022-10-20 18:28] #6648 closed, assigned to cfm

[2022-10-20 20:01] legoktm opened #6660 "October 2022 Linux kernel update"
We need to do another Linux kernel update. Should be done with coordination in https://github.com/freedomofpress/securedrop-workstation/issues/839.

## Checklist
* [x] Source tarball saved internally
* [x] Uploaded to apt-test.freedom.press
* [x] Tested on recommended hardware (see below)
* [x] Uploaded to apt.freedom.press and released

## Testing matrix
[Instructions on testing procedure](https:

[2022-10-21 11:52] KartikeyDubeyKD commented on #6632
I have a doubt about setting up the environment do I need to have a Linux.

[2022-10-21 11:54] KartikeyDubeyKD commented on #6632
Because in the documentation there is nothing about windows

[2022-10-21 12:21] KartikeyDubeyKD commented on #6632
I'm facing a problem with setting up the environment.

[2022-10-21 15:13] nathandyer commented on #2793
Sharing some results after testing against my SecureDrop instance, running SecureDrop 2.5.0 on two Intel NUC 11s:

## From Default Logo

Procedure:
1. Loaded Journalist interface in Tor browser
2. Loaded Source interface in Tor browser on another system, and confirmed it is using the default SecureDrop logo
3. Opened Admin settings in Journalist interface, clicked "Instance configuration", browsed

[2022-10-22 10:27] nabla-c0d3 commented on #6652
One reason to check at runtime, as it is done now, is to prevent the app from even starting at all if the words list are super insecure/bad (for example, the lists files were somehow modified, etc.).

[2022-10-23 11:29] MRZHD1 commented on #6579
Hey @eaon, sorry for the extremely late start as I was super busy, but after numerous attempts at making the dev environment work I just can't seem to. Every time I run `make dev` I run into this:
[code]

which causes the whole thing to fail. I've already changed the requirements and generated the new test-requirements.txt so I don't know if that's what is causing the issue or not.

[2022-10-24 21:18] legoktm commented on #6652
Indeed. I think that protects us against two situations:
1. A instance administrator wants to use a different word list for whatever silly reason, and swaps it in.
2. An attacker wants to weaken our word lists, somehow has access to write to the filesystem and swaps in their own word list.

No 2. isn't stoppable since the attacker (who somehow already has write access) could easily disable whateve

[2022-10-25 18:08] nabla-c0d3 commented on #6652
Yeah I was mainly thinking about 1. as 2. is a "game-over" scenario, as you mentioned.

It looks like being able to swap the words lists used to be a feature (as it's a configuration key in `config.py.example`), but perhaps not anymore? In which case, the runtime checks might not be needed; at the same time, I don't think they add a ton of overhead either.

[2022-10-26 00:03] cfm opened #6661 "map the repository"
@rocodes has volunteered to complete the map of the `securedrop-client` repository begun by @creviera in <https://github.com/freedomofpress/securedrop-client/wiki/Project-Patterns>.  I'll create the equivalent here, and then we can confer about whether there are other repositories that would benefit from the same treatment.

[2022-10-26 14:33] nathandyer opened #6662 "Add support for Intel NUC 12s"
## Description

Intel NUC 11s are coming up on the 'end of sale' date for many retailers, and NUC 12s are now widely available. We should test and officially support these newer NUCs.

## Steps to Verify and Add Support for NUC12s
- [x] Acquire a [NUC12WSKi5](https://simplynuc.com/product/nuc12wski5-full/)
- [x] Verify that Focal server installation works, system boots with ~default kernel~ withou

[2022-10-27 15:51] erinmikailstaples commented on #6552
Hey folks!

New to contributing to this project, but happy to jump in and help out here on this one. :)

If building a wiki — I do like what @eloquence brings up as far as being able to clone the wiki. As a new contributor to this project and looking to get more involved, I do agree that having _one_ place for all wikis or docs is really nice to be able to scroll through and catch up on various pr

[2022-10-27 22:45] eloquence commented on #6552
Thanks @erinmikailstaples for offering to help with this! <3 Perhaps one way to start would be to inventorize (e.g., in a GDoc or similar format) some of they key pages/page hierarchies by repository, and offer any notes/recommendations based on your own observation (e.g., "This page is outdated", "Just a link - can be deleted", "maybe move to SD wiki") in line with the principles @zenmonkeykstop

[2022-11-01 13:21] zenmonkeykstop commented on #6620
Closed by #6625 - I don't think there's a need to get into the publishing to quay.io bit for this round.

[2022-11-01 13:21] #6620 closed, assigned to legoktm

[2022-11-01 16:29] eaon opened #6665 "Make Docker/Podman/Moby play nice with SELinux"
## Description

Currently, we do not instruct Docker/Podman/Moby to change the security context for our containers automatically. This results in machines with SELinux enabled being greeted with permission denied errors when trying to run `make dev[-tor]` or other containers of ours.

We should make sure that it _just works_ by using the `:Z` option for `--volume`.

## User Stories

I use Podman o

[2022-11-01 18:30] cfm commented on #6483
In today's Server hangout: confirmed for v2.6.0.

[2022-11-01 18:32] cfm commented on #6592
In today's Server hangout: confirmed for v2.6.0.

[2022-11-01 20:46] eaon commented on #6621
I wonder if we should add this to the cheat sheet or maybe the `Makefile`? Interleaving access log / core reload with 2FA codes every 30 seconds sounds unnecessarily noisy to me.

I have an alias piping `oathtool` output to `wl-copy` / `xclip`, maybe that's good to share?

[2022-11-01 20:50] zenmonkeykstop commented on #6621
That sounds like a worthwhile approach!

[2022-11-02 15:20] legoktm commented on #6410
I think #6538 (Drop dh-virtualenv) is a better direction to go in.

[2022-11-02 15:20] #6410 closed, assigned to nobody

[2022-11-02 15:37] legoktm commented on #6420
(This is not a good first issue yet, I will add some more detail on what the plan is to fix this before it's ready for others to take on)

[2022-11-02 15:44] legoktm commented on #6262
I think the best approach to solve this would be to run something like `grep <pattern> /var/syslog/syslog`, and then post-process the output of that in Python, removing *our* grep command from that.

[2022-11-02 16:18] eaon commented on #6313
Adding more context in light of having added _good first issue_ and _hackathon_ labels:

The page `<title>`s of both the Source Interface and the Journalist Interface are pretty much static:

https://github.com/freedomofpress/securedrop/blob/6170370ccab4f2519ac27c0c62920d674785ec7a/securedrop/journalist_templates/base.html#L7

https://github.com/freedomofpress/securedrop/blob/6170370ccab4f2519ac27

[2022-11-02 16:55] eaon commented on #6318
We discussed this when we were weeding out issues for hackathon participants, and decided to lay out what the requirements to close this issue are:

- Change the wording to drop the reference to Orfox, and that the existence of Tor Browser for Android isn't confusing anymore either.
- Ensure that the warning is shown on Tor Browser for Android
  - If it is not, adapt the User-Agent regular express

[2022-11-02 17:45] legoktm commented on #6588
I made a mistake, it works fine in production systems but breaks in the dev environment :/
[code]

Debugging why, but we should just make the dev environment more like how the systemd services are run.

[2022-11-02 17:50] cfm opened #6667 "Journalist Interface and API return different subsets of `Source`s"
## Description

The Journalist Interface and API return different subsets of `Source`s.  Under certain circumstances, the same journalist user will see more sources listed in a SecureDrop Client session than they will see in a simultaneous Journalist Interface session.

### Recommended approach
1. [ ] Reconcile (or factor out?) the filters used by the Journalist Interface's `index()` and the Journ

[2022-11-02 17:52] cfm commented on #6667
This is the kind of bug that motivates me to argue that the Journalist Interface should be a _consumer_ of the Journalist API, whereas they're currently independent implementations of overlapping functionality.

[2022-11-02 18:14] cfm opened #6669 "`GpgKeyNotFoundError` can block deletion of a `Source`"
## Description

One of #6667's `Source`s with `last_updated = None` cannot be deleted, because `DELETE /sources/<source_uuid>` returns HTTP `500` on a `GpgKeyNotFoundError`.

## Steps to Reproduce

See #6667 for context.  In the SecureDrop Client, select source `politic paperweight` and select **Delete Source Account**.

## Expected Behavior

The source is deleted.

## Actual Behavior

The source

[2022-11-02 18:21] legoktm commented on #6588
Looking at this again, I think we should aim to remove the final `sys.path.insert(0, "/var/www/securedrop")` in the scripts and instead rely on the systemd units that add `Environment=PYTHONPATH="/var/www/securedrop:..."`.

I *also* think we can remove `/opt/venvs/securedrop-app-code/lib/python3.8/site-packages` from the PYTHONPATH in the systemd units since we're invoking them with the `python` i

[2022-11-03 00:03] eloquence commented on #6667
Thanks @cfm, and agree that consuming the API in the JI would be a best practice (with my standard caveat about investing in an implementation that I hope we'll be able to deprecate with the SecureDrop Workstation). In your estimation, could this issue plausibly arise outside the development environment / `loaddata` use case, or is `last_updated` always set in those cases?

[2022-11-03 05:46] rmol commented on #6652
The entropy of Diceware passphrases is interesting, and came up in a [very similar discussion](https://github.com/freedomofpress/securedrop/pull/5600#discussion_r536890950) a while back. The [Diceware FAQ](https://theworld.com/%7Ereinhold/dicewarefaq.html) says not only do short words not decrease the quality of the passphrases, but they were included by design for usability. The French word list

[2022-11-03 16:36] cfm commented on #6667
That's a fair question to raise, @eloquence, and in practice I think you're right (to imply :-) that this is a rare edge-case.  In theory, however, I don't see how it's meaningfully *more* rare via `loaddata.py`...

https://github.com/freedomofpress/securedrop/blob/87d84cf3a6ea8a66bc470ee137d7a56c1b13024d/securedrop/loaddata.py#L172-L174

...than via the Source Interface's `/submit`:

https://gith

[2022-11-03 20:53] nathandyer commented on #6662
Just to give an update here, I have acquired a NUC12WSKi5, and began testing this afternoon.

So far things have not gone smoothly. I'm still trying to troubleshoot, but I'm going to leave a comment here to explain some of my findings so far:

* Out of the box, the ability to boot from USB is disabled. I had to manually enable it in the BIOS by pressing F2, then going to **Boot** -> **Boot Priorit

[2022-11-03 21:17] erinmikailstaples commented on #6552
This sounds great to me, @eloquence — I'll jump on this first thing tomorrow, had a bit of stomach flu that held me out.

stay tuned! Looking forward to this one!

[2022-11-03 21:40] sssoleileraaa commented on #6660
### nuc7 kernel testing
- [x] Confirm that the system boots, and that `uname -r` returns the expected kernel
- [x] Confirm that values are comparable to previous kernels when running `sudo paxtest blackhat`
- [x] Verify the kernel is not vulnerable to known exploits by running https://meltdown.ovh

[2022-11-03 22:25] eloquence commented on #6667
Thanks - I was mostly trying to understand the risk of production-level data integrity issues or user-facing impact.

If [this summary](https://stackoverflow.com/a/4202016) is an accurate description of the flush/commit behavior, then it seems like `loaddata` may sometimes not persist the `last_updated` information if it doesn't reach a `commit` call. It's not clear to me why this particular metho

[2022-11-03 23:25] #6569 closed, assigned to legoktm

[2022-11-04 02:26] cfm commented on #6380
<https://github.com/freedomofpress/securedrop/issues/6380#issuecomment-1135240576>:

We could solve this problem at least for human eyes by turning on Weblate's ["pseudolocale generation"](https://docs.weblate.org/en/latest/admin/addons.html#pseudolocale-generation):

I'll bring this up next week when we revisit our localization roadmap for v2.6.0 and beyond.

[2022-11-04 03:07] cfm commented on #6667
On Thu, Nov 03, 2022 at 03:25:45PM -0700, Erik Moeller wrote:

Yes, I meant to look into that question next.  Curiously, this is our
*only* use of session.flush() *anywhere*[1], which makes me question it in
the absence of any accompanying justification.  I'll start a checklist
at the top of this ticket: two tasks, and maybe a *two*-line fix.  :-)

[1]: https://github.com/freedomofpress/securedrop

[2022-11-04 15:33] eaon commented on #6478
I will have an M1 machine available next week and will work on this

[2022-11-04 19:10] eaon commented on #6643
I would love if there was a better way along those lines, however, I have some rather large concerns …

Unfortunately, the existence of JavaScript on the same page would be worrying still. For one-off verification, it might just be a little more effort than just checking the webpage's source code, but continuously relying on newsroom's web departments having enough awareness of the landing page's

[2022-11-04 19:23] eaon commented on #6155
The order of these elements in the UI has changed, so this link does not exist anymore, instead I think the current design also implicitly resolves the issue that @creviera pointed out:

![image](https://user-images.githubusercontent.com/201369/200058276-5be83071-dd19-4dbd-9fbb-e06475221a21.png)

If someone has forgotten to note down their codename/passphrase, it's just one click away and the func

[2022-11-04 19:23] #6155 closed, assigned to nobody

[2022-11-04 19:51] eaon commented on #6272
I think it'd be great if we could land those small changes soon. Compared to the [status quo](https://demo-source.securedrop.org/why-public-key), I think all of those changes make sense.

Given how these "static content" pages are served, I think the `[ Log Out ] ` button should probably be out of scope for this.

[2022-11-04 20:22] eaon commented on #6219
My 2 cents: I also favour repo level _standard_ `LICENSE` files… but also think that 2 line comments are fairly unobtrusive. That being said, touching _all_ the files to add the comments is icky as it resets valuable at-a-glance information during repo browsing, but doing it opportunistically would mean we might spend years to catch up, because we have a lot of stuff we don't touch that often.

If

[2022-11-04 20:28] eaon commented on #6198
When thinking about the SI, this has been on my mind as well, and thought _maybe_ this could be a hackathon issue. I'm wondering though, and maybe @cfm has more insight into this, what impact would that have on i18n? Would we (or translators) need to rephrase portions to avoid conjugation issues?

[2022-11-04 21:04] eaon commented on #6048
Unfortunately I missed looking into this when I worked on #6315, but I looked at it now and just thought I'd note that I'm not convinced that `:focus-within` provides us with the functionality we want. Maybe I was to quick in going over this/testing stuff, but at least in the references @SaptakS shared, `:focus-within` would force users to tab through all the language links before they get to the

[2022-11-04 22:00] ninoppp commented on #6643
Thanks a lot for the feedback.

Well, I deffo see the point. Coming from a small, up and coming magazine where the website is being designed with the landing page in mind (as well as privacy in general, using selfhosted, limited analytics), I personally would be positive that this would be handlable. However, yeah, bigger operations will deffo be more complex.

Okay, I clearly don't know enough ab

[2022-11-05 02:30] eaon commented on #6643
Right, unfortunately, our formal publicly documented requirements for directory inclusion have to be a bit more defensive and take into account how this type of thing typically goes wrong.

IIRC the file would be `places.sqlite`, but in this case I just checked the browser's own history UI during the session. As to how to mess with that history, the [`location.replace()`](https://developer.mozilla

[2022-11-05 03:05] eaon commented on #2390
We dropped SASS recently so no more loops for us. But, @cfm, I'm wondering if there's some other way to integrate with Weblate to automate making appropriate changes to the static CSS files?

[2022-11-05 14:59] ninoppp commented on #6643
Wait what? You mind sending me a screenshot of the history? I only see the codepen site opened, nothing about a popup. Can't find anything in the file either, but not an expert tho.

That's an intersting idea. Will take a look.

I see that that may be extra work for the SecureDrop team, but does that mean you wouldn't accept an implementation of this into the directory, that, while maybe not perfe

[2022-11-07 15:33] eaon commented on #6643
[Screencast from 2022-11-07 10:15:16.webm](https://user-images.githubusercontent.com/201369/200346504-c06fc1e7-0f4f-48af-8a72-9ad8fbb591ad.webm)

FYI, I downloaded your example and hosted it locally (I also changed the background to grey rather than an image), but functionality is the same.

That's not a decision that is down to me, but to be transparent about my own views here, I strongly prefer

[2022-11-07 18:27] zenmonkeykstop commented on #6660
Same, on a NUC8 the system boots into 5.15.74-grsec-securedrop, and passes paxtest and speculative execution checks.

[2022-11-07 19:29] #6665 closed, assigned to eaon

[2022-11-07 19:45] legoktm opened #6671 "deb-tests failing because of enchant missing in jammy"
https://circleci.com/gh/freedomofpress/securedrop/65772

It appears the `cimg/python:3.8` image switched from focal to jammy sometime in the past week. jammy only has `enchant-2` (which pylint/pyenchant is compatible with).

But we want to move away from the CircleCI images anyways, and given that I believe most of us are building packages in Debian VMs, I'll switch it to a bullseye image.

@eaon

[2022-11-07 20:41] cfm commented on #2390
On Fri, Nov 04, 2022 at 08:06:00PM -0700, eaon wrote:

Not that I can tell from Weblate's add-ons
(https://docs.weblate.org/en/latest/admin/addons.html).  But now that we
have our own "i18n.json" configuration, we could add custom keys there
for use in a Jinja-rendered "l10n.css"....

[2022-11-07 21:23] cfm commented on #6198
On Fri, Nov 04, 2022 at 01:28:49PM -0700, eaon wrote:

I've done some initial research on this, which led me to
<https://slack.engineering/localizing-slack/>:

These measures are unlikely to be worth it for our very limited
use-case.  So, yes, I think this will require careful phrasing to favor
strings like:

1. "First time submitting to {organization_name}?"
2. "First time using SecureDrop to mes

[2022-11-08 00:16] #6660 closed, assigned to nobody

[2022-11-08 01:01] legoktm commented on #6328
The first detached kernel update went out via #6660! All that's left is dropping the obsolete securedrop-grsec metapackage (that PR closes this issue).

[2022-11-08 02:15] cfm opened #6672 "`make dev` fails on macOS because "detected dubious ownership in repository""
## Description

On macOS, `make dev` fails in—

https://github.com/freedomofpress/securedrop/blob/50e89ad43c8124e6ea411d53671bf7af9bc4cf1c/securedrop/bin/run#L6-L8

—with the error:

[code]

## Steps to Reproduce

* macOS 12.6.1 (21G217)
* `git version 2.37.1 (Apple Git-137.1)`

[code]

## Expected Behavior

The development environment starts.

## Actual Behavior

[code]
## Comments

I can work ar

[2022-11-08 21:05] #6672 closed, assigned to eaon, cfm

[2022-11-08 22:00] #6478 closed, assigned to eaon

[2022-11-08 22:21] #6621 closed, assigned to eaon

[2022-11-09 01:44] cfm commented on #6661
@eaon and I have drafted this in <https://github.com/freedomofpress/securedrop/wiki/Repository-map>.

[2022-11-09 01:44] #6661 closed, assigned to eaon, cfm

[2022-11-10 12:00] ninoppp commented on #6643
Thanks for the video.

Totally see that point. Guess we'll make a conventional landing page and then do some research into an untracable one and see where it leads us.

Hmmm, well, you're already trusting the beckend people to keep the headers etc intact., including things that aren't visible from the outside, such as the handling of the logs (which I can think of quite a few scenarios of for a fu

[2022-11-10 15:41] nathandyer commented on #6531
I'm posting an updated version of the demo extension I created, which has lots of small tweaks to allow for deeper discussion at the hackathon. Changes to this version include:

* Most of the actions are now either completely functional, or partly functional
* Updated and tested to work on GNOME 43 in case any hackathon participants are already running the latest GNOME desktop
* Namespace changed

[2022-11-13 02:19] #6420 closed, assigned to nobody

[2022-11-13 02:25] audiodude commented on #6618
I'll work on this

[2022-11-13 03:55] ethenotethan commented on #6652
@legoktm I did a light feasibility assessment on the `French Wiktionary` word list to understand how easy it'd be to incorporate as a viable improvement solution. After running some [translation logic](https://github.com/epociask/securedrop/blob/hackathon/text_clean.py) in a light python script to sanitize non-conformational data entries it became apparent that there was still over 2 million words

[2022-11-13 09:12] nabla-c0d3 commented on #5613
PR at https://github.com/freedomofpress/securedrop/pull/6679 is ready

[2022-11-13 20:38] audiodude commented on #6667
I'll work on this

[2022-11-13 23:00] #6618 closed, assigned to audiodude

[2022-11-14 02:00] gonzalo-bulnes commented on #6652
I had a chat with @epociask yesterday, and just caught up with the conversation in this issue.

First, I'd like to highlight what @rmol said: the security properties of a passphrase that's created from words randomly picked from a word list doesn't depend on the words themselves, it depends on the size of the list (how many combinations of `n` words can be created). I'd recommend an EFF's Deeplink

[2022-11-14 02:26] audiodude commented on #6667
Newbie question here, but how do I get to the application that is marked as "On the client" with this interface:

![image](https://user-images.githubusercontent.com/57832/201562322-ffe662ce-9558-4d62-bc70-d2b3f9e26cea.png)

[2022-11-14 10:23] ethenotethan commented on #6652
@gonzalo-bulnes Somewhat irrelevant but do you think it'd be valuable to add word list specific tests within the repository instead of performing data validation checks inside of the Passphrase constructor?

[2022-11-15 17:22] audiodude commented on #6667
Sorry to post so many questions on such a simple task, but here goes. What is the preferred way of reconciling the Journalist Interface and the Journalist API? That is, should they both filter by `last_updated is None` or neither?

[2022-11-15 19:35] eloquence commented on #6667
I think the preferred behavior would be for the API to also filter with `.last_updated.isnot(None)`. These are not valid sources and should never be returned.

The interface in the screenshot is the SecureDrop Client, which you see at https://github.com/freedomofpress/securedrop-client - let us now if you have any difficulty setting it up, and thanks for working on this :)

[2022-11-21 18:58] nabla-c0d3 commented on #3600
This PR fixes this issue and also remove LOGIN_HARDENING: https://github.com/freedomofpress/securedrop/pull/6585

[2022-11-22 00:51] cfm opened #6690 "enable automatically-generated "pseudolocale""
<https://github.com/freedomofpress/securedrop/issues/6380#issuecomment-1135240576>:

We could solve this problem at least for human eyes by turning on Weblate's ["pseudolocale generation"](https://docs.weblate.org/en/latest/admin/addons.html#pseudolocale-generation):

_Originally posted by @cfm in https://github.com/freedomofpress/securedrop/issues/6380#issuecomment-1302877526_

---

## Testing

I

[2022-11-22 00:59] cfm commented on #6232
Per the November 8 Server hangout, for v2.7.0 I will:
1. [x] update freedomofpress/securedrop-client#239; and
2. [x] bring a formal proposal for adopting an equivalent continuous-localization workflow here, including comparing features with the current `i18n_tool.py`.

[2022-11-23 18:58] #6671 closed, assigned to legoktm

[2022-11-28 00:21] Matthaiks commented on #6156
Could you add Polish as a supported language?

[2022-11-28 16:43] legoktm opened #6691 "Update Tor to 0.4.7.11"
https://forum.torproject.net/t/stable-release-0-4-7-11/5501

- [x] CI adds new packages to apt-test: https://github.com/freedomofpress/securedrop-dev-packages-lfs/commit/b9804f4eb59da47d5db8295b4fc901255457daef
- [x] Install tor, tor-geoipdb packages from apt-test on a prod install and let them sit overnight
- [x] Verify that tor still running after reboot, services available, no errors or unexpec

[2022-11-28 21:45] eaon commented on #6623
Can probably be closed, right? Or should we morph this into a more general "cheatsheet"?

[2022-11-29 18:34] cfm commented on #6156
Thanks for the request, @Matthaiks!  We're planning (#6592) to have a policy for adding new supported languages in our v2.6.0 release.  Polish looks like a promising candidate for support, so I'll make sure we consider it specifically.

[2022-11-29 20:10] cfm opened #6693 "templating edge-cases prevent ARIA-labeling of the Journalist Interface's progressive enhancements"
There are places in the Journalist Interface where templating ([1](https://github.com/freedomofpress/securedrop/blob/58f03ff8cb165a334b9ca3435b9636aed18b67dd/securedrop/journalist_templates/_confirmation_modal.html), [2](https://github.com/freedomofpress/securedrop/blob/58f03ff8cb165a334b9ca3435b9636aed18b67dd/securedrop/journalist_templates/_sources_confirmation_final_modal.html), [3](https://git

[2022-11-30 15:59] legoktm commented on #6691
The only thing in my logs is:
[code]

...which is most likely caused by the Tor network rather than the new package.

[2022-11-30 16:44] #6691 closed, assigned to legoktm

[2022-11-30 19:38] legoktm opened #6694 "PytestReturnNotNoneWarning test_security_updates.py::test_should_run"
*This is a good first issue for new contributors to take on, if you have any questions, please ask on the task or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!*

## Description

Because the function is named `test_should_run`, pytest treats it as a test rather than a function.

## Steps to Reproduce

`make build-debs`

## Expected Behavior

No warnings

## Actual Behavior

[co

[2022-11-30 20:20] legoktm commented on #6669
It seems like we should just catch and suppress the GpgKeyNotFoundError error since during deletion, that's what we want...?