[2021-01-27 15:46] zenmonkeykstop commented on #5757
This looks to be the result of recent changes in `securedrop/sdconfig.py` , specifically in how missing configuration values in `config.py` are handled. Previously all attempts to set values to their `config.py` values were wrapped in try/except blocks, but this was removed as part of work to support type annotation - probably with the assumption that these values would always be present, which is

[2021-01-27 16:22] zenmonkeykstop opened #5758 "Release SecureDrop 1.7.1"
This is a tracking issue for the release of SecureDrop 1.7.1

String and feature freeze: N/A (no string changes)
String comment period: N/A (no string changes)
Translation period: N/A (no string changes)
Pre-release announcement: 2021-01-27
Translation freeze: N/A (no string changes)
Release date: 2021-01-27

Release manager: @zenmonkeykstop
Deputy release manager: @conorsch
Localization manager:

[2021-01-27 17:26] rmol commented on #5740
This was fixed with the new translated strings for 1.7.0.

[2021-01-27 17:26] #5740 closed, assigned to nobody

[2021-01-27 17:40] conorsch commented on #5757
STR:

1. Perform fresh install of 1.7.0.
2. SSH into app, edit `/var/www/securedrop/config.py` and comment out the line for `SESSION_EXPIRATION_MINUTES`
3. Run `sudo service apache2 restart`
4. Observe 500s on both Source & Journalist interfaces.

[2021-01-27 19:05] #5757 closed, assigned to nobody

[2021-01-27 20:29] rocodes commented on #5758
### Environment

- Install target: prod  hardware NUC7i7DNHE
- Tails version: 4.14
- Test Scenario:  1.7.0 -> cron-apt upgrade
- SSH over Tor: yes
- Onion service version: v2+v3
- Release candidate:

### Preparing the environment
In order to confirm resolution of the bug affecting configuration logic, you must first reproduce the error by editing the config.

1. Perform fresh install of 1.7.0 prod

[2021-01-27 22:13] zenmonkeykstop opened #5761 "legacy `config.py` files may prevent the web applications from starting or break functionality"
## Description

See #5757 - instances without the SESSION_EXPIRY_MINUTES attribute defined in `config.py` were failing to start after a code update that assumed all required attributes were defined was pushed. This was fixed in #5759 but other problems may lurk in older config files.

It might be worth:
- looking at historical updates to `config.py` to figure out what attributes were added and whe

[2021-01-27 22:31] eloquence commented on #5761
Old PR by @heartsucker: https://github.com/freedomofpress/securedrop/pull/3850
Old, related issue: #1966

[2021-01-28 14:42] emkll commented on #5689
SecureDrop 1.7.0 was released on January 26th. The only outstanding task in this ticket is to build and upload the upgrade boxes. With the release of #5758, and because only support a single version of upgrade boxes is supported in the tooling, there is little benefit to building 1.7.0 upgrade boxes. We will provide 1.7.1 upgrade boxes, tracked in #5758

[2021-01-28 14:42] #5689 closed, assigned to nobody

[2021-01-28 19:25] rmol commented on #5624
The packages are now in production on apt.freedom.press.

[2021-01-28 19:25] #5624 closed, assigned to nobody

[2021-01-28 23:32] #5758 closed, assigned to nobody

[2021-01-29 00:45] eloquence commented on #4533
Adding this to discussion notes for the release retro for 1.7.0/1.7.1, as the builder image dependency check still does seem to cause a fair amount of friction, and it may be worth working on this issue as a near-term quality-of-life improvement for the release process.

[2021-01-29 07:56] eloquence opened #5764 "Python/pip issues running securedrop-admin in Docker container"
## Steps to reproduce
1. Enter dev shell via `./securedrop/bin/dev-shell`
2. Attempt to satisfy `securedrop-admin` requirements via steps in https://docs.securedrop.org/en/stable/development/admin_development.html

## Expected behavior

Requirements are installed successfully and I can run `securedrop-admin` in the development shell.

## Actual behavior

I encountered two issues:
- I was unable to

[2021-01-29 08:00] eloquence commented on #5764
Questions:
- What steps should we recommend in the docs?
- Are any changes necessary to improve the developer story, or to avoid spillage of these types of issues into production contexts?

[2021-02-01 16:57] zenmonkeykstop commented on #5754
Addressable for the JS-enabled case.

[2021-02-01 21:30] emkll commented on #5764
Does this error also occur when using the admin dev shell container? https://github.com/freedomofpress/securedrop/blob/8cf9bc37cd68f0db3dee4fef7c279f299184c6fa/admin/bin/dev-shell

[2021-02-01 21:43] emkll commented on #5761
During the 1.7.0 release postmortem, other suggestions were proposed by the team:

- Testing historical possible versions of config.py
- Separating the configuration between private (salts, secrets) configuration and public (common configuration)
- Move as much configuration as possible to the database
- Add logic to the restore script, to "update" the configuration to the update the configuration

[2021-02-02 00:41] ninavizz commented on #5743
This issue is beautiful... yes. :)

[2021-02-02 01:38] ninavizz opened #5766 ""Safe Delete" project delivery"
## Description
Last quarter we endeavored some user research to learn about the deletion experience for Journalists. Based on observed learnings and chosen paths forward, we named this project and the subsequent outputs "Safe Delete."

This Issue is to be an Epic to capture all related issues for frontend implementation w/in SecureDrop Core touchpoints.

## User Research Evidence
Yup.

## User Sto

[2021-02-02 01:42] ninavizz commented on #5766
## Stuff
- Backend work completed in #5675
- [Nellie Bly](https://preview.uxpin.com/db148aa0a42aa1910e9c842ab90210095b6714d9cvhidm) UXPin prototype · [Maisie Clemens](https://preview.uxpin.com/db148aa0a42aa1910e9c842ab90210095b6714d9cvhidm) UXPin prototype
  - _Clicking on login/auth row of text will "reset" each prototype to the beginning, and for most screens clicking on the NYWorld logo will to

[2021-02-02 02:16] ninavizz opened #5767 "Update JI/AI Flash Messaging Styles"
_Child issue w/in #5766_

## Description
Update existing CSS classes so Journalist and Admin users can more quickly grok the gist of flash messages through semiotics alone, relying less on having to read stuff.

Most urgently, this issue was created to track the updating of the `flash-success` style, but follow-up community PRs to update the _Info_ and _Warning styles_, would be lovely follow-up o

[2021-02-02 02:19] ninavizz opened #5768 "Text/Overlay Updates to JI/AI"
_Child issue w/in #5766_

## Description
For the _Safe Delete_ project, new styles need to be created to reflect the updated VisDe for both the overlay pane, and text/buttons on overlay panes. As well as a few text polishes to page HTML.

## User Research Evidence
Well, yes.

## User Stories
I am a developer and want to make this happen. Nina will edit this text to add relevant details, later.

[2021-02-02 05:22] ninavizz commented on #5767
## Success Flash Restyle
To match the positioning/general-size of the screenshot from Nina's browser hack, far below; and the inner-message/text styling from the `nbly` prototype (immediately below).

<img width="910" alt="Screen Shot 2021-02-02 at 1 14 42 AM" src="https://user-images.githubusercontent.com/8262612/106578237-288c1900-64f4-11eb-8110-b14aedd9b608.png">

**NOTE:** In the HTML on all J

[2021-02-02 06:07] ninavizz commented on #5766
_Prioritizations per Nina/Mickael/Kev/John 01 Feb meeting; "Must" ≠ a release blocker, just try doggone hard._
## Agreed-to "Must" targets for 1.8
- [ ] **All Sources page: menu-ish (or overlays) spawned by "Delete" button**
  - [x] Text styling (see below comment for typography spex)
  - [ ] Button styling (see below comment for typography spex)
  - [x] Positioning of menu or overlays
  - [x] Win

[2021-02-02 06:44] ninavizz commented on #5766
## Updated CSS Things
- All Sources initial dialog/Menu Pane
  - Binary Buttons text: `font-size: 0.9em; font-weight: bold; line-height: 1.4em; color: #FF3366;`
  - Text is **_not_** all caps
- "Are You Sure?" Dialog/Menu Panes
  -  For the pane styling itself, see [browser screenshots from Nina hacking](https://docs.google.com/document/d/1XT-hQej462e9NtQn08MW0aFkK_exSlpKYY2A2JJGuEs/edit#bookmark=

[2021-02-02 09:05] ninavizz commented on #5768
Oops, created one too many issues; needs for this, addressed in comment on parent issue here: https://github.com/freedomofpress/securedrop/issues/5766#issuecomment-771406750

[2021-02-02 09:05] #5768 closed, assigned to nobody

[2021-02-02 09:08] ninavizz commented on #5767
## Error Flash Restyle
![image](https://user-images.githubusercontent.com/8262612/107088406-be080100-67b1-11eb-9e7c-9946e5ef23c2.png)

#### Icon
- 9x30 @ 100% _(so maaaybe this is a touch big for pixel-density compensating?)_
![errorbang_nu](https://user-images.githubusercontent.com/8262612/106978000-38804480-6710-11eb-96d9-968268232118.png)

#### Stylez
- Typography
  - error_coral: `font-size: 0

[2021-02-02 09:08] ninavizz commented on #5767
## Notification Flash Restyle
![image](https://user-images.githubusercontent.com/8262612/107088488-ded05680-67b1-11eb-906e-93b2e008ed69.png)
#### Icon
- 35x15 @ 100%
![infoaye_nu](https://user-images.githubusercontent.com/8262612/106981063-2d301780-6716-11eb-9004-a05541e95654.png)

#### Stylez
- Typography
  - info_blue: `font-size: 0.9em; font-weight: bold; color: perky_blue;`
  - Add `perky_blue

[2021-02-02 17:28] conorsch commented on #5479
For NUC10 support, we'll need to update the e1000e drivers again, similar to what we did in https://github.com/freedomofpress/ansible-role-grsecurity-build/pull/46. More recent patches can be viewed here: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/log/drivers/net/ethernet/intel/e1000e/hw.h (thanks for digging that up, @emkll!). Everything newer than Kaby Lake is worth pulli

[2021-02-02 23:32] eloquence commented on #5688
@emkll and I discussed this a bit today. All things considered, we agreed it would be ideal to update the warning messaging for 1.8.0, to ensure that all admins are reminded about the Ubuntu 20.04 upgrade as soon as it's possible to migrate. This also avoids boxing us in for the 1.9.0 release schedule.

Functionally, this could be done as follows:
1. Updating the current v2/v3 messaging (i.e. what

[2021-02-02 23:48] eloquence commented on #5699
We are continuing to monitor the situation; see latest (January 28) post to the network-health mailing list here that describes a more recent service outage across v3 onion services:
https://lists.torproject.org/pipermail/network-health/2021-January/000662.html

[2021-02-02 23:56] rmol opened #5769 "Change i18n_tool.py message extraction to reduce review noise for localization managers"
## Description

When extracting strings to be translated from SecureDrop source, `i18n_tool.py` is wrapping long source strings and recording the strings' file and line numbers. This generates a lot of low-value noise in the diffs that localization managers have to pore through when reviewing translations at release time.

The strings are not difficult to find, and wrapped strings can actually be

[2021-02-03 01:35] eloquence commented on #5742
Relatively low priority edge case, so parking in near-term backlog for now.

[2021-02-03 01:35] eloquence commented on #5741
Relatively low priority edge case, so parking in near-term backlog for now.

[2021-02-03 11:57] kushaldas commented on #1261
I still think that we should postpone this for a release during or after 2.0.

[2021-02-03 14:51] ninavizz commented on #5766
/cc'ing @zenmonkeykstop @rmol @emkll for visibility

[2021-02-03 17:02] ninavizz commented on #5766
![Window-X](https://user-images.githubusercontent.com/8262612/106781868-62e1dd00-65fe-11eb-8d12-4bdb5b24aebc.png)
^^ transparent window close-x, @zenmonkeykstop! It's 60x60, so you should be able to downsize it as much as you need w/o degradation.

[2021-02-03 21:12] eloquence commented on #5663
Next steps discussed in sprint planning today:
- @emkll (Mac Mini) and @rmol (NUC7) will document their findings from their initial install attempts.
- [x] @creviera installed Focal on NUC8 and NUC10
- @kushaldas has been provisionally signed up for a NUC5 install.
- @zenmonkeykstop will attempt an install on the 1U servers.

Relatedly, in support of https://github.com/freedomofpress/securedrop-do

[2021-02-03 21:38] eloquence commented on #5479
Our plan of record is that we want to ship a new kernel _after_ the 1.8.0 release with initial Ubuntu 20.04 support, so likely 1.9.0. The NUC8s are [still available](https://www.intel.com/content/www/us/en/products/boards-kits/nuc/kits/nuc8i5bek.html) and supported by the current kernel. We'll continue our investigations of the 5.4 series (again with the primary goal of achieving NUC10 support) du

[2021-02-04 00:55] eloquence commented on #1775
@conorsch has committed to helping with said time-boxed review, but a stretch goal for 1.8.0.

[2021-02-04 01:29] zenmonkeykstop commented on #5767
Deferring for discussion, seems like the flash messages should all be updated to be consistent rather than just "success"

[2021-02-04 01:37] conorsch commented on #5479
tl;dr: Let's test the [5.4.88 kernel](https://github.com/freedomofpress/securedrop-dev-packages-lfs/pull/81) on NUC10, it should Just Work™.

Did a bit more reading on this today. Yes, the NUC10 is a Comet Lake chipset, but it appears that the necessary hardware support has already been backported into the stable tree for `linux-5.4.y`. That means we don't need to pull in an Ubuntu-specific overla

[2021-02-04 01:45] eloquence commented on #5688
@creviera has committed to work on this. For now we've agreed that for the 1.8.0 release, we can
- Remove all banners related to v2/v3 (if folks haven't done it yet by March, they can do it as part of the Ubuntu migration)
- Display a single banner that informs people about the April 30 end-of-life
- Implement the logic to disable the Source Interface after April 30

Essentially, we will want to r

[2021-02-04 01:46] eloquence commented on #5688
For the "Learn More" link, I've set up https://securedrop.org/xenial-eol, which redirects to our current advisory blog post. My suggestion would be to keep that advisory up-to-date as we add more instructions, instead of creating a new one.

[2021-02-04 13:26] kushaldas commented on #5426
My point would be to open up the `.j2` file after the `msgfmt` call, and then sort properly. I will wait for @zenmonkeykstop's comment on this.

[2021-02-04 13:42] emkll commented on #5479
Thanks for the investigation @conorsch . I just tested the 5.4.88 kernel that is currently being served apt-test (NUC10i5FNH1) and can confirm that the kernel boots and the networking Just Works™. I did not go through a full install or testing as I only have 1 unit and no other mon server to go with it, but this unblocks further testing. At this point, I would suggest we update the metapackage str

[2021-02-04 20:07] ninavizz commented on #5766
@zenmonkeykstop Per Slack convo yesterday, here's an updated version of the overlay close-x with the #0006c6 circle behind it. Also wanted to tripple-check (after the PR preview earlier today) that the outline on the updated modal styling is also #0006C6 and not black. :)

![circle-x](https://user-images.githubusercontent.com/8262612/106948971-3d79cf80-66e1-11eb-9d5b-f4383a81e69d.png)

[2021-02-04 21:22] emkll commented on #5663
Preliminary findings, based on Mac Mini testing (testing in progress, will edit this comment):
- cloud-init removal (#5571) and upgrade to 5.4 series kernels (#5772) allow the install to complete and the reboot to take a normal amount of time. The install completes and basic source and journalist interface testing suggest all works as expected

some testinfra test failures when running against the

[2021-02-04 22:10] zenmonkeykstop commented on #5766
Thanks - yup, `#0006C6` confirmed.

As an aside, it might actually be worthwhile using the color names in https://github.com/freedomofpress/securedrop/blob/develop/securedrop/sass/_variables.sass rather than hex vals, partly because it'll make refactoring them easier if/when we start taking accessibility reccos re: contrast into account.

[2021-02-04 22:18] zenmonkeykstop commented on #5128
Here are some reccos from a different Kevin, which I have not yet tried and which may apply more for desktop Ubuntu: https://www.kevin-custer.com/blog/disabling-snaps-in-ubuntu-20-04/

[2021-02-04 23:51] ninavizz commented on #5766
@zenmonkeykstop Did not know about those SASS values, thx for sharing!

All current UX reccos are considering accessibility, so I don't expect any will need refactoring. Will also need to be adding the classes requested up above, at some point. Thx again for passing along the SASS, will document on my own to use going forward!

[2021-02-04 23:57] ninavizz commented on #5767
@zenmonkeykstop I don't disagree in principle. At all. It was honestly hard for me to even advocate for updating only one style, for exactly the reasons you cite.

The only reason I wanted to push for the "Success" ones now, are that the restyling did clearly have an anxiety-management impact on users in testing, which mattered a lot to me. Even just seeing the existing styling in your PR today, w

[2021-02-05 01:09] #3376 closed

[2021-02-05 01:09] #5295 closed

[2021-02-05 20:11] emkll opened #5775 "[Focal] Emails not being sent from mon server under Focal"
## Description
It appears that the monitor server's postfix configuration isincompatible with Ubuntu 20.04 Focal

Part of #4768

## Steps to Reproduce

1. Install SecureDrop on a Focal host
2. Observe error in syslog on `mon`:

[code]
## Expected Behavior

Emails should be set from the mon server containing ossec alerts

## Actual Behavior

Emails are not being sent due to incompatibility in postf

[2021-02-05 20:51] emkll opened #5776 "[Focal] iptables rules are not applied on boot"
## Description

Towards #4768

The firewall logic is not working reliably in Ubuntu Focal, and firewall rules are not correctly restored on boot. This appears to be a discrepancy between Vagrant boxes and a default Ubuntu 20.04 install.

## Steps to Reproduce
In an Ubuntu Focal install (non-staging, and likely non-VM), run `sudo iptables -L` or `sudo ip6tables -L`

## Expected Behavior

iptables a

[2021-02-08 15:40] emkll opened #5778 "[Focal] Ossec-agent does not reconnect on reboot, Apache/Python error does not result in OSSEC alert"
## Description
Two configuration issues for ossec under Ubuntu Focal:
1. When the system restarts, ossec-agent is started, but it does not connect to `mon` on startup (which is exactly the same error as reported in upstreamossec-hids/1946:
[code]
2. When the python process throws an exception, that error is written to the Apache2 error logs. Ossec should then send out an alert

## Steps to Reprodu

[2021-02-08 17:07] conorsch commented on #5776
If this is a discrepancy between Vagrant boxes (we use the Bento images: https://github.com/chef/bento/tree/3dd165cf422572ab4240c8f1ce9a7e40b7960457/packer_templates/ubuntu), then it should be easy to reproduce in Focal staging VMs on Qubes, since those are configured directly from an ISO.

I took a look at https://github.com/freedomofpress/securedrop/pull/5712 recently, and while I had questions,

[2021-02-08 17:20] emkll commented on #5776
See the following files for installed packages on a default Focal install on hardware:

[installed-app.txt](https://github.com/freedomofpress/securedrop/files/5945483/installed-app.txt)
[installed-mon.txt](https://github.com/freedomofpress/securedrop/files/5945484/installed-mon.txt)

[2021-02-08 18:54] emkll opened #5779 "[Focal] session terminated, ssh service timing out for idle sessions on Focal instances"
## Description

In Focal, it appears (inactive) ssh sessions get terminated after 15 minutes or so with the following error:

[code]

Because the shell is killed on the server, tmux does not restore the session once a user re-connects to the server via ssh.

Perhaps modifying `ClientAliveInterval` or `ClientAliveCountMax` might allow the session to be kept alive, but it appears the shell is being

[2021-02-08 18:57] conorsch commented on #5779
Checking the timeouts in the sshd config sounds like the right next step. We also have a longstanding ask to swithc from tmux to byobu in #1118, worth checking on a hardware install whether the behavior there is any different.

[2021-02-08 21:26] zenmonkeykstop commented on #5776
Can't replicate this on Focal VMs (bento-20.04, 202008.16.0). iptables rules are present and survive a reboot. Gonna try a hardware install next and see if I can replicate.

[2021-02-08 21:43] zenmonkeykstop commented on #5776
VM output of `apt list --installed` attached for reference:

[monvm.txt](https://github.com/freedomofpress/securedrop/files/5947005/monvm.txt)
[appvm.txt](https://github.com/freedomofpress/securedrop/files/5947006/appvm.txt)

[2021-02-09 06:51] eloquence commented on #5764
It does not, thanks: I did not realize we had two different `dev-shell`s! I'll make a small docs PR to clarify.

(One thing that's still a bit confusing is that the `admin/bin/dev-shell` command is completely silent for several minutes while the image is being built, due to the use of output redirection.)

[2021-02-09 06:51] #5764 closed, assigned to nobody

[2021-02-09 08:19] kushaldas commented on #5776
I can finally reproduce this. After I did a reboot of the `app`, I can not reach the server anymore :( Debugging.

[2021-02-09 10:58] kushaldas opened #5781 "Add dependency to ubuntu-release-upgrader-core"
## Description

`securedrop-config` package should depend on **ubuntu-release-upgrader-core** package.

## Steps to Reproduce

While trying to install `SecureDrop` on `Focal` on prod vm based on `bento/ubuntu-20.04 (libvirt, 202008.16.0)` image, the `securedrop-config` package postinstallation failed as the **ubuntu-release-upgrader-core** package is missing.

## Expected Behavior

The installatio

[2021-02-09 13:09] conorsch commented on #5776
Was able to reproduce the issue in Qubes Focal VMs. Although I recalled that during initial review of https://github.com/freedomofpress/securedrop/pull/5712, the iptables tests were passing, I didn't actually document that in the PR comments.

[2021-02-09 13:38] conorsch commented on #5776
@kushaldas I see you've got a PR in https://github.com/freedomofpress/securedrop/pull/5780 to force the rules to persist on Focal post-reboot. Do you have a hypothesis for _why_ the hardware installs behave differently from the VM installs? Looking through the [bento configs](https://github.com/chef/bento/tree/3dd165cf422572ab4240c8f1ce9a7e40b7960457/packer_templates/ubuntu), it's not obvious to m

[2021-02-09 13:44] kushaldas commented on #5776
Nope, I could not identify that part.

[2021-02-09 13:59] conorsch commented on #5776
Here's a diff of the package lists, for comparison's take. The reference is the hardware install, the changes (+/-) are what's installed in the VM image. All packages included in both are omitted.

<details>
<summary>
package list diff
</summary>

[code]
</details>

There are several net-related packages like cifs-utils, cloud-guest-utils, ifupdown, and nfs-common, but I haven't found a succinct e

[2021-02-09 15:18] conorsch commented on #5776
Simply installing `ifupdown` on Focal is sufficient to restore the iptables rules post-reboot. While there's an argument for migrating to `iptables-persistent` as in #5780, the more conservative approach is to force the known-good rules on every reboot, rather than restoring whatever rules were on the host at time of reboot. Thoughts, @emkll?

[2021-02-09 18:30] #5586 closed, assigned to nobody

[2021-02-09 21:20] #5479 closed, assigned to nobody

[2021-02-09 21:46] eloquence commented on #3586
It's worth noting that this UI was changed a while ago and is now at the top of the page:
![showcodename](https://user-images.githubusercontent.com/213636/107432701-32f27800-6add-11eb-9559-6eb62e32e2ca.png)
However, alternative approaches for the widget design are still worth considering, so leaving this issue open.

See also the related observation in #5239 that the scrolling behavior could be mo

[2021-02-09 21:52] eloquence commented on #5456
Since we'll likely replace the warning with a Focal EOL warning for 1.8.0 (#5688), this issue has outlived its usefulness. We can consider dev env behavior in the context of #5688.

[2021-02-09 21:52] #5456 closed, assigned to nobody

[2021-02-09 21:59] eloquence commented on #5237
Tagged as good first issue; to any contributor wanting to work on it, please share an implementation proposal here first. Thank you! :)

[2021-02-09 22:50] conorsch opened #5782 "[Focal] LTS channel allowed for upgrades"
## Description

The release management settings for Focal permit `do-release-upgrade` to the next LTS version. There isn't one of those yet, but tests are failing because of it:

[code]

To see that test fail, you'll need to use hardware or Qubes VMs (installed from ISO), since the bento boxes modify the setting https://github.com/chef/bento/blob/3dd165cf422572ab4240c8f1ce9a7e40b7960457/packer_tem

[2021-02-09 23:38] emkll commented on #5782
This test failure is due to changes introduced by https://github.com/freedomofpress/securedrop/pull/5684/files

The securedrop-config (focal) package no longer contains some of the historical changes we've made on long running instances via securedrop-config postinst.

The xenial postinst, containing historical changes: https://github.com/freedomofpress/securedrop/blob/develop/install_files/secure

[2021-02-10 05:22] #5775 closed, assigned to kushaldas

[2021-02-10 06:37] eloquence commented on #5317
Started with the `securedrop-admin` approach here:  c007e1bd05d3a90e0336f0eb911ddea458db52dc

Early comments welcome, next I'll take a closer look at error cases and tests.

[2021-02-10 11:36] kushaldas commented on #5778
I could reproduce this. I also noticed a new error:

[code]

Not seeing anything on the `mon` server on the port `1514` when the system boots up. But, only when we restart the service.

Debugging more.

[2021-02-10 11:52] kushaldas commented on #5778
Commit (https://github.com/freedomofpress/securedrop/commit/9d54ddda623e92e5b24d4ecddde2e9da8bb033ac) is fixing the problem 1. `ossec` services will now start after the `network` is up.

[2021-02-10 15:08] #5377 closed, assigned to rocodes

[2021-02-10 18:41] eloquence commented on #5681
@rmol I've put some more emphasis on communication in the contributor guide, in this section: https://docs.securedrop.org/en/latest/development/contributing.html#preparing-and-submitting-changes

The guide also mentions the code of conduct early on, now.

Do you feel that those changes are sufficient to resolve this issue, or would you like to see additional emphasis in other places?

[2021-02-10 19:11] sssoleileraaa commented on #5688
So we're okay with this language on a disabled Source Interface:

[code]

With the benefit of reusing previous translations?

[2021-02-10 19:51] emkll commented on #5688
The existing language seems clear to me, barring any objections from you @creviera .

As for the translations, it seems likely that these strings were never actually translated: the original change was merged to develop and introduced in 0.12.2 (https://github.com/freedomofpress/securedrop/commits/release/0.12.2) and it seems like no translations were done for 0.12.2, and the disabling logic was v

[2021-02-10 20:33] emkll commented on #5778
Thanks @kushaldas for the changes! Looks like with those changes, the logs are correctly send to mon, and an OSSEC alert is raised :tada: :

[code]

[2021-02-11 06:57] eloquence commented on #5317
In 4192093b282d18d16c65318d32c284a772fa5152, I've refactored this into a decorator, which allows us to mark any `securedrop-admin` subcommand as requiring an update check (that can be optionally skipped). Since this seems like a good idea for more than just the `install` playbook, this approach seemed very DRY to me. Comments again welcome; if this looks good in principle, I'll flesh out the type

[2021-02-11 09:22] #5778 closed, assigned to nobody

[2021-02-11 15:02] conorsch commented on #5128
Seeing a test failure on Focal for this, but only on Qubes staging VMs, created from ISO. Test failure looks like:

[code]

The specific lines causing the test to fail are:

[code]

We have a PR up in #5784, only documenting this to point out that it's another small divergence between ISOs and Vagrant boxes.

[2021-02-11 17:08] conorsch commented on #5781
Discussed at standup today. No one's seen this the initial report. Could have been resolved by securedrop-config changes in https://github.com/freedomofpress/securedrop/pull/5684, or perhaps https://github.com/freedomofpress/securedrop/pull/5712/commits/004dc3c684194006448485583a9b38641ef750a9 Leaving open for now, if no one sees it again by feature freeze, we should be good to close.

[2021-02-11 19:20] #5660 closed, assigned to emkll

[2021-02-11 21:25] #5776 closed, assigned to nobody

[2021-02-11 22:43] sssoleileraaa commented on #5781
### The repro (on a different vagrant box version)

I was able to repro this error today. This didn't happen to me for my `focal` vagrant box but it did happen for my xenial box. I am using different boxes than @kushaldas , see:

[code]

I also want to point out that I am on the latest `develop` branch as of https://github.com/freedomofpress/securedrop/commit/240a9a9d933cf1c59f02e64543f24abc11f14e

[2021-02-11 23:34] conorsch commented on #5781
Root cause appears to be https://github.com/chef/bento/commit/6921eb35736a52508a37c15fe9c62ff1944b775d , which ostensibly affects all recent Ubuntu Vagrant boxes from Bento. Haven't checked precisely when that commit was released to the prod boxes, but clearly that's what's going on.

The proposed of installing the package makes sense to me as a quick fix. It appears to be a Vagrant-only variation

[2021-02-11 23:38] sssoleileraaa commented on #5781
@conorsch curious what your thoughts are about the second error around ossec as well as using separate securedrop directories for building xenial and focal staging servers since the second build will overwrite the auth files from the first build. We could also try manually renaming the *aths and the `tor_v3_keys.json` files (maybe append -focal or -xenial) until we create a fix.

Update: It looks

[2021-02-11 23:48] zenmonkeykstop opened #5787 "If a source's store directory is missing, subsequent submission attempts will fail with a FileNotFoundError exception"
## Description

As per title.

## Steps to Reproduce

(in dev)
- log in to the SI and submit.
- in a shell on the dev docker container (`docker exec -it securedrop-dev-0 bash`) find and delete the source's directory under `/var/lib/securedrop/store/`
- submit from the SI again as the same source

## Expected Behavior
Either:
- submission succeeds and directory is recreated,
Or:
- Submission fails

[2021-02-11 23:53] creviera commented on #5781
Update: It looks like the `tor_v3_key.json` file will be the same between focal and xenial and that it's not overwritten, but the following files differ between builds and are overwritten when sharing the same directory: `app-journalist-aths          app-journalist.auth_private  app-source-ths               app-sourcev3-ths `

[2021-02-11 23:56] conorsch commented on #5781
Not sure what's causing the OSSEC failure you mention. You can't have both the Xenial & the Staging environments configured simultaneously, since they use the same internal IPs:

[code]

There's no reason to suspect tor configuration, since the failing task is an inter-VM OSSEC communication. So I'd recommending running those commands manually, and scanning the ports between the two VMs, to determ

[2021-02-12 00:06] sssoleileraaa commented on #5781
I see, we don't support having both a focal staging server and xenial staging server on the same machine. We could support this in the future, but for now, I will just run focal staging here, since it's working for me. And then to avoid the xenial staging ossec error that has come up repeatedly throughout the day, i will test changes on my xenial home server. It just means that I will have to buil

[2021-02-12 00:14] conorsch commented on #5781
Oops, I was unclear: you can certainly have both Xenial & Focal environments on the same host machine, just not at the exact same time. If you tried to bring up both environments at the exact same time, I would expect an error, but it may be possible that the networking settings would simply get confused. Certainly there's a networking problem of some kind behind the registration error, since that

[2021-02-12 00:21] sssoleileraaa commented on #5781
Sorry, that makes more sense. I've just been headsdown on this for so long I've forgotten how to communicate. My thinking is that the focal servers need to be shut down before running `make staging` for the first time to build the xenial servers, and maybe that will fix the ossec networking issue. But also there seems to be an unacknowledged issue of the second run of `make staging` overwriting th

[2021-02-12 00:31] conorsch commented on #5781
Yes, any time "make staging" is run, it will clobber the records of the onion urls, as you pointed out in

That's a valid observation, but unrelated (as far as I can tell) to both the `ubuntu-release-upgrader-core` problem and the OSSEC agent registration failure. Even though the onion url files are clobber, that doesn't affect the onion services inside the machines, they'll still be the same as e

[2021-02-12 00:40] sssoleileraaa commented on #5781
It seems that what I experienced were 3 different issues:

1. `ubuntu-release-upgrader-core` not being installed - easy fix as documented in my original comment
2. the ossec error - _just_ confirmed that shutting down any running vagrant boxes fixes this issue (thanks for the feedback above to help me realize that was the issue)
3. important files are overwritten if you use the same securedrop dir

[2021-02-12 00:44] sssoleileraaa commented on #5781
Another thing we might want to recommend to developers is to use the same vagrant box versions as we use in CI. Something to discuss more later.

[2021-02-12 11:14] kushaldas commented on #5781
I could not reproduce it and then understood that you tried to run two staging instances at the same time. There will be clash before of the IP address values. I think that is why you got the error.

[2021-02-12 15:09] #5128 closed

[2021-02-12 21:23] zenmonkeykstop commented on #5767
Working on this today - one thing to note is that the use of "i" for the notification icon is kinda Anglocentric. It might be cool to see if it does in fact work internationally or if there is a more general alternative.

[2021-02-12 21:41] rmol commented on #5767
It's [part of ISO 7001](https://www.iso.org/obp/ui/#iso:grs:7001:PI_PF_001), and according to the [Wikipedia article](https://en.wikipedia.org/wiki/ISO_7001), "The set is the result of extensive testing in several countries and different cultures and have met the criteria for comprehensibility set up by the ISO." Depending on how you feel about the comprehensibility of ISO standards, that could be

[2021-02-12 21:47] zenmonkeykstop commented on #5767
That's good enough for me!

[2021-02-15 06:58] #5782 closed, assigned to nobody

[2021-02-17 00:56] eloquence opened #5794 "Release SecureDrop 1.8.0"
This is a tracking issue for the release of SecureDrop 1.8.0

Tentatively scheduled as follows:

**String and feature freeze:** 2021-02-23
**String comment period:**  2021-02-23 - 2021-02-26
**Translation period:** 2021-02-26 - 2021-03-08
**Pre-release announcement:** 2021-03-02
**Release date:** ~2021-03-09~ 2021-03-11

**Release manager:** @zenmonkeykstop
**Deputy release manager:** @emkll
**Loc

[2021-02-17 00:57] eloquence commented on #5794
(Just a placeholder for now based on the last release, will likely need some fleshing out to account for the additional complexity of adding and testing support for Ubuntu 20.04.)

[2021-02-17 01:30] eloquence commented on #5675
Closing as duplicate of #5766, which has more details from recent team discussions.

[2021-02-17 01:30] #5675 closed, assigned to nobody

[2021-02-17 10:24] kushaldas opened #5795 "Apparmor denial for ntpd on Focal"
## Description

`ntpd` throws grsec denial message.

## Steps to Reproduce

- [ ] Install focal on hardware (I hope the same will show up in vm too)
- [ ] check `/var/log/syslog`

## Expected Behavior

- no grsec error from ntpd

## Actual Behavior

[code]

## Comments

Suggestions to fix, any other relevant information.

[2021-02-17 10:27] kushaldas opened #5796 "Apparmor denial for the first time any source submits on Focal"
## Description

For a fresh install of SecureDrop on Focal, we can see grsec denial message when a source submits for the first time.

## Steps to Reproduce

- [ ] Install SecureDrop on Focal
- [ ] `tail -f /var/log/syslog`
- [ ] Submit a message as a source

## Expected Behavior

- No errors should show up in the log

## Actual Behavior

[code]

## Comments

Suggestions to fix, any other relevant

[2021-02-17 15:24] conorsch commented on #1607
Handling as part of #1775. See details in https://httpd.apache.org/docs/trunk/upgrading.html

[2021-02-17 17:06] conorsch commented on #5796
Can confirm, on Qubes Focal staging VMs:

[code]

[2021-02-17 22:38] sssoleileraaa opened #5799 "`deb-tests-focal` in CI is failing with: ERROR: Unable to contact the Docker daemon"
Looks like PRs are blocked due to an issue with CI and Docker for Focal. Here are the two PRs I'm looking at that are failing:

* https://github.com/freedomofpress/securedrop/pull/5789
* https://github.com/freedomofpress/securedrop/pull/5798

This is the error:

`ERROR: Unable to contact the Docker daemon. Please refer to https://docs.docker.com/config/daemon/ for managing the daemon`

Xenial work

[2021-02-17 22:47] conorsch commented on #5799
Thanks for failing, @creviera. No sign of any problems on https://status.circleci.com/ right now. At a glance, this looks like a CircleCI problem, and not anything to do with recent changes we've made.

Here's an example of the failure: https://app.circleci.com/pipelines/github/freedomofpress/securedrop/1906/workflows/341b6a13-0e58-488d-a95c-969dc2e877d2/jobs/50615

[2021-02-17 23:29] conorsch commented on #5795
At standup today, @rmol mentioned he'd seen this one, too. Since we're adding ntp to Focal, conceivable we can just stop doing that, and let systemd-timesyncd do its thing.

[2021-02-18 11:11] kushaldas commented on #5799
I pushed a commit https://github.com/freedomofpress/securedrop/pull/5793/commits/cc9b2a64378f586e7fef38d4bf17cdce592f74fb to the https://github.com/freedomofpress/securedrop/pull/5793 once CI passes, and the PR is merged. We have to rebase all other open PRs.

[2021-02-18 11:38] kushaldas commented on #5799
Here is an independent PR https://github.com/freedomofpress/securedrop/pull/5801 maybe we can merge this first and then all the other PRs can be rebased.

[2021-02-18 15:34] #5799 closed, assigned to nobody

[2021-02-18 18:17] eloquence commented on #5663
@zenmonkeykstop has committed to additional testing on 1U hardware in the next few days; once that's done, we can transition to tracking QA via the release ticket (#5794) and a formal QA matrix.

[2021-02-18 18:49] emkll opened #5802 "Update Tor to 0.4.5.6"
## Description

A new version of the stable series was released[1], contains bugfixes and improvements to V3 onion service reliability [2] (Tor 0.4.4.7 Debian packages for xenial and focal were never released on Tor Project's apt mirror)

[1] https://blog.torproject.org/node/2000
[2] https://gitlab.torproject.org/tpo/core/tor/-/issues/40237

[2021-02-18 22:43] #5426 closed, assigned to nobody

[2021-02-18 22:43] #5769 closed, assigned to nobody

[2021-02-19 08:23] #5781 closed, assigned to nobody

[2021-02-19 09:47] #5317 closed

[2021-02-19 10:00] kushaldas opened #5804 "securedrop-updater is failing to install python requirements for admin"
## Description

`securedrop-admin` fails to update.
It is checking out the correct branch and then fails to install the correct dependencies.
Tails version `4.14`.

Now I can reproduce this in both `develop` and `1.7.1`.

## Steps to Reproduce

- [ ] Click on the update button on `securedrop-admin` updater.

## Expected Behavior

- [ ] update happens successfully

## Actual Behavior

[code]

## Co

[2021-02-19 10:05] kushaldas commented on #5804
After  a reboot when I ran the tool again, I got the following output:

[code]

[2021-02-19 10:07] kushaldas commented on #5804
I guess this is because of the old version of Tails and lots of `apt` updates.

[2021-02-19 11:18] kushaldas commented on #5804
Now I can reproduce it on my Tails `4.15.1`. Removed the virtualenv and running setup again.

[2021-02-19 11:35] kushaldas commented on #5804
Now everything is fine with the new virtualenv setup. I am wondering if any of the `admins` will also notice similar. Keeping this issue open for a discussion.

[2021-02-19 14:24] #5796 closed, assigned to kushaldas

[2021-02-19 17:02] eloquence commented on #5804
Thanks for filing, @kushaldas. During testing, I've also sometimes nuked my virtualenv after repeated failure on the `setup` step. Next time we see this, we should try to manually run the `pip3` command as in `bootstrap.py` to observe why this happens. The  invocation (which needs to be torified) is:

[code]

[2021-02-19 22:00] #5688 closed, assigned to nobody

[2021-02-20 00:44] eloquence commented on #5609
One observation from NUC10s is that the [BIOS instructions](https://www.intel.com/content/dam/support/us/en/documents/mini-pcs/AptioV-BIOS-Update-NUC.pdf) now recommend downloading a CAP file for the F7 update method, not a BIO file as stated in [our docs](https://docs.securedrop.org/en/stable/update_bios.html). I've added a checkbox to the epic to ensure that we update this as warranted.

[2021-02-22 14:22] kushaldas commented on #5794
Initial testing on NUC5 hardware looks solid. I do have a few questions:

  - Are we supposed to have `-rw-rw-r--` permission on `/var/ossec/.gnupg/pubring.kbx` on the `mon` server?
  - Why is there a `/var/crash/_usr_bin_lscpu.1000.crash` file on both the servers?
  - Why do we have `/libx32` and `/lib32`?

[2021-02-22 17:24] rocodes commented on #5663
Successfully installed Focal + SecureDrop on NUC7i7DNHEs, further testing to be documented.

A note for anyone else new to QA-ing is that updating the apt repo to `apt-test` and using the apt-test signing key, as well as having Focal installed on the servers, is sufficient for a Focal install (editing `securedrop_target_distribution` in `install_files/ansible-base/group_vars/all/securedrop` is _no

[2021-02-22 17:43] rmol opened #5807 "ipv6 not completely disabled on Focal"
## Description

We disable ipv6 on Xenial via [sysctl](https://github.com/freedomofpress/securedrop/blob/33f94c913dab88fa24cee023eb0c8abe7553b4f7/install_files/ansible-base/roles/common/defaults/main.yml#L41).

On Focal, this isn't enough, as netplan assigns a link-local v6 address to an interface by default, which results in ipv6 not being disabled for that interface (check, for example, `cat /pr

[2021-02-22 18:16] eloquence commented on #4043
Closing as stale; @humanitystruth, if you still need installation help, you may want to contact us directly via `securedrop@freedom.press`.

[2021-02-22 18:16] #4043 closed

[2021-02-22 18:34] eloquence commented on #5687
Discussed during standup and a bit more w/ @zenmonkeykstop later. I'll take a look at the `sdconfig` portion today/tomorrow; current plan of record is to suppress the v2 option if no existing configuration value for it is present. Additionally, we may want to bail early in the install playbook if the server target is running Focal and the user is attempting to enable v2 onion services.

[2021-02-22 18:41] #5766 closed, assigned to nobody

[2021-02-22 18:41] #5767 closed, assigned to nobody

[2021-02-22 18:41] eloquence commented on #5297
No upstream progress in 7 months, removing from our project board for now.

[2021-02-22 18:52] eloquence commented on #5193
Closing given changes in #5504 and #4366 and no recent CI failures, please reopen if you see it again.

[2021-02-22 18:52] #5193 closed

[2021-02-22 18:58] eloquence commented on #3792
Closing as the procedures live happily on the wiki and have continued to be reviewed and tweaked with subsequent releases: https://github.com/freedomofpress/securedrop/wiki/QA-Procedures

[2021-02-22 18:58] #3792 closed

[2021-02-22 19:09] eloquence commented on #1001
Thanks @nabla-c0d3! It looks like we're still doing character validation against a limited character set in a different function now.

https://github.com/freedomofpress/securedrop/blob/develop/securedrop/crypto_util.py#L41-L42
https://github.com/freedomofpress/securedrop/blob/develop/securedrop/crypto_util.py#L318

Therefore keeping this issue open.

[2021-02-22 19:10] eloquence commented on #2743
@conorsch is doing a first spike on this today, so moving to current sprint.

[2021-02-22 19:11] conorsch commented on #5807
Thanks for reporting, @rmol. I'll take a look at this today. I address that the grub command line approach is going to be the most solid. Will test on Qubes staging first, and see if I can reproduce any of the trouble you mentioned. Let's make sure we add tests to ensure that the VMs don't have ipv6 addresses on any interface, as well:

[code]

[2021-02-23 04:16] #3916 closed

[2021-02-23 13:51] emkll opened #5812 "[Focal] reboot flag daily cron syntax is incorrect"
## Description

Initially reported by @kushaldas ,the syslog reads, in Focal only

[code]
This was introduced in https://github.com/freedomofpress/securedrop/pull/5684

## Steps to Reproduce

Please specify your environment if that is necessary to reproduce the bug (if in
doubt, include it).

## Expected Behavior
Cron should run without error

## Actual Behavior

crontab file is ignored

## Commen

[2021-02-23 14:06] emkll opened #5814 "ossec gnupg public keyring on mon server has incorrect permissions"
## Description

Initially reported by @kushaldas

Permissions on the `ossec:ossec` owned `/var/ossec/.gnupg/pubring.kbx` on the mon server are set to 664, they should be 644.

I've marked this as low priority given that only the ossec user is part of the ossec group on the server, so the risk seems low here.

## Steps to Reproduce

1. make staging
2. ssh into mon
3. ls -lah `/var/ossec/.gnupg/`

#

[2021-02-23 14:17] emkll opened #5815 "Crash logs present in /var/crash"
## Description

Initially reported by @kushaldas during 1.8.0 QA

`/var/crash` contains kernel crash dumps [1] and should be investigated.

## Steps to Reproduce
On app or mon, `ls /var/crash`
## Expected Behavior

- `/var/crash/` should not contain any files
## Actual Behavior

`/var/crash/_usr_bin_lscpu.1000.crash` is present on `app` and `mon`
## Comments

I could not reproduce this in VMs, but

[2021-02-23 14:43] emkll opened #5816 "Further deprecation warnings for sshd_config in Focal"
## Description

Initially reported by @kushaldas , some options are deprecated by the version of the ssh server.

[code]

## Comments

In https://github.com/freedomofpress/securedrop/pull/5666, we have already updated annotated and updated the sshd configuration for newer versions of the ssh server, but there are more improvements that can be made

We should note that the sshd_config for now is ha

[2021-02-23 14:48] emkll commented on #5802
The packages are now being served by apt-test, and should be released to existing instances as part of SecureDrop release 1.8.0

[2021-02-23 16:36] #5812 closed, assigned to emkll

[2021-02-23 18:26] eloquence commented on #5687
Retitled for clarity. As further discussed in standup today, there are two parts to resolving this issue:

1) Modifying the language in `sdconfig` to make it clear that v2 onion services can only be enabled for Ubuntu 16.04 installs, which is supported for a limited time;

2) Bailing early in the install playbook if a server is running Ubuntu 20.04 and v2 is enabled (IMO regardless of v3 state).

[2021-02-23 19:17] zenmonkeykstop opened #5818 "Disable v2 installs on Focal systems"
## Description

Until final removal of v2 services, they can syill be enabled via `sdconfig`. The intention is for Focal installs to be v3-only. To that end, a check should be added to the install playbook to quit the install early on Focal if v2 services have been enabled.

(Implementation-wise the earliest this should happen is just *after* the prepare-servers role, as server facts aren't availa

[2021-02-23 19:31] eloquence commented on #5687
2) above is now tracked in #5818.

[2021-02-23 21:09] #1607 closed

[2021-02-23 21:09] #1775 closed

[2021-02-24 01:00] #5687 closed, assigned to nobody

[2021-02-24 01:00] #5818 closed, assigned to nobody

[2021-02-24 11:44] #5730 closed, assigned to nobody

[2021-02-24 11:44] #5795 closed, assigned to rmol

[2021-02-24 17:04] #5676 closed, assigned to nobody

[2021-02-24 18:57] #5807 closed, assigned to nobody

[2021-02-25 01:25] ninavizz commented on #5767
@zenmonkeykstop I adore your flag on anglocentricity, and @rmol I adore your check against ISO standards. Extra feels of warmth and awesome, knowing this conversation was had and resolved as it was, while I was out of commission. :)

I actually agree with you, Kev. Only went with the "i" to stick with the existing gist of the prior styles. Goal, being to keep recommended updates as un-controversia

[2021-02-25 09:27] kushaldas opened #5820 "What is perl doing here?"
## Description

On a Xenial box with 1.8.0rc1, I can see this following `grsec denial` errors.

[code]

[2021-02-25 12:49] kushaldas commented on #5794
## 1.8.0 QA Checklist

### Environment

- Install target: VM, Xenial
- Tails version: 4.15
- Test Scenario: update
- SSH over Tor: No
- Onion service version: v2+v3
- Release candidate: rc1

#### Command Line User Generation

- [x] Can successfully add admin user and login

### Application Acceptance Testing

#### Source Interface

##### Landing page base cases
- [x] JS warning bar does not appear

[2021-02-25 14:44] rmol opened #5821 "Consider using sentence case instead of title case in UI elements"
## Description

It was [pointed out](https://weblate.securedrop.org/translate/securedrop/securedrop/es/?checksum=2cd97277750195c7) (thanks @ekcnl) during translation for 1.8.0 that the button label [**Yes, Delete Selected Source Accounts**](https://github.com/freedomofpress/securedrop/blob/94fdaacc4ff86c3da51af4fee295535770800e1b/securedrop/journalist_templates/_sources_confirmation_final_modal.ht

[2021-02-25 14:51] rmol opened #5822 "Grammatical error in flash message after deleting source account"
## Description

After deleting a source account, we flash "Success! The account and data for the source {} has been deleted."

Perhaps "The account and data for the source {} _have_ been deleted."

([Suggested](https://weblate.securedrop.org/translate/securedrop/securedrop/en/?checksum=b359855176c2dea2) by @ekcnl)

[2021-02-25 17:18] emkll commented on #5820
Thanks for opening @kushaldas. Do the timestamp coincide with running the spectre/meltdown checking script? A previous (related) issue opened on this topic: https://github.com/freedomofpress/securedrop/issues/5040

[2021-02-25 17:18] conorsch commented on #5820
To @emkll's point, sure looks like https://github.com/speed47/spectre-meltdown-checker/blob/08e30e156dab6d32a549aab83486920b4ad65970/spectre-meltdown-checker.sh#L2366

[2021-02-25 17:39] kushaldas commented on #5820
Thank you for the replies, I think I can close this now.

[2021-02-25 17:39] #5820 closed, assigned to nobody

[2021-02-25 18:40] AO-LocLab commented on #5821
It is also the case for " Yes, Delete Source Account".

[2021-02-25 20:24] rmol opened #5823 "1.8.0 translation feedback: warning when deleting a source"
## Description

AO [suggested](https://weblate.securedrop.org/translate/securedrop/securedrop/en/?checksum=683531028fe964b4) that we change:
[code]
to
[code]

[2021-02-25 20:33] rmol opened #5824 "1.8.0 translation feedback: Focal upgrade warning"
## Description

AO [suggested](https://weblate.securedrop.org/translate/securedrop/securedrop/en/?checksum=c775f74150ac3872) changing `A manual update is urgently required to remain safe.` to `A manual upgrade is urgently required to remain safe.` in:

[code]

as well as [here](https://weblate.securedrop.org/translate/securedrop/securedrop/en/?checksum=60e0284e103e2c51):
[code]

There's also a typ

[2021-02-25 21:02] eloquence commented on #5824
:+1: to  update->upgrade and typo fix (good catch!)

[2021-02-25 21:13] eloquence commented on #5823
Both versions seem fine to me but the second one does read a little bit more smoothly, will make the change if no concerns.

[2021-02-25 21:15] eloquence commented on #5822
*have* is indeed correct, will fix.

[2021-02-25 21:22] emkll opened #5825 "Several testinfra tests failing against 1.8.0-rc1 Focal production instances:"
## Description
`./securedrop-admin verify` against a 1.8.0-rc1 instance results in 11 test failures (of which 2 are expected)

[code]

[2021-02-25 21:23] eloquence commented on #5821
I'm not in favor of making this change for 1.8.0. All buttons in the source list of the Journalist Interface ("Select All", "Select None", "Files and Messages" in the deletion flow, etc.) currently use title case. We should not selectively change it here, but rather agree on style guidelines, and then consistently apply them. We should reserve that discussion for 1.9.0 or later, IMO.

[2021-02-25 22:17] ninavizz commented on #5821
You make me giggle in the best of ways sometimes, John. :)

I totally agree with everyone on this thread. It's emerged over quite a period, that an absence of clear Style Guidelines has contributed to ongoing friction that would be really nice to alleviate by taking the time to commit to making some.

Likewise, all the web UIs are horribly inconsistent; which I am as guilty of, as anyone, for want

[2021-02-26 00:23] eloquence commented on #5663
Closing this pre-QA ticket; additional reports will be tracked during QA on #5794 and in the QA matrix.

[2021-02-26 00:23] #5663 closed, assigned to nobody

[2021-02-26 00:31] eloquence commented on #1145
As far as I can tell, this file is [not included in backups](https://github.com/freedomofpress/securedrop/blob/develop/install_files/ansible-base/roles/backup/files/backup.py), so with the current reinstall -> restore path for moving to Ubuntu 20.04, the issue would be resolved implicitly as part of the upgrade. Please let me know if I'm wrong about that.

I'll leave it open in case we do revisit

[2021-02-26 13:45] #5822 closed, assigned to eloquence

[2021-02-26 13:45] #5823 closed, assigned to eloquence

[2021-02-26 13:45] #5824 closed, assigned to eloquence

[2021-02-26 14:07] rmol opened #5828 "1.8.0 translation feedback: say replies are saved, not stored"
## Description

From [AO](https://weblate.securedrop.org/translate/securedrop/securedrop/en/?checksum=a6f950dfa57047f3): "Your reply has been saved." might be better than "Your reply has been stored."

[2021-02-26 17:58] conorsch opened #5829 "Restoring tarball to Focal shows error for v2"
## Description

When restoring a v2-only Xenial backup tarball to a v3-only Focal instance, the restore action fails. It fails even if the admin explicitly requests that the tor config be preserved as-is.

## Steps to Reproduce
I used libvirt-based VMs for testing, and performed all admin actions from a virtualized Tails v4.16 VM.

1. Create a v2-only backup tarball from a Xenial host.
2. Perform

[2021-02-26 18:02] conorsch commented on #5829
A patch like this should resolve:

[code]

In a nutshell, each "extra-arg" passed on the CLI its own `-e`. That's still not enough, though, since the comparison task that fails has no conditional: https://github.com/freedomofpress/securedrop/blob/2f73b92d93c7ef343a4e92703a84f932f72e8b71/install_files/ansible-base/roles/restore/tasks/main.yml#L31-L35

Whether that task runs should be influenced by

[2021-02-26 18:09] eloquence commented on #5828
Fun fact - that language goes back to the AaronSw days of SecureDrop (8b1b3580137a57c76f27a9c90101926255da2b5b). I agree "has been saved" is a bit more friendly. I don't see that string having changed in the last development cycle though, am I missing something? If not I would be inclined to wait with this change until after 1.8.0.

[2021-02-26 18:11] eloquence commented on #5829
Labeled as release blocker because `--preserve-tor-config` is release-critical functionality.

[2021-02-26 21:40] rmol commented on #5828
The language has not changed, but the construction of the flash message did, which resulted in the message being broken up into two, which now need to be translated separately. If we're going to change "stored" to "saved", it would save work to do it now.

[2021-02-26 22:36] eloquence commented on #5828
Discussed a bit more with @ninavizz. We don't think a single word change would make this message significantly more user-friendly, and would like to suggest revising it fully for a future release. The problem that `stored` and `saved` share is that they only speak to the technical completion of an operation, and don't clearly relate to the journalist's intent (talking to a source). In fact, `saved

[2021-02-27 16:44] KwadroNaut opened #5831 "Manually starting update gui when up to date error"
## Description

When I start the gui updater (`python3 journalist_gui/SecureDropUpdater`) but my workstation already is up-to-date I receive an error.

## Steps to Reproduce

Running Tails 4.15 or 4.16 and Securedrop 1.7.1
run `python3 journalist_gui/SecureDropUpdater` from a terminal

## Expected Behavior

Have the graphical updater showing up, telling me I'm up-to-date.

## Actual Behavior

GUI

[2021-03-01 14:34] emkll commented on #5831
Thanks for reporting @KwadroNaut . It looks like we should check for versions prior to enabling the buttons in that dialog (and perhaps, optionally show current latest version in the UI, as described in https://github.com/freedomofpress/securedrop/issues/3858).

Note that the updater is not designed to be started by an administrator manually, and should only appear once network has been establishe

[2021-03-01 17:00] zenmonkeykstop commented on #5794
## 1.8.0 QA Checklist

### Environment

- Install target: nuc8
- Server OS: Xenial
- Tails version: 4.14
- Test Scenario: cron-apt
- SSH over Tor: yes
- Onion service version: v2+v3
- Release candidate: rc1
- General notes: YOLO

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x] AppArmor is loaded on app
    - [

[2021-03-01 18:10] zenmonkeykstop opened #5832 "Screenshot utility script should be removed from packages"
## Description

The file `securedrop/upload-screenshots.py` used for updating Weblate resources is being added into the `securedrop-app-code` package.

It's not directly accessible and is blocked by apparmor, but should be excluded from the package build anyway for hygiene reasons.

[2021-03-01 18:17] zenmonkeykstop opened #5833 "Exclude SSH tor config from server restores"
## Description

 SSH onion service configurations should not be restored from backups:

- in the scenario where you're restoring onto a server with the same tor config as the backup, it doesn't do anything
- in the scenario where you're restoring over a fresh install, it breaks a working ssh config, currently requiring manual intervention to fix

A migration without restoring ssh configs would loo

[2021-03-01 18:20] conorsch commented on #5832
Sounds good, that's what we have https://github.com/freedomofpress/securedrop/blob/70b31deed05053853d41b3041532e0a1fff6b320/securedrop/.rsync-filter for.

[2021-03-01 18:23] conorsch commented on #5833
Migration would be a heck of a lot simpler if we were to stop restoring SSH services, and just stick with what's new. The only downside would be that organizations with multiple administrators, each using their own Admin Workstation USB stick, would need to synchronize the new service info out of band. In all other circumstances, it's a lot simpler and more straightforward to reuse the new v3-only

[2021-03-01 18:26] zenmonkeykstop commented on #5833
For orgs doing the Focal migration over the next month or two who are not already on v3, they'll need to do that oob sync regardless.

[2021-03-01 18:26] eloquence commented on #1591
At this rate, it seems more plausible to transition the SecureDrop repo to SHA-256 hashes (experimental support added with [git 2.29.0](https://github.com/git/git/blob/master/Documentation/RelNotes/2.29.0.txt)) once that is no longer marked as experimental and supported by GitHub & a stable Tails release. Or, even better, resolve #3502 and move the verification story away from `git`. I think we ca

[2021-03-01 18:50] eloquence commented on #1728
See also #5280, which focuses on interaction counts specifically. I'm going to close out this very old issue, but will cross-reference  these notes for further investigation.

[2021-03-01 18:50] #1728 closed

[2021-03-01 18:51] eloquence commented on #5280
See also @psivesely's detailed notes in #1728; as part of resolving this issue, we may want to investigate other race conditions that could occur.

[2021-03-01 18:59] eloquence commented on #1742
Relevant related tickets:
- #5297 could significantly simplify the Journalist Workstation provisioning story (at least until Qubes, for which we have separate provisioning code)
- #3325 suggests making languages configurable via the web UI; moving other configuration settings into the web UI would reduce the reliance on playbooks altogether.

[2021-03-01 19:06] eloquence commented on #1747
As an analogy, Signal prompts users to practice their PIN entry (for recovery PINs: https://signal.org/blog/signal-pins/). It's a flawed analogy though, because sources may only visit once or twice, and because PINs are typically short.

I am personally doubtful that memorizing passphrases is really sound security advice, and think we should discuss that more, informed by data or user testing if p

[2021-03-01 19:19] eloquence commented on #1756
#5330 moved more permission logic out of Ansible into postinst for `securedrop-ossec-server`, but as far as I can tell, permission cleanup for `ossec-server`'s postinst logic (and potential reorganization into `securedrop-ossec-server`) is still pending, so leaving this issue open.

[2021-03-01 19:27] emkll commented on #5794
## 1.8.0-rc1 Mac minis install-and-restore on Focal (in progress)
### Environment

- Install target: Mac Mini
- Server OS: Ubuntu 20.04 Focal
- Tails version: 4.16
- Test Scenario: backup-install-migrate
- SSH over Tor: Yes
- Onion service version: v2+v3 (backup), v3 install
- Release candidate: 1.8.0-rc1
- General notes:

### Basic Server Testing

- [x] I can access both the source and journalist

[2021-03-01 19:39] emkll opened #5835 "fwupd error in syslog, ossec alert for Focal"
## Description

On both a Mac mini and a NUC5PYH running Ubuntu Focal, I receive the following ossec alerts (and associated syslog entries)

1. On the mac mini, 2 errors
[code]

2. On the NUC, only 1 of the two errors
[code]

## Comments

The errors observed are likely a result of my machines either not supported by fwupd or perhaps legacy boot enabled. We should ensure fwupd is properly configure

[2021-03-02 12:33] kushaldas opened #5836 "Update dependencies for CI/safety failure"
From https://app.circleci.com/pipelines/github/freedomofpress/securedrop/2045/workflows/84bd1455-d189-49cd-8120-595208047b9c/jobs/51721

[code]

Note:

- We can not update `cryptography` as we are running on Python 3.5.x series
- Diff review for `PyYAML` can be found at https://github.com/freedomofpress/securedrop-debian-packaging/wiki/PyYAML-5.3.1-to-5.4.1
- Diff review for `Jinja2` can be found

[2021-03-02 12:36] kushaldas commented on #5836
I tried to update both `PyYAML` and `Jinja2` but got stuck in the following error:

[code]

Maybe a fresh set of eyes will help.

[2021-03-02 12:58] rmol commented on #5836
Most of the dependencies with `safety` warnings now require Python 3.6. My current plan is to update Jinja2, which thankfully still supports 3.5, and tell `safety` to `--ignore` the other warnings for now (they're either dev dependencies, or we believe our usage is not affected). I was planning to look into [environment markers](https://pip.pypa.io/en/stable/reference/pip_install/#requirement-spec

[2021-03-02 14:13] emkll commented on #5836
Thanks for opening the issue @kushaldas and for the investigation @rmol . If we are to hold back / ignore certain vulnerabilities for Xenial (or also other platforms), we should ensure that we are either not affected by the vulnerability or mitigate it in some way. We should also document the rationale for ignoring, in other words why SecureDrop isn't affected by the vulnerability (either in the i

[2021-03-02 15:23] rmol commented on #5836
Environment markers would allow us to maintain one set of input requirements files, and that would reduce divergence in the set of requirements used on different Python versions, but we'll still need separate outputs to use when building the `securedrop-app-code` package.

Of the current `safety` warnings:

Dependency | Problem | Our version | Fixed version | Fixed version Python requirement | Rec

[2021-03-02 18:14] zenmonkeykstop commented on #5836
That's a great analysis @rmol - if the new un-upgradeable dependencies are dev-only I think we can get away with ignores for now.

[2021-03-02 21:14] #5836 closed, assigned to nobody

[2021-03-02 23:53] zenmonkeykstop commented on #5794
## v2+v3 Xenial to focal migrations:

Just completed a migration from a v2+v3 Xenial to a v3 Focal (using the branch in #5834 for the restore, as this is currently broken in RC1). Steps are as follows, starting in `~/Persistent` on the same admin stick as was used for the Xenial install:

- backed up v2+v3 instance
- installed Focal on servers, set up ssh keys
- rename `securedrop` to `sd.bak`
- g

[2021-03-03 14:40] zenmonkeykstop commented on #5833
I'm gonna defer this to 1.9.0 unless there are objections. Sorting out the migration process took longer than expected, and it only saves a couple of steps in that process. It would save more if the client-side Tor config files were rebuilt as part of the process (as opposed to being manually copied into place) but that's a bit much to take on during the QA period.

[2021-03-03 14:42] zenmonkeykstop commented on #5828
"posted" is also an option - implies that it has yet to be  "delivered."

[2021-03-03 17:20] rocodes opened #5840 "(Focal) Failure enabling systemd-timesyncd: "service is masked""
## Description

Installing SecureDrop 1.8.0-rc1 on Focal on hardware (NUC7s), I'm consistently encountering an error during the `Ensure systemd-timesyncd service is enabled` task:

`Unable to enable service systemd-timesyncd: Failed to enable unit: Unit file /etc/systemd/system/systemd-timesyncd.service is masked.`

## Steps to Reproduce

- Install Focal on hardware
- Fresh clone of SD repo, (reus

[2021-03-03 18:35] zenmonkeykstop commented on #5840
FWIW I did not observe this during my most recent install, and the service is up and running on my boxen.

[2021-03-03 18:37] rmol commented on #5840
I am so far unable to reproduce the error; my test run had no problem with `Ensure systemd-timesyncd service is enabled`.

[2021-03-03 18:49] conorsch commented on #5840
I haven't seen this, either. However, it might be worthwhile explicitly setting `masked: no` on the relevant task: https://github.com/freedomofpress/securedrop/pull/5806/files#diff-ae5be923cdf2cac58831b9ea69297001a39085628927b7c6a55e4a994f41803fR76-R81

[2021-03-03 19:03] rocodes commented on #5840
I'm going to reinstall Focal and see if even I can repro. (My reference to "consistently" was on repeated `install` attempts, but I'll try wiping now)

[2021-03-03 20:28] conorsch commented on #1039
Given that our QA matrix includes running these commands manually, we should indeed click the tests back on soon, to save developers some time, now that we have testinfra on prod (#5318). Some things have changed since the tests were originally written, though, so I'm noting that here. Under a Xenial host with `paxtest=1:0.9.11-2`, output will be:

[code]

However, on Foal with `paxtest=1:0.9.14-2

[2021-03-03 20:30] rocodes commented on #5840
I wiped and reinstalled Focal and 1.8.0-rc1 did not reproduce my original issue. Maintainers feel free to close if you wish.

[2021-03-03 21:19] zenmonkeykstop opened #5841 "QR code issued by `./manage.py add-admin` is solid black square on Focal"
## Description

A QR code is generated when a user is created via the app server CLI, to simplify 2FA setup. On Focal, it currently shows as a solid black square

## Steps to Reproduce

- on a Focal install:
- og in to the application server (`ssh app` if prod) and run the following:
[code]
Follow the prompts to add a user, choosing N to the Yubikey question.

## Expected Behavior
A QR code is dis

[2021-03-03 21:39] rmol commented on #5840
@conorsch I added #5842 to unmask the service. Don't think it's strictly necessary, but wouldn't hurt either, other than the extra review and testing time.

[2021-03-03 22:34] #5840 closed, assigned to nobody

[2021-03-04 13:10] #5841 closed, assigned to nobody

[2021-03-04 17:19] zenmonkeykstop commented on #5835
reproducible on nuc7:
[code]

[2021-03-04 22:18] #5829 closed, assigned to nobody

[2021-03-05 10:06] kushaldas commented on #5794
Tested RC2 for specially:

## V2 Xenial to Focal migrations

As v2 onion services can't be migrated to Focal, this case should be easier (again, using #5834 if it's not merged and RCed yet):
- [x] back up v2 instance
- [x] install Focal on servers, set up ssh keys
- [x] rename `securedrop` to `sd.bak`
- [x] git clone a fresh `securedrop`
- [x] move ~/.ssh/config and ~/.ssh/known_hosts out of `~/.s

[2021-03-05 17:26] zenmonkeykstop opened #5847 "The Application Server submissions checker runs 60 times a day instead of once."
## Description

The crontab entry for the script checking for new submissions (for use in journalist alerts) (with a reboot time of 4am) looks like:

[code]
This will kick off the script every minute from 3am to 4am. If the intent is to trigger it once, it should be more like

[code]

## Steps to Reproduce
Check /var/log/syslog on a production system.

## Expected Behavior
There's one log line at

[2021-03-05 17:33] eloquence commented on #5847
Since it's not a regression, added to near-term backlog for now.

[2021-03-05 19:09] #5825 closed, assigned to zenmonkeykstop

[2021-03-05 20:39] emkll opened #5849 "Focal: securedrop-app-code package held back by unattended-upgrades"
## Description

securedrop-app-code is not upgraded by unattended-upgrades due to a conffile conflct:

`/var/log/unattended-upgrades/unattended-upgrades.log` states
[code]
manual upgrade confirms
`/var/www/securedrop/static/i/logo.png` is set as a conffile, which means the package will  not override what is served by the package

## Steps to Reproduce

Please specify your environment if that is ne

[2021-03-05 20:53] eloquence opened #5850 "Do not treat logo image as a conffile in app code package"
14c8761de31311c471e7f0750bd6181432905c99 (from back in 2015) marked `/var/www/securedrop/static/i/logo.png` as a conffile, which was appropriate prior to improvements to logo handling like #3057. However, this can cause unexpected behavior like what we observed in #5849.

At this point, if `logo.png` is not modified by the app code or by end users, it should be safe to no longer treat it as a conf

[2021-03-05 20:55] eloquence commented on #5850
Since we're aiming to resolve #5849 more broadly by avoiding conffile-related failures during unattended upgrades, there should be no need to make this change immediately for 1.8.0. However, milestoned to 1.9.0 as a near-term cleanup opportunity.

[2021-03-05 21:16] zenmonkeykstop opened #5851 "Override unattended-upgrade timers to make updates more closely aligned with cron-apt behaviour"
## Description

By default, update and upgrade unattended-upgrade actions are triggered by systemd timers with a randomized delay of up t o12 hours. This makes updates occur at erratic intervals. The timing and delay is configurable via `systemctl edit <timername>` or by adding override.conf files under `/etc/systemd/system/...` - ideally the timers should be set to trigger just before the nightly

[2021-03-05 21:21] eloquence commented on #5851
Marked as release stretch goal for now, @zenmonkeykstop defer to you if you want to immediately kick it over to 1.9.0.

[2021-03-08 18:03] conorsch commented on #5815
As with #5280, could this behavior be related to the spectre/meltdown checker? During QA period, let's keep an eye on that directory, and note particularly if crash reports appear after the meltdown checks, or even after paxtest.

[2021-03-08 21:22] eloquence commented on #5851
We discussed further in standup today. #5852 is expected to fix issues with the upgrade not being applied; if `unattended-upgrades` now fully works as expected (i.e. we are able to specify its behavior clearly), we'll most likely defer further improvements to 1.9.0 given the complexity of this logic (note that we want to honor `sdconfig` settings for reboot time as part of any further changes). No

[2021-03-08 22:27] rmol commented on #5851
Right now I think there's at least one significant difference with `unattended-upgrades`. It might disrupt services twice per update, instead of once with `cron-apt`. An update to `securedrop-app-code` will see the package updated when the `unattended-upgrade` script runs, then the system will reboot at the time specified in `securedrop-admin sdconfig` and configured in `/etc/apt/apt.conf.d/80secu

[2021-03-08 22:49] eloquence commented on #5851
Can we apply a preferable configuration state (e.g., where the upgrade time is dependent on the configured daily reboot time) in `postinst` with a future release? If so, the behavior above is IMO acceptable for 1.8.0 (in an emergency, we can always advise admins to manually update and/or reboot, which we might have done even in the cron-apt days).

[2021-03-08 23:15] rmol commented on #5851
Right now, as far as I know (would be glad to be apprised of my ignorance) the only record on the servers of the daily reboot time chosen during `sdconfig` will be in [`/etc/apt/apt.conf.d/80securedrop`](https://github.com/freedomofpress/securedrop/blob/develop/install_files/ansible-base/roles/common/templates/80securedrop.j2). We could obtain the time from that, create systemd timer override file

[2021-03-08 23:34] conorsch commented on #5851
Yes, `80securedrop` is that's the file on disk, or will be as of 1.8.0. Since it's live in the apt config, we could use something like:

[code]

to retrieve it programmatically. It would make sense to provide a default value, sanely "4:00" since that's default everywhere, but then we should be able to reuse it anywhere else.

[2021-03-08 23:46] rmol commented on #5851
It's also available via `apt_pkg.config` in Python, which I was thinking I'd rather use to construct the calendars. I hesitated to suggest either because we might end up needing recovery logic that has to parse the commented-out line in the file anyway. :slightly_smiling_face:

But maybe better than cleverly constructing the calendars around the upgrade+reboot time is just starting that earlier in

[2021-03-09 00:25] zenmonkeykstop commented on #5849
Reopening as per discussion, options should be formatted like:

[code]

[2021-03-09 23:53] #5849 closed, assigned to nobody

[2021-03-09 23:53] #5851 closed, assigned to nobody

[2021-03-10 17:20] kushaldas commented on #5794
## 1.8.0 QA Checklist

### Environment

- Install target: VM, Focal
- Tails version: 4.16
- Test Scenario: fresh
- SSH over Tor: No
- Onion service version: v3
- Release candidate: rc4

#### Command Line User Generation

- [x] Can successfully add admin user and login

### Application Acceptance Testing

#### Source Interface

##### Landing page base cases
- [x] JS warning bar does not appear when

[2021-03-10 19:19] emkll commented on #5794
## 1.7.1->1.8.0-rc4 (VMs) In progress

### Environment

- Install target: Xenial VMs
- Server OS: Ubuntu 16.04
- Tails version: 4.14
- Test Scenario: cron-apt upgrade
- SSH over Tor: Yes
- Onion service version: v3-only
- Release candidate: rc4
- General notes:

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x]

[2021-03-10 20:44] zenmonkeykstop commented on #5794
## 1.8.0-rc4 (NUC8+NUC7)

### Environment

- Install target: Nuc8+Nuc7
- Server OS: Focal
- Tails version:4.14
- Test Scenario:install+migrate
- SSH over Tor:no
- Onion service version:v3
- Release candidate:rc4
- General notes:

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x] AppArmor is loaded on app
    - [

[2021-03-11 10:56] kushaldas commented on #5794
The fresh VM I created yesterday on `RC4` did get apply the `RC5` update. Other than that the rest of the standard tests + focal based tests are good. I will post a detailed copy later in the evening.

[2021-03-11 16:00] prateekj117 commented on #5847
@eloquence I can take a look at this.

[2021-03-11 18:51] eloquence commented on #5787
All things considered, I would suggest going with the first option: recreate the directory.

1) This is not a state that should arise during normal operation, but
2) Admins may accidentally or intentionally wipe the `store` directory to clean out files and messages;
3) This approximates a "file and messages" deletion operation through the UI;
4) Locking out individual sources or large numbers of t

[2021-03-11 22:12] eloquence opened #5864 "securedrop-admin integration tests fail during "tag is live, release is not" time window"
Discovered during 1.8.0 release (#5794): If a tag has been pushed but the release object has not been created yet, two `securedrop-admin` tests start failing:

- `test_check_for_update_when_updates_not_needed`
- `test_update_with_duplicate_branch_and_tag`

Those tests operate against the production repo, and they rely on the latest release and the latest tag being identical. We should document thi

[2021-03-12 00:03] eloquence opened #5865 "Refresh CODEOWNERS assignments"
As the dust settles on the SecureDrop 1.8.0 release, now may be a good time to refresh CODEOWNERS files where they are used, so we can sure that default reviewer suggestions are complete and up-to-date. I was only able to find them here:

https://github.com/freedomofpress/securedrop/blob/develop/.github/CODEOWNERS
https://github.com/freedomofpress/securedrop-client/blob/main/.github/CODEOWNERS

Al

[2021-03-12 19:28] emkll opened #5867 "Secureboot support for grsecurity kernel"
## Description

Initially reported by https://forum.securedrop.org/t/running-handler-common-reboot-if-rquired-due-to-security-updates/1397/1:

Some hardware now ships with secureboot enabled by default, and we are currently advising disabling secureboot in the BIOS to ensure our custom kernels can boot in [1] .

We should consider signing our kernels and initram as described in [2] and ensuring th

[2021-03-12 21:32] eloquence commented on #5742
Encountered the following behavior today:
1) Left Admin Workstation running overnight
2) Attempted to log in via what seemed to me to be a fresh Tor Browser session

Instead of logging in, got the "your session expired" message. Second login attempt succeeded. I'll keep an eye on it and see if I can repro again.

[2021-03-13 01:56] eloquence commented on #5609
Except for the above minor detail, no issues migrating an Ubuntu 16.04 instance on Mac Minis to Ubuntu 20.04 on NUC10s :tada:

[2021-03-13 21:46] eloquence opened #5868 "Backup script does not include custom logo"
## Description

The backup script at https://github.com/freedomofpress/securedrop/blob/develop/install_files/ansible-base/roles/backup/files/backup.py currently does not add the custom logo, because it was not updated after #3057 changed the behavior to stop overwriting `logo.png` with the custom logo.

## Steps to Reproduce

(Requires prod or staging instance.)

1. Customize your logo
2. Run `./s

[2021-03-15 15:48] conorsch commented on #5794
I took a quick stab at this on Friday, but was surprised to encounter https://github.com/freedomofpress/securedrop/issues/5781. Will need to adjust the box slightly, perhaps fall back to an older version, to get it to build. I can do that today if no one else is looking at it.

[2021-03-15 16:34] rocodes commented on #5609
The NUC8i5s in our hardware docs were officially discontinued on Oct 2020 (https://www.intel.ca/content/www/ca/en/support/articles/000016234/intel-nuc.html), although they'll get security updates til Oct 2023. A further round of NUC8s were discontinued Feb 2021, getting security updates til early 2024.

Would be great to add NUC10s (and LIbrems?) to our hardware recommendations to get a bit ahead

[2021-03-15 17:03] eloquence commented on #5815
No additional reports since QA (I also don't see it on my prod instance), as noted above, likely the result of security tests during QA.

[2021-03-15 17:03] #5815 closed, assigned to nobody

[2021-03-15 17:06] eloquence commented on #5699
Released as part of 1.8.0.

[2021-03-15 17:06] #5699 closed, assigned to nobody

[2021-03-15 17:10] eloquence commented on #5512
Discussed with @emkll in backlog review, we would suggest to do this only for Focal and, at the same time, remove the Xenial logic for it, since it is not critically required for QA. This may also be an opportunity to add this test as a nightly or weekly CI check, for example. Thoughts from others?

[2021-03-15 17:14] eloquence commented on #4768
Closing this epic:
- Post-migration cleanup is tracked in #5725
- upgrade scenario is tracked in #5512 and will be addressed in a future sprint
- We'll discuss MacOS support for staging/prod VMs in a future tech meeting
- Other tasks are deferred to the next OS upgrade

[2021-03-15 17:22] eloquence commented on #2743
Some progress was made towards this as part of the 1.8.0 push:
- aptitude was removed
- cron-apt is no longer used
- paxctl is replaced by paxctld and tracked in the control file

We are still installing some dependencies via playbook, and may take future opportunities to do further refactoring, so keeping this issue open but removing from near-term backlog.

[2021-03-15 17:25] eloquence commented on #5864
Discussed with @emkll at backlog review, we'll probably just document this behavior for now.

[2021-03-15 17:27] eloquence commented on #5835
Seeing this in my prod logs as well on Ubuntu 20.04 (haven't checked OSSEC alerts yet).

[2021-03-15 17:37] eloquence commented on #5802
Released as part of 1.8.0.

[2021-03-15 17:37] #5802 closed, assigned to nobody

[2021-03-15 17:44] eloquence commented on #5804
Discussed in backlog review w/ @emkll today. Worth additional investigation, perhaps we can add a subcommand to `securedrop-admin` that rebuilds the venv, or rebuild on error.

[2021-03-15 19:52] eloquence opened #5869 "Review all pending Weblate comments/suggestions"
Prior to the next release, we should make sure we review all pending Weblate comments and suggestions. This includes the following issues that are already tracked:

- Consider using sentence case instead of title case in UI elements - #5828
- "Say replies are saved, not stored" - #5821

[2021-03-15 23:42] eloquence commented on #5609
I ran the testinfra tests from Conor's #5848 branch (i.e. including `paxtest`) using `USE_FOCAL=1 ./securedrop-admin --force verify` on my NUC10. The results were as expected (i.e. only successes or xfail), full details below. Next up is the meltdown check.

<details>
<summary>Glory to testinfra</summary>

[code]
</details>

[2021-03-16 00:02] eloquence commented on #5609
meltdown results on NUC10 looking good, detailed output below. Seeing the same test failure reported in #5040, likely for the same reason (also seeing the grsec `denied write to CPU MSR` directly caused by the script in `syslog`).

<details>
<summary>meltdown deets</summary>
Spectre and Meltdown mitigation detection tool v0.44+

Checking for vulnerabilities on current system
Kernel is Linux 5.4.97

[2021-03-16 00:13] eloquence commented on #5609
Beyond that, I see three `grsec` lines in `syslog` /  `kern.log` on boot, for setting time via `systemd` and for setting `rwxmap_logging` to `0` and `grsec_lock` to `1`, as expected. Nothing else notable in logs, let me know if you'd like me to poke around further.

[2021-03-16 06:07] eloquence commented on #5868
https://github.com/freedomofpress/securedrop-docs/pull/181 adds backup/restore docs for now, but I would suggest that we fix this properly with the next regular release at the latest.

[2021-03-16 15:21] conorsch commented on #5794
Falling back to box version v202008.16.0 was enough to clear the problem. PR in #5870.

[2021-03-16 16:02] zenmonkeykstop opened #5871 "Check for Secure Boot setting during install process"
## Description

Currently having Secure Boot enabled breaks the install process on first reboot after the grsec kernel is in place. While this is covered in docs, and we could look at signing kernels as per freedomofpress/kernel-builder#47 , there will probably be a lot of fresh installs happening in the immediate future, and checking early (using `mokutil` or similar) in the install playbook woul

[2021-03-16 16:27] eloquence commented on #5865
Discussed in standup, the suggestion that come out of that was to have a broad maintainership <-> CODEOWNERS mapping for now, without high specificity in the subdirectories, so we still get reviewer suggestion, but don't have false precision for subcomponents.

[2021-03-16 17:32] zenmonkeykstop opened #5873 "Bump Tor version to 0.4.5.7"
## Description

Tor Project has shipped version 0.4.5.7 of tor and tor-geoipdb with relevant denial-of-service fixes. See https://blog.torproject.org/node/2009 for more.

The version on apt.freedom.press should be updated as well.

[2021-03-17 23:01] zenmonkeykstop opened #5876 "`make build-debs` fails due python3.5 support having been removed from setuptools-scm"
## Description

`make build-debs` is failing at  `TASK [build-securedrop-app-code-deb-pkg : Install SecureDrop Python requirements in virtualenv for translation work] ***`, with the following error output:

[code]
Working hypothesis is that this is due to setuptools_scm 6.x dropping support for .egg format packaging.

## Steps to Reproduce

Run `make build-debs` against `develop`

## Expected Beha

[2021-03-17 23:24] conorsch commented on #5876
The specific syntax noted in the error output, the fstrings, is only supported in python3.6 and above. Looks like `setuptools_scm` dropped support for python3.5, which Xenial uses, as of v6.0.0, not v6.0.1:

[code]

So I'd guess that pinning to `<6.0.0`, rather than `<=6.0.0`, would resolve for now. Will try that locally.

[2021-03-17 23:31] zenmonkeykstop commented on #5876
The revised requirement files that I added pin it at 5.0.2 iirc. Still no joy

[2021-03-17 23:31] conorsch commented on #5876
Already pinned to `5.0.2` in https://github.com/freedomofpress/securedrop/pull/5875/files#diff-fce7a98d75a48de1db3dc18b0b44239ef29db3dc2b4bb0459d5a623cc2ef3316R594-R597, and that's clearly not enough. Looks like we're getting a newer version than we want inside the build context.

[2021-03-18 00:13] conorsch commented on #5876
Well, this is unfortunate. It appears that `python-dateutil==2.7.2`, from approximately 3 years ago, [includes](https://github.com/dateutil/dateutil/blob/ff03c0f14caa1b11c604906b854dce18c7d0a7a3/setup.py#L66) `setup_requires=['setuptools_scm']` in its `setup.py`, which is effectively a requirement in itself, outside the context of pip. Any packages specified there will be easy-installed prior to i

[2021-03-18 00:48] conorsch commented on #5876
No, same problem: setuptools_scm 6.0.1 is pulled in via easyinstall, and fails due to lack of python3.5 support. However, it appears that we can satisfy the `setup_requires` condition (which, again, is not bounded with a version constraint) by preinstalling setuptools_scm, at the version we specify, into the virtualenv prior to running the install from the requirements file. That's based on the di

[2021-03-18 01:00] zenmonkeykstop commented on #5876
I tried that locally, just with a pip install before the main one, no joy. Also has the disadvantage of not checking hashes.

[2021-03-22 15:25] #5876 closed, assigned to nobody

[2021-03-22 17:54] eloquence commented on #5754
This was resolved via #5770 when JavaScript is enabled. We'll likely have to live with it for the no-JS experience.

[2021-03-22 17:54] #5754 closed, assigned to nobody

[2021-03-23 15:58] eloquence commented on #5865
This was done for `securedrop-client` in https://github.com/freedomofpress/securedrop-client/pull/1225. If the group-based listing works as expected, we can use the same format for `securedrop`.

[2021-03-23 22:22] #5873 closed, assigned to zenmonkeykstop

[2021-03-24 22:07] eloquence commented on #5833
(Added `needs/docs` because the backup/migration guide will need to be updated.)

[2021-03-29 17:36] conorsch opened #5883 "Upgrade scenario is broken"
## Description

The `upgrade` scenario, used for testing in-place upgrades on Xenial, is no longer behaving well. First reported in https://github.com/freedomofpress/securedrop/pull/5870#issuecomment-804508509

## Steps to Reproduce
1. Check out latest `develop` branch
2. Run `echo 1.7.1 > molecule/shared/stable.ver` to use an existing box (1.8.0 boxes are unmerged, in #5870)
2. Run `make upgrade-

[2021-03-29 17:37] conorsch commented on #5883
See test reports in https://github.com/freedomofpress/securedrop/pull/5870#issuecomment-807606795. I'm able to run through the process on `develop` and the machines create successfully for me. I do see a syntax problem related to Ansible logic, which should be addressed in the latest changes in #5870.

@rmol please try the test plan above and document your results here.

[2021-03-29 21:46] rmol commented on #5883
I checked out develop, modified `stable.ver`, built debs, and tried `make upgrade-start`. This was on Debian 10, Vagrant 2.2.14, libvirt.

The process has failed for me repeatedly, but not in the ways reported in #5870. There's no server hang, and it doesn't appear that the video driver is the problem.

[2021-03-30 00:50] conorsch commented on #5883
See https://github.com/freedomofpress/securedrop/pull/5870#issuecomment-809821917 In a nutshell, let's prioritize #5512 rather than continue trying to support the xenial upgrade logic.

[2021-03-30 23:39] #5871 closed, assigned to zenmonkeykstop

[2021-03-31 14:58] #1039 closed

[2021-03-31 18:11] #5868 closed, assigned to eloquence

[2021-04-01 01:14] conorsch commented on #5512
Took a stab at this today. Pushed a WIP branch to https://github.com/freedomofpress/securedrop/tree/5512-focal-upgrade-scenario, which includes updates to the build logic for preparing the Focal upgrade VMs, but when running `make upgrade-start` with them pulled in, the VMs fail to boot with a grub error:

![focal-upgrade-grub-failure](https://user-images.githubusercontent.com/657862/113229539-05f

[2021-04-01 15:58] #5755 closed, assigned to nobody

[2021-04-01 17:53] #5609 closed

[2021-04-01 18:14] #5865 closed, assigned to nobody

[2021-04-03 07:31] prateekj117 commented on #5847
@rmol Seems straightforward. Can I take this one up?

[2021-04-04 16:39] zenmonkeykstop commented on #5847
Hi @prateekj117 - it is straightforward! Verifying that it works correctly (and having a good test plan) is probably the only bit to worry about. Please feel free to pick it up.

[2021-04-05 15:45] eloquence commented on #5794
1.8.0 was released on 2021-03-11; as usual we have left this ticket open until upgrade boxes for the next release are ready. Due to complications, this may be only done for Focal; tracked separately in #5512.

[2021-04-05 15:45] #5794 closed, assigned to nobody

[2021-04-06 14:07] zenmonkeykstop commented on #1204
One other point in favour here (tho more a developer convenience one) - delivering at least the apt.freedom.press packages over Tor would make it easier for devs to stand up temporary apt repos and deploy to hardware for testing purposes.

[2021-04-06 17:01] #5833 closed, assigned to nobody

[2021-04-07 07:00] #5835 closed, assigned to kushaldas

[2021-04-07 18:52] emkll opened #5891 "Release SecureDrop 1.8.1"
This is a tracking issue for the release of SecureDrop 1.8.1. This minor release will provide improvements to the restore functionality, and update OSSEC rules to support the transition to Ubuntu 20.04 Focal.

Tentatively scheduled as follows:

**String and feature freeze:** 2021-04-07
**Pre-release announcement:** 2021-04-08
**Release date:** 2021-04-14

**Release manager:** @kushaldas
**Deputy r

[2021-04-08 00:50] eloquence opened #5892 "v2 removal on restore does not cover HTTPS services"
The logic added in https://github.com/freedomofpress/securedrop/pull/5677 to disable v2 onion services when a backup is restored to a Focal server does not remove config lines for HTTPS services (port 443), potentially resulting in a broken configuration.

[2021-04-12 09:33] kushaldas commented on #5891
## 1.8.1 QA Checklist

For both upgrades and fresh installs, here is a list of functionality that requires testing. You can use this for copy/pasting into your QA report.

If you have submitted a QA report already for a 1.8.0 release candidate with successful basic server testing and application acceptance testing sections, then you can skip these sections in subsequent reports, unless otherwise i

[2021-04-13 01:18] emkll opened #5896 "[1.8.1] app server unreachable when checking secureboot status"
## Description

When performing a new install on the latest `release/1.8.1` branch, the installer fails at the following step:
[code]

What is strange is that ssh to the app server is still working after that failure.
## Steps to Reproduce
`./securedrop-admin --force install` on a newly provisioned 20.04 install

## Expected Behavior
prepare-servers role should complete successfully
## Actual Beha

[2021-04-13 09:28] kushaldas commented on #5896
We need someone else than me to reproduce this, on  a normal VM based approach can not test `secureboot` related checks. Just now finished a normal installation on Focal via `release/1.8.1` branch and works perfectly.

[2021-04-13 12:43] emkll commented on #5896
I just ran install again and did not observe this error. It's unclear if this is was a transient error or user error :confused:

[2021-04-13 14:58] emkll commented on #5891
## Install-and-restore on Mac Minis (in progress)
### Environment

- Install target: Mac Mini
- Server OS: Ubuntu 20.04
- Tails version: 4.17
- Test Scenario: Clean install (and restore)
- SSH over Tor: yes
- Onion service version: V3 only (v2+v3 backup)
- Release candidate: rc1 (with admin workstation on https://github.com/freedomofpress/securedrop/commit/372952c71aa7fd75de297185e9eb0bb135cd89f8

[2021-04-13 15:44] zenmonkeykstop commented on #5896
Just ran through a fresh install (and multiple install playbook runs afterward) on nuc10/nuc8, did not observe this error.

[2021-04-13 15:47] zenmonkeykstop commented on #5891
## 1.8.1 QA Checklist

For both upgrades and fresh installs, here is a list of functionality that requires testing. You can use this for copy/pasting into your QA report.

If you have submitted a QA report already for a 1.8.0 release candidate with successful basic server testing and application acceptance testing sections, then you can skip these sections in subsequent reports, unless otherwise i

[2021-04-13 18:02] zenmonkeykstop opened #5897 "Validate backup contents before applying va a restore"
## Description

The expected files to be restored from an SD backup are pretty well-defined, so it might make sense to examine the tarball contents and make sure there are no files like "/var/lib/tor/../../../usr/sbin/rootkitgoeshere" or "/var/lib/securedrop//WHATTHEHECKAMI" included.

This would reduce the risk of installing malicious files from a server that has been unknowingly compromised.

##

[2021-04-13 20:50] eloquence commented on #5725
Suggestions for how this work could potentially be divided up would be appreciated ahead of Thursday's sprint planning discussion. One potential division @emkll and I discussed is:
- packaging / packaging tests
- provisioning / provisioning tests
- CI

[2021-04-13 22:45] eloquence opened #5898 "Update cryptography dependency"
The `cryptography` library is currently pinned at version 3.2.1, because [3.3 dropped Python 3.5 support](https://github.com/pyca/cryptography/blob/main/CHANGELOG.rst#33---2020-12-08), which is the version of Python included with Ubuntu 16.04.

After the full removal of Xenial support (#5725), we should be in a good position to update the `cryptography` library as part of the SecureDrop 2.0.0 rele

[2021-04-14 00:55] eloquence commented on #5896
Hardware: 2014 Mac Minis
Server OS: Ubuntu 20.04
Scenario: Fresh install
Commit: 372952c71aa7fd75de297185e9eb0bb135cd89f8 (tip of `release/1.8.1`)

The `[prepare-servers: Install python and packages required by installer] ` step completed without issues on `app` and `mon`. Will post any other findings from quick testing on main issue.

[2021-04-15 00:47] eloquence commented on #5892
This was shipped with 1.8.1 but the change was only made to the release branch; the issue will be closed once the change has been forward-ported to the `develop` branch.

[2021-04-15 04:02] eloquence commented on #5850
One case to keep in mind are SD instances that modified their logo using the old method. At least one org reported that they did _not_ have to re-upload the logo after the 20.04 migration, prior to #5880 being released with 1.8.1. Hypothesis: Their `logo.png` was overwritten pre-2018, the `conffile` status preserved that overwritten version release after release, and the restore script copied it b

[2021-04-15 04:23] eloquence commented on #5896
Closing for now due to failure to reproduce, will re-open if we observe again during next QA cycle or before then.

[2021-04-15 04:23] #5896 closed, assigned to nobody

[2021-04-15 13:55] kushaldas opened #5901 "Using reproducible wheels into our securedrop-app-code Debian package on Focal"
## Description

Currently we are using Python dependencies installed from source during the Debian package build. As we are
retiring the `Xenial` builds, we should move to using our own reproducible wheels in `Focal` packaging
using the scripts from the [securedrop-debian-packaing](https://github.com/freedomofpress/securedrop-debian-packaging) repository.

## Works need to done

- [ ] `Xenial` pac

[2021-04-15 18:04] sssoleileraaa commented on #5731
we should probably remove outdated tor2web logic as part of this effort as it no longer seems to be maintained. @redshiftzero pays closer attention to the ongoings in torland, mind providing feedback here?

[2021-04-15 18:23] redshiftzero commented on #5731
Since there isn't v3 support in tor2web and it hasn't had commits in a couple years (I also couldn't find any working relays), I think it's fine to remove... if Tor2Web sees a big resurgence of use you could add it back if/when that happens

[2021-04-15 19:01] eloquence commented on #999
For the sprint starting 4/15, @rmol has committed to sharing a first set of wordlists generated using machine translation, so we can begin evaluating the quality of the results and potentially prepare integration.

[2021-04-15 21:46] eloquence commented on #5725
This is one of our top 3 priorities for the 4/15 sprint, with @kushaldas @creviera and @zenmonkeykstop collaborating on this and the v2 onion service removal (#5731).

[2021-04-16 05:41] #5891 closed, assigned to nobody

[2021-04-16 16:23] conorsch opened #5904 "Remove virtualbox support from VM scenarios"
## Description
Our Molecule-based VM scenarios for developing server config support both libvirt & virtualbox. Some, such as the `upgrade` scenario, only support libvirt. We originally added virtualbox support for macos support, but that was before we had a containerized dev env for developing app code, that works well on all platforms.

At sprint planning yesterday, a quick straw poll showed that

[2021-04-16 18:55] eloquence commented on #5904
Noting that we may provide macOS support for running SecureDrop VMs in future, depending on developer initerest, in which case we should evaluate again what the options are, which may include libvirt (which is cross-platform, but KVM is Linux-specific) or a cloud-based solution. However, we do not have the bandwidth to maintain three (!) different approaches for managing VMs (libvirt, Qubes, Virtu

[2021-04-16 18:58] eloquence commented on #5511
We agreed as part of the 4/15 sprint that we're removing VirtualBox support, so this issue is no longer relevant. Closing; see #5904.

[2021-04-16 18:58] #5511 closed, assigned to nobody

[2021-04-16 19:05] eloquence commented on #3240
We agreed as part of the 4/15 sprint that we're removing VirtualBox support, so this issue is no longer relevant. Closing; see #5904.

[2021-04-16 19:05] #3240 closed

[2021-04-19 15:40] zenmonkeykstop opened #5906 "Support restoring from a backup file that has been manually transferred to the server?"
## Description

Failures while transferring multi-gigabyte backups during the restore procedures are pretty common, as they take a long time over Tor. The "partial" flag is set in the Ansible synchronize task, but that doesn't seem to help in practice.

It would be cool to allow for cases where:

- admins have physical server access, and can use a Transfer Device to copy a backup file manually to

[2021-04-21 00:50] eloquence opened #5910 "Consider disabling codecov.io"
CodeCov.io was only recently re-enabled for this repo (#5632/#5657). While it has added some value in terms of standardizing coverage checks and tracking change over time, we may be able to achieve the core functionality we care about (pass/fail checks tied to coverage metrics) with the existing `coverage` module, without the use of an external service. Let's consider if codecov.io really adds eno

[2021-04-22 18:24] zenmonkeykstop opened #5912 "Incorrect service addresses in Source Interface metadata endpoint after data-only backup"
## Description

After performing a data-only backup, the source interface `/metadata` endpoint will use the onion service address from the
backup instead of the instance's actual address. If the backup was v2-only or v2+v3, the v2 address will also be listed even if v2 services are disabled.

## Steps to Reproduce

- create a v3 instance
- do a data-only restore from a backup with different servic

[2021-04-22 21:22] conorsch opened #5914 "Upgrade Ansible to latest stable"
## Description
The Admin Workstation currently runs Ansible v2.9.7. Soon enough, we'll need to bump to the already released 2.10.x series. That's a difficult jump, and violates expectations about semver.

## Example output for complicated upgrade
See the following failure message about a naive upgrade from 2.9.7 -> 2.10.7

<details>
<summary>
pip error output
</summary>

[code]
</details>

The imp

[2021-04-23 05:14] eloquence commented on #5892
This was forward-ported to `develop` in #5902, closing.

[2021-04-23 05:14] #5892 closed, assigned to zenmonkeykstop

[2021-04-26 17:10] eloquence commented on #1584
This could be a nice stretch goal for 2.0.0, tentatively adding to milestone.

[2021-04-26 17:12] eloquence commented on #5551
(Doesn't need to be coupled to the next release, removing from milestone for now.)

[2021-04-26 17:22] eloquence commented on #5467
(Bumped to 2.1.0 milestone given the number of significant changes already on 2.0.0 and the remaining time until release.)

[2021-04-28 17:40] zenmonkeykstop opened #5916 "Focal OSSEC alerts not delivered when SMTP server requires that the From: address match the SASL-authenticated user"
## Description

OSSEC alerts are sent via email from the monitor server using postfix and an external SMTP server. By default under Xenial, the sender email address was `ossec@ossec.server`. In cases where the SMTP server requires that the email sender matches the authenticated user, an additional `site-specific` variable, `ossec_from_address` must be set - it's used to map the local address to  t

[2021-04-28 20:37] zenmonkeykstop commented on #5916
Confirmed that adding an entry for `ossec@mon` gets alert emails flowing again.

While it would be good to understand why this is happening, it might be worthwhile setting this by default for all new installs, and eliminating the need for the `ossec_from_address` setting altogther, unless there's also a case where it has to be set to something other than the sender address on the SMTP server. (Non

[2021-04-29 21:24] #5731 closed, assigned to nobody

[2021-05-01 00:24] eloquence opened #5918 "Backup script copies entire backup file into memory"
## STR
1. Create a backup with `./securedrop-admin backup`
2. Create a large random file, e.g., using `head -c 1500M < /dev/urandom > bigfile1`
3. Add the file to the backup tarball you just created, e.g., if the timestamp is  `2021-04-30--23-22-08`
   1. `gzip -d  sd-backup-2021-04-30--23-22-08.tar.gz`
   2. `tar -u -f sd-backup-2021-04-30--23-22-08.tar bigfile1`
   3. `rm bigfile1`
   4. `gzip -

[2021-05-01 05:15] eloquence opened #5920 "xenial app tests are failing"
Many xenial app tests are failing on new PRs, presumably because the Source Interface is disabled after April 30, so none of the expected behavior is found. See example output here: https://circleci.com/api/v1.1/project/github/freedomofpress/securedrop/53822/output/109/0?file=true&allocation-id=608cb3d9cdd8e709525e7fdf-0-build%2F30D5FC47

[2021-05-01 06:05] eloquence commented on #5920
Looks like the Xenial `lint` job is also failing now, at least after repeated kicks it has kept getting stalled on the "Save Docker image layer cache" step: https://app.circleci.com/pipelines/github/freedomofpress/securedrop/2350/workflows/04e149aa-04b0-4532-a03a-1936d01dbdfc/jobs/53826

[2021-05-03 11:26] prateekj117 commented on #5847
@zenmonkeykstop If it's desired to kick-off only once at 3:00 AM daily, then the correct crontab entry should look something like:
[code]
instead of the one given in the issue description.

[2021-05-03 11:37] prateekj117 commented on #5787
@eloquence Sounds good. Can I take this up?

[2021-05-03 16:05] #5725 closed, assigned to kushaldas

[2021-05-03 17:17] eloquence commented on #5898
With #5911 merged, this should now be unblocked.

[2021-05-03 23:18] eloquence commented on #5920
This was fixed via #5911.

[2021-05-03 23:18] #5920 closed, assigned to nobody

[2021-05-04 00:11] conorsch commented on #5904
Started on these changes in #5922. As mentioned there, we'll need a separate docs PR, which I don't have in draft state. Worth pointing out that #5911 removed a few Virtualbox scenarios already, and #5883 will handle the rest.

[2021-05-04 00:13] conorsch commented on #5512
As mentioned above:

That seems like the best approach forward here. Specifically, that means:

* removing the `upgrade` molecule scenario
* removing the `vagrant_packager` molecule scenario
* no longer maintaining the "upgrade" boxes in s3
* when we want to test upgrades, we'd use a solution like `apt-local`, which ideally would _replace_ the current molecule scenario

If folks have objections to

[2021-05-04 13:58] zenmonkeykstop commented on #5916
One thing to note here is that the description above assumes the Monitor Server hostname is `mon` - this is user-configurable, so a fix should use the actual system hostname.

[2021-05-04 15:29] conorsch opened #5923 "Rotate the SecureDrop Release Signing Key"
## Description

The release signing key is coming up for renewal, due to expire on 2021-06-30. Typically we bump expiry by ~1y and press on with the same keypair. We've been using `22245C81E3BAEB4138B36061310F561200F4AD77` for almost 5 years now. With SD v2 coming up, we're in a good position to make a full rotation, via the `securedrop-keyring` for servers & Workstation.

Opening this ticket as a

[2021-05-05 06:50] prateekj117 commented on #1897
@eloquence I can take a look into this.

[2021-05-05 06:53] prateekj117 commented on #4698
@eloquence I can take a look into this.

[2021-05-05 20:43] eloquence opened #5928 "Improve staging-test-with-rebase performance"
`staging-test-with-rebase` is our slowest CI job; it currently typically clocks in at just under 1 hour. With parallel job execution, that makes it our leading CI performance optimization candidate. In cases where it flakes out, it also incurs the highest time penalty on code review/integration.

The scope of this issue is to systematically examine each part of a typical job run, and target low-ha

[2021-05-05 20:44] eloquence commented on #5928
@conorsch and @emkll have expressed interest in working on this during the 5/5-5/19 sprint. Conor mentioned package updates as one potential area of optimization.

[2021-05-05 20:48] eloquence commented on #5832
(I'm interested in poking at this before 2.0.0, but given other commitments, kicking back to near-term backlog for now.)

[2021-05-05 21:22] eloquence opened #5929 "Release SecureDrop 1.8.2"
This is a tracking issue for the release of SecureDrop 1.8.2. This minor release will include a keyring update and several bugfixes. It will only be issued for Ubuntu 20.04 (Focal).

Tentatively scheduled as follows:

**Release date:** 2021-05-13

**Release manager:** @zenmonkeykstop
**Deputy release manager:** @emkll
**Communications manager:**: @eloquence / @emkll

_SecureDrop maintainers and te

[2021-05-05 21:23] eloquence commented on #5929
Just a note that the Ubuntu 16.04 EOL broke many tests and we'll almost certainly have to power-merge changes for this release to bypass failing CI,  unless we want to backport the Xenial removal & dependency updates.

[2021-05-05 21:40] eloquence commented on #1584
@rmol has committed to taking a stab at this during the 5/5-5/19 sprint, focusing on following up on Jen's earlier investigation and potentially removing the "Flag for reply" workflow.

[2021-05-06 20:40] conorsch commented on #5923
Here's a dual-signed transition statement, to aid in review of the forthcoming rotation changes:

<details>
<summary>
Transition statement for the SecureDrop Release Signing Key, 2021-05
</summary>

[code]
</summary>

[2021-05-07 14:02] rmol opened #5931 "Be nicer to admins when an uploaded logo doesn't work."
## Description

If an uploaded logo can't be processed, the [error message shown to admins](https://github.com/freedomofpress/securedrop/blob/427675858c49ef67573bb002b37fce06c029a84d/securedrop/journalist_app/admin.py#L56) is curt: "Unable to process the image file. Try another one."

Let's say "Please try another one."

Thanks to AO on Weblate for [pointing it out](https://weblate.securedrop.org/

[2021-05-07 14:25] #5918 closed, assigned to eloquence

[2021-05-07 16:42] zenmonkeykstop commented on #5923
Seems legit:
[code]

[2021-05-07 21:00] evilaliv3 commented on #5613
@rmol : Actually i come to this evaluation myself within @GlobaLeaks and i just made this change.

Here you can find the code i used to reimplement TOTP by means of python-cryptography: https://github.com/globaleaks/GlobaLeaks/commit/64750f40e7d8b49739cb184fd0e4f7b662c8d0ea

[2021-05-07 21:02] rmol commented on #5613
Hey, thanks @evilaliv3! That should save us some time. :slightly_smiling_face:

[2021-05-07 21:20] evilaliv3 opened #5933 "Bump 2FA secret bit length from 80 bits to 160bits as recommended by RFC4226"
While evaluating a patch for https://github.com/freedomofpress/securedrop/issues/5613 i noticed that pyotp seems to be still generating secrets of 80 bits length that is actually discouraged by [RFC4226](https://tools.ietf.org/html/rfc4226):

```R6 - The algorithm MUST use a strong shared secret.  The length of the shared secret MUST be at least 128 bits. This document RECOMMENDs a shared secret l

[2021-05-07 21:24] #5916 closed, assigned to nobody

[2021-05-08 18:20] prateekj117 commented on #5787
@zenmonkeykstop @rmol @kushaldas May I take this up?

[2021-05-10 15:11] #5931 closed, assigned to nobody

[2021-05-10 18:48] eloquence commented on #5787
@prateekj117 It would be great if you could take a first stab at this, for sure!

[2021-05-11 23:51] DrGFreeman commented on #5693
@eloquence, Sure, I'll have a look.

The cropping I implemented only crops the bottom. Here the cropping occurs at the top on long pages so I believe the size used by the Selenium driver may not be high enough to capture the whole page.

P.S. Sorry for the late reply, I must have missed the GitHub notification and just found this while browsing through the issues.

[2021-05-13 00:14] zenmonkeykstop commented on #5929
## 1.8.2 QA Checklist - NUC8(mon)+NUC10(app)

### Environment

- Install target: Nuc10+Nuc8
- Server OS: Focal
- Tails version: 4.19beta
- Test Scenario: upgrade
- SSH over Tor: yes
- Onion service version: v3...
- Release candidate: rc2
- General notes:

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x] AppArmo

[2021-05-14 21:57] zenmonkeykstop opened #5940 "The version of pip installed by dh_virtualenv in the app venv is erroring out"
## Description

As part of release prep, the securedrop builder image was updated, pulling in a new Ubuntu `python3-pip` package in the process. This package is installed in the `securedrop-app-code` venv by dh_virtualenv during the build process (whether it should be is an open question), and is used in a `testinfra` test that checks expected package install versions against the versions reported

[2021-05-15 01:10] eloquence opened #5942 "(develop) `securedrop-admin tailsconfig` forces presence of `tor_v3_keys.json` for Journalist Workstations"
## Description

Journalist Workstations should not hold a copy of `tor_v3_keys.json`, which contains sensitive SSH onion service client authentication keys. However, running `securedrop-admin --force tailsconfig` on current `develop` fails with an error complaining that `tor_v3_keys.json` is missing.

## Steps to reproduce

1. On a fresh Tails USB w/ persistence set up, check out https://github.co

[2021-05-15 11:58] cbetit opened #5943 "Task install the grsecurity-patched kernel fails"
I am trying to install securedrop on proxmox VMs each running Ubuntu 20.04
My admin workstation is running from a tails usb on a laptop

Installation fails on this task: install the grsecurity-patched kernel
Error reads; ansible async task did not complete within the requested time

![Securedrop Error](https://user-images.githubusercontent.com/84191926/118359758-4a7e4880-b585-11eb-9d8d-09c982455b2

[2021-05-17 15:37] zenmonkeykstop opened #5946 "Add Zap CI run against web applications."
## Description

Adding an automated OWASP Zap run against the SI and JI would help catch potential webapp exploits. Given the release cadence a nightly or even weekly run against develop would probably be sufficient.

## User Research Evidence

None but see also https://github.com/freedomofpress/securedrop/issues/4030

## User Stories

n/a

[2021-05-17 15:54] zenmonkeykstop commented on #5943
Hi @cbetit - we strongly recommend against the use of virtualization for SecureDrop servers due to security concerns. See https://docs.securedrop.org/en/stable/hardware.html?highlight=virtualization#required-hardware and the threat model at https://docs.securedrop.org/en/stable/threat_model/threat_model.html for more information on that.

If you're looking to set up a public SecureDrop, FPF can he

[2021-05-17 18:24] #5832 closed, assigned to nobody

[2021-05-17 19:06] #5847 closed, assigned to nobody

[2021-05-17 20:21] #5693 closed, assigned to nobody

[2021-05-18 00:25] conorsch commented on #5928
Update: I have not investigated here, although I remain optimistic that simply updating the boxes (and thereby their apt lists) will shave at least a few minutes off each staging run. @maeve-fpf mentioned she'd be interested in tackling this one, so I'll recommend we carry forward onto next sprint, and I can advise and/or pair as necessary.

[2021-05-18 07:04] cbetit commented on #5943
@zenmonkeykstop thank you for your response.
Thank you for the suggestion. Let me sort out my hardware, I will most definitely get in touch via the channels recommended.

👍

[2021-05-18 07:04] #5943 closed, assigned to nobody

[2021-05-18 19:24] zenmonkeykstop commented on #5929
## 1.8.2 QA Checklist

For both upgrades and fresh installs, here is a list of functionality that requires testing. You can use this for copy/pasting into your QA report.

If you have submitted a QA report already for a 1.8.2 release candidate with successful basic server testing and application acceptance testing sections, then you can skip these sections in subsequent reports, unless otherwise i

[2021-05-18 19:40] emkll commented on #5929
## 1.8.2-rc3 upgrade from 1.8.1 in VMs In progress
### Environment

- Install target: Vagrant Prod VMs
- Server OS: 20.04
- Tails version: 4.18
- Test Scenario: Upgrade
- SSH over Tor: Yes
- Onion service version: V3-only
- Release candidate: rc3
- General notes:

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x

[2021-05-18 20:05] rmol commented on #5929
### Environment

- Install target: NUC7i5BNH
- Server OS: Ubuntu 20.04
- Tails version: 4.18
- Test Scenario: clean install, Postfix `From:` header matches auth
- SSH over Tor: yes
- Onion service version: 3
- Release candidate: rc3
- General notes:

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x] AppArmor is

[2021-05-18 23:26] #5787 closed, assigned to nobody

[2021-05-19 13:54] zenmonkeykstop opened #5952 "Intermittent Tor connection failures on Tails 4.20 when the network hook script runs"
## Description

With SD set up on Tails, a network hook script (or rather the `securedrop_init.py` script run by the hook) runs every time a network interface (that's not the loopback) comes up. This script copies Tor config changes into place and bounces Tor, to allow access to authenticated hidden services (JI, SSH).

In Tails 4.19rc1, Tor is now started manually by the user via the new Tor Conn

[2021-05-19 16:23] rocodes opened #5955 "Validate-apt-version task may not be needed on Focal"
## Description

`validate-apt-version`, which is named as a Xenial task, runs on Focal installs:
https://github.com/freedomofpress/securedrop/blob/012d30e8baeb8ffa7c10a56f4b43c464abf87cf7/install_files/ansible-base/roles/install-fpf-repo/tasks/validate_apt_version.yml

According to https://nvd.nist.gov/vuln/detail/CVE-2019-3462, the versions of `apt` that ship with Ubuntu 20.04 are not affected, s

[2021-05-19 16:26] conorsch commented on #5955
Thanks, @rocodes. You're right, we can safely remove that code now. Ideally we'd be able to use HTTPS across the board for all apt repos, to be a bit more defensive against similar vulnerabilities in the future, but many of the Canonical repos are still HTTP-only. The FPF apt repo is already HTTPS, and will remain so.

[2021-05-19 16:52] sssoleileraaa opened #5956 "OSSEC test alert can be triggered outside of the JI when there's an active admin session"
## Description

_Initially reported by Chris Lyne from the Tenable Research Team on May 10th 2021. You can find their advisory here: https://www.tenable.com/security/research/tra-2021-17_

If an attacker knows the private Journalist Interface onion URL (a 56-character alphanumeric string only shared internally within a news org), they could then attempt to trick an authenticated admin into clickin

[2021-05-19 16:54] sssoleileraaa commented on #5956
Closed by https://github.com/freedomofpress/securedrop/pull/5947

[2021-05-19 16:54] #5956 closed, assigned to nobody

[2021-05-19 21:07] zenmonkeykstop commented on #5933
This works with existing data (with 16-char OTP secrets) because the underlying db ignores the string lengths imposed by `models.py`, but it would probably be better to:

- use pyotp >= 2.6.0, which enforces a 32-char minimum
- update the db model to explicitly set that field to 32 chars (more for consistency's sake than anything else)

With either changes, existing 16-char secrets will still work

[2021-05-19 21:09] #5904 closed, assigned to nobody

[2021-05-19 23:56] eloquence commented on #5923
(Re-milestoned to 2.0.0 now that the 1.8.2 part of this task has been completed.)

[2021-05-20 00:12] eloquence commented on #5940
This was for now addressed via #5939. What additional follow-up is required here prior to the release of 2.0.0?

[2021-05-20 00:38] conorsch commented on #5512
Only just started on implementation work today, so didn't get very far. The list of goals above remains solid, although I'll add that the current "apt-local" setup is split between having requirements in the `Vagrantfile` and in the `molecule/upgrade/` directory. We should disentangle those a bit, and make it more straightforward to create prod libvirt VMs, specifically for use with the Tails envi

[2021-05-20 16:55] eloquence commented on #5933
See also #5613, which proposes removal of the `pyotp` dependency.

[2021-05-20 18:36] eloquence opened #5959 "Add API endpoint for batch deletion of files and messages associated with a source"
As part of implementing Safe Deletion for the SecureDrop Client (https://github.com/freedomofpress/securedrop-client/issues/1202), we've identified the need for a new endpoint that batch-deletes files and messages associated with a source, to improve roundtrip performance of "Files and Messages" deletion.

[2021-05-20 18:37] eloquence commented on #5959
@zenmonkeykstop has offered to take point on this, starting with developing a spec for discussion.

[2021-05-20 19:49] eloquence commented on #5923
During this sprint we will need to:
- Remove the old signing key preparatory to the 2.0.0 release
- Handle the SecureDrop Workstation signing key rotation, also in two stages (https://github.com/freedomofpress/qubes-template-securedrop-workstation/issues/20, https://github.com/freedomofpress/securedrop-debian-packaging/issues/249 and https://github.comhttps://github.com/freedomofpress/securedrop-w

[2021-05-20 20:10] eloquence commented on #5952
Still pending reproduction. At minimum during this sprint we may see another RC (and then the final at the end of the sprint period) and can do some additional testing here.

[2021-05-23 13:16] prateekj117 commented on #5959
@eloquence @zenmonkeykstop Let me know if I could work on this issue.

[2021-05-24 10:22] kushaldas commented on #5898
For the 2.0.0 release, I suggest to move to the `3.3.2` as we can easily build it from the sources, and then in the next release we can change the build process to use the prebuilt wheels from our workflow/git repository.

[2021-05-24 16:29] #5929 closed, assigned to nobody

[2021-05-24 21:31] maeve-fpf commented on #5928
I've built a new image; ID is here: https://github.com/freedomofpress/securedrop/compare/update-ci-nested-virt-buster

[2021-05-25 13:51] kushaldas opened #5961 "make dev failing with GNUPG error"
## Description

`make dev` is failing with GNUPG errors after adding the dummy sources.

## Steps to Reproduce

- [ ]  `make dev`

## Expected Behavior

It should start the application properly.

## Actual Behavior

[code]

## Comments

[2021-05-25 14:31] rmol commented on #5961
I pulled latest `develop` (b6dcf555bee47c585196f09a512a052791246e66) and ran `make dev` several times. There were no errors at startup, and I was able to visit the source interface, create a new source, and submit without any errors.

[2021-05-25 19:29] conorsch commented on #5961
Also cannot reproduce. I made sure to run `docker system prune --all --volumes --force` beforehand, so the container was built fresh. I didn't interact with the app after the container came up, but no errors were shown during creation.

[2021-05-26 14:20] zenmonkeykstop opened #5962 "Update Babel to >=2.9.1"
A vulnerability in Babel 2.9.0  has been found that allows for arbitrary code execution, as described here: https://www.tenable.com/security/research/tra-2021-14

Initial analysis of the vulnerability indicates that it isn't exploitable in SecureDrop, but as a matter of course the dependency should be updated in the next release.

[2021-05-26 16:01] eloquence commented on #5961
Closing until we get a clean repro.

[2021-05-26 16:01] #5961 closed, assigned to nobody

[2021-05-27 07:18] kushaldas commented on #5961
After cleaning all docker related things, I got a new error now:

[code]

[2021-05-27 07:27] kushaldas commented on #5961
and after a reboot and cleaning of everything again, things are now working

[2021-06-01 17:51] #5898 closed, assigned to kushaldas

[2021-06-01 17:56] eloquence commented on #5952
The changes to the connection wizard have been deferred to Tails 4.20, due on 2021-07-13. Re-milestoning this issue to the next release.

[2021-06-01 21:10] #5942 closed, assigned to eloquence

[2021-06-03 14:50] zenmonkeykstop opened #5969 "Release SecureDrop 2.0.0"
This is a tracking issue for the release of SecureDrop 2.0.0

Tentatively scheduled as follows:

**String and feature freeze:** 2021-06-08
**String comment period:**  2021-06-08 - 2021-06-11
**Translation period:** 2021-06-11 - 2021-06-21
**Pre-release announcement:** 2021-06-15
**Release date:** ~2021-06-22

**Release manager:** @zenmonkeykstop
**Deputy release manager:** @kushaldas
**Localizatio

[2021-06-03 17:38] eloquence commented on #5901
During this sprint, @kushaldas will investigate this build workflow locally, to begin scoping work for the next sprint.

[2021-06-03 19:04] zenmonkeykstop opened #5970 "Bump Tor version to 0.4.5.8"
New Tor stable version is out as of May 10 - it should be included in next SD release.

Release notes: https://blog.torproject.org/node/2031

[2021-06-03 23:01] #5970 closed, assigned to nobody

[2021-06-04 00:12] eloquence opened #5972 "Review and prioritize 2019 accessibility report findings"
In 2019, with support from Internews, Accessibility Lab completed a review of the SecureDrop Journalist Interface and the SecureDrop website. While we reviewed the findings of the report, at the time, we did not have bandwidth to implement significant changes. Thanks to continued support from Internews, @cfm is working with us, and will review these findings and develop a prioritized set of improv

[2021-06-04 00:21] cfm commented on #5972
Here's my [first-pass triage](https://docs.google.com/spreadsheets/d/13lbFPR1Pm4QbcVz_7oVxMmKViqSl268CKA0ixoMyYxw/edit#gid=0) of the report's recommendations, for discussion with @zenmonkeykstop and @ninavizz at your convenience.  If more analysis is needed here before we review together, just let me know.

[2021-06-04 05:15] ninavizz commented on #5972
Off the cuff I will offer that I believe many of the key colors all changed **_after_** this audit was conducted. The "Get Codename" page still uses the older color schema, and the messaging and lack of an active-state are all the same. I think we also just added an updated alt-tag to the newsroom logo. Just FYI.

A related wishlist item of my own, in service to ongoing UX improvements: the odd he

[2021-06-04 19:57] rmol opened #5973 "In dev environment, multiple active InstanceConfig records can be created, breaking things"
## Description

If the database is created with `create_all` instead of migrations, there won't be a default `InstanceConfig` record. On first request the [source](https://github.com/freedomofpress/securedrop/blob/2971b91b31ba9abf0d6372f4f4db9d796f83e1c5/securedrop/source_app/__init__.py#L136) or [journalist](https://github.com/freedomofpress/securedrop/blob/2971b91b31ba9abf0d6372f4f4db9d796f83e1c

[2021-06-05 16:19] prateekj117 commented on #5959
@eloquence Let me know if I can take this up.

[2021-06-07 15:08] conorsch commented on #5928
Good news, that new image is already passing in CI: https://app.circleci.com/pipelines/github/freedomofpress/securedrop?branch=update-ci-nested-virt-buster @maeve-fpf Would you mind opening a PR? I'll handle review (which is mostly confirming that CI passes).

[2021-06-07 15:27] eloquence commented on #5959
This was resolved via #5963.

[2021-06-07 15:27] #5959 closed, assigned to nobody

[2021-06-07 19:48] #1584 closed

[2021-06-07 19:57] eloquence opened #5978 "Update cryptography depdency for securedrop-admin"
#5964 updated `cryptography` for the server code, and #5975 will do so for the test requirements. That leaves `securedrop-admin`:

https://github.com/freedomofpress/securedrop/blob/7b71108bd0069c49d6da400b7076782b1f244c93/admin/requirements.txt#L39

As with the other requirements files, we'll ideally want to migrate to 3.4.7 or later, which brings with it the Rust build-time requirement.

[2021-06-07 22:00] #3208 closed

[2021-06-07 22:00] #5512 closed, assigned to conorsch

[2021-06-07 22:00] #5883 closed, assigned to rmol

[2021-06-08 19:34] zenmonkeykstop commented on #5972
Note overlap (in the 1.1.* items) with https://github.com/freedomofpress/securedrop/issues/5743 .

[2021-06-08 19:58] ninavizz commented on #5743
Leaving alt-tags blank is often considered ableist and thus not desirable. That is part of why I dislike icons for purely decorative use (such as on the _Submit_ button). A resource I prefer for accessibility when on the fence from a w3 consortium recommendation, is here: https://www.a11yproject.com/

[2021-06-08 20:20] #5962 closed, assigned to nobody

[2021-06-09 01:57] zenmonkeykstop commented on #5743
Apparently said site makes the same recommendation: https://www.a11yproject.com/checklist/#make-sure-that-decorative-images-use-null-alt-empty-attribute-values

[2021-06-09 10:29] KwadroNaut commented on #5743
Totally makes sense to leave out an alt-text when as @ninavizz explains. The isseu that triggered me, is an icon that comes without any text. ![image](https://user-images.githubusercontent.com/99527/121337131-80acaf00-c91c-11eb-89c0-260204e08b70.png) I'm not sure what the best practices are there?

I appreciate it that these alt-tags are localized too!

Ironically I'm having troubles with the page

[2021-06-09 14:22] zenmonkeykstop opened #5981 "Standardize and automate changelog generation"
## Description

Everyone in the RM role has their own personal process for generating the changelog for a given release, but all of them are more labor-intensive and error-prone than they should be. Having a single process that was at least partially automated would make the RM role more pleasant.

Feedback and suggestions are more than welcome!

[2021-06-09 14:52] rmol commented on #5981
I've been meaning to look into [AutoPub](https://github.com/autopub/autopub/). It doesn't yet support incremental updates of the changelog, but it [could](https://github.com/autopub/autopub/issues/18#issuecomment-845248237). It can also generate GitHub releases, and publish to PyPI, which are other tasks we haven't automated well.

[Conventional commits](https://www.conventionalcommits.org) are in

[2021-06-09 14:57] zenmonkeykstop commented on #5743
I think when we have an icon without any text it's non-decorative by definition, and so it should definitely have a non-null and descriptive alt attribute. So any examples of that we should fix.

[2021-06-09 20:13] #5906 closed, assigned to nobody

[2021-06-09 21:42] ninavizz commented on #5743
Dang. That's a total surprise as a recommendation by them, tbh. But the more I think about it, the more it makes sense for usability in the context of a task, vs in the context of an experience to _consume content_ (such as in docs). In the context of a task it'd be distracting, vs in the context of content consumption it'd contribute to the desired experience.

Thx for that flag, Kev! :D

[2021-06-10 12:25] KwadroNaut commented on #5743
I'll try again: remove 'icon,' we don't need to be told it's a button or an icon, that's information that comes from the context. https://www.w3.org/WAI/tutorials/images/functional/#image-used-in-a-button

[2021-06-10 18:44] cfm opened #5983 "decorative `img`s need empty `alt`s"
## Description

[Accessibility Lab recommendation](https://docs.google.com/document/d/1jZlKco2YgOrrI4PmTkG_Q8lKuV5VxCds/edit#):

## User Research Evidence

[WCAG 1.1.1](https://www.w3.org/TR/UNDERSTANDING-WCAG20/text-equiv-all.html) per #5972.

## Implementation

1. [x] Make list of images that are self-evidently decorative even out of context
2. [x] Close review of `alt` attributes for images in

[2021-06-10 18:48] cfm opened #5984 "functional `img`s need explanatory `alt`s"
## Description

[Accessibility Lab recommendation](https://docs.google.com/document/d/1jZlKco2YgOrrI4PmTkG_Q8lKuV5VxCds/edit#):

## User Research Evidence

[WCAG 1.1.1](https://www.w3.org/TR/UNDERSTANDING-WCAG20/text-equiv-all.html) per #5972.

**See also:**  #5982

[2021-06-10 18:51] cfm opened #5985 "status-indicator `img`s need explanatory `alt`s and ARIA annotations"
## Description

[Accessibility Lab recommendation](https://docs.google.com/document/d/1jZlKco2YgOrrI4PmTkG_Q8lKuV5VxCds/edit#):

1. `securedrop/journalist_templates/_source_row.html`
    1. [x] star `img`
    2. [x] `input[type=checkbox]`
2. `securedrop/journalist_templates/col.html`
    1. [x] `input[type=checkbox]`
    2. [x] file-type indicator
    3. [x] un/read indicator

## User Research Evi

[2021-06-10 18:55] cfm opened #5986 "semantic (HTML5/ARIA) page structure in Source Interface"
## Description

[Accessibility Lab recommendations](https://docs.google.com/document/d/1jZlKco2YgOrrI4PmTkG_Q8lKuV5VxCds/edit#) include:

- `h1`...`hn` hierarchy
- HTML5 section elements
- ARIA roles ("landmarks"), labels, and descriptions

Our findings include:

- moving decorative `img` elements to CSS styles on semantic elements

## User Research Evidence

[WCAG 1.3.1](https://www.w3.org/TR/UND

[2021-06-10 18:57] cfm opened #5987 "semantic (HTML5/ARIA) page structure in Journalist Interface"
# Description

[Accessibility Lab recommendations](https://docs.google.com/document/d/1jZlKco2YgOrrI4PmTkG_Q8lKuV5VxCds/edit#) include:

- `h1`...`hn` hierarchy
- HTML5 section elements
- ARIA roles ("landmarks"), labels, and descriptions

Our findings include:

- moving decorative `img` elements to CSS styles on semantic elements
- Keep in mind per @eloquence in <https://github.com/freedomofpress

[2021-06-10 19:37] eloquence commented on #5923
Overview of current state and desired state by component:
https://docs.google.com/spreadsheets/d/1vBNyEGuJEmWvu-3_N1NAJJEJAl-j3pdGdt-PjI-uiPg/edit#gid=0

[2021-06-11 10:02] evilaliv3 commented on #4769
@eloquence @zenmonkeykstop: I consider that now that securedrop is based on Focal and hosts specific different configurations for Focal and Bionic we could easily add this support without impacting the Bionic release.

I'm going to prepare a pull request  based on the latest codebase

[2021-06-14 14:31] zenmonkeykstop opened #5989 "[2.0.0-rc1] Tails environment validation fails on first installer run"
## Description

A check was added in the `validate` role that assumes that `app-journalist.auth_private` should always be present. This is not the case for initial installs.

## Steps to Reproduce

In a prod environment, complete the initial setup steps and run `./securedrop-admin install`

## Expected Behavior

Installation proceeds past the `Confirm that the Journalist auth file is present` step

[2021-06-14 20:56] #5989 closed, assigned to nobody

[2021-06-14 20:59] zenmonkeykstop commented on #5969
## 2.0.0 QA Checklist - VMs

### Environment

- Install target: prod vms
- Tails version: 4.19
- Test Scenario: fresh
- SSH over Tor: yes
- Release candidate: rc1
- General notes: (Installer broken thanks to #5989 - manually patched)

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x] AppArmor is loaded on app

[2021-06-15 14:15] zenmonkeykstop opened #5991 "Update SD Tor to new stable series"
Tor 0.4.6.5 is available (though not as .debs as yet). Once packaged, it should be investigated as a candidate for the next SecureDrop release.

[2021-06-15 16:08] kushaldas commented on #5969
## 2.0.0 QA Checklist - VMs

### Environment

- Install target: prod vms
- Tails version: 4.19
- Test Scenario: Update from 1.8.2
- SSH over Tor: yes
- Release candidate: rc1
- General notes: None

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x] AppArmor is loaded on app
    - [x] 0 processes are running uncon

[2021-06-15 22:05] cfm commented on #5743
As you suggested originally, @gonzalo-bulnes, a first step here could be to link to guidance (e.g., [this W3C decision-tree](https://www.w3.org/WAI/tutorials/images/decision-tree/)) in `securedrop-docs` and in the checklist used in `securedrop`'s pull-request template.  I'd be happy to draft these changes if there's interest.

I'll also note here an approach we discussed briefly last week our prio

[2021-06-16 12:30] kushaldas commented on #5969
I did fresh install on `2.0.0-rc2` couple of time with #5990 in mind. By keeping all the `ths` and private key files, and after removing all of those files.

[2021-06-16 19:42] rocodes commented on #5969
## 2.0.0 QA Checklist

### Environment

- Install target: NUC7i7DNHE
- Tails version: 4.19
- Test Scenario: clean install
- SSH over Tor: yes
- Release candidate: rc2
- General notes:

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x] AppArmor is loaded on app
    - [x] 0 processes are running unconfined
- [x] A

[2021-06-16 21:34] eloquence opened #5994 "`securedrop-admin` does not include new UID in signature check"
## Description

`securedrop-admin` (which is used by the graphical updater) does not check for our new release key UID, here:

https://github.com/freedomofpress/securedrop/blob/develop/admin/securedrop_admin/__init__.py#L946-L949

The new UID is `securedrop-release-key-2021@freedom.press`. This omission means that the tag verification will fail. (Note the closing quotation mark on the first line,

[2021-06-16 21:44] eloquence opened #5995 "gpg --keyserver option is marked as deprecated"
## Description

We use the `--keyserver` option here:
https://github.com/freedomofpress/securedrop/blob/develop/admin/securedrop_admin/__init__.py#L917

As of gpg 2.2.x, that option is marked as deprecated in the `man` page. There is no deprecation timeline, so low priority for now, but filing for tracking purposes.

[2021-06-16 22:04] rocodes opened #5997 "[2.0.0-rc2] Failure during tailsconfig when provisioning Journalist USB: ~/Persistent/.securedrop/torrc_additions does not exist"
## Description

During QA (rc2), when attempting to verify #5965, I encountered an error running `tailsconfig`.

## Steps to Reproduce

- New Tails 4.19 USB, persistence enabled
- clone SD repo
- copy in `app-journalist.auth_private` and `app-sourcev3-ths`
- verify tag + check out 2.0.0-rc2
- `./securedrop-admin setup`, `./securedrop-admin tailsconfig`

## Expected Behavior
`tailsconfig` completes

[2021-06-16 22:33] zenmonkeykstop commented on #5997
This is a bug in the workstation provisioning code - previously `torrc_additions` was created by the task handing v2 authenticated services (even if those services did not exist) and then updated with the v3 config. the former task was removed, so on new workstation provisionings, nothing creates that file.

[2021-06-16 22:38] gonzalo-bulnes commented on #5743
Thanks for the ping @cfm!

I originally asked about guidelines because in my experience accessibility increases with awareness, and I believe that automated testing alone is unlikely to help as much as we'd think at first. (I may be saying something that's well understood already, please bear with me!) On the other side, practical steps to address the clearest or more common issues can be a greatl

[2021-06-16 23:16] cfm commented on #5743
Absolutely, @gonzalo-bulnes.  For what it's worth, I see a very modest goal for automated accessibility testing, which is to prevent future *regressions* as SecureDrop's accessibility improves.  In other words, the #5972 epic would ideally yield:

1. concrete changes following the recommendations of the 2019 Accessibility Lab audit linked there;
2. distillation of those recommendations in the cont

[2021-06-16 23:24] eloquence commented on #5923
Due to #5994, it may be necessary to sign the 2.0.0 tag using the old key, to avoid broken updates using the graphical updater. (Even when the fix for that issue is merged and backported, users will still be running the old updater code on their workstations by the time they need to get to 2.0.0.)

[2021-06-17 05:48] #5997 closed, assigned to nobody

[2021-06-17 06:17] creviera commented on #5969
## 2.0.0 QA Checklist - Upgrade hardware installation

### Environment

- Install target: NUC 7i5BNH
- Tails version: 4.17
- Test Scenario: upgrade from 1.8.2
- SSH over Tor: yes
- Release candidate: rc2
- General notes:

### Upgrade

1. `securedrop-admin backup`
2. Modify `/etc/apt/sources.list.d/apt_freedom_press.list` and `/etc/apt/security.list` to point to `apt-test.freedom.press`, then `sudo

[2021-06-17 12:25] #5994 closed, assigned to nobody

[2021-06-17 17:20] #5743 closed, assigned to nobody

[2021-06-17 19:42] cfm opened #6003 "all-caps button labels are misread by screen-readers"
## Description

For example:  A button labeled `ADD USER` will be announced by a screen-reader as an initialism to be spelled out: "A.D.D. user".

https://github.com/freedomofpress/securedrop/blob/012d30e8baeb8ffa7c10a56f4b43c464abf87cf7/securedrop/journalist_templates/admin.html#L6-L9

## Steps to Reproduce

For this example:

1. Navigate to the Admin Interface of the Journalist Interface.
2. Act

[2021-06-17 19:44] eloquence commented on #6003
Note there are i18n arguments against `text-transform`, see https://github.com/freedomofpress/securedrop/issues/1587#issuecomment-694969536

[2021-06-17 20:53] sssoleileraaa opened #6004 "Updater failure loop when securedrop_update.flag removed without closing Updater"
## Description

If you are already on the latest version of the Tails admin workstation and `~/Persistent/.securedrop/securedrop_update.flag` is present, then the updater fails with a generic "Contact an admin" message. The updater remains open with the "Update Now" button. If you remove the flag file and click "Update Now", it fails again and will continue to fail until you close the updater and

[2021-06-17 22:23] creviera commented on #5969
## 2.0.0 QA Checklist - Upgrade hardware installation

### Environment

- Install target: NUC 7i5BNH
- Tails version: 4.17
- Test Scenario: upgrade from 1.8.2
- SSH over Tor: yes
- Release candidate: rc3
- General notes:

### Upgrade

1. Since this is the second RC that I'm testing, I downgraded the servers back to 1.8.2 by changing `/etc/apt/sources.list.d/apt_freedom_press.list` and `/etc/apt/se

[2021-06-17 22:29] sssoleileraaa commented on #5969
2.0.0 QA Checklist - Upgrade hardware installation
Environment
• Install target: NUC 7i5BNH
• Tails version: 4.17
• Test Scenario: upgrade from 1.8.2
• SSH over Tor: yes
• Release candidate: rc2
• General notes:
Upgrade
1. securedrop-admin backup
2. Modify /etc/apt/sources.list.d/apt_freedom_press.list and /etc/apt/security.list to point to apt-test.freedom.press, then sudo apt update && sudo apt

[2021-06-18 21:24] zenmonkeykstop opened #6005 "Unattended upgrades from 1.8.2 to 2.0.0-rc3 fail"
## Description

Unattended upgrades from 1.8.2 to 2.0.0-rc3 fail to complete successfully on the app server, with the `securedrop-app-code` package being held back.

## Steps to Reproduce

- Set up a prod environment (hardware or VMs) with current version 1.8.2
- install testing apt key and flip repos from `apt.freedom.press` to `apt-test.freedom.press` in apt sources lists
- run `sudo apt-get upd

[2021-06-18 23:04] sssoleileraaa commented on #4839
I ran into this issue today and https://github.com/freedomofpress/securedrop/issues/4839#issuecomment-533304659 worked for me

[2021-06-21 06:22] sssoleileraaa commented on #5969
## 2.0.0 QA Checklist

### Environment

- Install target: NUC 7i5BNH
- Tails version: 4.17
- Test Scenario: upgrade from 1.8.2
- SSH over Tor: yes
- Release candidate: rc3
- General notes:

### Downgrade

Since this is the second RC that I'm testing, I downgraded the servers back to 1.8.2 by following these steps:

1. Change `/etc/apt/sources.list.d/apt_freedom_press.list` and `/etc/apt/security.l

[2021-06-21 07:00] kushaldas commented on #5969
I can now verify what @zenmonkeykstop also noticed via `unattended-upgrade -d`, `securedrop-app-code` was not upgraded.

[code]

[2021-06-21 08:17] kushaldas commented on #6005
I can now verify this issue.
[code]

[2021-06-21 08:26] kushaldas commented on #6005
I think this happened due to <https://github.com/freedomofpress/securedrop/pull/5954/files#diff-6625b173542ab918529e3fb0d9afe3e148b3bc79d4cd33c0106d237c155155b0R11>, during review I missed how that `Conflicts` actually works.

From the [Debian documentation](https://www.debian.org/doc/debian-policy/ch-relationships.html#conflicting-binary-packages-conflicts):

[code]

Also from the same page:

[co

[2021-06-21 13:57] #6005 closed, assigned to kushaldas

[2021-06-21 14:10] rmol commented on #6005
The removal of `haveged` was prompted by the [idea that it could actually give some control over the system's source of randomness if compromised](https://github.com/freedomofpress/securedrop/issues/1584#issuecomment-571380760).

From your reading of the control file docs, do you think marking `securedrop-app-code` Essential could also work?

[2021-06-21 14:33] kushaldas commented on #6005
Maybe, this is totally unknown territory for me. Specially when `Essential` packages are important for the system to run. I don't know enough how that break things now or in future.

[2021-06-21 15:58] rmol commented on #6005
After looking a bit more, I think `unattended-upgrades` is going to [refuse to handle a deletion like this](https://github.com/mvo5/unattended-upgrades/issues/223#issuecomment-533092414) no matter how we trigger it, so if we want `securedrop-app-code` updated, #6006 is required.

[2021-06-23 16:00] kushaldas commented on #5901
Few open questions/points:

- If we keep all the wheels in the [securedrop-debian-packaging]() repository, we have to clone it during the package build process. This may slow down the whole package building effort. If we mount it on the build container from the local host system, then things will be much faster and the human will be in charge to keep the repo updated from git. Or else the package

[2021-06-23 16:26] kushaldas commented on #5969
From `1.8.2` I can upgrade to `SecureDrop 2.0.0~rc5` using the command `sudo unattended-upgrade -d`. I can also verify that the `haveged` is masked.

[code]

[2021-06-23 18:24] zenmonkeykstop commented on #5969
## 2.0.0 QA Checklist

### Environment

- Install target: VMs
- Tails version: 4.19
- Test Scenario: fresh
- SSH over Tor: no
- Release candidate: rc5
- General notes:

### Basic Server Testing

- [ ] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x] AppArmor is loaded on app
    - [x] 0 processes are running unconfined
- [x] AppArmor is loade

[2021-06-23 19:17] rmol commented on #5969
## 2.0.0 QA Checklist

### Environment

- Install target: NUC8/NUC10
- Tails version: 4.19
- Test Scenario: upgrade
- SSH over Tor: yes
- Release candidate: rc5
- General notes:

### Basic Server Testing

- [x] I can access both the source and journalist interfaces
- [x] I can SSH into both machines over Tor
- [x] AppArmor is loaded on app
    - [x] 0 processes are running unconfined
- [x] AppArmo

[2021-06-24 00:18] cfm opened #6019 "source collection: consolidate file-type and read/unread indicators"
## Description

The Journalist Interface's `col.html` currently displays two status icons for each submission:

| Type | Status | Status Icon | Type Icon |
| --- | --- | --- | --- |
| document | unread | closed envelope | file |
| document | read | open envelope | file |
| message | unread | closed envelope | text |
| message | read | open envelope | text |
| reply | unread | reply arrow | reply a

[2021-06-24 00:48] ninavizz commented on #6019
This is a terrific idea Cory, thank you for filing!

And so begins, the fun path we've all been treading and now invite you to tread along with us: how much work do we wish to invest, in a UI we seek to depreciate?

I've struggled with this one a lot, myself—because in "the real (cough, corporate) world" (_big_ air quotes!) an interface that's expected to exist for another 1-2 years is not conside

[2021-06-24 00:56] ninavizz commented on #6019
**Related:** the dots we see in slack, are indications of people being online or not. Those have been a common semiotic, for many years in messaging apps. Mostly for that reason, I'm averse to appropriating that marker, for a different semiotic. I'm also averse to using a different visual mechanism to communicate the semiotic most folks seem to expect communicated via the bold/not-bold paradigm (o

[2021-06-24 10:15] kushaldas commented on #5995
Man page says:

[2021-06-24 14:24] kushaldas commented on #5901
One good point of having all wheel from a particular OS into separate directory is that we can also separate out the tests in CI machines running the same OS can handle only the wheels from that particular directory. I will update with my findings more later in the evening.

Also the bootstrapping requirements will be different for various OS/projects. For all the workstation projects, it is one s

[2021-06-24 18:29] cfm commented on #6019
On 23 Jun 2021, at 17:49, Nina Eleanor Alter wrote:

Yes, absolutely, and I mean to be sensitive to this question in general.
I opened this ticket, in particular, because it offers a chance to (1)
use an accessibility concern to (2) *simplify*, for as long as it’s
still supported, the UI we seek to deprecate.  Of course, there’s still
a tradeoff in how much to invest *at all* in a UI we seek to de

[2021-06-25 15:39] zenmonkeykstop opened #6022 "QA: Automate basic server testing"
The default QA test plan includes a basic testing section that mostly checks server configuration. These tests are duplicated in the production testinfra tests, so with some work to get `testinfra` to use production settings where available (via `install_files/ansible-base/group_vars/all/site-specific`), it should be possible to reduce tester workload by removing Basic testing in favour of `testin

[2021-06-27 09:06] legoktm opened #6023 "pynacl==1.1.2 dependency incompatible with GCC 11"
## Description

Trying to install the dependencies in `develop-requirements.txt` on a machine with GCC 11 will fail at installing pynacl

## Steps to Reproduce

* Use an environment with GCC 11, e.g. Fedora 34
* Install Python 3.7 and various build dependencies (`dnf install python3.7 virtualenv findutils gcc`)
* Create a virtualenv with Python 3.7
* Try to `pip install -r develop-requirements.txt

[2021-06-28 18:22] eloquence opened #6024 "Use CircleCI's built-in branch filtering feature throughout"
CircleCI supports [branch filters with regular expressions](https://circleci.com/docs/2.0/configuration-reference/#jobfilters). We're currently using the script [`match-ci-branch.sh`](https://github.com/freedomofpress/securedrop/blob/develop/devops/scripts/match-ci-branch.sh) for our branch filter logic.

We should evaluate if there are still reasons to use this script, and if not, replace it with

[2021-06-28 18:25] eloquence opened #6025 "Update Python version for updater-gui-tests"
`updater-gui-tests` currently uses a Python 3.5 image:
https://github.com/freedomofpress/securedrop/blob/14c90e0e32d5c99af0423671fc87e655ac33c1fd/.circleci/config.yml#L183

3.5 reached EOL last year. We should switch to a Python 3.7 image consistent with the Python version used in Tails.

[2021-06-28 18:27] eloquence opened #6026 "Optimize test parallelization"
`app-tests` currently uses a parallelism factor of 3:
https://github.com/freedomofpress/securedrop/blob/14c90e0e32d5c99af0423671fc87e655ac33c1fd/.circleci/config.yml#L91

We are observing job runs with run times like 20 minutes/40 minutes/20 minutes. We should consider if increasing the parallelism or optimizing test distribution could reduce overall job run time further.

[2021-06-29 13:56] #6023 closed, assigned to nobody

[2021-06-29 18:41] cfm commented on #5986
@zenmonkeykstop, I'm starting work on this with the assumption that this and #5987 will each take the form of an omnibus PR consisting of:

1. refactored templates; and
2. stylesheets updated accordingly, with the goal of making it as close as possible to a pixel-perfect markup-only refactoring, with no (visually apparent) UI/UX consequences.

Given this scope, is there a particular sequence or st

[2021-06-29 19:35] #5969 closed, assigned to nobody

[2021-06-29 20:11] #5983 closed, assigned to cfm

[2021-06-29 20:11] #5984 closed, assigned to cfm

[2021-07-01 19:58] cfm opened #6031 "evaluate HTML5 UI elements as browser support improves"
## Description

As browser (specifically, Firefox ESR → Tor Browser) support for HTML5 UI elements improves, it may be possible to use them in place of some of SecureDrop's custom-styled widgets.  These may be (a) easier to implement and maintain, especially in the JavaScript-free Source Interface, and (b) more accessible to more users.

## User Research Evidence

Prompted by experiments during #5

[2021-07-06 14:49] #5978 closed, assigned to nobody

[2021-07-06 16:21] zenmonkeykstop opened #6034 "Release SecureDrop 2.0.1"
This is a tracking issue for the release of SecureDrop 2.0.1. This point release is purely for the purpose of creating a new release tag signed with the updated signing key. No application or server provisioning changes will be included, though recent admin and
development dependencies will be backported. There are no string changes in this release, so localization/translation is not required.

Te

[2021-07-06 17:24] rmol opened #6035 "After 2.0.1, undo the admin test_update xfail from #6033"
## Description

We've temporarily `xfail`ed `admin/tests/test_integration.py::test_update` in #6033 to work around the expired signing key. Once the 2.0.1 tag is signed with just the active key, we should remove the `xfail`.

[2021-07-06 22:31] #6022 closed, assigned to zenmonkeykstop

[2021-07-07 04:36] eloquence commented on #5923
We're mostly done, updated epic with remaining tasks.

[2021-07-07 20:38] rmol commented on #6034
### Environment

- Install target: NUC7i5BNH
- Tails version: 4.19
- Test Scenario: upgrade
- SSH over Tor: yes
- Release candidate: rc1
- General notes:

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop && ./securedrop-admin setup -t`
  -

[2021-07-07 22:26] rmol commented on #6034
### Environment

- Install target: NUC7i5BNH
- Tails version: 4.19
- Test Scenario: clean install
- SSH over Tor: yes
- Release candidate: rc1
- General notes: skipped anything not release-specific, tested earlier

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd

[2021-07-07 23:06] cfm commented on #5972
Notwithstanding good progress here, my research and experiments suggest that some elements of the UI ([for example](https://docs.google.com/document/d/1jZlKco2YgOrrI4PmTkG_Q8lKuV5VxCds/edit?disco=AAAAIplLpuk)) may be impossible to bring into full WCAG compliance without the use of JavaScript, which is not an option on the Source Interface.  Even in these cases where we can't reach full compliance,

[2021-07-08 17:59] eloquence commented on #6034
Graphical updater run from 2.0.0->2.0.1 on Tails 4.19 completed without issues. `cryptography` and `cffi` updated to expected versions. Graphical updater output sans playbook portion: https://gist.github.com/eloquence/24f519df7e149f7a39969403a6810aed

[2021-07-08 20:58] zenmonkeykstop opened #6039 "Use new key to sign a subsequent point release (2.0.1)"

[2021-07-08 21:00] #6039 closed, assigned to nobody

[2021-07-08 21:01] zenmonkeykstop commented on #6039
(created in error messing around with new task -> issue feature)

[2021-07-09 18:06] zenmonkeykstop commented on #5986
A single big PR is fine for this IMO, the scope isn't *that* massive and there isn't an obvious clean way to separate it given styles being used across multiple templates. If you are still thinking of a 3-phase approach, rebasing each phase's commits into one would be helpful but is not required.

Note that you may (will) encounter SASS modules shared between the SI and JI. If you do want separate

[2021-07-12 11:30] #6034 closed, assigned to nobody

[2021-07-12 11:30] #6035 closed, assigned to nobody

[2021-07-14 00:35] eloquence commented on #5952
The Tor Connection Assistant is part of Tails 4.20 (I've re-titled the issue accordingly). I've not been able to reproduce the original issue, but given how timing-dependent it is, it's quite possible that it may still arise.

What I _am_ seeing is a consistent brief flash of a connection error, the first time I connect to Tor (using defaults, without bridges):

![torbad](https://user-images.githu

[2021-07-14 22:25] eloquence opened #6042 "Remove Tails automatic-decompression flag if no longer needed"
This code in `securedrop_init.py`
https://github.com/freedomofpress/securedrop/blob/1a2494d2b27129708e0da6b4278a7e888746daaf/install_files/ansible-base/roles/tails-config/files/securedrop_init.py#L100-L102
may no longer be needed; we removed the instructions for changing this setting on the SVS in https://github.com/freedomofpress/securedrop-docs/commit/bb1e33bb132efc9cff977852c719b4b5ba06b9ec as

[2021-07-15 00:08] eloquence commented on #5952
Here's what I've learned after another 90 minutes or so of investigation:
- I've still not been able to reproduce the original issue, but I am consistently able to reproduce the intermittent error above. Since it is only transiently displayed to the user, and all connections work as expected even after subsequent bounces, it is IMO not necessarily urgent to resolve.
- Tails initially sets `Disable

[2021-07-15 17:55] cfm commented on #6003
After further research:

1. Per https://github.com/freedomofpress/securedrop/issues/1587#issuecomment-694969536: the localization argument against `text-transform` stands.  (Thanks for referring me, @eloquence.)
2. Where testing demonstrates that screen-readers may misread a *specific* label in all caps, [we can override it with `aria-label`](https://webaim.org/discussion/mail_thread?thread=8674#p

[2021-07-15 17:55] #6003 closed, assigned to cfm

[2021-07-15 21:17] cfm opened #6043 "`/create` fails after `/generate` has set per-`tab_id` codenames exceeding maximum cookie size"
## Description

RFC 6265 [states](https://www.rfc-editor.org/rfc/rfc6265.html#section-6.1) that "user agents SHOULD provide [support for] at least 4096 bytes per cookie".  In practice, browsers [including Firefox](https://searchfox.org/mozilla-central/source/netwerk/cookie/CookieCommons.h#58) reject cookies larger than this size.

If loaded repeatedly, `/generate` will accumulate per-`tab_id` code

[2021-07-17 11:59] prateekj117 commented on #6024
@eloquence Sounds good. I can take this up. I see most jobs right now are using both the `match-ci-branch` script alongside Circle CI branch filters. But some have skipped Circle CI branch filters and only using the script. I will make a PR for the same.

[2021-07-20 12:01] skattel49 commented on #5728
Hey, I would like to work on this where do I start? which file do I edit?

[2021-07-20 14:56] Gomesz785 commented on #3586
can anyone note the file that contains the UI coding for following screen?
![image](https://user-images.githubusercontent.com/87658122/126346479-fed29995-0ea8-4c3f-9750-d22aa3dc19c0.png)

[2021-07-20 14:57] Gomesz785 commented on #3586
so i can improve it...

[2021-07-20 15:14] zenmonkeykstop commented on #5728
Hi @skattel49 - I'm not sure how much can really be done to change this behaviour. In order for the icons to be displayed the desktop shortcuts must be marked as trusted, which currently happens in:

 https://github.com/freedomofpress/securedrop/blob/1a2494d2b27129708e0da6b4278a7e888746daaf/install_files/ansible-base/roles/tails-config/files/securedrop_init.py#L122

This script is run every time a

[2021-07-20 15:42] zenmonkeykstop commented on #3586
Hi @Gomesz785 - this UI element is in: https://github.com/freedomofpress/securedrop/blob/develop/securedrop/source_templates/lookup.html

UX changes in the Source Interface do tend to be pretty carefully considered, so if you do want to try to make any changes, please update this issue with an implementation plan first before getting too deep into it.

[2021-07-21 03:28] ninavizz commented on #3586
Hi @Gomesz785 Thank you for your interest in contributing! That UI element has actually been moved to the top of the screen, and a number of other things are also different about the overall UX, today, from how the UI looks in the screenshots above. You can poke around what the current experience looks like, here: http://demo.securedrop.org/

I'm a UX design and research contributor (yes data, yes

[2021-07-21 05:48] ninavizz commented on #3587
@zenmonkeykstop @eloquence You fellas open to removing the "Help Wanted" and "Good First Issue" flags from this one? Until we have more user research findings and a clear direction on the desired design solution (if any), they seem potentially confusing.

[2021-07-21 16:20] zenmonkeykstop commented on #5952
Thanks for following up! That does seem like a related behaviour to my original report - it could just come down to timing/network speed. The fix of waiting for the TCA to finish before firing the network hook makes sense if we can do it, though I'd worry about users never closing the TCA window and then getting confused as to why their shortcuts aren't working. Will set up a 4.20 stick and attemp

[2021-07-21 21:46] #4649 closed

[2021-07-21 23:09] #5973 closed, assigned to nobody

[2021-07-27 11:00] kushaldas opened #6047 "make upgrade-start is broken"
## Description

`make upgrade-start` command failed to create the apt-local instance

## Steps to Reproduce

- `make upgrade-start`

## Expected Behavior

It should finish creating a vm.

## Actual Behavior

[code]

## Comments

`https://github.com/jdauphant/ansible-role-nginx.git` repository is archived.

[2021-07-28 00:20] cfm opened #6048 "reimplement locale menu with `focus[-within]` styles"
_Originally posted by @SaptakS in https://github.com/freedomofpress/securedrop/pull/6041#discussion_r674274553_

[2021-07-28 19:52] cfm opened #6050 "Alembic operations fail with multiple head revisions"
## Description

All Alembic operations fail with Alembic error:

    ERROR [alembic.util.messaging] Multiple head revisions are present for given argument 'head'; please specify a specific target revision, '<branchname>@head' to narrow to a specific head, or 'heads' for all heads

Cf. consistent recent failures of CI jobs `app-tests` and `staging-test-with-rebase` since #5974.

## Steps to Reprodu

[2021-07-28 22:42] eloquence opened #6052 "Test flake: test_unattended_upgrades_functional in `staging-test-with-rebase`"
We've seen this a couple of times in `staging-test-with-rebase`:

[code]

Examples:
- https://app.circleci.com/pipelines/github/freedomofpress/securedrop/2313/workflows/1e215457-a0bd-4e8f-9aec-2c800348d61b/jobs/53583
- https://app.circleci.com/pipelines/github/freedomofpress/securedrop/2753/workflows/70979d3d-3da7-4793-9ecf-c1bfc30864e6/jobs/55748

[2021-07-28 23:08] #6050 closed, assigned to nobody

[2021-07-29 13:28] kushaldas opened #6053 "Upgrade fails for the securedrop-app-code package due to alembic error"
## Description

While trying to upgrade the production vm from a locally built Debian package from a feature branch, the alembic migration step is failing, thus causing `postinst` failure

## Steps to Reproduce

In a different branch:

- `make build-debs`
- Copy over the package to the prod vm `scp build/focal/securedrop-app-code_2.1.0~rc1+focal_amd64.deb vagrant@10.0.1.4:./`
- Try to install it v

[2021-07-31 20:35] zenmonkeykstop opened #6055 "Release SecureDrop 2.0.2"
This is a tracking issue for the release of SecureDrop 2.0.2

Tentatively scheduled as follows:

**Pre-release announcement:** 2021-08-11
**Release date:** 2021-08-12

**Release manager:** KOG
**Deputy release manager:** n/a
**Communications manager:**: EM

_SecureDrop maintainers and testers:_ As you QA 2.0.2, please report back your testing results as comments on this ticket. File GitHub issues

[2021-08-02 16:07] eloquence commented on #6053
Should be resolved by #6051; please reopen if you see it again.

[2021-08-02 16:07] #6053 closed, assigned to conorsch

[2021-08-02 17:45] conorsch commented on #6047
I'll take a look at this today while reviewing https://github.com/freedomofpress/securedrop/pull/5988

[2021-08-02 20:20] conorsch commented on #6047
I was unable to reproduce in my testing. Judging by the message

Failed sending HTTP2 data

it appears to be a transient network error. Please reopen if you still have concerns, @kushaldas.

[2021-08-02 20:20] #6047 closed, assigned to conorsch

[2021-08-04 15:13] #5985 closed, assigned to cfm

[2021-08-05 17:56] cfm opened #6056 "make BCP47/RFC5646 `RequestLocaleInfo.language_tag` property available in locale selectors"
## Description

In `securedrop/source_templates/locales.html`, the `lang` and `hreflang` attributes require the value of the `RequestLocaleInfo.language_tag` property, which is not available in the `g.locales` dictionary.

## Steps to Reproduce

After #6041, validate the HTML of a Source Interface page including the `locales.html` locale selector (i.e., in any of them).

## Expected Behavior

The

[2021-08-05 18:02] cfm opened #6057 "invalid `datetime` attributes"
## Description

In `securedrop/source_templates/lookup.html`, `time` elements have invalid `datetime` attributes giving too many digits for fractional seconds.

## Steps to Reproduce

Validate the HTML of the Source Interface's `/lookup` view.

## Expected Behavior

The page validates.

## Actual Behavior

The page fails validation with errors like:

## Comments

Should be simple to fix with a tru

[2021-08-09 15:41] evilaliv3 commented on #6031
Actually i find this new markup elements very interesting, especially ```details``` due to the improvements they could offer considering that Javascript is disabled within the SecureDrop context.

As for what relates to ```menu``` and `dialog` i would actually propose to wait and see if they will exit from their experimental status https://developer.mozilla.org/en-US/docs/Web/HTML/Element/menu#bro

[2021-08-09 21:11] zenmonkeykstop commented on #5952
I'm seeing the error flash now as described above, no sign of the earlier more serious error. A fix would still be good but it may not be as urgent.

[2021-08-10 16:37] anorthall commented on #6057
I have fixed this in #6058, however I used strftime() instead of the Jinja truncate feature, as you cannot truncate the datetime instance without first converting it to a string.

[2021-08-10 19:39] zenmonkeykstop commented on #6057
Thanks to @cfm for finding this and @anorthall for picking it up! Will add a comment on the PR.

[2021-08-10 20:20] zenmonkeykstop commented on #6055
## 2.0.2 QA Checklist

For both upgrades and fresh installs, here is a list of functionality that requires testing. You can use this for copy/pasting into your QA report.

### Environment

- Install target: NUC10-app/NUC8-mon
- Tails version: 4.21
- Test Scenario: fresh install
- SSH over Tor: no
- Release candidate: 2.02-rc1
- General notes:

### Basic Server Testing
- [x] After installing the te

[2021-08-11 00:18] zenmonkeykstop commented on #6055
Have also confirmed that upgrade path works for 1U servers and that 5.4.136 is present and correct.

[2021-08-11 04:16] eloquence commented on #6055
Release comms draft (minimal as it is) here: https://docs.google.com/document/d/1np9z-E9GZAn_HLliPzVC9kaPZOBVberuw7wZh9p3mto/edit#

[2021-08-11 05:32] kushaldas commented on #6055
Upgrade path works on NUC5.

[2021-08-11 21:14] sssoleileraaa commented on #6055
## 2.0.2 QA Checklist

For both upgrades and fresh installs, here is a list of functionality that requires testing. You can use this for copy/pasting into your QA report.

### Environment

- Install target: NUC7i5BNH-app/NUC7i5BNH-mon
- Tails version: 4.21
- Test Scenario: "Clean install scenario"
- SSH over Tor: no
- Release candidate: rc1
- General notes:

### Clean install
1. Check out rc1 tag

[2021-08-12 14:26] conorsch opened #6061 "Upgrade to tor >=0.4.5.10"
## Description

Tor v0.4.5.10 will be released on 2021-08-16, and fixes a security vulnerability. Details here: https://lists.torproject.org/pipermail/tor-packagers/2021-August/000127.html

As of https://github.com/freedomofpress/securedrop/pull/6059 we intend to move to 0.4.5.9, although that's not released to prod or staging yet. I recommend we go straight to .10 and ship to prod after we've tes

[2021-08-12 19:17] cfm commented on #6026
On preliminary investigation:  For a job `n`, CircleCI is *storing* pytest timings in each run's `junit.xml` artifact, but it's not able to *follow* these timings on job `n+1` ([e.g.](https://app.circleci.com/pipelines/github/freedomofpress/securedrop/2793/workflows/871935ec-36ac-4d2d-a7ac-d63f51a1de15/jobs/55896/steps?invite=true#step-109-17)):

[code]

It looks like `pytest` is identifying tests

[2021-08-12 20:00] sssoleileraaa commented on #6055
For prosperity, whenever a PR is opened (phase 1) in https://github.com/freedomofpress/securedrop-debian-packages-lfs with the branch name "release", the changes are pushed to https://apt-qa.freedom.press/. Then the package on https://apt-qa.freedom.press/ is signed with the prod key and we run through our Preflight Test plan (my results will be posted below). Once all our preflight testing comes

[2021-08-12 21:23] eloquence commented on #6055
GUI update from 2.0.1->2.0.2 on Tails 4.21 worked without issues.

[2021-08-13 15:19] zenmonkeykstop commented on #6061
seconded. will close the 0.4.5.9 one for now.

[2021-08-13 17:14] #6055 closed, assigned to nobody

[2021-08-13 17:14] cfm commented on #5336
This change is drafted in #6063.  @zenmonkeykstop, did you have any additional alerting in mind for failures of the nightly workflow?  I don't think I have access to that configuration (pending freedomofpress/infrastructure#3225).

[2021-08-14 10:05] anorthall commented on #5237
Is this still an open issue? I just tried the steps to reproduce and the text above the button on `/account/account` reads:

Additionally, when clicking on the button, a javascript alert is produced confirming the user wishes to reset OTP. Is this sufficient?

If not, I would be happy to try and implement a solution where the database is not updated until such time a new secret is provided by the

[2021-08-14 10:35] anorthall commented on #5237
## Implementation proposal
- Add a new attribute to `Journalist` model: `temp_otp_secret = Column(String(16), nullable=True)`, and a new method, `generate_temp_totp_shared_secret()` which will save a temporary secret to the DB
- Change the `Reset mobile app credentials` button on `/account/account` to take you to `/account/2fa` instead of immediately resetting the secret.
- Make `/account/2fa` gen

[2021-08-17 01:52] cfm opened #6068 "`updater-gui-tests` fails on changed Debian APT metadata"
## Description

With the August 14 release of Debian Bullseye, Debian Buster has been demoted from `stable` to `oldstable`.  Per #6025, the `updater-gui-tests` CI job uses an old Docker image `circleci/python:3.5`, whose Buster base still expects to be `stable` and whose `apt-get` errors when it discovers that it is not.

## Steps to Reproduce

Trigger a run of the `updater-gui-tests` CI job.

##

[2021-08-17 03:37] cfm commented on #1897
@prateekj117, just wanted to let you know that I have some time at the moment to pick up this task in connection with other CI-related work.  :-)

[2021-08-17 04:58] #6025 closed, assigned to nobody

[2021-08-17 04:58] #6068 closed, assigned to cfm

[2021-08-17 07:14] kushaldas opened #6070 "Debian Buster is now oldstable"
## Description

`apt update` on Debian Buster will now fail as it is now `oldstable`. We will have to explicitly approve update commands.

I first noticed this on: https://app.circleci.com/pipelines/github/freedomofpress/securedrop/2847/workflows/cccc1ea9-3514-4138-a085-5074f12d3322/jobs/56132

## Steps to Reproduce

- [ ] `suod apt update`

## Expected Behavior

- Update should finish normally

#

[2021-08-17 13:23] conorsch commented on #6070
Looks like this was resolved by #6069. If I'm mistaken, @kushaldas, please re-open!

[2021-08-17 13:23] #6070 closed, assigned to nobody

[2021-08-17 14:03] conorsch commented on #6061
Voila: https://blog.torproject.org/node/2062

[2021-08-17 17:34] anorthall commented on #5237
Additionally, maybe rather than using a temporary field stored in the database, perhaps the temporary OTP secret could be stored as a cryptosigned cookie. Might give better performance and be a bit cleaner.

[2021-08-18 16:36] kushaldas commented on #5901
This branch https://github.com/freedomofpress/securedrop-debian-packaging/tree/wheels_on_focal needs to be rebased to latest `securedrop-debian-packaging` repo. And then rebuild the dependencies for app-code.

[2021-08-18 16:43] cfm commented on #5336
For this sprint, after #6063, @zenmonkeykstop will monitor nightly `staging-test-with-rebase` runs and evaluate whether additional alerting will be worthwhile.

[2021-08-18 18:23] eloquence commented on #5901
^ That is the extent of our commitment for the current sprint; we're aiming to continue work on this leading up to the SecureDrop 2.1.0 release.

[2021-08-19 07:33] #1897 closed

[2021-08-19 12:09] #6043 closed, assigned to nobody

[2021-08-23 22:36] cfm opened #6073 "`rel_datetime_format` under-localizes absolute timestamps"
## Description

`time` elements get their `title`s from the `rel_datetime_format` filter, which has a default date format:

https://github.com/freedomofpress/securedrop/blob/012d30e8baeb8ffa7c10a56f4b43c464abf87cf7/securedrop/template_filters.py#L11-L14

This initial `fmt` value constrains the localization that Babel is able to perform.

## Steps to Reproduce

For example:

1. Enter the Source Int

[2021-08-23 23:35] cfm commented on #6026
While we wait to see what timings `app-tests` stabilizes on after #6065, I'm experimenting with other test-splitting strategies in `6026-parallelism-*` branches.  Each will need to be run twice: a first time to generate timings and a second time to consume them and see what changes.

[2021-08-24 00:20] eloquence commented on #5952
I'm still seeing the flash error on Tails 4.21, but only on initial connect, not on reconnect. I'm also sometimes seeing a more serious error which is likely related: the Tails built-in update check complains that it cannot connect (it does not retry). In short, restarting Tor _exactly at the same time_ that Tails is doing its best to connect to Tor and run its own update checks is probably not a

[2021-08-24 16:37] anorthall commented on #6073
I will work on this, if that's okay.

[2021-08-24 19:06] cfm opened #6074 "research dispatching long-running CI jobs to pre-configured runner"
**Tl;dr:**  Don't let's reinvent CircleCI.  :-)

## Description

Currently all CI jobs, including the long-running `app-tests` and `staging-tests-with-rebase`, run on CircleCI's on-demand infrastructure.  That is, when a workflow is triggered, CircleCI spins up a container (`docker`) or VM (`machine`) with the required image, and off we go.  CircleCI has summarized the [tradeoffs between these two

[2021-08-24 19:07] cfm commented on #6074
Logging for posterity; closing as unworkable.

[2021-08-24 19:07] #6074 closed, assigned to nobody

[2021-08-25 14:34] conorsch commented on #5923
With the latest docs changes merged as part of https://github.com/freedomofpress/securedrop-workstation-docs/pull/82, we've completed the final items on the checklist, so I'm closing. Great job, all!

[2021-08-25 14:34] #5923 closed, assigned to nobody

[2021-08-25 17:41] conorsch opened #6076 "Staging environment fails on multiple provision runs, at local deb pkgs for kernel"
## Description

@kushaldas shared this error message:

<blockquote>
    fatal: [mon-staging]: FAILED! => {"changed": true, "cmd": ["apt-get", "install", "-y", "-f", "/root/securedrop-grsec-5.4.136+focal-amd64.deb"], "delta": "0:00:00.376052", "end": "2021-08-25 09:09:47.196142", "msg": "non-zero return code", "rc": 100, "start": "2021-08-25 09:09:46.820090", "stderr": "E: Unable to correct problem

[2021-08-25 18:07] cfm commented on #6026
**Tl;dr:**  The current effective lower bound on `app-tests`'s runtime is the runtime of `tests/pageslayout/test_journalist.py`.  We can optimize down to that lower bound by either:

1. factoring out page-layout tests into their own job explicitly with `parallelism: 2`; or
2. running `app-tests` with a `parallelism` sufficient to put `tests/pageslayout/test_journalist.py` implicitly into its own r

[2021-08-25 18:09] cfm commented on #3034
If this is still a goal, note that it works at cross purposes with #6026, which has both the end and the means of parallelizing as much as possible, *including* functional and page-layout tests.

[2021-08-25 18:33] #5986 closed, assigned to cfm

[2021-08-25 18:53] cfm opened #6078 "remove "informational" status of HTML validation once HTML is expected to validate :-)"
## Description

This is a reminder to remove the "informational" status of the HTML validation introduced in #6072...*once* HTML can be expected to validate on `develop` and we want to hold contributors' pull requests to that standard.

https://github.com/freedomofpress/securedrop/blob/2ed9fce100aa10fc1382eb491ee71f70045fbe44/.circleci/config.yml#L108-L112

[2021-08-25 23:45] eloquence commented on #5952
As far as I can tell, this would require running a script as root on startup, for which Tails does not appear to provide any facilities (`.config/autostart` can be persisted for running `.desktop` files as `amnesia`) - please let me know if I'm missing a way to do this.

Otherwise I think it would be best to ask upstream for implementation advice here, to make sure we handle our setup logic in a w

[2021-08-26 11:42] anorthall commented on #6073
@cfm There really doesn't seem to be any sensible way to do it other than to use `long` as you said.

So, a simple `if` statement to check if the locale is `en_US` (or potentially GB, Australia - will look) in `rel_datetime_format()` and use `long` if not is all that is required here? Just making sure I understand the issue!

[2021-08-26 16:40] cfm commented on #6073
That sounds right, @anorthall.  My own ideal, frankly, would be to just use `long` everywhere and not bother with a special case for `en_*`, but I'll have to defer to @zenmonkeykstop on whether there's a compelling reason to preserve the current custom format.

[2021-08-26 18:00] eloquence commented on #6024
@prateekj117 Do you still want to work on this?

[2021-08-26 18:01] prateekj117 commented on #6024
@eloquence For sure !!! Will do it this weekend.

[2021-08-26 18:10] eloquence commented on #5869
I've taken a spin through historical translator feedback, and the two remaining issues above are already tracked; closing this issue.

[2021-08-26 18:10] #5869 closed, assigned to eloquence

[2021-08-26 20:27] zenmonkeykstop opened #6080 "Rendering discrepancies on web interfaces between latest (2.0.2) and current develop branch"
Issue collecting rendering changes coming from the a11y refactor that probably need to be tweaked:

- [x] #6081
- [x] #6082
- [x] #6083
- [x] #6084
- [x] #6093

(if you see something else please add it above!)

[2021-08-26 20:27] zenmonkeykstop opened #6081 "Superfluous top padding on Source Interface (SI) flash messages"

[2021-08-26 20:27] zenmonkeykstop opened #6082 "SI Javascript security level instruction dialog is overwritten by header text and not clickable"

[2021-08-26 20:27] zenmonkeykstop opened #6083 "SI "Yes, delete all replies" button is now 3 lines of text instead of 2, increasing overall height"

[2021-08-26 20:28] zenmonkeykstop opened #6084 "Journalist Interface All Sources page is missing gray border on right panel, padding between left and right panels"

[2021-08-27 00:15] eloquence opened #6085 "staging-test-with-rebase flake: test_system_time"
So far only [observed](https://app.circleci.com/pipelines/github/freedomofpress/securedrop/2872/workflows/567b1507-0399-4ce8-81fa-685b0e64300f/jobs/56223) once in nightly runs:
[code]

[2021-08-27 00:18] eloquence commented on #6052
We haven't seen this since #6063; it may still occur but rarely, so not prioritizing highly yet.

[2021-08-27 01:33] cfm commented on #2535
On review, despite the recent reference in #5645, this appears to have been resolved for most application tests between:

1. the adoption of pytest in #2877; and
2. the introduction of CircleCI `parallelism` in #2511.

#3836 remains open and applicable to the suite of functional tests.

[2021-08-27 04:29] eloquence commented on #6076
I get a very similar error. First run is fine, subsequent run failed with the errors below.

- [Full logs from first run](https://gist.github.com/eloquence/6be5aaa69c0967715e8dfa8fa4c4b314)
- [Full logs from subsequent run](https://gist.github.com/eloquence/23ef58fd091f5b01c55a6e19b00eca35)

[code]

[2021-08-27 15:34] #6056 closed, assigned to cfm

[2021-08-30 13:59] #5455 closed, assigned to nobody

[2021-08-31 19:58] conorsch commented on #6076
Encountered this while rebuilding a staging environment today. Will submit a quick fix shortly.

[2021-09-01 14:56] eloquence commented on #6061
This was done and we have not observed any issues, closing.

[2021-09-01 14:56] #6061 closed, assigned to nobody

[2021-09-01 16:06] cfm commented on #6026
After #6077, latest `securedrop_ci` runs are down to ~43 minutes as expected with `app-page-layout-tests` at ~35 minutes.  Per https://github.com/freedomofpress/securedrop/issues/6026#issuecomment-905758983, no further optimization possible in current test layout.

[2021-09-01 20:51] #5933 closed, assigned to nobody

[2021-09-06 18:39] jgillum opened #6089 "Expired signing key in ansible causing installation failure"
SecureDrop's installer appears to fail because of the expired signing key `fpf-signing-key.pub` in `/install_files/ansible-base/roles/install-fpf-repo/files/`.

Commenting out this expired key in `main.yml` and leaving only the 2021 key seems to still make the apt-cache update fail, and thus the installer fail, too.

[2021-09-06 20:09] eloquence commented on #6089
Thanks for the report @jgillum and sorry for the inconvenience.
- Prior to running the installer, can you confirm that `git status` in `~/Persistent/securedrop` on your Admin Workstation shows `HEAD detached at 2.0.2`?
- Are you able to share the relevant portion of the Ansible output (taking care to redact any sensitive details)?

For confidential communications, please don't hesitate to [request

[2021-09-06 21:51] jgillum commented on #6089
Thanks so much! Yes, it's 2.0.2; I just confirmed.

Here's the tail of the ansible output:

[code]

[2021-09-06 22:11] eloquence commented on #6089
Thanks @jgillum, very helpful. Was there anything in the output that relates to key expiry, or another reason that you suspect that this is the cause of the apt cache update failure? (The output indicates that the correct (up-to-date) signing key is being installed successfully, alongside the historical one.) If you SSH into the server or log into it locally, do you get error output if you run `su

[2021-09-06 22:42] jgillum commented on #6089
I wondered the same thing, but weirdly, `apt update` pulls the latest repository with no issue.

[2021-09-07 17:26] eloquence commented on #6089
@jgillum Can you try increasing the Ansible verbosity, like so, to see if you can get more useful log details (you'll also likely see more sensitive info in the output)?

`ANSIBLE_VERBOSITY=3 ./securedrop-admin install`

[2021-09-07 17:56] #5336 closed

[2021-09-07 19:32] cfm opened #6090 "split up page-layout tests for more parallelization"
Although pytest reports timings per test (function), CircleCI is able to split tests for parallelism only per filename[1], *not* per function.  Therefore, the *best* parallelism CircleCI can achieve for us right now is bottlenecked on the slowest *file* of tests in the entire job.  The winner is...

[code]

## Steps

1. [x] Split up `securedrop/tests/pageslayout/test_{journalist,source}.py` into e

[2021-09-07 19:35] cfm commented on #6026
After https://github.com/freedomofpress/securedrop/issues/6026#issuecomment-905758983, it's reasonable to conclude that `app-tests` job is as optimized as is currently possible given that the overall `securedrop_ci` workflow is now bottlenecked on #6077's factored-out `app-page-layout-tests`.  I've opened #6090 to track the optimization of the latter.

[2021-09-07 19:35] #6026 closed, assigned to cfm

[2021-09-07 21:45] zenmonkeykstop commented on #6042
this is resolved in https://github.com/freedomofpress/securedrop/pull/6079.

[2021-09-07 21:45] #6042 closed, assigned to nobody

[2021-09-07 22:12] cfm opened #6091 "`admin-tests` failing with Setuptools 58.0.2"
## Description

`admin-tests` fails on `coverage` 4.4.2:

[code]

`setuptools` *point* (!) release 58.0.2 includes pypa/setuptools#2770, which does indeed ["fail[] fast"](https://setuptools.readthedocs.io/en/latest/history.html#v58-0-2) when `setup()` is passed `use_2to3`, even in the form of `setup(use_2to3=False)`:

https://github.com/nedbat/coveragepy/blob/4e721ad7877c4c037c93631e9411c38ad9439d

[2021-09-07 23:10] cfm commented on #5928
With `staging-test-with-rebase` now running only nightly after #6063, is further optimization of the job itself still a priority?

[2021-09-08 00:39] cfm opened #6093 "`/lookup`: missing highlight on "You have received a reply...""

[2021-09-08 01:11] #6076 closed, assigned to nobody

[2021-09-08 13:26] #6091 closed, assigned to nobody

[2021-09-08 18:01] cfm commented on #6083
I'm not able reproduce this discrepancy.  I see—

[code]

—at reasonable viewport sizes on both 2.0.2 and current `develop`.  What I've proposed in 88d8a1b8b1553d55ad1e5f1c6eb4f556325d00e6 gives a little more leeway to *keep* this button to two lines, however, and at my default Tor Browser viewport actually gets both buttons to be one-line.

[2021-09-08 18:20] cfm commented on #6084
Note that 6d4602da288b398dea3680dfb9faba67cf11e85a does not remove the extra `border-top` on the `footer`, carried over from the Source Interface.  (In general, I'm still hoping to reduce discrepancies *between* the two interfaces, without introducing too much drift or entropy into either one across releases. :-)

[2021-09-08 18:45] cfm commented on #6080
Draft pull request #6096 can serve as the accumulator for these fixes, so that we can easily review and merge the full set, including for any further discrepancies we may notice, in one fell swoop.

[2021-09-08 21:53] cfm commented on #5981
I have to say I've really come to appreciate Conventional Commits.  Even in solo projects, I've found the discipline it puts on Git history—for each commit to be atomic, self-contained, and self-documenting—to be worth the cognitive overhead and fiddly rebasing.

From there, there are [a whole bunch of tools](https://www.conventionalcommits.org/en/about/) one can use to generate changelogs.

Outsi

[2021-09-09 00:30] eloquence commented on #5952
I've tested the behavior in Tails 4.22 and still observe the following issues:
- intermittent errors when Tails checks for updates, due to the enforced Tor restart interfering with said check
- brief appearance of the (updated) error screen on network reconnects after the first one.

The first is the more serious issue and IMO a good reason to try to resolve this at least in the long run.

As expe

[2021-09-09 17:18] zenmonkeykstop commented on #5952
I think if the pre-up script works, we don't need to do a tor restart - the pre-up would pop the auth-private files into place, Tails' own network hook would bounce Tor, and we'd do the upgrade check once it was complete. This would probably also mean a couple of changes in the tailsconfig Ansible run as well tho.

[2021-09-13 20:38] jgillum commented on #6089
Turns out this whole time I was using Ubuntu 21 by mistake, and the apt repositories weren't correct. Thanks! Works now.

[2021-09-13 20:38] jgillum commented on #6089
Turns out this whole time I was using Ubuntu 21 by mistake, and the apt repositories weren't correct. Thanks! Works now.

[2021-09-13 20:38] #6089 closed, assigned to nobody

[2021-09-17 16:26] zenmonkeykstop commented on #5952
After spending some time with this issue I'm inclined to defer it:
- on a 4.20 Tails install, I can't replicate the failed Tails updater, the updater check is proceeding successfully for me 100% of the time.
- The initial connect is also good on 4.20 and 4.22, with  no errors. I do see a momentary failure on network bumps but it corrects itself immediately

Splitting the `securedrop_init.py` scrip

[2021-09-20 09:00] elfranne opened #6097 "fwupd generates OSSEC alerts from syslog"
## Description

fwupd is creating a log entry:
[code]
That is being captured by OSSEC and generating an alert level 2.
It seems that udisk2 package was either not included or removed by Ansible.

## Steps to Reproduce
I installed Secure Drop according to the manual.

## Expected Behavior
Reduce notifications

## Comments
Is fwupd even required ?

[2021-09-20 19:39] cfm commented on #6090
As of bd75a13fd97e3fd33ddc5fe3851e7705ec04a5bd, `app-[page-layout-]tests` is down to ca. 20 minutes, for total `securedrop_ci` runtime ca. 30 minutes.  For the sake of argument, I'll set an arbitrary goal of 10 and 20 minutes, respectively, and we can see how that feels.

[2021-09-20 20:57] rocodes opened #6098 "Prompt users to fix upgrade issue for Tails 4.14 - 4.18 (or fix it for them?)"
## Description

Tails automatic upgrades were broken between versions 4.14 - 4.18 inclusive ([Tails announcement](https://tails.boum.org/doc/upgrade/error/check/index.en.html#4.18)), and some users on older versions of Tails may not realize that they are missing auto-updates, and that there is a manual step required to fix them.

We could:
- Make no code changes, and continue to use support messag

[2021-09-20 21:06] zenmonkeykstop commented on #6098
I'm more in favour of 2 (and also 1) than 3, just because altering the user's certs without their knowledge gives me the heebie-jeebies, but I'm not 100% against it.

[2021-09-20 21:16] rocodes commented on #6098
Yeah, that's very fair. Ok, maybe we can talk about it tomorrow and see what people think. The downside of 2 is that we'd need to settle on some translation strings pretty quickly.

[2021-09-20 22:48] cfm commented on #6090
https://github.com/freedomofpress/securedrop/issues/6090#issuecomment-923237903:

It may have been naïve of me to think that we can do better than this.  Already as of bd75a13, setup time exceeds the time spent on either tests or post-test validation:

| Run | Total Time | Time on Tests | Time on Validation | Setup Time |
| --- | --- | --- | --- | --- |
[0](https://app.circleci.com/pipelines/githu

[2021-09-20 23:30] cfm opened #6099 "Run all CI jobs in parallel"
## Description

The `securedrop_ci` workflow is gated on the `lint` job, so that refs that fail linting don't burn a lot of CI time.  As a result, the long-running `app-[page-layout-]tests` jobs don't even *start* until ~10 minutes after a ref has been pushed and the workflow has been triggered.

A compromise would be to run *all* jobs in the `securedrop_ci` workflow in parallel, but let `lint` [c

[2021-09-20 23:59] cfm commented on #6090
https://github.com/freedomofpress/securedrop/issues/6090#issuecomment-923410300:

The [returns](https://app.circleci.com/pipelines/github/freedomofpress/securedrop/2976/workflows/1a07bed2-90ec-4793-b21f-f9672a921f1a) are diminishing indeed.  PR forthcoming on a rebase of bd75a13.  I otherwise recommend #6099 as the next optimization to consider.

[2021-09-21 00:13] eloquence commented on #6097
Thanks for the report @elfranne. I'm also observing those alerts. #5882 silenced some of these messages, but it looks like additional work may be required to avoid unnecessary alerts related to `fwupd`.

[2021-09-21 00:35] eloquence commented on #5850
To recap, if folks updated to Ubuntu 20.04 when SecureDrop 1.8.0 was released and before 1.8.1, _and_ their logo is still at the old URL, their logo _will_ get clobbered if we remove the `conffile` declaration.

It's easy to verify whether an org will have their logo clobbered by looking at its logo image URL. If the URL is `logo.png`, it would be overwritten if we stop declaring the logo as a `co

[2021-09-21 18:25] eloquence opened #6103 "Release SecureDrop 2.1.0"
This is a tracking issue for the release of SecureDrop 2.1.0

Scheduled as follows:

**Feature / string freeze:** 2021-09-28
**Pre-release announcement:** 2021-10-12
**Release date:** 2021-10-19
**Release manager:** @zenmonkeykstop
**Deputy release manager:** @conorsch
**Communications manager:** @eloquence
**Localization manager:** @conorsch
**Deputy LM:** @cfm [tentative]

QA team: @creviera @te

[2021-09-21 18:31] conorsch commented on #6097
Confirmed, I'm seeing a lot of these from a test instance, as well. Another closely related message is

[code]

While it would be grand to support fwupd at some point in the future, we definitely don't now, and won't without serious consideration for hardware compatibility. For now, let's just silence these alerts, since there's no action an admin can take to remedy the situation. @cfm offered to

[2021-09-21 20:23] eloquence commented on #5850
I've identified a total of 8 news orgs whose logo resides at the old `logo.png` address. That's a bit higher than I expected. We could consider an automatic migration (if file does not match stock package contents shasum, copy it to `custom_logo.png`, perhaps in `preinst`), but since it's very easy to fix through the web UI, I think a manual heads-up now would probably be sufficient, assuming the

[2021-09-21 20:26] conorsch commented on #5850
I admit I'm a fan of munging the config as needed in the packaging flow, so that we can confidently reason about known state on all instances. Let's avoid asking admins to mess with the web UI unless absolutely necessary, would be my preference.

[2021-09-22 19:45] cfm opened #6104 "`app-page-layout-tests` failing with timeout"
## Description

Beginning yesterday with `securedrop_ci` run 2984, `app-page-layout-tests` is failing with a timeout in `make validate-test-html`.

## Steps to Reproduce

- https://app.circleci.com/pipelines/github/freedomofpress/securedrop?branch=5828-reply-message
- https://app.circleci.com/pipelines/github/freedomofpress/securedrop?branch=pull%2F6086

## Expected Behavior

`app-page-layout-test

[2021-09-22 20:16] conorsch commented on #6104
Thanks for jumping on this. At a glance, it seems the breakage is unrelated to any recent changes to CI on our end. Do you have a different understanding? I've just started looking at #6100 and will continue, but will hold off on merge while you debug.

[2021-09-22 20:21] cfm commented on #6104
@conorsch, that's right; no relevant changes in our configuration since the last successful runs.  What I did not recognize yesterday, but can see plainly today, is that it's `securedrop/bin/dev-shell`, not `html5validator`, that's hanging in:

https://github.com/freedomofpress/securedrop/blob/a6b478f67253accc58f5441dba194a2a8ab50a42/Makefile#L229-L231

I'll see if I can isolate where and why.

[2021-09-22 22:16] #6080 closed, assigned to cfm

[2021-09-22 22:16] #6081 closed, assigned to nobody

[2021-09-22 22:16] #6082 closed, assigned to nobody

[2021-09-22 22:16] #6083 closed, assigned to nobody

[2021-09-22 22:16] #6084 closed, assigned to nobody

[2021-09-22 22:16] #6093 closed, assigned to nobody

[2021-09-22 22:29] #6090 closed, assigned to cfm

[2021-09-22 23:01] cfm commented on #6104
The culprit addressed in #6105:  `make validate-test-html`'s `dev-shell` was being spawned without the `$DOCKER_BUILD_ARGUMENTS` used by other Docker-based operations in CI, without which it couldn't benefit from Docker's image-layer cache.  This was my omission in #6072.

My best guesses at reconstructing why we haven't seen this failure-mode....

1. **until now:**  `make validate-test-html` was

[2021-09-22 23:21] rocodes commented on #6098
Per our discussion, [here's an implementation](https://gist.github.com/rocodes/b9d26b0405473090137b7249512d504d) of the third option. I've tested it on Tails 4.13 and 4.18. If this seems like roughly an approach we like, I'll submit a PR.

[2021-09-23 15:28] #5828 closed, assigned to nobody

[2021-09-24 08:38] #6097 closed, assigned to cfm

[2021-09-25 16:30] nabla-c0d3 commented on #5716
This was fixed by #5694 and #5695.

[2021-09-25 16:31] nabla-c0d3 commented on #5741
This was fixed by #5694 and #5695.

[2021-09-25 16:35] nabla-c0d3 commented on #5613
The dependency to `scrypt` was removed in #5694.

[2021-09-27 15:47] #6104 closed, assigned to cfm

[2021-09-27 16:37] eloquence opened #6108 "Update to Ansible 2.9.23 or later"
To resolve https://nvd.nist.gov/vuln/detail/CVE-2021-3583, we should update to Ansible 2.9.23 (see [changelog](https://fossies.org/linux/ansible/changelogs/CHANGELOG-v2.9.rst)). The more complex 2.10.x update is tracked in #5914.

[2021-09-27 20:10] #6108 closed, assigned to nobody

[2021-09-27 20:20] rocodes commented on #6098
A little more digging, a little more stress.

My proposed method for validating the new cert was going to be to rely on the `DST_ROOT_CA_X3.pem` that [cross-signs the new cert](https://letsencrypt.org/certificates/) and is already installed on Tails workstations. However, the x3 cert is [expiring in 3 days](https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/), so after the 30th,