[2021-09-27 20:44] zenmonkeykstop commented on #6098
If we can't (or don't want to) ignore the expiry time with something like the `-no_check_time` flag, then the fallback option would just be to do the Tails version detection and throw up a dialog to users encouraging them to manually upgrade. Even just a system notification would be better than nothing IMO

[2021-09-28 22:37] #5850 closed, assigned to nobody

[2021-09-28 23:47] eloquence opened #6111 "Evaluate and implement improvements to code analysis"
*(Based on an issue originally filed by @emkll internally.)*

We should consider improving and tweaking our static code analysis to identify common code quality/security issues. We are currently using Bandit, but Pyre and Semgrep also provide taint analysis, to ensure untrusted or user-specified input does not make its way to sensitive functions without being sanitized.

Furthermore, we should add

[2021-09-28 23:48] eloquence commented on #5598
(Closing in favor of the more comprehensive #6111, where we can capture some initial eval notes and prioritize.)

[2021-09-28 23:48] #5598 closed, assigned to nobody

[2021-09-29 05:32] eloquence opened #6112 "staging-test-with-rebase fails with `dpkg frontend lock` error during snapd removal"
Seen in nightly test run, not sure how frequently this is likely to occur yet:
https://app.circleci.com/pipelines/github/freedomofpress/securedrop/3019/workflows/652fa9ee-4bc3-4c30-942b-725743b99da7/jobs/56872

[2021-09-29 05:37] eloquence commented on #5613
Thanks, retitled accordingly!

[2021-09-29 18:10] eloquence commented on #5741
Thanks, closing accordingly, we'll test session management extensively during QA as well.

[2021-09-29 18:10] #5741 closed, assigned to nobody

[2021-09-29 18:10] eloquence commented on #5716
Thanks, closing accordingly, we'll test session management extensively during QA as well.

[2021-09-29 18:10] #5716 closed, assigned to nobody

[2021-09-29 18:41] #6098 closed, assigned to rocodes

[2021-09-29 18:42] #6024 closed, assigned to nobody

[2021-09-29 20:55] #6057 closed, assigned to nobody

[2021-09-29 23:10] cfm opened #6113 "`securedrop-admin restore` does not follow (or reject) symlinks"
## Description

If the `restore_file` argument to `securedrop-admin restore` is a symbolic link, the symlink, not its target, will be uploaded to the Application Server.

## Steps to Reproduce

[code]

## Expected Behavior

`securedrop-admin restore` either:

1. resolves the symlink to its target and uploads the latter to the Application Server; or
2. rejects the symlink and demands a valid tarbal

[2021-10-03 14:51] ssurbhi560 commented on #5709
Hi @eloquence, is there still something that needs to be done before we can remove `prod-specific.yml` file? If not, then can I take this up?

[2021-10-03 19:13] ninavizz commented on #3588
@eloquence Could you update this issue's name to more specifically speak to LogIn page and hide/show functionality?

[2021-10-04 21:44] conorsch opened #6119 "[QA] The apt-test HTTPS cert fails on older versions of Focal"
## Description

Older versions of Focal installing packages from https://apt-test.freedom.press fail during apt-get update, with this error:

## Steps to Reproduce
Use this dockerfile to observe the issue.

<details>
<summary>Dockerfile
</summary>

[code]
</details>

## Expected Behavior
Repo is configured, apt lists are updated, packages are installed just fine.

## Actual Behavior
After repo is

[2021-10-04 22:23] eloquence commented on #4769
This was done in #5988 (thanks, @evilaliv3! :).

[2021-10-04 22:23] #4769 closed

[2021-10-04 23:38] eloquence commented on #6108
Just a note that GitHub's Dependabot alerts have continued to flag the need for an Update to Ansible 4.2.0 or later to address CVE-2021-3583. However, the Ansible changelog notes that the fix has been backported to the 2.9.23 release, so I've dismissed the alert.

[2021-10-05 01:11] eloquence commented on #6103
[Draft release comms](https://docs.google.com/document/d/1QK24Y00A5c69pm8C-PtsnEKf4ep8EKY4k9-7IEPFrmk/edit#) are ready for initial review. As always, it's a bit of a judgment call which changes should go into the blog post and which ones are only in the changelog -- if there's stuff you feel warrants more or less visibility, please don't hesitate to comment.

[2021-10-05 14:55] #6119 closed, assigned to nobody

[2021-10-06 03:43] cfm commented on #6103
NB.  An upgrade scenario newly provisioned from a tag (i.e., without #6120) will fail in `securedrop-admin install` role `install-fpf-repo` with `apt cache update failed` until both VMs are brought up to date via (e.g.):

[code]

[2021-10-06 13:27] zenmonkeykstop commented on #6103
Yup, that's the same root cause as captured in #6119. If you have more up-to-date bento/20.04 boxes it shouldn't be a problem, but it doesn't look like those are available yet in a provider format that we can use.

[2021-10-06 16:09] zenmonkeykstop opened #6124 "HTTPS Source Interface unavailable after restoring from a non-HTTPS backup"
## Description

If the SI is set up to use HTTPS, and the instance state is subsequently restored from a backup taken while HTTPS was not enabled, attempts to reach the SI will fail.

This is because the restored `/etc/tor/torrc` does not include the configuration for port 443, only referring to the HTTTP version of the service, while `/etc/apache2/sites-enabled/source.conf` (which is not included

[2021-10-06 18:13] cfm opened #6125 "Postfix mapping fails if configured `monitor_hostname` does not match actual hostname"
## Description

If the `monitor_hostname` value configured in `site-specific` does not match the Monitor Server's actual hostname, the configured Postfix mapping will not apply, and outbound OSSEC alerts will not be delivered via an SMTP relay that authenticates the `From` header.

## Steps to Reproduce

As encountered during https://github.com/freedomofpress/securedrop/issues/6103#issuecomment-93

[2021-10-06 20:05] cfm opened #6127 "changing configured server hostnames results in duplicate `/etc/hosts` entries"
## Description

If the `{app,monitor}_hostname` values are changed in `site-specific` after initial installation, the new hostnames will be *appended to*, rather than *updated in*, each server's `/etc/hosts`.  As a consequence, the next `unattended-upgrades` run that happens to pull in a new version of `securedrop-ossec-agent` will fail.

Yes, this is a bit of a corner case....

## Steps to Reprod

[2021-10-06 22:45] zenmonkeykstop commented on #6125
There is the (poorly documented) `ossec_from_address` https://docs.securedrop.org/en/stable/ossec_alerts.html#not-receiving-emails which is supposed to address this case - this error is coming from mail.riseup.net in the case above, as mon-prod isn't a valid domain. In cases where the remote SMTP server needs a valid domain (and/or one that it will relay for), you can set this variable in `site_sp

[2021-10-07 00:19] conorsch opened #6128 "[QA] "securedrop-admin verify" does not support force arg"
## Description
Running `./securedrop-admin verify` on `release/2.1.0` fails, because there's no prod-signed tag on that commit.

## Steps to Reproduce
1. Check out `release/2.1.0` in Tails, configured VMs
2. Run `./securedrop-admin verify`, observe error message and friendly recommendation to try the "--force" flag
3. Run `./securedrop-admin --force verify` as recommended, observe error message ab

[2021-10-07 00:45] tesitura commented on #6111
Based on interesting criteria for the project I've gathered a comparison between the tools and some insights of possible next steps.

**Comparison of tools**
https://docs.google.com/spreadsheets/d/1zTMND0SsKuUgur18rvJ12XehSRoPPkfnO3HUM_pjBMg/edit?usp=sharing
**Insights on possible interesting tools based on comparison**
https://docs.google.com/document/d/1RMd86Jw_WgstF_MzQqTCR0F0kpbQd9NHp4dseoMGtg

[2021-10-07 23:20] eloquence commented on #5101
@DrGFreeman Belated thanks for the report! I just encountered the same issue and was wondering if we already had a report for it -- and there it was. Do you have bandwidth these days to attempt a fix yourself?

[2021-10-08 00:39] DrGFreeman commented on #5101
Hi @eloquence. I was actually wanting to get back to contributing here (Hacktoberfest fever? Not sure...) so this will be a good place to start! Just need to refresh my dev environment and get back into it.

[2021-10-08 01:45] cfm commented on #6125
Yes, absolutely, @zenmonkeykstop.  But it looks like [`ossec_from_address` (or at least its documentation)](https://docs.securedrop.org/en/stable/ossec_alerts.html#not-receiving-emails) predates #5924's work to support Focal's use of `ossec@${hostname}` rather than `ossec@ossec.server`, and it's that hostname-based rewriting that I mean to flag here as fragile in this case.  But I concede that thi

[2021-10-08 02:47] DrGFreeman opened #6129 "flake8 fails after developing Securedrop-Admin"
## Description

flake8 fails after having run `admin/bootstrap.py` as per [Docs » Development of Securedrop-Admin in the Admin Directory](https://docs.securedrop.org/en/latest/development/admin_development.html).

## Steps to Reproduce

1. Run `admin/bootstrap.py` as per as per [Docs » Development of Securedrop-Admin in the Admin Directory](https://docs.securedrop.org/en/latest/development/admin_d

[2021-10-08 02:53] DrGFreeman commented on #6129
PR to follow shortly.

[2021-10-08 04:52] cfm commented on #6103
## Summary

-  **#6041:**  results TK.  I've deprioritized this in this (and my!) first run-through with the test plan since I authored these changes.  :-)
- **#5988** → #6132
- **#5979** → #6133

## Test plan and results

- [x] If you are testing the upgrade scenario, you should create source and journalist accounts before performing the upgrade - some test cases require existing accounts.

- [x]

[2021-10-08 04:53] cfm commented on #6127
https://github.com/freedomofpress/securedrop/issues/6103#issuecomment-938341940 suggests that hostname changes may also break related testinfra tests run via `securedrop-admin verify`.

[2021-10-08 05:02] cfm opened #6132 "HTTPS-enabled instance may still have 128-bit keys after upgrade"
## Description

In https://github.com/freedomofpress/securedrop/issues/6103#issuecomment-938341940, I found that an HTTPS-enabled instance upgraded to v2.1.0~rc1 may still use 128-bit keys rather than the 256-bit keys intended by #5988.

## Steps to Reproduce

## Expected Behavior

After rerunning `make self-signed-https-certs && ./securedrop-admin install`, Tor Browser "Page Info" says (my emphas

[2021-10-08 05:08] cfm opened #6133 "old signing key `22245C81E3BAEB4138B36061310F561200F4AD77` is not removed during upgrade"
## Description

In https://github.com/freedomofpress/securedrop/issues/6103#issuecomment-938341940, I found that the old signing key `2224 5C81 E3BA EB41 38B3 6061 310F 5612 00F4 AD77` was still present after upgrade to v2.1.0~rc1, alongside the new signing key `2359 E653 8C06 13E6 5295 5E6C 188E DD3B 7B22 E6A3`.  @zenmonkeykstop has [informally corroborated](https://freedomofpress.slack.com/archi

[2021-10-08 18:42] conorsch commented on #6103
### Environment

- Install target: Prod VMs, via Tails
- Tails version: 4.23
- Test Scenario: Clean install w/ HTTPS
- SSH over Tor: Yes
- Release candidate: 2.1.0~rc1
- General notes: I made sure to update the apt packages inside my VMs before getting started

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - N.B.

[2021-10-08 18:45] conorsch commented on #6133
Observed this during QA as well. Looks like we're still installing the old key via Ansible: https://github.com/freedomofpress/securedrop/blob/21a162ddb6879dea996fd8a352c53e67550aedd5/install_files/ansible-base/roles/install-fpf-repo/defaults/main.yml#L22-L23

That explains why I saw it during my clean install scenario. For @cfm's upgrade scenario, though, I wouldn't expect the Ansible logic to cau

[2021-10-08 18:46] conorsch commented on #6132
@cfm Are you saying that the test plan for 2.1.0 should permit 128-bit keys? Or are you saying that on upgrade to 2.1.0, prod instances using HTTPS on the Source Interface may break?

[2021-10-09 16:27] zenmonkeykstop commented on #6132
As part of #5988, the Apache SSLCipherSuite directive is now not being set on fresh installs and is being removed on upgrades - it might be necessary to set it if we really want to force the expected key length. Mind you, IANACryptographer, but 128-bit AES seems good enough?

[2021-10-09 16:47] zenmonkeykstop commented on #6103
@cfm: re the manual transfer test, the playbook does require that the tarball be available locally as well to verify that it is valid - good catch on the docs side, this option hasn't been documented yet and should be for the release.

[2021-10-09 16:49] #6129 closed, assigned to nobody

[2021-10-09 16:52] zenmonkeykstop commented on #6128
IMO `verify` shouldn't do the version check at all - it doesn't run any playbook that can change the workstation or server state, so it doesn't matter which version you're on locally (altho the onus is then on the user to make sure they're using the version they expect).

[2021-10-09 21:07] zenmonkeykstop commented on #6132
I think the test plan (ie me) is at issue here - I got 256-bit keys while working through the case the first time, so I put that in as an expectation. I don't think there's a valid reason to expect that the negotiation would always work out that way. Gonna update the plan, and I think we can close this unless there are any objections.

[2021-10-11 13:40] elfranne opened #6135 "Question: Secure Drop is unavailable multiple time per day"
## Description

We have a Secure Drop installation that does not responds multiple time per day. I use curl to request the public onion:
`curl --socks5-hostname 127.0.0.1:9050 redacted.onion -s -o /dev/null -w "%{http_code}\n"`
That results in a `exited with 7`.

For example today it has not responded 4 times, ranging from 10 to 20 minutes each time. (I am excluding the daily reboot)
Is this a nor

[2021-10-12 14:47] zenmonkeykstop commented on #6135
The only expected time for the installation not to respond is during the  reboot, but Tor can be flaky. It would be worthwhile to review the system logs for any Tor-related errors - also, if you can check the Journalist Interfaceand the SSH onion services if available, that could help narrow it down.

For security reasons we don't tend to discuss issues with specific instances in Github, but if yo

[2021-10-12 16:08] conorsch commented on #6133
Discussed during sync today, and both @cfm and I ran the `./securedrop-admin install` action, which suggests the Ansible oversight above is at fault. I'll investigate and submit a PR.

[2021-10-12 16:16] conorsch commented on #6127
We could use a `blockinfile` call on the /etc/hosts munging to clobber all SD-related changes on Ansible updates, which should resolve. This is definitely a bug, but quite an edge case. During sync today, we decided it doesn't need to be resolved in 2.1.0 final, since it wasn't introduced by logic in that release series.

[2021-10-12 16:31] cfm commented on #6132
We've decided out of band that today I'll brush up on TLS 1.3 in order to confirm the conclusion in https://github.com/freedomofpress/securedrop/issues/6132#issuecomment-939361795.

[2021-10-12 16:36] cfm commented on #6113
@zenmonkeykstop will add Ansible logic to reject a symlink as the `restore_file` argument.

[2021-10-12 16:55] #6128 closed, assigned to nobody

[2021-10-12 17:57] conorsch commented on #6133
After manually removing key, `./securedrop-admin install` indeed restores it. Will try next with that Ansible var edited, and confirm it doesn't get re-added.

[2021-10-12 18:38] cfm opened #6137 "Make targets `build-debs[-notest]` fails on new circular dependency between PyPI packages `flit_core` and `tomli`"
## Description

Since October 10, `staging-test-with-rebase` fails in `make build-debs-notest`.  This is likely to bork `make build-debs` for the current production release cycle too.

## Expected Behavior

https://app.circleci.com/pipelines/github/freedomofpress/securedrop/3075/workflows/6c173f25-a21a-40f6-a476-7b6f9c996b2b/jobs/57150

## Actual Behavior

https://app.circleci.com/pipelines/github

[2021-10-12 19:56] cfm commented on #6132
My research bears out your conclusion, @zenmonkeykstop, in https://github.com/freedomofpress/securedrop/issues/6132#issuecomment-939361795:

Per [RFC 8446](https://www.rfc-editor.org/rfc/rfc8446#section-9.1)—

—so both the 128-bit and the 256-bit session keys we've observed are valid.

For what it's worth, Qualys [discriminates](https://github.com/ssllabs/research/wiki/SSL-Server-Rating-Guide#ciph

[2021-10-12 19:56] #6132 closed, assigned to cfm

[2021-10-12 22:17] #6133 closed, assigned to conorsch

[2021-10-13 00:51] cfm commented on #6137
To be exact:  `flit`/`flit_core` 3.4.0 [switched](https://github.com/takluyver/flit/compare/3.3.0...3.4.0#diff-d5423f1e62fdcd5eb981c27e6c54d99fc60deb9d2614635c32ebf9c15a554ec5R340) its TOML parser from [`toml`](https://github.com/uiri/toml), [which has no dependencies](https://libraries.io/pypi/toml), to [`tomli`](https://github.com/hukkin/tomli), which [requires](https://github.com/hukkin/tomli/b

[2021-10-13 18:00] conorsch commented on #6085
Saw this again on a feature branch: https://app.circleci.com/pipelines/github/freedomofpress/securedrop/3101/workflows/5a38b8ef-09db-4ea6-b25f-8a60131ece39/jobs/57293

![sd-time-failure](https://user-images.githubusercontent.com/657862/137187841-40a3ead3-b3b5-4da4-af44-7e42a3be759a.png)

[2021-10-13 23:28] conorsch commented on #6137
Summarizing synchronous discussion from today. We basically have two options here:

1. Stop building all python reqs from source, and fetch wheels from pypi. Doing so avoids the dependency conflicts in the build-deps described above, but involves a significant shift in our [dependency management policies](https://github.com/freedomofpress/securedrop/wiki/Dependency-Update-Policies), so we consider

[2021-10-14 04:08] #6137 closed, assigned to cfm, conorsch, zenmonkeykstop

[2021-10-14 05:31] gonzalo-bulnes commented on #6119
For what is worth: Similarly to https://github.com/freedomofpress/securedrop/issues/6103#issuecomment-935371773, I encountered the error `apt cache update failed` in the `install-fpf-repo` task, when attempting a fresh install of SecureDrop 2.0.2 (`git checkout 2.0.2 && ./securedrop-admin install`) on Ubuntu 20.04 servers that were not fully up-to-date.

Upgrading them (`sudo apt update && sudo ap

[2021-10-14 06:26] gonzalo-bulnes commented on #5104
I'd like to hear more about this idea @eloquence! (My first thoughts are: would that involve comparing two states? Would the clients have to provide some information about their own current state, or the last state they retrieved?)

_I got here from https://github.com/freedomofpress/securedrop-client/issues/1285#issuecomment-930601319_

[2021-10-14 15:01] conorsch commented on #6119
Thank you, @gonzalo-bulnes! Were these VMs you were installing on? My recollection is that the Ubuntu ISO installer, when installing on hardware, will automatically pull in the latest packages, sidestepping this problem for fresh installs. Either way, the fix mentioned above will be released as part of v2.1.0 next week, and is already present on the develop branch (but not the previous signed rele

[2021-10-14 21:02] conorsch commented on #6103
Updated the OP with mention of 2.1.0~rc2. @cfm if you've got cycles today, simply re-testing the problematic sections of your previous testing report on rc1 would be ideal. For simplicity's sake, I'd say take the VM upgrade scenario again, and I'll take clean install VMs again and post results.

[2021-10-14 21:28] conorsch commented on #6119
Pleased to report that while testing 2.1.0~rc2 in #6103, this issue did not occur. To test, I used prod VMs based on 202107.28.0 Focal (which failed previously, in the manner described in the OP), did _not_ upgrade them manually after creation, and simply ran `./securedrop-admin install` on the 2.1.0-rc2 tag. Worked well.

[2021-10-14 21:46] gonzalo-bulnes commented on #6119
@conorsch These were physical machines, but I had performed the Ubuntu installation a while ago. I took a note :point_up:  that a reminder to upgrade Ubuntu before starting the installation my be worth adding to the docs.

[2021-10-14 21:50] conorsch commented on #6119
Ah, thank you for clarifying! As of 2.1.0 final (slated for next week), the upgrade-everything logic will be automatic. So I don't see a pressing need for a docs change. But please let me know if you disagree!

[2021-10-14 23:05] scottaohara commented on #6031
Menu is nothing more than a type of list (ie ul element)

it has none of the features of the experimental version Firefox used to have

[2021-10-15 00:05] conorsch commented on #6103
So far so good on 2.1.0~rc2. One issue of note is that on the clean install scenario, I observed an apt-update failure:

![sd-qa-2 1 0-rc2-apt-failure-1](https://user-images.githubusercontent.com/657862/137411465-6637b7fb-a86e-49b2-8c1c-f81026e65c2f.png)

It appears the order of operations is as follows:

1. All apt packages updated in `prepare-servers`, as expected
2. apt-test key is added via lo

[2021-10-15 00:21] cfm commented on #6103
All issues raised about 2.1.0\~rc1 in <https://github.com/freedomofpress/securedrop/issues/6103#issuecomment-938341940> are resolved in 2.1.0\~rc2.  Still outstanding against 2.1.0\~rc2:
- [x] #6041
- [x] testinfra: resolved as of <https://github.com/freedomofpress/securedrop/issues/6103#issuecomment-946105840>

<details>
<summary><code>amnesia@amnesia:~/Persistent/securedrop$ ./securedrop-admin v

[2021-10-15 00:28] conorsch commented on #6103
No further concerns to point out. 100% of all testinfra tests pass on my prod VMs, which is mostly due to the key clobbering mentioned in https://github.com/freedomofpress/securedrop/issues/6103#issuecomment-943852881, but again, not a release-blocker. 2.1.0 is looking good to me! Will focus on LM tasks over the weekend to see if we can't drum up a bit more coverage. Thereafter, it's by the number

[2021-10-15 16:57] zenmonkeykstop commented on #6103
...

I'm confused as to why we weren't seeing this all the time in QA, it looks like the only possibly-relevant change was the upgrade added in `prepare-servers`. It could probably be avoided by either:
- installing the test key to a test keyring rather than using the same one as for the prod apt server, or
- skipping the securedrop-keyring package install on non-prod runs (it's already being skip

[2021-10-15 22:07] louisgregg commented on #6124
I would like to reproduce this issue. Is there any way to test this without generating an HTTPS certificate via Digicert or Harica?

For example, could I test solutions by redirecting tor port 443 to port 80 (or 8080) on localhost, with a temporary `torrc` containing:
[code]

[2021-10-15 22:37] cfm commented on #6103
I've updated https://github.com/freedomofpress/securedrop/issues/6103#issuecomment-943859841 to log some surprising testinfra failures in the VM upgrade scenario, which I'll investigate further on Monday.

[2021-10-17 00:08] louisgregg commented on #5995
I'm writing a fix for this issue, which I understand as follows: In future, it won't be possible to pass a keyserver directly to gpg using the `--keyserver` command. Instead, we will need to point towards a `dirmngr.conf`file using the `--options` command. This file should have contents like:
[code]
I want to change the `get_release_key_from_keyserver()` method in `__init__.py` file to contain:
[c

[2021-10-18 16:28] zenmonkeykstop commented on #6124
@louisgregg  you can generate self-signed certs locally for testing by running the command: `make self-signed-https-certs` in the main repo directory. These can then be used in a prod VM setup by specifying the generated certs when you run `./securedrop-admin sdconfig`. It should also be possible to get them working in staging with some edits to the `staging.yml` Ansible vars, but I haven't tried

[2021-10-18 17:09] cfm commented on #6103
<https://github.com/freedomofpress/securedrop/issues/6103#issuecomment-944786736>:

Initial investigations follow.

---

[code]

`paramiko.ssh_exception.SSHException: No existing session` errors look like transient SSH failures.

---

[code]

Seems to be looking for default hostname `mon` rather than configured hostname `mon-prod`:

[code]

---

[code]

Expected per <https://github.com/freedomofpr

[2021-10-18 17:53] zenmonkeykstop commented on #6103
Thanks @cfm:
-  SSH-over-Tor can be flaky, so I'd agree with that assessment for the first 2 errors
- the testinfra tests take their expected values from a bunch of variables in a yaml file, with some of said values (like server IPs) in prod runs being overridden from the `install_files/ansible-base/group_vars/all/site-specific` file created by `./securedrop-admin sdconfig`. Looks like the server

[2021-10-18 19:15] cfm opened #6145 "spurious testinfra failures when servers have non-default hostnames"
## Description

If a production instance is configured with hostnames other than the recommended `app` and `mon`, `securedrop-admin verify` will report spurious testinfra failures.

First noticed in <https://github.com/freedomofpress/securedrop/issues/6127#issuecomment-938342242>.

## Steps to Reproduce

1. `securedrop-admin sdconfig` with non-default hostnames, e.g. those provisioned by `molecule

[2021-10-18 19:43] cfm commented on #6103
@zenmonkeykstop in <https://github.com/freedomofpress/securedrop/issues/6103#issuecomment-946018659>:

Thanks for this suggestion.  Confirmed that `common/test_automatic_updates.py::test_unattended_upgrades_functional` has subsequently passed with:

[code]

So all of <https://github.com/freedomofpress/securedrop/issues/6103#issuecomment-945983929> is safe to ignore for QA and release purposes.

[2021-10-19 00:26] cfm commented on #6145
It's turns out it's not enough to do—

[code]

—because then remote Ansible runs (i.e., `securedrop-admin verify`) will fail trying to connect to the servers by their `{app,monitor}_hostname`s, for which there are no aliases in `~/.ssh/config`.  That is, `securedrop-admin tailsconfig` _always_ aliases the servers as `app` and `mon`, whatever their configured hostnames.  That seems proper for conne

[2021-10-19 18:21] zenmonkeykstop commented on #6103
- Install target: Nuc8+10
- Tails version: 4.22
- Test Scenario: upgrade
- SSH over Tor: y
- Release candidate: rc2
- General notes:

### Basic Server Testing
- [ ] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing: **FAIL**
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop && ./securedrop-admin setup -t`
  - Run tests wi

[2021-10-19 22:42] eloquence commented on #6103
Updated an Admin Workstation on Tails 4.22 from SecureDrop 2.0.2 to SecureDrop 2.1.0 successfully using the graphical updater.

[2021-10-20 04:24] eloquence commented on #5972
One thing we may want to look into for the next round of changes is how to minimize the need to re-translate strings - e.g., should we generate our own translations in cases where only HTML elements or attributes change (can we do so in the main repo and then import these into Weblate?).

[2021-10-20 19:37] #6103 closed, assigned to nobody

[2021-10-21 14:42] zenmonkeykstop opened #6152 "Add optional Tor support to dev environment"
## Description
Initially this issue was about adding TLS support to the dev environment, but after some discussion, it sounds like it would be much more useful to devs (especially folks working on SecureDrop Workstation) to have the dev Source Interface available over Tor.

## User Research Evidence
Internal chats as per above

## User Stories
As a developer, I want to be able to observe the behav

[2021-10-25 19:27] #6145 closed, assigned to nobody

[2021-10-26 19:09] #6073 closed, assigned to nobody

[2021-10-26 22:02] zenmonkeykstop opened #6154 "Update Flask version to 2.0.*, along with associated requirements"
## Description

Core requirements (Flask, Werkzeug, Jinja, etc) are lagging behind their most up-to-date available versions by quite a bit. This complicates the process of upgrading other requirements with shared dependencies (e.g. the `click` package).

An attempt at updating these requirements to recent versions has been started in https://github.com/freedomofpress/securedrop/tree/add-https-to-d

[2021-10-27 06:55] sssoleileraaa opened #6155 "Display forgotten codename in one click rather than two"
## Description

When you click on the "Forgot your codename?" link, the "Remember your codename is" popup appears without showing the codename. Then you have to click on a "Show" link to see the codename. See:

![Peek 2021-10-26 23-50](https://user-images.githubusercontent.com/4522213/139014692-da71f72f-b4f8-478e-ae2a-c0cd8d78553a.gif)

I think we should combine this two click operation into a one

[2021-10-27 17:06] zenmonkeykstop commented on #5739
(Not a CI issue as these tests are hw-specific)

[2021-10-28 01:15] eloquence opened #6156 "Update unsupported languages in Weblate"
Compare:
- [German strings in Weblate](https://weblate.securedrop.org/translate/securedrop/securedrop/de/?q=) - a supported language - 302 strings
- [Danish strings in Weblate](https://weblate.securedrop.org/translate/securedrop/securedrop/da/?q=) - an unsupported language - 254 strings

It looks like the unsupported languages haven't been updated in a while, which means that translators will see

[2021-10-28 03:44] zenmonkeykstop commented on #2945
OPNSense (currently v21.7.4) and the 4-NIC Teklager APU4D4 is being evaluated as an addition to the recommended hardware list - the SG-3100 is EOS and Netgate's recommended replacement has 2 NICs.

Initial testing involved just replicating the setup, aliases, and rulesets as per the pfSense setup instructions. Setup process was straightforward and it seems to be working fine.

TBD work includes:
-

[2021-10-28 05:09] eloquence commented on #5912
Closing per discussion at sprint planning today since `v2_source_url` was already removed from the metadata endpoint in #5926.

[2021-10-28 05:09] #5912 closed, assigned to nobody

[2021-10-28 20:41] cfm commented on #6156
@eloquence and I discussed this as a candidate for a future sprint, to determine whether this is a bug, a process glitch in the [internationalization procedures](https://docs.securedrop.org/en/stable/development/i18n.html#i18n-tool-py), or merely an unintended behavior of the `i18n_tool.py translate-messages` command used to generate the `.po[t]`s pushed to Weblate.  (Note that freedomofpress/secu

[2021-10-30 16:27] nabla-c0d3 commented on #6154
A few things I thought of:

Dynamically adding attributes to the Flask object (or any object) is a bit of an anti-pattern as it causes various problems, one of them being that the dynamically-added attribute is not type-checked at all. Hence, in the context of type-checking, mypy is "right" to complain about it.

I described this problem in more details in https://github.com/freedomofpress/secured

[2021-10-30 17:21] zenmonkeykstop commented on #6154
Thanks @nabla-c0d3 - it may not explicitly be the topic of the issue but it does seem necessary for the version bump and is extremely useful feedback! Getting type checking working against CryptoUtil is probably the most critical part security-wise - thanks for the work you've done already. IIRC `storage` and `instance_config` are also dynamically attached, and can probably be refactored out as gl

[2021-11-03 00:04] cfm opened #6157 "consider refactoring templates and Sass to maximize reuse/reusability"
## Description

While well beyond the scope of #5972, the UI refactoring and tweaking involved in #5986 and #5987 demonstrates that the separate templates and overlapping Sass stylesheets can be difficult to reason about between the Source and Journalist Interfaces.  Once this accessibility-focused refactoring is complete, it would be good to investigate whether the two interfaces' templates and s

[2021-11-03 04:13] eloquence commented on #6155
I agree this interaction is pretty wonky. Note that @ninavizz is currently [exploring](https://github.com/freedomofpress/securedrop-ux/wiki/Prototypes-Archive#source-ui-new-user-experience-2021) design solutions for an "inverted flow" in which the codename (now renamed passphrase) is shown at the end of the submission process, not at the beginning.

In that case, the entire "Forgot your codename"

[2021-11-03 19:27] cfm commented on #6157
@zenmonkeykstop suggested today that he might favor separating the Source and Journalist Interfaces' templates and stylesheets completely, rather than refactoring them for reusability.  I've updated the description to mention this counterargument and noted the possible exception of widgets that are truly replicated between the two interfaces.

[2021-11-04 15:42] zenmonkeykstop opened #6158 "Update Rust version in build container to 1.56.1 or greater"
## Description

Current Rust version used in the build container while compiling the `cryptography` wheel is 1.52.1. As a result of https://blog.rust-lang.org/2021/11/01/cve-2021-42574.html this should be updated to 1.56.1 or greater.

The version is set in `molecule/builder-focal/Dockerfile` - after updating it there, a new builder image should be generated, tested locally (does `make build-debs`

[2021-11-05 00:44] eloquence commented on #6135
Hi @elfranne , having not heard back from you, I'm closing this issue - but please don't hesitate to get in touch via the support portal above, or via securedrop@freedom.press.

[2021-11-05 00:44] #6135 closed, assigned to nobody

[2021-11-05 04:44] eloquence commented on #5928
Closing this for now, running it nightly has definitely greatly reduced the friction. We can revisit but currently resilience of this job (#6112, #6085, #6052, etc.) and possibly restoring a custom branch filter to ensure it runs on all PRs that _target_ a release branch (but whose branch may or may not begin with `stg-`) seem higher priority.

[2021-11-05 04:44] #5928 closed, assigned to conorsch, maeve-fpf

[2021-11-07 19:50] zenmonkeykstop opened #6161 "Upgrade to Tor v0.4.6.8"
Tor v0.4.5.10 is no longer available upstream, causing weekly checks to fail. 0.4.5.11 is next in line but Focal packages are not yet available. This is as good a time as any to move to the 0.4.6.* series, specifically 0.4.6.8. This latest Tor release's main change is to drop support for v2 onion services. Since SecureDrop has already dropped v2 support, this update can happen ASAP without the nee

[2021-11-09 00:24] gonzalo-bulnes commented on #6157
In a web context, I'd suggest using [CSS custom properties](https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties) instead of moving towards CSS pre-processing (SASS and friends). They've got [good support across browsers](https://caniuse.com/css-variables) and don't require extra tooling.

Typical examples of use include theming, I'm happy to :pear: pair or discuss some cod

[2021-11-10 00:36] gonzalo-bulnes opened #6163 "The command 'make dev' fails to retrieve the latest Tor Browser version number"
## Description

When running `make dev` for the first time, the Tor Browser download fails because an incorrect version number is retrieved.

## Steps to Reproduce

1. Clone this repo
2. Run `make dev`

**Note**: The error might not happen if you've successfully set up a dev environment before because that specific Docker layer may be cached.

This shouldn't be environment dependent, but it's conf

[2021-11-10 00:37] gonzalo-bulnes commented on #6163
I've got a fix that @creviera and I confirmed is effective (and I understand what's happening). I'll submit a patch.

[2021-11-10 20:34] #6163 closed, assigned to gonzalo-bulnes

[2021-11-15 21:52] zenmonkeykstop commented on #6161
(Woops, reopening until this is in prod.)

[2021-11-16 00:33] gonzalo-bulnes opened #6170 "NUC11 hardware: network device unsupported by SecureDrop custom kernel"
## Description

On a NUC11i5PAK, the network connectivity is lost during installation after the first reboot.

## Steps to Reproduce

I am following the documentation instructions and the issue appeared when running `./securedrop-admin install` from the Admin workstation. However, I believe that booting the NUC11 using the `5.4.136-grsec-securedrop` kernel may be enough to reproduce the issue.

##

[2021-11-16 00:33] gonzalo-bulnes commented on #6170
@zenmonkeykstop @eloquence @conorsch Please let me know if I missed anything that would be useful documenting in this issue!

[2021-11-16 01:36] ninavizz opened #6171 "Compose content for "Source Safety Guide""
## Description

Content needs to be developed for [this page](https://www.figma.com/file/rHT1RE7zpNttqIGdZpPkhQ/SI_FlowInversion-deux?node-id=10%3A1282), currently nicknamed the Source Safety Guide. Until content has been created, edited, and approved, this page cannot go into the SI. [This is the prototype](https://www.figma.com/proto/rHT1RE7zpNttqIGdZpPkhQ/SI_FlowInversion-deux?node-id=369%3A144

[2021-11-17 15:17] zenmonkeykstop commented on #6161
Tor 0.4.6.8 packages have been running in a test environment for the past 2 days, no errors/issues, nothing interesting in the logs. IMO we should consider an off-release-cycle push of said packages to prod.

[2021-11-17 21:44] #6158 closed, assigned to nobody

[2021-11-18 15:15] #6152 closed, assigned to zenmonkeykstop

[2021-11-18 18:51] ninavizz commented on #6171
[This is the page](https://www.figma.com/file/POymwLZgaftrZkYvyvx99K/SD_RiskTLDR-(Edits)?node-id=0%3A1)* that had previously been worked on, collaboratively, for this content. Upon reviewing it after letting it sit for several months, it was my own judgement that this is faaar too much content for within the SD experience, itself—hence, paring it down, significantly, in the Paglen-enhanced overlay

[2021-11-18 21:40] ninavizz commented on #6171
Also of note: the image used in the overlay right now, is an image of Trevor Paglan in a gallery exhibit for one of his own works (the giant silver cam-ball). Paglan himself would need to be contacted, and able to provide the name of the photographer and gallery—with both consenting to use of this image. Yes, I will personally volunteer to do that, off the clock, to facilitate use of this image. I

[2021-11-19 07:06] ninavizz opened #6173 "Change use of word "document" across SI and JI, to "file""
## Description

In confirmation messaging in the Source UI, on the "All Sources" page of the JI, and maybe on the individual Source page in the JI, the word "document" is shown. In the H2 and Body copy of the SI, we have already changed the word to "File," and I believe in the SDW Client have also made the update.

The file-name format including the word "doc" for files in the `.gz` filename, I'm

[2021-11-20 23:35] ninavizz commented on #6171
**NOTE: This approach killed, ignore this comment...**
<strike>FYI, would be nice if there could be a point to speak to this. Users in testing also commented that they wanted to see a history of what they'd submitted to news orgs—and that feels like a relevant by-design thing to also speak to.</strike>

<img width="815" alt="Screen Shot 2021-11-20 at 3 25 35 PM" src="https://user-images.githubuser

[2021-11-21 12:33] evilaliv3 opened #6176 "Implement Cross-Origin-Opener-Policy Header"
I consider that it would be really valualbe if we could implement the ```HTTP Cross-Origin-Opener-Policy (COOP)``` header to  ensure that the top-level document does not share a browsing context group with cross-origin documents.

The policy to be set in our use case is: ```Cross-Origin-Opener-Policy: same-origin```

Reference: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cross-Origin

[2021-11-21 13:16] evilaliv3 opened #6178 "Implement CSP Frame Ancestors policy"
I would like to propose to improve of the current CSP policy by adding the ```frame-ancestors``` directive.

In specific i would like to propose to set the directive to the value ```frame-ancestors: none```

I would like to precise that this addition would not add any value on top of our current usage of the ```X-Frame-Options``` header and actually would just represent an overhead in the communic

[2021-11-21 13:49] evilaliv3 opened #6180 "Deprecate usage of X-Download-Options header"
With this ticket I would like to propose the deprecation of the usage of the ```X-Download-Options``` header that was actually supported only by IE and introduced in IE8 to fix their own broken download implementation.

Any up to date browser, including IE and Edge now does safely implement the noopen policy on file download while using the standard header ```Content-Disposition: attachment```: ht

[2021-11-21 14:15] evilaliv3 opened #6182 "Deprecate usage of X-XSS-Protection header"
With this ticket I would like to propose the deprecation of the usage of the ```X-XSS-Protection``` header that is actually supported only by IE and Safari: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-XSS-Protection

The same protection is no implemented by our current implementation of the CSP policy that disables inline JavaScript.

Considering that we do not target any IE or Saf

[2021-11-22 13:52] evilaliv3 commented on #6176
Moving forward this analysis i consider that we should enable as well CORP and COEP with the following exact configuration:
[code]

References:
- https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cross-Origin-Embedder-Policy
- https://developer.mozilla.org/en-US/docs/Web/HTTP/Cross-Origin_Resource_Policy_(CORP)

[2021-11-25 20:50] zenmonkeykstop commented on #6180
`Content-disposition: attachment` is indeed being set as expected. This will be folded into a new PR along with other header changes, as per https://github.com/freedomofpress/securedrop/pull/6183#issuecomment-979365288

[2021-11-25 20:52] zenmonkeykstop commented on #6178
LGTM, folding into a new PR as per https://github.com/freedomofpress/securedrop/pull/6183#issuecomment-979365288

[2021-11-26 21:31] zenmonkeykstop opened #6186 "Update Apache2 headers with modern settings."
@evilaliv3 submitted PRs for various improvements to the HTTP headers being set on the Source and Journalist Interface, this is just a ticket to group the related issues together to be addressed in a single PR.

Issues in scope:
- [x] #6176
- [x] #6178
- [x] #6180
- [x] #6182

[2021-12-01 16:17] rocodes opened #6188 "Unhandled exception for short username in manage.py"
## Description

When attempting to add a < 3-letter username during `./manage.py add-admin` or `./manage.py add-journalist`, user encounters a python traceback instead of an easy-to-read error message.

## Steps to Reproduce

SSH to servers (I used staging)
[code]

## Expected Behavior
A message that says "Sorry, please choose a username over 2 characters."

## Actual Behavior
[code]

[2021-12-02 21:12] zenmonkeykstop opened #6189 "HOTP secrets are not validated correctly."
## Description
HOTP secrets are not set up correctly in all cases:

On the JI:
- case 1:  if an admin adds a user and selects the "is using a Yubikey [HOTP]" checkbox, but does not provide a HOTP secret, an error is not thrown and an account using TOTP is set up instead.
- case 2: if an admin adds a user and selects the "is using a Yubikey [HOTP]" checkbox, and provides a HOTP secret containing on

[2021-12-04 14:44] zenmonkeykstop commented on #6161
0.4.6.8 has been deployed, no issues reported.

[2021-12-04 14:44] #6161 closed, assigned to nobody

[2021-12-04 14:46] #5991 closed, assigned to nobody

[2021-12-07 21:56] eloquence commented on #5467
We discussed this further today (2021-12-17) with @creviera @zenmonkeykstop @gonzalo-bulnes @conorsch @cfm @rocodes.

We agreed that for now we'll _not_ preserve entire rows for deleted users, but instead associate replies with a single global deleted user. (We'll need to do that anyway for historical accounts.)

We are still interested in giving admins more fine-grained control over:
- locking ac

[2021-12-07 21:56] #5467 closed, assigned to nobody

[2021-12-08 01:47] eloquence opened #6192 "Use a special `deleted` journalist user for associations with deleted users"
As discussed in #5467 and #5503, we currently delete rows for deleted journalist users. After deletion, `journalist_id` will be `NULL` in other tables that reference the deleted user (e.g., `replies` and the `seen` tables; see the [database diagram](https://docs.securedrop.org/en/stable/_images/securedrop-database.png)). The API will return the username `deleted` and the UUID `deleted` wherever th

[2021-12-08 19:31] cfm commented on #5503
Just to close the loop on my own (pedantic) point of confusion during yesterday's discussion of <https://github.com/freedomofpress/securedrop/issues/5467#issuecomment-988290412>:  A SQLite `FOREIGNKEY` constraint, enforced by `PRAGMA foreign_keys = ON`, will indeed reject *invalid* foreign-key values but accept *null* foreign-key values without an additional `NOT NULL` constraint:

[code]

So the

[2021-12-09 05:07] ninavizz commented on #6171
Poking @huertanix @martinshelton @harlo! We're about to begin scoping the updated design for implementation. For this to get built, the content needs to be confirmed to be complete, first. I'd love to see this happen, so just offering a nudge, here. :)

[2021-12-09 07:55] ninavizz opened #6193 "Edit/Rethink GPG Guidance in SI"
## Problem
Today's text guiding GPG usage in the SI is likely to be alienating to many users. It assumes the reader understands BASH and how to use a Terminal (like, what is an -s flag?!); while at the same time speaking to users who don't understand the value of GPG (yet somehow still have a GPG keyring). This kind of mixed-messaging is usually innocent in its misdirection, yet creates confusion

[2021-12-09 08:01] ninavizz commented on #6193
I have taken an initial pass to re-structure the text to make more sense for usability. There's a lot of "holes" in it, tho, that could stand to be filled—and then eventually some styling to help delineate hierarchies & help it read more fluidly.

[2021-12-09 15:24] zenmonkeykstop commented on #6193
One thing to consider here - that we don't really consider in the current text *either* - is that this will result in the instance's public key being added to a source's keyring. If their machine is subject to forensic examination, this is good circumstantial evidence that they were interacting with a given instance (and there will probably be timing information as well based on keyring modificati

[2021-12-09 15:28] zenmonkeykstop commented on #6193
Ultimately this is another point in the PRO column for browser-side encryption. If the instance pubkey and the code to do the encryption also get little-broomed, that preserves the leave-no-trace condition, and it also makes it a seamless experience for all users as opposed to a scary and error-proces one for some users.

[2021-12-09 18:32] ninavizz commented on #6193
@zenmonkeykstop DAMN that is a good catch! At a minimum, perhaps advise Sources on how to edit their keyring and communicate THAT risk? Or add a step to have them delete the key from their keyring before going back to SecureDrop—with an addendum sentence explaining why?

[2021-12-09 22:11] eloquence opened #6194 "Large upload failure should result in comprehensible error message"
## Steps to reproduce

(To see production-like behavior below, make sure to test in Tor Browser against a staging or production instance.)

In the Source Interface, upload a file that is greater than the permissible size limit (currently: 500MB)

## Expected behavior

Source Interface should display a comprehensible error message, ideally as a standard flash error above the submission form.

## Ac

[2021-12-10 00:56] eloquence commented on #1145
The only officially supported migration path to Ubuntu 20.04 was a reinstall from a backup (which does not include this old file), so this should be fully resolved. Closing.

[2021-12-10 00:56] #1145 closed

[2021-12-10 01:26] eloquence commented on #1476
All the named issues have since been addressed, except for the QR code issue, which is tracked in #3293.

[2021-12-10 01:26] #1476 closed

[2021-12-10 02:21] #6186 closed, assigned to nobody

[2021-12-10 07:29] ninavizz commented on #6193
Random bedtime brainworm I'm opening the laptop for: is it possible to encrypt files against a key whose text you cut/paste into a Terminal—thus never saving an .asc to your disk? My [initial prototype](https://www.figma.com/proto/rHT1RE7zpNttqIGdZpPkhQ/SI_FlowInversion-deux?page-id=400%3A1937&node-id=470%3A4286&viewport=241%2C48%2C0.25&scaling=min-zoom&starting-point-node-id=400%3A2359&show-proto

[2021-12-10 21:54] zenmonkeykstop commented on #6194
The issue with doing this as a flash message would be that the error (altho it's not really an error) is coming from Apache before the application sees it.  The`LimitRequestBody` directive in the apache config is what determines the max file (actually request but same diff) size.

One thing to investigate could be adding an ErrorDocument 413 (413 == Entity Too Large) directive as well - at the ver

[2021-12-10 22:19] eloquence commented on #6194
Yeah I figured we might have to do an ErrorDocument here - it could at least have a "< Return to submission form" link on it. Briefly spelunking - the ErrorDocument removal for the JI in #4023 suggests that we may want to confirm that we see the expected application-level response headers.

[2021-12-10 22:21] zenmonkeykstop commented on #6194
altho looking at said issue history and the Flask docs, it seems like it  might be possible to defer this check to the application instead: https://flask.palletsprojects.com/en/2.0.x/patterns/fileuploads/#improving-uploads - basically it will also throw a 413 in that scenario.

[2021-12-11 23:21] ninavizz commented on #6194
If there could be any way to keep the user in the SI w/o having to throw a 413—no matter the volume of required work—I'd advocate for that as a goal to target ahead of most existing UI changes to remediate other usability problems.

Sources are likely to be in an very anxious emotional space when submitting, and the screen-state change from showing an application UI to showing a browser-based erro

[2021-12-12 01:09] ninavizz opened #6197 "Update SI Error Text"
## Problem
When a Source submits the page without any selected files or entered message text, they get the below as an error message. The text itself reads in both a robotic and a policing tone. `#acab`

Also, in the soon-to-implement Inverted Flow design direction, all error/success messaging must begin with a declarative statement to follow the new design—which is also a generalized best-practic

[2021-12-12 01:09] zenmonkeykstop commented on #6194
If we did go the custom error page route, it would look like part of the SI.

[2021-12-13 19:10] zenmonkeykstop opened #6198 "Update SI to include org name in body text on index and generate/login pages"
## Description

Organization names may be set in the JI, to be used in both interfaces in HTML titles. If available, they could also displayed in the index page body,  ie, where it now says "First time submitting to *our SecureDrop*? Start here." and on the `/generate` and `/login` pages.

Any implementation would have to guard against potential issues raised by including user-modifiable strings i

[2021-12-14 00:52] cfm commented on #5987
@eloquence, per <https://github.com/freedomofpress/securedrop/issues/5972#issuecomment-947317684>, here is the translation distance incurred by the draft of #6165:

[code]

A handful of these will be case changes that we can edit in bulk in the individual `.po` catalogs before starting localization for the v2.2.0 release.  The rest we'll just need to give translators adequate time to work with, es

[2021-12-14 00:56] eloquence commented on #5987
Thanks, that's helpful! For the string changes we can apply across language immediately, should that be done as part of #6165 already or are there good reasons to hold off on that?

[2021-12-14 02:18] cfm commented on #5987
On 13 Dec 2021, at 16:57, Erik Moeller wrote:

Yep, I’ve noted this in #5987 as part of the final linting to be
applied to #6165 before final review and merge.  (I’ll test these
manual translation updates in the Weblate sandbox, too.)

[2021-12-16 23:50] zenmonkeykstop opened #6199 "Remove securedrop-keyring package from securedrop repo."
## Description

The same signing key is used for Debian and Ubuntu packages, and the logic for building it is duplicated (with minor differences in layout) in this repo and in the https://github.com/freedomofpress/securedrop-debian-packaging repo.

To reduce build complexity (and because this package is rarely updated), it could be removed from the securedrop repo, adding `focal` a a target dist i

[2021-12-17 17:26] zenmonkeykstop commented on #6189
This should be closed by #6191

[2021-12-17 17:26] #6189 closed, assigned to nobody

[2021-12-17 17:27] zenmonkeykstop commented on #6176
Closed in #6187

[2021-12-17 17:27] #6176 closed, assigned to nobody

[2021-12-17 17:28] zenmonkeykstop commented on #6178
Closed by #6187

[2021-12-17 17:28] #6178 closed, assigned to nobody

[2021-12-17 17:28] zenmonkeykstop commented on #6182
Closed by #6187

[2021-12-17 17:28] #6182 closed, assigned to nobody

[2021-12-17 17:28] zenmonkeykstop commented on #6180
Closed by #6187

[2021-12-17 17:28] #6180 closed, assigned to nobody

[2021-12-17 17:41] nabla-c0d3 commented on #5599
This is now fixed 🥂

[2021-12-17 20:15] zenmonkeykstop opened #6201 "Remove app.storage attribute, refactor Storage as global"

[2021-12-17 20:15] zenmonkeykstop opened #6202 "Remove app.instance_config attribute, refactor instance_config as global"

[2021-12-17 20:15] zenmonkeykstop opened #6203 "Reduce or eliminate the use of flask.g thread locals"

[2021-12-18 16:21] nabla-c0d3 commented on #4332
This is not happening anymore: at the end of the tests, no `gpg2` processes are running.

Might have been fixed as a side-effect of the changes in https://github.com/freedomofpress/securedrop/pull/5683 and https://github.com/freedomofpress/securedrop/pull/6184 , which reduce the number of `gpg2` processes spawned by the test suite to 1, and use `yield` in the GPG fixture.

[2021-12-21 04:48] cfm commented on #6078
We should revisit this question especially in light of `html5validator`'s dependency on a JDK and <https://github.com/validator/validator>.  The latter in turn depends on Log4j, albeit a [version prior to those vulnerable to the Log4shell exploits](https://github.com/freedomofpress/securedrop/issues/6078).

[2021-12-21 17:37] eloquence opened #6204 "fwupd produces multiple alerts"
Example notification:

[code]

We don't currently support `fwupd` and have previously silenced its alerts: #5882, #6107

[2021-12-21 17:37] eloquence commented on #6204
What's the correct long-term solution here - should/can we uninstall fwupd for now?

[2021-12-21 17:45] conorsch commented on #6204
Perhaps we can disable fwupd via systemd, via the postinst for `securedrop-config`. These messages are new, I only see them starting a few days ago.

[2021-12-21 20:53] zenmonkeykstop commented on #6154
One gotcha here is that  `flask-babel`'s Babel object attaches itself as the `babel_instance` attribute to the Flask app, so for that one an approach other than the one in the CryptoUtil refactor may be required (or we could suppress that single mypy error).

[2021-12-23 04:22] cfm commented on #5987
#6165 now has a test plan, and I've updated this ticket with the things that I've caught (so far) and will fix incrementally while FPF is off between now and New Year's.

[2021-12-23 04:44] cfm opened #6205 "Ubuntu Groovy packages are no longer available for `builder-focal`"
## Description

`builder-focal` installs `dh-virtualenv` explicitly from Ubuntu Groovy, whose packages are no longer available at archive.ubuntu.com.

https://github.com/freedomofpress/securedrop/blob/41d5414ff753c19fe467359220a0889228f0e3b1/molecule/builder-focal/Dockerfile#L37-L40

[code]

`staging-test-with-rebase`, along anything else that uses the `builder-focal` Molecule scenario, will fail

[2021-12-24 23:42] eloquence commented on #6205
Thanks for the report @cfm, I've tried to address this in #6206. AIUI a maintainer with quay.io access will need to push the new build container to test it.

[2021-12-29 02:46] #6205 closed, assigned to nobody

[2022-01-04 00:55] huertanix commented on #6171
@ninavizz Just to double-check my assumptions on the state of this copy: 1) It exists but it's long/unwieldily. 2) Copy can be adapted to the outline structure you posted a screenshot of, but still needs to be written/re-written?

[2022-01-04 03:36] sssoleileraaa commented on #5503
@cfm - it's a good point that I missed when I created this issue. Null is a special case in sqlite and will not cause a foreign key contraint error, e.g.
[code]

One might assume both update statements would fail due to the table constraint:`FOREIGN KEY(journalist_id) REFERENCES journalists (id)`, but, yeah, nulls are special. I'll update my comment to avoid confusion. But we still want to enable

[2022-01-04 19:58] ninavizz commented on #6171
@huertanix Yep! _Formatting_ should follow what is shown [in the Figma](https://www.figma.com/proto/rHT1RE7zpNttqIGdZpPkhQ/SI_FlowInversion-deux?node-id=369%3A1444&viewport=241%2C48%2C0.13&scaling=min-zoom&starting-point-node-id=369%3A1992); so...
1. FYI, per pre-break discussion with Kev, final page may or may not be an overlay, tbd
2. Page description (below H1) should be no longer than 2-3 sent

[2022-01-04 22:00] sssoleileraaa commented on #6192
I think there are two approaches, but first here are some notes (recap):

## Notes

* The endpoint `/get_all_replies` tells us which replies exist on the server (so that we can add, update, or delete reply records accordingly to match the server), and which journalists have seen each reply (so that we can add seen records accordingly- note that we decided early on that we only delete seen records

[2022-01-04 22:22] ninavizz opened #6210 "EPIC: SI Redesign (2 phases)"
## Background
In 2019 we did our first ever study of the Source Interface for SecureDrop, with 8 participants on UserFeel. Multiple problems and opportunities were surfaced from that.

Later, the team endeavored a Pilot of the SD Workstation. Through the increased access to journalists and newsrooms in the Pilot, we learned about their pains with SPAM. More specifically, we also learned about a pr

[2022-01-04 23:32] ninavizz opened #6211 "SI Redesign: Phase One"
_This is a child-epic to the parent epic #6210_

## Introduction
This epic has been assembled to create the _neatest-possible artifact_ to push as a Feature Branch into a first phase of user testing. **Outputs from this Epic will not need immediate L10 work, nor change-management stuff with customers.** One or two customers will need to be sourced to run a branch of this as their SD instance, per

[2022-01-04 23:50] ninavizz opened #6212 "Kill strings & Edit remaining string in SI "Reply" Message"
_Et Cetera item within #6211_

## Problem
In today's [Reply experience, a Source is advised](https://docs.securedrop.org/en/stable/source.html#continuing-the-conversation) that a journalist user will be notified when they delete a reply—and that this is an action the Source should do, accordingly. In addition to the OpSec rationale. In reality, SDW users do not receive any such notification. Furth

[2022-01-05 00:57] cfm commented on #5987
As outlined above, #6165 will be ready for review tonight pending CI.  Of note, but out of scope of the current accessibility effort:  The Journalist Interface’s style sheets tend to be more logical and DRYer than the Source Interface’s, but there’s still room for more consistency.  For example:
- Button-related styles could be refactored to be agnostic as to whether they are styling an `a` or a `

[2022-01-05 03:07] ninavizz opened #6213 "SI: Re-Style Passphrase Widget"
_This is a child-issue to the epic #6211_

## Problem
Today's "Passphrase Widget" is problematic for many reasons, summarized across many touchpoints & reports:
- Lock semiotic confusing
- Refresh functionality opportunity for user error
- Colors outdated
- A11y unfriendly hide/show control

## Solution
_New to Figma? So are all of us! [Learn about SecureDrop on Figma.](https://github.com/freedomo

[2022-01-05 03:46] ninavizz opened #6214 "SI Redesign: Phase Two"
_This is a child-epic to the parent epic #6210_

## Introduction
This epic has been assembled to create the _neatest-possible artifact_ to push as a Feature Branch into a **_second_** phase of user testing, in follow-up to the first. One or two customers may need to be sourced to run a branch of this as their SD instance, per the [Phase Two Research Plan](https://docs.google.com/document/d/1ZXUY8i

[2022-01-05 04:01] ninavizz commented on #6193
Note: Current H1 reads wackily should it be linked-to from the updated GPG call to action (CTA) in the SI Redesign. Should be edited when this Issue is resolved, to read in a fashion that makes sense from this call to action:
<img width="782" alt="Screen Shot 2022-01-04 at 2 42 16 PM" src="https://user-images.githubusercontent.com/8262612/148158639-af2886cf-6ff5-4b40-b069-3522a8afd54c.png">

[2022-01-05 21:33] ninavizz commented on #5972
Note:  The items "add non-color differentiation to :hover and :active styles (WCAG 1.4.1, 1.4.11, 2.4.7)" and "check current color scheme meets contrast requirements (WCAG 1.4.3, 1.4.11)" are both addressed in the #6211 SI work. Likewise, lots of recommendations for HTML and CSS standardization. Relevant to those changes, though—many pages do not have H1s, by design. Not sure if that will mess-up

[2022-01-06 01:10] eloquence commented on #6193
I think that would be a good, incremental change we can make quickly. The instructions already require comfort with the command-line so I don't see any harm in adding additional instructions that help minimize traces on the user's machine.

I agree that JS-based pre-encryption could largely obviate the need for this page, though we may end up keeping some version of it as a fallback.

[2022-01-06 01:24] eloquence commented on #6211
During the current sprint, @eaon @ninavizz and @zenmonkeykstop will focus on narrowing the scope of near-term deliverables (e.g., CSS standardization), some of which can potentially be released independently. As time allows, @eaon may be able to start implementing some of those agreed upon changes.

[2022-01-06 02:26] cfm commented on #5972
Thanks, @ninavizz!  Re:

Yep, I recognize that there's growing overlap between these soon-finished and soon-begun projects.  I'll still look for easy ways to tick these boxes, especially on the Journalist Interface, but I won't obsess over them.  :-)

Absolutely.  I've changed this point to read "surface view-level `h1`s *(or equivalents)* in page `title`s".

[2022-01-06 02:35] cfm commented on #6211
Re: HTML/CSS standardization:  The [modal confirmation dialog](https://github.com/freedomofpress/securedrop/blob/c5d7766d886b6bf3c9fdc297e4bb21b960e58447/securedrop/journalist_templates/_confirmation_modal.html) used in the Journalist Interface offers an example of using parameterized Jinja templates as reusable UI components rendered (that is, to HTML) entirely server-side.  This could allow us t

[2022-01-06 23:54] legoktm commented on #6192
I looked into this a bit, my personal preference would be to have the placeholder "deleted" user (Option A), just so we can rely on journalist_id being type `uuid` rather than `Optional[uuid]` (sidenote, [MediaWiki](https://www.mediawiki.org/wiki/Extension:UserMerge) takes a similar approach, "deleting" users by merging them into one named "Anonymous").

A bit more concrete proposal: Rather than c

[2022-01-07 03:32] zenmonkeykstop commented on #5503
Moving this out of the 2.2.0 milestone (and moving #6192 in) - at this stage it's too ambitious to get it into the next release.

[2022-01-10 19:57] sssoleileraaa commented on #6192
Thanks for joining the conversation @legoktm! Option A is part of what I've been advocating for for at least a year to resolve downstream issues (the other part being: https://github.com/freedomofpress/securedrop/issues/5467). The reason I mention Option B is that it allows us to avoid the data migration and to continue relying on the DB to null out the journalist IDs upon account deletion. It is

[2022-01-10 20:47] zenmonkeykstop opened #6218 "Update Tor version to 0.4.6.9"
A new stable Tor version is available - the version used by securedrop should be updated accordingly.

Steps involved are as follows:

- [x] - update [securedrop fetch-tor-debs scenario](https://github.com/freedomofpress/securedrop/blob/c5d7766d886b6bf3c9fdc297e4bb21b960e58447/molecule/fetch-tor-packages/playbook.yml#L15) to pull 0.4.6.9 - See https://github.com/freedomofpress/securedrop/pull/6227

[2022-01-10 22:39] gonzalo-bulnes opened #6219 "Licensing notices are used in different ways in different repositories"
## Description

Currently, we have different practices regarding license notices in different parts of the SecureDrop project.
- SecureDrop Client uses full [AGPL-3.0-or-later][spdx-agpl] headers in each file ([example][client])
- SecureDrop servers don't display them per-file ([example][sd])
- I guess two examples are enough to show the practice is different?

There are arguments for and against

[2022-01-10 22:57] gonzalo-bulnes commented on #6219
As far as I understand:

- The Affero GNU Public License encourages to provide a notice in each file alongside the copyright line. [[1]]
- The copyright line is somewhat separate to the licensing notice and has stricter formatting requirements. [[1]]

  [1]: https://www.gnu.org/licenses/gpl-howto.html

### Arguments

- Per-file notices are the least ambiguous
- Per-file notices are the easiest to

[2022-01-10 23:04] gonzalo-bulnes commented on #6219
At this point, I believe that a short per-file notice + copyright line(s) would fulfill the re-usability goals while mitigating most of the perceived inconvenience, so that would be my personal preference. (Not feeling strongly about it, though.)

Using the SPDX license identifiers seems like a good idea to me, because they allow automation while being readable (YMMV).

For the copyright lines, my

[2022-01-10 23:08] eloquence commented on #6219
I personally favor repo-level `LICENSE` files over per-file notices, but don't feel very strongly one way or another. Of course, if a repo combines multiple licenses directly then it's useful to have file-level notices, but AFAIK that doesn't apply to existing repos impacted here.

IMO the argument that per-file notices (as opposed to a repo-level `LICENSE` file) help with correct re-use lacks emp

[2022-01-10 23:37] gonzalo-bulnes commented on #6219
Good observation. This is a typical example of change I would _not_ go an make across the board. Instead, I'd advocate for making a decision, then applying it as we get opportunities to touch the files. YMMV

[2022-01-11 16:42] conorsch commented on #6218
For those using Qubes, see https://github.com/freedomofpress/securedrop-debian-packaging/wiki/FAQ#how-do-i-create-a-local-environment-suitable-for-building-packages. You'll need docker on top of the python dependencies to run the fetch tor debs logic.

[2022-01-11 20:21] linux-lukas opened #6221 "[meta] Mastodon account for this project"
Could a Mastodon account be worthwhile for the project?

A Mastodon account for the project would have several advantages:

1. you would no longer have to rely on Twitter as a communication channel.
2. you can tap into new target groups => more people would become aware of your project and thus possibly also find potential supporters for your project.

[2022-01-11 20:24] eloquence commented on #6221
We have one:
https://fosstodon.org/@securedrop

[2022-01-11 20:24] conorsch commented on #6221
@Lukas2112 Boy, do I have good news for you: https://fosstodon.org/@securedrop :smiley:

[2022-01-11 20:25] linux-lukas commented on #6221
Brilliant! This should definitely be added to the Prototype Fund page! :) 🥳 🎉 🥳 🎉 🥳 🎉

[2022-01-11 20:25] #6221 closed, assigned to nobody

[2022-01-12 02:43] legoktm commented on #6192
I pushed my current WIP to the "delete-journalist" branch, so far it lazily creates a "deleted" journalist and reassigns the seen rows to it upon deletion (or so I think, I'll do more testing tomorrow).

[2022-01-12 19:16] legoktm commented on #6219
My preference is for per-file license information to facilitate copying/reuse in both directions, us wanting to copy stuff and others wanting to copy our stuff. I've done enough complete copyright audits (for Debian mostly) and gotten burned by people putting down vague licenses leading to me trawling through the Wayback Machine to find a contact point to get a real license statement that I just p

[2022-01-12 20:07] gonzalo-bulnes commented on #6219
At a way smaller scale, that's my impression/experience too. 👍 (And I include myself in that group at times, despite my strong interest in the topic.)

[2022-01-13 11:07] lsd-cat commented on #6111
Having researched both Pyre/Pysa and Semgrep here is a small list of pros and cons of each of them:
Pyre/Pysa:
- ➕ Better taint analysis
- ➕ More friendly syntax/settings
- ➕ Support privacy/permission controls in taint analysis
- ➖ Seems to be only used and maintained by Facebook
- ➖ Not a lot of public projects or samples where it is currently in use

Semgrep:
- ➕ Easy to integrate in CI
- ➕ Mat

[2022-01-13 23:23] zenmonkeykstop commented on #6170
Looks like grsec's 5.15 series might actually be the way to go. the 5.10 patch  is EOL in Q1 2022.

[2022-01-13 23:23] conorsch opened #6224 "Switch from itsdangerous to another JWT library"
## Description

An upcoming release of `itsdangerous`, 2.1, will drop support for JSON Web Signatures. The project maintainers recommend switching to `authlib` instead. Encountered the deprecation notice while performing a [diff review](https://github.com/freedomofpress/securedrop-debian-packaging/wiki/itsdangerous-0.24-to-2.0.1). See this [relevant GitHub issue](https://github.com/pallets/itsdang

[2022-01-14 19:06] legoktm opened #6226 "Various database columns should be NOT NULL"
## Description

There are a decent amount of columns in our models that are nullable just because the default is `nullable=True`, and not because they should be. Some will be very easy to migrate (booleans, where null is coerced to false), others might be more involved, and then there were some I wasn't 100% sure about.

## Easy (booleans)
* sources.pending
* source_stars.starred
* journalists.is_

[2022-01-14 23:10] huertanix commented on #6193
A few thoughts on this:

- My hot take/hunch is that virtually no one will be pre-encrypting with GPG before uploading to SD, so keeping this as a small link as out of the way as possible is good to prevent it from being confused for a necessary step.
- The warning on signing at the end seems to make an implicit assumption that a source will remain anonymous _to the journalist_. Most journalists (

[2022-01-19 17:51] conorsch commented on #6170
Agreed, that's what https://grsecurity.net/download/ says. However, the EOL dates there are substantially different from what's on https://www.kernel.org/category/releases.html :

| EOL dates        | 5.10     | 5.15 |
|--------------|-----------|------------|
| grsec | 2022Q1      | 2024Q4        |
| kernel.org    |2026Q4  | 2023Q4       |

If what we want is long-term support for hardware, track

[2022-01-19 19:37] zenmonkeykstop opened #6229 "Add support for generating signed CSRs for Harica and Digicert in securedrop-admin"
## Description

Harica and Digicert now apparently require that CSRs for certs for onion services be signed with the service's private key. Harica have written a tool to support this:
https://github.com/HARICA-official/onion-csr

Unfortunately it requires that Ruby and gcc be available on the machine running the Tor daemon (or that you copy the hsdir contents to wherever you run the tool). Given t

[2022-01-19 19:49] legoktm commented on #6224
I'm still looking around, but authlib seems very heavy for our pretty minimal needs. I think something smaller that just does JWT/JWS might be a better fit? E.g. https://github.com/jpadilla/pyjwt

Via tokei, authlib is 17K Python LOC, while pyjwt is 1.6K (just the library, excluding tests).

[2022-01-19 20:25] eloquence opened #6230 "postinst error in `securedrop-app-code` package install"
Seen on my test instance and one other:

[code]

I see this for upgrades going back to SecureDrop 2.0.0, so it does not appear to interfere with successful upgrades.

[2022-01-19 20:32] zenmonkeykstop commented on #6229
Another alternative would be to document the process of temporarily installing and using the onion-csr tool above in tails, which would go a little like this:
[code]

[2022-01-19 22:37] conorsch commented on #6230
Took a quick look at this today. My understanding is that we're registering a trigger for changes to the python3.8 interpreter in the `securedrop-app-code` package, as the [dh-virtualenv docs recommend](https://dh-virtualenv.readthedocs.io/en/latest/tutorial.html?highlight=trigger#step-2-set-up-packaging-for-your-project), but our `postinst` for `securedrop-app-code` wrongly assumes that `triggere

[2022-01-19 22:52] legoktm commented on #6230
I posted the fully generated postinst at https://gist.github.com/legoktm/0542388d8639e2a4bacb072ec5649c41

The problem is that we inject the autogenerated dh-virtualenv snippet, which correctly handles "triggered", *after* we bail out for not recognizing "triggered".

I think we either teach our postinst about "triggered", OR not erroring out on an invalid postinst command. I'll codesearch the Deb

[2022-01-19 23:19] legoktm commented on #6230
The codesearch wasn't that helpful, mostly because I can't easily search for the absence of "triggered".

So if we do go ahead and add it to the known list, it does mean there will be a behavior change in that we will now run the `dh_venv_safe_interpreter_update` step when Python is updated. I don't actually understand what the point of it is, it seems like it's supposed to hardlink in a new inter

[2022-01-20 00:53] cfm opened #6232 "adopt continuous localization"
## Description

0. [x] comms per freedomofpress/engineering#30
1. [x] #6916
    - [ ] freedomofpress/securedrop-dev-docs#86
3. [x] #6917
4. [x] comms per freedomofpress/engineering#30
5. [x] Test these in a feature branch in `securedrop-i18n-sandbox` against
   `weblate-sandbox.securedrop.org`, with `i18n_tool.py` removed
6. [x] PR review, including a mock release from `securedrop-i18n-sandbox` du

[2022-01-20 05:55] legoktm commented on #6229
The onion-csr tool just looks like a wrapper around openssl, I suspect it's possible to do this with just plain openssl commands. The tricky part might be adding in the nonces. I searched around a bit and found stuff like <https://mdleom.com/blog/2021/07/04/ecdsa-tls-tor-caddy/>, except that guide generates a new private key instead of using the hidden service's key and doesn't include the nonce.

[2022-01-20 06:05] legoktm opened #6233 "Consider using reprepro's update functionality instead of fetch-tor-packages"
## Description

We mirror the tor and tor-geoip packages from Tor's apt repo in to the one run by FPF to make sure new Tor versions don't accidentally break SecureDrops. Currently this is done with a custom fetch-tor-packages script, which requires you configure a container/VM with Tor's sources and uses SecureApt to download them, and runs some basic tests.

reprepro, which we use to build our ap

[2022-01-20 06:25] legoktm commented on #6230
I re-reviewed the code for `dh_venv_safe_interpreter_update` and am pretty sure it's a no-op and we really don't need it at all.

[code]

Stepping through that code, the `pythonX_Y` variable will be set to `python3.8`. Then it iterates over `python`, `python3.8%.*`, `python3.8`.

Looking in `/opt/venvs/securedrop-app-code/bin/` the only binaries exist are:
[code]

Except both of those are symlinks

[2022-01-20 09:34] kushaldas commented on #6230
Debian/Ubuntu will not update to a new major Python version within a release, means the ABI will be the same and the virtualenv should be just functioning. Our virtualenv is already having compiled code in it, means if we update the OS and get a new Python ABI, then we should have a new virtualenv via a new package.

[2022-01-20 17:07] conorsch commented on #6170
The kind folks at grsecurity strongly recommended we target 5.15, as @zenmonkeykstop rightly proposed. We'll continue to test patches and revise the build process, if necessary, in https://github.com/freedomofpress/kernel-builder/pull/18

[2022-01-20 17:11] conorsch commented on #6230
@kushaldas Thanks for chiming in! My takeaway is that we should remove the trigger altogether, no longer registering an "interest" in the python interpreter. That's a slightly different approach from what's in #6231, but would be a similarly minimal diff, with the added advantage that the functionality wouldn't change: triggers would continue not to run! Do you agree? cc @legoktm

[2022-01-20 18:56] legoktm commented on #6230
Sounds good to me, I reworked #6231 in that direction.

[2022-01-21 08:51] legoktm opened #6235 "/var/lib/securedrop/keys/gpg-agent.conf should be installed by the package, not generated in postinst"
## Description

Currently we create and edit the `/var/lib/securedrop/keys/gpg-agent.conf` file in the `postinst` of the securedrop-app-code package. Aside from being a bit precarious to be grepping for certain strings and editing accordingly, it gives us less flexibility on managing it because dpkg doesn't know about it.

There are two main options in Debian packaging, depending on whether there

[2022-01-25 00:29] #6230 closed, assigned to legoktm, conorsch

[2022-01-25 20:33] conorsch opened #6236 "Release SecureDrop 2.2.0"
This is a tracking issue for the release of SecureDrop 2.2.0

Scheduled as follows:

**Feature / string freeze:** 2022-02-03
**Pre-release announcement:** 2022-02-10
**Release date:** 2022-02-17
**Release manager:** @zenmonkeykstop
**Deputy release manager:** @conorsch
**Communications manager:** @legoktm and @eloquence
**Localization manager:** @conorsch
**Deputy LM:** @legoktm

QA team: TK

_Sec

[2022-01-25 20:39] conorsch commented on #6235
Great point, @legoktm. As you've probably noticed, the overall build story could use a lot of work. We're doing a lot of things in Ansible tasks that would be better expressed in packaging directives. Please keep an eye out for similar recommendations; might be worth compiling a list of them to tackle a bunch of improvements together.

[2022-01-26 16:35] zenmonkeykstop commented on #6229
yeah the nonce comes from the CA so it would just have to be input rather than generated - iirc the only non-openssl thing that the harica tool is doing is the ed25519 signing operation. But it seems pretty straightforward.

[2022-01-26 16:36] zenmonkeykstop commented on #6229
For me it's an open question as to whether reusing the service keys like this is a good idea - if nothing else it seems like they'd need to be added in the Apache config as well? But I can't point to an obvious problem with it.

[2022-01-26 21:17] zenmonkeykstop commented on #6218
Sadly not closed until the Tor packages are in prod...

[2022-01-26 22:18] zenmonkeykstop commented on #6218
I have installed the 0.4.6.9 packages on an otherwise prod instance. Tor behaviour seems unremarkable, SSH and JI auth services are available, as is the SI. Will review logs after an overnight reboot.

[2022-01-26 22:32] eaon commented on #6194
According to my testing, Apache's `LimitRequestBody` will **always** trigger the _The connection was reset_ screen. This wouldn't by itself be a huge issue if Flask/Werkzeug handled upload limits nicely, but that doesn't seem to be the case either.

When using setting `LimitRequestBody` to 0 and `FlaskConfig.MAX_CONTENT_LENGTH` (in `prod`, that is), setting a custom error page (rather than a flash

[2022-01-26 23:42] zenmonkeykstop commented on #6194
I wonder if setting `LimitRequestBody` to `500M + 1K` and `.MAX_CONTENT_LENGTH` to 500M would allow you to control the error for all but the `500M +1K` case...

[2022-01-26 23:45] eaon commented on #6194
Unfortunately not: Apache only hands off data to `mod_wsgi` once it's sure that the content-length is appropriate. So the error message would work for uploads that were right between the limits of Flask and Apache …

[2022-01-27 01:35] cfm opened #6238 "check that form errors are semantically linked to their triggering inputs (WCAG 3.3.1)"
This ticket tracks forms in the Source and Journalist Interfaces and how their validation and error states are conveyed to the user.

| Interface | Template | Form | Form-level errors | Field-level validation |
| --- | --- | --- | --- | --- |
| Source | `login.html` | `LoginForm` | `flashed.html` | `aria-describedby="login-with-existing-code-name-errors"` |
| Source | `lookup.html` | `SubmissionFo

[2022-01-28 01:15] cfm commented on #6238
As I've outlined above, further annotations are either not applicable or not possible for most forms as currently implemented in the Journalist and Source Interfaces.  #6240 proposes to add them in the one case where they are.

[2022-01-28 15:26] zenmonkeykstop commented on #6218
Packages are stable, will issue a PR into prod momentarily.

[2022-01-28 15:50] zenmonkeykstop commented on #6233
This makes a lot of sense to me:
- updating the test repo manually is kindof mindless and annoying so automating it would be good
- historically Tor updates were coupled with SD releases, but there is no reason for that, so just grabbing new stable versions when available and putting them up reduces lag between versions on our side and reduces release effort

Note that a manual signing operation i

[2022-01-28 22:26] #5987 closed, assigned to cfm

[2022-01-29 00:39] cfm commented on #5972
Confirming that:

—is due to be addressed in, and so effectively superseded by, #6211; and

—is already satisfied by the color scheme adopted since the audit was conducted in 2019.

Thanks, @ninavizz!

[2022-01-29 01:22] cfm opened #6241 "prevent focus behind/outside `dialog`s (WCAG 4.1.2)"
## Description

[Accessibility Lab recommendation](https://docs.google.com/document/d/1jZlKco2YgOrrI4PmTkG_Q8lKuV5VxCds/edit#):

As [summarized](https://bitsofco.de/accessible-modal-dialog/) by Ire Aderinokun:

(1) is implemented by #6041 and #6165.  We cannot implement (2)–(6) without JavaScript, which means that these requirements cannot be satisfied in the Source Interface.

## References

* ht

[2022-01-29 01:49] legoktm commented on #6233
I posted the reprepro config at https://github.com/freedomofpress/securedrop-dev-packages-lfs/pull/128. For CI I wasn't sure if we should be adding a CircleCI pipeline to the securedrop-dev-packages-lfs repo itself or in securedrop-debian-packaging, which is where the workstation auto-build CI lives.

[2022-01-29 01:52] cfm commented on #3268
This is foundationally complete as of #6041 and #6165, which have refactored the Source and Journalist Interfaces, respectively, to use HTML5 semantic markup and (where necessary) explicit ARIA annotations.  #5972 lists some further accessibility improvements to follow on this foundation, and new tickets tagged [`a11y`](https://github.com/freedomofpress/securedrop/labels/a11y) are welcome!

[2022-01-29 01:52] #3268 closed

[2022-01-29 02:01] legoktm commented on #6233
For prod, we could have CI push the tor update to a branch, leaving it for a human maintainer to test, verify checksums against deb.torproject.org and then sign. Or maybe it's easy enough to copy the debs over from the dev repo (and then test, verify, etc.) that having CI push to a branch doesn't add that much value.

[2022-02-01 14:55] zenmonkeykstop commented on #5467
(Moving issue out of 2.2.0 milestone as there's a PR in flight for it)

[2022-02-01 14:59] eaon commented on #6211
While working on getting some visual details right, I noticed that the font I saw in Tor Browser wasn't the correct one. I wrongly assumed that Noto Sans gets shipped by Tor, but this is only true for non-latin scripts - for sans-serif latin it defaults to [Arimo](https://fonts.google.com/specimen/Arimo).

Because we want sources to use Tor Browser's _Safest_ security level, that's what we're stuc

[2022-02-01 19:48] ninavizz commented on #6211
@eaon You owe me Zero apologies, friend! I honestly quite prefer that family, over Noto—which I never really "liked," but felt was the safest to standardize against. I will update all of my Figma stuff tonight/today, accordingly.

THANK YOU for doing all the research work on that! Evidently they keep changing their minds... as Firefox ships native with Fira Sans, which I'd presumed to be our alter

[2022-02-01 20:50] #6154 closed, assigned to conorsch, zenmonkeykstop

[2022-02-01 20:51] conorsch commented on #6218
Packages are live in prod, available here: https://apt.freedom.press/pool/main/t/tor/

[2022-02-01 20:51] #6218 closed, assigned to nobody

[2022-02-02 07:10] gonzalo-bulnes commented on #6170
:point_up: I installed the [5.15.18](https://github.com/freedomofpress/securedrop/pull/6242) kernel above on a fresh Ubuntu 20.04.3 installation:
- The `enp2s0` network device is not `UNCLAIMED` anymore :heavy_check_mark:
- `sudo modinfo igc` does print information of the module :heavy_check_mark:

[2022-02-03 20:18] #6170 closed, assigned to conorsch, gonzalo-bulnes, zenmonkeykstop

[2022-02-03 21:15] #6192 closed, assigned to legoktm

[2022-02-03 23:19] legoktm opened #6248 "Delete confirmation screenshots are garbled"
## Description

All the journalist-delete* variant screenshots have a garbled confirmation screen.

## Steps to Reproduce

Run `LOCALES=en_US make translation-test`

## Expected Behavior

Pulled from weblate (2.1.0):
![journalist-delete_all_confirmation_vTw1MQ5](https://user-images.githubusercontent.com/81392/152445463-4454b2f9-84f7-4362-b064-0a8096b9271c.png)

## Actual Behavior

![journalist-del

[2022-02-03 23:23] zenmonkeykstop commented on #6248
:grimacing: that looks like an unintended consequence of recent CSS updates.

[2022-02-03 23:25] legoktm commented on #6248
Briefly discussed with @conorsch, for now we're just going to use the old 2.1.0 non-garbled screenshots. All of the other ones look fine though.

[2022-02-03 23:31] legoktm commented on #6236
I uploaded most of the screenshots to weblate, some are appearing garbled, see #6248. I used a quick hack to skip uploading those for now:
[code]

[2022-02-04 01:46] conorsch commented on #6236
Prepared rc1 debs. I'm _not_ checking the "prepare changelog" box because I'd like to spend more time on it until I consider it final. Thanks to @legoktm's hard work, we're all caught up on the localization schedule. We'll keep tabs on how that's progressing over the coming weeks.

[2022-02-04 02:18] legoktm commented on #6248
I bisected this to, unsurprisingly, 5daebb694a581c9885d95459a5c87a57fbb68acc. I'm going to try to bisect the unsquashed branch to see if that helps to narrow it down.

[2022-02-04 02:37] legoktm commented on #6248
d22c9f8218b745f80b526b10f5328b956481caed adjusted how it looks:
![journalist-col_no_document_weird_04a2bd3e4e0a75](https://user-images.githubusercontent.com/81392/152462674-9c4717ca-ec88-46f7-a04b-78ee8ff435b5.png)

And then d48f18837c6d86fafd0b45139fce2d10819a89d4 is what made it all garbled.

[2022-02-04 02:45] legoktm commented on #6236
It's pretty low priority, but for rc2 we should push a new builder for https://github.com/freedomofpress/securedrop/pull/6234.

[2022-02-04 18:40] legoktm opened #6249 "Useless diffs in i18n po files for project info"
## Description

The first message in our .po files looks like:
[code]

However, something sometimes is consolidating this all into one line, see https://github.com/freedomofpress/securedrop-i18n/commit/19de483bd9b78814fcc18bf4917b3876d079b097. Except running `make translate` expands it in the other direction, see https://github.com/freedomofpress/securedrop/pull/6246/commits/b62807a8105310459e454f

[2022-02-04 19:31] legoktm commented on #6248
When I bump the Firefox version in the dev container to the current version, 91.5.0esr, which Tor Browser 11.0.4 is based on, then the screenshots come out fine. So this might just be a now-fixed browser bug...

[2022-02-04 20:09] legoktm commented on #6248
Yeah, all the screenshots look good now. I'll grab an old TB version to see how broken it is, maybe we need to include that explicitly as something journalists need to do (and I'd hope everyone is already using the latest TB...)

[2022-02-04 23:40] legoktm commented on #6248
I grabbed an old copy of Tor Browser 10.5 (based off of 78.15.0esr) from https://archive.torproject.org/tor-package-archive/torbrowser/10.5.10/ and the deletion confirmation window is entirely broken, as the screenshots indicate:
![Screenshot_2022-02-04_15-35-56](https://user-images.githubusercontent.com/81392/152617237-a0ba684c-be5c-4f8b-9f9e-78c823a2abb3.png)

I would think that using Tor Browse

[2022-02-07 18:02] zenmonkeykstop commented on #6236
Yup, builder update should probably happen before another RC just in case there's any weirdness with 1.58.1 and cryptography. Normally we'd wait till closer to the actual release, so as to have the image up-to-date for it.

[2022-02-07 22:23] sssoleileraaa commented on #6236
Just want to leave a comment that I did not do an upgrade or clean install scenario, but I did kernel testing on my `nuc8` to help with coverage there. And everything passed except for the expected failures below.
`meltdown.sh` vulnerability reported:
[code]
`paxtest blackhat` vulnerabilities reported:
[code]

[2022-02-08 15:44] #6248 closed, assigned to legoktm

[2022-02-08 22:14] zenmonkeykstop opened #6255 "Journalist API datetime format has changed, breaking client login."
## Description

See freedomofpress/securedrop-sdk#171 - the datetime format being returned by the Journalist API includes timezone info as a result of the Flask 2.0 update - previously it dd not, and the SecureDrop Client expects naive datetimes with no timezones.

## Steps to Reproduce

Attempt to use the client with a server running 2.2.0-rc1 or latest develop

## Expected Behavior

Client works

[2022-02-09 03:18] #6255 closed, assigned to nobody

[2022-02-09 06:10] gonzalo-bulnes opened #6257 "API responses should include time-zone information, be valid ISO8061/RFC339"
## Description

A [recent change][bug-introduced] aimed at including time zone information caused the API to respond with date strings in an invalid format. As a workaround, the time zone information was [removed][workaround] from the API responses.
_For the sake of focus, I'll keep the details on how the issue happened in the *comments* section below._

While that is an effective workaround, it d

[2022-02-09 06:18] gonzalo-bulnes commented on #6255
I think this isn't totally accurate, rather, the format output by the server became recently invalid (`+00:00` and `Z` are redundant), which broke the Client expectations. This is still an effective workaround, and I described what I think is a good next step in https://github.com/freedomofpress/securedrop/issues/6257

[2022-02-09 07:17] gonzalo-bulnes commented on #6257
Additional argument for favoring `isoformat`/`fromisoformat` over `strftime` manual formatting: https://github.com/freedomofpress/securedrop/pull/6256/files#r802309565

[2022-02-09 23:34] eaon opened #6262 "/var/log/syslog size over ~2.125MB makes testinfra tests hang"
## Description

`test_no_ecrypt_messages_in_logs` in `molecule/testinfra/common/test_system_hardening.py` triggered by `securedrop-admin verify` hangs indefinitely when confronted with a `/var/log/syslog` that's larger than approximately 2.125MB.

## Steps to Reproduce

* SSH into app server
* Run `sudo truncate -s 2125k /var/log/syslog`
* On Admin Workstation, run `securedrop-admin verify`

[2022-02-10 20:10] legoktm commented on #6249
Took me a bit of digging, but this is something we've manually enabled in Weblate:

![Screenshot 2022-02-10 at 11-48-12 SecureDrop SecureDrop](https://user-images.githubusercontent.com/81392/153485273-8201c066-f67e-4a6a-ac7f-d6e232432e53.png)

[2022-02-10 20:51] zenmonkeykstop opened #6263 "SSLSessionTickets directive added by postint even if it already exists"
## Description

The 2.1.0 release included a postint fixup to convert existing SSL-enabled instances to use TLS1.3. However, the condition for the conversion will still be triggered if the instance has already been ypgraded to 1.3, resulting in a duplicate `SSLSessionTickets off` line being added every time postint is triggered. The duplicate directive doesn't seem to affect functionality and exis

[2022-02-11 17:10] eaon commented on #6236
### Environment

- Install target: NUC11 app / NUC10 mon
- Tails version: 4.27
- Test Scenario: Clean install
- SSH over Tor: No, local only
- Release candidate: 2.2.0-rc2
- General notes: I was unfamiliar with the RC clean install procedure, but as far as I can tell everything worked out after running `securedrop-qa.yml` and temporarily commenting out the part of the install playbook that would a

[2022-02-11 17:29] eaon commented on #4452
Since I started working on the SI frontend, I looked into this a bit:

* [sassc](https://github.com/sass/sassc), while available from Debian/Ubuntu/Fedora repos, is now also deprecated but (supposedly) maintained (at time of writing the CI badges show that builds fail :shrug:)
* [DartSass](https://github.com/sass/dart-sass) is the only library/tool that is being actively worked on anymore. It requ

[2022-02-11 18:52] #6263 closed, assigned to zenmonkeykstop

[2022-02-12 01:02] legoktm commented on #6224
I reviewed the libraries listed at <https://jwt.io/libraries?language=Python>:

* pyjwt: Clean and straightforward API, code looked to be implemented correctly. No red flags in [past security issues](https://security-tracker.debian.org/tracker/source-package/pyjwt).
* python-jose: fork of pyjwt without clear justification, didn't seem to be any significant improvement
* jwcrypto: Not a fan [of the

[2022-02-13 02:12] ninavizz commented on #6211
@eaon Hey hey! Sorry to drag my tail on all this, but the Figma file has finally been all tidied-up, standardized, etc.; all Arimo, everything that should be in the Figma as standardized styles, and all the positioning/spacing finessed. Also, the funny opacity-stuff on buttons, un-done and simplified. Generalized styles have also been documented for the team & ongoing use, [here](https://github.co

[2022-02-13 08:11] tchwpkgorg opened #6268 "./securedrop-admin setup -> E: Unable to locate package ccontrol"
I'm trying to install SecureDrop. Unfortunately, it fails right at the beginning:

[code]

I'm trying to install it on Ubuntu 20.04. Ubuntu does not have a "ccontrol" package.

[2022-02-14 05:09] eloquence commented on #6268
Hi @tchwpkgorg , the `./securedrop-admin setup` command must be run from the Admin Workstation, which runs the Tails live USB  operating system, not Ubuntu. Are you following the installation guide from the beginning, starting with https://docs.securedrop.org/en/stable/overview.html ?

[2022-02-15 00:57] conorsch commented on #6236
Test plan report. In short, nothing of concern!

### Environment

- Install target: Vagrant prod VMs
- Tails version: 4.27
- Test Scenario: Upgrade from 2.1.0
- SSH over Tor: yes
- Release candidate: 0.6.0-rc2
- General notes: Worked well, no concerns.

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install depe

[2022-02-15 02:00] sssoleileraaa commented on #6219
I'm adding a `+1` for per-repo/ per-library licensing information versus per-file for several reasons:
* Per-file means more maintenance for us. Think of how many files we're constantly adding, moving, removing, and updating. If we were to move towards a per-file format, let's add some automation first.
* Sometimes, it doesn't make much sense to add copyright or licensing information, e.g. when a

[2022-02-15 02:04] sssoleileraaa commented on #6219
The two-line code comment I'm referring to is:
[code]

[2022-02-15 17:09] eloquence commented on #6268
Hi @tchwpkgorg, I'm closing this issue per the above comment, let us know if you run into issues when running the command from Tails.

[2022-02-15 17:09] #6268 closed, assigned to nobody

[2022-02-15 21:38] eloquence opened #6271 "[2.2.0-rc2] Kernel panic with 5.5.18 kernel on Mac Mini"
I installed the updated kernel on my Mac Minis, which were already running Ubuntu 20.04 and an old SecureDrop release (~1.8.0) with a 5.4.97 kernel.

On reboot, the kernel panicked with the following error output:

![20220215_114414](https://user-images.githubusercontent.com/213636/154152881-f22b9c33-a5b3-42ea-8912-014cc6e81ad8.jpg)

On both Mac Minis, I was subsequently unable to boot the machine

[2022-02-15 21:39] eloquence commented on #6271
If I bypass the initial boot problem and enter GRUB by holding down [Escape], adding the `nomodeset` kernel option as suggested by Kev resolves the issue (but the initial boot problem remains). I made the change permanent in the GRUB config; the behavior is the same (system now boots successfully after PRAM reset).

[2022-02-15 21:43] zenmonkeykstop commented on #6271
I replicated the kernel panic by installing securedrop-grsec on a stock ubuntu 20.04.3 install, but did not get the display issues. With `nomodeset`, system boots to console as expected for me, with no PRAM reset required. `paxtest` and speculative execution tests are same as with other hardware.

[2022-02-15 22:18] ninavizz opened #6272 "Smol GPG Page Tweeks"
_This is a child-ticket to the parent epic #6211_

## Description
_VERY_ smol tweeks to the GPG Key page. [See Figma](https://www.figma.com/file/rHT1RE7zpNttqIGdZpPkhQ/SI_FlowInversion-deux?node-id=890%3A5313)

### Shown Changes...
- NOTE: Figma cannot do numbers w/o adding its own styles, so "L" is used as a placeholder for numbers.
- Header updated to make more sense. It's still not 100%, but wi

[2022-02-16 01:11] #6271 closed, assigned to nobody

[2022-02-16 04:17] legoktm opened #6276 "Update user-agent regexes for Firefox 100"
## Description

See <https://hacks.mozilla.org/2022/02/version-100-in-chrome-and-firefox/>.

Firefox is going to hit major version 100 soon, which means our regexes that match against a 2 digit major version will stop working.

## Steps to Reproduce

In source.js:
[code]

The current TBB UA is `Mozilla/5.0 (X11; Linux x86_64; rv:91.0) Gecko/20100101 Firefox/91.0`. Presumably it'll be `s/91\.0/100.

[2022-02-16 20:23] eaon opened #6279 "Untranslated string in SI reply interface"
Just stumbled over [a visually hidden header](https://github.com/freedomofpress/securedrop/blob/4a80f70901f49dfe2f30b79d2a9bbc69cf807cec/securedrop/source_templates/lookup.html#L83) in the reply section that is missing from translations. Because it's hidden it only affects screen readers.

A quick look at the `message.pot` history makes me believe this is a new string that we missed during review.

[2022-02-16 20:32] ninavizz commented on #6279
A note to my successor: usability testing for vision-impaired folk, pls!! <3

[2022-02-16 20:51] cfm commented on #6279
Thanks for catching and tracing this, @eaon.  The code-level fix is trivial but, as you note, will add a new source string for translation.  Unless we think we can make that happen today, I think, reluctantly, that we'll have to defer it to v2.2.1.

(NB.  Since freedomofpress/securedrop-client#1272, the Client's gettext coverage is checked and enforced by CI.  I'll file a follow-up ticket for whet

[2022-02-16 20:55] legoktm commented on #6279
I doubt we will get any translations in the short time window so even if we did this, everyone would get the English string anyways, so deferring to 2.2.1 makes sense to me too.

[2022-02-17 03:27] sssoleileraaa commented on #6236
I did kernel testing again on my `nuc8` to help with coverage there, following these instructions:
[code]

And everything passed except for the expected failures below.
`meltdown.sh` vulnerability reported:
[code]
`paxtest blackhat` vulnerabilities reported:
[code]

[2022-02-17 03:38] sssoleileraaa commented on #6236
^ everything the same for nuc7i5BNH (@rocodes - thanks for working with me)

[2022-02-17 03:51] rocodes commented on #6236
**NUC7i7DNHE** Additional kernel testing also successful, same test results as previous grsec 5.5.18 kernel.

[2022-02-17 19:53] eloquence opened #6283 "Set CSP in development env"
Since the dev env is intended to support fast changes to the web experience, it should set the same Content-Security-Policy as the production server, as you're likely to otherwise experience bad surprises e.g. when attempting to use inline styles. (It may be desirable to set other headers along the way, but this one is among the most likely to actually cause unexpected breakage.)

[2022-02-17 20:10] eloquence opened #6284 "CSP error on production servers with no visible effect"
## Description

Tor Browser displays a CSP error on the console when loading a production Source Interface or Journalist Interface (2.1.0), but it appears to have no visible effect.

## Steps to Reproduce

1. Load a prod 2.1.0 Source Interface or Journalist Interface in Tor Browser without custom add-ons

## Expected Behavior

No errors logged on console

## Actual Behavior

CSP error `Content Sec

[2022-02-17 21:17] conorsch commented on #6236
Following up to report success on rc3-specific changes:

- [x] On SI, create one new source
- [x] on the app server, restart Apache with sudo systemctl restart apache
- [x] Create another source on the SI
- [x] on the app server, verify that all keys under /var/lib/securedrop/keys/private-keys-v1.d/ have the same modification and update times (spot checks with stat <key filename> are OK)

Proceedi

[2022-02-17 21:22] zenmonkeykstop commented on #6236
## 2.2.0 QA Checklist - 1U servers

### Environment

- Install target: R440 R620
- Tails version: 4.27
- Test Scenario: upgrade
- SSH over Tor: yes
- Release candidate: rc3
- General notes:

### Basic Server Testing
- [ ] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop

[2022-02-17 21:33] zenmonkeykstop commented on #6283
Currently set in Apache, so you might need special dev-only code to set this in the application, which may or may not be worth it considering the staging environment *does* use Apache.

[2022-02-17 21:58] eaon commented on #1587
Stumbled on this during SI redesign work and confirmed that the only element left which uses `text-transform: uppercase` is one button in the JI:

https://github.com/freedomofpress/securedrop/blob/7b6c61a87665dce977a149cbdc81770ddcf38621/securedrop/journalist_templates/edit_account.html#L98-L101

There's a couple of languages which have `RESET PASSWORD` translated but commented out, is it reasonab

[2022-02-17 22:03] eloquence commented on #6236
Tag is up, so I ran the Tails SecureDrop updater from 2.1.0 / Tails 4.27; no issues.

[2022-02-18 04:56] cfm commented on #1587
Nice catch, @eaon.  Are you referring to gettext entries like:

https://github.com/freedomofpress/securedrop/blob/22ed80b4c7e8fe416f410eb84ac9ca05739417a6/securedrop/translations/tr/LC_MESSAGES/messages.po#L1237-L1238

I believe such entries will be reactivated in Weblate as part of the regular [`i18n_tool.py` workflow](https://docs.securedrop.org/en/stable/development/i18n.html#i18n-tool-py) once

[2022-02-18 15:33] eaon opened #6287 "Untranslated strings in "remember codename" widget"
## Description

![image](https://user-images.githubusercontent.com/201369/154710374-e80efae0-a978-4c61-bbda-607cbf816fb9.png)

![image](https://user-images.githubusercontent.com/201369/154710484-020473ee-0e9b-4bab-84c7-c311f0411a92.png)

"Show" and "Hide" are injected via CSS, therefore never translated.

## Comments

Fixed easily by adding data attributes on the element and referencing those with

[2022-02-18 19:00] zenmonkeykstop opened #6290 "Improve Tor2Web detection and handling"
SecureDrop currently attempts to detect tor2web proxies using the `X-tor2web` header, displaying a warning and linking to a static page recommending the use of Tor Browser instead. Since this was implemented that header is no longer being set, meaning that tor2web users are not being warned. Some tor2web gateways also link to proxied versions of SecureDrop instances, which could result in search e

[2022-02-18 19:01] zenmonkeykstop opened #6291 "update tor2web detection response, replacing warning flash message with a redirect to a static page."

[2022-02-18 19:01] zenmonkeykstop opened #6292 "add `robots.txt` and a `nofollow` robots meta tag to dissuade legitimate crawlers from crawling tor2webb-ed instances"

[2022-02-18 19:01] zenmonkeykstop opened #6293 "investigate and implement improvements to header-based tor2web detection for current active tor2web proxies"

[2022-02-18 19:01] zenmonkeykstop opened #6294 "add Javascript code to SI index page to detect tor2web usage in non TBB browsers."

[2022-02-18 19:10] zenmonkeykstop opened #6295 "Add honeypot field to SI message form to block automated submissions"
## Description

The Source Interface has limited protections in place to block bots. One simple bot-blocking measure would be to add a hidden form field on the message submission form, and reject submissions that include a value for the field.

## User Research Evidence

Spam reports from instance maintainers.

## User Stories

As a journalist, I want to save time by not having to review spam mess

[2022-02-18 19:31] zenmonkeykstop opened #6296 "Reject SI page requests with an invalid Referrer header value"
## Description

Instructions for use of the SI recommend that users start a session in Tor Browser by  pasting (or typing, for onion names) the SI address into the address bar. Landing page guidelines reinforce this behaviour by requiring that the SI address not be treated as a hyperlink, but as plaintext.

Given this, if the SI is being used correctly, HTTP requests should either contain a blank/

[2022-02-18 19:49] zenmonkeykstop opened #6297 "Add message length checks to the Source Interface"
## Description

Some production instances have seen an uptick in messages containing only a few characters and no actionable content. This may be attributable to bots, or to UX failures, or a combination of both. Adding a length requirement on initial messages would help in both cases.
This change should take account of the following:

- the requirement should be applied on initial submissions onl

[2022-02-18 20:05] zenmonkeykstop opened #6298 "Add check for codename-only messages in Source Interface"
## Description

Some production instances have seen an uptick in initial messages from sources containing only a source codename and no actionable content. This may be attributable to bots, or to UX failures, or a combination of both. Planned changes to the source workflow will mitigate both cases, but in the interim a check should be added to reject codename-only initial messages.

This change sh

[2022-02-18 20:15] #6287 closed, assigned to eaon

[2022-02-18 20:24] eloquence commented on #6297
One practical concern here is that we don't really have the ability to _reliably_ distinguish initial submissions from returning submitters.

Previous user interviews suggest that it is quite common for legitimate sources to never use the codename feature, and to simply make a new account every time they want to continue a conversation. Much to the frustration of journalists, who then have to try

[2022-02-18 20:30] eloquence commented on #6298
As discussed in sprint planning, some potential concerns with this approach:
- it could alarm users to realize that the software inspects messages they send
- it does not necessarily address the underlying misunderstanding that causes the user to submit a passphrase

My own view is that this should still be implemented as-is, and IMO not optional, because the argument that an accidental passphrase

[2022-02-18 22:51] legoktm commented on #6295
For reference, MediaWiki does this with https://gerrit.wikimedia.org/g/mediawiki/core/+/4afd0f7c3e017b84adef7938a31bc40a69304e62/includes/EditPage.php#2981

The intention is to block generic form-filling spambots. Anything designed to spam SecureDrops will eventually adapt.

[2022-02-21 17:42] kushaldas commented on #6295
How much effective will this be? I am wondering if someone is targeting SecureDrop instances, that is much targeted than random spambots.

[2022-02-21 22:53] ninavizz commented on #6295
@kushaldas I don't think we'll know until we try mitigations like this, 1:1. That said—I do think this one back(ish)-end mitigation, should go in before any others—so that its effectiveness on its own, can be measured against other bot mitigations.

While I'm not a fan of the "bounce" remediation prior to other UX measures going in before it, entirely separate from that opinion I would like to see

[2022-02-22 15:34] zenmonkeykstop commented on #6236
changelog's merged back, closing, thanks all!

[2022-02-22 15:34] #6236 closed, assigned to nobody

[2022-02-22 15:41] zenmonkeykstop commented on #6295
@kushaldas I don't expect that it will help with much tbh, but dealing with low-hanging fruit first (see the rest of https://github.com/freedomofpress/securedrop/milestone/77). Targeted spam is gonna require more work, probably the best mitigations there would require the use of SecureDrop Workstation.

[2022-02-22 18:39] cfm commented on #6295
@legoktm in https://github.com/freedomofpress/securedrop/issues/6295#issuecomment-1045303533:

Seconding this example's use of `display: none`, which will [correctly hide the honeypot field both visually and in the accessibility tree (but of course leave it reachable in the DOM)](https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html).

[2022-02-22 18:42] cfm commented on #6287
Another good catch, @eaon.  Thank you!

[2022-02-22 18:45] cfm commented on #6287
Another good catch, @eaon.  Thank you!  This might also be a more-elegant way to provide the strings currently stored in [`js-strings.html`](https://github.com/freedomofpress/securedrop/blob/ecd6b2b2309715ccbedc1b8b75c1daaa71ad1961/securedrop/journalist_templates/js-strings.html).

[2022-02-22 23:49] legoktm commented on #6249
I have asked if anyone knows the historical reasoning behind this manual setting. If there's no reason to keep line wrapping disabled, I'd like to reset weblate to the default for the 2.3.0 release.

[2022-02-23 07:28] legoktm commented on #6293
From poking at it a bit and reviewing the tor2web source code, I came up with https://github.com/freedomofpress/securedrop/pull/6304, which relies on buggy URL mangling on the `/create` form. I've marked it as a draft because the UX is pretty bad, you have to click through like 2 forms and only then do we fire the tor2web alert. How bad would it be if the very first "Get started" button was actual

[2022-02-23 14:52] zenmonkeykstop commented on #6293
This is really neat - I'm trying to think of downsides to converting the Get Started button to a POSTed form but none spring to mind. Does it detect tor2web specifically tho, or any proxy that rewrites links? Both are bad, but we might need to make the language more general on the warning page in the latter case.

It would still be good to detect tor2web via headers if possible. It has fewer UX im

[2022-02-23 15:30] eaon commented on #6293
Oh my, I *love* this! I don't think there's downsides to a `POST`ed Get Started button - it'd be bad for search engines, but messing with those is an upside in our case anyway.

Given that it's based on a `href=` inside an attribute, I'd expect other naïve proxies that do simple substitution to trip over this as well, but realistically speaking, how many of those are configured to access onion ser

[2022-02-23 16:09] zenmonkeykstop commented on #6293
Yeah I think we're all of the same mind here, will tweak the language in #6300 a little. @legoktm I would say go for it on the change to the Get Started button.

[2022-02-23 17:26] zenmonkeykstop commented on #6297
Ok, but a) that isn't a behavior that we really wanna support, and b) how are said sources actually having a dialog, since they can't read replies? If the comms are one-way, I guess, but they'd still presumably need to identify their past comms somehow, eg. "hey I'm the one who sent you those Evil Corp docs, here are some more"

[2022-02-23 18:57] eloquence commented on #6297
Of course we'd want sources to come back using their codename, but I think we have to acknowledge that real-world interactions don't necessarily map against our view of how the system should be used - in reality they may _rarely_ do so, and the "coming back under a new codename" behavior may be more common.

I also don't know that users would necessarily have the mental model to realize that they

[2022-02-23 19:16] legoktm commented on #6293
The rewrites that tor2web do are pretty naive, it's entirely possible that it becomes more robust in the future (e.g. using a proper HTML parser) and we need some other detection mechanism. I think this should catch any similarly naive proxy that wants to make onion services accessible on the clearnet, because they have to hijack any *.onion URL.

[2022-02-23 19:16] zenmonkeykstop commented on #6297
Down with making it visible - *not* down with it always applying, as that conflicts with potential short responses to replies.

[2022-02-23 19:19] eloquence commented on #6297
How would you perform that check? If we set a flag the moment that a journalist reply has been sent, that could work.

Thinking about it more, I think there are two main cases:

1) Same source returning under new codename. They'll always get the minimum character count, clearly advertised, so hopefully they won't be confused.
2) Same source returning under same codename. They'll no longer get the

[2022-02-23 22:15] zenmonkeykstop commented on #6297
the source's `last_updated` field is null until the first submission, seems like the most straightforward way.

[2022-02-23 22:52] eloquence commented on #6297
If I understand correctly, then the behavior would be:
1. Source submits a message, minimum character rule applies
2. Source submits another message in the same session, minimum character rule is gone

This seems problematic to me in terms of inconsistent behavior, especially for repeated use (same source returning under new codename, source contacting multiple SDs, or otherwise interacting with t

[2022-02-24 17:30] zenmonkeykstop commented on #6297
TBH that approach seems *more* inconsistent. Maybe one way to approach this is to think about how to describe it to sources:
- scenario 1: "if your initial submission is just a message, it should contain enough information for a journalist to decide whether to follow up on your tip"
- scenario 2: "Until a journalist replies, you can submit as many messages as you like, but those messages must all

[2022-02-24 17:52] eloquence commented on #6297
I think they're both inconsistent, which is why I don't really love any of these solutions. My main concern is with the folks who don't follow the expected "happy path", e.g., they may want to start with a short message and then send a file, or we may be dealing with returning users as previously noted.

Between the options that sometimes disable the rule, I tend to favor ones that at least guaran

[2022-02-24 23:20] #6292 closed, assigned to legoktm

[2022-02-24 23:30] #6294 closed, assigned to legoktm

[2022-02-25 06:21] #6291 closed, assigned to zenmonkeykstop

[2022-02-25 09:33] ninavizz commented on #6211
## Design Updates
Following <strike>today's</strike> yesterday's meeting with Kev, Michael, and Erik, I split the current "Frankenstein E" direction for the Source UI's flow inversion, into two distinct phases: the first, E1, is just design-system stuff and small string changes. The second, E2, is the complete/first iteration of the "Flow Inversion."

### E1
[Frankenstein-E1](https://www.figma.com

[2022-02-25 16:00] #6295 closed, assigned to legoktm

[2022-02-25 19:31] zenmonkeykstop commented on #6296
Deferred for now.

[2022-02-25 21:08] eloquence commented on #5972
@cfm Is it time to close out this epic and maybe track any remaining issues individually?

[2022-02-28 20:31] evilaliv3 commented on #1861
Hi @legoktm ! @zenmonkeykstop just told me that you may have good new on this. Please feel free to reach out in case i could help somehow.

Thank you for soliciting this to the Debian Sec Team!

[2022-03-01 00:23] legoktm opened #6310 "Improve and streamline Debian package building process"
Goals:
* Simplify process to build packages
  * All "building" will be done by debian/rules, rather than stuff like sass being done by ansible (sass might go away in the future, but just an example).
* Use more Debian-native tooling instead of custom stuff that we maintain
  * This will also allow us to use more Debian QA tools, like lintian, piuparts.
* Enable reproducible builds by allowing use

[2022-03-01 01:08] eloquence opened #6311 "Update new "Get Codename" page in line with design recommendations"
As part of the Source Interface design improvements (see #6210), we have broad consensus around language changes to the "codename" pages which could be made regardless of whether or not we ultimately fully reverse the password generation flow. This is ["E1" in Figma](https://www.figma.com/file/rHT1RE7zpNttqIGdZpPkhQ/SI_FlowInversion-deux?node-id=915%3A5608):
![Screenshot from 2022-02-28 16-50-53](

[2022-03-01 01:11] eloquence commented on #6298
The UX improvements we could make this change (optional or not) contingent on are described in #6311.

[2022-03-01 09:03] legoktm commented on #5955
This was done in #5911 / b8ef5d69ab5016569ce89889b5041376ce30738b.

[2022-03-01 09:03] #5955 closed, assigned to nobody

[2022-03-02 17:16] zenmonkeykstop opened #6312 "Alembic autogeneration fails when instance_config table is changed."
## Description

SecureDrop uses alembic to generate and apply database versions. Recently a partial index was added on the instance_config table to ensure there was only one row with a `valid_until` field with a null value. (SQL for this index looks like `CREATE UNIQUE INDEX ix_one_active_instance_config ON instance_config (valid_until IS NULL) WHERE valid_until IS NULL;`)

After the addition of t

[2022-03-02 19:22] #6293 closed, assigned to legoktm

[2022-03-02 19:30] cfm commented on #6312
It looks like this is a limitation of SQLAlchemy, rather than Alembic, with both expression-based and functional indices across several database engines, including SQLite and PostgreSQL:

- sqlalchemy/alembic#523
- sqlalchemy/sqlalchemy#4431, which links to the changes responsible for the `SAWarning: Skipped unsupported reflection of expression-based index`
- sqlalchemy/alembic#676
- sqlalchemy/al

[2022-03-02 20:48] cfm commented on #5972
Sure thing, @eloquence.  Towards that end, @eaon, would you consider #6211 to address (or obsolete) these points as well, at least in the Source Interface?

Conversely, would you recommend these changes still be made in the current Source Interface, so that #6211 &c. can inherit from them?

[2022-03-02 20:50] cfm opened #6313 "surface view-level `h1`s (or equivalents) in page `title`s (WCAG 2.4.2)"
Per #5972:

A few belated notes per <https://github.com/freedomofpress/securedrop/pull/6725#pullrequestreview-1252731682>:

1. Since the SecureDrop logo is our default `h1` across views, the "equivalents" here will usually be the per-view `h2`.
2. If the SecureDrop Web apps were larger (had more views), or if titles were more complicated or personalized, it might be worth setting the page `title`

[2022-03-02 20:54] cfm opened #6314 "review options for accessibility linting (versus documentation)"
**Require WCAG compliance along with other linting enforced automatically in CI.**  Here's [an overview of how to do so](https://marcysutton.github.io/a11y-and-ci/#/) and the W3C's [list of such tools](https://www.w3.org/WAI/ER/tools/?q=wcag-20-w3c-web-content-accessibility-guidelines-20&q=command-line-tool), of which [Pa11y](https://pa11y.org/) and [AccessLint](https://accesslint.com/) look espec

[2022-03-02 22:39] #6238 closed, assigned to cfm

[2022-03-04 02:11] P0cas opened #6317 "question"
[code]
Hey how to do login? I used as above account, but not working. and how to get a Two-factor code?

[2022-03-04 15:46] #6276 closed, assigned to legoktm

[2022-03-04 15:58] eaon commented on #6317
Hi there! The two-factor code secret is included in the excerpt you shared: `otp_secret=JHCOGO7VCER3EJ4L`, and if you have a look at [SecureDrop's documentation](https://docs.securedrop.org/en/stable/development/setup_development.html#using-the-docker-environment) you'll also find a QR code version and instructions how to generate a code from Python.

Good luck!

[2022-03-04 15:58] #6317 closed, assigned to nobody

[2022-03-04 18:01] eaon commented on #1450
Stumbled over this because of the source interface redesign and #6309 which updated regular expressions to support Firefox version higher than 99.

The mobile browser ecosystem changed significantly over the past 2 years, here's some notes:

* Orfox
  * Was superseded by Tor Browser for Android since late 2019. Orfox is now just a [mini-app asking users to migrate](https://github.com/guardianproje

[2022-03-04 18:24] eaon opened #6318 "Re-evaluate Orfox warnings"
## Description

Orfox is no more, and Tor Browser for Android, which took its place, is not being caught by the current regular expression targeting Orfox. This results in confusing warning messages if JavaScript is executed because of the "Standard" security setting:

But I am! Just the Android version.

## Steps to Reproduce

* (Download Orfox)
* (Get redirected to) Download Tor Browser for Andr

[2022-03-07 17:32] eaon opened #6319 "SI Tor Browser security level instructions are outdated"
## Description

When visiting the source interface with Tor Browser while JavaScript is enabled, a warning is displayed that includes a dialog with instructions of how to change it to "Safest". This dialog still references old language not used by recent versions of Tor Browser.

## Expected Behavior

The dialog showing up to date language to properly guide sources

## Actual Behavior

![2 2 0-tb-

[2022-03-07 17:45] eaon commented on #6279
I think we should try and get this translated before the string freeze. In my SI refactor branch I opted for this:

`{{ gettext('Delete reply from {relative_time}?').format(relative_time=relatime) }}`

where `{relative_time}` is filled using a macro from [utils.html](https://github.com/eaon/securedrop/blob/39da05e4cb68ace1e80992bea0ee110533823376/securedrop/source_templates/utils.html) to create a

[2022-03-07 18:13] eloquence commented on #6319
I would say:

Otherwise SGTM. ("Click" instead of "Select" because there is no selection of multiple options here.)

[2022-03-07 18:49] cfm commented on #6279
That looks good to me, @eaon.  The `{relative_time}` placeholder will be preserved in the source string shown to translators and required to be present in their translations.  Out of context in Weblate, something like `{timestamp}` might be clearer to translators, but that's a nit.

[2022-03-07 21:39] zenmonkeykstop opened #6323 "Update grsec kernel to 5.15.26"
## Description

A new 5.15 grsec patch is available including recent security fixes. We should update to it.

Steps involved:

- [x] Build updated grsec kernel and file a PR to add it to the apt-test repo
- [x] #6324
- [x] Create a 2.2.1 hotfix release containing only the kernel bump
- [x] Cut a 2.2.1-rc1 tag and a packages pr to add them to the apt-test repo
- [x] test the hotfix and kernel updat

[2022-03-07 21:40] zenmonkeykstop opened #6324 "Update the expected kernel version to 5.15.26 via a PR in the securedrop repo"

[2022-03-08 06:00] P0cas commented on #6317
Thanks for reply!

[2022-03-08 14:54] #6319 closed, assigned to nobody

[2022-03-08 15:22] #6279 closed, assigned to nobody

[2022-03-08 15:41] #6324 closed, assigned to nobody

[2022-03-08 19:19] zenmonkeykstop opened #6326 "Release SecureDrop 2.2.1"
This is a tracking issue for the release of SecureDrop 2.2.1

Tentatively scheduled as follows:

**Pre-release announcement:** 2022-03-09
**Release date:** 2022-03-10

**Release manager:** KOG
**Deputy release manager:** n/a
**Communications manager:**: EM

_SecureDrop maintainers and testers:_ As you QA 2.2.1, please report back your testing results as comments on this ticket. File GitHub issues

[2022-03-09 00:17] zenmonkeykstop opened #6327 "Bump builder image for 2.2.1"
The builder image has pending security updates, and needs to be updated prior to building 2.2.1 release packages.

[2022-03-09 16:56] legoktm opened #6328 "Allow bumping kernel version without requiring a new SecureDrop release"
## Description

It should be possible for us to upgrade the Linux kernel version without requiring a new SecureDrop release.

In https://github.com/freedomofpress/securedrop/issues/6323 we wanted to bump just the kernel for Dirty Pipe, but needed to go through a full SD release cycle for it. Besides the extra unnecessary work, it also causes more churn for SD servers, since they have to upgrade se

[2022-03-09 19:16] legoktm commented on #6328
There are two main references to the current kernel version in this git repository.

First the actual linux package we use is named `linux-image-5.15.26-grsec-securedrop`. This is already separate and "maintained" in the kernel-builder repository.

Then we have a `securedrop-grsec` package, with a version of 5.15.26+focal, which depends on `linux-image-5.15.26-grsec-securedrop,intel-microcode`.

W

[2022-03-09 21:42] zenmonkeykstop commented on #6328
:+1:  from me, tis a fine plan.

[2022-03-09 21:57] conorsch commented on #6328
Ideally, we'd have a version for the metapackage that's independent of the underlying kernel image. But the general outlines of the plan are great, and would indeed free us up a bit. I also support adding the kernel version to the `/metadata` endpoint so that we can still monitor for successful kernel updates across prod instances. The kernel version is already public information, tied to the app

[2022-03-09 22:06] zenmonkeykstop commented on #6328
It's possible for instances to downgrade to other grsec kernels, so we don't actually currently know what they're running, we're just inferring it with a reasonable degree of certainty. But overall yeah it's worth the additional information leak. We might also want to consider adding Tor versions to that if we're committing to updating that independently.

[2022-03-09 22:08] zenmonkeykstop commented on #6328
(Dang now I'm wondering should we make the hypothetical /version endpoint authenticated, and let instances opt in to us monitoring it by sending us a token or something.)

[2022-03-09 23:17] #6327 closed, assigned to nobody

[2022-03-09 23:20] zenmonkeykstop commented on #6326
## 2.2.1 QA Checklist - NUC11, NUC10

### Environment

- Install target: Nuc11(app)/Nuc10(mon)
- Tails version: 4.27
- Test Scenario: upgrade
- SSH over Tor: yes
- Release candidate: rc1
- General notes:

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing: **2 failures due to a pending autoremove**
  - Install dependenci

[2022-03-10 00:14] sssoleileraaa commented on #6326
I did `5.15.26` kernel testing on my `NUC 8` and `NUC 7i5BNH` and everything passed except for the expected failures below.
`meltdown.sh` vulnerability reported:
[code]
`paxtest blackhat` vulnerabilities reported:
[code]

[2022-03-10 00:19] eloquence commented on #6326
I installed the new kernel on a Mac Mini.
1. No problem booting (`nomodeset` still works)
2. meltdown reports no vulnerabilities
3. `paxtest blackhat` reports same results as above:

[code]

[2022-03-10 01:31] cfm commented on #6326
VM clean-install scenario passes kernel testing and `securedrop-admin verify` with the following exceptions:

1. `paxtest blackhat`: expected:

[code]
2. `meltdown.sh`: but it just looks like the host machine needs a microcode update:

[code]

[2022-03-10 02:53] legoktm commented on #6328
@conorsch wrote:

I partially agree and disagree. I think the ideal version for the metapackage will be something like `5.15.26-1~focal`.

Breaking that down:
* `5.15.26` matches the kernel version. The metapackage is directly tied to a specific kernel version (it depends on e.g. `linux-image-5.15.26-grsec-securedrop`), so I think reusing that version is fine. We could of course use arbitrary vers

[2022-03-10 03:16] zenmonkeykstop commented on #6328
Yeah, the authenticated idea is kindof dumb in retrospect. If we do actually monitor for tor/kernel versions and ping instances that are on old versions, it's a net positive, no need to get fancy.

[2022-03-10 16:55] zenmonkeykstop commented on #6328
One compromise to consider is to start versioning the securedrop-grsec package with the securedrop application version again, and just incrementing the debian package version if we need to push new kernels - so 5.15.18 would have been pulled in by securedrop-grsec-2.2.0-1, 5.15.26 by securedrop-grsec-2.2.0-2 etc. This doesn't solve the issue of knowing which kernel an instance is running, but it d

[2022-03-10 17:26] legoktm commented on #6328
Don't we have the same problem then, just in the other direction? If we do a SD release without bumping the kernel, we'd still have to bump the securedrop-grsec package even though there are no kernel changes.

[2022-03-10 19:07] lsd-cat commented on #6318
I think that although we might consider Tor Browser for Android as trustworthy as the desktop one, the same cannot be said for the overall environment. Most Android phones will backup files to Google or other cloud services, as well as snoop on the keyboard for learning purposes. Even if Tor Browser may prevent some of these things it is reasonable to think that almost anything that goes through a

[2022-03-10 19:53] eaon opened #6333 "SI: focusing on #flashed message after submitting sometimes scrolls the viewport too far, may obscure message"
## Description

First identified by @eloquence in #6306, the message we want to draw attention to may get scrolled out of view when we use `#flashed` as the anchor so screen-readers would know where to put their attention to first.

## Steps to Reproduce

* Visit index with Tor Browser, JavaScript disabled
* Inspect the `html` element with the **Web Developer Tools**
* Using the layout tab, make s

[2022-03-10 20:09] eloquence commented on #6326
(I know the release is not live yet, but FYI, no issues with updating to the latest tag via our graphical updater on an Admin Workstation.)

[2022-03-10 21:49] zenmonkeykstop opened #6334 "Release SecureDrop 2.3.0"
This is a tracking issue for the release of SecureDrop 2.3.0

Scheduled as follows:

**Feature / string freeze:** 2022-03-10
**Pre-release announcement:** 2022-03-21
**Release date:** 2022-03-28
**Release manager:** @zenmonkeykstop
**Deputy release manager:** @legoktm
**Communications manager:** @creviera
**Deputy CM:** @eloquence
 **Localization manager:** @cfm
**Deputy LM:** @zenmonkeykstop

QA

[2022-03-10 22:38] #6290 closed, assigned to nobody

[2022-03-10 23:19] #6333 closed, assigned to nobody

[2022-03-11 19:52] #6297 closed, assigned to zenmonkeykstop

[2022-03-11 19:52] #6298 closed, assigned to zenmonkeykstop

[2022-03-14 15:41] #6326 closed, assigned to nobody

[2022-03-14 18:18] eloquence opened #6339 "Codename check triggers KeyError after subsequent login"
# Steps to reproduce

1. Enable the new "Prevent sources from submitting their codename as an initial message" setting
2. Create a new source and submit message, note down the codename
3. Log out and log back in as that source
4. Submit another message

# Expected behavior

Message submitted

# Actual behavior

KeyError: 'new_user_codename'

[2022-03-14 18:48] zenmonkeykstop commented on #6339
Makes sense in retrospect, as that value is no longer in the session on the return visit. Fix inbound

[2022-03-14 22:15] #6339 closed, assigned to nobody

[2022-03-14 22:29] legoktm commented on #6323
2.2.1 was successfully released, closing.

[2022-03-14 22:29] #6323 closed, assigned to nobody

[2022-03-14 22:31] legoktm commented on #6312
This was fixed in #6306 by dropping the partial index and instead making it non-nullable and using the unix epoch to represent the current row.

[2022-03-14 22:31] #6312 closed, assigned to nobody

[2022-03-14 22:32] legoktm commented on #6249
I have set Weblate to wrap on newlines but not long lines, which should match the `--no-wrap` CLI parameter we use.

[2022-03-14 22:32] #6249 closed, assigned to nobody

[2022-03-14 22:33] legoktm commented on #6249
In https://github.com/freedomofpress/securedrop-i18n/commit/d385acb960ee575d412b4f264be26c9b6c6c2673 it didn't collapse the first project-metadata string into one line, leaving it split.

[2022-03-16 01:17] eloquence commented on #6318
Tentatively added to 2.4.0 milestone since the current behavior is clearly a bug.

[2022-03-16 01:18] eloquence commented on #6311
(Retitled issue since the language updates have landed now.)

[2022-03-16 16:14] zenmonkeykstop opened #6341 "[2.3.0] securedrop/source_templates/utils.html is missing from apache apparmor profile"
## Description

A file securedrop/source_templates/utils.html was added to the SI application, but the usr.sbin.apache2 apparmor profile does not include it, breaking `/lookup'

## Steps to Reproduce

- install 2.3.0-rc1 packages in prod or staging.

## Expected Behavior

- User can log into SI and submit

## Actual Behavior

- calls to `/lookup` fail with 500 error page

Please provide screenshot

[2022-03-16 16:19] zenmonkeykstop opened #6342 "[2.3.0] `/lookup` fails to render on fresh install due to `min_length` value in template being set to None"
## Description

On a fresh install, the initial_message_min_len field in instance_config is NULL, causing checks for equality with integers to fail.

## Steps to Reproduce

- Install 2.3.0-rc1 packages in production or staging
- visit the SI without updating any config settings in the JI

## Expected Behavior

- SI renders correctly

## Actual Behavior

500 errors, with errors like "TypeError: '>'

[2022-03-16 17:17] #6341 closed, assigned to nobody

[2022-03-16 18:31] legoktm commented on #6328
I uploaded my version of the securedrop-grsec packaging to https://github.com/freedomofpress/securedrop-grsec, it is setup for git-buildpackage and uses git-pbuilder to create a clean build environment rather than docker images. For reproducibility, we'll publish the buildinfo file rather than trying to freeze the build environment. Here's what the debdiff looks like:

[code]

Notable changes:
* I

[2022-03-16 20:01] eloquence commented on #5972
Per discussion at sprint planning, let's close the epic for now and open separate issues on the above as needed.

[2022-03-16 20:01] #5972 closed, assigned to nobody

[2022-03-16 21:31] #6342 closed, assigned to nobody

[2022-03-16 21:35] legoktm opened #6346 "Add special mypy plugin/support for SQLAlchemy"
## Description

I did not verify this, but I suspect that #6342 could've been avoided if mypy was able to understand that `nullable=True` maps to `Optional[...]` in Python types and complained about not checking for `is not None` first.

In the past I've used https://github.com/dropbox/sqlalchemy-stubs for this purpose. SQLAlchemy also has its own mypy plugin based off the Dropbox one, https://doc

[2022-03-17 18:23] rocodes commented on #6211
I don't know if this is muddying the waters, but after testing out the new SI changes (and they look great!), I also noticed that there is an error page on the SI that could use some love. (Specifically, I find the wording "Look up a codename...." to be kind of confusing).

![lookup-ohno](https://user-images.githubusercontent.com/22777700/158870155-7fbca136-c106-4077-b598-3f635a216c1e.png)

It mig

[2022-03-17 22:54] zenmonkeykstop commented on #6334
## 2.3.0 QA -VM fresh install

### Environment

- Install target: VM
- Tails version: 4.28
- Test Scenario: fresh
- SSH over Tor: no
- Release candidate: rc2
- General notes:

### Basic Server Testing
- [ ] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing: **FAIL: one NTP test flake**
  - Install dependencies on Admin Workstation with `cd ~/Persiste

[2022-03-17 23:04] legoktm commented on #6233
https://github.com/freedomofpress/securedrop-dev-packages-lfs/commit/d34805ee912af2bf17684ca8b79b84ab611492a3 ta-da!

At https://github.com/freedomofpress/securedrop-debian-packaging/pull/287#issuecomment-1068365009 I wrote:

The securedrop-debian-packages-lfs repository is private (as an extra hardening measure I assume, not for obscurity), so we would be giving CI access to push to non-main bran

[2022-03-18 16:08] legoktm commented on #6346
This was actually attempted in https://github.com/freedomofpress/securedrop/pull/5589, but missed the step of adding the plugin to mypy, so it didn't have much of an impact :(

When I enabled it locally (and upgraded mypy), the main thing it caught is that `Source.filesystem_id` is technically nullable, even though in practice it never is. Still have some more to clean up before I push a PR.

[2022-03-18 18:38] legoktm commented on #6226
I will be making sources.filesystem_id NOT NULL as part of #6346.

[2022-03-21 15:34] legoktm opened #6352 "Next schema change will fail test_schema_unchanged_after_up_then_downgrade because of instance_config weirdness"
## Description

The next schema change will fail the `test_schema_unchanged_after_up_then_downgrade` test because of something wrong with the `instance_config` table:

[code]

You will notice that both of those schemas are identical.

## Steps to Reproduce

Create an entirely no-op migration, like https://gist.github.com/legoktm/c0384c339e1485c350bbc6d1b6b2da6b

## Expected Behavior

Tests pass

#

[2022-03-21 15:41] zenmonkeykstop commented on #6352
Updated that test to deal with duplicate CHECK constraints, but that's only being applied on the alembic-generated schema IIRC. If the duplicate CHECK is also now on the model-generated schema, it would also need to have the same deduping applied (or we could just drop the deduping on the alembic side - it should no longer be necessary if the CHECKS are the same in both).

[2022-03-21 18:38] legoktm commented on #6352
Yeah, the failure is because we're not deduping the right side.

But the test passes just fine with the deduping removed on both `develop` and with a dummy schema change, so I think we're better off just removing the deduping. Will submit a PR shortly.

[2022-03-21 19:19] zenmonkeykstop opened #6354 "Update Tor to 0.4.6.10"
## Description

Now that we have auto-updating Tor packages on `apt-test`, we should step through the last bit of the process to move them up to the production apt repo:

- [ ] Install tor, tor-geoipdb packages from apt-test on a prod install and let them sit overnight
- [ ] Verify that tor still running after reboot, services available, no errors or unexpected messages in logs
- [ ] Submit a PR t

[2022-03-21 23:51] rocodes commented on #4048
Here to revive this issue and say that I ran into this when testing some reply-related updates on the client. When the client creates a new Reply object locally (because a DraftReply was just successfully sent and it's being promoted to a Reply), [it uses the same logic](https://github.com/freedomofpress/securedrop-client/blob/a29c2172e65e03d66897bd7728ec958d2bf37a3c/securedrop_client/api_jobs/upl

[2022-03-21 23:54] #6352 closed, assigned to legoktm

[2022-03-22 15:28] zenmonkeykstop commented on #6334
## 2.3.0 QA Checklist

### Environment

- Install target: Nuc10/Nuc11
- Tails version: 4.27
- Test Scenario: fresh
- SSH over Tor: yes
- Release candidate: 2.3.0-rc2
- General notes:

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop && ./se

[2022-03-22 21:53] zenmonkeykstop commented on #6334
## 2.3.0 QA Checklist

### Environment

- Install target: Dell R440/R620
- Tails version: 4.27
- Test Scenario: upgrade
- SSH over Tor: yes
- Release candidate: 2.3.0-rc2
- General notes:

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing: **Some expected failures**
  - Install dependencies on Admin Workstation with `cd

[2022-03-22 21:56] cfm commented on #6334
### Environment

- Install target:  NUC11s
- Tails version:  4.28
- Test Scenario:  upgrade
- SSH over Tor:  yes
- Release candidate:  2.3.0-rc2
- General notes:
    - One unexpected grsec denial (see below)
    - Otherwise no surprises

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admi

[2022-03-23 02:22] legoktm opened #6355 "Notify of outdated kernel/Tor packages in the Journalist Interface"
## Description

This is a subtask of #6328.

Currently we monitor SecureDrop versions of known instances, to know that automatic upgrades were successful. Once we start shipping new kernels outside of SecureDrop releases, we will no longer know whether the kernel upgrade was successful (unless if goes super badly and knocks the instance offline >.<).

Despite it being public by implication, we don

[2022-03-23 02:43] legoktm opened #6356 "Publish `.buildinfo` files somewhere"
Building Debian packages generates a `.buildinfo` file (see spec: https://wiki.debian.org/ReproducibleBuilds/BuildinfoFiles). These files document what the build environment was at the time of building, so that if someone wanted to reproduce the build, they'd know exactly what packages they needed. Tools like [debrebuild](https://manpages.debian.org/bullseye/devscripts/debrebuild.1.en.html) use bu

[2022-03-23 13:49] eaon commented on #6334
## 2.3.0 QA Checklist

### Environment

- Install target: VM (Xen / QubesOS)
- Tails version: 4.28 (Xen / QubesOS)
- Test Scenario: Upgrade
- SSH over Tor: Yes
- Release candidate: rc2
- General notes:

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent

[2022-03-23 14:52] eaon opened #6357 "Organization name gets escaped twice"
## Description

When configuring an instance's name as (for example) "Hello & World", the `&` shows up as `&amp;` wherever the organization name is used, because it is escaped when it is being set and again when it is being displayed.

## Comments

As far as I can tell, the organization name is the only user provided input that is escaped before it is set - oversight or intentional?

[2022-03-23 20:54] zenmonkeykstop commented on #6357
Probably more overzealousness!

[2022-03-23 21:20] legoktm opened #6358 "Install securedrop-app-code dependencies in development environment via `make venv`"
## Description

We should install the `securedrop-app-code-requirements.txt` dependencies when setting up the development environment via `make venv`.

The main motivation for this is to make mypy work better out of the box. Currently we use an old version of mypy that bundles possibly-outdated type stubs for key libraries we use like flask. Because new mypy (as planned in https://github.com/freed

[2022-03-23 21:36] legoktm commented on #6358
This is a real rabbit hole...

[code]

This is because if you create a venv, it has latest setuptools, which is incompatible with our old jsmin, and setuptools only gets downgraded later on.

Stupid fix: install develop-reqs first, which downgrades setuptools, then install sd-app-code which has jsmin.

Better fix: have boot-strap-venv.sh downgrade setuptools to 56 before we install anything else,

[2022-03-23 22:03] legoktm commented on #6358
Other option: just include `requirements/python3/securedrop-app-code-requirements.in` in `develop-requirements.txt` 🤔

Trying that now...

[2022-03-24 17:16] cfm commented on #6156
@deeplow [reports](https://forum.securedrop.org/t/need-help-moving-translations-to-correct-language/1445/5?u=cfm) that this is blocking translation of `PT_pt`, now that we've disambiguated it from `PT`.  [`PT_br` is a `supported_language`](https://github.com/freedomofpress/securedrop/blob/f8aecebfc0836fe1bb4fa633ff83e539cf83a686/securedrop/i18n_tool.py#L53); `PT_pt` is not.  I'll nominate this for

[2022-03-24 20:04] legoktm commented on #6355
I spent a while looking into the various post-update hooks apt and dpkg provide (https://unix.stackexchange.com/questions/226993/whats-the-difference-between-dpkgpost-invoke-and-dpkgpost-invoke-success has a good explanation) and I don't think there's a great point for us to inject our stuff in. Also if we use a hook we have to write it super defensively to ensure that we don't break apt/dpkg.

So

[2022-03-24 20:08] legoktm commented on #5189
This was implemented in 6d444f50e1f149a721ba384759176b9910b034e2 / #6167.

[2022-03-24 20:08] #5189 closed

[2022-03-28 19:17] legoktm commented on #6355
I take this part back, Python knows the current running kernel via `os.uname`, so we can special case the version comparison.

[2022-03-28 20:33] zenmonkeykstop commented on #6334
Given that this is a transitory error during the installation, I think it's OK? Tested systemctl service targets for apparmor on a running system, no grsec errors were logged - and none were logged after installation was complete in general (excluding paxtest ones).

[2022-03-29 18:13] eloquence commented on #6355
I think it would be worth chatting through the UX for this notification with Tina once she starts next week. There are probably a few important questions to answer:

1) Do we only want to alert on Tor/kernel package update failures, or also others?

2) If we want to cover other cases as well, how would that be disambiguated in the message?

3) Should this show up exclusively in the Journalist Inte

[2022-03-29 18:54] eloquence opened #6366 "Fail gracefully if language no longer supported"
In the course of development, a language may fall below an acceptable level of translation coverage, in which case we may want to remove it from the list of supported languages.

Currently, the app will fail (Source Interface will display an Internal Server Error) if an unsupported language is specified in `SUPPORTED_LOCALES`. This means that removing support for a language could break running ins

[2022-03-29 20:23] cfm opened #6367 "anonymous string-formatting fields break translation"
**This description is superseded by <https://github.com/freedomofpress/securedrop/issues/6367#issuecomment-1082391316>!**

## Description

When a `gettext()`-wrapped string uses anonymous string-formatting fields `{}`, rather than positional fields `{n}` and named fields `{foo}`, translation of that string breaks silently:

1. in Jinja templates, entirely, falling back to the English source string

[2022-03-29 20:27] zenmonkeykstop commented on #6367
good catch @cfm, sadly I agree that this will probably require a translator pass to fully resolve which puts it outside the 2.3.0 window

[2022-03-29 20:36] eloquence commented on #6367
Interestingly it looks like some translators are already inserting `{num}` into their translations, I wonder why:
https://weblate.securedrop.org/translate/securedrop/securedrop/en/?checksum=461cee53e88af00c#translations

[2022-03-29 20:38] legoktm commented on #6367
I think it's just a teeny bug in the code that should be trivial to fix.

[code]

We are running string.format *before* calling gettext(). It should be:

[code]

[2022-03-29 21:29] cfm commented on #6367
@legoktm has more correctly diagnosed and proposed a fix for this behavior in #6368, to which I'll gladly defer for posterity rather than further polishing this red-herring report.  :-)

[2022-03-29 21:48] #6367 closed, assigned to nobody

[2022-03-30 00:34] eloquence commented on #6334
(Ran SecureDrop updater on Admin Workstation with Tails 4.27 without errors. Now taking Tails 4.28 for a quick spin as well.)

[2022-03-30 01:05] eloquence opened #6373 "Changing language on `/generate` results in "Method Not Allowed" error"
# Steps to Reproduce

(On `develop` / `release/2.3.0` branch as of this writing. Bug is visible in both staging and dev environments.)

1. Visit the `/generate` page in the Source Interface
2. Change the language using the dropdown selector under the logo

# Expected behavior

`/generate` page is-rendered in the selected language.

# Actual behavior

HTTP 405 error page:

The language change still

[2022-03-30 14:05] zenmonkeykstop opened #6374 "Evaluate NetGate SG-4100"
## Description

The Netgate SG-4100 looks to be the replacement for the currently-recommended pfSense firewall (SG-3100). It's a little overspecced but should be a decent SD hardware firewall.

We should set up an instance with it and confirm the current setup instructions - it will probably use a variation on the 4-NIC setup as it has enough NICs to support it (as opposed to to the 3-NIC setup fo

[2022-03-30 15:36] legoktm opened #6376 "test_account_edit_hotp_secret[en_US] is flaky"
## Description

We have seen multiple flaky CI failures in the app-page-layout-tests job for `test_account_edit_hotp_secret[en_US]`.

The log is:
[code]

https://app.circleci.com/pipelines/github/freedomofpress/securedrop/3901/workflows/f8a64dc7-3f1a-49a6-b733-f5039708b415/jobs/60726

## Steps to Reproduce

Unclear.

[2022-03-30 15:36] #6334 closed, assigned to nobody

[2022-03-30 16:47] #6373 closed, assigned to legoktm

[2022-03-30 17:37] ghost commented on #3587
I have a suggestion for reminding new sources their codename. It's available at https://github.com/zishanmirza/securedrop/tree/confirm_logout (branch: confirm_logout) and could be used for testing the user experience.

[2022-03-30 17:46] cfm commented on #6374
I have some notes on the four-NIC setup I did for my SG-6100 that I'll draft in `securedrop-docs` in case they're adaptable for the SG-4100 as well.

[2022-03-30 17:57] zenmonkeykstop commented on #3587
Thanks @zishanmirza! we're looking at updates to the source workflow that would effectively only make the codename available after submission, which is pretty similar to this approach -  it's good to see the alternatives.

[2022-03-30 19:15] zenmonkeykstop commented on #6376
it seems like in certain circumstances autocrop_btm() is trying to retrieve pixels with negative Y values? It keeps decrementing it until the row matches a condition, maybe it's just never getting a match sometimes. Checking boundary conditions would probably help (though it could also sometimes result in busted screenshots instead of a flaky test).

[2022-03-30 19:41] #1587 closed

[2022-03-30 19:58] legoktm commented on #6233
The last step for this (I think) is to get the docs PR merged: https://github.com/freedomofpress/securedrop-docs/pull/320.

[2022-03-30 22:41] eloquence opened #6380 "Investigate use of semgrep to catch untranslated strings"
https://github.com/freedomofpress/securedrop-client/pull/1272 added a set of handy `semgrep` rules to the `securedrop-client` repo to catch untranslated GUI strings. It'd be good to investigate if similar rules would be helpful in this repo, bearing in mind that the actual patterns would of course need to be different and not generate too many false positives.

[2022-03-31 00:50] #6233 closed, assigned to legoktm

[2022-03-31 06:33] legoktm commented on #6358
Today we discussed that rather than targetting develop-requirements, we'll put mypy in test-requirements.txt and run it via the dev container.

[2022-03-31 16:47] eloquence commented on #5713
We could do this as a nightly CI job, as part of `staging-test-with-rebase` or its own job. This would have caught an issue that was only detected early in the SD 2.3.0 QA cycle. Putting in near-term backlog per chat with Kev.

[2022-03-31 19:31] eloquence commented on #6204
New alerts which can also be found in our test instance:

[code]

I would suggest that we tackle this more systematically for 2.4.0 or soon after, to ensure the OSSEC signal/noise ratio doesn't drop too low.

[2022-03-31 20:15] zenmonkeykstop commented on #5713
I think I either misremembered or misspoke - the functional tests *do* run in Tor Browser but they *do not* include functionality (that I can find) to run against a staging or prod instance. Going by the README in tests/functional, it did work at one stage.

[2022-04-04 10:48] eaon opened #6384 "Add support for an Ansible-configured OpenBSD firewall"
In a couple of recent conversations we touched on the firewall portion of SD a bit, so I tried to summarise my preference for potential future work in that area.

## Description

In SecureDrop the firewall functionality can be summarised very quickly: it blocks incoming traffic from whatever network that provides the uplink, isolates app/monitor servers from each except on specified IP ports, whil

[2022-04-04 20:54] guelate opened #6385 "[DOCS] UPDATE README WITH DEPENDANCE TWITTER"
**What is the expected behavior?**

I want to add the dependency for Twitter

[![Twitter follow](https://img.shields.io/twitter/follow/secureDrop?style=social)](https://twitter.com/SecureDrop)

**What is motivation or use case for adding/changing the behavior?**

I think it is important to put forward the community.

[2022-04-06 02:12] cfm commented on #6156
**Tl;dr:**  We need to, and unless I'm missing something we do not, distinguish between:
1. languages open for translation in Weblate; and
2. languages supported for selection in `securedrop-admin sdconfig`.

**[Findings](https://gist.github.com/cfm/30ef449a7adaee0f1437d39822eb7dae):**  We have three kinds of "supported" "languages" for four different stages of the localization process:

1. [`i18n

[2022-04-06 04:21] cfm opened #6386 "clarify SecureDrop project/instance in footer copy"
## Description

At the risk of reopening the can of worms that is #4700, we've received a suggestion to clarify "SecureDrop the project" versus "SecureDrop this instance" in our current footer copy:

## User Research Evidence

@byeskille [observes](https://weblate.securedrop.org/translate/securedrop/securedrop/en/?checksum=2c5a9e7441ec728#comments):

## User Stories

As a (prospective) source, I d

[2022-04-06 18:59] cfm commented on #6156
This procedure worked well enough to sync `pt_PT` in `weblate-sandbox` and then in `weblate`.  I've updated <https://github.com/freedomofpress/securedrop/issues/6156#issuecomment-1089671475> to reflect that the [**Replace existing translation file**](https://docs.weblate.org/en/weblate-4.11.2/user/files.html#import-methods) option is the way to get Weblate to accept the new strings merged in (via

[2022-04-06 19:23] cfm opened #6387 "centralize list of supported languages"
## Description

The current state of play:

1. Users can only use SecureDrop in a language configured by the instance's administrator.  (#2378, #2561)
2. Administrators can only configure languages present in their working copy's `securedrop/translations` directory.  (#2516)

But:

3. [x] To keep translations in sync even if they fall (or have not yet reached) 100% translation coverage, we need to

[2022-04-06 22:39] cfm commented on #6366
In yesterday's Server hangout, we affirmed interest in the following measures:

1. [x] The Source and Journalist Interfaces should render:
    1. [x] in the selected language, among the instance's configured languages, *if* it is available; then
    2. [x] in the instance's default language, *if* it is available; then
    3. [x] in English (i.e., fall back to source strings) *if* it is among the i

[2022-04-07 00:58] huertanix commented on #6173
A quick addendum to this: Having to clarify that "doc" in the filename doesn't mean it's a Microsoft Word document file but any kind of file (image, video, etc) is something I go out of my way to explain in SecureDrop training sessions to avoid confused trainees.

[2022-04-07 04:19] cfm commented on #6366
As of 635b8568a52975d60c8a70f35ed4520e118b6b89 my branch `6366-check-usable-languages` addresses and tests these cases:

(The "selected language" and "default language" cases come from the existing [`i18n.get_locale()`](https://github.com/freedomofpress/securedrop/blob/a20c843e903649f5ca10436214a9cb450a95a780/securedrop/i18n.py#L188-L196).)

Next week once I'm back online: the remaining cases and

[2022-04-07 04:46] cfm opened #6388 "include accesssibility and localization in test plans/matrices"
## Description

We should consider explicitly including accessibility and localization in QA test plans and matrices.  This is a tracking issue until these documents are created for the v2.4.0 release.

Assistive tech could be treated as a dimension of testing just like server hardware, with one tester assigned to step through the test plan in a screen-reader.

Localization testing could be done o

[2022-04-07 14:37] eaon opened #6389 "Large `gpg` keyrings slow down application performance due to automatic Web of Trust checks"
## Description

Automatic trustdb checks during `gpg` operations may cause those operations to run long on instances with large public keyrings, degrading application performance or in extreme cases causing page timeouts.

## Steps to Reproduce

* With a fresh install, run `loaddata.py` often enough to generate keys for 10-20k sources
* Repeatedly generate new sources manually and observe intermit

[2022-04-07 17:00] zenmonkeykstop opened #6392 "Release SecureDrop 2.3.1"
This is a tracking issue for the release of SecureDrop 2.3.1

Tentatively scheduled as follows:

**Pre-release announcement:** 2022-04-11
**Release date:** 2022-04-11

**Release manager:** KOG
**Deputy release manager:** KM
**Communications manager:**: tbd

_SecureDrop maintainers and testers:_ As you QA 2.3.1, please report back your testing results as comments on this ticket. File GitHub issues

[2022-04-07 19:27] legoktm opened #6523 "KeePassXC entry for "App Server SSH Onion URL" has wrong description"
## Expected behavior
* "App Server SSH Onion URL" has a description (or none) that matches what it's for.

## Actual behavior
* It has the same description as the app/mon user passphrases.

[2022-04-07 21:03] #6389 closed, assigned to nobody

[2022-04-10 18:57] zenmonkeykstop commented on #6392
## 2.3.1 QA Checklist - VMs
### Environment

- Install target:VMs
- Tails version: 4.28
- Test Scenario: clean install
- SSH over Tor: No
- Release candidate: RC1
- General notes:

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop && ./secur

[2022-04-10 19:49] zenmonkeykstop commented on #2067
It's worth looking at pagination or similar solutions to address potential timeouts on instances with a large (5k+) number of sources (though obviously the advice to journalists to delete old or unwanted conversations is still sound, the app server should not be seen as a long-term data store). Reopening for now.

[2022-04-11 15:25] zenmonkeykstop commented on #6392
## 2.3.1 QA Checklist

### Environment

- Install target: NUC11
- Tails version: 4.28
- Test Scenario: upgrade
- SSH over Tor: yes
- Release candidate: RC1
- General notes: 20k+ source db created on 2.3.0 via loaddata.py and updated to set most sources to pending, and backed up before performing the upgrade.

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in

[2022-04-11 16:23] legoktm opened #6393 ""Tor Browser" link in tor2web warning is broken"
## Description

The "Tor Browser" link in the tor2web warning is broken because it does not specify a protocol, so the browser treats it as a relative link.

## Steps to Reproduce

* Visit `/tor2web-warning` in the SI
* Hover over or click on the "Tor Browser" link, it should send you to a non-existent `/www.torproject.org/projects/torbrowser.html` on the SI's domain.

## Expected Behavior

* Link

[2022-04-11 16:26] zenmonkeykstop commented on #6393
Given that this link is gonna be on a tor2web-proxied page potentially with analytics, maybe we shouldn't even have it.

[2022-04-11 16:43] legoktm commented on #6393
I do think we need a way to direct them into the Tor network.

Maybe we include it as a plaintext link, like we do the onion address, so basic click tracking analytics hopefully wouldn't pick it up (but maybe fancy clipboard tracking would??).

[2022-04-11 17:14] legoktm commented on #6392
### Environment

- Install target: NUC11 (app), NUC10 (mon)
- Tails version: 4.29
- Test Scenario: fresh install
- SSH over Tor: yes
- Release candidate: RC1
- General notes: Having 15k+ sources makes dealing with the JI index page a real pain. Maybe we need pagination?

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing

[2022-04-11 21:22] eaon commented on #6392
### Preflight testing

#### Basic testing

- [x] Install or upgrade occurs without error
- [x] Source interface is available and version string indicates it is 2.3.1
- [x] A message can be successfully submitted

#### Tails

- [x] The updater GUI appears on boot
- [ ] The update successfully occurs to 2.3.1
- [ ] After reboot, updater GUI no longer appears

[2022-04-11 21:24] zenmonkeykstop commented on #6392
Preflight testing also good for me on upgrade!

[2022-04-11 22:23] legoktm commented on #6393
![Screenshot 2022-04-11 at 18-18-55 SecureDrop Protecting Journalists and Sources](https://user-images.githubusercontent.com/81392/162842717-1d9e174d-1513-4f9a-8f8c-d3c550f6f0d3.png)

Or alternatively:

![Screenshot 2022-04-11 at 18-23-26 SecureDrop Protecting Journalists and Sources](https://user-images.githubusercontent.com/81392/162843197-78727015-4350-44b8-b434-6f3ba570f3af.png)

[2022-04-12 07:44] elfranne commented on #6204
the `binary_bios_measurements`  has been fixed upstream (v1.7.6):
https://github.com/fwupd/fwupd/issues/4290

[2022-04-12 14:37] #6392 closed, assigned to nobody

[2022-04-12 16:52] legoktm commented on #6393
@tina-ux if you have any suggestions here. For background, this is the warning we show when we detect that users are using a "Tor2Web" proxy to access the Source Interface, which deanonymizes them and often these proxies have trackers like Google Analytics, etc. So we want to make sure if they haven't already, download Tor Browser, and then provide them with the correct Onion URL.

[2022-04-12 21:03] eaon opened #6397 "Make `gpg` calls use `--trust-model` instead of `--no-auto-check-trustdb`"
## Description

In #6390 we introduced the use of the `--no-auto-check-trustdb` option for `gpg` to keep it from wasting CPU cycles on checking whether keys are trusted or not. While this does the job, a side effect of this is that calling `gpg` will still check whether the trustdb is stale and inform the user by writing to stderr.

The way SecureDrop utilises `gpg` on the server though means all

[2022-04-13 14:19] zenmonkeykstop commented on #5551
Optimistically adding this to the 2.4.0 milestone, would like to land upcoming large changes first if possible though.

[2022-04-13 14:20] zenmonkeykstop commented on #5910
This needs revisiting, the codecov bash uploader has been sunsetted so we would need to switch to their binary one anyway.

[2022-04-13 16:04] legoktm commented on #5551
As part of this it would be nice if we could remove the useless `# -*- coding: utf-8 -*-` lines and enforce a newline at the end of every file.

[2022-04-13 16:26] legoktm opened #6399 "Use Sequoia-PGP instead of gpg/pretty_bad_protocol"
## Status

A branch, [`oxidize`](https://github.com/freedomofpress/securedrop/tree/oxidize), contains the current state of progress.

## Original description

We should consider using https://sequoia-pgp.org/ for SecureDrop's encryption instead of our current setup of the unmaintained pretty_bad_privacy library shelling out to gpg.

Recent issues with gpg like https://github.com/freedomofpress/sec

[2022-04-13 17:20] #6354 closed, assigned to legoktm

[2022-04-13 22:07] legoktm opened #6400 "Test securedrop-admin with Tails 5.0"
## Description

https://tails.boum.org/news/test_5.0-beta1/

Tails 5.0 is based on Debian Bullseye, which means it's using a newer Python version (3.9) among plenty of other things.

It's probably worth walking through a full SD install + backup/restore to make sure it works as expected.

[2022-04-13 23:08] legoktm commented on #6204
When I run `sudo fwupdmgr get-devices` on a NUC10 or NUC11, I get:
[code]

(it does list the internal Kingston SSD, so we can at least get updates for that)

After reading the linked wiki page, I spent a while digging through the BIOS settings and didn't see anything that obviously would enable UEFI capsule updates.

I think it would be better if we leave fwupd installed in case we do ever need to

[2022-04-13 23:12] eloquence commented on #6204
That would be a nice change to get into 2.4.0 IMO, those OSSEC alerts have been catching a number of diligent admins by surprise.

[2022-04-14 00:22] eloquence opened #6402 "Update wordlists per recently suggested removals"
A few removals have accumulated in our internal tracking spreadsheet; let's update the wordlists for 2.4.0 accordingly.

[2022-04-14 13:59] zenmonkeykstop commented on #6393
There are existing strings describing how to get Tor Browser (including the email option? is that still a thing?) in  `source_templates/use-tor-browser.html` - it might make sense to reuse them (either cutting and pasting or adding an include to both templates) so as to reduce translation overhead.

[2022-04-14 21:42] eloquence commented on #6328
Stepping back, it may be worth making an explicit choice whether #6355 is a blocker for this issue or not. From my understanding, folks may _already_ be running outdated kernels without us having any visibility into that, so perhaps it would be fine to satisfy this issue before having additional (opt-in or not) tooling for monitoring install state.

[2022-04-18 15:39] zenmonkeykstop commented on #6386
I'm not against this change, tho the wording is definitely can-o-worms territory. Points worth remembering:

- text intended for audience with a wide range of familiarity with technical concepts and language - simple is better
- project-specific terms we mostly use internally like `instance` should be avoided
- the organization name is an optional setting, so text would need to account for that
-

[2022-04-18 19:01] cfm opened #6404 "review link/button text and expand or add labels where necessary (WCAG 2.4.4, 3.3.2)"
## Description

[Accessibility Lab recommendation](https://docs.google.com/document/d/1jZlKco2YgOrrI4PmTkG_Q8lKuV5VxCds/edit?disco=AAAAIplLpuE):

## User Research Evidence

[WCAG 2.4.4](https://www.w3.org/WAI/WCAG21/Understanding/link-purpose-in-context.html) per #5972.

## Implementation

Suggested as part of accessibility review of #6315:
* When a user navigates using a screen-reader, do existin

[2022-04-18 19:12] cfm opened #6405 "annotate abbreviations and SecureDrop jargon (WCAG 3.1.3, 3.1.4)"
*This is a good first issue for new contributors to take on, if you have any questions, please ask on the task or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!*

## Description

[Accessibility Lab recommendations](https://docs.google.com/document/d/1jZlKco2YgOrrI4PmTkG_Q8lKuV5VxCds/edit?disco=AAAAIplLpuQ):

## User Research Evidence

[WCAG 3.1.3](https://www.w3.org/WAI/WCAG21/

[2022-04-18 19:20] cfm commented on #5972
All remaining WCAG recommendations are now filed separately, with particular reference to the upcoming #6315 and #6211.

[2022-04-19 00:48] cfm commented on #6366
Case (1)(3) is addressed as of 84ac53d5, for which a pull request is incoming.

Case (2) is already addressed by [`SiteConfig.ValidateLocales`](https://github.com/freedomofpress/securedrop/blob/81576f670d451ff33472cd31462854dfe1d9f1df/admin/securedrop_admin/__init__.py#L242-L255):

[code]

[code]

My expectation is that this will happen automatically via ~[OSSEC rule no. 1002 on `$BAD_WORDS`](http

[2022-04-19 16:00] zenmonkeykstop commented on #6400
In-progress comment for notes as I go through a (virtualized) from-scratch setup on 5.0:
- :warning: menubar layout has changed (**Activities** is first option, screenshots and docs will need revising)
- :warning: initial ./securedrop-admin setup failed because the torified  torproject mirror was not available - could be a flake
- :x:  was a flake but looks like the `ccontrol` package has been dro

[2022-04-19 19:46] zenmonkeykstop commented on #6400
Looks like ccontrol is a vestigial install left over from the days of Tails 3, removing it doesn't appear to have any effect on setup in Tails 4.29. Also, changing `python` to `python3` in in the tailsconfig task seems to work fine too. So with those changes basic functionality should be the same in 4 and 5, leaving aside some look-and-feel differences.

[2022-04-20 14:31] #6346 closed, assigned to legoktm

[2022-04-20 14:31] #6358 closed, assigned to legoktm

[2022-04-20 15:32] #6397 closed, assigned to nobody

[2022-04-22 20:20] legoktm opened #6410 "Host dh-virtualenv package on apt.freedom.press instead of pinning it from impish"
## Description

dh-virtualenv isn't available in focal. In the builder we pull it from impish with:
[code]

Instead of this kind of hack that needs to rely on pinning to only take this from impish, we can create a component on apt.freedom.press called "builddeps" (or backports, or ...), copy dh-virtualenv there, and add that source to the builder (with some bootstrapping of the securedrop-keyring

[2022-04-25 18:50] legoktm opened #6411 "typed-ast dependency is not pinned"
## Description

In deb-tests and staging-test-with-rebase, CI is failing with:

[code]

I think this might be fallout from my mypy changes? unclear why it didn't get pinned...

* https://app.circleci.com/pipelines/github/freedomofpress/securedrop/4015/workflows/ad0c7371-c384-4195-b01a-599477924281/jobs/61226
* https://app.circleci.com/pipelines/github/freedomofpress/securedrop/4021/workflows/38c92

[2022-04-25 19:22] legoktm commented on #6411
The actual dependency is:
[code]

So because the dev container is on 3.8, it is skipped and doesn't get pinned. Except in some cases, CI is still using 3.7??

[code]

So the dep is missing and it complains.

Options:
1. Use 3.8+ everywhere, or
2. Use 3.7 to run pip-compile somehow, so these deps still get pinned

[2022-04-25 22:52] #6400 closed, assigned to zenmonkeykstop

[2022-04-26 16:03] zenmonkeykstop commented on #6411
The expected python minor version for the application is 3.8, so I think moving to a 3.8 CI image makes the most sense here. Looking at `typed-ast`, it doesn't support versions higher than 3.7 anyway.

[2022-04-26 16:08] zenmonkeykstop commented on #6411
one wrinkle here is that the admin scripts will still use 3.7 for Tails 4, and then switch to 3.9 for Tails 5. There were no problems setting up the virtualenv on tails 5 that I saw, so we probably don't need to change anything right now, but if/when we drop support for Tails 4, we should probably regenerate the requirements files and bump the image used in the admin-tests as well.

[2022-04-27 15:19] #6204 closed, assigned to nobody

[2022-04-27 18:23] conorsch commented on #4533
Cross-linking relevant discussion: https://github.com/freedomofpress/securedrop/issues/4764

[2022-04-27 19:06] sssoleileraaa commented on #4683
I no longer have access to any of the old docs, so I was wondering what happened to the ux examples around showing the last activity timestamp (vs last source activity timestamp) and a per-message/reply timestamps?

[2022-04-27 20:45] sssoleileraaa commented on #6257
`securedrop-client 0.7.0` release is complete so the only task left in the `Proposed plan` section in the issue description is:

[2022-04-27 21:19] gonzalo-bulnes commented on #6257
We'll have to decide how long we want to keep backwards-compatibility re: deserializing invalid date strings in the SDK, and some day clean up that code. Thinking aloud: we may want to do that when/if we start supporting other time zones than UTC.

[2022-04-27 22:22] eloquence commented on #6111
(@l3th3 is looking into this and may open a draft PR this sprint, moving into "in development".)

[2022-04-28 01:28] gonzalo-bulnes commented on #6411
I am getting the same error when running `make venv` prior to `make test`. Is that expected? My system Python is Python 3.7, but 3.8 is not in the repos (Debian). Am I missing something?

_I usually `make dev` which runs the app in Docker, I suppose that why I never noticed?_

[2022-04-29 21:59] zenmonkeykstop opened #6414 "Add subresource integrity attributes to script and link tags in the source interface"
## Description

[SRI](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity) provides a way for browsers to confirm that resources like JS or CSS files loaded by a browser match the resource expected by the calling page, by comparing a hash value in the `<script>` or `<link>` tag with a hash computed from the downloaded resource.

SRI's main use case is to ensure that a compr

[2022-04-29 22:36] zenmonkeykstop opened #6415 "Remove JS minification from the web applications."
## Description

In order to improve performance of the web applications, support for minification for JS and CSS files was added in https://github.com/freedomofpress/securedrop/commit/e74b39075fa4d407bf929ab8bc5ab24abad79f70, using `flask-assets`, `cssmin`, and `jsmin`.

Since then the application has started using SASS for CSS minification (see #2808), meaning only JS is being minified. Only 2 fi

[2022-05-02 03:29] nahara7 commented on #6188
Is this still a desired change ? I was able to get this to return the proper error messages, instead of the python traceback, by doing the following(In the developer environment):
 * initializing an application and babel object in `models.py`
  * using the app context [here](https://github.com/freedomofpress/securedrop/blob/b917f9c1e259d9e1d5220808bc9d1b2261f28012/securedrop/models.py#L520) to rai

[2022-05-02 15:47] legoktm opened #6417 "Update Tor to 0.4.7.7"
https://forum.torproject.net/t/stable-release-0-4-7-7/3108

One notable change that presumably affects us is "Onion Service Vanguard":

- [x] CI adds new packages to apt-test: https://github.com/freedomofpress/securedrop-dev-packages-lfs/commit/c73ac1498eccfcd789351b65cf5a9b308a51703f
- [x] Install tor, tor-geoipdb packages from apt-test on a prod install and let them sit overnight
- [x] Verify th

[2022-05-02 16:35] legoktm commented on #6415
Once you factor in gzip, the benefit of minification becomes pretty negligible. For source.js on 2.3.1:
[code]

So +1 to getting rid of this extra complexity. The jsmin package is also unmaintained (c.f. https://github.com/tikitu/jsmin/issues/33#issuecomment-914040205) and problematic because the version we're on uses a now-removed setuptools option, which I had to workaround in https://github.com

[2022-05-02 18:27] eaon commented on #6311
Fixed in #6315

[2022-05-02 18:27] #6311 closed, assigned to nobody

[2022-05-02 18:27] eaon commented on #6213
Fixed in #6315

[2022-05-02 18:27] #6213 closed, assigned to nobody

[2022-05-02 19:34] #6402 closed, assigned to nobody

[2022-05-02 22:49] eloquence opened #6419 "[develop] Viewport is scrollable without scrollable content"
## Steps to Reproduce
1. Load https://demo-source.securedrop.org/ (built from latest `develop`) at a resolution where the entire page fits in the viewport

## Expected Behavior
No vertical scrollbar is displayed and there is no scrollable content
## Actual Behavior

Vertical scrollbar displayed and I can scroll down about a third of the page. This is repeatable to different degrees on other parts

[2022-05-02 22:54] cfm opened #6420 "runtime `i18n` configuration manipulates global state"
I guess we already do this for LOCALES, but I think continuing the pattern should be accompanied by a TODO that manipulating/relying on global state is not desirable.

_Originally posted by @legoktm in https://github.com/freedomofpress/securedrop/pull/6406#discussion_r863080227_

[2022-05-02 23:47] zenmonkeykstop commented on #5910
Opting to switch to the binary uploader for now - rather than using the CircleCI orb, which exposes all CircleCI  env vars to the uploader, a limited set of vars have been carried over into the test container.

[2022-05-03 03:45] #6366 closed, assigned to cfm

[2022-05-03 14:54] #6419 closed, assigned to eaon

[2022-05-03 16:16] eaon commented on #6197
Because the design changes were just merged, we now have an (optional) "declarative" for flash messages as proposed in this issue. It looks better and feels friendlier but changing the language is a crucial part to making good use of it.

We have 3 categories of flash messages:

* :information_source: : Notification (light yellow background, blue/white information icon, black declarative)
* :x: Er

[2022-05-03 18:36] legoktm commented on #6400
I've been unable to get past this, it keeps failing on name resolution for files.pythonhosted.org.

[2022-05-03 19:45] legoktm commented on #6400
Scratch that, I think I just got a bad circuit or something. After a restart it installed pretty quickly. Theoretically we could use https://pip.pypa.io/en/stable/cli/pip/?highlight=timeout#cmdoption-timeout to bump the pip timeout, but I don't know if that would actually help with DNS lookups.

[2022-05-03 19:52] zenmonkeykstop commented on #6400
Worked first time for me this time on a fresh tails5 stick, gonna see how the upgrade process in your PR goes next.

[2022-05-04 13:58] zenmonkeykstop opened #6426 "Release SecureDrop 2.3.2"
This is a tracking issue for the release of SecureDrop 2.3.2

Tentatively scheduled as follows:

**Pre-release announcement:** 2022-05-03
**Release date:** 2022-05-05

**Release manager:** KOG
**Deputy release manager:** TBD
**Communications manager:**: TBD
(As this is a hotfix release with no translated string changes, no LM is assigned.)

_SecureDrop maintainers and testers:_ As you QA 2.3.2, pl

[2022-05-04 16:33] legoktm opened #6427 "Update flake8/pyflakes so it understands new mypy comments"
*This is a good first issue for new contributors to take on, if you have any questions, please ask on the task or in our [Gitter room](https://gitter.im/freedomofpress/securedrop)!*

The old version of flake8/pyflakes doesn't understand advanced mypy type comments like `# type: ignore[override]`. This was fixed in https://github.com/PyCQA/pyflakes/pull/455 (pyflakes 2.2.0 I believe).

[code]

(the

[2022-05-04 16:37] #5910 closed, assigned to nobody

[2022-05-04 18:23] #5599 closed, assigned to nobody

[2022-05-04 18:23] legoktm commented on #5599
(assuming it was just an oversight this issue wasn't closed earlier)

[2022-05-04 18:28] legoktm opened #6428 "Move away from flask.g.user"
## Description

Previously we had identified that sticking stuff onto `flask.g` should be discouraged because it hurts type checking, pylint doesn't like it, etc.

With `g.user` specifically, it's somewhat problematic because it's now a secondary source of whether a user is logged in or not, and who that user is - which is really the responsibility of the session. In the process of developing http

[2022-05-04 18:39] eaon opened #6429 "Tor2web warning page still using outdated pre-SI-redesign resources"
## Description

In the SI redesign, we overlooked the Tor2web page which tries to render an old location for the icon and does not show an icon for the flash warning message.

## Steps to Reproduce

Visit https://demo-source.securedrop.org/tor2web-warning

## Expected Behavior

![image](https://user-images.githubusercontent.com/201369/166803350-c246a3f4-b648-4787-9e41-d4ba4b39385f.png)

## Actual

[2022-05-04 19:23] eaon commented on #6393
In #6430 I went with the first option @legoktm suggested.

Regarding options other than the download link for Tor Browser, I'm rather skeptical of including those here, but am open to further discussion in a context where we talk about how we communicate with (to?) sources. (This is me making the assumption that more text/instruction isn't always helpful)

[2022-05-04 22:35] #6393 closed, assigned to nobody

[2022-05-04 22:35] #6429 closed, assigned to nobody

[2022-05-04 23:17] #6411 closed, assigned to legoktm

[2022-05-05 00:20] cfm commented on #6426
- **Install target:**  NUC11s
- **Tails version:**  4.29 → 5.0
- **Test Scenario:**  Tails upgrade
- **SSH over Tor:**  yes
- **Release candidate:**  `2.3.2-rc1`
- **General notes:**  Some testinfra failures.  Once the Tails environment is upgraded to Tails 5.0, the test plan itself is fragile around the Updater, but everything checks out as long as you _don't_ (allow the Updater to) downgrade to

[2022-05-05 13:58] zenmonkeykstop commented on #6426
## 2.3.2 QA Checklist

### Environment

- Install target: VMs
- Tails version: 4.29
- Test Scenario: fresh install
- SSH over Tor: no
- Release candidate: rc1
- General notes:

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop && ./securedro

[2022-05-05 15:55] eaon commented on #6426
### Environment

- Install target: VMs (Qubes)
- Tails version: 5
- Test Scenario: clean install
- SSH over Tor: Yes
- Release candidate: RC1

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop && ./securedrop-admin setup -t`
  - Run tests wi

[2022-05-05 18:42] legoktm commented on #6417
IMO this is ready to go, just want to space it out a bit from the 2.3.2 release since this is a "major" Tor release.

[2022-05-05 21:19] zenmonkeykstop commented on #6426
Tested preflight upgrade scenario against 2.3.2 prod packages:

- [x] upgrade occurs without error
- [x] Source interface is available and version string indicates it is 2.3.2
- [x] A message can be successfully submitted
- [x] The updater GUI appears on boot
- [x] The update successfully occurs to 2.3.2
- [x] After reboot, updater GUI no longer appears

[2022-05-05 23:38] cfm commented on #6426
## Preflight testing

- **Install target:**  VMs
- **Tails version:**  5.0
- **Test Scenario:**  clean install
- **SSH over Tor:**  yes

### Basic testing

- [x] Install or upgrade occurs without error (from `apt-qa.freedom.press` per [preflight procedure](https://github.com/freedomofpress/securedrop/wiki/QA-Procedures#pre-release-prep))
- [x] Source interface is available and version string indic

[2022-05-06 14:52] #6426 closed, assigned to nobody

[2022-05-09 16:57] zenmonkeykstop opened #6440 "Release SecureDrop 2.4.0"
This is a tracking issue for the release of SecureDrop 2.4.0

Scheduled as follows:

**Feature / string freeze:** 2022-05-05
**Pre-release announcement:** 2022-05-12
**Release date:** ~~2022-05-19~~ 2022-05-24
**Release manager:** @zenmonkeykstop
**Deputy release manager:** @eaon
**Communications manager:** @legoktm
**Deputy CM:** @eloquence
 **Localization manager:** @cfm
**Deputy LM:** @zenmonke

[2022-05-09 21:00] #6417 closed, assigned to legoktm

[2022-05-10 01:59] cfm commented on #6388
Deferring to v2.5.0—happily, because v2.4.0's test plan in #6440 includes explicit accessibility testing!

[2022-05-10 16:35] zenmonkeykstop commented on #6440
## 2.4.0 QA Checklist **in progress**

### Environment

- Install target: VMs
- Tails version: 5.0
- Test Scenario: upgrade
- SSH over Tor: no
- Release candidate: RC1
- General notes:

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop && ./

[2022-05-10 19:29] legoktm commented on #6199
The workstation and server versions of this package are identical except for minor metadata things:
[code]

It's a super duper trivial package, it just installs one file, so we can just build one deb and copy it across all 3 buster/bullseye/focal components.

[2022-05-11 14:12] zenmonkeykstop opened #6443 "Source Interface index page displays incorrectly on resize to vertical layout"
## Description

The existing SI design resizes to flow the logo and buttons into a single centered vertical column without visible spacers. In the redesign, the buttons are offset to the right, and the spacer on the right of the Get Started button remains visible.

Develop:
![resize-develop](https://user-images.githubusercontent.com/2782952/167870370-481c16fd-81da-45ec-88ba-5370d6eeb23a.png)

vs

[2022-05-12 16:52] eaon opened #6445 "AppArmor denials in syslog after upgrade to 2.4.0-rc1"
## Description

During the 2.4.0-rc1 QA upgrade scenario on NUCs, I ran testinfra tests after the upgrade from 2.3.2, and the AppArmor denial in syslog test failed

## Steps to Reproduce

* Upgrade from 2.3.2 to 2.4.0-rc1
* Lightly use SD as a source (log in with existing source account, create new ones, submit messages)
* Check syslog/run testinfra tests

## Expected Behavior

No lines mentioning

[2022-05-12 17:50] zenmonkeykstop commented on #6445
Also seeing one for `/static/i/modal-x-white.png`, which is used in the deletion modal dialogs. Looks like it was removed from the apparmor profile in #6315.

[2022-05-12 18:43] cfm commented on #6445
On a VM clean installation, I'm so far reproducing the denial for `/static/i/modal-x-white.png` but not the original GPG-related ones.

[2022-05-12 19:10] zenmonkeykstop commented on #6445
Oh sorry, to be clear, I'm seeing the modal-x-white.png one, but have not reproed the other.

Steps taken to try to repro so far:

- new source (creates GPG reply key)
- short message (encrypts without intermediary AES tempfile)
- 1MB upload (encrypts with intermediary AES tempfile)
- replied (encrypts with reply key)
- deleted source (deletes reply key)

IIRC that's all the gpg operations we can

[2022-05-12 19:54] eaon commented on #6445
Seeing the `modal-x-white.png` as well, it's still used in the JI, I was over-eager with the cleanup

[2022-05-12 21:21] eaon commented on #6440
### Environment

- Install target: NUC 10/11
- Tails version: 5
- Test Scenario: Upgrade
- SSH over Tor: yes
- Release candidate: rc1
- General notes: I did not test parts that are stricken through

### Basic Server Testing
- :x: After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing: **Note:** reported in #6445
  - Install dependencies on Admin Workstati

[2022-05-12 23:11] cfm commented on #6440
- Install target:  VMs
- Tails version:  5.0
- Test Scenario:  clean installation
- SSH over Tor:  yes
- Release candidate:  RC1
- General notes:  Test plan checks out except for a few visual quirks, captured below.

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `c

[2022-05-13 16:37] zenmonkeykstop opened #6447 "Replace use of `apt-key` with gpg commands and appropriate edits to <repo>.list"
## Description

`apt-key` has been deprecated (will be removed after Bullseye and Ubuntu 22.04) in favour of:
- using gpg directly to manage/inspect keys
- storing said keys in a protected dir (only writable by root), like `/usr/share/keyrings` in Debian
- adding `signed-by` directives in repo list entries

From a security perspective this is a good thing as  keys installed via `apt-key add` work

[2022-05-13 19:22] zenmonkeykstop opened #6449 "Update the release pubkey to version with expiry date of 2023-07-04"
The securedrop release key expiry needs to be bumped before 2022-07-04. The pubkey is used in the following areas:

- verifying apt repo Release signatures (via the usual Ubuntu and Debian apt tools in servers and the Qubes Debian sd-* VMs)
- verifying git tags for Tails code updates (via gpg and git in the CLI and GUI updaters)
- verifying RPM package signatures (via dnf on Qubes dom0 and sys-fir

[2022-05-13 22:38] legoktm commented on #6440
### Environment

- Install target: NUC11 (app)/NUC10 (mon)
- Tails version: 5.0
- Test Scenario: clean install
- SSH over Tor: yes
- Release candidate: 2.4.0-rc1
- General notes: Only failure was the apparmor denial for modal-x-white.png, which was already flagged.

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  -

[2022-05-16 16:23] #6443 closed, assigned to eaon, zenmonkeykstop

[2022-05-16 17:44] eaon commented on #6445
I tried to replicate the `gpg2` denials again today but have not been able to. However I just noticed there's more that happened on Friday when I didn't check:

[code]

This one also happened around the 25 minute mark - is this possibly an async use of gpg?

[2022-05-16 18:05] eaon commented on #6440
[This is intentional](https://www.figma.com/file/vs52zFnp5zpEHfCnTI0R3U/Design-System-Library?node-id=556%3A2397), part of the redesign where the "default" non-destructive action is on the right and draws attention via the use of color (submit sending messages, login etc, and for deletion dialogs cancel like in your screenshot). This also reflects the SD client (at least color-wise IIRC) where the

[2022-05-16 18:27] legoktm commented on #6445
I think that path is the gpg-agent socket...

[2022-05-16 19:54] sssoleileraaa commented on #6449
@zenmonkeykstop, I did the following checks:
- [x] verify expiration date of new key is 2023-07-04 (I can see an advantage to having this on a US holiday since we'll be more likely to plan ahead even more so to make sure there's coverage etc)
- [x] verify existing signature (I did this on a prod-signed tag)
- [x] `echo hello > test.txt && gpg --armor --detach-sign test.txt && gpg --verify test.txt

[2022-05-17 00:45] cfm commented on #6440
Amended my QA report in <https://github.com/freedomofpress/securedrop/issues/6440#issuecomment-1125498937> to indicate that the "Use the entire workflow of the SI via screen-reader" steps check out for me.

@eaon, re: the "Your Tor Browser's Security Level is too low" warning:  It looks like 2.3.2 has this text inside a `div p` rather than just a `div`.  If I add the `p` back in, Orca reads the te

[2022-05-17 14:18] eaon commented on #6440
Thanks @cfm, that's very helpful. [I updated mine as well](https://github.com/freedomofpress/securedrop/issues/6440#issuecomment-1125433825) and :x:ed the *Using the SI with a screen-reader allows interaction with SecureDrop as expected* item because of Orca's lack of repeated reading with the `alt` attribute text there. I'll file an issue.

I also :x:ed the *`alt` attributes are read* item becaus

[2022-05-17 14:37] eaon opened #6452 "Orca skips reading full warnings in Source Interface"
## Description

When using SecureDrop's Source Interface with Orca, it will read the warnings (that are typically displayed at the top of the index page) ahead of the rest of the page, landmarks etc. In this first-reading, it skips reading `alt` attributes.

In 2.3.2, Orca will proceed to read the rest of the page, *re-reading* the warning, this time *with* the `alt` attribute, which in case of th

[2022-05-17 16:57] #6452 closed, assigned to nobody

[2022-05-18 18:43] zenmonkeykstop commented on #6445
While testing a 2.4.0-rc2 upgrade on NUC10/11s, have *not* been able to repro this by:
- following the install steps for 2.3.2
- creating source and journalist accounts and submitting and replying to entries
- backing up and restoring the instance data

next up, same tests after updating to 2.4.0-rc2.

- upgraded to 2.4.0-rc2 successfully
- created source, submitted message, replied via JI, delete

[2022-05-18 23:47] zenmonkeykstop commented on #6440
## 2.4.0 QA Checklist **in progress**

### Environment

- Install target: Nuc11/Nuc10
- Tails version: 5.0
- Test Scenario: upgrade
- SSH over Tor: yes
- Release candidate: 2.4.0-rc2
- General notes:

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/s

[2022-05-19 00:41] eloquence opened #6459 "Explore workaround for Tails 5 decryption behavior"
Tails 5 [caused double-click decryption to break](https://gitlab.tails.boum.org/tails/tails/-/issues/18967), which has caused some pain and frustration for users who have upgraded their SVS. The issue is expected to at least partially resolved with [this upstream PR](https://gitlab.tails.boum.org/tails/tails/-/merge_requests/820), which may ship as early as Tails 5.1.

This issue is to explore nea

[2022-05-19 00:43] eloquence commented on #6459
For users comfortable on the command-line, a one-liner like this (invoked in the root into which the subdirectories were encrypted) seems to do the trick:

`find . -iname '*\.gpg' -execdir gpg --decrypt-files {} \;`

[2022-05-19 01:21] eloquence commented on #6459
As a GUI workaround, we can apply the upstream fix and persist it locally:

1. Boot into Tails, unlock the persistent volume, and set an admin password
2. Ensure that dotfiles persistence is enabled (Applications -> Favorites -> Configure persistent volume -> dotfiles)
3. Ensure that `/home/amnesia/.local/share/applications/mimeapps.list` contains the content below
4. Verify that the decryption be

[2022-05-19 01:41] zenmonkeykstop commented on #6459
Instructions work for me in Tails 5. :+1:

[2022-05-19 18:47] cfm commented on #6440
- Install target:  VMs
- Tails version:  5.0
- Test Scenario:  clean installation
- SSH over Tor:  yes
- Release candidate:  RC2
- General notes:  All good!

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing:
  - Install dependencies on Admin Workstation with `cd ~/Persistent/securedrop && ./securedrop-admin setup -t`

[2022-05-19 19:55] legoktm commented on #6447
I'm not exactly sure what the version support is, but we should take this opportunity to move toward deb822 sources: https://lists.debian.org/debian-devel/2021/11/msg00026.html

I believe we can embed the key directly in that file, which should help with apt-test vs prod apt.

[2022-05-19 22:11] eaon commented on #6440
### Environment

- Install target: NUC 10/11
- Tails version: 5
- Test Scenario: Upgrade
- SSH over Tor: yes
- Release candidate: rc2
- General notes: Only did a subset of tests for rc2, focusing mostly on problems found in rc1, but did run through those twice

### Basic Server Testing
- [x] After installing the testinfra dependencies, all tests in `./securedrop-admin verify` are passing: **Note:*

[2022-05-23 21:46] eloquence commented on #6459
(Closing this issue; we can add this workaround to the docs if https://gitlab.tails.boum.org/tails/tails/-/merge_requests/820 doesn't make it into Tails 5.1.)

[2022-05-23 21:46] #6459 closed, assigned to nobody

[2022-05-23 23:27] cfm commented on #6380
#6368 and #6465 both offer evidence for the value of this linting.

[2022-05-23 23:35] cfm commented on #6380
Why are these omissions so difficult to catch during manual testing in the [string-freeze process](https://docs.securedrop.org/en/stable/development/i18n.html#two-weeks-before-the-release-string-freeze)?  At that point in the localization cycle, _strings not (or incorrectly) marked for translation_ are indistinguishable from _strings not yet translated_.

[2022-05-24 01:13] cfm commented on #6380
Time-boxed a cranky stab at this using 38c97bb4f6e1fe863b7c078784200a69c693e78f as my tricky target case.  As I expected, regex is Semgrep's only view into our `.html` Jinja templates, and it's a challenging multi-line match given the nesting of HTML → Jinja → Python → HTML.

Targeting c33cbe412a4f16cd05dd64d5e078d56d3f0e0d8e would be an easier first iteration, to catch the basic one-line `{{ gett

[2022-05-24 16:33] eloquence opened #6468 "Detect missing apt dependencies in GUI updater"
On Tails 5, we require python3-distutils to be installed, or the updater will fail on `pip` calls (without an error message explaining the cause). The updater should detect these missing dependencies at runtime, and attempt to satisfy them if needed.

[2022-05-24 17:40] cfm commented on #6440
## Preflight testing

- Install target:  VMs
- Tails version:  5.0
- Test Scenario:  clean installation

### Basic testing

- [x] Install ~or upgrade~ occurs without error
- [x] Source interface is available and version string indicates it is 2.4.0
- [x] A message can be successfully submitted

### Tails

Not applicable for clean installation on Tails 5.0.

[2022-05-24 17:45] zenmonkeykstop commented on #6440
## Preflight testing (upgrade)

### Basic testing
- [x] Install or upgrade occurs without error
- [x] Source interface is available and version string indicates it is 2.4.0
- [x] A message can be successfully submitted (and downloaded/decrypted

### Tails
- [x] The updater GUI appears on boot
- [x] The update successfully occurs to 2.4.0
- [x] After reboot, updater GUI no longer appears

Also chec

[2022-05-24 19:14] cfm commented on #6156
This did the trick to include `pt_PT` in v2.4.0.  Now that we've proven the hypothesis with a specific real-world case, I'm bumping this ticket to v2.5.0, where together with #6387 it will let us solve the general "language lifecycle" story.

[2022-05-26 14:21] #6440 closed, assigned to nobody

[2022-05-31 12:42] shahpay commented on #4424
Which docker image you are using, I had to replace pypi:bandit with only pytho:latest
 and then install it

[2022-06-01 20:19] legoktm opened #6474 "test_account_edit_hotp_secret screenshot fails"
## Description

For some unknown reason, the screenshot taken by `test_account_edit_hotp_secret` cannot detect the height properly, so it's a zero height screenshot (previously would throw an exception until #6470).

## Steps to Reproduce

`securedrop/bin/dev-shell bin/run-test -k test_account_edit_hotp_secret` - might need to run multiple times to see failure

## Expected Behavior

It properly ta